[2021-12-13 03:48] #1818 closed

[2021-12-13 03:49] codeswithroh commented on #4448
While logging in for the first time, the above error was recreated. But as @Isaiah-Hamilton mentioned after clearing the cookies and trying to login again, this worked. But this behaviour needs to be fixed.

[2021-12-13 03:52] kiwicopple commented on #4429
Hey @moracabanas - it looks like this is a dup of this one: https://github.com/supabase/supabase/issues/4363

If you pull the latest udpates, we have updated pg-meta to include a fix for this. I'll close this now but feel free to comment if that doesn't solve your problem

[2021-12-13 03:52] #4429 closed

[2021-12-13 04:43] kiwicopple commented on #4438
It looks like you are sending the users to this URL `https://izwqdpmcdixbonxjnzfx.supabase.co://login-callback`. As the error says, this route doesn't exist on your project.

We have a quickstart here, which shows how to link to use deeplinks in Flutter: https://supabase.com/docs/guides/with-flutter#setup-deep-links

perhaps you can update the redirect URL to `io.supabase.flutterquickstart://login

[2021-12-13 04:43] #4438 closed

[2021-12-13 04:50] kiwicopple commented on #4440
This is by design: https://github.com/supabase/supabase/tree/master/studio#whats-included

The Studio will not offer [creating/administrating projects](https://github.com/supabase/supabase/tree/master/studio#managing-project-settings). The rough rule of thumb is

- if it's inside the database, it should be in studio
- if it's outside the database, it will not be in studio

I'll keep this open for

[2021-12-13 05:00] kiwicopple commented on #4443
I believe this is an issue with Prisma migrate, not so much the pooler on our side.

There is a documented workaround here: https://community.redwoodjs.com/t/guide-migrations-connection-pool-urls-supabase/2505/

I'll close this, but feel free to comment if you need us to revisit this

[2021-12-13 05:00] #4443 closed

[2021-12-13 08:13] joshenlim opened #4459 "Support some form of pagination in table editor"
# Chore

We have users running into issues when their database has a large number of tables or schemas
The dashboard currently doesnt support any form of pagination for these entities atm.

Requires changes in the internal API as well but just saving the issue here for tracking

[2021-12-13 08:16] joshenlim commented on #4453
might need your help to take a look at this @phamhieu

[2021-12-13 08:19] #4330 closed

[2021-12-13 08:43] #4323 closed

[2021-12-13 11:02] harshcut commented on #4329
Hey, can I work on this issue?

[2021-12-13 14:32] noskovvkirill opened #4464 "FetchError: Unexpected token < in JSON at position 0"
# Bug report

## Describe the bug

Hi guys! I'm using Supabase in one of my projects and I face a really weird issue. First I thought it's related to the JS version of the superbase-js library (some people reported the same error). Updating the client fixed that, but then the issue reappeared again.
I see
`error {
  message: 'FetchError: invalid json response body at https://tcmqmkigakxeiuratohw.s

[2021-12-13 15:44] Demoevery commented on #4448
I tried another browser without any previous history still no progress.

[2021-12-13 16:39] Isaiah-Hamilton commented on #4448
Trying another browser won't work because supabase is still adding information to local storage or cookies that is causing this bug.

[2021-12-13 16:41] Isaiah-Hamilton commented on #4448
I'm working on a fix for this bug, but anyone can pick it up if they want.

[2021-12-13 17:17] WilliamFalci opened #4465 ""The resource was not found" on createSignedUrl"
# Bug report

## Describe the bug

Trying to generate signed url of a file uploaded the response 400 give the message "The resource was not found"

## To Reproduce

1. Create a bucket named "conversation_files" public: false
2. By the SQL Editor launch this query:
`create policy "Enable upload to only authenticated" on storage.objects for insert with check ( bucket_id = 'conversation_files' and au

[2021-12-13 19:46] tera-josegoverno opened #4468 "option to use questDB for tmeseries datasets"
# Feature request

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

##

[2021-12-13 20:04] Isaiah-Hamilton commented on #4468
Can you give more information

[2021-12-14 00:53] abacaj commented on #1818
Turns out it was just user error, setAuth is correctly updating the access token per user for me. I had a incorrect policy.

[2021-12-14 02:00] joshenlim commented on #4329
@harshcut sure thing! :) thanks man

[2021-12-14 03:34] inian commented on #4391
Another Freshdesk issue 3927

[2021-12-14 03:57] kiyadotdev opened #4475 "Internal Server Errors trying to create a new project and when trying to submit a ticket"
# Bug report

## Describe the bug

I'm having an issue creating a new project under my organization on my dashboard. I kept getting `Internal Server Error` issues. So I logged out and logged back in. Then when I went to create a new project under my organization, I got a message stating that I can only have three projects under my organization. The problem is I only have one :).

So I tried to ope

[2021-12-14 03:58] alaister commented on #3085
I'd also like to see this issue fixed.

I was thinking of ways to implement a server side token refresh but I think there's actually a simpler solution.

`getUserByCookie` currently always makes a request to Supabase to retrieve the user, so why not have `setAuthCookie` set a good old session id cookie that doesn't expire. This would solve the problem of keeping the server and client JWTs in sync.

[2021-12-14 04:34] Isaiah-Hamilton opened #4478 "Studio 404 page text highlight bug"
# Bug report

## Describe the bug

when on the studio 404 page and trying to highlight the text, only the background 404 text gets highlighted.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to 'studio 404 page'
2. Try to highlight the top text
4. See error

## Expected behavior

be able to highlight the top text without the background 404 t

[2021-12-14 04:41] mclean25 opened #4479 "Lock Supabase Studio Table Editor"
# Feature request
Add a setting to prevent any edits to the schema via the table editor in Supabase Studio

## Is your feature request related to a problem? Please describe.
If you're developing Supabase locally and are creating migrations to change the "production" environment (via `supabase db push`), things can get really messed up if someone happens to edit the schema via the table editor. Thi

[2021-12-14 07:55] inian commented on #4442
Duplicate of https://github.com/supabase/supabase/issues/4317

[2021-12-14 07:55] #4442 closed

[2021-12-14 08:01] kiwicopple commented on #4455
Thanks for the feature request @edgarasben - I'll close this one in favor of this issue:
https://github.com/supabase/gotrue/issues/264

[2021-12-14 08:01] #4455 closed

[2021-12-14 08:18] kiwicopple commented on #4464
very odd - it seems that it's trying to decode the response but the response is not being returned as JSON. Are you able to give us some steps to reproduce this @noskovvkirill ?

[2021-12-14 08:20] kiwicopple commented on #4468
Get @tera-josegoverno - you can vote for new databases in this discussion:
https://github.com/supabase/supabase/discussions/6

Take note of my comment here though:
https://github.com/supabase/supabase/discussions/6#discussioncomment-80177

[2021-12-14 08:20] #4468 closed

[2021-12-14 08:24] edgarasben commented on #4455
Oh didn't find it. Thanks!

[2021-12-14 08:39] ozum opened #4480 ""main" and "postgres" databases in local dev server."
# Bug report

## Describe the bug

Postgres in the development server seem to have two databases: "main" and "postgres". When I tried to connect "main" database, I got "No such database: main" error.

## To Reproduce

1. Start docker development server using `supabase start`
2. Open "pgAdmin" and try to connect main@localhost:54322

## Expected behavior

Either no "main" database in the database l

[2021-12-14 08:52] soedirgo commented on #4480
Hey @ozum, the connection string provided by the CLI goes to pgbouncer which routes it to a specific database (`main` by default). So you can really only connect to one database at a time.

[2021-12-14 09:28] ozum commented on #4480
Ah, I see. @soedirgo, thanks for the quick response. It will be good to describe it in dev server docs. I didn't think that there is a pool in dev server.

[2021-12-14 09:40] #4480 closed

[2021-12-14 12:07] WilliamFalci commented on #4465
My error, was missing the Select Row Policy

[2021-12-14 12:07] #4465 closed

[2021-12-14 13:05] noskovvkirill commented on #4464
@kiwicopple  Not really, not sure what is happening exactly. I will try to monitor it and see if I can reproduce it. It happened two times within the last couple of days. I thought it's related to https://github.com/supabase/supabase-js/pull/305, but the client update didn't fix that.

[2021-12-14 18:02] steve-chavez commented on #4391
Maybe related to https://github.com/supabase/infrastructure/issues/2278? (Perf issues seems to have started after https://github.com/supabase/infrastructure/pull/1920 was merged)

[2021-12-14 20:29] w3b6x9 commented on #4451
@GaryAustin1 thanks for this detailed issue! I'm going to work on a fix and link it here so you can give me your feedback.

[2021-12-15 02:41] w3b6x9 commented on #4451
@GaryAustin1 please give this fix (see [PR](https://github.com/supabase/supabase-js/pull/328)) a try and let me know what you think. It addresses the issues you mentioned above and now, in your example, you can call `supabase.removeAllSubscriptions()` which will remove ALL subscriptions and disconnect the socket.

[2021-12-15 02:43] phamhieu commented on #4328
It's better to open new PR for each fix. Thank you @w0wka91, great work!!!

You can fix the grid editor theme [here](https://github.com/supabase/grid/blob/3a0a708db43278e15e84ce20b148d18766bec02a/src/SupabaseGrid.tsx#L40-L53)

[2021-12-15 07:52] w0wka91 opened #4490 "Light Mode Options Toggle"
# Bug report

The contrast is not great when hovering over a non active option
<img width="932" alt="146046075-97c95fd3-0074-4057-a8ad-107ce09f6409" src="https://user-images.githubusercontent.com/7260797/146145415-0ef74008-084b-46d9-ac42-1d0291d5d12c.png">

[2021-12-15 08:20] oliviercperrier opened #4493 "Parent folder is deleted when deleting empty sub folder"
# Bug report

## Describe the bug

The .emptyFolderPlaceholder that is created when creating a new "folder" gets deleted when an other item is added.

But there is a problem is a create multiple empty subfolders.

Lets say i want to upload a file to my `Avatar` bucket in the following location: `/users/images/userAvatar.jpg`

I will create a folder `user` which will contain the `.emptyFolderPlaceh

[2021-12-15 08:42] w0wka91 commented on #4327
I start working on this if its okay

[2021-12-15 12:48] noskovvkirill commented on #4464
It happens again 😅 This time database reload doesn't help. I've tried to fetch different tables, but the issue seems to appear independent of the content! API page is not displayed on Supabase own front-end.
<img width="1417" alt="Снимок экрана 2021-12-15 в 13 46 59" src="https://user-images.githubusercontent.com/50060130/146189309-59b78704-a24e-4a05-9953-c7a522d2bfa0.png">

[2021-12-15 13:07] dominik-bsr commented on #4395
This happened to me as well. Getting old files although I have uploaded updates versions through the Supabase Dashboard.
I even get this behaviour when I update the file with supabase-js.

[2021-12-15 19:29] MildTomato commented on #3945
This is probably worth splitting up into smaller tasks.

Maybe we concentrate on just trying to validate the template before submitting first.

I've got a design task for auth config to try and re-iterate these pages/forms to improve them based on all the feedback we have, so might be worth completing the design task first before doing any of the rest above.

[2021-12-15 20:40] MildTomato opened #4498 "[Studio] [Bug] Database link broken"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

database link on project home page doesn't work.
<img width="280" alt="Screenshot 2021-12-15 at 12 40 51 PM" src="https://user-images.githubusercontent.com/8291514/146261785-b88a4f36-684c-4a16-a9bb-d303c9e5c747.png">

[2021-12-15 20:46] GaryAustin1 commented on #4451
@w3b6x9  I've tried a couple of ways to get the branch to work in my npm environment, and due to my lack of experience with github repository structure have been unable to build a dist directory to test this out.  With the .js for the files I don't have an easy way to just change the two files.  So I'm not able to help test this out.

[2021-12-15 20:49] w3b6x9 commented on #4451
@GaryAustin1 no worries! i'll have someone else take a look and get it released so you can try it out. thanks anyways!

[2021-12-16 02:53] #4498 closed

[2021-12-16 03:14] #4328 closed

[2021-12-16 03:57] Isaiah-Hamilton opened #4505 "Beta page theme"
# Bug report

## Describe the bug

Not sure if this was intentional or not but the beta page when switched to the light theme, the hero and the section below doesn't change to light theme.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [supabase.com/beta](https://supabase.com/beta)
2. Click on `Theme Toggle in footer`
3. Scroll up to `her

[2021-12-16 06:34] kiwicopple commented on #4464
@noskovvkirill - can you please submit a support ticket here: https://app.supabase.io/support/new

Thanks!

[2021-12-16 06:45] kiwicopple commented on #4505
I think it was intentional at the time - but I happy to see an implementation where it's all light if you think it can be improved :)

[2021-12-16 06:47] firatoezcan commented on #2556
For anyone wanting to support this, you'd need to propose to https://github.com/netlify/gotrue as that is where the logic behind users and providers live. I don't know if Supabase runs a fork of it, but this is where the request should be going to

[2021-12-16 08:37] ichbinedgar commented on #3784
I also see this behavior, even if I copy the image url from supabase ui and then past it on a new tab.

[2021-12-16 08:41] ichbinedgar commented on #3784
However, I solved it by adding random url parameters like `?xyz=h`

[2021-12-16 08:46] Ziinc opened #4507 "bug/studio: the project Home page uses the /usage endpoint instead of the /logs-stats to display ProjectUsage charts"
# Bug report

## Describe the bug

The conditional display logic still uses the batched data instead of the realtime data endpoints.

This affects new projects, which are shown the NewProjectPanel instead of the ProjectUsage panel.

What should be shown:
<img width="1281" alt="image" src="https://user-images.githubusercontent.com/22714384/146337982-339b120c-603b-4381-93a4-ae6fdb3ae321.png">

What

[2021-12-16 08:51] Ziinc opened #4508 "bug/studio: ProjectUsage charts should not display the 24 hour loading text"
# Bug report
![image](https://user-images.githubusercontent.com/22714384/146338431-ebb42c93-1851-41c5-a370-47ee102e7207.png)

The ProjectUsage charts should not show this info text, which is a remnant from the past usage of batched data as the stats data source.

however, as the Reports section uses the old data source and is not realtime, we should not remove the text globally. Would have to add

[2021-12-16 10:59] kangmingtay commented on #4268
Hey @batuhanbilginn, thanks for pointing this out! We'll make the fix on gotrue-js soon!

[2021-12-16 11:30] ozum opened #4510 "Cannot create a new user on dev server"
# Bug report

## Describe the bug

I cannot create a user either with JS or via Studio.

## To Reproduce

### JS (1)

Example from https://supabase.com/docs/reference/javascript/auth-api-createuser seems wrong.

[code]
![image](https://user-images.githubusercontent.com/1497060/146362822-3d018d3e-9edf-4712-b22f-20e525c788b8.png)

### JS (2)

Instead I use following:
[code]

### Studio

I try to use

[2021-12-16 13:14] maximkott commented on #2853
Happens for me too when using GitHub as OAuth provider 😔

[2021-12-16 13:23] maximkott commented on #2853
For me the issue with GitHub was because of a missing permission inside the GitHub Application. Just set the "email access" field to "read only" and it works as supposed.

[2021-12-16 16:06] inian commented on #4395
Realising we have an earlier issue here https://github.com/supabase/supabase/issues/3784
Closing as duplicate

[2021-12-16 16:06] #4395 closed

[2021-12-16 16:49] inian commented on #4391
This is not a speed issue. This is due to the frontend querying data which exceeds the max allowed response size by Fly. We are currently fetching 100 rows at a time, we probably need to reduce that to a lower number (if the backend returns an error code saying response too big or something - this is another thing our API doesn't do too well, we should send a proper error code here)

[2021-12-16 20:40] Isaiah-Hamilton opened #4513 "Chore: update Github org description to supabase.com"
# Chore

## Describe the chore

update Github org description  from [supabase.io](https://supabase.com) to [supabase.com](https://supabase.com). There are also other places around the Github org that need to be changed to [supabase.com](https://supabase.com). Didn't know where to put this chore, so it's here.

<img width="1392" alt="Screen Shot 2021-12-16 at 3 38 31 PM" src="https://user-images.gi

[2021-12-16 23:21] 10000multiplier commented on #1257
Would be nice too if converting base64 wasn't necessary at all 😄

[2021-12-17 02:32] Isaiah-Hamilton opened #4517 "Smooth scrolling"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, when clicking the supabase logo in the footer the scrolling is very jagged. The feature is adding smooth scrolling to the land page.

## Describe the solution you'd like

Add smooth scrolling.

## Describe alternatives you've considered

Let me know if you have any ideas.

## Additional context

Good f

[2021-12-17 02:45] pluwen opened #4518 "The ToolTip of the sidebar icon is missing"
# Bug report

## Describe the bug

No tooltip are displayed when the mouse passes over the icons in the left sidebar.

## Expected behavior

Show the ToolTip.

## Screenshots

![image](https://user-images.githubusercontent.com/555720/146480152-4499b419-9019-4e6b-b4a5-3dbbfe00de8e.png)

## System information

- OS: macOS
- Browser: Edge

[2021-12-17 04:58] kiwicopple commented on #4510
This is very likely because you don't have an SMTP server configured. Are you using the CLI or Docker setup @ozum ?

[2021-12-17 05:08] kiwicopple commented on #4513
good one !

perfect 👌

[2021-12-17 05:08] #4513 closed

[2021-12-17 05:10] kiwicopple commented on #4518
👍 - we'll add this with a Radix tooltip : https://www.radix-ui.com/docs/primitives/components/tooltip

[2021-12-17 06:14] ozum commented on #4510
I'm using the CLI which uses Docker according to this guide: https://supabase.com/docs/guides/local-development

[code]

Using service key to test:

[code]

[2021-12-17 06:41] kiwicopple commented on #4510
thanks @ozum - I'll transfer to the CLI repo

[2021-12-17 07:53] yusiflinurlan commented on #4517
Hi ! I can use Js's window.scrollTo with a smooth behavior! I think it's an effective solution for now.

[2021-12-17 09:52] c00ler82 commented on #4448
I was logged in an hour ago and everything was fine. Suddenly now I can't sign in. Also tried incognito mode but still can't sign in.

[2021-12-17 10:08] ckypper opened #4529 "Database error saving new user when change auth.user role column to enum"
I change role column in auth.user to enum
Then sign up function throw this error "Database error saving new user"
![image](https://user-images.githubusercontent.com/33152373/146527682-c73d1d72-a478-4732-a96b-7493209014c9.png)

[2021-12-17 10:34] kiwicopple opened #4531 "Dashboard crashes when drilling into related data"
# Bug report

## Describe the bug

Dashboard crashes when drilling into related data

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to a column that has relationship and click Edit Column
2. Click on Edit Foreign Key
3. Click the drop down, click out, then close the sidepanels
4. Drill into some data
5. App crashes

## Screenshots

https://u

[2021-12-17 11:43] soedirgo opened #4532 "Update `Reference > Auth (Server Only)` section"
# Improve documentation

## Link

https://supabase.com/docs/reference/javascript/auth-api-createuser

## Describe the problem

See https://github.com/supabase/cli/issues/110

## Describe the improvement

Update docs according to updated API here: https://supabase.github.io/gotrue-js/classes/GoTrueApi.html

[2021-12-17 16:52] dazzag24 opened #4534 "An unexpected error has occured when following examples/vue3-ts-todo-list instructions"
Hi,

I'm following the instructions [here](https://github.com/dazzag24/supabase/tree/master/examples/vue3-ts-todo-list) and when deploying the app in both Github or Gitlab I get this error in Vercel

`An unexpected error occured. Our team has already been notified and are working to resolve the issue, please try again shortly.`

![image](https://user-images.githubusercontent.com/1055831/146579443-

[2021-12-17 21:24] johnhforrest opened #4540 "`redirectTo` not being respected when using email or magic link auth"
# Bug report

## Describe the bug

I've been stuck on this for hours and thought to finally reach out. It looks like there are a bunch of old bug reports that indicate this should be working now but I haven't been able to get it to work.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
[code]

I have http://localhost:3000/dashboard configured as an A

[2021-12-18 00:29] HarryPeach commented on #1735
Also experiencing this error, and nothing except including @ruucm's session hack *before* the select request worked for me.

[2021-12-18 11:37] Kyoij opened #4544 "Max rows in API Settings doesn't working"
# Bug report
Max rows in API Settings doesn't working
## Describe the bug
I changed Max rows setting but it doesn't seem to work
## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to 'API Settings'
2. Change Max Rows to 10000
3. select table with limit 10000
4. See error

## Expected behavior
the request has to return 10000 rows
## Screenshots
![

[2021-12-18 12:37] wottpal commented on #1735
FYI @kiwicopple this issue is more than half a year old and still a hack is needed as a workaround. Would you please prioritize the integration of that into the supabase core? Maybe as a little Christmas surprise ❤️🎄😛

[2021-12-18 19:52] TannerGabriel opened #4550 "Studio API endpoint error"
# Bug report

## Describe the bug

When clicking on the API information button (URL: ` /project/default/api`) inside of Supabase studio the page does not display any API information and shows the following error message.

![supabase studio error message](https://user-images.githubusercontent.com/40315960/146653852-862fbee6-5269-4e8b-9a45-6cd54b33f76a.png)

The container logs also to not log anythi

[2021-12-18 20:04] yeganathan18 commented on #4518
Shall I take the issue? @kiwicopple

[2021-12-19 05:50] Isaiah-Hamilton opened #4556 "Blog images don't fit on smaller screens"
# Bug report

## Describe the bug

The blog images don't fit on smaller screens and need to be resized.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [blog page](https://supabase.com/blog)
3. Scroll down to an image that doesn't fit
4. See error

## Expected behavior

The images on the blog page fit on smaller screens.

## Screenshots

<

[2021-12-19 12:21] zlever01 commented on #4550
I'm having the same issue.

[2021-12-19 14:53] Isaiah-Hamilton commented on #4517
Additional information, the feature for smooth scrolling will be global instead of just for the landing page since this is happening globally.

[2021-12-20 02:45] #4478 closed

[2021-12-20 02:52] kiwicopple commented on #1735
There is an official method to support this: https://github.com/supabase/gotrue-js/pull/80/files#diff-3522461172efd6058d6b8da62fc2d30d8b524d2b64894ea2c67218c52f7fdff5R258

eg:

[code]

Does that work?

😄  I'll see what we can do but tbh the team are crazy busy with our migration from Auth0 and an ongoing pentest before xmas. We definitely need to do a spring clean of all the old issues - I'll make

[2021-12-20 02:54] burmecia commented on #4453
I think this issue is caused by `@supabase/grid` component. The item order of its state variable `state.gridColumns` is not in sync with `@supabase/react-data-grid`, especially after doing column freeze/unfreeze. The freeze/unfreeze will change columns order, but `state.gridColumns` didn't catch up with that change. So when you access an item in `state.gridColumns` by index, you won't get correct

[2021-12-20 05:25] Isaiah-Hamilton opened #4571 "Bug: Can't login into app.supabase.io"
# Bug report

## Describe the bug

Redirects to the SignIn page after signing in.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [app.supabase.io](https://app.supabase.io)
2. Click on `SignIn with Github`
4. See error

## Expected behavior

Able to SignIn

## Screenshots

https://user-images.githubusercontent.com/70828596/146715789-75588a

[2021-12-20 05:43] liuqian1996 commented on #4571
me too

[2021-12-20 05:44] hyunbinseo opened #4572 "Cannot access auto-generated APIs (login requires alternative Github OAuth application)"
# Bug report

## Describe the bug

Cannot access the following route.
- https://app.supabase.io/project/[ID-goes-here]/api

'Something went wrong' page is shown with the following error.
- Error: [401] JWSError (JSONDecodeError "Not valid base64url")

## To Reproduce

- Log in to Supabase application. (https://app.supabase.io/)
- Require access to alternative Github OAuth application.
  - Original

[2021-12-20 06:15] ManishSavaliya890 commented on #4571
me too

[2021-12-20 06:21] kiwicopple commented on #4571
we're just switching the Dashboard logins over to Supabase Auth now (previously it was on Auth0). If you are experiencing issues, some ideas:

- clear all cookies + localstorage
- check that you have verified your email on GitHub. If not, please verify your email then try to login again

[2021-12-20 07:01] liuqian1996 commented on #4571
I can login resumed just now

[2021-12-20 07:49] xiaooubai opened #4577 "signUp function error: Uncaught (in promise) SyntaxError: Unexpected token < in JSON at position 0"
# Bug report

## Describe the bug

When I use signUp based on Supabase's documentation, I get a SyntaxError that only comes up with dealing JSON. Extremely confused with why this is happening as I'm only following what the documentation is showing.

## To Reproduce

`
  const onSubmit = async data => {

    console.log(data.email)
    console.log(data.password)
    console.log(typeof(data.email))

[2021-12-20 08:04] hyunbinseo commented on #4572
Operational as of `2021-12-20 17:03 KST`

[2021-12-20 08:04] #4572 closed

[2021-12-20 08:58] #4571 closed

[2021-12-20 11:05] ynamite commented on #4448
Same here, was working fine yesterday evening, now today I can't get past the login screen.

[2021-12-20 11:24] inian commented on #4448
Hi @ynamite, can you verify your email in Github and then try to login to Supabase again? With our migration to Gotrue, we are tightening up security where possible.

[2021-12-20 13:12] inian commented on #4448
Hi @ynamite, I have reset your account, can you retry now? If you are still unable to login, please reach out to support via https://app.supabase.io/support/new

[2021-12-20 15:12] riancz commented on #4577
I have the same problem in my whole app. I think they have some problems on their end.

[2021-12-20 15:58] rmrt1n commented on #4540
I'm having the same issue. My workaround for this is to add the redirect logic in the onAuthStateChange function.
[code]
Something like this. It works for now but it'll be better if this is handled by `redirectTo` directly.

[2021-12-20 18:29] EndBug opened #4587 "Update docs for `.select()`"
# Improve documentation

## Link

https://supabase.com/docs/reference/javascript/select#parameters

## Describe the problem

The parameters docs say that the `column` parameter is required, but the first example in the page shows that it's not.

## Describe the improvement

The parameter should not be marked as required.

[2021-12-20 19:32] rynpatk commented on #4448
I'm trying to use Supabase for the first time as well and cannot get past the same "Sign in With Github" screen. My email is verified in Github and I have cleared cookies and browser data in multiple browsers. I see the same 401 from the original post in my console.

[2021-12-20 19:39] TheThirdRace commented on #4540
I would love for the Magic Link to respect the `redirectTo`.

When a user is in a page accessible from a long/deep route, ex: `XXXX/XX/XXXX/XX/XXXX/XX/XXXX/XX/`, it's no fun at all to be redirected back to the home page...

All the providers are redirecting to the correct page, only Magic Links are stuck on the home page only.

[2021-12-20 20:54] meyerworks commented on #4448
@inian me as well please

[2021-12-21 01:53] liaujianjie opened #4595 "Studio: incorrect empty state text when looking up users"
# Bug report

## Describe the bug

When searching for users against the `<UsersList>` component on `/auth/users`, the table shows a misleading response text when no users matched the search query.

https://github.com/supabase/supabase/blob/8c39f0fd61a579a65a4a0e980c9c768ab9da432e/studio/components/interfaces/Authentication/Users/UsersList.tsx#L49

## To Reproduce

1. Go to the Supabase dashboard o

[2021-12-21 07:10] jtkeyva opened #4600 "Bucket Policy Doesn't Delete"
# Bug report
Bucket Policy doesn't delete
## Describe the bug
I deleted all buckets and database tables. I ran the UserManagement Starter SQL query and got this error
A clear and concise description of what the bug is.
policy "Anyone can upload an avatar." for table "objects" already exists

## To Reproduce
Delete the avatars bucket. Run the User Management Starter SQL

Steps to reproduce the beha

[2021-12-21 07:13] jtkeyva commented on #4600
Update:
I recreated the "avatars" bucket manually and the policies were there. I deleted the policies manually, then deleted the bucket. When I ran the User Management Starter SQL again, it worked.

[2021-12-21 07:14] jtkeyva commented on #4600
Sorry, didn't mean to close. I believe this is still a bug, but with a workaround.

[2021-12-21 10:07] pri1311 commented on #4587
Seems like a good issue to begin with :)
Could I take this up?

[2021-12-21 11:03] EndBug commented on #4587
Sure!

[2021-12-21 19:24] Isaiah-Hamilton opened #4612 "Change highlight color to supabase brand color"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, the highlight color is the default blue. The feature is to change the highlight colors to supabase brand color.

## Describe the solution you'd like

change the global highlight color to supabase branded color.

## Additional context

This might be a little too much green so make sure to let me know an

[2021-12-21 19:30] meyerworks commented on #4448
@inian any chance at a little help?

[2021-12-22 00:02] anngbaum commented on #4577
I'm also reproducing this in our repository – our main branch is stable and not impacted, but seems to be caused by something in the latest version of the JS client (for us at least). I'm still debugging but this is causing some considerable issues with our current development.

[2021-12-22 00:27] dthyresson commented on #4577
Hi @xiaooubai @riancz and @anngbaum I am trying to reproduce and have been testing with an existing project and the [following code](https://github.com/dthyresson/supagraphql/blob/5bd537bdb39a86102759994b2be149e21ecb016a/src/schema/resolvers/authentication.ts#L14) for my sign up:

[code]

See: https://github.com/dthyresson/supagraphql/blob/5bd537bdb39a86102759994b2be149e21ecb016a/src/schema/resolv

[2021-12-22 00:32] dthyresson commented on #4577
One thing I do see @xiaooubai in your screenshot is that the POST is going to `localhost:3000` and the http status is `404` not found.

The JSON parse error is probably trying to parse the not found html vs JSON ... which I grant you is rather odd.

Is that the expected url?

For me,

<img width="779" alt="image" src="https://user-images.githubusercontent.com/1051633/147015095-6ec8a1b0-274e-4a3a-a

[2021-12-22 00:40] phamhieu commented on #4550
Hi @TannerGabriel @zlever01, the issue should be fixed by [this commit](https://github.com/supabase/supabase/commit/d2845b5c4b57a4833e44dcb93a542516a4776a55).

can you pull the latest code and try again.

[2021-12-22 00:42] phamhieu commented on #4493
cc @joshenlim

[2021-12-22 01:09] #4587 closed

[2021-12-22 01:38] phamhieu opened #4625 "Pricing faq accordion animation bug"
# Bug report

## Describe the bug

accordion animation looks weird

## To Reproduce

![screencast 2021-12-22 08-34-35](https://user-images.githubusercontent.com/689843/147020495-21d984ea-4935-44bf-9410-10cbe6b35dc6.gif)

[2021-12-22 01:39] phamhieu commented on #4625
related to https://github.com/supabase/supabase/pull/4542. @Isaiah-Hamilton can you take a look at the issue. Thank you

[2021-12-22 03:08] w3b6x9 commented on #4201
If you have other issues with Realtime please create a new issue or email support@supabase.io (please include your project ref).

[2021-12-22 03:08] #4201 closed

[2021-12-22 03:09] liaujianjie commented on #4595
Fixed in #4624.

[2021-12-22 03:09] #4595 closed

[2021-12-22 04:06] xiaooubai commented on #4577
Hey @dthyresson , that is indeed my expected url! I'll try what you have and see if it works. Thanks for your detailed response! I'll let you know what I get :)

[2021-12-22 07:33] #4493 closed

[2021-12-22 13:12] anngbaum commented on #4577
@dthyresson unfortunately as one part of debugging I went ahead and updated all of my packages, which did seem to resolve the issue. latest is working by using:

[code]

in case helpful, for more context we've had an iOS app in testflight using authentication with no problem whatsoever for quite some time now.

in our latest branch, we added the ability to switch between our supabase production da

[2021-12-22 13:28] dthyresson commented on #4577
Glad to hear, @anngbaum. Let me know if you still have any issues and you can also find me on Discord.

[2021-12-22 14:12] aantn commented on #1176
I would also like the `disableSignUp: true` option. Any ETA on this?

[2021-12-22 14:37] Jakemangan opened #4632 "Can no longer log in?"
# Bug report

## Describe the bug

I'm no longer able to log in to the Supabase portal. Whenever I try to I get to the "Sign in with Github" screen (which I've already done, I have an active project), and then clicking that button produces an error message "Please verify your email on Github first, then reach out to us at support@supabase.io to log into the dashboard".

If I go to Developer Settin

[2021-12-22 14:57] oliviercperrier opened #4633 "Was able to create a folder with empty name"
# Bug report

When i was testing the api, i was able to upload an empty file to a folder without giving it any name.

When i logged in to the dashboard, i could se the folder without any name and tried to delete it, but wasnt not able to.

Trying delete the parent folder of this folder was not working too.

## To Reproduce

Using the api

1. Create a bucket named `avatars` for example
2. Create a

[2021-12-22 15:33] Jakemangan commented on #4632
I can confirm that my github email is verified and is the primary email.

I've also tried revoking Supabase's access from Github and re-allowing, but that produces the same result.

[2021-12-22 18:04] meyerworks commented on #4448
I can't reach out to support, since I'm not logged in :(

[2021-12-22 21:20] IvanCodeslol opened #4635 "Randomly getting kicked out"
# Bug report

## Describe the bug
Every 2 minutes or so I get kicked out from the Supabase panel (see screenshots)

## To Reproduce

You don't have to do anything to get this, just being in the panel does it.

## Expected behavior

I don't get kicked out.

## Screenshots

https://imgur.com/a/qyRAGhH

## System information

- OS: Linux
- Browser: Mozilla Firefox 95.0
- Version of supabase-js: This

[2021-12-23 04:22] inian commented on #4448
@meyerworks I have reset your account, you should be able to login now.

@rynpatk i wasnt able to find your Github username in our records, can you reach out to us at support@supabase.io and we will get you sorted

[2021-12-23 04:24] inian commented on #4632
Duplicate https://github.com/supabase/supabase/issues/4448 and responded in the support ticket

[2021-12-23 04:24] #4632 closed

[2021-12-23 04:47] inian commented on #4577
This issue is because of a backend API call failing. This could be a storage, auth, realtime API call and will vary depending on each project, user. If you are facing this issue, it might be due to your project running out of its allocated resources. You can check your reports tab to get more insight there.

Closing the issue here since we can't do much without knowing your project id etc. If you

[2021-12-23 04:47] #4577 closed

[2021-12-23 07:27] #4625 closed

[2021-12-23 09:06] kiwicopple commented on #4550
I'll close this one for now, but feel free to comment again and we can reopen if there is still an error

[2021-12-23 09:06] #4550 closed

[2021-12-23 09:07] kiwicopple commented on #4518
You're welcome to @yeganathan18 - I think this might also require some changes to our UI libarary too: ui.supabase.com

[2021-12-23 09:16] kiwicopple commented on #4556
Looks like we might need to upade these OG images to be a bit more centered-friendly. Just need a good designer to go through some of the older posts :)

[2021-12-23 09:17] #4556 closed

[2021-12-23 09:25] kiwicopple commented on #4518
Scratch that - this is now fixed 🎉 https://github.com/supabase/supabase/issues/4595

[2021-12-23 09:26] #4518 closed

[2021-12-23 09:34] kiwicopple commented on #4635
It seems that your session isn't refreshing correctly here @IvanCodeslol - although I'm not sure why that would be.

Do you have anything blocking localstorage functionality on your Firefox browser? If you clear all the application cache and try again, do you still experience the issue?

[2021-12-23 09:49] pluwen commented on #4518
Cool

[2021-12-23 10:02] subhaschnadraBodaki commented on #4505
I used azure external oauth provider to log in

Redirect url used is ------ https://aomnqngcqjdcvqovmjjn.supabase.co/auth/v1/callback

It is redirecting me to -------- http://localhost:3000/?error=server_error&error_description=Unable+to+exchange+external+code%3A+0.AVYATe-lM3aaxE2G3zQy-ilZg3WsJb7sWJpBnTQLR_-RJx1WAEU.AQABAAIAAAD--DLA3VO7QrddgJg7Wevrpsz8QdQCyeSynIokYb7cJhztFsxBEpVABWWdpY29U2QtxQtwbi

[2021-12-23 10:06] subhaschnadraBodaki opened #4640 "supabase oauth azure provide error : Unable to Exchange External code"
# Bug report

## Describe the bug
I used azure external oauth provider to log in

Redirect url used is ------ https://aomnqngcqjdcvqovmjjn.supabase.co/auth/v1/callback

It is redirecting me to -------- http://localhost:3000/?error=server_error&error_description=Unable+to+exchange+external+code%3A+0.AVYATe-lM3aaxE2G3zQy-ilZg3WsJb7sWJpBnTQLR_-RJx1WAEU.AQABAAIAAAD--DLA3VO7QrddgJg7Wevrpsz8QdQCyeSynIok

[2021-12-23 10:53] kiwicopple commented on #4640
Hey @subhaschnadraBodaki , did you follow all the instructions here to set up your Azure app?

https://github.com/supabase/gotrue/pull/54#issuecomment-757043573

[2021-12-23 12:46] songololo commented on #3399
I agree with @ianstormtaylor - this is pretty confusing behaviour and makes it difficult to handle user signIn vs. signUp logic.

[2021-12-23 13:00] songololo commented on #1176
Another vote for adding a `disableSignUp` flag so that the sign up logic can be kept distinct from log in.

Sign up flows may require users to accept terms and conditions, privacy policies, or provide additional information such as names, companies, etc.

For me, this is pretty confusing behaviour for handling the user experience and complicates the front end logic.

[2021-12-23 13:53] kiwicopple commented on #3399
We're discussing this one over here:

https://github.com/supabase/supabase/issues/1176#issuecomment-973894582

[2021-12-23 16:12] nishit-g commented on #4612
Hey I would love to take a shot at this !

[2021-12-23 16:15] Isaiah-Hamilton commented on #4612
@nishit-g you got this! 🚀

[2021-12-23 17:03] nishit-g commented on #4612
Hey @Isaiah-Hamilton , have a look

[code]

<img width="1440" alt="supabase_highlight_color" src="https://user-images.githubusercontent.com/32142878/147271250-937e2da3-0474-4962-af64-c7e2f810a5b2.png">

<img width="1440" alt="Screenshot 2021-12-23 at 10 32 24 PM" src="https://user-images.githubusercontent.com/32142878/147271422-8de17556-25ed-4f69-b9a3-1f141b82df83.png">

[2021-12-23 17:06] Isaiah-Hamilton commented on #4612
@nishit-g can you try a lighter color?

[2021-12-23 17:08] nishit-g commented on #4612
What about this ?

<img width="1440" alt="Screenshot 2021-12-23 at 10 37 30 PM" src="https://user-images.githubusercontent.com/32142878/147271963-cca6c1d1-1ec0-42e3-87b1-87a40f332dec.png">

<img width="1440" alt="Screenshot 2021-12-23 at 10 37 51 PM" src="https://user-images.githubusercontent.com/32142878/147272009-fc76b7a4-b953-42f9-abec-c76a84f1ec36.png">

[2021-12-23 19:14] nickwithlove opened #4649 "Add support for 2factor.in"
# Feature request

## Is your feature request related to a problem? Please describe.
Add support for 2factor.in or Text Local

A clear and concise description of what you want and what your use case is.
Need an Indian service that meets indian TRAI guidlines.

## Describe the solution you'd like
Integrate 2factor API with Supabase

A clear and concise description of what you want to happen.

## De

[2021-12-23 19:45] dthyresson opened #4650 "docs: Redwoods Quick Start guide missing Quick Start link"
# Redwoods Quick Start guide missing Quick Start link

## Link

See: https://supabase.com/docs

## Describe the problem

While there is a side bar link to the RedwoodJS Quick Start guide, there is no main corresponding link with icon/logo:

<img width="1410" alt="image" src="https://user-images.githubusercontent.com/1051633/147285451-dc4f3fd3-df05-4713-9aeb-3f1eeea0eaef.png">

## Describe the impr

[2021-12-23 22:14] Isaiah-Hamilton opened #4655 "Broken links in faq"
# Bug report

## Describe the bug

Broken links in the faq

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [pricing](https://supabase.com/pricing)
2. Click on faq with link
4. See error

## Screenshots

<img width="712" alt="147218820-e48ba31d-ce9c-40bf-a0c5-e0391381d975" src="https://user-images.githubusercontent.com/70828596/147295262-53

[2021-12-23 22:23] FredBouillon commented on #4448
@inian Could you reset my account as well? Thx!

[2021-12-24 10:46] Marc-Hoch commented on #2779
I have the same error after I added a http Function Hook to my project. What can I do?

[2021-12-24 15:42] bhvngt opened #4656 "Error while connecting to inbucket mail server for local testing using docker compose"
# Bug report

## Describe the bug

I am trying to use [inbucket/inbucket:latest](https://hub.docker.com/layers/inbucket/inbucket/latest/images/sha256-1f10a0efea694592c06799c729aee1d6d71c9a4f72b73031d4a426ef5f26dfc1?context=explore) docker image as part of [supabase docker compose](https://github.com/supabase/supabase/blob/master/docker/docker-compose.yml). While doing so I get following error when

[2021-12-24 16:30] bhvngt commented on #4656
While digging deeper I figured out a workaround. We just need to pass empty `SMTP_USER` and `SMTP_USER` env variables to `gotrue`. With that everything works out fine.

Closing this issue.

[2021-12-24 16:30] #4656 closed

[2021-12-24 16:34] aresnick opened #4657 "`supabase db remote commit` fails with `Error: unexpected end of JSON input` on initial run"
# Bug report

## Describe the bug

When following the directions in the [Supabase CLI Tour](https://github.com/supabase/cli/tree/main/examples/tour), I encounter an error when running `supabase db remote commit` for the first time, `Error: unexpected end of JSON input`

## To Reproduce

1. `supabase init`
2. `supabase db remote set $CONNECTION_STRING`
3. `supabase db remote commit`
4. Await `Error

[2021-12-24 16:58] aresnick commented on #4657
Note that I then tried this on a fresh, unchanged DB from supabase and it worked.

[2021-12-24 19:37] w3b6x9 commented on #2779
@Marc-Hoch please email support@supabase.io with a link to this discussion and your project ref. We’ll investigate!

[2021-12-26 06:50] oliviercperrier commented on #4493
@joshenlim Hey! Thx for the fix, but i realize that the same bug appen also when using the API.

Using my previous example, if a run something like this:

`await supabase.storage.from("avatar").remove(["users/images/userAvatar.jpg"])`

`users` and `images` folder gets deleted.

[2021-12-26 06:52] oliviercperrier opened #4671 "Parent folder is deleted when deleting empty sub folder"
# Relates to issue [https://github.com/supabase/supabase/issues/4493](url)

# Bug report

## Describe the bug

@joshenlim Hey! Thx for the fix, but i realize that the same bug appen also when using the API.

The .emptyFolderPlaceholder that is created when creating a new "folder" gets deleted when an other item is added.

But there is a problem is a create multiple empty subfolders.

Lets say i wa

[2021-12-26 07:27] joshenlim commented on #4671
Hey there @oliviercperrier! This is the correct behaviour of our storage API - the existence of `.emptyFolderPlaceholder` is specific to only our dashboard as we're displaying your storage objects as a folder hierarchy.

Supabase storage follows S3 in which there are actually no tangible concept of "folders" but more of prefixes (e.g 'folder1/folder2/cats.png') - its just a flat file structure. He

[2021-12-26 07:27] #4671 closed

[2021-12-26 07:31] oliviercperrier commented on #4671
Hey!

Yes, i understand how S3 works and when i think about it, you are right. The actual behaviour is correct. Thanks for the reply.

[2021-12-26 20:10] Polyterative commented on #3982
My vercel project list is always empty even if I have a project.

![image](https://user-images.githubusercontent.com/16295552/147418976-93ddea80-c578-47a5-a9c7-83301da22ca9.png)

[2021-12-27 09:29] kiwicopple commented on #4649
thanks for the FR @nickwithlove - we're tracking this one here!

https://github.com/supabase/gotrue/issues/14

[2021-12-27 09:29] #4649 closed

[2021-12-27 09:29] #4650 closed

[2021-12-27 09:36] #4655 closed

[2021-12-27 09:58] WilliamFalci opened #4683 "Realtime broken when policy use custom SQL functions"
# Bug report

Applying custom SQL function in RLS broke the realtime but db queries work always

## To Reproduce

Create an SQL function:

[code]
(I tested with and without SECURITY DEFINES as well, bug persist)

then I created a policy for the table channel_users on SELECT using:

`is_member_of(auth.email(), channel_id)
`

then I created another policy always for the same table on UPDATE:

`(auth

[2021-12-27 12:55] IvanCodeslol commented on #4635
I don't get kicked out anymore, didn't have to clear my cookies. Also I did not have an extension blocking localstorage functionality and the supabase website could read/write to my localstorage.

[2021-12-27 12:55] #4635 closed

[2021-12-27 15:31] eMeRiKa13 commented on #4600
I just had exactly the same bug.

[2021-12-27 15:59] #4612 closed

[2021-12-27 17:08] tconroy commented on #4683
Just adding a +1 to this issue, as I am encountering the same problem. It seems that RLS policies that call through to custom postgres functions do not work as expected.

Is it possible that postgres is silently swallowing an error? If so, would be great if we could surface that in some way since right now it just doesn't work without giving any feedback to the developer.

[2021-12-27 19:17] w3b6x9 commented on #4683
see comment here: https://github.com/supabase/realtime/issues/213#issuecomment-1001707881

[2021-12-27 20:43] aquaductape opened #4690 "signUp error not returning both email and password error"
# Feature request

For signUp error if both email and password are invalid, then the error should contain some useful data that both email and password are invalid, currently only shows password that is invalid.

## Example

[code]

## Expected behavior
Either error message property contains both password and email `message: 'Signup requires a valid password and email'` or error has different prop

[2021-12-27 21:09] liechtym commented on #4544
Same problem for me.

[2021-12-28 07:58] kiwicopple commented on #4690
Hey @aquaductape - this one is for security reasons, we don't want to leak email addresses. I understand it's a bit frustrating from a UX perspective, but it's important that we don't expose your userbase in any way

Hope that makes sense! Let me know if you have any more questions

[2021-12-28 07:59] #4517 closed

[2021-12-28 09:24] aquaductape commented on #4690
Hey @kiwicopple thanks for the quick response.

I'm confused this is signUp action not a signIn

I don't think my use case could cause a security issue, because I'm just interested in whether the email formatted correctly, not if it is already taken in supabase, therefore no email addresses are getting leaked because it only returns invalid format errors

Correct me, but in this scenario where ema

[2021-12-28 10:00] kiwicopple commented on #4690
Aha - I see. Thanks for clarifying @aquaductape .

Email validation is that it's surprisingly difficult:

https://stackoverflow.com/questions/201323/how-can-i-validate-an-email-address-using-a-regular-expression

If we attempt validation, we will undoubtedly return some false negatives - blocking signups. Perhaps you'd like to add your own client-side validation?

I guess we could do something sim

[2021-12-28 10:14] kiwicopple commented on #245
this is now completed :) You can query all your API logs via Settings > Logs > API ⚡

[2021-12-28 10:14] #245 closed

[2021-12-28 10:19] kiwicopple opened #4702 "Create a React Native example and Quickstart"
# Chore

## Describe the chore

We already have an Expo guide here:

And an example here: https://github.com/supabase/supabase/blob/master/examples/expo-todo-list

It would be great to have something similar for React Native. The code will be mostly the same, but it will be helpful for anyone who is new to RN and doesn't know how to translate the Expo examples to RN.

Todo:

- [x] example: https:/

[2021-12-28 10:20] kiwicopple commented on #276
Closing this as it's solve with `async-storage`, but I'll also create an issue so that we can develop some better guides/examples for RN: https://github.com/supabase/supabase/issues/4702

[2021-12-28 10:20] #276 closed

[2021-12-28 10:23] kiwicopple commented on #379
We now auto-add the `created_at` column

<img width="670" alt="image" src="https://user-images.githubusercontent.com/10214025/147556464-0faade6c-232c-4ab8-a00e-6fe5b3b4065e.png">

I'll convert this one to a discussion, as i think it will be useful in the future for anyone else who wants to learn about the `updated_at` triggers

[2021-12-28 10:25] kiwicopple commented on #937
Looks like there has been no movement on this one for ~8 months. I'll close but happy to reopen if we can come up with some steps to replicate

[2021-12-28 10:25] #937 closed

[2021-12-28 10:25] aquaductape commented on #4690
But I thought supabase already does some form of email validation (I'm guessing it's using a very non-strict regex where it checks simple stuff such as including `@`), because it throws this error when email is invalid.
[code]

[2021-12-28 10:26] kiwicopple commented on #1013
this was due to a race condition in the Dashboard, which is now solved 👍

[2021-12-28 10:26] #1013 closed

[2021-12-28 10:27] #1051 closed

[2021-12-28 10:28] varna commented on #2623
I can't make it redirect to `http://localhost:3000`

[2021-12-28 10:29] kiwicopple commented on #1105
We've started adding Logs into the Dashboard.

I'll close this, and if there are any specific logs you'd like to see just let us know

[2021-12-28 10:29] #1105 closed

[2021-12-28 10:31] kiwicopple commented on #1176
Added the chore to our Auth server here: https://github.com/supabase/gotrue/issues/311

[2021-12-28 10:32] #1341 closed

[2021-12-28 10:33] #1428 closed

[2021-12-28 11:04] kiwicopple commented on #2214
The Dashboard is now open-source in case anyone wants to help with this

[2021-12-28 11:05] #2235 closed

[2021-12-28 11:07] kiwicopple commented on #2259
Looks like this is now fixed 👍

[2021-12-28 11:07] #2259 closed

[2021-12-28 11:08] kiwicopple commented on #2277
closing this since it's quite stale. If there are any steps to replicate I'll be happy to reopen and investigate

[2021-12-28 11:08] #2277 closed

[2021-12-28 11:08] #2310 closed

[2021-12-28 11:09] #2326 closed

[2021-12-28 11:14] kiwicopple commented on #2381
Added here: https://supabase.com/docs/reference/javascript/auth-update#update-email-for-authenticated-user

[2021-12-28 11:14] #2381 closed

[2021-12-28 11:15] kiwicopple commented on #2389
This has been added (experimental) to the UI under Database > Functions 🚢

[2021-12-28 11:15] #2389 closed

[2021-12-28 11:15] kiwicopple commented on #2403
This has been added (experimental) to the UI under Database > Triggers 🚢

[2021-12-28 11:15] #2403 closed

[2021-12-28 11:16] #2404 closed

[2021-12-28 11:19] kiwicopple commented on #2613
duplicate of https://github.com/supabase/gotrue/issues/312

[2021-12-28 11:19] #2613 closed

[2021-12-28 11:20] #2633 closed

[2021-12-28 11:23] kiwicopple commented on #2623
This is not expected to work - you will need to add the _exact_ address you are redirecting to - eg, `http://example.com`

I'll close this for now, but if you are able to provide some steps to replicate (using the exact address) it's definitely a valid bug and I can reopen

[2021-12-28 11:23] #2623 closed

[2021-12-28 11:25] #2636 closed

[2021-12-28 11:25] harshcut commented on #2214
@kiwicopple do you want the link to point to [*Connection Pooling*](https://supabase.com/docs/guides/database/connecting/connection-pooling) or [*Pool modes*](https://supabase.com/docs/guides/database/connecting/connection-pooling#pool-modes)?

[2021-12-28 11:33] kiwicopple commented on #2681
Hey @nicholaschiang - these descriptions exist at the top of the page here:

<img width="905" alt="image" src="https://user-images.githubusercontent.com/10214025/147562083-69b9327e-d4a5-4979-8fa2-943a23bd3568.png">

Perhaps you want more detail added? I'll close this for now as I'm doing a spring-clean, but feel free to comment with more info and I can reopen

[2021-12-28 11:33] #2681 closed

[2021-12-28 11:34] kiwicopple commented on #2687
this should be solved in the latest version of the CLI. Please make sure you've upgraded to the latest version (using Brew, as we moved to a Go CLI)

[2021-12-28 11:34] #2687 closed

[2021-12-28 11:37] #2715 closed

[2021-12-28 11:38] kiwicopple commented on #2730
<img width="349" alt="image" src="https://user-images.githubusercontent.com/10214025/147562492-2007f731-9d74-492e-bc09-6eaf0920ee02.png">

You can now choose the schema from the Dashboard editor 🚢

[2021-12-28 11:38] #2730 closed

[2021-12-28 11:42] kiwicopple commented on #2739
this should now be working on the latest version of supabase-js 🎉

https://github.com/supabase/gotrue-js/pull/184

[2021-12-28 11:42] #2739 closed

[2021-12-28 11:45] mike-hogan commented on #4640
Hey @subhaschnadraBodaki, I had that error too until (in Azure portal) I configured the redirect uri as a Web app redirect uri, instead of an SPA (single page app) redirect uri.  Then that error disappeared, but the next error I got was "Error getting user email from external provider"

[2021-12-28 11:45] kiwicopple commented on #2758
checked on the latest version of Studio and looks like this is fixed 🎉

[2021-12-28 11:45] #2758 closed

[2021-12-28 12:02] mike-hogan opened #4708 "Azure Auth: http://localhost:5000/?error=server_error&error_description=Error+getting+user+email+from+external+provider"
# Bug report

## When I login using Azure Auth for a newly created Azure App Registration, I get this error

## To Reproduce

1. Register a new app registration in azure portal, giving access to organisations and personal accounts
2.  Register the supabase redirect uri as a "Web" redirect uri (in azure portal)
3. Create a secret for this new app registration
4. enable azure auth in supabase, pasti

[2021-12-28 12:03] varna commented on #3191
Seems like the same issue as #2623 #3069 #4540

Only the first argument of **Additional Redirect URLs** is used while validating redirectURL.

If `redirectURL` is set to `http://localhost:3000`

This fails:
<img width="700" alt="This fails" src="https://user-images.githubusercontent.com/6717694/147564052-b6a3ff6e-3497-48ad-a5df-46b29e319ac2.png">

This works:
<img width="704" alt="This works" src=

[2021-12-28 12:16] mike-hogan commented on #4708
I can confirm that if I log out of Azure portal, I am prompted to enter an email address

[2021-12-28 12:48] bnjmnt4n commented on #3191
There's a space after the comma which isn't recognized. Perhaps try removing the space? Maybe this should be changed on the studio frontend to flag this out as a common error, or GoTrue can be modified as well to trim leading/trailing whitespace.

[2021-12-28 12:55] varna commented on #3191
This worked :D Thanks!

Input validator sounds nice.

[2021-12-28 14:39] kiwicopple opened #4709 "Support ticket: error creating ticket for "No specific project""
# Bug report

(Note that there is no bug if a project *_is_* selected)

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to https://app.supabase.io/support/new
2. Select "No Specific Project"
3. Submit a ticket
4. See network error:

[code]

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

!

[2021-12-28 14:55] #2810 closed

[2021-12-28 14:57] kiwicopple commented on #2853
this one is a duplicate of https://github.com/supabase/gotrue/issues/214

Closing in favour of the gotrue issue

[2021-12-28 14:57] #2853 closed

[2021-12-28 14:59] kiwicopple commented on #2892
There is a full guide for Prisma + Supabase here:

https://community.redwoodjs.com/t/guide-migrations-connection-pool-urls-supabase/2505/

I'll close this as I don't know if it's really a bug in Supabase.

(one thing to be very aware of when using Prisma is that you need to use the Connection Pool on deployment, but the Direct connection for migrations)

[2021-12-28 14:59] #2892 closed

[2021-12-28 14:59] #2895 closed

[2021-12-28 15:01] kiwicopple commented on #2919
fixed!

[2021-12-28 15:01] #2919 closed

[2021-12-28 15:03] #3034 closed

[2021-12-28 15:07] kiwicopple commented on #3049
Hey @ralphilius - there is no `USER_DELETED` change event:
https://github.com/supabase/gotrue-js/blob/d7b334a4283027c65814aa81715ffead262f0bfa/src/lib/types.ts#L15

If you need this one, I can recommend adding a trigger to your `auth.users` table to trigger events on DELETE.

[2021-12-28 15:07] #3049 closed

[2021-12-28 15:10] kiwicopple commented on #3050
👍 fixed!

[2021-12-28 15:10] #3050 closed

[2021-12-28 15:12] kiwicopple commented on #3055
this should now be solved 👍

[2021-12-28 15:12] #3055 closed

[2021-12-28 15:15] kiwicopple commented on #3069
Looks like this could be an issue with spaces between the "redirect" links:
https://github.com/supabase/supabase/issues/3191#issuecomment-1002087764

I'll close this in favour of that one

[2021-12-28 15:15] #3069 closed

[2021-12-28 15:18] kiwicopple commented on #3191
I've renamed this one based on @bnjmnt4n 's [comment](https://github.com/supabase/supabase/issues/3191#issuecomment-1002087764). We can fix this on the frontend, but afterwards we should also fix GoTrue to be consistent.

I think @MildTomato may want to change the format from a Comma list? Perhaps we can use a safer component here?

[2021-12-28 15:21] kiwicopple commented on #3086
Fixed 👍 https://github.com/supabase/ui/pull/278#issuecomment-922689481

[2021-12-28 15:21] #3086 closed

[2021-12-28 15:26] kiwicopple commented on #3109
URL fragments are part of the OAuth spec, rather than params (i believe they are deemed safer).

I'll close this for now, but if there is something that we can safely change or improve here.

[2021-12-28 15:26] #3109 closed

[2021-12-28 15:26] varna commented on #3191
I suggest Combobox with multiple items:
![image](https://user-images.githubusercontent.com/6717694/147581430-bcde7c33-3781-4dd4-a10b-1ae5e1dbf542.png)

[2021-12-28 15:28] #3241 closed

[2021-12-28 15:31] kiwicopple commented on #3264
this should now be fixed! If you're still having issues feel free to comment and I'll reopen

[2021-12-28 15:31] #3264 closed

[2021-12-28 15:32] kiwicopple commented on #3288
Duplicate of https://github.com/supabase/gotrue/issues/313

[2021-12-28 15:32] #3288 closed

[2021-12-28 15:35] kiwicopple commented on #3258
Fixed!
<img width="381" alt="image" src="https://user-images.githubusercontent.com/10214025/147582287-3975ce79-faff-4e60-875d-f65216f7a06b.png">

[2021-12-28 15:35] #3258 closed

[2021-12-28 15:41] kiwicopple commented on #3332
We're revising some of the UX of tables now. I'll close this one as it isn't a pressing issue. If you prefer, we can move it to a discussion to bounce around ideas on UX

[2021-12-28 15:41] #3332 closed

[2021-12-28 15:48] kiwicopple commented on #3414
This should be fixed now with the new Go CLI. Closing this issue, but feel free to comment here if you're still experiencing the issue @ianstormtaylor and I'll reopen

[2021-12-28 15:48] #3414 closed

[2021-12-28 15:50] kiwicopple commented on #3465
this seems to be fixed now - tested on Mac + FF. Let me know if you're still having issues and I can reopen

[2021-12-28 15:50] #3465 closed

[2021-12-28 15:51] kiwicopple commented on #3471
good one @activenode 👍

[2021-12-28 15:51] #3503 closed

[2021-12-28 16:02] activenode commented on #3471
I noticed  you CAN add a FK here. But it is not intuitive. It's the Link Icon.

[2021-12-28 16:05] #3514 closed

[2021-12-28 16:05] kiwicopple commented on #3516
this should now be fixed!

[2021-12-28 16:05] #3516 closed

[2021-12-28 16:09] kiwicopple commented on #3790
this should now be fixed with this update: https://github.com/supabase/gotrue-js/pull/153

[2021-12-28 16:09] #3790 closed

[2021-12-28 16:10] #3801 closed

[2021-12-28 16:12] #3837 closed

[2021-12-28 16:15] kiwicopple commented on #3861
hey @Hannes1 - I wasn't able to replicated this issue. I'll close this, because I suspect it's not really a bug but something to do with your code?

If you can provide some steps to replicated it on my end then I will reopen!

[2021-12-28 16:15] #3861 closed

[2021-12-28 16:18] kiwicopple commented on #3943
Fixed in the docs!

<img width="536" alt="image" src="https://user-images.githubusercontent.com/10214025/147585823-f5e73b59-ef6e-4388-9426-3714013dd360.png">

[2021-12-28 16:18] #3943 closed

[2021-12-28 16:20] kiwicopple commented on #3921
Can you please provide an example of this or an example of what an email with a hashcode looks like? It would be awesome to create a test case for this one as I'm not familiar with the format of email link protection services

[2021-12-28 16:21] kiwicopple commented on #3959
Hey @saenyakorn is this still an issue? I tried to reproduce and couldnt

I'll close this for now but if you can provide any more details on how I can get the same behaviour I'll reopen and schedule a fix 👍

[2021-12-28 16:21] #3959 closed

[2021-12-28 16:24] #4076 closed

[2021-12-28 16:25] kiwicopple commented on #4124
I'll convert this to a discussion because it looks like useful knowledge for others!

[2021-12-28 16:27] kiwicopple commented on #4690
OK cool - I'll transfer to the Auth server to return both errors!

[2021-12-28 16:29] kiwicopple commented on #2214
Connection Pooling please!

[2021-12-28 16:30] kiwicopple commented on #4640
Does your Azure app allow permissions to get the users' email address?

[2021-12-28 16:32] kiwicopple commented on #3471
Oh true ... even I missed it. Agreed it's not intuitive. I'll let the team know

[2021-12-28 16:40] mike-hogan commented on #4640
Yes, my app has the same 5 scopes as shown in https://github.com/supabase/gotrue/pull/54

[2021-12-28 16:53] miketromba opened #4715 "Add ability to (read-only) query the auth.users table directly with a service key using supabase.js"
# Feature request
I suggest adding the ability to query (read-only) the auth.users table directly with a service key. Many production apps need this ability...

## Describe the solution you'd like

[code]

## Describe alternatives you've considered

Some developers have used workarounds like creating a public.users table which replicates relevant data from the auth.users table using triggers. This

[2021-12-28 17:41] kiwicopple commented on #4715
Hey @miketromba - there is a newly (undocumented) function for this:

https://github.com/supabase/gotrue-js/blob/d7b334a4283027c65814aa81715ffead262f0bfa/src/GoTrueApi.ts#L468

[code]

I'll keep this open because we definitely need to add this to the docs

[2021-12-28 18:26] dukesx opened #4716 "Kong Error : No Api key found in request"
# Bug report

## Describe the bug

I am trying to use flutter client of supabase to send a password reset link, however i am using "redirect to" param to redirect the user to my app, where i show my user the reset form. When the user clicks on reset link received in email, the user receives the error

Which Link Do i receive ?
[code]

Where does the above link redirect to (when clicked) ?

[code]

[2021-12-28 18:31] vasudeveloper001 commented on #4702
Let me do it. I am a beginner in pretty much all things here.

[2021-12-28 18:35] kiwicopple commented on #4716
Hmm, looks kike that URL isn't right. Would you mind opening this one in the Dart repo @dukesx ?

https://github.com/supabase-community/supabase-dart

[2021-12-28 18:35] kiwicopple commented on #4702
thanks @vasudeveloper001 ! I'm sure if you start a small PR then everyone here can help give some comments

[2021-12-28 18:36] dukesx commented on #4716
@kiwicopple I have now opened there as well. I did update my issue , please refresh and check for additional debugging details

[2021-12-28 18:45] vasudeveloper001 commented on #4702
Thanks. I will set up react native inside example folder first thing tomorrow morning and will create a initial pull request. Or can I be assigned to this task so that other people don't spend needless time in it? @kiwicopple

[2021-12-28 18:46] kiwicopple commented on #4716
let's track over there!

https://github.com/supabase-community/supabase-dart/issues/76

[2021-12-28 18:46] #4716 closed

[2021-12-28 20:13] gustavobigardi opened #4717 "Failure adding Supabase integration to Vercel"
# Bug report

## Describe the bug

Failure adding Supabase integration to Vercel. When the modal screen with the supabase page to integrate a Vercel project to Supabase project is opened, an error "Retrieve vercel projects failed. An error has occured: 401" appears.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to a integration marketplace

[2021-12-28 20:29] soedirgo commented on #4715
For now it's in the gotrue-js docs: https://supabase.github.io/gotrue-js/classes/GoTrueApi.html#listUsers

[2021-12-28 20:34] miketromba commented on #4715
It appears that that function does not accept filter params similar to what a .match() would let you do... That being said, it might be fair to assume that the primary .match() criteria that would be used would be id / email. Since getUserById is already implemented, I suggest also adding:
[code]

[2021-12-28 22:54] ichbinedgar opened #4720 "Generate link example is no correct :("
# Improve documentation

## Link

https://supabase.com/docs/reference/javascript/auth-api-generatelink

## Describe the problem

Documentation example is wrong , or at least the following does not work. However, the documentation that describes the function it says that parameters are passed individually and not by using an object.

current example:

[code]

## Describe the improvement

example sh

[2021-12-29 01:46] joshenlim commented on #4600
Related to https://github.com/supabase/supabase/issues/2110#event-5821988514

[2021-12-29 03:11] joshenlim commented on #4600
hey @jtkeyva - you're right! there's an issue in the dashboard that we aren't clearing policies related to the bucket when the bucket itself is deleted. The current workaround is exactly what you did to clear the policies manually. For those who are facing the same issue, here's how you can go along doing this:

Check all of your policies from storage.objects
`select * from pg_policies where schem

[2021-12-29 03:12] joshenlim commented on #2110
Closing this as its a duplicate of the recent issue #4721

[2021-12-29 03:12] #2110 closed

[2021-12-29 04:15] codynap opened #4722 "Supabase integration ( Vercel )"

[2021-12-29 04:17] codynap commented on #4722
Hey there, I'm seeing a similar issue to the above discussion- see attached screenshot. The project dropdown is empty, so there's no way to progress. I appreciate any help!

<img width="760" alt="Screen Shot 2021-12-28 at 11 15 03 PM" src="https://user-images.githubusercontent.com/18519990/147626992-1c526679-4b5e-409d-92ab-4f5c4b55f0dc.png">

[2021-12-29 04:17] harshcut commented on #2214
`npm install` for studio currently fails for me on windows with node v14.18.2 and npm v6.14.15.

[code]

[2021-12-29 04:28] #4722 closed

[2021-12-29 05:53] Isaiah-Hamilton opened #4724 "Add gotrue-go and realtime-go to readme"
# Improve documentation

## Link

[gotrue-go](https://github.com/supabase-community/gotrue-go), [realtime-go](https://github.com/supabase-community/realtime-go)

## Describe the problem

Missing the new go client libraries from the table of community library in the [readme](https://github.com/supabase/supabase/blob/master/README.md).

## Describe the improvement

Add the new go client libraries to

[2021-12-29 09:08] #4600 closed

[2021-12-29 09:33] jmsunseri commented on #491
Does this make a call to the supabase API or is this resolved locally?

[2021-12-29 10:48] kangmingtay commented on #1176
Hey everyone, we have started working on adding this to gotrue and would like to get some feedback on this issue (https://github.com/supabase/gotrue/pull/318#issuecomment-1002362790). There are a few possible solutions being thrown around right now:

TLDR: Including a `no_signup` flag to decide whether or not a user should be automatically signed up can be exploited if used on the client-side.

1.

[2021-12-29 11:11] kristjanmar commented on #1176
Agreed, #1 seems like a good choice.

[2021-12-29 13:15] varna commented on #361
You can add it manually for now:
<img width="675" alt="CleanShot 2021-12-29 at 15 14 16@2x" src="https://user-images.githubusercontent.com/6717694/147666157-4cf1f2ef-fddf-4ca0-a632-779791b75150.png">

[code]

[2021-12-29 16:07] i-pip commented on #4633
this also happens if the upload path starts with a `/` (slash) because it gets appended to the ["finalPath" which already ends in a `/`](https://github.com/supabase/storage-js/blob/b9e407c911d28081b631736c57a8da6ce0f34b1f/src/lib/StorageFileApi.ts#L332) resulting in another empty folder like so `//`

I've created a PR for this @phamhieu  @thebengeu

[2021-12-29 16:16] WilliamFalci commented on #4683
I confirm specifing the schema name before the table name fix the issue

[2021-12-29 18:28] MorrisonWill commented on #4544
Same problem. Max rows won't go beyond 1000.

[2021-12-29 18:34] Isaiah-Hamilton commented on #4724
waiting for these two go client libraries to be more finished.

[2021-12-29 18:34] #4724 closed

[2021-12-29 19:11] mclean25 opened #4735 "Error parsing connection string when running supabase db remote set"
# Bug report
When running `supabase db remote set` with a db password which contains special characters, the command will fail with the following message:
`Error: Error parsing connection string: Make sure the URL is percent-encoded.`.

Once I changed my password to contain no special characters, it worked.

The [docs](https://supabase.com/docs/guides/database/managing-passwords#creating-a-secure-

[2021-12-29 22:45] 0hq commented on #4464
Having a similar issue.

[2021-12-29 22:47] quentincaffeino opened #4736 "Use alpine based images instead of default"
# Chore

## Describe the chore

Title is pretty self explanatory. I want to believe that this is one of the cases where rule less is more is perfectly applicable especially when you don't loose anything.

I want to know what do you think about this? Was it a deliberate choice to go with debian based image or as it mostly is because it was made to ship product as fast as possible?

[2021-12-29 23:18] edelah commented on #4268
Same bug on email change; an email is sent for confirmation even if my settings are the same as the original poster.

[2021-12-30 01:46] code3z commented on #3068
@Maxson52 It happens at the breakpoint `(min-width: 997px) and (max-width: 1320px)` which applies `max-width: calc(var(--ifm-container-width) - var(--doc-sidebar-width) - var(--ifm-spacing-horizontal)*2);`. Do you want to have this breakpoint? It seems to be a waste of space. Also, I can't find this in the code, so maybe it's part of docusaurus.

[2021-12-30 02:45] #1722 closed

[2021-12-30 02:59] prescience-data opened #4739 "[Website, UX] Confusingly named "login" button"
# Bug report

## Describe the bug

On the Supabase website, what is effectively the "login" button is named "Start your project" which can be confusing / dissonant when unconsciously [Thin Slicing](https://en.wikipedia.org/wiki/Thin-slicing) upon page load and expecting to see some derivation of the common `[Login] [Sign up!]` top-right button pattern. _(In this case "Sign up!" being "Start your p

[2021-12-30 13:24] XHMM opened #4740 "[supabase studio] response fields from pages/api/props/project/[ref]/api.ts was hard-coded made api page show error"
# Bug report

## Describe the bug
In supabse studio project, I found response from this file [`pages/api/props/project/[ref]/api.ts` ](https://github.com/supabase/supabase/blob/a595af4e1e786baed80a809bbc115c41de195816/studio/pages/api/props/project/%5Bref%5D/api.ts?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-c

[2021-12-30 17:25] shivam-51 opened #4743 "How to Upload Buffer as image/png to Supabase Storage."
# Improve documentation

Hi, Is there a way to upload a buffer into supabase storage so that I can view it as normal `image/png`?
Particularly I am looking to fix this code:

[code]
It comes up like this https://cxdxdalsilaeznncpbbw.supabase.in/storage/v1/object/public/card-images/1237.png

[2021-12-30 17:59] #4743 closed

[2021-12-30 17:59] shivam-51 commented on #4743
Fixed by
[code]

[2021-12-30 21:02] TomasHubelbauer opened #4746 "Email + password login not allowed due to email signup being disabled"
# Bug report

## Describe the bug

It is possible to sign up a new user using the `supabase.auth.signUp` method. Once they are signed up, disabling the below pictured option prevents other usings from signing up to the service:
<img width="806" alt="image" src="https://user-images.githubusercontent.com/6831144/147787314-a20d18b9-7657-43e8-8b9f-e47979ce6936.png">

This is great as it allows service

[2021-12-31 01:45] ralphilius commented on #3049
@kiwicopple is just a few lines below your reference

https://github.com/supabase/gotrue-js/blob/d7b334a4283027c65814aa81715ffead262f0bfa/src/lib/types.ts#L21

[2021-12-31 05:29] roryw10 opened #4748 "customers cannot update their billing email address"
# Bug report

## It appears customers cannot update their billing email address in the dashboard

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to the dashboard general settings
2. Try to update billing email
3. Hit save
4. See 401 error

## Expected behavior

Billing email should update

## Screenshots

[2021-12-31 22:01] ekrresa commented on #4268
I just came across this bug.

[2021-12-31 22:49] JCaraballo113 opened #4752 "Supabase javascript SDK signup and login functionality does not work on Windows 11"
# Bug report

## Describe the bug

The issue is that the methods `signUp` and `signIn` do not work on Windows (11). Instead you get a 404 not found error for the POST routes.

## To Reproduce

1. Clone this [repo](https://github.com/JCaraballo113/vue-music)
2. Fire up a supabase project and make sure to set your callback URL to be `http://localhost:8080` as the default is `http://localhost:3000`
3

[2022-01-01 03:07] kangmingtay commented on #4268
Hey @edelah, @ekrresa

We recently updated the `createUser` method in gotrue-js (https://github.com/supabase/gotrue-js/blob/d7b334a4283027c65814aa81715ffead262f0bfa/src/GoTrueApi.ts#L448) to include the email_confirm and phone_confirm fields. The createUser method doesn't confirm the user by default.

Hope this helps!

[2022-01-01 08:39] ekrresa commented on #4268
It works now! Thanks a lot.

The types need an update though. The attributes parameter of the `createUser` method uses `UserAttributes` interface instead of `AdminUserAttributes`.
<img width="1235" alt="Screenshot 2022-01-01 at 09 34 16" src="https://user-images.githubusercontent.com/20543629/147847106-e176e5b6-81f4-4cb6-b03a-cc9746b5a658.png">

[2022-01-01 08:52] kangmingtay commented on #4268
Hmm, we actually updated it already though (check out the link i sent previously above), the UserAttribute doesn't contain those fields. Perhaps you need to refresh your editor to see the updated changes in gotrue-js?

[2022-01-01 11:05] ekrresa commented on #4268
It doesn't seem to be updated in the `@supabase/supabase-js` library.

[2022-01-01 12:03] prescience-data commented on #4752
Have you set your callback url in the Supabase admin panel to `https://localhost:8080` ?

[2022-01-01 17:33] vabatta opened #4756 "Supabase app website doesn't refresh auth token"
# Bug report

## Describe the bug

When the auth token expires while using the app, it won't refresh and returns the error `Unauthorized: Invalid token: token is expired by <x>m<y>s` while running queries, then the app crashes to "an unexpected error happened" on a page refresh. This will require to go on the homepage and going through the login flow to get back in the app.

## To Reproduce

1. Go

[2022-01-01 19:13] JCaraballo113 commented on #4752
@prescience-data  yes I have

[2022-01-01 19:24] JCaraballo113 commented on #4752
Simply redownloading the whole repo fixed it

[2022-01-01 19:24] #4752 closed

[2022-01-01 21:04] fabianmossberg opened #4758 "Logging in with Facebook gives 502 error"
# Bug report

Facebook login gives 502 error when being set up according to the documentation.

## Describe the bug

Following the instructions on:
https://supabase.com/docs/guides/auth/auth-facebook

When running the following code:

[code]

I get sent to `https://[my-project].supabase.co/auth/v1/authorize?provider=facebook` that gives me 502, bad gateway from Cloudflare.

## To Reproduce

Steps

[2022-01-02 02:19] kangmingtay commented on #4758
Hi @fabianmossberg, was there an error message displayed in the url / response in addition to the 502 error?

[2022-01-02 04:26] Isaiah-Hamilton commented on #2979
Where is this bug located, or how did you get to this bug?

[2022-01-02 07:13] johndpope opened #7153 "ui for adding row to any table"
# Feature request

<img width="697" alt="Screen Shot 2022-01-02 at 18 10 40" src="https://user-images.githubusercontent.com/289994/147868889-3f1a19b4-2d4a-4569-b778-dab27e48e984.png">

is this slated for release any time soon - or is there a repo you can point to ?

[2022-01-02 07:21] johndpope opened #7152 "hyperlink from supacell"
# Feature request

## Is your feature request related to a problem? Please describe.
is it possible to do this?

## Describe the solution you'd like
I want to click a link from inside a cell - or somehow link to stuff.....

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

I have a list of

[2022-01-02 11:36] bnjmnt4n commented on #4752
The `unexpected token < in JSON at position 0` bug seems to be [pretty common](https://github.com/search?q=unexpected+token+%3C+in+JSON+at+position+0+user%3Asupabase&type=Issues&ref=advsearch&l=&l=). It seems like it's likely due to a problem with the Supabase instance, leading to Cloudflare sending back a HTML response page describing the error instead of the expected JSON response. It might be g

[2022-01-02 23:02] meyerworks commented on #4448
@inian thank you so much for the response!  I didn't see it I've been out of town.  Still having the same login failure.  Any suggestions?

[2022-01-03 02:26] #4329 closed

[2022-01-03 03:42] ijaspreetsinghh commented on #4544
same issue, but can get the total items for a specific scenario and then paginate the list or table?

[2022-01-03 05:25] #4244 closed

[2022-01-03 06:02] navtojchahal commented on #4534
+1

[2022-01-03 09:46] alexdkaminski commented on #4717
+1 Having the exact same issue on Chrome and Windows 10

[2022-01-03 11:42] fabianmossberg commented on #4758
@kangmingtay: no, no specific error in the response or in the logs at supabase.

[2022-01-03 13:51] chipilov opened #4775 "API returns 403 instead of 401 when making a request with a non-authenticated user"
# Bug report

## Describe the bug

Not sure if this is a bug in PostgREST itself or a config problem in Supabase, but when a request is made from the Supabase JS client without an authenticated user against a stored procedure or view which does NOT allow access to the "anon" role, the returned HTTP status is 403 and NOT 401.

According to the [PostgREST documentation](https://postgrest.org/en/late

[2022-01-03 17:35] imskr commented on #4532
I've created a PR for this #4776

[2022-01-03 19:46] Isaiah-Hamilton opened #4780 "Bug: Auth UI component error"
# Bug report

## Describe the bug

When using the button on the auth UI component sends you to an error page.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [auth page](https://supabase.com/auth)
2. Click on any button social button
4. See error

## Expected behavior

To not be sent to an error page.

## Screenshots

https://user-images.g

[2022-01-04 03:04] lesliesibanda commented on #4550
I/m also having the same issue using the Docker.

I've pulled the latest image but it seems to be an issue [](http://localhost:8000/rest/v1/?apikey=) being hardcoded and not using the .env variables. Using my SITE_URL:8000/rest/v1/?apikey works fine on the browser.

this is what i get `{"swagger":"2.0","info":{"version":"9.0.0","title":"PostgREST API","description":"standard public schema"},"host"

[2022-01-04 08:32] chipilov opened #4785 "Upgrade pgTAP extension to 1.2.0"
# Feature request

## Is your feature request related to a problem? Please describe.
Supabase allows enabling the pgTAP extension, however, the version of pgTAP that is currently available in Supabase is 1.1.0, which has some issues related to PostgreSQL 13 and 14.

According to pgTAP's release notes, these issues have been fixed in the latest version of pgTAP, which is 1.2.0 (release notes: https

[2022-01-04 10:56] bokub commented on #4758
I have the same problem with the **GitHub** and **Google** providers, so I'm not sure it's linked to Facebook.

I have 2 projects on Supabase, but only one of them has this issue (it used to work before).

I have restarted the server multiple times and it didn't fix the issue.

This is a screenshot of `https://[project-id].supabase.co/auth/v1/authorize?provider=github&redirect_to=http%3A%2F%2Floca

[2022-01-04 13:20] kangmingtay commented on #4758
Hi @fabianmossberg and @bokub, could you guys please email support@supabase.io so i can look into the issue? Thanks!

[2022-01-04 13:32] #4720 closed

[2022-01-04 13:48] kiwicopple commented on #4746
Yeah I would not have expected this to block logins too. I'll transfer this over to GoTrue - thanks for reporting @TomasHubelbauer

[2022-01-04 14:10] #3068 closed

[2022-01-04 14:14] kiwicopple opened #4790 "Fix failing docs deployment"
# Bug report

## Describe the bug

<img width="1113" alt="image" src="https://user-images.githubusercontent.com/10214025/148071894-4ebcfc9b-1687-48d5-b088-3777f2be97fd.png">

I believe this should be `author_url`

[2022-01-04 14:15] #3331 closed

[2022-01-04 14:23] Isaiah-Hamilton commented on #4790
This bug happened because I forgot to make sure no other pages were using the data.

[2022-01-04 14:31] topperspal opened #4792 "Please add new pricing tiers between FREE to 25$"
25$ is not a piece of cake for everyone, especially for startups where FREE Quota is not enough and 25$ are more then enough. Please add a new pricing tier for 10$. This will remove the constraints of 2 org x 2 projects, and we will be able to host our hobby projects along with professional apps in a very affordable price.

[2022-01-04 14:32] #4532 closed

[2022-01-04 14:33] kiwicopple commented on #4780
Agreed! Or we can take them to the Auth pages (eg https://supabase.com/docs/guides/auth/auth-github)

[2022-01-04 14:37] #4790 closed

[2022-01-04 14:38] kiwicopple commented on #4792
Any ideas for what you'd like included at a $10 range @topperspal ?

[2022-01-04 16:06] topperspal commented on #4792
Yup!

10$ is enough for providing these functionalities.

1. NEVER PAUSE
2. 2 GB Database with 15 GB Data Transfer Limit
3. 30 GB Storage with 60 GB Transfer limits
4. 2 days backup

If we compare it to 25$ plan, then we will be paying 40% for

1. 25% of database storage
2. 30% Database Transfer
3. 30% Storage
4. 30% Storage Data Transfer
and nothing else.

Almost 30% or less resources in 40% cred

[2022-01-04 16:52] bokub commented on #4758
Done :heavy_check_mark:

[2022-01-04 17:36] chipilov opened #4794 "Auth functions like auth.uid() do NOT handle empty strings"
# Bug report

## Describe the bug

Auth functions like auth.uid() use the 'request.jwt.claims' configuration parameter in order to extract the uid/email/role for the user of the current request.

However, these functions fail if the 'request.jwt.claims' configuration parameter is the empty string because the conversion to jsonb fails.

Handling empty strings for this parameter is important because

[2022-01-04 18:25] kiwicopple commented on #4794
Yes, I think you're right - previously we had `nullif` wrapper that was removed as part of the upgrade to postgrest 9:

https://github.com/supabase/supabase/commit/614faed4e47060bbc3b9947315d99d2fa117628a#diff-966f18f6feaf0bfe4d397b1d3fc31b1b31d1d0ffd19a16470bb6691c77362d15

[2022-01-04 18:27] chasers opened #4796 "Add chart and table for some more REST analytics on project overview"
Show API status codes chart on project overview. Should give us something like:

<img width="761" alt="Screen Shot 2022-01-04 at 11 20 59 AM" src="https://user-images.githubusercontent.com/1019814/148105559-2a7061e0-4052-4e17-aa5f-87ec77b4e790.png">

Logflare prod endpoint ID: 66

Show API response times, etc table under status codes chart. Should give us something like:

<img width="1108" alt="Sc

[2022-01-04 18:34] chipilov commented on #4794
Unless I misunderstand what you mean, I don't think ```nullif``` would resolve the issue - the problem is that when evaluating the second argument to coalesce (```(current_setting('request.jwt.claims', true)::jsonb ->> 'sub')```), you get an exception because the empty string cannot be converted to jsonb.

So even if you wrap the coalesce around a nullif, the exception will take place before ```nu

[2022-01-04 20:32] huy8856 commented on #4544
I have the same problem, even though I set max row larger than my existing records in the table (my current records are over 3000, and I set my limit above it), nothing is happening, every time I request, I only get 1000 records returned to my front-end.

[2022-01-04 21:08] steve-chavez commented on #4794
Maybe the `nullif` could be applied like this:

[code]

That way the `::jsonb` casting won't fail, just tested it:

[code]

[2022-01-04 22:08] WilliamFalci opened #4797 "UPDATE RLS with custom header not work"
# Bug report

## Describe the bug

Using custom header SELECT and INSERT RLS work perfectly, but UPDATE RLS not work

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. set a custom header paramenter like: "x-hid: x-hid-value"
2. set UPDATE RLS like:
`(((current_setting('request.headers'::text, true))::json ->> 'x-hid'::text) = (hid)::text)`
3. Try

[2022-01-04 22:48] Isaiah-Hamilton commented on #4792
Instead of never pausing it should be a month until pausing. and with the $10 plan, we should have 50,000 users.

[2022-01-05 05:24] glowdex opened #4802 "Client-side exception after leaving window open"
# Bug report

## Describe the bug

After leaving the supabase UI open for a while (not sure how long), I get the message "Application error: a client-side exception has occurred (see the browser console for more information)". I'm on Firefox 95.0.2.

## To Reproduce

1. Go to https://app.supabase.io/project/[project-id]
2. Leave browser window open

## Expected behavior

No exception

## Screensho

[2022-01-05 06:41] hyunbinseo opened #4803 "timestamp type value missing 'Z' in HTTP GET requests"
# Bug report

## Describe the bug

Values of type `timestamp` is formatted as `YYYY-MM-DDTHH:mm:ss.sssZ` as shown in the table editor.

This matches the ISO 8601 format, and are in UTC time-zone (according to the trailing `Z`).

However, in HTTP GET requests
- Trailing `Z` is always trimmed
- If the `.sssZ` value is `.000Z`, `000Z` is trimmed

| Table editor | GET request |
| -- | -- |
| `2022-01-

[2022-01-05 07:05] MayankVir commented on #4739
Hi @kiwicopple, Can I make the changes according to the above UI?

[2022-01-05 08:10] bokub commented on #4758
**Update**: the URL now shows this raw JSON instead of the 502 Cloudflare error page:

[code]

The response code is still 502 though.

[2022-01-05 08:23] kangmingtay commented on #4758
hi @bokub, we're still investigating your project, so far, it seems like this is an issue with gotrue not being able to connect to the db and not an oauth issue, will update you via email when this is resolved!

[2022-01-05 08:58] Sahil-kachhap commented on #4780
Hey Isaiah, Are those buttons really for demo purpose. Since currently the Facebook social login button is working but other buttons are still showing that bug.

[2022-01-05 09:21] bokub commented on #4758
The problem seems fixed! (on my side) :tada:

[2022-01-05 09:58] phxtho opened #4807 "SSL Certificate Expiry"
# Bug report

## Describe the bug

The SSL certificate for *.supabase.co expired on 30 December 2021 and is causing failures when making requests to PostgREST and GoTrue

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Attempt sign-up
[code]
4. See error

## Expected behavior

Successful sign up

## Screenshots

![Screenshot from 2022-01-05 10-38

[2022-01-05 10:01] inian commented on #4807
Hi @phxtho, can you create a support ticket https://app.supabase.io/support/new with your project reference?

[2022-01-05 10:04] activenode opened #4808 "How do I handle Vercel preview and Supabase auth?"
Hey there. I think this one is massively important and I am unsure why it wasn't an issue before.

Nowadays most Continouous Deployments consist of automated deploys. Let it be on render.com on vercel.com or what not. Many of those create a preview URL such as `some-hash.provider.ext` .

Now supabase expects a "generic" base URL - which I would like to understand why because from an architectural

[2022-01-05 11:04] #4807 closed

[2022-01-05 11:43] riderx commented on #379
For everyone who need `updated_at`
Full procedure :
- go to extensions and allow `moddatetime`
- add a new column in the table you need it with, type `timestamptz`
- got to SQL editor and create a new one called `Set updated_at autoupdate` copy in it
[code]
 where you replace TABLENAME by the name of your table
 - run the command
 - go to your table and do a modif after few seconds you should see

[2022-01-05 12:54] activenode commented on #4808
I might be looking into this myself soon cause its so crucial but I cannot promise to get it fixed. Will check ASAP

[2022-01-05 13:12] yeganathan18 commented on #4780
Is the issue already taken? or shall I?

[2022-01-05 13:40] Sahil-kachhap commented on #4780
Actually I am currently working on this issue

[2022-01-05 14:30] saltcod opened #4809 "Auth — not able to create custom Confirm Signup message via template"
# Bug report

1. Go to /auth/templates
2. Create a custom message in the "Confirm Signup" field
3. Send yourself a signup email
4. Your custom template doesn't match the email you receive

![CleanShot 2022-01-05 at 10 58 53@2x](https://user-images.githubusercontent.com/105593/148234295-aef4eaa9-7a7a-4f4e-981b-0df2c998ae5b.png)

Thanks all!

[2022-01-05 14:58] kiwicopple commented on #4802
I think this one should be fixed now!
https://github.com/supabase/supabase/pull/4800

Can you let us know if you're still experiencing this?

[2022-01-05 15:07] kiwicopple commented on #4803
Supabase really leaves all validation to Postgres. For example, if I run this:

[code]

I get no errors -

[code]

If I understand your question (by the title), you'd prefer us to reject this `insert`? However, that would require a change in Postgres default behaviour

[2022-01-05 15:08] kiwicopple commented on #4739
cc @MildTomato you OK with this change?

[2022-01-05 15:14] kiwicopple commented on #4809
It seems that your settings didnt save to the auth server - could you try updating the template again, saving, then try again?

[2022-01-05 15:17] steve-chavez commented on #4544
Does this only happen on the Table Editor UI? Or also when using a client library like supabase-js?

[2022-01-05 15:25] huy8856 commented on #4544
I think it only happens when using a client library like supabase-js.  When I pulled data from supabase to fill into my front-end, it's only show 1000 items even though I have increased the limit inside my supabase.

[2022-01-05 18:33] steve-chavez commented on #4803
I don't have the exact snippet, but looks this could be done with a custom domain like:

[code]

You can follow the idea on this [blog post](https://justatheory.com/2007/11/postgres-timezone-validation/) to complete the function.

Then the `expired_at` column could use this domain as the type instead of the default `timestamp`.

[2022-01-05 19:07] brendanfalk opened #4814 "Allow me to invite users to my team even if they aren't registered with Supabase"
# Feature request

## Is your feature request related to a problem? Please describe.

If I want to add someone to my Supabase team, they have to already have an account. If they don't have a supabase account, I get this error message:

<img width="1436" alt="CleanShot 2022-01-05 at 11 08 37@2x" src="https://user-images.githubusercontent.com/4949076/148274612-b110503a-48ab-4173-a968-3f1d17221348.pn

[2022-01-05 19:36] WilliamFalci commented on #4797
![image](https://user-images.githubusercontent.com/36926081/148277875-2de2baee-0a1e-4692-8783-31863b3af0f8.png)
![image](https://user-images.githubusercontent.com/36926081/148277966-ff81f8b2-6176-40f7-9811-fac897860de4.png)

I tried both, not work

[2022-01-05 20:24] GaryAustin1 commented on #4797
I think you also need to set returning to minimal...  It is trying to read the table to send you back updated data, which it can't do since you changed the hid and it now violates the read RLS (select)...
So try update({hid: newHID}, {returning:'minimal'} ).eq('hid',oldHID) in addition to your 2nd RLS example.

[2022-01-05 20:35] TomasHubelbauer commented on #1856
For anyone who's looking to just dump/backup all their Supabase database data to have a local backup and do not care about the `auth` and `realtime` schema contents:

[code]

You'll be asked for the password you set during the setup of your Supabase project. If you don't have `pg_dump`, do not want to install full Postgres locally and are a macOS user, look into https://postgresapp.com/ (https://g

[2022-01-05 23:33] MildTomato commented on #4739
Yea it's ok :)

I'm going to change it to use 'Sign in' as the label though so we are consistent with Supabase Studio auth labeling style.

As a note going forward, we will perhaps start supporting auth cookies across all our websites so we can show more personalized nav depending on whether a user is logged in or not, although that requires a bit more discussion before we look into that - especia

[2022-01-05 23:41] MildTomato commented on #4808
Tagged @awalias and @kangmingtay as there's some discussion here about using wildcards as the base URL as a possible solution to supporting multiple preview URLs from vercel/netlify.

[2022-01-06 01:22] hyunbinseo commented on #4803
@kiwicopple I was hoping for a more consistent behavior.

According to https://github.com/supabase/supabase/discussions/2839, users are using `new Date().toISOString()` to generate Postgres timestamp values (not timestamptz).

Since this method returns a `YYYY-MM-DDTHH:mm:ss.sssZ` formatted string - a format also used in the Supabase table editor's `timestamp` type - only allowing one of the follo

[2022-01-06 04:13] Isaiah-Hamilton opened #4817 "Update latest announcements in navbar"
# Feature request

## Is your feature request related to a problem? Please describe.

Update latest announcements in navbar.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Good for first t

[2022-01-06 05:18] MayankVir commented on #4739
Thanks, @MildTomato, I am gonna do the changes asap according to the above UI with 3 buttons finally. ( Star, Login, Start ). Does this sound good?

[2022-01-06 05:27] jorgemndoza commented on #4792
The only reason I haven’t migrated some of my client apps is because I’ll have to increase their monthly fee.

[2022-01-06 05:34] activenode commented on #4808
Okay so one thing I found out so far is that _theoretically_ the supabase repo doesn't need any adaption. It would be nice from a UI perspective but technically supabase so far seems to only save the strings.

Now the actual check is performed within `gotrue` . See here  https://github.com/activenode/gotrue/blob/8ba49df7c7bbcc87c9d5b211a32cb5aa17db231d/api/helpers.go#L127

[2022-01-06 05:40] activenode commented on #4808
[code]

Do you see any problem with adapting this to match Wildcards? I mean it would be a major change. We could instead introduce flags but those flags would need to be mapped from supabase forward to gotrue (e.g. `switch-on wildcards`) which I find kinda unnecessary to maintain.

I'd either go for

1. Breaking Change: The For Loop checks for wildcard patterns
2. Adding yet another field: `confi

[2022-01-06 06:48] ijaspreetsinghh commented on #4544
@steve-chavez for me, it's not how m reading the data, whether I'm looking in supabase table or fetching data for the frontend, it's always a max of 1000 rows. I'm using https://pub.dev/packages/supabase for fetching data for flutter. though i have max rows limit set to 5000 it's still 1000 max: each time.

[2022-01-06 07:41] MayankVir commented on #4739
Hi @kiwicopple, Please review the changes in the PR #4821

[2022-01-06 12:14] Sahil-kachhap commented on #4780
@kiwicopple I have added a badge to show that it is a demo for auth services. So that at least for now users would have an idea that it's a demo. But the redirect issue still persists. Can you tell me where does all redirect kinds of stuff are getting handled?
![supabase screenshot](https://user-images.githubusercontent.com/54017876/148381445-d04732e7-a214-4f49-bc08-3129c6dd8cd2.png)

[2022-01-06 12:20] activenode opened #4829 "On the database view `databases/table` one cannot distinguish tables via UI with big screens"
# Chore

## Underlying problem description with proposal

On my screen (it's not even that wide) the table view e.g. looks like this with a lot of tables above and below
![image](https://user-images.githubusercontent.com/9058762/148381973-7733c6b9-9435-4a8f-a19c-1c8c1b4cc2ff.png)

From a viewpoint of Accessibility and Usability not only the icon buttons to edit are small but they are also visually

[2022-01-06 12:53] pryme0 opened #4832 "batch delete"
### Discussed in https://github.com/supabase/supabase/discussions/4831

<div type='discussions-op-text'>

<sup>Originally posted by **pryme0** January  6, 2022</sup>
Is there a way to do batch delete with supbase?
Like i pass in an array containing id's of records i want to delete  and it runs the operation for me</div>

[2022-01-06 12:53] chipilov opened #4833 "Grant CONNECT permission to authenticator, supabase_storage_admin and supabase_auth_admin roles explicitly so it does NOT rely on default permissions of the PUBLIC role"
# Chore

## Describe the chore

In order to tighten the security of a PostgreSQL instance, some suggest to revoke the permissions for the database and 'public' from the PUBLIC role and only grant privileges to specific roles (e.g. see https://wiki.postgresql.org/images/d/d1/Managing_rights_in_postgresql.pdf,  '6.9 Securing the default installation').

However, in the instances provided by Supabase

[2022-01-06 13:24] rphlmr commented on #4268
The type is not updated on 1.29.1 but it works with `email_confirm`, thanks !

[code]

[2022-01-06 14:39] GaryAustin1 opened #4835 "Supabase default of nullsLast can cause performance issues with ascending:true."
# Bug report

## Describe the bug
I'm entering this as a bug as it is not expected default behavior, but it could be feature request or documentation enhancement.

There can be a performance issue for large tables with an index and using limit when ordered by descending because of default choice enforced by postgrest.js.

In Postgres  NULLS FIRST is the default for ORDER BY DESC and NULLS LAST is

[2022-01-06 14:44] kiwicopple commented on #4814
Hey @brendanfalk 👋

Agreed. I think we should go with `1` as I can see us scattering "invites" to many other parts of the app

[2022-01-06 14:50] kiwicopple commented on #4817
Nice - maybe we can link to

- Launch Week 3
- Series A fundraise

?

[2022-01-06 14:52] kiwicopple commented on #4792
Unfortunately we have some infra costs which are fixed, so reducing everything down to 30% doesn't reduce our costs to 30% 😓

Regardless, this feedback is well received - we will take it on board and see what we can do. I'll close this now, but feel free to comment or turn this into a Discussion

[2022-01-06 14:52] #4792 closed

[2022-01-06 14:57] chipilov commented on #4758
I am currently experiencing a similar issue when trying to sign-up new users using supabase.auth.signup() with E-mail auth. The response I get is 502:
[code]

[2022-01-06 14:59] kiwicopple commented on #4832
definitely:

[code]

[2022-01-06 14:59] #4832 closed

[2022-01-06 15:07] kiwicopple commented on #4833
Thanks for the suggestion

i.e. `GRANT CONNECT ON DATABASE postgres TO anon;`

right?

[2022-01-06 15:07] kiwicopple commented on #4833
btw - thanks for all these issues you're creating. They are very high-quality suggestions

[2022-01-06 15:07] imskr commented on #4794
Can I work on this issue?

[2022-01-06 15:09] kiwicopple commented on #4835
cc @steve-chavez - thoughts? I'm happy to document this one if you prefer

[2022-01-06 15:11] kiwicopple commented on #4758
hey @chipilov can you please open a ticket on https://app.supabase.com/support/new ? We can check if it's your specific instance

[2022-01-06 15:13] kiwicopple commented on #4794
yes pelase @imskr !

[2022-01-06 15:15] chipilov commented on #4833
Actually, I think it should be this (at least that's what worked for me when I revoked PUBLIC's permission for the DB):

[code]

I assume that the ```anon``` and ```authenticated``` do NOT need explicit permissions to connect to the db, because the connection from PostgREST is actually executed with the ```authenticator``` role and then it just switches to ```anon``` or ```authenticated``` once it

[2022-01-06 15:19] chipilov commented on #4758
@kiwicopple Yep, already opened one, just wanted to mention it here, too in case it's helpful for the investigation.

[2022-01-06 20:14] Ic3m4n34 commented on #4544
Same problem here

[2022-01-06 21:04] #4797 closed

[2022-01-06 21:09] WilliamFalci opened #4841 "Supabase Studio - Delete user from UI not work"
# Bug report

## Describe the bug

(Docker Self-Hosted)
Clicking delete user on UI an success toast appear, the datatable delete the proper row, but, at refreshing of the page is always there

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to Supabase Studio
2. Click on Delete User
![image](https://user-images.githubusercontent.com/36926081/1

[2022-01-06 22:14] w3b6x9 opened #4842 "Realtime Row Level Security Requires PostgREST 9 Variable Access Syntax on PG12 and PG13"
# Feature request

Currently, Realtime RLS only supports the `authenticated` role and user `id` (`sub`) and `email`.

Soon, Realtime RLS will enable anyone to use any role (e.g. `authenticated`, `anon`) and any field in JWT claims in their RLS policies. However, Realtime RLS is only compatible with PostgREST 9's syntax of accessing variables in JWT.

If you have a project using PostgreSQL 12 or Po

[2022-01-06 23:13] TomasHubelbauer commented on #4842
@w3b6x9 how do I tell what sort of Postgres version is my Supabase project using?

[2022-01-06 23:51] olirice commented on #4842
on a sql prompt you can run
[code]
to get the postgres major and minor version

[2022-01-07 06:57] joshenlim commented on #4544
hey everyone! sorry for the late response for this but we've found the issue and are working on getting a fix out for this, will keep this ticket updated!

[2022-01-07 09:02] kachar commented on #4842
Just tested the given scenario on PG 13.3 and it looks that if the claims are used via `auth.uid()`, `auth.email()` or `auth.role()` functions then nothing more is expected as they wrap the `current_setting()` accordingly.

https://github.com/supabase/supabase/blob/9777ddea2e1d4ac9f35004a7ab83f4868cd92cd5/docker/volumes/db/init/01-auth-schema.sql#L92-L123

Thanks for the update on this topic.

[2022-01-07 09:44] sreekeshiyer opened #4850 "Supabase Storage Error: 'column buckets.public does not exist'"
# Bug report

## Describe the bug

When I click on _Storage_ in Supabase Dashboard i.e. get to the /storage/buckets route, I get a prompt on the top right that says `column buckets.public does not exist`.

When I try to create a bucket using the UI, I get a similar error.

With some help thanks to ktosiek#7697 in the Supabase Discord Server, I checked the **Storage** Schema in the Table Editor and

[2022-01-07 10:00] imskr opened #4851 "Add section "Build in Public" in DEVELOPERS.md file"
# Improve documentation

- I have recorded a video while contributing to Supabase.
- @kiwicopple replied to my tweet and suggested to add the video link here

![Screenshot_20220107_150021](https://user-images.githubusercontent.com/42062622/148523375-9b156139-5a22-4d6e-b24b-5e2fc4f2cc62.png)

- Link to Tweet: https://twitter.com/kiwicopple/status/1478823923940737026

/cc @kiwicopple

[2022-01-07 10:57] awalias commented on #4850
hey @sreekeshiyer thanks for the detailed write up, can you please submit a support ticket at https://app.supabase.io/support/new and reference this issue - this one seems specific to your project

can you also put in the ticket some info about whether your project was ever paused/restored?

will close in favor of support ticket 👍

[2022-01-07 10:57] #4850 closed

[2022-01-07 12:01] kiwicopple commented on #4833
ah yes - you're 100% correct. Thanks for catching that.

We'll add this to the platform and roll it out across the fleet 👍

[2022-01-07 12:08] #4817 closed

[2022-01-07 12:15] #4851 closed

[2022-01-07 12:45] AJamesPhillips opened #4858 "Sign up emails being marked as spam"
# "Bug" report

## Describe the bug

Sign up emails being marked as spam

## To Reproduce

Sign up for a new supbase account using an email on a google server

## Expected behavior

Should not be spam

## Screenshot

![Confirm_Your_Signup_-__-_centerofci_org_Mail](https://user-images.githubusercontent.com/526509/148545942-fec00436-df79-4673-a653-e4d5b397c7e5.png)

[2022-01-07 12:50] kiwicopple commented on #4858
The most immediate workaround for this is to add your own SMTP provider @AJamesPhillips.

We'll look into this in the meantime

[2022-01-07 14:26] edgarasben opened #4859 "Supabase web app crashes (on related entry modal open)"
# Bug report

## Describe the bug

Supabase web client crashes when trying to open a related table entry modal.

## To Reproduce

1. Open `subscriptions` table
2. Click on one of the related user IDs (referencing `user_details` table): ![image](https://user-images.githubusercontent.com/725324/148557462-ef61691b-1070-49d0-b6b0-581aab009b48.png)
3. A modal tries to open for a split second:
![image](

[2022-01-07 17:44] yustarandomname opened #4865 "Create functions that returns an array"
# Feature request

## Is your feature request related to a problem? Please describe.

Today I was trying to write a postgres function with the supabase function editor, but discovered that it is currently not possible to return an array.

## Describe the solution you'd like

Add a toggle button labeled something like: `is array`.
Like the toggle button for creating a new column in the table editor

[2022-01-08 00:01] prescience-data commented on #4739
closed with https://github.com/supabase/supabase/pull/4821

[2022-01-08 00:01] #4739 closed

[2022-01-08 00:26] edgarasben commented on #4859
Also reported this via email support. This is being worked on right now.

[2022-01-08 04:18] nitinr010 opened #4870 "Cross error when update Data"
Cross error when update Data

when we want to update data in supabase then we facing cross error

![image](https://user-images.githubusercontent.com/93132632/148631120-0b3980f4-89d1-4d74-a0f3-7ecd2c047a46.png)

[2022-01-08 07:43] activenode opened #4872 "Transactional Update / Upsert / Insert with relationships"
## Preamble
In the referenced discussion it was mentioned that currently it is not possible to do transactional changes to the database, which is a common case in a lot of DB systems out there.

Obvioulsy, one could workaround it via RPC / Functions but workarounds shouldn't be considered a good solution.

## Problem Description
If you are selecting data from related tables you can do so via `sele

[2022-01-08 08:09] activenode opened #4873 "Defining a Function in SQL view and executing it leads to empty result (plv8 language)"
# Bug report

## Describe the bug

When you use the SQL Editor View and define a function via `create or replace...` to test if a function works properly and then immediately execute the function via SELECT it will say "no rows returned" although this might be completely false. Probably it is somehow only taking the result of the first statement (function definition).

Note: I am using plv8 langua

[2022-01-08 09:06] jarle opened #4874 "Enable "select account" in Microsoft OAuth flow"
# Feature request

## Is your feature request related to a problem? Please describe.

(Using the JS supabase client)
When signing in with Microsoft, the OAuth flow defaults to logging in with the last active Microsoft account.
This is a problem if the last active user is in a Microsoft directory that has not whitelisted the application, as they will simply be greeted with an error screen on the Mi

[2022-01-08 16:15] glowdex commented on #4802
Just happened again unfortunately :( left window open and clicked on another page. Got the client side error, but this time it was fixed after I refreshed!

[2022-01-08 17:28] WilliamFalci opened #4879 "Applying custom JWT - ANON_KEY - SERVICE_ROLE_KEY get error on authentication / requestes"
# Bug report

## Describe the bug

Applying custom JWT - ANON_KEY - SERVICE_ROLE_KEY get error on authentication / requestes

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Using the [JWT Generator](https://supabase.com/docs/guides/hosting/overview#api-keys) Generate new ANON KEY and SERVICE_ROLE
2. Apply the new JWT, ANON_KEY and SERVICE_ROLE t

[2022-01-08 19:49] edwardz8 commented on #4464
Having the same issue

[2022-01-09 02:57] Isaiah-Hamilton opened #4882 "Docs: React Native quick start"
# Improve documentation

Create a React Native quick start.

## Describe the problem

There is no documentation for a React Native quick start.

## Describe the improvement

A React Native quick start.

## Additional context

<img width="597" alt="Screen Shot 2022-01-08 at 9 52 58 PM" src="https://user-images.githubusercontent.com/70828596/148667384-18f854c9-b326-437f-ac03-64f91e0817c9.png">

[2022-01-09 03:18] jperestrelo opened #4883 "Permissions denied for table using API but works with SupabaseClient"
# Bug report

## Describe the bug

When trying to access data from some API endpoints, like this: /rest/v1/leads?select=* I get this error:
[code]

when doing the same using JS client like this:
[code]
I successfully get the data. **Although enabling or disabling RLS has no impact.**

I'm using the same anon API key in both situations.

## To Reproduce

I am creating these tables using the followi

[2022-01-09 12:10] Jujubalandia opened #4887 "Docker /Composer images for arch/raspberry"
# Supabase running on Raspberry Pi

## Using docker and docker composer to run Supabase isn't working

Would be nice to allow users to use Supabase with this popular platform

[2022-01-09 12:49] jperestrelo commented on #4883
**Update**
I think I understand what's going on... when creating from the admin UI it creates a set of privileges on the table. While my function is not doing it.

So I'm guessing that there is a lot going on under the hood when creating a table from the UI. There is any recommended way that I can create a table using functions and maintain the same functionalities as if it was being created in th

[2022-01-09 14:03] wiesson opened #4888 "Supabase dashboard UI does not notice being logged out"
# Bug report

## Describe the bug

It looks like that the dashboard UI is not aware if an access token has been expired. It happens multiple times a day to me that the token expires and I only notice it because the links aren't working and the page is not responsible.

I also asked in the supabase Discord and it looks like other people have this issue as well.

## To Reproduce

1. Create a new pro

[2022-01-09 15:07] MisterJimson opened #4891 "flutter-user-management example is outdated and requires changes to run following readme"
# Bug report

## Describe the bug
flutter-user-management example requires changes in the iOS and Android projects to run properly. The biggest issue is the iOS 14+ Plist changes for Flutter developers, which can be tricky to understand if you are new to Flutter / iOS (https://docs.flutter.dev/development/add-to-app/ios/project-setup#local-network-privacy-permissions)

## To Reproduce

1. Clone th

[2022-01-09 15:08] MisterJimson commented on #4891
I'm going to take a look at putting up a PR for this issue.

[2022-01-09 15:43] activenode opened #4892 "Database Functions: plv8 Language is missing when creating Function in UI"
# Bug report

When going to Database -> Add a new Function (https://app.supabase.io/project/YOUR_PROJECT/database/functions) then you can select between the languages `[sql, pgsql]`. However if there are other languages isntalled via Extension such as `plv8` they are not listed.

![image](https://user-images.githubusercontent.com/9058762/148689558-78a9622c-ba18-4b4e-a16b-944bfb8dea2f.png)

[2022-01-09 16:05] activenode opened #4893 "Allow to regenerate secrets"
# Feature request

## The Problem: Security

Security is a crucial point for Supabase to become an industry leading Firebase alternative. Now without the possibility to regenerate secrets Supabase can be considered partially _unsafe_ .

Reason: There is many use-cases but a simple one would be accidentally clicking on the reveal button e.g. in a Video Tutorial or whatever and suddenly your secret

[2022-01-09 17:10] chipilov commented on #4758
In my case, it seems like the culprit is custom SMTP - as soon as I enable it, I start getting the error and then even if I disable custom SMTP, I continue getting the error.

@kiwicopple Should I open a separate issue for this?

[2022-01-10 10:35] vfpointer commented on #4550
did anyone find a solution?
In my case apikey-request goes to localhost,
but the request sould go the url site from .env

[2022-01-10 11:40] rotemrevivo91 opened #4905 "Realtime DELETE updates not being fired"
# Bug report

## Describe the bug

listening to DELETE events:
[code]
Deleting a row in the 'blogPosts' table (manually from the Supabase Studio) doesn't fire a DELETE event in the frontend.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a DELETE listener for a table
2. Go to the Supabase Studio
3. Delete a row from the table
4. No DELET

[2022-01-10 11:46] IljaDaderko opened #4909 "Don't throw 'User not found' in resetPasswordForEmail"
# Bug report

## Describe the bug
Less of a bug and more of a security concern. Right now `supabase.auth.api.resetPasswordForEmail` throws a "User not found" error when auth account doesn't exists in db. This can be abused to test list of emails agains auth db in order to figure out if particular email is a user of the app and launch phishing attacks against them.

A clear and concise description

[2022-01-10 11:59] nkotlyarov opened #4910 "Add psql command to connection strings section in database settings"
We show Postgres URI as "PSQL connection string".
It is possible to connect from psql using URI, but:

1. This psql connection option is not documented so many users may not know about it.
2. It makes a password visible when you paste it.
3. It does not work for some passwords (I have just accidentally discovered that).

I would like to have a copiable psql command like the following:

`psql -h db

[2022-01-10 12:37] Isaiah-Hamilton commented on #4882
Same issue as #4702

[2022-01-10 12:37] #4882 closed

[2022-01-10 15:05] kiwicopple commented on #4910
👍

to be added as a new tab in this section

![image](https://user-images.githubusercontent.com/10214025/148788191-8dd74407-d61e-4e9c-b434-e11eb5edd1d4.png)

[2022-01-10 18:16] saltcod commented on #4809
That worked! Thanks @kiwicopple !

[2022-01-10 18:16] #4809 closed

[2022-01-10 19:40] w3b6x9 commented on #4905
@rotemrevivo91 did you add the table to your Database Replication in Supabase Studio?

[2022-01-10 19:53] milanvanschaik commented on #4808
@activenode I've made a PR to get it started: https://github.com/supabase/gotrue/pull/334

[2022-01-10 22:17] Isaiah-Hamilton commented on #4702
Working on a React Native quick start.

[2022-01-11 02:02] timuster commented on #4464
Turning off RLS had no effect - still running into the issue randomly.

[2022-01-11 02:07] soedirgo opened #4916 "update custom schema docs with permissions SQL"
# Improve documentation

## Link

https://supabase.com/docs/reference/javascript/initializing#api-schemas

## Describe the problem

Currently we have a section for querying custom schemas, but we also need the proper permissions set up so that PostgREST can access it.

## Describe the improvement

Add a note to run the following:
[code]

[2022-01-11 03:01] phamhieu commented on #4550
@lesliesibanda @vfpointer can you create new issues with related information. Your problems seem to be different with the one on this issue

[2022-01-11 06:55] imskr commented on #4910
Can I take this up @kiwicopple ?

[2022-01-11 08:29] rotemrevivo91 commented on #4905
@w3b6x9 Yes, and all operations are enabled as well.

Also, when listening to all events:
[code]
The same is happening.
I still didn't try to INSERT/DELETE from a table programmatically (using supabase-js) but I will test that soon.

[2022-01-11 09:45] rotemrevivo91 commented on #4905
https://user-images.githubusercontent.com/25552777/148919196-3409a76e-efe4-4c92-a099-3ed0161b2ee9.mov

A short screen capture of what's happening.

[2022-01-11 10:01] activenode commented on #4808
I'd personally opt for the change done by @milanvanschaik  (as stated in my previous comments) but we would definitely need supabase to clarify on the potential concerns.

[2022-01-11 12:02] burmecia commented on #4873
I think that's multi-statement queries, pg-meta hasn't supported it yet, but there is already an issue about it https://github.com/supabase/postgres-meta/issues/143

[2022-01-11 12:25] activenode commented on #4873
Hey @burmecia . I'd rather close the related issue or rephrase it. Normally an issue should contain proper description which supabase/postgres-meta#143 does not. But yeah, probably related.

[2022-01-11 12:55] burmecia commented on #4909
This is a security defect and not only returning success anyway, the API should response in constant time to mitigate [user enumeration attack](https://owasp.org/www-project-web-security-testing-guide/stable/4-Web_Application_Security_Testing/03-Identity_Management_Testing/04-Testing_for_Account_Enumeration_and_Guessable_User_Account.html). The source code https://github.com/supabase/gotrue/blob/m

[2022-01-11 15:07] stephanbogner commented on #4883
**I am not sure if my issue is related:**
Even if I disable RLS I can't update a row on a certain table. On other tables it works perfectly.

**I am using:**
[code]

**I always get:**
`{message: 'permission denied for table http_request_queue', code: '42501', hint: null, details: null}`

**The weird thing is:**
I am pretty sure it worked before the holidays. In the meantime my instance got paused

[2022-01-11 15:15] stephanbogner commented on #4883
**Ok ... very weird. I even get this error if I try to edit the data in the UI:**

<img width="740" alt="Screenshot 2022-01-11 at 16 14 35" src="https://user-images.githubusercontent.com/7897006/148969239-4bf0ea69-6366-4fb6-8874-8c891a7d28d5.png">

<img width="700" alt="Screenshot 2022-01-11 at 16 13 32" src="https://user-images.githubusercontent.com/7897006/148969130-e5c9296e-b789-45e4-a5ae-8c9c8

[2022-01-11 21:43] michi-zuri opened #4924 "Could you please add Orcid as a login method?"
### Discussed in https://github.com/supabase/supabase/discussions/4915

<div type='discussions-op-text'>

<sup>Originally posted by **michi-zuri** January 10, 2022</sup>
Hi

I'd like to publish an app that other researchers can contribute to without signing up to anything, just using the orcid credentials they have for publishing to journals. Could you please add Orcid to the OAuth providers?

htt

[2022-01-12 00:54] w3b6x9 commented on #4905
@rotemrevivo91 this is most likely specific to your project. Can you please email support@supabase.io with your Supabase project ref? I can investigate.

[2022-01-12 02:31] edelah opened #4931 "Reset password link=> error: User Not found"
# Bug report

## Describe the bug
When I click for the first time on the Reset password link, I am redirected to the correct URL but with  a fragment parameter, error_description=User+not+found, instead of an access_token and type=recovery.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1) I received this link at me email adress:

https://eemwlekn

[2022-01-12 03:20] Pulkit3234 commented on #3985
@kiwicopple Can i work on this issue if nobody is currently working on it?

[2022-01-12 03:31] Isaiah-Hamilton commented on #3985
@Pulkit3234 Would be awesome for you to work on this but the code is not open sourced yet.

[2022-01-12 03:45] Pulkit3234 commented on #3985
@Isaiah-Hamilton Yes, no problem in that case.

[2022-01-12 05:18] samerbahri98 opened #4934 "Why anyone can access my supabase studio without login? (docker)"
# Feature request

## Is your feature request related to a problem? Please describe.

After running supabase from the docker-compose file, it runs perfectly on port 3000. However

1. literally anyone who has access to my network can have access to the dashboard without login and can modify anything
2. I cannot create or manage multiple projects with supabase studio

## Describe the solution you'd

[2022-01-12 07:25] #4740 closed

[2022-01-12 07:57] #4841 closed

[2022-01-12 08:06] #4891 closed

[2022-01-12 08:38] kiwicopple commented on #4934
Hey @samerbahri98 - the docker+studio is "BYO security". There is no "management database" for the the Dashbaord for us to add auth.

I have added this note to the docs here - https://supabase.com/docs/guides/hosting/docker#securing-the-dashboard

We will look at adding something very basic, but ultimately you should _stlll_ implement some sort of VPN/other auth since this is your Database (eg: ht

[2022-01-12 08:38] #4934 closed

[2022-01-12 08:56] dragarcia commented on #4464
Hi all 👋

In order to get a more helpful error response, we have recently updated our JS libraries (to get in the fixes for this [issue](https://github.com/supabase/postgrest-js/issues/241) in the `supabase/postgrest-js` library via this [PR](https://github.com/supabase/postgrest-js/pull/242)). Would you mind taking the following steps to upgrade it:
1. Run `npm run update` within your directory.

[2022-01-12 11:20] kiwicopple opened #4939 "Basic login on studio"
# Feature request

## Is your feature request related to a problem? Please describe.

Add a _very_ basic login screen to the OSS screen

## Describe the solution you'd like

Let's pull this out into a new JSON config file:

https://github.com/supabase/supabase/blob/master/studio/pages/api/profile/index.ts

something basic like this:

[code]

The users will be able modify this themselves. The confi

[2022-01-12 11:30] rotemrevivo91 commented on #4905
Hi @w3b6x9 i'm running a local docker test deployment. I can try and re-build the image and test it again. Or is there a way you could still help me with a local deployment? Thanks!

[2022-01-12 12:55] RubenMateus commented on #640
any updates on this? can we do like.
example:
`*.vercel.app` <- for testing purposes

[2022-01-12 14:26] Shubh28698 opened #4944 "Adding emojis to headings to make the landing page attractive"
# Improve documentation

link to the page which needs improvement : https://github.com/supabase/supabase

Currently on the landing page there is only text, so we can improve it by adding emojis to the headings.

## Describe the improvement
we can improve it by adding emojis to the headings, so that it looks great and attractive and interactive

for eg: documentation ->> documentation📄

let me know

[2022-01-12 14:41] kiwicopple commented on #4802
OK - I will close this for now, but if you see it again feel free to comment and we can dig into it

[2022-01-12 14:41] #4802 closed

[2022-01-12 14:43] kiwicopple commented on #4464
I'll close this for now as this issue should be solved on the latest library version

[2022-01-12 14:52] kiwicopple commented on #4887
Hey @Jujubalandia - thanks for dropping in! If you can provide some more detail we'll be happy to dig into this. Could you please provide some steps to duplicate the issue and any errors you're facing?

I'll close this for now but feel free to comment and I can reopen

[2022-01-12 14:56] kiwicopple commented on #4892
Adding this to the "Contributors" board if anyone wants to help. Ideally plv8 should only show up if it's enabled (or we can have a dropdown where it is "greyed out" when plv8 is disabled)

[2022-01-12 14:56] kiwicopple commented on #4893
Coming soon!

[2022-01-12 16:24] noahKind opened #4945 "Enable Google sign in with credentials to enable use of One Tap"
Currently Google login is only supported with a pop up provider. If you could pass optionally pass in a credential instead you could enable google one tap https://developers.google.com/identity/gsi/web/guides/overview

[2022-01-12 16:56] FatumaA commented on #4780
It seems from the discussions above, you can have the button click on the icons show a toast/.pop up with a message showing users it's a demo instead of the redirect it is currently doing

[2022-01-12 19:41] kiwicopple commented on #4905
hey @rotemrevivo91 - is this code public? That would be very helpful for us so that we can help you to debug it

[2022-01-12 19:42] kiwicopple commented on #4909
Tranferring this to the Auth repo 👍

[2022-01-12 19:42] kiwicopple commented on #4910
yes please @imskr !

[2022-01-12 19:49] kiwicopple commented on #4924
Moving to the Auth repo!

[2022-01-12 19:55] kiwicopple commented on #4944
Hey @Shubh28698 - this one is a matter of preference. While I do appreciate emojis, I think they are generally better outside of documentation (and great in comments 😄 )

I'll close this, but if we decide to add them in the future I'll make sure we credit you :)

[2022-01-12 19:55] #4944 closed

[2022-01-12 20:40] w3b6x9 commented on #4905
@rotemrevivo91

I see. Like @kiwicopple mentioned, please share your code if it's public. Can you please share your configuration variables for your local docker deployment?

[2022-01-12 21:42] t1v1 opened #4956 "RPC function should bypass RLS"
# Feature request

## Is your feature request related to a problem? Please describe.

I'm using invite codes to keep [`thavma`](https://github.com/t1v1/thavma) in closed beta. I have a `codes` table in Supabase with RLS enabled:

[code]

These RLS rules prevent users from simply `select id from codes` which would give them a long list of invite codes (the `codes.id` col is the invite code). But, I

[2022-01-12 21:53] rotemrevivo91 commented on #4905
I can create a codesandbox project of my frontend tomorrow (I'm on EU time). But, basically it's just a fresh install of Nuxtjs.
For my docker deployment, i just pulled the repository (it's up-to-date) and changed the default port of the studio and the default postgres password:

[code]

Thanks a lot for the help @w3b6x9  @kiwicopple

[2022-01-12 22:14] iAmWillShepherd opened #4957 "Doc search sometimes link to non-existnent pages"
# Improve documentation

## Link

https://supabase.com/docs/blog/2021/12/01/realtime-row-level-security-in-postgresql#realtime-design

## Describe the problem

I was searching for how to use the real-time API live, on stream, when I ran into this. The doc is missing; it may be a blocker, but I figured I'd raise the issue before trying to find a workaround.

## Describe the improvement

Create the

[2022-01-12 22:20] GaryAustin1 commented on #4956
Just add "security definer" to your function.  It then runs with permissions of the author versus the user.

[2022-01-12 22:26] t1v1 commented on #4956
I also just realized that my new RLS rules don't allow update properly:

[code]

This won't allow the update that I need to perform as my update includes a query which thus also requires `select` access:

[![image](https://user-images.githubusercontent.com/93789775/149232406-a28e235c-cf6d-4ef9-976c-c88d0acee401.png)](https://www.postgresql.org/docs/current/sql-createpolicy.html)

But I can't do wh

[2022-01-12 22:37] GaryAustin1 commented on #4956
So update has both a USING and a CHECK component to it.  The USING for the UPDATE does not have to be the same as USING for the select.

[2022-01-13 03:21] pixelsaurus commented on #4758
I am also experiencing this error when attempting to use only Phone auth as the signIn/signUp method.

[2022-01-13 05:24] RyKilleen commented on #4332
Some documentation around needing to add `?pgbouncer=true` to the end of the connection string would help go a long way as well!

I need to use it with Prisma, and had to do some decent searching to find the solution.

[2022-01-13 05:41] samerbahri98 commented on #4934
Yeah that pretty much answers my question. I'll see if I can work out something and share it with everyone in the future but that's not a promise.

As of currently I'll just use zerotier as a vpn.

Thank you for taking the time to answer my question :)

[2022-01-13 05:42] #4931 closed

[2022-01-13 05:43] edelah commented on #4931
Seems the access_token is send in a fragment, not a query parameter. I close this issue.

[2022-01-13 06:19] jeevanantham123 opened #4962 "supabase/auth"
We have Auth users table where we are storing logged in user details. Is there any way to edit the table like adding particular columns to the same auth users table and querying it. Eventhough i added a column, supabase client not returning that column while querying. I have tried model updation and so on

[2022-01-13 07:07] inian commented on #4957
Duplicate https://github.com/supabase/supabase/issues/4317

[2022-01-13 07:07] #4957 closed

[2022-01-13 07:11] jtkeyva commented on #4633
Yep, I forgot to add folder name and it created an empty folder that I cannot delete or rename

[2022-01-13 07:11] inian commented on #4905
Can you set your table replica identity to full as mentioned [here](https://supabase.com/docs/guides/database#realtime) @rotemrevivo91?

[2022-01-13 09:54] eMeRiKa13 commented on #640
It would be awesome!

[2022-01-13 10:00] kiwicopple commented on #4956
Hey @t1v1 - I'm going to close this one as Gary has answered it here

eg:

[code]

If you have any questions about the way PG auth works perhaps you can add it to the Discussions or our Discord? 🙏

[2022-01-13 10:06] kangmingtay commented on #4962
Hi @jeevanantham123, the auth users table is actually maintain by supabase and the schema shouldn't be modified because gotrue (supabase-auth) relies on it heavily. If schema changes need to be made, you can modify your own `public.users` table and add the id of the `auth.users` table as a foreign key.

[2022-01-13 12:16] chipilov opened #4968 "Improve docs for enabling extensions"
# Improve documentation

## Link

[Extensions](https://supabase.com/docs/guides/database/extensions)

## Describe the problem

The documentation provides an example of how to enable extensions via SQL: ```create extension pgtap;```

However, there seem to be 2 issues with this example:
 - In order to ensure that the extension is installed in the ```extensions``` schema, the statement should be ```

[2022-01-13 12:29] chipilov commented on #4833
It seems that an explicit grant also needs to be given to the ```supabase_auth_admin``` role, otherwise ```signUp```/```singIn``` methods fail - I assume ```supabase_auth_admin``` is used by GoTrue to talk to the db.

[2022-01-13 23:01] FurkanToprak opened #4977 "SQL is under documented in general but especially for advanced functions"
# Improve documentation
Increase documentation for wrappers of more complex SQL queries (e.g. count)
## Link
https://supabase.com/docs/reference/javascript/select
Add a link to the page which needs improvement (if relevant)

## Describe the problem
Not enough database query schema information.
Is the documentation missing? Or is it confusing? Why is it confusing?

## Describe the improvement
There

[2022-01-14 00:20] w3b6x9 commented on #4905
@rotemrevivo91 hmm, everything looks good so this is an odd one. might be related to https://github.com/supabase/realtime/issues/213 in some way. since you're running it locally can you try the latest realtime image: `supabase/realtime:v0.20.2`. we might have fixed the issue already.

[2022-01-14 01:53] Isaiah-Hamilton commented on #2214
@harshcut are you still working on this?

[2022-01-14 03:52] harshcut commented on #2214
I am getting a `RangeError` with `Maximum call stack size exceeded`. It seems like a known ajiv (ajv-validator/ajv#802) issue.

[2022-01-14 07:21] jeevanantham123 commented on #4962
Hi @kangmingtay , can i query `auth.users ` table using this [](https://supabase.com/docs/reference/javascript/select#query-foreign-tables) ? if i use **id** as a foreign key.

[2022-01-14 09:02] inian opened #4991 "Enable RLS by default for new tables"
For tables created from the dashboard, RLS is disabled by default.

![image](https://user-images.githubusercontent.com/2155545/149487648-fb68b680-5970-4e22-93eb-aef391390bb9.png)

Enabling it by default will improve security. We need to balance this with users forgetting to add a RLS policy and not getting any data back from the API. A good compromise would be to have an easy way to create a selec

[2022-01-14 09:04] inian opened #4992 "Improve RLS description in table create page"
The impact of not enabling RLS needs to be made clear. Something along the lines of “If RLS is not enabled, anyone with the anon key can modify and delete your data”.

[2022-01-14 09:43] rotemrevivo91 commented on #4905
I can confirm that after i re-cloned the repo today the issue was gone and i could listen to DELETE events today.
realtime image version: `image: supabase/realtime:v0.19.3`.

@w3b6x9 i'm not really sure why the issue is solved but i guess that you guys fixed it behind the scenes. Although, it might just have been a weird bug on my end and i just needed to start from fresh again). Anyways, thanks a

[2022-01-14 09:47] kangmingtay commented on #4962
yeah, you can

[2022-01-14 09:47] #4962 closed

[2022-01-14 10:00] kangmingtay commented on #4808
Hi @milanvanschaik and @activenode, apologies for the late reply, the main reason why we don't accept wildcards or arbitrary paths in the redirect url list is due to [this reason](https://github.com/supabase/gotrue/issues/123#issuecomment-871214361).

As for the workaround, let me discuss with the team further on how we can decouple the mobile deeplinks from the standard redirect urls and get back

[2022-01-14 18:06] YajanaRao opened #4998 "Sending `appHash` to `signIn` for twilio based phone login."
# Feature request

I am using [react-native-otp-verify](https://www.npmjs.com/package/react-native-otp-verify) package for automatic sms verification. I need to pass the app hash for it to work based on the documentation here https://www.twilio.com/docs/verify/api/verification.

## Describe the solution you'd like

Adding `appHash` parameter along with  `phone` in signIn method for twilio.

[2022-01-14 18:07] #4905 closed

[2022-01-14 19:39] kiwicopple commented on #4977
Hey @FurkanToprak - that looks pretty similar to the `count` example here:
https://supabase.com/docs/reference/javascript/select#querying-with-count-option

Can you clarify what was confusing? Was it not obvious that you can combine `count` with filters like `eq()`?

[2022-01-14 20:27] FatumaA commented on #4892
Can I try this one @kiwicopple if no one is on it already?

[2022-01-14 20:27] kiwicopple commented on #4892
go for it @FatumaA ! Nice to see you in our repos

[2022-01-14 21:30] FurkanToprak commented on #4977
Hey @kiwicopple, I guess I wasn't looking carefully. Closed!

[2022-01-14 21:30] #4977 closed

[2022-01-15 00:22] Isaiah-Hamilton opened #4999 "New project bug"
# Bug report

## Describe the bug

When clicking the `Start your project` button on the navbar in [supabase.com](https://supabase.com), it takes you to [`/new/new-project`](https://app.supabase.io/new/new-project) but ends up giving an error saying `This organization does not exist`, and takes you to [app.supabase.io](https://app.supabase.io).

## To Reproduce

Steps to reproduce the behavior, ple

[2022-01-15 04:36] magiusdarrigo opened #5002 "Can you guys take out the refresh button until it fully works 😆"
# Bug report
This button:

<img width="189" alt="Screen Shot 2022-01-14 at 10 31 55 PM" src="https://user-images.githubusercontent.com/43056803/149608913-9c4dbbd6-8f13-4b66-8fe4-8a92efa9130a.png">

does not update my table's values.

## Describe the bug
It sometimes causes me to think a value is true to what I see.

## To Reproduce
1. Change a value in the DB through the console GUI.
2. Press the

[2022-01-15 07:40] Aakash-Jakhmola commented on #3835
can i take this up @kiwicopple

[2022-01-15 13:32] milanvanschaik commented on #4808
@kangmingtay Maybe I'm overlooking something, but wouldn't it be sufficient to either:
1) Advice against configure redirect URIs with wildcard for mobile redirect paths, or:
2) Validate on this - should start with http(s) protocol for wildcard usage?

[2022-01-16 03:48] FurkanToprak opened #5009 "Realtime Subscriptions don't work with Row Level Security"
# Bug report

## Describe the bug
I won't receive any subscriptions when row level security is enabled.
## To Reproduce

Create a subscription to any realtime-enabled database. Enable row level security and the socket does not work.

## Expected behavior
I expect the rows that are allowed for row-level access to be returned by the subscription when inserted, deleted, or updated.

## System informa

[2022-01-16 13:49] xerod commented on #2096
![image](https://user-images.githubusercontent.com/32943023/149662497-a2de9d96-00c8-46e0-af5a-79f36a89112d.png)

Guys, I'm having this issue on vercel and I'm trying to replicate it on my local server. it turns out having the same result (NS_ERROR_DOM_BAD_URL) like #2160.

I have encountered similar issue earlier when using different instance with free tier, probably caused by a config error by su

[2022-01-16 15:37] chipilov opened #5013 "Typo on the Supabase pricing page"
# Improve documentation

## Link

[Pricing](https://supabase.com/pricing)

## Describe the problem

There is a typo in the answer of the following FAQ: ```Is there a cap on the number of projects for the Free Tier?```

The answer starts like this: ```Yes, you have can up to 2 free projects in your account ...``` but instead should start like this: ```Yes, you can have up to 2 free projects in your

[2022-01-16 16:46] Isaiah-Hamilton opened #5014 "Create Notion Docs"
# Improve documentation

Create Notion Documentation. Notion OAuth from https://github.com/supabase/gotrue/pull/326.

## Describe the problem

There is missing documentation for Notion.

## Describe the improvement

New Notion documentation.

## Additional context

Good for first time contributors.

[2022-01-16 19:29] songololo opened #5015 "JSON column updates don't work"
# Bug report

## Describe the bug

It doesn't appear possible to update JSON columns.

## To Reproduce

[code]

## Expected behavior

The JSON column will be updated with the new value.

This line is returned as an error:
[code]
And an empty error message is returned on the next line.

I've not been able to find the source of the issue but it seems that something is getting lost in translation in

[2022-01-16 19:39] GaryAustin1 commented on #5015
404 error sounds like you don't have access because of RLS to update.
Do you have RLS on?  Does another field update besides the json one?
If RLS is on you need a using (or using and with check) policy for update to pass RLS.

[2022-01-16 20:07] ErikGraciosa opened #5016 "New Table: CSV upload/paste not showing data in Content Preview, HTML element squished"
# Bug report

## Describe the bug

New Table: CSV upload/paste not showing data in Content Preview, HTML element squished

When creating a new table using 'Import data via spreadsheet', using either 'Upload CSV' or 'Paste text',
After clicking 'Save',
'Content Preview' is squished and not visible and no rows shown, columns are present.

## To Reproduce

Steps to reproduce the behavior, please prov

[2022-01-16 20:14] songololo commented on #5015
Thanks.

I only had `UPDATE` operations enabled for RLS (I'm only pushing updates to this table) and it appears that this was hindering `supabase` from doing its thing.

I've now enabled `SELECT` operations and the `supabase` operations are now able to complete successfully (presumably some `SELECT` operations happening along the way?)

[2022-01-16 20:15] #5015 closed

[2022-01-16 20:22] GaryAustin1 commented on #5015
Just to follow up.  Do you actually have a "using" policy for your update?  That is for the read part of the update.  "with check" in the update is assumed to be the same if you don't add a separate "with check"
The reason I ask is I thought Supabase only did a separate select (optional with setting to turn off) for insert.
You should be able to allow insert/update without access to read/select.

[2022-01-16 20:26] GaryAustin1 commented on #5015
I see that update also has the option:
returning minimal
If you set that then it won't do a separate select.  I missed that update had that option also.

[2022-01-16 20:32] songololo commented on #5015
This is how I've formatted the `UPDATE` RLS:
[code]

Thanks for the hint on returning minimal.

I see that the Postgres docs have a `SELECT FOR UPDATE` option on creating policies...

[2022-01-17 00:20] lazaralex98 commented on #3783
supabase.auth.api.getUserByCookie(req) doesn't work in getServerSideProps (only in production for me either).

I've tried so many things, including what the OP wrote in [this article here](https://jitsu.com/blog/supabase-nextjs-middleware).

Any updates on this?

[2022-01-17 04:07] w3b6x9 commented on #5009
@FurkanToprak can you please email support@supabase.io with the ref of the project you're having Realtime issues with?

[2022-01-17 06:41] Manuelbaun opened #5023 "Postgresql.csv log consumes all disk space"
# Bug report

## Describe the bug

When running supabase, the docker overlay 2 runs full. I could track it down to the postgresql.csv logs under `var/lib/docker/overlay2/**/diff/var/log/postgresql`. It seems that logs don't have an upper limit.

## Expected behavior

I would expect, that the logs won't grow indefinitely. At least, there most be some settings to specify the upper size.

## Screensh

[2022-01-17 07:47] inian commented on #2096
Can you create a support ticket https://app.supabase.io/support/new @xerod?

[2022-01-17 08:21] Grymse commented on #4150
+1
Not able to edit any type if they're an array. I have tried with all integeres. This is a recent bug, as only two-three weeks ago I was able to :)

[2022-01-17 08:51] wwawrzy opened #5024 "Missing metadata In Flutter storage.list"
# Bug report

## Describe the bug

Metadata in Flutter dart is missing. After:

[code]

Objects _FileObject_ in list does not contain any metadata.

In debug we can see that metadata are obtained in _storage_file_api.dart_ file but are skipped during _fromJson()_ conversion:

[code]

## Expected behavior
Add size, mimetype, cacheControl in Metadata

## Screenshots
Example of _FileObject_ in debug

[2022-01-17 08:52] Ziinc opened #11803 "bug: validateDOMNesting with Dropdown component and Button child"
Using the `<Dropdown />` component with a button as per the examples in the docs results in the following console error:
[code]
seems like the implementation wraps the inner child with a button, so this:

[code]
will result in this:
[code]

Not sure if this is expected behaviour, as docs example shows Dropdown wrapping a Button

<img width="645" alt="image" src="https://user-images.githubuserconte

[2022-01-17 09:26] joshenlim opened #5025 "Validate max length for DB password at project creation and DB password reset"
Related: https://github.com/supabase/infrastructure/issues/3675

A user brought up that a very long password was used when creating project, but was unable to access the DB using the same password. Seems like there's a 99 character limit for postgresql passwords?
ref: https://stackoverflow.com/questions/19499058/pgsql-character-limitations

need to enforce that on the UI at project creation endpoi

[2022-01-17 09:37] bokub commented on #4758
So, the problem was fixed last week, but it appeared again...

I now have the following 502 error (exactly like last time):

[code]

[2022-01-17 09:59] kangmingtay commented on #4758
Hey @bokub, we're looking into this now, in the meantime, if anyone's still experiencing this issue, please email support. You can find the link to our email support here! (https://supabase.com/support)

[2022-01-17 10:18] poutingemoji opened #5026 "Queries to table don't work"
# Bug report

## Describe the bug
I can't query any columns from my table

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

users Table
![unknown](https://user-images.githubusercontent.com/67280672/149751678-5bbf7bdb-f7d0-4883-90ed-9a3a3a4a8c4a.png)

user_cards Table
![unknown](https://user-images.

[2022-01-17 10:59] joshenlim commented on #3835
@Aakash-Jakhmola sure thing definitely :)

just to check real quick - @MildTomato is this something that should be fixed from the UI library or the marketing website?

[2022-01-17 13:34] chipilov opened #5027 "Add the generate_link endpoint to the GoTrue Auth Server reference page"
# Improve documentation

## Link

[GoTrue Auth Server](https://supabase.com/docs/gotrue/server/about)

## Describe the problem

This page lists the endpoints exposed by the Supabase GoTrue server, however, it seems that it's out of date since it is missing the recent addition of ```/generate_link``` in the endpoints.

## Describe the improvement

Add a reference to the ```/generate_link``` API (an

[2022-01-17 15:16] tilmann commented on #4883
I ran in the same error. (permission denied for table http_request_queue)

**My finding**: It seems to be connected with the functions hooks ALPHA. After removing the hooks for the table that throws the error an insert was possible again.

Adding the hook again leads to the same error.

My instance was paused due to the holidays as well.

Any ideas except setting up a new instance?

[2022-01-17 15:38] KushibikiMashu commented on #3783
Error still occurs in middleware on Next.js dev server.

"next": "^12.0.4"
"@supabase/supabase-js": "^1.28.5"

[code]

[2022-01-17 16:16] #5013 closed

[2022-01-17 16:40] FurkanToprak commented on #5009
Hey @w3b6x9, where would I find this ref?

[2022-01-17 17:05] inian opened #5030 "Change domain back to supabase.co in storage explorer"
we changed to supabase.in when we were experiencing issues with supabase.co. That has been sorted out now and people might get confused when they get a different domain when the copy the object URL from the dashboard.

[2022-01-17 17:41] kiwicopple commented on #5009
this one is in the URL - it might be easier to use this form: https://app.supabase.io/support/new

[2022-01-17 17:48] kiwicopple commented on #3783
If this is the error then you probably want to provide a different Fetch provider: https://supabase.com/docs/reference/javascript/initializing#custom-fetch-implementation

[2022-01-17 17:59] kiwicopple commented on #5023
Hey @Manuelbaun - this one is probably not a bug. It's up to you to manage the configuration of your Postgres instance to suit your particular use-case.

You could check out the `log_rotation_size` config option (https://postgresqlco.nf/doc/en/param/log_rotation_size/) and possibly dig into a logrotate solution like https://vector.dev (which is very good!)

[2022-01-17 17:59] #5023 closed

[2022-01-17 17:59] binajmen commented on #1698
In NextJS, you can (client side) do this hacky stuff (you should add some tests around):
[code]

[2022-01-17 18:06] kiwicopple commented on #5026
hey @poutingemoji

Can you share some more details? What is getting returned? Is there an error?

[2022-01-17 18:08] kiwicopple commented on #5027
we should actually deprecate these in favor of the GoTrue README.md file. These weren't being maintained properly (as you point out).

Where did you find a link to this @chipilov ?

[2022-01-17 18:15] dragarcia commented on #4883
Hi guys 👋

If you guys haven't, would you mind sending over a ticket specifying the affected project over at https://app.supabase.io/support/new, and we'll take a closer look at each one from there.

Thanks!

[2022-01-17 18:19] poutingemoji commented on #5026
ah, my bad. the error was `Error while retrieving user: column users.exp does not exist`. Nothing gets returned since it errored. I think the foreign key relationships in my database got messed up. Sometimes it allows me to query to foreign tables and sometimes it just tells me that the columns don't exist.

[2022-01-17 18:49] chipilov commented on #5027
@kiwicopple I had seen it sometime ago (not sure how I found it the first time) and I was able found it again by Googling for "supabase gotrue api" - it is the second link.

The reason why I dug it out is because someone was asking about it on StackOverflow: https://stackoverflow.com/questions/70719066/is-there-restful-api-available-for-auth-features-of-supabase

[2022-01-17 21:18] wwawrzy commented on #5024
Here is a patch that allow to return metadata from json to Metadata (from storage_client 0.0.6+2)

[code]

I'm not sure if it is ok but seems to works.

[2022-01-18 01:31] Isaiah-Hamilton opened #5035 "Website scaling bug"
# Bug report

## Describe the bug

When you are rescaling your browser, there becomes this bug where half of the website overflows the browser.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [supabase.com](https://supabase.com/)
2. Rescale your browser
4. See error

## Expected behavior

To see the website how it's supposed to be.

## Scr

[2022-01-18 01:32] Isaiah-Hamilton commented on #5035
Update: This bug only affects the hero section.

[2022-01-18 08:16] stephanbogner commented on #4883
Ahhh! Why didn't I think of that?! **I can confirm the behaviour:**
If I delete the function hook (which is a post-request on insert and update) then I can edit values in the table again. But if I re-add the hook it won't work. Exactly as @tilmann described.

[2022-01-18 08:59] FatumaA commented on #5025
Hey,
I've looked a little bit at this:
Seems you can't make new project locally?
Also, @joshenlim is it to restrict the length of the password only as a separate check such that the user gets an error message if p/word is too long?

[2022-01-18 11:56] poutingemoji commented on #5026
[code]
The issue was an extra comma in my query. I knew trailing commas would mess up the query but it fell off my mind when I was focusing on other things. Hope this helps anyone else who makes this silly mistake!

[2022-01-18 11:57] #5026 closed

[2022-01-18 14:54] CodeOnnnn commented on #5025
Hey,
Yes, we can get it right by throwing an error if the user enters the password string more than a specified number.
After reading the documentation of pgAdmin4 and searching for this issue,  @joshenlim I believe this requires some changes in the config.py file: Platform

File Location

Linux

/etc/pgadmin/config_system.py

macOS

/Library/Preferences/pgadmin/config_system.py

Windows

%CommonP

[2022-01-18 15:50] WilliamFalci opened #5044 "Supabase Self-Hosted not load correctly postgres schema"
# Bug report

## Describe the bug

I have those functions:

[code]

But supabase load only three: `get_channel_list, is_admin, is_member_of`

![image](https://user-images.githubusercontent.com/36926081/149970374-6a156796-2b77-485d-a818-48b6c6b7d75e.png)

Of course all functions exist into postgres and work perfectly if runned by SQL editor on postgres, checking the permission ect are equal of all

[2022-01-18 16:57] WilliamFalci commented on #5044
**UPDATE:**

Looking the urgent I have on make this work I tried this:

`sudo docker-compose down`

then I make a new sql file, named: `04-custom.sql` inside `supabase/docker/volumes/db`

I pasted into `04-custom.sql` all the various queries to create tables, functions, buckets, alter query for the realtime ect. With only a difference, I renamed the functions:

- get_channel_list
- get_channel_lis

[2022-01-18 17:01] GaryAustin1 commented on #5044
You might need to clear out the schema cache.
https://postgrest.org/en/latest/schema_cache.html#the-stale-schema-cache

[2022-01-18 17:06] WilliamFalci commented on #5044
Already tested all the ways:

`sudo docker kill -s SIGUSR1 supabase-db` -> then -> `sudo docker restart supabase-db` -> nothing happened
`NOTIFY pgrst, 'reload schema'` runned on sql of postgress -> then -> `sudo docker restart supabase-db` -> nothing happened

[code]

added to `04-custom.sql` before everything, nothing happened

and with `sudo docker-compose down` all volumes of all containers of

[2022-01-18 18:55] yudyananda commented on #3783
@kiwicopple it work like a charm but somehow i cannot longer fetch the table in the client-side. any idea?

[code]

[2022-01-19 05:38] ratika-12 commented on #5027
@chipilov I want to work on this

[2022-01-19 05:41] kangmingtay commented on #5027
@ratika-12 the generateLink() reference is already included. see https://supabase.com/docs/reference/javascript/auth-api-generatelink

[2022-01-19 07:37] chipilov commented on #5027
@kangmingtay The issue is about the documentation of the actual REST endpoint, NOT the JavaScript API.

However, as @kiwicopple mentioned, this is already documented in the README.md of the GoTrue project itself. Maybe you just need to take down the obsolete page from the supabase.io site.

[2022-01-19 08:36] Annie-khalid opened #5051 "Index search"
# Bug report

## Describe the bug

After index is created ,let's suppose
'anim':7 'bigger':6 'littl':10 'poki':9 'puppi':1,11 'slower':3

but now if i pass "ani" in my search bar it will return nothing

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

I want it to

[2022-01-19 09:16] joshenlim commented on #5025
@FatumaA

Yeah you're right! The self-hosted version of supabase does not include any project management scope, it's solely for the database only

there won't be any errors thrown back if the password is too long, at least based on Supabase's internals - this password length check is solely on the client side, with a max of 99 characters

@CodeOnnnn
Can i clarify real quick what do you mean by the

[2022-01-19 09:18] WilliamFalci commented on #4879
I still have the same issue, I tried again delete everything, pruning all docker configuration, cloning again supabase ect

the steps I did:

- Generated a stong password of 44 chars for POSTGRESS, current value: `9aGZuFwgTj2bTiqty4h4Pc6xgL2W5K87XgW3G5WxwwUB`
- Generated a strong password of 60 chars for the JWT, current value: `44u7gRGuiTNbMLZvb2jRuJfRd7HHqTkqghb7XtkgMEuXk2xSn3BTXn7tCcpt`
- Gener

[2022-01-19 09:54] FatumaA commented on #5025
In that case, we won't be able to test changes to the affected components locally unless I'm missing something

[2022-01-19 10:31] WilliamFalci commented on #4879
I found the issue and I made a pull request to fix it

[2022-01-19 10:40] WilliamFalci commented on #4879
#5054

I found the issue and I made a pull request to fix it

[2022-01-19 10:44] WilliamFalci commented on #5044
The only wayt to make it work has been prune all docker configuration, clone project again and run it again

[2022-01-19 11:42] imskr commented on #4910
I can't see `Settings` here when running studio `http://localhost:8082/project/default` inside default project @kiwicopple

![Screenshot_20220119_171046](https://user-images.githubusercontent.com/42062622/150123178-861a7345-aec6-40d7-9ca0-7820bd424774.png)

[2022-01-19 12:09] TannerGabriel commented on #4550
@phamhieu @kiwicopple Sorry for the late response. I just tested the newest version and am still getting an error. It seems that the browser is trying to access a local Docker service and cannot resolve the address because of that.

[code]

[2022-01-19 14:21] robin-whg commented on #4550
Got exactly the same problem as @TannerGabriel

[2022-01-19 18:15] rain2o opened #5059 "Invite Email does not use updated template"
# Bug report

## Describe the bug

When sending an invite to a user, the email uses the original plain template, even after updating the template to something new.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to Auth -> Templates -> Invite User.
2. Change the template to something noticeably different.
3. Invite a new user.
4. See email in

[2022-01-19 18:18] aaronkik opened #5060 "Inserting/reading big ints via ui"
# Bug report

## Describe the bug

Reading and inserting big integers via the ui does not input or show the correct values. I believe it's probably caused by exceeding javascripts max integer value.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Paste the following into the supabase SQL editor
[code]
2. Add any of the big int values above via t

[2022-01-19 18:18] aaronkik opened #7150 "Inserting/reading big ints via ui"
# Bug report

## Describe the bug

Reading and inserting big integers via the ui does not input or show the correct values. I believe it's probably caused by exceeding javascripts max integer value.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Paste the following into the supabase SQL editor
[code]
2. Add any of the big int values above via t

[2022-01-19 20:37] Gigusx opened #5061 "Search feature doesn't work (documentation page)"
# Bug report

## Describe the bug

The search feature on Supabase's documentation page doesn't work - it doesn't return any results for any search query.

I came across this a few days ago and didn't think much of this back then, but the same happened today and I suspect that the issue isn't with Algolia. It is worth noting that using the search popup (the one triggered by ctrl+k) does work, and i

[2022-01-20 01:16] #5009 closed

[2022-01-20 03:14] albertkimdev commented on #745
I created a view which caused `Could not embed because more than one relationship was found for` error.

I deleted the view but still get the same error.

[2022-01-20 04:06] xMdb opened #5066 "Supabase Docker self-hosting throws 500 errors"
# Bug report

## Describe the bug

The web interface loads but other areas either load infinity or throw various server errors.

## To Reproduce

Follow the steps at Docker https://supabase.com/docs/guides/hosting/docker and head to localhost:3000 as instructed. The web interface (studio) loads but navigating to areas such as tables, API, and database, will show 500 errors.

## Expected behavior

[2022-01-20 07:55] phamhieu opened #5068 "tables schema filter bug"
# Bug report

## Describe the bug

- project/[ref]/database/tables: only show public schema
  - filter base on `Schema` settings
  - need a schema selection dropdown like table editor

- project/[ref]/auth/policies: only show public schema
  - filter base on `Schema` settings
  - need a schema selection dropdown like table editor

![Screenshot 2022-01-20 at 3 04 49 PM](https://user-images.githubus

[2022-01-20 12:38] supabase-automated-user commented on #4883
Hey folks-as a quick update: we've isolated the cause of the issue as an unfortunate interaction between the pause/restore and the mechanism used to enable function hooks via pg_net. We'll be working on both fixing this for the future, and posting a retroactive fix that you will be able to apply to your projects.

[2022-01-20 12:39] supabase-automated-user commented on #4883
Hey folks-as a quick update: we've isolated the cause of the issue as an unfortunate interaction between the pause/restore and the mechanism used to enable function hooks via pg_net. We'll be working on both fixing this for the future, and posting a retroactive fix that you will be able to apply to your projects.

[2022-01-20 12:41] darora commented on #4883
Hey folks-as a quick update: we've isolated the cause of the issue as an unfortunate interaction between the pause/restore and the mechanism used to enable function hooks via pg_net. We'll be working on both fixing this for the future, and posting a retroactive fix that you will be able to apply to your projects.

[2022-01-20 13:38] chasers commented on #4916
How does this look with the actual endpoint URLs?

This should happen automatically for you.  We should also have the docs autogenerate for different custom schemas.  Can do this in a separate issue.

[2022-01-20 13:56] kiwicopple commented on #5024
Hey @wwawrzy - would you mind opening this issue in this repo? https://github.com/supabase-community/storage-dart

Unfortunately I can't transfer it becuase it's in the community org

[2022-01-20 13:56] #5024 closed

[2022-01-20 14:08] kiwicopple commented on #3783
It seems that might be an unrelated issue @yudyananda - you're welcome to start a new issue (so this one doesnt get sidetracked). It could be any of:  not authenticated, RLS, `sessionUser.id` is not returned, there could be an error returned `const { data: profile, error }`

[2022-01-20 14:09] #4702 closed

[2022-01-20 14:14] ratika-12 commented on #4968
@kiwicopple I want to work on this.

[2022-01-20 14:15] kiwicopple commented on #5051
Hey @Annie-khalid - would you please be able to provide some steps to replicate? I'll close this one for now but if you can update the description and comment here I will reopen 👍

[2022-01-20 14:15] #5051 closed

[2022-01-20 14:21] kiwicopple commented on #5061
Looks like a dupe of this one right? https://github.com/supabase/supabase/issues/5061

I'll close this in favor of that issue, although it looks like the resolution Inian mentioned didn't work. 🤔

[2022-01-20 14:21] #5061 closed

[2022-01-20 14:40] imskr commented on #4910
@kiwicopple I am not able to run this locally to check. Can you help me or point me to some steps?

[2022-01-20 14:43] #4879 closed

[2022-01-20 15:00] ratika-12 commented on #4968
@chipilov I want to work on this

[2022-01-20 15:20] soedirgo commented on #4916
The endpoint URLs should be the same, but you'd send an [HTTP header](https://postgrest.org/en/stable/api.html#switching-schemas) to specify the schema.

Doing it automatically might not be desirable for users with schemas they don't want PostgREST to access (is there a valid use case for this?). I do think the DX could be improved though.

[2022-01-20 17:26] SergejSachs opened #5074 "Supabase query data based on uid does not work"
I created the table and policy via UI and I always get an emtpy list. If my expression is just true I get all my rows.

![image](https://user-images.githubusercontent.com/26410357/150381750-7b02d46a-17f5-4a3d-8961-7187bd34f099.png)

![image](https://user-images.githubusercontent.com/26410357/150381850-da9ea129-9a8b-4465-9ed4-3bc42ac0bf16.png)

[code]

I tried as well everything via script:

[code]

[2022-01-20 17:51] steve-chavez commented on #745
@albertkimdev Can you share the full error message? With the `hint` and `details` fields.

[2022-01-20 17:54] albertkimdev commented on #745
@steve-chavez

![image](https://user-images.githubusercontent.com/7885328/150394601-5a696ece-ef2e-47dc-97f7-81cb83947f12.png)

[2022-01-20 17:58] steve-chavez commented on #745
@albertkimdev Also share the request

[2022-01-20 18:17] albertkimdev commented on #745
@steve-chavez the issue was fixed by refreshing the cache after the view was deleted i think.

[2022-01-20 18:42] stephanbogner commented on #4883
@darora
Thanks for the update and your investigation! 👍

[2022-01-20 19:04] tchief commented on #3783
@yudyananda @kiwicopple I noticed this as well. As a workaround used 2 instances of `SupabaseClient`: one for client side (without custom fetch) and one for server side with this [PR](https://github.com/jitsucom/supabase-nextjs-middleware/pull/1) applied.

[2022-01-20 19:42] kiwicopple commented on #5074
hey @SergejSachs

is that with the JS client? The query should be :

[code]
eg, no `.execute()`

Also - are you should the user is logged in before executing the request? if you log `supabase.auth.user()` what does it return?

[2022-01-20 19:57] SergejSachs commented on #5074
Its the flutter client: https://pub.dev/packages/supabase and it calls execute as well.
I get the user right before the save portfolio call and pass the userid from the auth response.

[code]

[2022-01-20 21:45] w3b6x9 commented on #4883
hello everyone!

if you're currently blocked please run the following in your Supabase SQL editor:

[code]

[2022-01-20 22:50] franklinharvey commented on #5066
seeing this both with Docker and the supabase CLI on Mac

[2022-01-20 23:04] Isaiah-Hamilton commented on #5035
haha forgot about bleeding elements. will be closing because there is no bug.

[2022-01-20 23:04] #5035 closed

[2022-01-21 00:06] leandertolksdorf opened #5084 "Cannot login anymore via Github"
# Bug report

## Describe the bug

I just tried logging into https://app.supabase.io via Github after a while. I was redirected to GitHub, logged in and authorized the application, which seems strange because I already have an account with working projects on Supabase.

Then I got redirected to this URL: `https://app.supabase.io/#error=unauthorized_client&error_code=401&error_description=Unverifie

[2022-01-21 04:12] Isaiah-Hamilton commented on #5084
@leandertolksdorf with supabase you now need to verify your Github account email to be able to log into supabase. you can verify your Github account email [here](https://github.com/settings/emails).

[2022-01-21 11:09] kiwicopple commented on #5074
I don't know if this is possible, but in Dart are you able to see the Network requests? If so, can you inspect the request and send me the Bearer token in the `Authorization` header? If we decode that it should show the user_id that is making the request.

This usually means that the RLS is working properly, and there is a problem either with the Policy (which doesnt seem to be the case) or the ne

[2022-01-21 11:10] #2214 closed

[2022-01-21 11:11] kiwicopple commented on #5084
If you still have issues with this after verifying @leandertolksdorf , can you please send a message to support@supabase.io? thanks!

[2022-01-21 11:11] #5084 closed

[2022-01-21 14:51] tilmann commented on #4883
🙏 Thanks. That solved the problem for me!

[2022-01-21 16:42] SergejSachs commented on #5074
![image](https://user-images.githubusercontent.com/26410357/150565715-5b30fb68-7439-4d18-ba87-d124b404b20d.png)

[Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJvbGUiOiJhbm9uIiwiaWF0IjoxNjQyNjc3OTA2LCJleHAiOjE5NTgyNTM5MDZ9.sdX8-VU6MxHt4Tx1fePtpqBvNJu-MrzdAVt6IjfhZWQ]

The reseponse is [];

[2022-01-21 16:47] awalias commented on #5074
hey @SergejSachs the token being sent is the default anon api key and not the user's key, so it makes sense that it is not returning any user data

<img width="995" alt="image" src="https://user-images.githubusercontent.com/458736/150566406-f4a1ce43-c8b4-420f-b82d-c201a3e4faa5.png">

so my assumption is that this is an issue with the client or usage, I'll transfer this issue to the dart repo, the

[2022-01-21 16:48] SergejSachs commented on #5074
@awalias thanks, maybe someone had the same issue there.

Yes true, maybe its because I dont use it as a singleton.
I will try that.

[2022-01-21 16:50] awalias commented on #5074
yes this will be the issue. you should use the same client for auth and CRUD, if you want it to automatically pass the user's `access_token` with each request. In JS there is a `set_auth()` method which you can use to manually set the session, perhaps there is something similar in dart lib

[2022-01-21 16:50] SergejSachs commented on #5074
Ah thanks. I will take a loot at it and use a singleton probably and close the issue if fixed.

[2022-01-21 16:51] awalias commented on #5074
oh I can't transfer between orgs, but the repo is here: https://github.com/supabase-community/supabase-dart

[2022-01-21 16:52] SergejSachs commented on #5074
Should I reopen there If needed?

[2022-01-21 17:06] kiwicopple commented on #5074
yes please!

[2022-01-21 17:09] SergejSachs commented on #5074
It was the singleton/no token in header issue. Thanks for your help!

[2022-01-21 17:09] #5074 closed

[2022-01-21 17:55] TruckeeDavid opened #5092 "Dead link in "docs" section of website"
# Improve documentation

## Link

[https://supabase.com/docs](https://supabase.com/docs)

## Describe the problem

The link to "Guides" under "How to use these docs" is broken.

## Describe the improvement

Change link from:
https://supabase.com/docs/guides

to:

https://supabase.com/docs

![image](https://user-images.githubusercontent.com/84606817/150576610-cfb5f422-2efe-4665-9fd5-461c1db5c7b5.pn

[2022-01-21 22:17] #5092 closed

[2022-01-21 22:18] franklinharvey commented on #5066
@xMdb try changing
[code]
to
[code]

in your `docker/env` file

[2022-01-21 22:20] Sesa1988 opened #5096 "Supabase-Authentication: Documentation and use cases"
Hi,

I have multiple questions regarding authentication and cant really find anything that helps me.
Maybe its a bug maybe its missing documentation, an error on my part or just expected behavior, I don't know @kiwicopple

**Token expiration and startup**
If I set the expire token duration to 1 week I **can restore** the session within that week.
If I set the expire token duration to 2 min and the

[2022-01-21 22:49] xMdb commented on #5066
Same issue.

[2022-01-21 23:49] franklinharvey commented on #5066
very strange. Are you sure you're rebuilding? With new a new environment you might need something like `docker compose up --build` or `docker compose up --force-recreate --no-deps` **that might wipe your volume though**

[2022-01-22 00:58] SergejSachs commented on #5096
I open an bug for my issue:
https://github.com/supabase-community/supabase-dart/issues/91

[2022-01-22 09:19] poutingemoji opened #5103 "supabase table data not viewable in editor but exists"
my supabase table data is not viewable in the editor anymore but i can still query for it from the js sdk. is this a bug or is it because supabase can't load that many records? is it fixable?

![](https://cdn.discordapp.com/attachments/832096627388055585/934376555801636865/unknown.png)
![](https://cdn.discordapp.com/attachments/832096627388055585/934376596071125012/unknown.png)

[2022-01-22 11:50] imskr commented on #4910
/cc @Ziinc @Isaiah-Hamilton @kiwicopple

[2022-01-22 14:52] SergejSachs opened #5110 "Invalid Refresh Token on sessionRestore"
Hi. I have an issue where I have to sign in again after the expiration duration, configured at Supabase UI, has passed.

**Steps to reproduce**
- Set expiration time to 2 min (Supabase UI, access token expiration?)
- Login & Persist Session e.g. local storage
- Quit app and wait 3 min
- Start app and call restoreSession

**Result**
"Invalid Refresh Token" gets returned from restoreSession

**Expec

[2022-01-22 15:28] Isaiah-Hamilton commented on #4910
@imskr you have to type the link manually to get to the settings page that you want for local development.
[Link for general settings](http://localhost:8082/project/default/settings/general).

[2022-01-22 15:46] imskr commented on #4910
Thanks @Isaiah-Hamilton

[2022-01-22 17:30] dipeshhkc opened #5113 "Allow signin without Email Verification"
Hello Team. I have been using supabase for a week now and it is wonderful. Thank you for your hard work :bow:

I have a question. Please provide me with your suggestions on this.

I need to allow users to sign in even without email verification. I found `Enable email confirmation` setting and disable that option. But still I get `Email Not Confirmed` message during signin.

Is this intended? Or am

[2022-01-22 17:57] ShellyDCMS opened #5114 "link to slack clone tutorial video leads to 404"
# Improve documentation

Link to video tutorial (https://www.loom.com/share/31eec9b656e44b8d87c88bde8a465676) in [nextjs-slack-clone README](https://github.com/supabase/supabase/tree/master/examples/nextjs-slack-clone#readme) leads to 404

## Link

Add a link to the page which needs improvement (if relevant)
https://github.com/supabase/supabase/tree/master/examples/nextjs-slack-clone#readme

## De

[2022-01-22 18:10] dthyresson opened #5115 "Docs: Supabase Auth (Server Only) Missing updateUserById reference docs"
# Improve documentation

The Auth (Server Only) docs at https://supabase.com/docs/reference/javascript/auth-api-createuser is missing an entry for:

[code]

See: https://github.com/supabase/gotrue-js/blob/edcd2ffde6dfe81d02700a52a79e635a5ab8839d/src/GoTrueApi.ts#L561

## Link

Add a link to the page which needs improvement (if relevant):

* https://supabase.com/docs/reference/javascript/auth-api-c

[2022-01-22 21:37] #5103 closed

[2022-01-23 00:29] lauri865 opened #5117 "Ability to pass additional URL params to OAuth providers"
# Feature request

Ability to send additional parameters to OAuth providers (e.g. would love to use &hd=domain.tld and &hint=example@domain.tld parameters with Google OAuth. Simple passthrough of parameters would suffice (namespaced or not).

[2022-01-23 11:15] babymechanic opened #5119 "Using the Storage JS API download returns older file after update"
# Bug report

## Describe the bug

After uploading a new image we should get the new image using the JS API.
It still downloads the old file.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Upload an image using `supabase.storage.from(bucket).upload(filename, oldContent)`
2. Update an image using `supabase.storage.from(bucket).update(filename, n

[2022-01-23 12:02] kndnya opened #5120 "Cannot signup new user"
# Bug report

## Describe the bug
Not sure if this is the right place. But not able to make any signup/singin requests to the `supabase-js` client

Running on localhost with initial NextJS setup
Getting the following error on trying to sign up a user.

[code]

## To Reproduce
My code on `pages/login.js`
[code]

## Expected behavior

`{user, session, error}` but getting a JSON.parse error instead

[2022-01-23 12:12] dipeshhkc commented on #5113
It seems this doesn't work for the user-created from the server.
Is there any way to automatically verify the email or allow login without email verified for the user-created by the admin API?

[2022-01-23 12:47] imskr commented on #4910
@Isaiah-Hamilton when I go to `http://localhost:8082/project/default/settings/general` it's redirecting me to `http://localhost:8082/project/default`

[2022-01-23 12:50] inian commented on #5119
Can you see if the update call in step2 suceeded @babymechanic? Supabase Objects by default are cached for 1 hour by the browser. So if you update an object, you need to cache bust it in your web application (by adding a query parameter for example) which is what the Supabase Studio does.

Or you can set a lower `cacheControl` time when uploading / updating the object, though that will be bad for

[2022-01-23 14:39] Isaiah-Hamilton commented on #4910
That's weird, usually works. maybe @Ziinc or @kiwicopple would know how to get you to the page that you are looking for.

[2022-01-23 14:58] sadiki-o commented on #5120
here is my custom createUser.js file where i import it whenever i want to create a new user and call it by giving an email parameter and a password

[code]

[2022-01-23 15:00] sadiki-o commented on #5120
Also make sure to configure the supabase client file and enable signups in the supabase dashboard settings

[2022-01-23 15:26] sadiki-o commented on #5113
if u sign up a new user using the supabase.auth.signup() function u can pass confirmation_sent_at with a date so the new created user can signin, otherwise try to create a trigger whenever a new user is added to supabase the trigger after that update the new user row and set confirmation_sent_at to the current date which is now()

[2022-01-23 15:46] sadiki-o opened #5123 "whenever i run the signup function the created user auto signin ?"
Hey i wanna create an admin dashboard for my project where admin can create and delete users but when i run signup function, if there is an account logged it got signed out and the new created account is signed in instead, and when nobody is connected to the app the new created user sign in?
is there any ideas how to prevent this behavior because i don't want the admin to log out and have to log i

[2022-01-23 19:12] FatumaA commented on #5066
@xMdb I'm not sure if it's the same issue but I had a similar issue where I could load up the studio using the cli but couldn't interact with it. And could load the studio through the local dev instructions in the readme but had the tables not loading with a similar error

What I did was access the studio through the local dev set up and have the supabase cli running at the same time. Then changed

[2022-01-23 22:24] alexchenhz opened #5124 "Auth email confirmation message will not display"
# Bug report

## Describe the bug

When use signs up, the message "Check your email for the confirmation link." does not display.

This is caused by the following code: https://github.com/supabase/ui/blob/461bea21c31cabe5a5ce87045e71b7c773d912ee/src/components/Auth/Auth.tsx#L327-L339

According to the [docs](https://supabase.com/docs/reference/javascript/auth-signup), `supabase.auth.signUp()` does

[2022-01-23 22:24] #5124 closed

[2022-01-23 22:26] alexchenhz commented on #5124
My b meant to submit issue on supabase/ui

[2022-01-24 02:51] mrchristophy opened #5127 "Update Auth0 documentation"
Hi, I've been trying to get Auth0 integration working following this guide:
https://supabase.com/docs/guides/integrations/auth0

It all goes well until I enable the RLS. I have added the function and the policy multiple times, but for fetching I always get an empty array, and for posting I get a 401 error. The user id is populated in the column, and I'm not sure how I can debug where the problem l

[2022-01-24 04:26] GaryAustin1 commented on #5127
That article seems outdated without doing much research.
Postgrest now requires a different format for getting info from headers as of 9.x.
https://postgrest.org/en/stable/api.html#http-context shows the new jwt format.

[2022-01-24 06:40] mrchristophy commented on #5127
@GaryAustin1 wow I changed "claim" to "claims" and it works! Thanks!

[2022-01-24 08:36] babymechanic commented on #5119
thanks @inian I was able to add a random query string part to cache bust it when required.

[2022-01-24 08:36] #5119 closed

[2022-01-24 10:10] nivoc commented on #940
"Svelte guide in the docs"

But that does not solve the sevelt-todo example-issues. And the not working Example from the Repo is still metioned as starting point if someone creates a new projekt.

Should be removed or example-issues fixed.

[2022-01-24 12:45] xylish7 opened #5133 "Realtime: randomly receiving payload with missing columns"
# Bug report

## Describe the bug

I've enabled realtime on one of my tables and randomly I get payloads which are missing some of the columns. In my case, the column which sometimes is not present in the payload is the **pending** one, which is of type **jsonb**. The bug also appears only when the **pending** column has a lot of data in it. Another thing is that the bug popped up when I've sent a

[2022-01-24 14:10] kndnya commented on #5120
Getting the same error using this too.

![Error](https://i.imgur.com/qLv7PX2.png)

[2022-01-24 14:21] #5120 closed

[2022-01-24 15:45] rxmii4269 opened #5137 "Querying a the database using rpc to call a function returns empty array"
### Discussed in https://github.com/supabase/supabase/discussions/5136

<div type='discussions-op-text'>

<sup>Originally posted by **rxmii4269** January 24, 2022</sup>
I created a function on postgresql and when querying this function using rpc() an empty array is returned even when data is there. Calling the function in the SQL editor does indeed return data, so it is confirmed that the function

[2022-01-24 15:49] #4490 closed

[2022-01-24 16:02] ptrhck opened #5138 "CSS not properly applied for sidebar categories"
# Bug report

## Describe the bug

The sidebar categories are displayed wrong.

## To Reproduce

I have cloned the repo and run the production build as described in `/web`

## Expected behavior

On https://supabase.com/docs/ all categories (Overview, Quickstarts,...) look different and are not collapsable.

## Screenshots

![image](https://user-images.githubusercontent.com/26689889/150818493-7105f

[2022-01-24 16:51] imskr commented on #4910
Thanks @Ziinc

[2022-01-24 17:12] leerob opened #5139 "Delete project modal doesn't submit on enter in Studio"
# Bug report

## Describe the bug

When I press enter to submit the delete project form, it does not work.

## To Reproduce

<img width="550" alt="CleanShot 2022-01-24 at 11 11 04@2x" src="https://user-images.githubusercontent.com/9113740/150831010-637acfd4-70b4-4188-adc7-2be5c18e510e.png">

## Expected behavior

The form to submit on enter 😄

[2022-01-24 20:05] stephanbogner commented on #4883
Looks good on my end too 🎉
Thanks ❤️

[2022-01-24 22:15] sadiki-o opened #5143 "My app was working fine while i develop it, suddenly i get this error and it refuses to work?"
here is the error message i get now in console :
[code]
 i tried to git checkout to a previous commit where my app was working just fine but it doesn't work anymore for some reason?

[2022-01-24 22:17] #5143 closed

[2022-01-24 23:54] Isaiah-Hamilton commented on #5138
@ptrhck Is supabase on local machine update to date with supabase origin, because I don't seem to have this problem, and can't reproduce it.

[2022-01-24 23:59] Isaiah-Hamilton commented on #4999
Fixed with #5001

[2022-01-24 23:59] #4999 closed

[2022-01-25 01:18] Isaiah-Hamilton commented on #3112
@sandbox-apps Can you give more of a specific description of the bug?

[2022-01-25 01:39] Isaiah-Hamilton commented on #4453
Fixed with https://github.com/supabase/grid/pull/104

[2022-01-25 01:39] #4453 closed

[2022-01-25 03:41] awalias opened #5148 "About site build broken"
<img width="1039" alt="image" src="https://user-images.githubusercontent.com/458736/150906826-3623c911-734e-4f3a-857c-3917c483e1fa.png">

[2022-01-25 10:05] arpitBhalla commented on #2502
@Isaiah-Hamilton Can I work on this?

[2022-01-25 11:15] ptrhck commented on #5138
@Isaiah-Hamilton Sorry, I made a small mistake and was running on the latest docusaurus version `2.0.0-beta.14`, where this bug would exist. It might be related to this [change](https://github.com/facebook/docusaurus/pull/5642), but I could not figure out what needs to be changed in custom.css to run it with the latest docusaurus version. Any idea?

[2022-01-25 11:31] rotemrevivo91 commented on #5066
1. If you have problems loading the api page:
Pay attention that if you have changed the default ANON_KEY and SERVICE_ROLE_KEY they are also necessary in `docker/volumes/api/kong.yml`.
Further, if you used the ANON_KEY and SERVICE_ROLE_KEY .env variables in kong.yml this will not work and will cause 500 errors when accessing the api page. It doesn't work because the kong.yml config is mounted befo

[2022-01-25 12:19] #5148 closed

[2022-01-25 12:24] Isaiah-Hamilton commented on #2502
@arpitBhalla All yours!

[2022-01-25 12:34] kiwicopple commented on #5110
Hi @SergejSachs - I see you also opened an issue here: https://github.com/supabase/supabase/issues/5096

Is this one a bug or a documentation issue? It seems that you are using the Dart libs - did you try opening the issue within the Dart repo too? (could be a valid bug in the refresh logic)

[2022-01-25 12:37] SergejSachs commented on #5110
Hi @kiwicopple - Looks like its a bug, assumed the refresh token should/never expires.
I opened a bug on the dart repo as well but without any traction for now.

https://github.com/supabase-community/supabase-dart/issues/91

[2022-01-25 12:38] kiwicopple commented on #5117
thanks @lauri865 - I'll shift this one over to the Auth repo

[2022-01-25 20:40] #4992 closed

[2022-01-25 22:59] Isaiah-Hamilton opened #5160 "Improve DEVELOPERS.md"
# Improve documentation

## Link

https://github.com/supabase/supabase/blob/master/DEVELOPERS.md

## Describe the problem

The docs on getting started with contributing to supabase are very basic and need some work.

## Describe the improvement

Add links to docs, improve getting started docs, add links to where people can ask for help, etc.

[2022-01-26 02:33] richardwu opened #5163 "Self-hosting (docker) + ngrok + OAuth"
# Bug report

## Describe the bug

I am currently self-hosting Supabase via Docker, with a NextJS app.

I have implemented [Google OAuth](https://supabase.com/docs/guides/auth/auth-google) and I have confirmed everything works properly while using `localhost`.

Here are how the services are mapped to ports:
[code]

I have set my callback URLs to `localhost:8000/auth/v1/callback`. I then call
[code

[2022-01-26 02:55] Isaiah-Hamilton commented on #5138
@ptrhck I can't seem to replicate this bug that you are talking about. I updated to docusaurus version `2.0.0-beta.14` just like you and the site built fine, and see no difference. I would try recloning the supabase repo and downloading the npm packages without updating.

[2022-01-26 04:33] #5137 closed

[2022-01-26 04:40] kangmingtay opened #5165 "Generate custom link for change email confirmation"
### Discussed in https://github.com/supabase/supabase/discussions/5125

<div type='discussions-op-text'>

<sup>Originally posted by **haydn** January 24, 2022</sup>
We're generating all our own emails and injecting links created with the `generateLink()` function. (This is so we can fully personalise the emails and so they match the other emails we send out.) However, I'm not sure how to get this

[2022-01-26 05:55] ptrhck commented on #5138
That is what I did. Clone and install as is, works fine. Only updated docusaurus, nothing else changed and then this bug occured.

[2022-01-26 06:54] kristjanmar commented on #1176
I wanted to implement this but I am getting a typescript error when I try to add the "create_user" flag to my signIn function:

"Argument of type '{ email: string; create_user: boolean; }' is not assignable to parameter of type 'UserCredentials'.
  Object literal may only specify known properties, and 'create_user' does not exist in type 'UserCredentials'.ts(2345)"

 Here's my code:

`async functi

[2022-01-26 07:01] kangmingtay commented on #1176
hey @kristjanmar, we haven't added it to `gotrue-js` yet but will be looking to do so soon!

hope this new param helps everyone on this thread to build better magiclink login flows 💪🏻

[2022-01-26 07:39] kristjanmar commented on #1176
Thanks @kangmingtay -- I managed to get rid of the type error by adding // @ts-ignore above the line.

However, the "create_user: false" flag is not working. When I type an email that is not signed up in the login form, it creates the user in Supabase.

I already updated to the latest version of supabase-js and tested this several times. The user is always created, just like before.

[2022-01-26 08:11] kangmingtay commented on #1176
yeah this is because the gotrue version that your supabase project is currently on is not updated to the latest one yet, we'll be rolling out the updates to all existing projects soon!

[2022-01-26 08:12] kristjanmar commented on #1176
That makes sense, thanks for clarifying.

[2022-01-26 08:16] yeganathan18 commented on #5160
What kind of improvements? a bit more information would be super helpful.

[2022-01-26 10:32] simpautus commented on #4758
Having the same problem. Getting 502 response to auth requests (Email signin/signup, Magic link, Github, Facebook, Google). Auth works normally pointed to another fresh Supabase backend.

`{
  "message":"An invalid response was received from the upstream server"
}`

[2022-01-26 10:52] kangmingtay commented on #4758
hi @simpautus, please email support with your project ref so we can debug it and get it fixed for you!

[2022-01-26 11:45] kiwicopple commented on #5123
Hey @sadiki-o - I'm not 100% sure I follow with the title + description. Could you please add some steps to replicate the issue you are facing? (or you can ask in the Discussions for more general help)

[2022-01-26 11:46] #5123 closed

[2022-01-26 11:51] kiwicopple commented on #5133
Thansk for the detailed bug report! I'll move this one over to the realtime server

[2022-01-26 11:53] kiwicopple commented on #5139
dark patterns to keep you hooked @leerob

[2022-01-26 12:52] FatumaA commented on #5139
yes @kiwicopple I noticed this too. Can I attempt this one?

[2022-01-26 14:54] leerob commented on #5139
You could either:

1. Wrap this section in a `form` and change this button to `type="submit"`
2. Handle `onKeyPress` and look at the key pressed to check for enter

1 is probably easier. [Here's the code](https://github.com/supabase/supabase/blob/636f17dff6e946fa3f058772579d36f1912ba463/studio/pages/project/%5Bref%5D/settings/general.tsx#L235).

[2022-01-26 15:02] simpautus commented on #4758
I did. Update here too that email auth worked when creating a fresh Supabase project but without additional changes all auth calls stopped working (same 502 response) after switching on the Github OAuth. Switching it back off doesn't fix the issue but still all auth calls fail. I get the same response calling the API directly without the library. Other endpoints but auth give a 200 OK response.

[2022-01-26 15:44] kiwicopple commented on #5123
The Auth server definitely allows multiple sessions with the same user.

Can you share your code? Is it on github ? A small example will help us to help you ! At the moment I can't help you debug because you are describing a bug which doesn't exist - it's slightly more likely that there is a bug in your code

[2022-01-26 15:52] kiwicopple commented on #5139
would love your help @FatumaA ! I think @MildTomato might have some ideas here too (it should probably be build directly into the modal https://ui.supabase.com)

[2022-01-26 17:17] kangmingtay commented on #5163
Hey @richardwu, I'm unable to reproduce the example above. As a sanity check, did you try visiting `http://localhost:8000/auth/v1/authorize?provider=google&redirect_to="https://<subdomain>.ngrok.io"` and check if the redirection succeeds?

[2022-01-26 18:07] sadiki-o commented on #5123
Basically this is the function that create the new user :
[code]

i tested out this function in a useEffect with [] argument just to see if it works but yes when it runs it drops the current user out and sign in the new created user .

[2022-01-26 18:13] sadiki-o commented on #5123
i tried to do the same just know just to confirm the behavior, i set a click event to a button which should run the function and the current user signed out automatically and the new one take place

[2022-01-26 18:13] sadiki-o commented on #5123
Sorry if i confused u at first with my explanation  :smile:

[2022-01-27 00:10] MildTomato commented on #5139
Yep, we've got a Form component in Supabase UI now.
Although I've already started work on updating all our Modals to use the new Form component.
It's not built 'in the modal' but we wrap the contents of the Modal with the Form component.

It's quite a big branch with a lot of changes in, it might take a while to get into prod. Hopefully by end of this week.

In the meantime, @FatumaA feel free to

[2022-01-27 00:32] Isaiah-Hamilton commented on #5160
@yeganathan18 For example, things like how to open Issues, Pull Request. Give a better description / explain further [development setup](https://github.com/supabase/supabase/blob/master/DEVELOPERS.md#development-setup), [installing dependencies](https://github.com/supabase/supabase/blob/master/DEVELOPERS.md#installing-dependencies), [choosing directory](https://github.com/supabase/supabase/blob/ma

[2022-01-27 01:54] imskr commented on #5059
I am not able to reproduce it @rain2o I actually edited the user template and it's sending me the invite as expected.

[2022-01-27 04:11] awalias opened #5180 "Add new providers to Auto-gen docs"
[this list of providers](https://github.com/supabase/supabase/blob/94fdf5cff2751f61993a7df4daf7090d535b6b02/studio/components/to-be-cleaned/Docs/Pages/UserManagement.js#L170) is out of date,

- [ ] we may want to just link to [the docs](https://supabase.com/docs/guides/auth/auth-apple) or [this](https://github.com/supabase/gotrue-js/blob/5d2f65a3d8b565b47e277211e6a4c8054c0b8e97/src/lib/types.ts#L2

[2022-01-27 06:46] joshenlim commented on #4544
hey all! this issue has been fixed - do let us know nonetheless if anyone's still facing it

[2022-01-27 06:46] #4544 closed

[2022-01-27 11:27] simpautus commented on #4758
I think issue in my case was caused by me truncating data from auth schema by sql script (I had a "reset" create script for dev purposes that also drops objects before creating them and truncates data). Now I have a fresh instance with altered scripts and so far it's working as expected.

[2022-01-27 11:56] FatumaA commented on #5139
@MildTomato Hey,
It seems you can't delete the default project and you can't create a new project on the local set up. I'm not sure how to test locally in this case. I did see that the delete project function fired  as was but gave me a 404 error in console. This fired as well when I wrapped the modal contents in a form like so:
`<Modal
        visible={isOpen}
        onCancel={toggle}
        ti

[2022-01-27 13:28] yeganathan18 commented on #5160
@Isaiah-Hamilton Cool will work on it 👍🏻

[2022-01-27 14:56] ptrhck commented on #5138
I have rebuild the container I was using and then it worked. It still looks a bit strange as occured again. I have created a test [repository ](https://github.com/ptrhck/docusaurus-supabase) using the [latest ](https://docusaurus.io/docs/next#fast-track) docusaurus version and only changed the `custom.css` to the one this repo uses. Here, the bug still exists. Is there any other configuration exce

[2022-01-27 16:34] scopethis opened #5188 "Unable to edit email templates when using the Local version of Studio"
# Bug report
Unable to edit email templates when using the Local version of Studio

## Describe the bug
When looking at the templates page, all `textarea` fields do not respond to input in the same way as the online version of Studio. The markup shows each field set to `readonly`. I don't know if this is by design or something i've done (not done).

## To Reproduce

- Include studio and port numbe