[2022-04-02 15:20] GaryAustin1 commented on #6267
The above was tested using javascript fetch as I'm having another issue with the body format on functions.invoke()...
Going back to invoke and still getting CORS error.. I suspect some more header info needs to be added to the above...

[2022-04-02 18:23] GaryAustin1 commented on #6267
After a bit of trial and error.  You have to handle the preflight request (OPTIONS) and the POST request as two different calls for browser calls with function.js.

This is the code I ended up with:
[code]

[2022-04-02 18:49] inian commented on #6267
Ah, we should have documented this. @thorwebdev can you add your CORS example to the repo?

Functions doesnt pass CORS headers to the client by default (like our other products). Since you control the server you can enable CORS if required.

Probably we can add this as an option when you deploy functions to enable CORS by default so that it is easier to get started.

[2022-04-02 19:01] GaryAustin1 commented on #6267
Others are encountering this also on Discord.
It sure would be nice if someone familiar with Deno uses an example with some of cors functions out there.  Seems a pain to have to do all our own headers, but I've not found the correct cors functionality to work with "serve" as in Thor's demo.

[2022-04-02 19:08] GaryAustin1 commented on #6267
@inian It doesn't help that either the function.js code is not implemented correctly or the docs for invoke are wrong.

Passing in {body: {name:"cat"}} as shown in the invoke() api docs ALSO generates a CORS error with the sample code because function.js seems to want a string like body:'{"name":"cat"}'.
I've reported that error yesterday in function.js repository.

[2022-04-02 21:52] GaryAustin1 commented on #6255
I lucked out the email provider I've been using with Google Cloud functions with SMTP has a full API.  Just used Fetch in Deno and am in business.

[2022-04-03 02:06] prescience-data opened #6271 "Unable to refresh `graphql.rebuild_schema()` with `postgres` user"
# Bug report

## Describe the bug

When calling `graphql.rebuild_schema()` in a sql migration script, the function fails due to lack of permissions on the `postgres` user.

### Discussion item with context:
https://github.com/supabase/supabase/discussions/6262#discussioncomment-2493301

### Supabase code:
[code]

This seems like a possible bug given the EXECUTE grants to postgres, anon, and authen

[2022-04-03 08:23] jjhbw commented on #6228
This is my first day playing around with supabase, but maybe you can do this using a RLS rule similar to the one described here? https://supabase.com/docs/guides/auth/row-level-security#verifying-email-domains

[2022-04-03 12:22] olirice commented on #6271
Thank you for reporting

@dragarcia I think ^ is the right call since we've had similar issues before. I'll release another version of pg_graphql with ^ change tomorrow. Would you be able to get a release script/process together for it?

[2022-04-03 16:19] Marviel opened #6276 "If Replication is not Enabled on a Table, Do Not allow Subscriptions to Succeed"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, you can subscribe to tables which do not have replication turned on. This has caused me much frustration locally. It would be helpful if the Realtime Server, and then `subscribe` calls onthe SDK, would both fail out when Subscriptions cannot be placed on a table due to existing replication rules. The e

[2022-04-03 18:02] Fannolo commented on #6266
To solve that issue quickly, we removed on the id row the additional information that we did not add previously,  and that worked for us

[code]

[2022-04-04 01:05] GaryAustin1 opened #6277 "Supabase Service Key mode will not override RLS if a user token is applied."
# Bug report

In looking at a user issue with SilentWorks on Discord, a strange result was happening with SvelteKit server side requests being blocked by RLS with service_key used to init the Supabase client (in this case on server).

If true this could cause strange results with left over or applied tokens to the supabase object.

## To Reproduce

I don't use server side code, so the mock up test

[2022-04-04 02:06] pico-project opened #6278 "Send confirm signup and change email address emails when user is created or updated through the bankend"
# Feature request

## Describe the solution you'd like

Add ability to send user confirm signup and change email address emails when user is created with supabase.auth.api.createUser and user data is updated with supabase.auth.api.updateUserById

[2022-04-04 04:35] thorwebdev commented on #6267
@GaryAustin1 thanks so much for pointing this out!

Two things to hopefully help with this:

1. I've added a minimal CORS example: https://github.com/supabase/supabase/pull/6279/commits/50b5c341dca44caad26af6e0a711f3950d5c37e3
2. I've updated the docs to correctly reflect that body needs to be stringified: https://github.com/supabase/supabase/pull/6283/files

@inian @kiwicopple fyi, two more issue

[2022-04-04 06:09] chrisb2244 commented on #1176
@kristjanmar I think you need to put the shouldCreateUser in the second parameter, that is:

[code]

[2022-04-04 06:57] burmecia commented on #6266
This issue is caused by limitation of the schema diff tool (see the details https://github.com/supabase/cli/issues/165), although the docs can be better improved to mitigate.

[2022-04-04 10:06] thorwebdev commented on #6267
Okay, closing this out as these should all be addressed now. @GaryAustin1 please let me know if you think I've missed anything.

[2022-04-04 10:06] #6267 closed

[2022-04-04 11:34] olirice commented on #5068
+1

Currently to add a new schema you click any of the existing schemas to present a drop down list. Selecting one of the entries in the dropdown adds it to the `Schema` list.

It took a little trial and error to figure out. I agree that a dropdown multi-select would be more intuitive

[2022-04-04 14:04] steinroe commented on #5852
We are experiencing a similar issue.

[2022-04-04 18:13] Marviel opened #6290 "Realtime Subscriptions No Longer Working Locally With Custom JWT"
# Bug report

## Describe the bug

Local subscriptions are not working with the provided "self-hosted" `docker-compose.yml`, even though replication is enabled on all tables.

## To Reproduce

1. Clone this repo
2. Run the local docker-compose setup as is described in the documentation, including ENV var setup
3. Realtime subscriptions (from js client) succeed -- but are not broadcasted.

## Expec

[2022-04-04 18:16] w3b6x9 commented on #6290
@Marviel Thanks for reporting this issue! I'll investigate shortly and post here with my findings.

[2022-04-04 18:54] steve-chavez commented on #5852
@kangmingtay FYI, seems there was a regression in gotrue-js ^

[2022-04-04 19:25] steve-chavez commented on #6277
@GaryAustin1 Oh, wait. So you assume that both keys will have an effect on db authorization right? That's not the case actually, only the `Authorization: Bearer <jwt>` will affect the db.

The key in `apikey` is a Kong thing, it doesn't reach the db and it's only there for rejecting requests without a JWT. See this previous discussion https://github.com/supabase/supabase/discussions/1925#discussio

[2022-04-04 19:40] meera-datey opened #6292 "Welcome Email Message"
# Feature request
After successful email confirmation and sign-in, send a 'welcome' e-mail message.

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like
Add a welcome message email template.

A clear and concise description of what you want to happen.

## Describe alterna

[2022-04-04 19:55] GaryAustin1 commented on #6277
@steve-chavez I think this more a confusion thing, but it is likely users assume use of service key is absolute.  As we were debugging a user issue on RLS not working with server side code involving setting token into the SB client. It came out he was using service key.  All three of us assumed his code should bypass RLS.  As I thought about setting token I thought it might be the issue.  After se

[2022-04-05 00:43] GaryAustin1 opened #6296 "auth.api.createUser documentation is incorrect for providing user metadata, or gotrue.js needs to be fixed."
# Bug report
## Describe the bug
API documention for createUser is incorrect.
![image](https://user-images.githubusercontent.com/54564956/161655421-514ad9ae-c8cf-4f3f-88a6-04ccc3e0e785.png)

After digging thru the source, to set user meta data you must provide user_metadata instead of data for the key.
[code]

## To Reproduce

Follow 5 line documentation to createUser with service_key.
No user_met

[2022-04-05 02:10] #6102 closed

[2022-04-05 06:08] RaghavBhat02 commented on #5440
Can I take this issue?

[2022-04-05 07:18] adriengibrat opened #6298 "Egde Function deploy returns a 500 error"
# Bug report

Unable to deploy edge function due to cli error

## Describe the bug

Error 500 "Unexpected error fetching a function" while trying to deploy edge function (with supabase cli on linux).

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1.  ✅ `supabase functions new hello`
2.  ✅ `supabase functions serve hello`
3. ❌ `supabase functions d

[2022-04-05 10:21] kiwicopple commented on #6153
(closing this - we have this already due to a bug with algolia)

[2022-04-05 10:21] #6153 closed

[2022-04-05 10:27] kiwicopple commented on #6180
Hey @dcruz1990 - are you able to share a few more details?

What request are you making? Is it using the supabase API, graphql, edge functions, etc?

[2022-04-05 10:38] kiwicopple commented on #6228
This definitely seems like a task for RLS

@bwklein - does @jjhbw 's suggestion work for you?

[2022-04-05 10:40] kiwicopple commented on #6230
we should update the `Dashboard Function page` to be `hello-world` - this helps devs to understand that it's good practice to use hyphens

[2022-04-05 12:34] #6236 closed

[2022-04-05 12:34] kiwicopple commented on #6236
thank you! 🙏

[2022-04-05 12:55] kiwicopple commented on #6277
Perhaps this one requires a docs update. Even if we switched it to the opposite, there would still be confusion for developers, but also with the downside that their false-assumption has caused a data-breach (RLS is bypassed).

Once a user is signed in with a client, we definitely want to adhere to the RLS of that user. Let's update the docs to make this clear?

[2022-04-05 13:51] dcruz1990 commented on #6180
Im using the standar supabase API.

[code]

[2022-04-05 14:12] bwklein commented on #6228
@kiwicopple I received this reply from 'silentworks' on Discord about this question.

"Similar question was asked in the #ideas-and-suggestions channel. You can do so using a trigger but there is currently a pending issue that stops this from working fully as EXCEPTIONS inside of triggers on signUp don't bubble all the way up to the API level, so your user would be stopped but you wouldn't get an

[2022-04-05 14:43] bwklein commented on #6228
I raised the question on Discord and was directed to this thread in Ideas/Suggestions there...

![Screenshot_20220405-074205](https://user-images.githubusercontent.com/12104446/161779941-3446bed5-73c2-492d-81f1-06eeed9393d5.png)

[2022-04-05 14:50] steinroe commented on #3233
This would also make life easier when trying to implement multi-tenancy:
- https://github.com/supabase/supabase/discussions/6301
- https://github.com/supabase/supabase/discussions/1148

[2022-04-05 16:35] steinroe commented on #3233
I just received answer from the (super awesome) Supabase support and they hinted that db-pre-request can already be set!

[code]

and to reset

[code]

more details [here](https://postgrest.org/en/stable/configuration.html#in-database-configuration)!

[2022-04-05 18:10] anggoran commented on #6017
I think this should be "new feature" and prioritized (?). AppCheck along with RLS authorization will help preventing abuse of database and functions usage from malicious user and an app that isn't authentic

[2022-04-05 19:05] w3b6x9 commented on #6290
@Marviel I spun up `docker-compose` and everything worked for me.

- Did you set a JWT secret and pass in a JWT signed by that secret when joining the subscription? Can you check your local database's `realtime.replication` table and see if there are any records?
- You mentioned "replication is enabled on all tables." How were you able to do this? If you check your database publication tables, wha

[2022-04-05 21:35] Hamaad-Siddiqui opened #6307 "Failed to create support ticket"
Creating a support ticket returns a status code of 500 with the error ID:15f87640-b09d-4a4a-8b27-c3ed4160c8ba

[2022-04-05 22:14] Marviel commented on #6290
Okay, thanks for the followup... good sanity check to let me know I'm doing something wrong.

I do have a JWT Secret, and I'm generating a JWT using that secret.  I know I'm signing correctly because I'm able to make normal requests fine... it's just the realtime stuff that isn't working. I'll investigate more here though and ensure I'm not doing anything silly.

[2022-04-05 22:15] Marviel commented on #6290
Well, that might be part of my problem. I tried to make this happen the naive way, which may have messed up my subscriptions:

[code]

Playing with this piece now, but will probably be a few days before I can get back to confirm it's the culprit.

[2022-04-05 22:28] w3b6x9 commented on #6290
@Marviel that does look correct. what do you get when you query `select * from pg_publication_tables;`?

[2022-04-05 22:29] w3b6x9 commented on #6290
@Marviel what does your client code look like? are you calling `.subscribe()`?

[2022-04-06 05:21] phamhieu commented on #6298
Hi @adriengibrat, your project functions metadata is invalid. I already clean it up.
Can you try again and let me know if the still issue persists. Thank you.

[2022-04-06 08:33] Hallidayo commented on #6230
@kiwicopple - Can I be assigned to this one? Also is the correct [page](https://github.com/supabase/supabase/blob/master/studio/pages/project/%5Bref%5D/functions/index.tsx)

[2022-04-06 09:52] phamhieu commented on #6307
Thanks @Hamaad-Siddiqui for reporting the issue. We are working a fix now.

[2022-04-06 10:44] prescience-data commented on #6271
Thanks for that quick fix @olirice !

Semi-related, but do you have any visibility as to when this will occur automatically? (I note in the blog post that it will be eventually be triggered by DDL, so I assume at some point this will be reversed? https://github.com/supabase/pg_graphql/commit/0a2773b67b6770155bf2b3603b1c7f6ddcec28c9)

[2022-04-06 11:55] olirice commented on #6271
During development of the extension we intended for it to be automatic, triggered by a ddl event listener

I removed it at the last minute because (on free tier hardware) larger SQL can take several seconds to rebuild. That wouldn't be an issue except that it executes after every DDL operation inside the transaction. If you were executing a large migration with dozens of statements the migration m

[2022-04-06 12:07] olirice commented on #6271
@prescience-data could you please remove your code snippet for `graphql._rebuild_schema`?
that fix is going out to the platform today and it'll cause the same upgrade issue i mentioned ^ due to use of internal api

[2022-04-06 13:38] phulengo opened #6329 "Cannot query foreign tables when table has a self-referential foreign key"
# Bug report

## Describe the bug

I have a table named `Comments` that is directly related to table `Ideas`. I want to get/query all comments that have `comments.idea_id` = `ideas.ideas_id`.
![image](https://user-images.githubusercontent.com/30664920/161985256-06dd42ea-3b20-40e1-9d7c-47fbec4cbf79.png)

Below is my code snippet:
[code]
After a long time of wondering why my code didn't work (data a

[2022-04-06 14:59] Hamaad-Siddiqui opened #6330 "Supabase logo is weird on /beta route"
[It is set to 20 x 20px for some reason](https://supabase.com/beta)
![image](https://user-images.githubusercontent.com/62789084/162005000-53ce1cfb-519a-4d02-ab9c-f73112c92d13.png)

[2022-04-06 16:16] qw-in opened #6331 "Auth copy contrast issue"
# Bug report

https://github.com/supabase/supabase/blob/master/www/pages/auth/Auth.tsx#L134-L138

![Screenshot_2022-04-06-09-10-31-88_3aea4af51f236e4932235fdada7d1643.jpg](https://user-images.githubusercontent.com/19194187/162020544-f51cb224-a460-4a12-bdd1-9899e5a5a29f.jpg)

[2022-04-06 20:01] #6205 closed

[2022-04-06 20:17] Hallidayo commented on #6331
I've created a [pull request](https://github.com/supabase/supabase/pull/6334) for this.

[2022-04-06 20:29] Hallidayo commented on #6330
[PR](https://github.com/supabase/supabase/pull/6335) created for this.

[2022-04-06 22:17] prescience-data commented on #6271
[code]

<img src="https://user-images.githubusercontent.com/65471523/162081352-093d2b26-255a-43e1-b494-60e6e46a7a7d.png"
 width="50%" />

You're right, much faster doing it at the end 😂

[code]

[2022-04-07 14:45] lyqht opened #6348 "Local Storage problem on React Native (MMKV cache)"
# Bug report

## Describe the bug

This bug is pretty similar to what is reported in #276, where I'm getting errors like

[code]

So far I have developed the login and sign up functionality for my app by **ignoring the error**, but now that I'm trying to implement the sign out functionality, the following warning stops me from proceeding any further.

[code]

The solution in #276 is to declare the

[2022-04-07 14:55] lyqht commented on #6348
For anyone who is keen, the workaround that I came up with for using MMKV as cache which helps to remove the errors and warnings

[code]

[2022-04-07 15:01] kiwicopple commented on #6180
that's odd. I get the feeling the CORS error is a red-herring. Are any of your other endpoints failing, or just this request?

Are you able to inspect the logs in your dashboard and see any errors there?

[2022-04-07 15:03] kiwicopple commented on #6228
Ah yes, that sounds accurate - you won't be able to bubble up the error so you will need to "guess" that it's failing at the trigger. We definitely want to improve this (in the Auth server, which will require some work to make it work better with Postgres)

[2022-04-07 15:09] kiwicopple commented on #6017
We're working on several security enhancements right now. They won't be using AppCheck - I'm not too sure if that's even feasible with Supabase. Instead they will be natively built in to every project - allow/ban-listing IPs, security reports and checklists, firewalls, custom API keys, etc. (DDoS protection is already available)

[2022-04-07 15:18] #6330 closed

[2022-04-07 15:23] kiwicopple commented on #6348
Thanks for the workaround @lyqht . I'll close this since you've shared that snippet!

To answer your question:

The auth library simply uses the `localstorage` browser interface, so you can use any storage library which uses the same interface. There are quite a few out there, but if you are using a library that does not adhere to this interface you have two options:

1. Add another library which

[2022-04-07 15:23] #6348 closed

[2022-04-07 15:49] topperspal commented on #6017
Allow/ban IPs can help in website only, what about mobile apps where we need to allow every IP address.

As far as I know, firebase app check for android uses sha key to validate the app original app.

[2022-04-08 03:35] jet10000 opened #6364 "Storage upload file bug"
# Bug report

When upload "望舌诊病.pdf"

## Describe the bug

<img width="396" alt="image" src="https://user-images.githubusercontent.com/2258120/162357647-bb257708-eca0-44c6-a3d1-a7d7016c9adb.png">

[2022-04-08 07:10] thorwebdev commented on #6348
In case helpful, here an example with `AsyncStorage`: https://github.com/supabase-community/expo-stripe-payments-with-supabase-functions/blob/main/app/lib/supabase.ts#L12-L17

[2022-04-08 07:18] thorwebdev commented on #4702
Some other helpful resources
- https://supabase.com/docs/guides/with-expo
- https://github.com/supabase/supabase/tree/master/examples/expo-user-management
- https://github.com/supabase-community/expo-stripe-payments-with-supabase-functions

[2022-04-08 15:07] Saulmarti commented on #4792
I think the gap between the free projects and the Pro plan is to big. It could be very beneficial to have a "Dev" plan for about 5$ with something like: never paused, 1gb database, 5gb file storage, 4gb bandwidth, etc. And another "Standard" plan for about 10$ like: 3gb database, 15gb file storage, 10gb bandwidth, 3 days backup, etc

As an example, i have about a 10 small projects that i would be

[2022-04-08 18:13] MildTomato commented on #5675
Just in case some people reading this are unaware, when self-hosting the Studio dashboard, the popover menu only has the theme option, whereas the hosted version of the app has additional items.

The Popover was probably added in as a way to avoid adding in an account page for self hosting at the time. We can improve on this now, there's probably no reason we couldn't have a self hosted account pa

[2022-04-09 01:52] Isaiah-Hamilton commented on #6230
All yours @Hallidayo, and yes that's the correct page.

[2022-04-09 13:57] Hallidayo commented on #6230
I've created a [pr](https://github.com/supabase/supabase/pull/6381) for this.

[2022-04-09 20:59] gabrielsestrem opened #6387 "Queries using !inner are returning null in the supabase-js"
# Bug report

## Describe the bug

All my queries using inner joins are returning null.

This is CRITICAL as we have many queries like this in the grid (filtering results)

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

I can give you two examples that are returning null when using inner joins:

`    const { data: reverse_orders, count, error } = a

[2022-04-09 23:37] johnhenry opened #6388 "Add a Quickstart for SolidJS"
# Improve documentation

It would be awesome to add a tutorial for SolidJS.

[2022-04-10 00:12] salazarr-js commented on #5324
something similar to `supabase-schema`?
https://github.com/zernonia/supabase-schema
https://supabase-schema.vercel.app/

[2022-04-10 02:58] nikolaswise commented on #491
From what I can tell this makes a call to Supabase – it adds around 600ms when I use to to verify a users token.

[2022-04-10 21:35] ferpintado commented on #6071
+1 This also makes me unable to do `supabase db push`

[2022-04-11 06:47] fergusmeiklejohn commented on #563
I'm using Prisma so I can't create a public.users table via SQL. This is still a bug and this issue shouldn't be closed.

[2022-04-11 09:53] awalias opened #6396 "careers page redirect"
https://about.supabase.com/careers should redirect straight to https://boards.greenhouse.io/supabase

[2022-04-11 10:44] Hallidayo opened #6401 "Edge-Functions - Terminal Overflow"
# Bug report

## Describe the bug

On the [edge-functions](https://supabase.com/edge-functions) page on the section 'Anatomy of an Edge Function', the terminal overflows horizontally.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. go to [edge-functions](https://supabase.com/edge-functions) page
2. Go down to 'Anatomy of an Edge Function'
3. You

[2022-04-11 14:29] kungpaogao commented on #6153
noticed that the search errors out with an Algolia API error - is this the same issue? @kiwicopple

[code]

[2022-04-11 15:53] rotemrevivo91 commented on #6228
I'v used the same method to limit signups to a specific e-mail domain and i'm getting an error as expected:
1. create a `before insert` policy on `auth.users`:
[code]
2. signup:
[code]
3. then an error is thrown in the console:
[code]
if that helps anyone

[2022-04-11 17:20] bwklein commented on #6228
I'll have to give it a try myself, but from this it looks like @rotemrevivo91 solution would do the trick.

[2022-04-11 17:29] bwklein commented on #6228
@rotemrevivo91 does the user receive an email like silentworks mentioned in the reply or does that failure in your trigger stop the process before the email is sent?

[2022-04-12 15:16] johnhenry opened #6422 "Add a Quickstart for EmberJS"
# Improve documentation

It would be awesome to add a tutorial for EmberJS.

[2022-04-12 17:03] 50l3r opened #6423 "Kong doesnt start in supabase self host"
# Bug report

## Describe the bug

When i try to run supabase-kong from self hosted using portainer i recieve this error:

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Deploy supabase-kong container
2. Ports doesnt up
3. View logs and see the error

## Expected behavior

The service should be executed correctly

[2022-04-12 17:17] phillipphoenix commented on #563
I had this problem, but it was solved by not using a capital starting letter in my table name.
I used `Profile` as my table name, but after switching to `profile` it suddenly worked.

And if you're using Prisma, then you can omit creating a reference between the profile and the auth user.

[2022-04-12 20:48] salazarr-js opened #6425 "Invalid login credentials when sign-up with provider"
Following the basic auth sign-in use
[code]

I was able to identify some of the most common auth errors
[code]
but found that some errors share the same `status`, don't have an unique error code and some cases triggers the same error making it hard to debug and show useful info to the user in the UI

If a user signed up using a provider like google, will have a `Invalid login credentials` error wh

[2022-04-12 20:56] salazarr-js commented on #5334
I realize that when a user signs up using an already in use `email` don't get any error messages, `auth.signUp()` just returns the user. i think in this case i wanna cath the error and tell the user that email is in use

a `User already registered` error message would be awesome

[2022-04-12 20:57] salazarr-js commented on #6425
related to #5334

[2022-04-13 01:22] johnbellone commented on #180
I seem to be running into this issue, too.

[2022-04-13 01:49] fergusmeiklejohn commented on #563
Yeah I always try to remember to `@@map(lower_case_name)`

This is a drawback to using Prisma with Supabase :-( We can't establish a FK relation between (eg) `public.user_profiles` and `auth.users`

[2022-04-13 04:30] Praesum commented on #4448
definitely a regular problem for me since I started using supabase several days ago. Happened at least 4 times on different days with the following console log.
![Screen Shot 2022-04-12 at 10 28 53 PM](https://user-images.githubusercontent.com/17322191/163100329-75b98573-6650-4235-84d6-17843bd5e5d2.png)

Executing on Brave with Brave Shield disabled. I've been able to successfully log in a few tim

[2022-04-13 07:50] au-top opened #6432 "big databases log file 60g+"
# Bug report

## Describe the bug

I set up a local supabase. I noticed that after I ran for a period of time (a few weeks), a large storage log file (60 +) g appeared. When I deleted the file I lost all my data

I think he should be a log from the database

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. running it has been running for some time

[2022-04-13 11:11] au-top commented on #6432
#https://github.com/supabase/cli/pull/245

[2022-04-13 12:47] Ziinc commented on #6202
This has been fixed in latest logs explorer refactor

<img width="795" alt="image" src="https://user-images.githubusercontent.com/22714384/163183217-c7de17ae-6fa9-4647-b373-37a246709fde.png">

[2022-04-13 12:47] #6202 closed

[2022-04-13 13:03] unusec commented on #5945
the problem is on offline installs, where you cant reach the CDN to download the script, also stripe also tries to load some CDN content as shown in console
![monaco-editor](https://user-images.githubusercontent.com/2709040/163185968-5e0256ee-1959-4ffa-bc61-e8551d051cde.png)

[2022-04-13 13:16] unusec commented on #6423
try to run the kong container without KONG_DECLARATIVE_CONFIG env var
then open a ternimal in that container and do a cat /var/lib/kong/kong.yml to check its contents
i had some issues with this and copied my kong.yml directly in root from my linux machine using:
docker container ls - to get the id of the kong container
chmod 777 docker.yml (if in linux)
docker cp kong.yml kong_container_id:/kong.

[2022-04-13 13:21] unusec commented on #5540
@ryanfiller in the .env file, if you run supabase on another machine in your lan make sure to use the LAN IP for the PUBLIC_REST_URL and SITE_URL, I had a similar issue with a supabase install on my NAS

[2022-04-13 14:48] Flambe commented on #6180
Not sure if it's related to this issue, but I figured that I'll post this here if it is.

I'm getting a similar issue when trying to update custom SMTP settings on the `/auth/settings` page in Supabase where it always sends back 405 ```{
    "data": null,
    "error": {
        "message": "Method PATCH Not Allowed"
    }
}```. This only happens on self-hosted/supabase cli.

Might this be related?

[2022-04-13 15:24] ChronSyn commented on #1176
I've just been trying this with phone login, and unfortunately, when set to `true`, this returns the error 'signups not allowed for otp' even for an account which already exists (and preventing the login from proceeding):

[code]
If I set it to `shouldCreateUser` to `true` and make no other changes, the login process continues as normal. Unfortunately, this also means that accounts are still creat

[2022-04-13 15:25] dcruz1990 commented on #6180
@kiwicopple here is the [app preview](https://dashboard.ionicframework.com/preview/432570fd/q3coqbflxp)

![image](https://user-images.githubusercontent.com/43586145/163214740-a89eda04-d9ea-4426-a44b-30fe6e9e6e9f.png)

As you can see, im doing a post request but inside it im doing a PATCH and it fails, from localhost and from Ionic Dashboard origin.

@Flambe maybe your issue is related to this, i c

[2022-04-13 19:13] marssantoso commented on #6180
Hi. Any update on the fix or workaround here? Currently experiencing the same thing.

[2022-04-14 03:26] fergusmeiklejohn opened #6437 "OTP by email should not send email verification link, email should be verified when user inputs correct OTP"
# Bug report

## Describe the bug

Email OTP for new users is sending an email with a link to confirm the email instead of the OTP. This is unnecessary with email OTP, since if the user can successfully paste the OTP into the app they have access to this email address, and it's bad UX since the user expects an OTP not a link. The bug is that to prevent this we must turn off email verification, so

[2022-04-14 03:31] GaryAustin1 commented on #6437
I just used email OTP in the last few weeks for a test and I thought I edited the email template to not send a link and just the otp code...
[code]

[2022-04-14 04:20] rohandebsarkar opened #6438 "Project cannot be deleted, showing error code 500"
# Bug report

## Describe the bug

I want to delete a project, but it's showing some error.

## Expected behavior

The project should be deleted.

## Screenshots

![Screenshot from 2022-04-14 09-40-35](https://user-images.githubusercontent.com/50144004/163312652-890303d4-617f-4e98-8c6a-ee0a01e80b16.png)

## System information

- OS: Archlinux
- Browser: Firefox-99.0.1

[2022-04-14 06:15] MildTomato commented on #6438
We're having some issues with syncing some of our details from our payment provider (Stripe).
This is also affecting some other issues, which we'll investigate.

[2022-04-14 06:17] MildTomato commented on #6438
@rohandebsarkar could you email support@supabase.io with your project ref?

the project ref is the long id in the URL when your inside the project
for example `http://app.supabase.io/project/bayqmkbpbdmptzbzmuud` <— this

[2022-04-14 08:04] inian commented on #6180
@dcruz1990 in the link you posted, I do see that the CORS headers are being sent correctly. Is this happening only on an actual mobile device running an ionic app?

<img width="896" alt="CleanShot 2022-04-14@2x" src="https://user-images.githubusercontent.com/2155545/163341374-7559bf53-dfe1-43c6-b6d2-cd0a48932c77.png">

@Flambe that seems to be a different issue on our Supabase Studio. Can you plea

[2022-04-14 10:35] Flambe commented on #6180
Will do!

[2022-04-14 10:49] Flambe opened #6439 "Cannot save auth settings in Studio in self-hosted/cli environments"
# Bug report

## Describe the bug

When trying to update the auth email settings in Studio, I get an error saying that "Method PATCH Not Allowed". This only happens on self-hosted/cli instances of Supabase Studio.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to `/project/default/auth/settings` page on a project in Supabase Studio in a self

[2022-04-14 15:39] kiwicopple commented on #6432
Were you using the CLI, or the docker-compose?

[2022-04-14 15:44] kiwicopple commented on #6439
You should not be able to update these settings on self-hosted/CLI, because they are provided as env vars. You can instead update the config files provided.

I'll leave this open however - we will need to fix Studio to make this more apparent

[2022-04-14 16:24] 50l3r commented on #6423
I dont have `KONG_DECLARATIVE_CONFIG` in my vars. Accessing container files and try to cat kong.yml it says that's a directory.

I dont have any kong.yml file for my part.

[2022-04-14 16:51] Flambe commented on #6439
@kiwicopple Ah that makes sense.

I think another solution is to make the docs more self-hosted friendly. (For example [the email settings docs](https://supabase.com/docs/guides/auth/auth-email) only caters to apps deployed on the SaaS version). This was part of my confusion as to why the page wasn't working as I didn't think to look for the env and got way too much tunnel vision into the settings

[2022-04-14 19:13] dcruz1990 commented on #6180
@inian it happens there and on local environment, also in exported apk.

@marssantoso tried that but its different verb and the data that i doesn't provide gets to null.

[2022-04-14 19:24] au-top commented on #6432
docker-compose

[2022-04-14 22:50] #6396 closed

[2022-04-15 01:27] dstroot commented on #4883
1. @[w3b6x9](https://github.com/w3b6x9) your fix works! Kudos.
2. This definitely happens after your project is paused (and you have hooks in place I think)

[2022-04-15 08:50] inian commented on #6180
Can you post a screenshot of your network tab showing the OPTIONs request? I am not able to replicate it by visiting this link - https://dashboard.ionicframework.com/preview/432570fd/q3coqbflxp

[2022-04-15 17:02] jgeurts commented on #6071
fwiw, I was able to add an index using the supabase sql editor. It's not ideal, but it worked 🤷

[2022-04-15 17:15] wadclapp opened #6449 "Option to allow user signin on signup/login with email confirmations enabled (but not confirmed)"
# Feature request

## Is your feature request related to a problem? Please describe.

On authentication settings, if I select

**"Enable email confirmations" // true**

The user does not get logged in on [`signUp`](https://supabase.com/docs/reference/javascript/auth-signup), I would like the user to be able to upload an avatar on signup but security policies block it because they're not logged in.

[2022-04-15 20:09] nereolopez opened #6452 "Not possible to keep user signed in"
# Bug report

## Describe the bug

The issues is that the user gets kicked off the app and needs to sign in again over and over.
After checking the many threads on this issue, these are the two scenarios we face:

1. The token gets refreshed when I come back to the application after 1 hour which is the default expiration time (see screenshot below where the event is captured), but the immediate ne

[2022-04-15 21:12] dcruz1990 commented on #6180
PATCH method is missing from my side...
![image](https://user-images.githubusercontent.com/43586145/163632383-e256107f-e6cd-473b-980d-aa57d103197d.png)

[2022-04-16 02:59] steve-chavez commented on #6180
@dcruz1990 Can you send us your project ref to support@supabase.io?

[2022-04-16 05:18] 10000multiplier commented on #6348
For anyone using `react-native-mmkv` this also works:

[code]

[2022-04-16 09:31] inian commented on #6180
There is something weird going on. Supabase sets the Access-Control-Allow-Origin header to be `*` and not https://q3c...appflowapp.co. Do you know if there is a proxy in between which is altering these headers?

[2022-04-16 11:08] bhagavan44 commented on #4758
I have same problem with google authentication

[2022-04-16 14:59] kangmingtay commented on #1176
Hey @ChronSyn, thanks for reporting this with the repro steps. I'll take a look at this soon!

[2022-04-16 21:10] GaryAustin1 opened #6464 "supabase.js/gotrue.js token refresh does not work on mobile devices going in and out of "sleep" mode."
# Bug report

## Describe the bug

supabase.js and gotrue.js have a token refresh timer that does not work in sleep mode on mobile devices.

Testing on Android/Chrome and ios/Safari shows that if the jwt token expires during the sleep period the app will no longer be able to do authenticated requests upon return (sometimes the timer will start running again but this could be many minutes).  There

[2022-04-16 21:47] MediaFormIT commented on #4931
This is happening to me too, how can it be solved?

[2022-04-17 00:21] dcruz1990 commented on #6180
I don't really know that... im using Warp CLI to connect to the internet.. but the error also happens in localhost.

[2022-04-17 01:21] Marviel commented on #6290
Sorry this took so long, I get this back:

![Screen Shot 2022-04-16 at 9 21 22 PM](https://user-images.githubusercontent.com/2037165/163696263-ac32bb88-3624-400d-8985-8e6c5ee14214.png)

[2022-04-17 01:22] Marviel commented on #6290
Client code:

[code]

[2022-04-17 03:27] apecollector commented on #6071
@jgeurts I wasn't, I didn't have permission to modify the table. I ended up creating the tables in a postgres client directly using my own user instead of through the supabase UI and that solved my problem.

[2022-04-17 05:37] Lexora commented on #6065
thanks @obrunsmann  -- so I reproduced in local dev-env on my ubuntu and pretty sure the issue is here -> studio/components/interfaces/TableGridEditor/SidePanelEditor/RowEditor/DateTimeInput/DateTimeInput.tsx
now I gotta go and learn some react stuff if I'm to try and fix this :P

[2022-04-17 09:57] au-top commented on #6432
i find big  file info

`/var/lib/docker/overlay2/11c158c9ae1e24008fc7fac6078e5d7e77e0dd3d06967448139c55fd21c4015b/merged/var/log/postgresql/postgresql.csv`

[code]

`/var/lib/docker/overlay2/11c158c9ae1e24008fc7fac6078e5d7e77e0dd3d06967448139c55fd21c4015b/diff/var/log/postgresql/postgresql.csv`

[code]

[2022-04-17 09:58] au-top commented on #6432
help me

[2022-04-17 17:34] Marviel commented on #6290
If it helps, I also get these logs from the realtime container:

[code]

[2022-04-17 21:26] Marviel commented on #6290
This is also the case in the CLI. After some debugging I'm narrowing in on the issue.

Assuming this had something to do with JWTs I was signing myself, I removed all RLS from my table, and I disabled the following line, whre I was setting up my auth token with supabase:

[code]

**In this case, the subscriptions started to work!**

However, I also need my subscriptions to work with JWTs that I ha

[2022-04-18 03:34] quick007 opened #6471 "Passwordless Login"
# Feature request

## Is your feature request related to a problem? Please describe.

I want to add passwordless login to my app, but as far as I know, you can't do that with Supabase. [See below](#additional-context) for more info on what this entails. Stytch is a billion-dollar company because they did this, so I think it would be very great to have it implemented in more places. But, right now,

[2022-04-18 04:51] Isaiah-Hamilton commented on #6471
@quick007 supabase already has passwordless login https://supabase.com/docs/guides/auth/auth-magic-link

[2022-04-18 04:51] #6471 closed

[2022-04-18 08:10] techronin opened #6474 "MetaMask for authentication"
# Feature request

MetaMask for authentication

## Is your feature request related to a problem? Please describe.

it’s not related to a problem. It is a suggestion to enhance the existing product. It would be useful to be able to authenticate users with MetaMask wallet.

A clear and concise description of what you want and what your use case is.

A token gated community is an emerging “Web3” busi

[2022-04-18 12:32] julianpoma commented on #6464
This happens on desktop also if you put your computer to sleep/hibernate. It also happened to me if I left the tab in the background for a period of time.

[2022-04-18 12:44] w3b6x9 commented on #6290
@Marviel thanks, i'll take a look today.

[2022-04-18 13:48] Ziinc opened #6486 "bug/web: Styling of warning alert boxes has low contrast."
<img width="868" alt="image" src="https://user-images.githubusercontent.com/22714384/163817463-1b0cb52e-65b7-4c74-ab2c-965a9034e81d.png">

[code]

[2022-04-18 14:43] GaryAustin1 commented on #6464
@julianpoma what OS/browser on the background tab stuff?  I have issues with chrome/edge in windows on desktop with realtime because background tabs throttle timers, but could not reproduce this token error with that environment.  I sort of expected an issue but did not see it the one time I tried.

[2022-04-18 15:03] julianpoma commented on #6464
I have experienced it with Chrome on both MacOS and Windows, and my coworkers reported the same issue with Safari MacOS.

[2022-04-18 15:30] steve-chavez commented on #6180
Just to clarify, the REST API does set the `Access-Control-Allow-Methods`:

https://github.com/PostgREST/postgrest/blob/7589102c6cd86598eed9bae84801823af7a10d78/test/spec/Feature/CorsSpec.hs#L23-L28

It always sets `PATCH` as showed in the above test.

[2022-04-18 15:52] steve-chavez commented on #6180
@dcruz1990 Can you share the privileges on the `account` table? Run the following query:

[code]

[2022-04-18 17:58] dcruz1990 commented on #6180
@steve-chavez here is
![image](https://user-images.githubusercontent.com/43586145/163851911-fca28ae5-d6cf-4813-8d1b-7d98454860fe.png)

[2022-04-18 18:02] steve-chavez commented on #6180
@dcruz1990 I think there's another page missing there, the `anon` and `authenticated`(`usename` column) privileges on the table would help to clarify things.

[2022-04-18 18:06] dcruz1990 commented on #6180
@steve-chavez hm. that's the query result.. im not using authentication. Im just following your instructions :sweat_smile:

[2022-04-18 18:25] steve-chavez commented on #6180
Try this other query.

[code]

[2022-04-18 18:32] dcruz1990 commented on #6180
![image](https://user-images.githubusercontent.com/43586145/163856286-395d91c2-a728-414b-9bcf-eea6c80d372d.png)
[supabase_oycsjhformyuenpdxgtu_New Query (1).csv](https://github.com/supabase/supabase/files/8507377/supabase_oycsjhformyuenpdxgtu_New.Query.1.csv)

[2022-04-18 18:44] steve-chavez commented on #6180
Privileges seem fine. Hm, there must be something else changing the cors headers.

@dcruz1990 Share your project ref to support@supabase.io

[2022-04-18 20:53] quick007 commented on #6471
Does supabase have a plan to support auth apps?

[2022-04-18 22:49] w3b6x9 commented on #6290
@Marviel Ah, this might be the issue. You mentioned that you were calling `supabase.auth.setAuth(supabaseToken)` before but there seems to be an inherent issue with `gotrue-js` `setAuth` method.

Can you try:

1.  `supabase.auth.setAuth(supabaseToken)`
2.  `supabase.auth.stateChangeEmitters.forEach((x) => x.callback('TOKEN_REFRESHED', supabase.auth.currentSession))`

My hypothesis is that `setAuth

[2022-04-18 23:03] Isaiah-Hamilton opened #6495 "Content on edge functions page overflow"
# Bug report

## Describe the bug

On smaller screens, the content on the [edge functions](https://supabase.com/edge-functions) page is overflowing.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to edge-functions
3. Scroll down to `Anatomy of an Edge Function` section
4. See overflow

## Expected behavior

Content not overflowing on smaller

[2022-04-18 23:09] Isaiah-Hamilton commented on #6486
That's weird, it seems to look just fine for me. What browser are you using?
<img width="550" alt="Screen Shot 2022-04-18 at 7 07 04 PM" src="https://user-images.githubusercontent.com/70828596/163890994-dbaa5ee1-0a53-4b72-8a8b-91c1eb511c34.png">

[2022-04-19 00:40] #4709 closed

[2022-04-19 00:40] #6307 closed

[2022-04-19 00:53] Isaiah-Hamilton commented on #6474
Sounds good. I'll move this issue to our authentication repository.

[2022-04-19 02:41] rustamd commented on #6153
This issue is still present, getting "Operations quota exceeded. Change plan to get more Operations."

Seems like search is setup with Algolia commercial service, might be worth trying to look into their DocSearch for open source?

https://docsearch.algolia.com/

[2022-04-19 08:48] ganeshmani commented on #6495
@Isaiah-Hamilton can i work on this issue?

[2022-04-19 09:31] Hallidayo commented on #6495
@Isaiah-Hamilton - I think this issue is related to #6401 ?

[2022-04-19 09:56] kiwicopple commented on #6439
Yup, you're right. We definitely need to make that clearer. Thanks @Flambe

[2022-04-19 10:15] kiwicopple commented on #6432
Hey @au-top - did you see these notes in our docs?

https://supabase.com/docs/guides/hosting/overview#managing-your-database

https://supabase.com/docs/guides/hosting/docker#configuration

Running the database inside a docker image, in production is not recommend. You should definitely use an external Postgres server. Either way, you will want to ensure that you have configured Postgres for log ro

[2022-04-19 10:15] #6432 closed

[2022-04-19 10:30] kiwicopple commented on #6452
Hey @nereolopez - just a quick check: what platform/framework are you using?

[2022-04-19 10:36] kiwicopple commented on #6471
Hey @quick007 - can you share a bit more about what you're looking for here? Perhaps you want OAuth logins? Check out the providers we support here: https://supabase.com/docs/guides/auth#providers

[2022-04-19 10:38] kiwicopple commented on #6474
Hi @techronin we have a PR for this open here:
https://github.com/supabase/gotrue/pull/282

So I'll close this one in favour of the PR :)

We still need to investigate more though since the EIP for ethereum logins is still in draft and we don't want to compromise the security of existing Authentication method

[2022-04-19 10:38] #6474 closed

[2022-04-19 10:41] kiwicopple commented on #6486
I think it's because Zinc is using a `warning`. @Ziinc - do you need that? I only added styles for `caution` and `note`

[2022-04-19 10:45] kiwicopple commented on #6495
yeah, seems to be a duplicate of https://github.com/supabase/supabase/issues/6401

Let's use that one 👍

[2022-04-19 10:45] #6495 closed

[2022-04-19 11:37] #6439 closed

[2022-04-19 11:45] ganeshmani commented on #6401
@kiwicopple i would like to work on this issue :-)

[2022-04-19 12:07] Marviel commented on #6290
@w3b6x9 yeah, after some digging the callback doesn't seem to be working... and I see your PR! Thanks for the fix, will be very helpful.

[2022-04-19 12:24] w3b6x9 commented on #6290
@Marviel Oh, you’re saying it’s still not working?

Hm, so the custom token you’re signing is with the same secret that was passed to the Realtime server right? When you subscribe to Realtime can you see any records in realtime.subscription table of the database?

[2022-04-19 12:28] kiwicopple commented on #6401
It looks like @Hallidayo already has an open PR - just need @MildTomato to review and check if there are any necessary changes

[2022-04-19 12:52] nereolopez commented on #6452
Hey @kiwicopple , thanks for your message. We are using Angular's latest version and Supabase directly

[2022-04-19 13:24] TacoNaco47 commented on #5971
@ahmadfikrimasyhur But that's only a temporary solution. Shouldn't this API base-URL mapping be directly included?

[2022-04-19 21:06] james0r commented on #1469
Seems to be a lot of people running into this pain point.

[2022-04-20 01:44] Marviel commented on #6290
@w3b6x9 Yeah, still not working unfortunately. I did have to ts-ignore that change because it was complaining about both the `stateChangeEmitters` and `state.auth.currentSession` being protected.

1. I don't see any entries in the `subscription` table of the database
2. I've turned off RLS for the table entirely for debugging purposes.

[2022-04-20 02:58] w3b6x9 commented on #6290
@Marviel it's strange that your logs show that you successfully joined yet there are no records in your `realtime.subscription` table.

Can you please confirm that your env variables are the same as the following:

[code]

Just to confirm that you disabled RLS on your table and Realtime began giving back changes? Can you run try this again and check your `realtime.subscription` table? If you can g

[2022-04-20 03:07] w3b6x9 commented on #6290
@Marviel here's a list of the all the checks to make sure we're on the same page:

- Env vars

[code]

- JWT

Your custom token was signed with secret you set in `JWT_SECRET` and has at least a `role` in JWT `claims` plus whatever else you need to satisfy your RLS policies.

- Slot is active

[code]

And check that there's a `supabase_realtime_rls` slot.

- Publication and publication tables exist

[2022-04-20 08:30] phamhieu opened #7147 "Filter value input bug"
# Bug report

## Describe the bug

https://user-images.githubusercontent.com/689843/164185578-53f1d18a-6f91-4275-be7c-71b536d2bbdc.mov

[2022-04-20 08:42] codeofsumit commented on #4758
We are seeing the same error with Facebook. People can't sign up using facebook due to this error

[code]

[2022-04-20 22:26] RedChops opened #6515 "Current Deno version is not compatible with Stripe in Edge Functions"
# Bug report

## Describe the bug

Sorry, not sure if this is a bug or a chore really. The current version of Deno used, at least as created by supabase cli, is not compatible with Stripe. When attempting to serve a function that imports the Stripe library, the check stage throws an error:

[code]

The Deno team have released a new version to address this: https://github.com/denoland/deno/releases

[2022-04-21 00:27] madleo-dk opened #6516 "quirky .range() during pagination"
# Bug report

## Describe the bug
When paginating using `range`, specifically at the last page, a duplicate item would be added in place of the correct item.
The workaround is to delete both items (duplicate item and correct item) from the dashboard, and re-enter in those items.

## To Reproduce

This may be a one-off cache related issue, I can't be certain, but i can't reproduce.
Feel free to clo

[2022-04-21 06:24] w3b6x9 commented on #5685
I want to give an update on this.

We added instructions on how to get unblocked on this issue in the short term: https://supabase.com/docs/guides/integrations/prisma#confirming-realtime-functionality

We have a fix on the way and we'll try and deploy it to all existing projects as soon as we can.

Thanks to everyone for your patience!

[2022-04-21 19:26] adrienclay36 opened #6521 "invalid URL: Undefined when requesting realtime subscription from RealtimeClient.js versionDate"
# Bug report

## Describe the bug

When attempting to establish a realtime subscription via a useEffect hook in react-native, I am hit with this message

`TypeError: Invalid URL: undefined`

 I don't understand why this would happen here as I am successful in making calls to my database in every form, insert, create, update, delete etc.

I am ONLY hit with this message right now when calling on th

[2022-04-21 20:57] connorlindsey opened #6523 "Updating user metadata in onAuthStateChange causes infinite loop of events"
# Bug report

## Describe the bug

Updating user metadata in onAuthStateChange causes infinite loop of SIGNED_IN and USER_UPDATED events causing my app to crash.

## To Reproduce

Run the following code in `SessionProvider.tsx`
[code]

## Expected behavior

The SIGNED_IN event only fires once

## Screenshots

## System information

- OS: macOS
- Version of supabase-js: 1.30.0
- Version of Node.js:

[2022-04-22 03:05] Marviel commented on #6290
Ah, finally -- did not realize the importance of the role field. Makes perfect sense in retrospect.

Thanks *so much* for your help / patience.

[2022-04-22 03:05] #6290 closed

[2022-04-22 11:24] kiwicopple commented on #1469
we have docs for this one here: https://supabase.com/docs/guides/auth/managing-user-data

[2022-04-22 11:59] adrienclay36 commented on #6521
he issue for this bug lies in RealtimeClient.js where it appears the code is trying to extrapolate versionDate from the provided url on the conn object, however it is being passed a `null` value.

From `RealtimeClient.js`

[code]

[2022-04-22 12:11] adrienclay36 commented on #6521
I can confirm that this code does NOT exist in my working versions of supabase:

From` RealtimeClient.js` line 106-125 method `connect()`

[code]

[2022-04-22 17:44] w3b6x9 commented on #4883
@jdahdah Sorry, completely missed your comment. I'll have the team look into this and report back here1

[2022-04-23 01:29] w3b6x9 commented on #6290
@Marviel You're very welcome!

[2022-04-23 05:48] tscans opened #6535 "'Invalid authentication credentials' message when reading data on Node JS app hosted on Digital Ocean."
## Describe the bug

I have been working on a Node JS app locally building with Supabase. When I recently uploaded to Digital Ocean, I've been getting an error 'Invalid authentication credentials' any time I make a request to the service which makes a subabase.select() call. It works perfectly fine locally, but fails on the live link. I verified the service_role secret key is the same on local and

[2022-04-23 16:36] tscans commented on #6535
Solved the issue. The env variable was being injected with quotations. I had to remove them with .replace before passing it to `createClient`.

[2022-04-23 16:36] #6535 closed

[2022-04-23 20:19] Luc069 commented on #4708
same issue...

[2022-04-23 20:45] adrienclay36 commented on #6521
Issue fixed by @w3b6x9 4/23/2022 in RealtimeClient.js

[Issue discussed here](https://github.com/supabase/supabase/discussions/6522)

[2022-04-23 20:45] #6521 closed

[2022-04-24 23:47] lukaspili opened #6542 "Enable ICU provider"
One popular use case is to create a case insensitive collation:
[code]

Current result is an error stating:
[code]

[2022-04-25 02:43] AyluinReymaer opened #6544 "docker self-host: API docs menu tries to connect to 'localhost' instead of the server."
# Bug report

## Describe the bug

I have a self hosted supabase server with docker.

When attempting to go to the API menu, instead of it trying to make a request to the server, it will try to make a request to localhost which ends up refusing the connection.

An example on what I'm referring to:

Supabase is hosted on a server in which the IP is 10.0.0.10.

The client pc is 10.0.0.20.

Accessing

[2022-04-25 09:37] eunos-1128 commented on #5056
In additon to GitLab some developers also use BitBucket.

Adding those logins would be great.

[2022-04-25 12:07] kiwicopple commented on #6542
thanks @lukaspili - moving this over to the postgres repo

[2022-04-25 12:09] rustamd commented on #6007
Any progress on search still not working?

[2022-04-25 14:53] nereolopez commented on #6452
Hi @kiwicopple, just wanted to check if there is any progress on this? I personally don't know where the issue is coming from, but if somehow we could support or contribute, we can try with some guidance. Thanks!

[2022-04-25 16:19] AyluinReymaer commented on #6544
Hello @kiwicopple ,

Sorry about that, I was not aware that this key existed in the .env file...

I should have checked it previously.

I've changed that key to the proper value and it now works as expected.

Thank you for your help (:

[2022-04-25 16:19] #6544 closed

[2022-04-25 17:07] kiwicopple commented on #6452
This one is getting worked on over here! https://github.com/supabase/gotrue-js/pull/274

[2022-04-25 17:52] nereolopez commented on #6452
Great news! I will keep an eye on it and test it as soon it is available, both in the browser and in Android/iOS installed as a PWA. Thanks!

[2022-04-25 23:32] burmecia commented on #6007
Yes we're still working on this issue, a support ticket has already been sent to Algolia.

[2022-04-26 05:26] dshukertjr commented on #5942
Hi @SergejSachs !

Thank you for opening this issue. Just to clarify, you are trying to sign into a web app and not a windows app, correct?

[2022-04-26 05:38] dshukertjr commented on #5110
@SergejSachs
Just wanted to check in here to see if you had the chance to test everything out with after the fix on gotrue-dart. Please let me know if you are still getting signed out after the token expires.

[2022-04-26 13:00] ingokpp opened #6570 "Docusaurus build error: Unable to build website for locale en. | ValidationError: colorMode.switchConfig is deprecated."
# Bug report

## Describe the bug

I've setted up a fresh fork of the supabase repository using a MacBook Air + M1 Chip.
Firstly I installed the dependencies in the `web` folder using `yarn install`. (It doesn't matter if I am using yarn or npm).
After successfully installing the dependencies i tried to run `yarn build`, which fails and shows the following output:

`
...
...
Saved:  docs/reference

[2022-04-26 13:07] ingokpp opened #6571 "Missing .env documentation"
# Improve documentation

## Describe the problem

The README-file of the  `www` folder is missing documentation about a relevant .env file which includes the variable `NEXT_PUBLIC_DOCS_URL`. This variable is used by the next.config.js and should **locally** be equal to "http://localhost:3005", i guess?

## Describe the improvement
Better flow of repository setup.

[2022-04-26 13:12] ingokpp opened #6572 "Setup: Correct location of the "www" folder."
# Improve documentation

## Describe the problem

Both, [DEVELOPERS.md](https://github.com/supabase/supabase/blob/master/DEVELOPERS.md) and [apps/www/README.md](https://github.com/supabase/supabase/tree/master/apps/www) are containing wrong paths to the `www` folder. It isn't part of the root folder anymore.

## Describe the improvement

Better repository setup.

[2022-04-26 13:22] ingokpp commented on #6572
[See my PR here.](https://github.com/supabase/supabase/pull/6573)

[2022-04-26 14:16] awalias opened #6574 "Broken pricing link"
pricing link is outdated here: https://supabase.com/docs/faq

should point to https://supabase.com/pricing

[2022-04-26 15:54] Hallidayo commented on #6570
Looking at the Docusaurus [repository](https://github.com/facebook/docusaurus/pull/6771) it seems that `colorMode.switchConfig` is now depreciated.

On my local fork if I remove the `switchConfig` object and then run `yarn build` then the build succeeds. By doing this the dark mode toggle switch is then removed and icons are now displayed instead in the header:

https://user-images.githubuserconte

[2022-04-26 17:25] SergejSachs commented on #5942
Its a flutter app compiled to the windows platform. Im using the supabase dart SDK.

[2022-04-26 18:44] ingokpp commented on #6570
Thank you for help, @Hallidayo 💪. I also tested the same thing and [already created a PR](https://github.com/supabase/supabase/pull/6575). 🤗

[2022-04-27 10:05] ingokpp commented on #2979
[Create a PR.](https://github.com/supabase/ui/pull/347)
This is how it looks now:
![after_dark](https://user-images.githubusercontent.com/32964262/165494573-b4f17edf-51df-4f02-8004-c5163c0ca117.png)

[2022-04-27 13:18] Hallidayo commented on #6574
@awalias - I can see that has already been assigned, but could I take this one?

[2022-04-27 14:09] awalias commented on #6574
@Hallidayo yea go for it!

[2022-04-27 17:25] alexander-mart opened #6590 "Broken link to example app in storage doc page"
# Improve documentation

## Link

https://supabase.com/docs/guides/storage#getting-started

## Describe the problem

Broken link (404) to `nextjs-ts-user-management`:
https://github.com/supabase/supabase/edit/master/examples/nextjs-ts-user-management

[code]

## Describe the improvement

Find working link or remove example from docs.

[2022-04-27 20:29] Hallidayo commented on #6574
@awalias - Thankyou, Just created a [pull](https://github.com/supabase/supabase/pull/6593) for this.

[2022-04-27 20:52] awalias commented on #6574
Thanks!

[2022-04-27 20:52] #6574 closed

[2022-04-27 21:21] nibtime opened #6594 "Export SQL statements in Table Editor"
# Feature request

Add an export function for SQL statements to the UI editor.

https://supabase.com/docs/guides/database/tables#creating-tables
Basically, so that I could export the "SQL" tab from the "Dashboard" tab: https://supabase.com/docs/guides/database/tables#creating-tables

This would be really helpful for quickly copy&pasting to `ley` migrations and also good learning help for a Postgre

[2022-04-28 09:03] Hallidayo commented on #6590
I've created a [pull request](https://github.com/supabase/supabase/pull/6599) for this one.

[2022-04-28 10:11] christianfl commented on #5372
@DanMossa

[code]

Then do:

[code]

You would have to:

- Call `update_fcm_key` on the client side to upload the user's firebase key
- Update the url in `private.send_gms_push_notification` corresponding to your firebase cloud function url
- Insert your special firebase shared secret key in the insert statement above (this could get checked on the firebase cloud function in order to authenticate

[2022-04-28 10:31] luc-languagetools opened #6601 "Python realtime client support ?"
When can we expect official python support for realtime updates ? I see here https://supabase.com/docs/guides/client-libraries it says "not yet implemented".

[2022-04-28 16:22] highRisk1 commented on #563
it worked for me too, after making table from sql editor error was not there

[2022-04-28 18:50] nereolopez commented on #6452
Hi @kiwicopple, we noticed something additional (not sure if related, but in case it gives any hint).

When opening the App (be it on the browser or on the phone as a PWA) we are automatically redirected to the Sign in page. This is because the Angular guard that checks that route makes the user stay in the Sign In page if there is no `supabase.auth.user()`, otherwise redirects the user to the hom

[2022-04-28 20:54] lebrinkma commented on #6452
@nereolopez this sounds like the issue I tried to solve with supabase/gotrue-js#265, but I have not received any feedback on the PR so far.
`supabase.auth.user()` returns `null` if the session is currently refreshing after the token expired.

[2022-04-29 01:42] GaryAustin1 opened #6606 "Note says realtime only works on the public schema which is not (no longer) accurate."
# Improve documentation

https://supabase.com/docs/guides/api#realtime-api-1

![image](https://user-images.githubusercontent.com/54564956/165872853-1fc9cf8a-7391-4307-b7d9-e9e96fe1b6e8.png)

## Describe the problem

Although it is complicated, realtime does work on tables in other schemas.

![image](https://user-images.githubusercontent.com/54564956/165872771-bec8da69-a107-4556-95e9-7a9c3cea4056.p

[2022-04-29 12:40] MATTIRG opened #6625 "Error Getting User Email From External Provider (DISCORD AUTH)"
# Bug report

## Describe the bug

So I have been working on this side project that uses discord auth. Everything has been working since I started (About a month). I went to power up the website and login today, and when I have logged in, and get redirected to my website, and the URL looks as follows:
http://localhost:8080/?error=server_error&error_description=Error+getting+user+email+from+externa

[2022-04-29 16:21] MildTomato commented on #6571
@ingokpp maybe this is a better solution, we'll just add the env file in for this app
PR added above.

[2022-04-29 16:22] MildTomato commented on #6401
@Hallidayo could you just move your changes to /apps/www for us?

[2022-04-29 16:28] ingokpp commented on #6571
Yep, seems like a hoof solution. Would approve if I could 🤗

[2022-04-29 17:26] PhaxeNor commented on #6625
This was recently pushed https://github.com/supabase/gotrue/pull/462 and a deploy is happening on it too https://github.com/supabase/gotrue/actions/runs/2246639610

Don't know if this will resolve this though.

[2022-04-29 17:41] kangmingtay commented on #6625
Hi, we're working on a fix for this now, it should be addressed by https://github.com/supabase/gotrue/pull/462 and we're rolling it out to all projects now

[2022-04-29 18:30] #6625 closed

[2022-04-29 21:16] Garett-MacGowan opened #6630 "Difficulty adding new schema to API settings."
# Feature request

## Is your feature request related to a problem? Please describe.

When trying to add a new schema to the API settings, there is no clear button to show the available schema(s) to add. I spent a long time trying to figure out if schemas other than public schema were available for PostgREST. Surrounding design makes it seem like the whole section is temporarily locked down.

## D

[2022-04-29 21:26] Garett-MacGowan commented on #6601
There's an unofficial client library for python in the community repo that may be worth looking into. I'm in the process of trying to implement it into my project.

https://github.com/supabase-community/realtime-py

[2022-04-29 21:35] kangmingtay commented on #6625
This fix should be rolled out to all projects already - but feel free to reach out to our support channel (https://app.supabase.io/support/new) if you're still facing any issues, happy hacking!

[2022-04-30 04:58] eeve commented on #6423
I encountered the same error in the vscode container environment. I guess it should be the docker compose mounting disk problem in the vscode container environment. If I try to start it in WSL, the problem will not exist.

[2022-04-30 10:17] Hallidayo commented on #6401
@MildTomato - Just created a new pull request #6631.

[2022-04-30 14:57] abdalla-nayer opened #6632 "Server updates userMetadata using UpdateUserById, doesnot fire onAuthStateChange"
# Bug report

## Describe the bug

1- After user successfully logs in.
2- based on certain actions, Server C# updates userMetadata using UpdateUserById.
3- onAuthStateChange does not fire on the frontend react application

"@supabase/supabase-js": "1.35.2",
node version: 16.13.2

Expected:
onAuthStateChange should fire on the FE

[2022-04-30 18:57] JoeyFenny commented on #6590
Same issue for Next.js Realtime Chat App example:
https://github.com/supabase/supabase/tree/master/examples/nextjs-slack-clone

[2022-04-30 20:33] Vandivier opened #6634 "Access Tokens has no search results"
# Improve documentation

## Describe the problem

1. I generated an access token, then used it as a DB password to connect to a DB and it failed, yielding `Error querying the database: db error: FATAL: SASL authentication failed`
2. Then I thought "Maybe this is not what Access Tokens are used for" so I searched the docs and found no results for "Access Tokens"
3. The search overlay itself has a l

[2022-04-30 21:49] Hallidayo commented on #6590
@JoeyFenny - does the example link into the docs?

[2022-04-30 21:55] SergejSachs commented on #4792
I have one "app" on supabase that im working on. This needs two projects, one for dev and one for live.

I would like to migrate another app from firebase to supabase but that would be 50 euro/month.

I would not mind to pay a small amount just for more "free tiers" with the same quotas.

Im not sure if this is financially possible for supabase but would be cool.

[2022-04-30 23:51] Garett-MacGowan opened #6635 "Expose Supabase-Admin-API to Kong"
# Feature request

## Problem
It is currently impossible to programmatically add schemas to the API/Realtime. The only way to add schemas as of this request is to navigate to `settings/api` and toggle the desired schema in the form.

![image](https://user-images.githubusercontent.com/24864607/166126260-d6608b4e-e09d-4b61-9a5c-a00cd8787538.png)

Many users might want to programmatically add schemas

[2022-05-01 00:12] mozeryansky opened #6636 "Can't set column default to empty string, and editing always resets all columns to remove the default"
# Bug report

## Describe the bug

I want to have columns with a default value of an empty string. I don't see a way to do it in the studio. However, I am able to create the table using the SQL editor. Then there's 2 issue:
1. When I go to edit the table, even if I make no changes, all the columns are set back to have no default value.
2. I can't insert rows without specifying a value as the form

[2022-05-01 00:18] mozeryansky commented on #6636
For more context, when using a null default I get react warnings:
```Warning: `value` prop on `input` should not be null. Consider using an empty string to clear the component or `undefined` for uncontrolled components.```

So I manually default the values to empty string using
[code]

And I rather not need to do that.

[2022-05-01 07:06] ardasoyturk opened #6638 "Missing class on paragraph at the auth page"
# Bug report

## Describe the bug

Description about the social providers' color is different than other descriptions the grid. I also checked the source code and I couldn't see a difference on the source code side (they're the same). Screenshots are given below. In short, the first paragraph doesn't have the "p text-base" classes on production. But I saw the classes on the [source code](https://g

[2022-05-01 14:04] barbalex opened #6641 "how to insert geojson with correct "representation""
# Bug report

## Describe the bug

I am running this code:
[code]
with this newRevObject:
<img width="340" alt="2022-05-01_16h07_41" src="https://user-images.githubusercontent.com/669783/166149540-943e8e9b-a03d-42af-b467-a91c00b91a4c.png">
The geometry was directly taken from leaflet.

The underlying field is defined as:
[code]

and getting this error:
<img width="449" alt="2022-05-01_15h58_22" sr

[2022-05-01 14:15] barbalex commented on #6641
scrub this - I was trying to insert a feature collection into a geometry collection 😭

[2022-05-01 14:15] #6641 closed

[2022-05-01 14:31] SergejSachs commented on #5110
It looks fixed. I put my dev Supabase project token expiration on one hour and I was still signed in after 3 days and another dev build.

The issue that exists is that if you are running the app for 1 hour and don't restart it but that's on my side.
I should check for status and call the refresh like an startup probably.

[2022-05-01 17:23] zPhoeniqz opened #6643 "Add documentation about adding metadata coming from an OAuth signup to a database"
# Add documentation about adding metadata coming from an OAuth sign up to a database

## The problem

The problem is, that in many use cases data like age or country is needed. But currently there is no documentation about adding this information to a table in a database if the user signed up via an OAuth provider.

## The solution

Adding a new section on the database docs page would be an improv

[2022-05-01 23:03] dshukertjr commented on #5110
@SergejSachs Thanks for confirming that it works!

Yeah, you can certainly call token refresh manually or you can use [supabase_flutter](https://pub.dev/packages/supabase_flutter) package, which will take care of token refresh automatically!

I am going to close this issue, but feel free to open another issue anytime you encounter one!

[2022-05-01 23:03] #5110 closed

[2022-05-02 03:45] bgandy94 opened #6647 "Getting 502 Error from Edge Function"
# Bug report

## Describe the bug
Hey all! I'm building a relatively simple edge function that just takes a request body, validates it, and saves it in the db. and for some reason, I can't figure out why but I keep getting a 502 response from this endpoint.

I've tried deleting and redeploying the function. I've tried commenting out most/all of the function but a response in an effort of trying to

[2022-05-02 05:15] Garett-MacGowan commented on #6635
Thanks to an example sent to me by Steve in the discord, I have managed to get db_schema updates working through an RPC call with Kong. I still think the feature request is valid, since the solution is a little messy, but I'd be glad to hear others thoughts.

Here's a quick summary:
* Create a postgres function for changing the authenticator role's pgrst.db_schemas attribute, ensuring to keep the

[2022-05-02 07:49] #6571 closed

[2022-05-02 07:51] inian opened #6649 "Test if studio builds on PRs"
We dont capture build errors on PRs and sometimes only notice it after Vercel deploys the staging app. We need a Github action which runs on pull requests to test if a basic build of the website passes

[2022-05-02 10:15] inian opened #6653 "API: dont relay headers from request to subsequent requests"
We are relaying headers from the client request on to other middleware requests blindly [here](https://github.com/supabase/supabase/blob/9373f69220201962f669af8f977b5d39f1460927/studio/lib/api/apiHelpers.ts#L9).

This leads to bugs (a recent one where the client host name is passed on to middleware ref https://github.com/supabase/supabase/pull/6652) and also no reason why we should be passing stuf

[2022-05-02 15:23] #6572 closed

[2022-05-02 15:27] kiwicopple commented on #6590
@Hallidayo - I think they may be talking about a few links here:
https://supabase.com/docs/guides/examples

Perhaps you could help correct these one too?

[2022-05-02 15:30] kiwicopple commented on #6606
I agree, good suggestion @GaryAustin1

[2022-05-02 15:36] kiwicopple commented on #6632
I think this one might be better here @abdalla-nayer : https://github.com/supabase-community/gotrue-csharp

[2022-05-02 15:40] Hallidayo commented on #6590
@kiwicopple - cool no problem I’ll take a look.

[2022-05-02 15:42] kiwicopple commented on #6423
closed by @Towerful here: https://github.com/supabase/supabase/pull/6642 🚀

Let me know if there are any more issues and I can reopen

[2022-05-02 15:42] #6423 closed

[2022-05-02 18:06] Hallidayo commented on #6590
@kiwicopple - I've created a pull request for the links.

I also did notice that in the Libraries section that their is a link for Kotlin:

<img width="314" alt="Screenshot 2022-05-02 at 19 01 56" src="https://user-images.githubusercontent.com/22655069/166300458-5239cbdc-7466-4e46-88df-f2871e0cd80d.png">

But I can not find any libraries by supabase for Kotlin:

<img width="923" alt="Screenshot 20

[2022-05-02 18:22] saltcod commented on #6638
I think this one will be fixed when this gets merged:

https://github.com/supabase/supabase/pull/6420

[2022-05-02 18:24] abdallanayer commented on #6632
@kiwicopple thank you, will open it there

[2022-05-02 18:26] saltcod commented on #6634
Thanks @Vandivier  looks like this one is related to this broader issue with the Algolia integration in the docs:
https://github.com/supabase/supabase/issues/6007

Hoping to get that fixed asap.

Appreciate the report!

[2022-05-02 18:26] #6634 closed

[2022-05-02 18:29] abdalla-nayer commented on #6632
@kiwicopple thank you, will open it there

[2022-05-02 19:50] geordidearns commented on #5663
I'm having this issue also. My use is is similar, but wanting to automatically redirect if a logged-in user lands on a index route. Seems to be the server side props in next.js

[2022-05-03 01:36] MildTomato commented on #6570
What version of docusaurus are you running ?

@ingokpp @Hallidayo

[2022-05-03 01:41] #6401 closed

[2022-05-03 01:42] MildTomato commented on #6438
Looks like this issue has been resolved @rohandebsarkar

Please reopen this issue or send a support ticket to us if you have any more issues.

[2022-05-03 01:42] #6438 closed

[2022-05-03 01:46] #6331 closed

[2022-05-03 03:44] MildTomato commented on #379
Should we be looking to add this in as something that can be turned on via some simple UI ?
Rather than running SQL?

cc @kiwicopple @saltcod

[2022-05-03 03:46] MildTomato commented on #507
Was this ever done ?

[2022-05-03 03:53] MildTomato commented on #1940
This issue looks like it's resolved.

Feel free to reopen the issue if this needs more investigation or support

[2022-05-03 03:53] #1940 closed

[2022-05-03 03:57] MildTomato commented on #1474
@kangmingtay Can you verify on the comments above.

#team-frontend can handle changes to description in studio

[2022-05-03 04:01] MildTomato commented on #2256
Hey @GeneralTyres - sorry for late response.

I just tested this just now and it seems to work now.

Please reopen this issue if your still experiencing the same problem

[2022-05-03 04:01] #2256 closed

[2022-05-03 04:04] MildTomato commented on #3192
@kangmingtay just pinging you to keep this issue alive.

Should we do this? Have a sender name per template?

[2022-05-03 04:07] ardasoyturk commented on #6638
Oh I see, I'm closing the issue then. Thanks for your help.

[2022-05-03 04:07] #6638 closed

[2022-05-03 04:13] MildTomato commented on #3112
Just tested this in prod.
Issue seems to have been fixed

[2022-05-03 04:13] #3112 closed

[2022-05-03 04:34] MildTomato commented on #3178
Just came back across this issue.

We are perhaps looking at moving @supabase/grid into our main repo (this repo 😄)
It has useful code for [identifying and rendering the correct icon](https://github.com/supabase/grid/blob/7bc0b11c1c6d49550b88cccee338e5751b01dbd3/src/utils/gridColumns.tsx#L127) based on the column properties and type.

Might be best to move this Grid component into our mono repo an

[2022-05-03 07:34] kangmingtay commented on #3192
Hmm currently gotrue doesn't allow setting a sender name for each template. The sender name will be applied to all templates. But i'm in favour of moving the SMTP config (which includes the sender name) to the email template section for better visibility.

[2022-05-03 09:09] surjithctly commented on #379
@MildTomato  Yes Please

[2022-05-03 09:50] MildTomato commented on #5931
With SVGs, you could possibly set the 'fill' to "inherit" in the svg itself.
And then set the 'fill' with CSS with whatever it is contained in.
Not sure if it would work but might be a good solution for this, if it's 1 color and it needs to change for light and dark mode.

[2022-05-03 09:52] MildTomato commented on #5838
Looks like description is getting saved. It is also in the response from `/content`

Looks like this is a problem at form level, just need to populate the description input with the snippets description if one is already present

[2022-05-03 09:53] MildTomato commented on #5838
I take your point as well @illright that the description should be visible somewhere. Not just in an edit form 😄

[2022-05-03 09:57] MildTomato commented on #5444
Closing this issue as it seems fixed.

@Sulomus If you're still getting this issue please feel free to reopen

[2022-05-03 09:57] #5444 closed

[2022-05-03 10:02] riderx commented on #2518
If you need to update all your past key I found this guy who list all them and create all the update request for you, copy and run all to update your keys :
https://stackoverflow.com/a/871124

[2022-05-03 12:08] adrianmurage opened #6668 "Fix Broken Link in Quickstart: React"
# Improve documentation

## Link

[Initialize a react app](https://supabase.com/docs/guides/with-react#initialize-a-react-app)

## Describe the problem

"And one optional step is to update the CSS file src/index.css to make the app look nice. You can find the full contents of this file [here](https://raw.githubusercontent.com/supabase/supabase/master/examples/react-user-management/src/index.css)."

[2022-05-03 14:01] Hallidayo commented on #6668
@adrianmurage - I found that also the Next JS Quickstart had the same problem so I've created a [pull](https://github.com/supabase/supabase/pull/6669)

[2022-05-03 14:10] Olyno opened #6670 "Possibility of transferring ownership of a project"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, it is not possible to transfer your project to other users. This can be very useful in case we test things on a database, and then want to use it in production.

## Describe the solution you'd like

A simple modal where we would just have to specify the email of the new owner, and confirm by email our

[2022-05-03 14:28] odiseo0 commented on #6670
I like this

[2022-05-03 18:34] saltcod commented on #6124
Hey @davideluque !   Thanks for the report.

I've tried to reproduce this in Safari, but it seems to be working for me. To make sure we're on the same page, you're looking at the SQL snippets in the sidebar on `https://app.supabase.io/project/your-project-id/sql` ?

I'm able to successfully:
1. Create a new snippet
2. Navigate to a different snippet
3. Navigate back to the new snippet

Is this sti

[2022-05-03 18:35] davideluque commented on #6124
Hey, I'm gonna try to record a video and attach it here

[2022-05-03 19:49] saltcod commented on #6065
Hey all — wondering if this is still an issue. I just tested this locally and was able to successfully enter a date. Hopefully the video will upload!

https://user-images.githubusercontent.com/105593/166554604-e4465cf9-e51e-4c0c-8511-944faa8b0b96.mp4

[2022-05-03 20:37] Hallidayo commented on #6570
@MildTomato - I'm running `"@docusaurus/core": "^2.0.0-beta.6"`

[2022-05-03 20:41] ImSingee opened #6674 "Is there any plan to add Logs Explorer to self-hosted supabase?"
Just like https://app.supabase.io/project/[project-id]/logs-explorer

[2022-05-04 02:08] MildTomato commented on #6670
There are some reasons we haven't been able to roll this out as we would of liked.
Mostly due to whether or not a project is 'paid for' and is incurring additional usage costs.

We want to make sure transferring a project is seamless to another organization, and that we can easily roll up and finalize any outstanding billing before moving it to the new organization.

I've renamed the title to refe

[2022-05-04 04:09] kiwicopple commented on #6590
looks like the kotlin libs are here!

https://github.com/supabase-community/postgrest-kt

[2022-05-04 04:10] #6632 closed

[2022-05-04 04:13] kiwicopple commented on #379
yup, good one

[2022-05-04 04:45] MildTomato commented on #6653
Added you @phamhieu - even though it's in studio, figured you might still want to look after the functions in studio?

[2022-05-04 04:59] phamhieu commented on #6653
Good catch!!! we should pick required header like 'apikey', 'authorization'... instead of copy all.

[2022-05-04 07:08] MildTomato commented on #6653
I think it might just be the connection-string that needs forwarding on @phamhieu

[2022-05-04 07:10] MildTomato commented on #6635
Moving this issue to 'idea' discussion board

[2022-05-04 07:11] MildTomato commented on #6630
Oh yes, this was badly implemented, we should fix this.

[2022-05-04 07:13] MildTomato commented on #6606
I think I mentioned this to @w3b6x9

Supabase can maybe move towards 'always on' realtime for any schema exposed via api?
Especially since RLS is working for it now.

[2022-05-04 07:14] MildTomato commented on #6601
I'm going to close this as python library is already in development

[2022-05-04 07:14] #6601 closed

[2022-05-04 07:15] MildTomato commented on #6486
Closing this in favour of just using 'caution' and 'note'.

[2022-05-04 07:15] #6486 closed

[2022-05-04 07:23] MildTomato commented on #2941
Sorry, i forgot about this - buried in our issues.
Added to this weeks workload

[2022-05-04 07:28] davideluque commented on #6124
This is not the actual issue that I have experienced but not sure why my snippets flipped?

I was able to reproduce it by refreshing the browser but could not reproduce it again

https://user-images.githubusercontent.com/10492210/166638580-694887cf-4ef9-46bf-9b89-636f458c2f0e.mov

[2022-05-04 07:43] soedirgo commented on #507
Nope not yet :/

[2022-05-04 08:08] althaf004 opened #6689 "Extension python3u"
Hi,

We have all our existing functions done with plpython3u. We are forced to use Keycloak for the authentication, for which we had to use [keycloak sdk ](https://github.com/marcospereirampj/python-keycloak) . Is there anyway we can start migrating our functions to supabase with plpython3u extension.

If anyone has a quick idea on fix, please help.

[2022-05-04 08:33] Hallidayo commented on #6590
I've created a pr for this: #6691

[2022-05-04 08:59] saltcod commented on #6124
Thanks @davideluque!  The flipping must be a re-sorting.

I'm going to mark this as closed, but if you experience it again please let us know!  Appreciate the screen captures.

[2022-05-04 08:59] #6124 closed

[2022-05-04 09:15] #6653 closed

[2022-05-04 09:31] saltcod commented on #2941
Hey @kiwicopple @MildTomato  — how we feeling about this?  (before on the left, after on the right)

<img width="1646" alt="CleanShot 2022-05-04 at 07 00 40@2x" src="https://user-images.githubusercontent.com/105593/166656202-841b162f-3adc-413f-a721-78576f0f53c2.png">

[2022-05-04 11:07] joshenlim commented on #180
Hey @tconroy, super late on getting back to this ticket but hopefully it'll be of some use (and to others perhaps)

There's a typo in your policy's USING statement - your table's name is `organizations` but you're doing the check on `organization.id`

Hmm i'm actually unable to reproduce this unfortunately, here's how I reproduced your environment, maybe you could check if you might be missing any

[2022-05-04 11:07] #180 closed

[2022-05-04 11:20] joshenlim commented on #770
Super late update to this issue, but we've got support on the dashboard to opt for a column to be unique!
![image](https://user-images.githubusercontent.com/19742402/166671780-a751222e-816c-4c61-b03f-ac0c870a0435.png)

[2022-05-04 11:20] #770 closed

[2022-05-04 13:34] #6606 closed

[2022-05-04 13:55] MildTomato commented on #4321
tracking internally

[2022-05-04 13:55] #4321 closed

[2022-05-04 14:01] #4331 closed

[2022-05-04 14:05] MildTomato commented on #3471
Think we can improve this. One of us should take a look.

[2022-05-04 16:51] saltcod commented on #6015
Hi @mclean25!   Thanks for the report, I'll have a look at this.

Way, way more importantly:  what is the song in the background of your video?!

[2022-05-04 17:01] saltcod commented on #6015
Really strange @mclean25  — is this still happening for you?

I just checked this table locally and on production and it doesn't happen for me.  Any other customizations or details there you can think of?

[2022-05-04 22:59] #6668 closed

[2022-05-05 04:27] inian commented on #6647
Hi, can you send the name of your function, project ref in a support ticket [here](https://app.supabase.io/support/new) Thanks!

[2022-05-05 04:32] MildTomato commented on #5139
@FatumaA ah yes, it's because it's a 'hosted' only feature. Some of the infrastructure required to run it locally is only available to the supabase team.

I'll pick this one up soon, we've been meaning to move a lot of our modals over to using @supabase/ui Form component as well.

[2022-05-05 04:34] MildTomato commented on #5139
Our org deletion modal has the correct setup for this to follow along to.

It also has validation on the input with an error message

![Screenshot 2022-05-05 at 12 33 33 PM](https://user-images.githubusercontent.com/8291514/166864016-ab8aa8b1-99ef-4a48-b276-2ad37d204742.png)

[2022-05-05 05:12] madeleineostoja commented on #1479
I'm still experiencing this issue, and I don't think editing the auth schema of the docker container is a very good fix. Are there any other workarounds / is this being worked on?

[2022-05-05 05:21] yadunandanbhat opened #6699 "Is API reference linking to wrong pages?"
# Improve documentation

## Link
Add a link to the page which needs improvement (if relevant)
https://supabase.com/docs/reference/javascript/supabase-client

## Describe the problem
Clicking the 'API reference' link in the footer of the homepage takes us to the above-mentioned link. But shouldn't it take us to https://supabase.com/docs/guides/api ?

## Describe the improvement
Change the hyperlink

[2022-05-05 09:14] Aldo111 opened #6702 "If I delete a user from the users table, they're still signed in on the frontend."
If I delete a user from the users table, they're still signed in on the frontend.

Should I be using `.refreshSession()` every time the page is loaded to evaluate if the current session is actually active? Firebase kind of did this under the hood and I assumed Supabase did to whenever I fetched the session for an already logged in user but wondering what's a good way to handle this with supabase?

[2022-05-05 11:34] Ziinc commented on #6674
Hi @ImSingee , yes there are plans to provide a self-hostable backend for the logs explorer. If you would like to follow our progress, you can keep an eye on the [Logflare github](https://github.com/Logflare/logflare/issues) for now.

[2022-05-05 11:34] #6674 closed

[2022-05-05 20:17] woodstock13 commented on #6515
Work well for me with Deno v.`1.21.1` without --unstable

[2022-05-06 02:08] #6464 closed

[2022-05-06 06:11] mozeryansky opened #6708 "OpenAPI spec shows optional for all fields in a view"
## Describe the bug

I have a view in postgres based off another table, all the fields should be non-optional. The definitions being returned do not mark those fields are 'required' so `openapi-typescript` generates all the properties in the type as optional.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create table using only non-null
2. Cre

[2022-05-06 14:24] MarcDerhammer commented on #6647
We might be experiencing the same sort of problem.  Does yours behave normally when served locally?

https://github.com/supabase/supabase/discussions/6710

[2022-05-06 21:59] CactusPuppy commented on #6065
I am having a similar, if not identical, issue in Firefox 100.0 on Windows 11.
![firefox_4A44nOzBw7](https://user-images.githubusercontent.com/10406383/167221613-446000ab-483a-494d-8571-8734e7aea928.gif)

[2022-05-06 22:17] probablykasper opened #6713 "Allow login sessions longer than 1 week"
# Feature request

## Is your feature request related to a problem? Please describe.

Having to log in again and again is annoying, and I'm really glad most websites don't log me out after just a week. Supabase login sessions unfortunately seem to be limited to 1 week.

## Describe the solution you'd like

Ability to specify longer login sessions

[2022-05-07 01:41] AndrianBalanescu commented on #3942
![image](https://user-images.githubusercontent.com/37745667/167232913-ef8aa0c0-4baa-45d9-9831-5a687633cc07.png)
![image](https://user-images.githubusercontent.com/37745667/167232973-b2a47909-102b-4eca-abc4-eb028c6e55db.png)

same error here  and is not axios supabase storage js node modules is using cross-fetch

[2022-05-07 08:47] 50l3r commented on #6423
At the moment I have paused this project. I couldn't make it work.

[2022-05-07 19:37] helloromero commented on #1619
I have `https://<project-ref>.supabase.co/auth/v1/callback` added.

Is there any other reason I could be getting the `{"message":"no Route matched with those values"}` error? it's not very clear what could be wrong. I have Twitter client ID and Twitter secret values added too.

[2022-05-07 21:51] Isaiah-Hamilton commented on #5308
@saltcod this issue can only be fixed by someone with accuse to the infrastructure repo (Supabase team only).

[2022-05-07 21:59] Sesa1988 commented on #5942
Its pretty bad to release a cross platform app if Google and Apple sign in is required at the stores but your Windows and macOS dont support that. Thats my issue currently @dshukertjr

[2022-05-08 05:28] kaufmann42 commented on #1502
Following as well. This would be the perfect combo (supabase & prisma) but it seems as if there's no progress on ether side.

[2022-05-08 06:09] kaufmann42 commented on #347
Broken link above, any help ?

[2022-05-08 09:18] guido4000 commented on #347
https://github.com/supabase-community/supabase-auth-helpers/blob/next/packages/nextjs/README.md#server-side-data-fetching-to-oauth-apis-using-provider_token

[2022-05-08 13:21] t1u1 opened #6728 "Please add safeupdate extension"
# Feature request

`PostgREST` recommends installing the `safeupdate` extension:
https://postgrest.org/en/stable/admin.html#block-fulltable

This prevents accidental deletions when a query parameter is omitted by mistake.

Please add the option to install this extension.

[2022-05-08 13:24] dshukertjr commented on #5942
@Sesa1988 I am so sorry for the delayed reply here.

I am not 100% certain, but I think as you have suspected, the URL being cut off issue might be on flutter_web_auth's end, and not on supabase's side.

[2022-05-08 13:30] Sesa1988 commented on #5942
Yes thats probably true, I dont know ether but this would be a great feature for the dart and even flutter library if you choose it because you want to go cross platform.

Currently its not possible.

[2022-05-08 13:44] dshukertjr commented on #5942
@Sesa1988 Thanks for your suggestion. This is definitely in our queues, but have not been able to get to it yet unfortunately.

[2022-05-08 16:34] aminamos commented on #6590
@JoeyFenny This is addressed in https://github.com/supabase/supabase/pull/6729

[2022-05-08 16:53] GaryAustin1 commented on #6728
pg-safeupdate | 1.4 | Protect your data from accidental updates or deletes.

Is installed by default already.

[2022-05-08 17:36] t1u1 commented on #6728
Oh. But I don't see it listed in my project at: https://app.supabase.io/project/xyz/database/extensions

Is that expected?

[2022-05-08 18:11] GaryAustin1 commented on #6728
Not sure, but delete with no where clause
![image](https://user-images.githubusercontent.com/54564956/167309561-d15330f1-28be-4f52-97d7-bff47d8810e3.png)

[2022-05-09 01:57] satyapalsharma commented on #4464
Got the same issue yesterday around 11:20 IST

[2022-05-09 03:38] thorwebdev commented on #347
Sorry the next branch is not released yet, please refer to https://github.com/supabase-community/supabase-auth-helpers/blob/main/src/nextjs/README.md#server-side-data-fetching-to-oauth-apis-using-provider_token

[2022-05-09 03:40] #5931 closed

[2022-05-09 05:18] odama626 opened #6738 "Cascade Delete from UI"
Allow setting cascade delete on foreign keys

[2022-05-09 05:23] odama626 opened #6739 "Cascade Delete does not trigger realtime callback"
# Bug report

## Describe the bug
realtime subscription '*' does not trigger when a record is deleted by cascade
A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior
the callback should be called
A clear and concise d

[2022-05-09 06:53] tttp commented on #5937
Same issue on Firefox (linux)

[2022-05-09 07:22] MildTomato commented on #6007
reopening - see screenshot https://github.com/supabase/supabase/pull/6711#issuecomment-1120737715

[2022-05-09 09:34] MildTomato commented on #2941
nice! I like the right one.

i would argue we should pack the JWT and API keys together.
they also all get reset together.

[2022-05-09 10:33] liaujianjie commented on #6728
I'm still able to delete without `WHERE` clause from the dashboard. Is that expected?

[2022-05-09 10:34] rebaz94 opened #6742 "Link email provide after login with Github"
Hi
I want to link logged user with email after signing up from external OAuth provider.
for example this create new user account
[code]

according to the doc using same email will link to existing account
[code]

but after doing this, anytime this code executed it will create new user but if you check ```users``` table the row for that user id not exist!

after checking the log it say it repeated

[2022-05-09 10:42] cremfert opened #6743 "JWT from Keycloak alway showing JWSInvalidSignature"
# Bug report
I'm running a local (self-hosted) docker instance of supabase. I added Keycloak as a provider in the docker.yml for Gotrue according to this guide: https://github.com/netlify/gotrue#external-authentication-providers
The provider is recognized and I can get a login url when calling `GotrueSessionResponse gotrueResponse = await Supabase.instance.client.auth.signIn(provider: Provider.key

[2022-05-09 17:42] henrycunh commented on #4808
If we could add redirect URLs through a REST API this would be quite simple to automate, too...

[2022-05-09 17:53] steve-chavez commented on #6728
Yes and yes. You enable `safeupdate` with `LOAD 'safeupdate'`(you can do it in the dashboard) and not with `CREATE EXTENSION`(this is why it's not listed)

It is currently enabled for the `authenticator` role(the connection role PostgREST uses), so only requests through PostgREST will see the error.

[2022-05-09 20:06] saendu commented on #2954
What is the current state here? I can see on https://hub.docker.com/r/supabase/postgres/tags that there was shortly a version 14.1.0.15 that was supporting arm64. But the most recent version only supports amd64 architecture. @kiwicopple any news on that part? What dependency is causing the issue of not being able to build on arm64?

I can see that the following images support arm64:
- [x] supabase

[2022-05-10 02:56] Isaiah-Hamilton commented on #6007
We're back, The docs search is working again!

![image](https://user-images.githubusercontent.com/70828596/167533095-03489f06-b061-4030-9f69-91a458d1d5b4.png)

[2022-05-10 02:56] #6007 closed

[2022-05-10 04:12] #5308 closed

[2022-05-10 04:16] steve-chavez commented on #6180
Also reported on https://discord.com/channels/839993398554656828/843999948717555735/972548128697901086

[2022-05-10 05:19] joshenlim commented on #3784
@inian just to follow up from #4395 - i realised that the dashboard is currently already doing cache busting when the user clicks on the item to view the preview, in which we then append a random query string to the end of the URL
![image](https://user-images.githubusercontent.com/19742402/167547672-d1f6b549-ef6b-45d7-9292-aa24b5b79f6f.png)

but if the user selects copy URL directly without openin

[2022-05-10 05:26] #3784 closed

[2022-05-10 05:51] soedirgo commented on #2954
@saendu your list above looks right - we had to temporarily remove linux/arm64 support for supabase/postgres because the builds were prohibitively slow in GitHub Actions. linux/arm64 images for earlier versions were actually linux/amd64 that got mislabelled: they work on M1 Macs (because it's emulated) but not on ARM64 Linux machines.

We're working on adding back linux/arm64 supabase/postgres ima

[2022-05-10 06:25] joshenlim commented on #4237
hey @riderx sorry for the late reply on this one - we're definitely looking into having shared sql snippets between users but that won't be in anytime soon unfortunately.

i'll go ahead to close this ticket nonetheless as copple explained above ^ but feel free to reopen otherwise

[2022-05-10 06:25] #4237 closed

[2022-05-10 06:26] joshenlim commented on #4531
you're right there @DukeManh! :) i'll go ahead to close this issue

[2022-05-10 06:26] #4531 closed

[2022-05-10 06:29] joshenlim commented on #4529
hey @ckypper - this is probably an issue whereby the dashboard was allowing you to edit something which shouldn't be able to be editted

for context you can only edit data inside the public schema at this stage - all other schemas are read-only

as of now you shouldn't be able to reach this UI state on the dashboard so i'll go ahead to close this issue, but feel free to reopen! 🙏

[2022-05-10 06:29] #4529 closed

[2022-05-10 06:37] joshenlim commented on #5068
update on this - i'm improving the multiselect input in the API settings as part of the policy editor roles update, should be able to get it in within this week

[2022-05-10 06:40] joshenlim commented on #4870
this may have been a one off thing so I'm gonna go ahead to close this ticket - but please do feel free to reopen if you're still running / do run into this issue again! 🙏

[2022-05-10 06:40] #4870 closed

[2022-05-10 06:41] joshenlim commented on #4859
Duplicate issue: https://github.com/supabase/supabase/issues/4531
This should now be fixed :) but please do feel free to reopen if its still happening! 🙏

[2022-05-10 06:41] #4859 closed

[2022-05-10 06:43] joshenlim commented on #5270
update: this is currently being worked on!

[2022-05-10 06:51] joshenlim commented on #5877
hey there @GaryAustin1! In the editor you see here, we're using the vanilla HTML input with type "datetime-local"
which does not have any context of timezones. instead we convert them to either local timezone or keep it as UTC depending on whether the column's type is declared with timezone or not

[2022-05-10 07:07] joshenlim commented on #6257
Hey there - I've just tried to reproduce on production but can't seem to
If this is still happening for you could you open a support ticket [here](https://app.supabase.io/support/new)? It may be something specifically for your project

I'll go ahead to close this issue for now 🙏

[2022-05-10 07:10] #6060 closed

[2022-05-10 07:10] t1u1 commented on #6728
Ah, ok. I assume it will be loaded by default for all projects. In that case, feel free to close this issue.

Aside, if possible, it might good to show the list of "loaded" extensions on that page.

[2022-05-10 07:15] joshenlim commented on #6091
Hey there! this fix should have been deployed to production now - could I check real quick if you might still be facing this issue? @GaryAustin1

[2022-05-10 07:22] joshenlim commented on #5960
just a quick update on this one - we've done up a fix on the dashboard such that your storage items will incrementally load and will no longer be bounded by the default API limit

so you should be able to see more than 1000 items in your folder now

as for the 400 that you're facing, @GaryAustin1's right - you'll need to configure your policy properly

as the main topic of this issue is about the

[2022-05-10 07:22] #5960 closed

[2022-05-10 07:27] joshenlim commented on #5877
i'll go ahead to close this issue first since its not really a bug but please do feel free to reopen if you feel otherwise! 🙏  although i think this could be more into our discussions - we could explore into the possibility of using a library perhaps instead of vanilla HTML component

[2022-05-10 08:00] marcinkoziej commented on #5587
Hey @kiwicopple ! Is there a timeline for custom domains ?
This issue got more pressing because now Google urges to verify the domains used in Oauth (they send emails like the one below).
Because I have no control over the Supabase project domain, nor can I put a verification file in there, there is not way to verify Supabase instance - and It's a matter of time before Google will cut of the Oauth

[2022-05-10 08:24] kangmingtay commented on #5383
closing this in view of https://github.com/supabase/gotrue/pull/427

[2022-05-10 08:24] #5383 closed

[2022-05-10 11:47] Ultimatum22 commented on #4440
I know this is an old ticket. But after extensive google search I found multiple questions about this topic but I couldn't find any answer to this. I am missing pointers to documentation on how I am able to add new projects in a local hosted docker instance.

[2022-05-10 11:49] ImSingee commented on #4440
In short, you can't

[2022-05-10 17:44] chrisb2244 commented on #1474
It seems like the token I have in localstorage is valid for the time listed in that field (1 hour, for the default) - the cookies for refresh and access both have the same expiry/max-age, around 24 hours.

Can those cookie expiry times be easily manipulated?
As an aside, what's the purpose (probably obvious, so maybe I'm missing something simple) for having the access and refresh tokens (in cookie

[2022-05-10 18:00] kangmingtay commented on #1474
Hi @chrisb2244, the max-age value on a cookie just represents when the cookie will expire and not when the token expires. We do use the concept of a short-lived access token vs a long-lived refresh token.

The access token expiry can be configured via the JWT expiry setting on our dashboard. As for the refresh token, it's a one-time use only cookie and does not have an expiry.

[2022-05-10 18:15] dinvlad commented on #491
Is there not a JWKS endpoint to verify the token locally? 😮

[2022-05-10 18:20] dinvlad commented on #491
OK, I think the problem is that Supabase-issued JWTs use `HS256` algo (https://supabase.com/docs/learn/auth-deep-dive/auth-deep-dive-jwts), which is why the token needs to be sent to the server for verification with a secret key.

[2022-05-10 19:20] 50l3r commented on #4440
Yo need to create other stack with docker compose

[2022-05-10 21:34] moutafatin1 commented on #3815
I have the same problem,  I keep signUp with the same email, but there is no error.
Authentication/Settings :
     Enable email signup : true,
     Double confirm email changes: true,
     Enable email confirmations: true

In the Audit Trail, I keep getting user_repeated_signup actions

[2022-05-10 22:02] raccoman opened #6764 "Session is still null after SignIn"
I'm looking to redirect users from all pages to the login page unless they are already signed in. I've built a ProtectedRoute component that checks if there is a user logged in and whether the path is protected, and will router.push to /login accordingly.

The issue im having is that after `await supabase.signIn()` is called, I’m being sent back to my login page. What I think is happening is that

[2022-05-11 01:51] MildTomato commented on #5877
Reopening this. Does look like an issue with inputs not rendering dates correctly

[2022-05-11 04:18] MildTomato commented on #5837
@sharath29 you don't need to use <Typography> component any more. it's being Deprecated

[2022-05-11 04:22] MildTomato commented on #6065
We're seeing a lot of issues with this date input across a lot of different browsers.

We're starting to lean towards just adding in our custom date picker for this so that we have a consistent experience for everyone and to eliminate all the quirks of `<input type="datetime>`, `<input type="datetime-local">`, `<input type="date">` which don't play nice with postgres formatting of dates (timestamp

[2022-05-11 05:37] ChristianLutzCL opened #6768 "Sms Provider dropdown text-color is same as background-color in /auth/settings page"
# Bug report

## Describe the bug

Phone Auth: SMS Provider Dropdown text is same color as background.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to 'https://app.supabase.io/project/[PROJECTID]/auth/settings'
2. Scroll down to 'Phone Auth'
3. Click on 'Sms provider' Dropdown
4. See error

## Expected behavior

The Sms Providers should be

[2022-05-11 07:32] simplismio opened #6772 "Unable to connect to database locally"
Followed the exact steps in: https://supabase.com/docs/guides/local-development

Setting up client in Flutter with
<img width="1128" alt="image" src="https://user-images.githubusercontent.com/91443226/167793648-4e749fde-bb06-40d4-8a83-891d0a8eae30.png">

Credentials shared by terminal:
<img width="1122" alt="image" src="https://user-images.githubusercontent.com/91443226/167793755-3be2fa62-7452-4e3

[2022-05-11 07:56] simplismio commented on #6772
Was caused by MacOs sandbox issue, Supabase worked fine

[2022-05-11 07:56] #6772 closed

[2022-05-11 09:31] joshenlim commented on #3788
just to follow up here: i tried reproducing this bug again and i'm getting these from /query
![image](https://user-images.githubusercontent.com/19742402/167817959-217ab5fc-77ec-4a31-9277-5fd89829b583.png)

@soedirgo just to check if you might be familiar with this and what's happening in pg-meta?

[2022-05-11 09:33] joshenlim commented on #5002
Hey there! I just gave this a try but the issue seems to be fixed now - the refresh button does work as expected
As for automatic refreshing - this is a feature that we're still looking into but won't be available soon

I'll go ahead to close this ticket but feel free to reopen if i'm wrong! 🙏

[2022-05-11 09:33] #5002 closed

[2022-05-11 10:47] soedirgo commented on #3788
I think it's as Steve mentioned above, it's the default presentation for `geometry` (can be confirmed with `select st_point(1,1)::geometry` in psql).

Making it more user-friendly from the dashboard side might be a lot of work (e.g. need to parse the format) but as a user I would just add a generated column like so:
[code]

[2022-05-11 12:01] #5139 closed

[2022-05-11 13:37] #5429 closed

[2022-05-11 14:11] joshenlim commented on #5837
hey there - i think this has been fixed already? just checking on the dashboard
![image](https://user-images.githubusercontent.com/19742402/167868423-b99a134a-abf1-4b10-b59f-0e991044836c.png)

but i'll add the fix for title prop as you mentioned

[2022-05-11 20:10] bgandy94 commented on #6647
Yes it does @MarcDerhammer

[2022-05-11 20:30] MarcDerhammer commented on #6647
There might be a memory limit we're reaching.  Maybe there's documentation somewhere I missed, or maybe the docs need to be updated with this info.  Not 100% sure :(

[2022-05-11 20:39] bgandy94 commented on #6647
I would be shocked if this is the case for me, as I started experiencing this behavior on a POC type project that was only called a handful of times prior to hitting this roadblock

[2022-05-12 01:33] Isaiah-Hamilton commented on #5300
This issue was closed by https://github.com/supabase/supabase/pull/5118

[2022-05-12 01:33] #5300 closed

[2022-05-12 02:58] #5838 closed

[2022-05-12 06:20] baaraak opened #6794 "React attribute warning in example project"
# Bug report
HTML attribute `for=` should be react way `htmlFor=`.

## Describe the bug
Getting warning in the console for Invalid DOM property.
## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '[Example Page](https://github.com/supabase/supabase/tree/master/examples/auth/nextjs-auth)'
2. Download example and run in
4. See warning

## Expect

[2022-05-12 07:59] joshenlim commented on #5533
Hey there! I just checked on this on our dashboard and followed through your reproduction steps as shown in the video you attached (thank you so much for that!) - the issue seems to have been fixed

I'll go ahead to close this ticket but feel free to reopen if I'm wrong! 🙏

[2022-05-12 07:59] #5533 closed

[2022-05-12 08:49] joshenlim commented on #5270
hey all! this should now be fixed by https://github.com/supabase/supabase/pull/6766

will close this ticket but feel free to open if the issue still persists! 🙏

[2022-05-12 08:49] #5270 closed

[2022-05-12 08:50] joshenlim commented on #6065
hey all! this should now be fixed by https://github.com/supabase/supabase/pull/6766

re: customer date picker we'll look into this separately!

will close this ticket but feel free to open if the issue still persists! 🙏

[2022-05-12 08:50] #6065 closed

[2022-05-12 10:03] joshenlim commented on #5877
sorry i think i jumped the gun here - the issue at hand is that columns of time `timestamp` are getting incorrectly formatted by local time zones, when it should be UTC

[2022-05-12 10:14] #5837 closed

[2022-05-12 12:11] darora opened #6805 "Validation rules of custom JWT secret"
(placeholder issue to be fleshed out)

Certain character sequences are treated as illegal by Postgrest (and possibly other services). We should have validation rules in the dashboard preventing such sequences from being included in the JWT secret.

[2022-05-12 13:10] hmatsu47 opened #6807 "Documentation bug? : Quickstart for SolidJS"
# Improve documentation

## Link

Add a link to the page which needs improvement (if relevant)
https://supabase.com/docs/guides/with-solidjs

## Describe the problem

Are the `supabaseUrl` and `supabaseAnonKey` descriptions in `src/supabaseClient.jsx` incorrect?

## Describe the improvement

[code]

(same as Vue 3)

## Additional context

Add any other context or screenshots that help clarify your

[2022-05-12 13:40] HackerPH122 commented on #6742
Need command

[2022-05-12 14:09] rebaz94 commented on #6742
Sorry, what you mean?

[2022-05-12 14:43] henrycunh commented on #4808
for sure :]
just add a valid glob pattern. it wasn't mentioned ANYWHERE but in a tweet from someone that doesn't work at supabase, but i'm glad it works!

[2022-05-12 15:00] henrycunh commented on #4808
https://twitter.com/kevcodez/status/1523649173790535680

[2022-05-12 18:08] jellohouse opened #6813 "Undefined response from updating row - but did update"
# Bug report

## Describe the bug

Out of the blue, when I do an update to a row, nothing is returned from Supabase API response (no data & no error).

## To Reproduce

[code]
Both data & error are undefined.
However looking in the DB dashboard, the record did update as expected.

## Expected behavior
It should return an error if there was an error.
Or should return the replaced values for UPDATE.

[2022-05-12 19:06] rebaz94 commented on #6742
More info here https://github.com/supabase/supabase/discussions/6811

[2022-05-12 19:15] jacktho opened #6814 "Table editor: Default value of json is incorrectly formatted when editing the default value"
# Bug report

## Describe the bug

The value of json or jsonb default value edit fields is broken. The resulting mutated json is not valid json.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to 'Table editor' and create a new table
2. Add a new column named test with type json and a default value of { "test": "foo" }
3. Select "Edit table"

[2022-05-12 20:25] 1337-ishaan opened #6815 "UX bug: the theme icons are falsely display diverting from the UX flow"
In light mode, the icon should display moon,
<img width="385" alt="Screenshot 2022-05-13 at 1 54 15 AM" src="https://user-images.githubusercontent.com/64636222/168161725-ccc9f7aa-9066-4e2c-bb5f-8ed5ce997e89.png">

In dark mode, the icon should display sun
<img width="368" alt="Screenshot 2022-05-13 at 1 54 24 AM" src="https://user-images.githubusercontent.com/64636222/168161746-d7c8a02d-3d1b-4be3-

[2022-05-12 20:25] 1337-ishaan commented on #6815
I would like to work on this issue!

[2022-05-13 02:55] joshenlim commented on #6815
hey there @1337-ishaan! thanks so much for this report! However, I do think that this behaviour is correct - the icons should reflect the current theme at which the page is toggled for

[2022-05-13 03:03] #6794 closed

[2022-05-13 05:19] 1337-ishaan commented on #6815
Depends, on person to person, but recently I created the same PR for @ethereum-org-website

https://ethereum.org/

So they also thought it should be the other way round, rest totally depends on you, however you feel like

[2022-05-13 07:19] #5937 closed

[2022-05-13 10:15] Hallidayo opened #6826 "npm/Yarn example tabs"
# Improve documentation

## Describe the problem

I've noticed that on the quickstart examples their seems to be some guides that use npm and some that use yarn:

[npm example](https://supabase.com/docs/guides/with-nextjs#initialize-a-nextjs-app)
[Yarn example](https://supabase.com/docs/guides/with-expo#initialize-a-react-native-app)

I think that their should be a tabbed component in place where

[2022-05-13 13:14] rnbokade opened #6828 "Notification Service"
Supabase already integrates SMS and Email service for authentication. Maybe same could be leveraged for Email and SMS notifications. This can futher be extended to web-push notifications and Apple Notifications.
I am not sure if FCM based notifications will be feasible especially when Supabase is being pitched as Firebase alternative. But atleast rest of the notification services can be implemente

[2022-05-13 13:41] riderx commented on #6267
Hey @thorwebdev i still have the issue on my side, it doesn't look to repond the headers i have set

[2022-05-13 13:59] riderx opened #6829 "Secret missing in function"
# Bug report

## Describe the bug

When listing secret from cli the `SUPABASE_URL` default is missing
[code]

## To Reproduce

i have this issue only on one project not other so maybe check on mine `rjbponxxtdelwzdetefy`

## Expected behavior

All 4 default env var should be present.
Before reset the JTW the `SUPABASE_ANON_KEY` was also missing

[2022-05-13 14:27] riderx commented on #6267
i tried the same function in 2 projects, and it works on second one, it seems it link to other issue : https://github.com/supabase/supabase/issues/6829

[2022-05-14 10:08] give-my-certificate commented on #5364
@awalias Hi,

I am getting the same issue, after looking at logs I found that Cloudflare is giving frequent 522 and 524 errors. I tried connecting with your support by raising a ticket on the above-provided link but doesn't get any useful reply. Then I tried replying to that mail but as usual, does not get any response.

[2022-05-14 10:45] give-my-certificate opened #6839 "API no working reliably (FetchError: Unexpected token < in JSON at position 1)"
# Bug report

## Describe the bug

Calling Supabase API and RPC functions sometimes gives the following error "FetchError: Unexpected token < in JSON at position 1"

## To Reproduce

No general way to reproduce it as it is an intermittent issue probably related to server performance or how Supabase provisions the Postgres cluster. But chances are that you can query your logs for 500 errors or look

[2022-05-14 14:45] HackerPH122 opened #6840 "Facebook Hacking"
# Bug report
[]()@mountainash
## Describe the bug
I well hack the other
A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applica

[2022-05-14 15:37] BhavikJain07 commented on #6157
I  would like to work on this issue, should I add dart code for all the methods?

[2022-05-14 16:24] Frank1234j opened #6841 "05\14"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain

[2022-05-14 17:58] #6841 closed

[2022-05-14 21:28] jellohouse commented on #6839
I believe this is related to the issue I created a few days ago => https://github.com/supabase/supabase/issues/6813

Essentially the JSON body response from Supabase API is always undefined in my case...

[2022-05-14 22:17] #6840 closed

[2022-05-15 06:00] aminamos commented on #6813
Above `const { data, error } = await supabase` could you add `console.log(supabase) and confirm your url / API key are present in the object?

[2022-05-15 16:02] give-my-certificate commented on #6839
@jellohouse Yes, It is the same. I did some more research on top of that as in why the JSON body response from Supabase API is undefined. It seems that the handshake between cloudflare and Supabase servers are not completing. However I am not very sure, But I have a hunch that Supabase servers are overloading from time to time as I have also noticed that API response times are also not consistent

[2022-05-15 16:39] Flowsmooth commented on #6826
Yea

[2022-05-16 00:36] GaryAustin1 commented on #6180
@dcruz1990
Do you by chance have this extension installed (or one similar) https://chrome.google.com/webstore/detail/allow-cors-access-control/lhobafahddgcelffkeicbaginigeejlf

I recalled a discussion in github where the user mentioned patch not working, and resolved by removing their cors "allower" extension.

Note by default that extension does not do patch and I believe also returns the request

[2022-05-16 11:33] hmatsu47 commented on #6807
In addition, `className` and `htmlFor` have been deprecated in solidJS 1.4.0 and will need to be replaced with `class` and `for` in the future.

https://github.com/solidjs/solid/releases/tag/v1.4.0

[2022-05-16 16:07] Frank1234j opened #6853 "Bug"
Check this out

[2022-05-16 16:46] #6853 closed

[2022-05-16 21:46] jellohouse commented on #6813
Ok just did `console.log(supabase)` - Yes I confirm the `supabaseUrl` and `supabaseKey` are present and correct.
---
Also please have a look at https://github.com/supabase/supabase/issues/6839 it seems to be related to this.

[2022-05-16 23:05] steve-chavez commented on #6813
@jellohouse Did you catch the http status of this error? If it's a 522 or 524 then #6839 is for sure linked.

If it's #6839, then what happened is that the db UPDATE succeeded but it took longer than the Cloudflare timeout.

If you have high UPDATE traffic, keep in mind that upgrading your instance memory will allow you to handle more UPDATEs per second. There are some numbers on https://github.co

[2022-05-17 06:02] #5545 closed

[2022-05-17 06:02] #3291 closed

[2022-05-17 06:02] #5877 closed

[2022-05-17 06:36] give-my-certificate commented on #6839
@steve-chavez Is there any way I can help in resolving the same, Default cloudflare timeout is 60 second which should be enough for all queries except bulk insert/Update and rpc functions (with complex joins). I also go through Supabase source code but everything looks fine from a distance. In my understanding it must be something to do with the postgresql configruaton set by Supabase as my server

[2022-05-17 11:49] orisa opened #6863 "Can't delete user from Users table"
### Discussed in https://github.com/supabase/supabase/discussions/6852

<div type='discussions-op-text'>

<sup>Originally posted by **orisa** May 16, 2022</sup>
Hi Supabase team. I've been trying to delete a user from the Authentication Users table. I used the "Delete user" button from the dropdown in the UI but I got the following error.
<img width="375" alt="Screen Shot 2022-05-16 at 4 17 56 PM"

[2022-05-17 14:42] spencerbart commented on #1806
Ran into the same problem

[2022-05-17 15:16] igdmitrov opened #6866 "Supabase is crashing on Auth Page"
# Bug report
Accidentally I found a small bug on Auth Page Supabase which crashed the whole page on Safari.

## Describe the bug

Supabase is crashing on the auth page on Safari when a new user is created, but email isn't confirmed.
If the user confirms it, the email page works again.
Problem only with label - Awaiting confirmation.

I tested Google Chrome - it works.

## To Reproduce

Sign up a n

[2022-05-17 16:42] #6813 closed

[2022-05-17 16:57] steve-chavez commented on #6813
Oh, could you elaborate on that? Would like to know in case another user runs into the same issue.

[2022-05-17 17:44] jellohouse commented on #6813
I didn't wanna say cause it's so embarrassing 😅

But ok - just a silly mistake I made...
I wrote something like:
`const { responseData, responseError } = await supabase...`
instead of:
`const { data, error } = await supabase...`

Obviously the response object has `data` and `error` parameters, but not whatever else that I wrote..

[2022-05-17 17:55] steve-chavez commented on #6813
No worries, it happens ;). Thanks for sharing!

[2022-05-17 18:15] jellohouse commented on #6813
Close

[2022-05-18 01:50] burmecia commented on #6863
Hi @orisa, are you able to open developer console in browser and let us know if you can see any error logs? We just want to reproduce the issue, thanks.

[2022-05-18 02:08] burmecia commented on #5424
This feature has been added, go to Dashboard -> Authentication -> Settings, and then change `Site URL` and `Additional redirect URLs`.

[2022-05-18 02:08] #5424 closed

[2022-05-18 03:11] steve-chavez commented on #6839
@give-my-certificate We're thinking of handling Cloudflare timeouts with retries in https://github.com/supabase/postgrest-js/pull/267.

Bear in mind that if you do many UPDATEs, then locks on rows will be acquired - this might not cause noticeable CPU/RAM consumption, but could cause waiting and slow responses.

Sorry about the slow reply in support, I'll come back to this one.

[2022-05-18 14:03] burggraf commented on #6829
When you migrate to a new project, you will get new values for:
URL
ANON KEY
SERVICE KEY
JWT
These can be found in the Dashboard under Settings / API.

[2022-05-18 14:30] burggraf commented on #6829
Nothing changed on our side, no.  After moving to the new project, did you link your command line to the new project-ref?

[2022-05-18 14:57] riderx commented on #6829
@burggraf yes i did, and i was able to reproduce 2 times the issue with 2 project, i totally deleted one because the secret where missigns.

[2022-05-18 14:59] burggraf commented on #6829
Have you looked for the secrets in the dashboard under Settings, API?

[2022-05-18 15:24] orisa commented on #6863
@burmecia It seems to be a CORS error. A browser extension was blocking app.supabase.io. I've fixed it due to your suggestion. Thanks.

[2022-05-18 15:24] #6863 closed

[2022-05-18 16:03] riderx commented on #6829
@burggraf yes but that was not the issue, it was missing only on functions.
i try to reset the JWT from the dash board and then some came back but one was still missing that why i had to delete.
but anyway it's working now

[2022-05-18 16:09] #6829 closed

[2022-05-18 21:16] Luc069 opened #6880 "JWT sucks"
Can yall make a session cookies instead of an JWTs?? That would make supabase a lot better!!!

[2022-05-19 09:22] saltcod opened #6886 "Placeholder text on input fields for dates don't have enough contrast"
Happens anywhere in the table grid view, in dark mode. Need to up the contrast of that placeholder text.

<img width="311" alt="CleanShot 2022-05-19 at 06 51 50@2x" src="https://user-images.githubusercontent.com/105593/169260149-80b56986-ba84-414a-88a1-e3b1c0e90090.png">

[2022-05-19 15:40] #6815 closed

[2022-05-19 16:32] ericwooley commented on #3195
I'm not sure exactly what the original author was thinking, but it might be nice to have some guided UI to handle granting on a column level, for insert, select, update etc...

 I haven't tried to mess with this in the supabase enviornment yet, but something like this: https://stackoverflow.com/questions/14462353/grant-alter-on-only-one-column-in-table would be nice to have easily implementable, f

[2022-05-19 17:06] saltcod commented on #6866
Hey @igdmitrov — we pushed a bunch of fixes for dates in Safari earlier this week. I wonder if this issue was tied up with that.

Would you mind giving this another try and seeing if it's still an issue? I just tried it locally and on production, and it worked just fine for me. I'm wondering if it's been fixed, or if I'm doing the order of operations differently than you.

With thanks!

[2022-05-19 17:18] goldenivan opened #6892 "Duplication of table not working"
# Bug report

## Describe the bug

I can't duplicate a table on a project.

## To Reproduce

Go to Table Editor
Right click on the table
Select "duplicate table entries"

When I validate, I've got the message `relation "activite" does not exist`.

After that, my table is created, with all columns. But there is no data.

## Expected behavior

Allowed to duplicate a table.

[2022-05-19 17:36] Hallidayo commented on #6590
Hi @saltcod, yeah I believe so as the links should be working now.

[2022-05-19 18:24] saltcod commented on #6866
Awesome! Thanks for the report @igdmitrov!    I'll close this issue, but feel free to open back up if you experience it again!

[2022-05-19 18:24] #6866 closed

[2022-05-19 20:18] Hallidayo commented on #6807
I've created a pr (#6893) for the `.env` values.

I did notice that the guide is doing a clone of [this solid-js template](https://github.com/solidjs/templates/tree/master/js) which is using version 1.3.13 of `solid-js` so the `className` and `htmlFor` should be okay but as you said @hmatsu47 these will need to be changed if the template uses version 1.4.0 and above.

[2022-05-19 23:23] w3b6x9 commented on #5290
@danieldaeschle will close this issue. Feel free to reopen if you want to investigate again.

[2022-05-19 23:23] #5290 closed

[2022-05-19 23:32] alaister commented on #6807
Closed via #6893

I was considering leaving this open because of `className` and `htmlFor`, however, since they still work I think they should have their own issue/pr. Contributions always welcome! 😊

[2022-05-19 23:32] #6807 closed

[2022-05-20 04:56] give-my-certificate commented on #6839
@steve-chavez

You are right, I forgot about locks, However, After your comment, I crosschecked query logs with slow query timestamps and it doesn't looks like a lock problem in this case.

One weird thing though, I upgraded my instance type from micro to small and it drastically reduced 522 and 524 errors despite having no RAM crunch.

I have gone through the pull request code and discussion and

[2022-05-20 05:39] activenode commented on #4808
Can this be officially confirmed @awalias ? Then we could close this issue here <3

[2022-05-20 06:31] vbylen commented on #5044
@WilliamFalci I must be really dumb, but how do I navigate into the docker/volumes/api/db/init directory and create a sql file?

[2022-05-20 08:46] kangmingtay commented on #4808
Hey guys, apologies we missed this in the previous monthly update but you can now handle vercel previews with a wildcard in your redirect url. We follow the glob patterns listed [here](https://pkg.go.dev/github.com/gobwas/glob#Compile). We also take into account "." and "/" as separators so `*.example.com` would match on `api.example.com` but not `foo.api.example.com`. Using the "**" pattern ignor

[2022-05-20 09:05] #5778 closed

[2022-05-20 09:56] joshenlim opened #6900 "Table editor fails to load if the database is really huge"
Tracking this issue here on Github publicly, this change will require some updates on the backend as well.

Mainly happening because the client is fetching all the table information at the pg-meta `/tables` endpoint,
which returns _every_ information about the table, including the columns etc, resulting in a really huge payload that either
1. takes a really long time to return, resulting in a time

[2022-05-20 10:19] joshenlim opened #7146 "Datetime input within the editor resets when updating minutes/seconds"
Theming is also off

https://user-images.githubusercontent.com/19742402/169507865-bf06b839-d550-4b4c-aafc-35ba9cb1f5a3.mov

[2022-05-20 10:55] joshenlim commented on #6814
hey there! this should be resolved by https://github.com/supabase/supabase/pull/6899 - we're planning to do a deployment on monday to get the fix out so hang tight :)

[2022-05-20 10:59] joshenlim commented on #6886
this is an issue within the grid repo - supabase/grid
mentioned here https://github.com/supabase/grid/issues/138

i'll close this ticket as duplicate if that's alright

[2022-05-20 10:59] #6886 closed

[2022-05-20 11:00] SeekSaveServe opened #6902 "Sign in automatically authenticates email of an user that did not authenticate his email"
# Bug report

## Describe the bug
await supabase.auth.signIn({
        email: formState.email,
        password: formState.password,
      });
Automatically authenticates email despite the user not clicking their confirmation email.

## To Reproduce
There are 2 ways to create this bug
Method 1:
1. Create a DB using quickstart : react
2. Sign up an user using email and password
3.  Repeated attempt

[2022-05-20 12:04] tomsoderlund commented on #319
What if I want a user session JWT to last forever/indefinitely?

[2022-05-20 14:43] saltcod commented on #6892
Hey there!

Thanks for the report.

I'm trying to reproduce this one, but it's successfully working for me. Is this the path you follow?

Is there anything else of note about the table? Is it really big? A lot of columns? Any triggers setup? RLS?

<img width="415" alt="CleanShot 2022-05-20 at 12 10 37@2x" src="https://user-images.githubusercontent.com/105593/169551961-541fc486-26f2-4640-bc61-d9e2f

[2022-05-20 20:43] foysalit commented on #6146
Looks like this PR https://github.com/supabase/storage-api/pull/66 should have fixed it. If you could add some insight, I would attempt to patch further issues @thebengeu @inian

[2022-05-20 22:45] holderbaum opened #6908 "Add the posibility use wildcard pathes in the Additional redirect URLs"
# Feature request

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

##

[2022-05-20 22:45] #6908 closed

[2022-05-20 22:45] holderbaum commented on #6908
Sorry, I pressed enter in the title field... :crying_cat_face:

[2022-05-20 23:08] holderbaum opened #6909 "Add the posibility use wildcard pathes in the "Additional redirect URLs" Setting"
# Feature request

## Is your feature request related to a problem? Please describe.

I have an application with non-enumerated deep-links, think of something like `https://eventmanager.example/signup/[UUID]`. Every page allows people to register or login via magic-link. And I must say, what an amazingly convenient feature. I love it and integration with Vue3 was a bliss.

Unfortunately, once a us

[2022-05-21 07:40] chipseater commented on #4905
Hey, I am having the same issue, and I posted it on stackoverflow before seeing this issue [(my stackoverflow post)](https://stackoverflow.com/questions/72327433/supabase-realtime-subscription-are-working-for-every-event-type-but-for-delete).
Can you reopen the issue please ?

[2022-05-21 09:09] chipseater commented on #4905
Hi, I had the same issue with DELETE events not being fired and I fixed it with the SQL query : `ALTER TABLE your_table REPLICA IDENTITY FULL`. I hope it helps !

[2022-05-21 23:33] lumenwrites commented on #1502
I'm looking to set up the exact same thing, I want to manage my tables using Prisma, but have the auth automatically handled by Supabase, it would be amazing.

According to [this thread](https://old.reddit.com/r/Supabase/comments/ukelkx/how_difficult_would_it_be_to_combine_supabase/):

But I can't seem to figure out how, and I can't find any tutorials or code examples. I'm new to Supabase, and I'd

[2022-05-22 02:33] w3b6x9 commented on #4905
@chipseater just wanted to confirm: did you have a primary key on your table prior to setting replica identity to full?

[2022-05-22 04:53] abhagsain opened #6914 "[Table Editor] Slide overs get automatically closed when a new one is opened from an existing slide over"
# Bug report

![supebase-bug](https://user-images.githubusercontent.com/36589645/169678819-17a12d88-697a-406b-9955-8039964a4c01.gif)

## Describe the bug

In the Table Editor when a new Slide over is opened from an existing slide over both get automatically closed.

## To Reproduce

### Your table either needs to have a foreign key or JSON data that's the only way to get the **View Data** button i

[2022-05-22 08:23] leadream opened #6916 "Uploading a file always appears as application/octet-stream"
# Bug report

## Updates
**Seems it only happens in Cloudflare workers.** I tried it in a normal NodeJs environment and it works well.

## Describe the bug

I tried to upload a file from a URL in Node.js. I always get an object with `application/octet-stream` mime type. Here is my code:

[code]

<img width="465" alt="image" src="https://user-images.githubusercontent.com/12868055/169685571-edfabcc9

[2022-05-22 18:59] lanbau opened #6919 "supabase.auth.signUp returns 200 for existing users"
# Bug report

## Describe the bug

[code]

## To Reproduce

1. submit a signup request to https://xxx.supabase.co/auth/v1/signup with the code above

## Expected behavior

Expecting 400 error saying user has already signed up.

[2022-05-22 19:04] dbmikus commented on #5044
@vbylen I did this

[code]

Wherever you set up Supabase locally, you should have a `.supabase/` directory.

[2022-05-22 19:54] GaryAustin1 commented on #6636
You can set a default of empty string with format('') in the column editor.

[2022-05-22 20:15] mozeryansky commented on #6636
That seems like more of a trick and also doesn't work. Did you test this and did it work for you?

---

Using `DEFAULT '' NOT NULL` should be all what's needed.  Supabase does not handle it properly and using a function does not make it work either. While Postgres handles empty string or using a function for default fine, it's Supabase that doesn't handle this properly and causes the table SQL to

[2022-05-22 20:25] GaryAustin1 commented on #6636
Yeah, definitely strangeness going on.  It does seem to work in the column UI and keep working in that the string gets set to empty in the UI, but that was the level I had tested it a ways back.  I do see it messed up in the side editor, but editing and adding rows seems to work.

[2022-05-22 20:33] GaryAustin1 commented on #6636
Just to follow up... This is what I get with datagrip on the table:
![image](https://user-images.githubusercontent.com/54564956/169714724-8fac3a58-cfdd-4102-9d03-3b3856d521d1.png)
Which seems correct.

[2022-05-22 20:39] mozeryansky commented on #6636
@GaryAustin1 What happens when you press edit in Supabase then press save?

[2022-05-22 20:56] GaryAustin1 commented on #6636
If I edit the column settings and save then it is loses it, so would have to reset it again.  Worse if I edit the whole table structure and save it fails to.   Never edited the columns after the change.  I actually don't use the UI much for table structure and prefer sql or Datagrip.

So it is a pretty bad hack.

[2022-05-22 21:18] marssantoso commented on #6180
Holy shit, confirmed that's the issue on my end. Turning that extension ON and OFF to see if it makes a difference, and yea it does. Didn't expect that...

[2022-05-22 23:52] leadream commented on #6916
Related issue: https://github.com/cloudflare/wrangler2/issues/1085

[2022-05-23 03:04] fforres commented on #640
Has there been any updates on this?
Is this something supabase is considering?

[2022-05-23 03:04] #6699 closed

[2022-05-23 03:32] Isaiah-Hamilton commented on #6157
@BhavikJain07 if you still want to work on this, then yes that would be great.

[2022-05-23 03:33] multiplehats commented on #640
https://github.com/supabase/supabase/issues/4808

[2022-05-23 03:54] Isaiah-Hamilton opened #6926 "Docs: Update dashboard images"
# Improve documentation

## Link

Not just this Link, This should be done through out the whole docs.
https://supabase.com/docs/guides/auth

## Describe the problem

Supabase dashboard in videos and images are outdated and need to be updated for better ease of use.

## Describe the improvement

Update the videos and images from the old dashboard to the new dashboard.

[2022-05-23 04:12] #6649 closed

[2022-05-23 07:16] #2941 closed

[2022-05-23 07:18] kiwicopple commented on #6689
Hey @althaf004 - moving this one to the `postgres` repo.

I believe that plpython is an untrusted extension, so we won't be able to provide it in our repo - will let one of the maintainers confirm this

[2022-05-23 07:22] kiwicopple commented on #6015
Closing this for now - will reopen if anyone can reproduce!

[2022-05-23 07:22] #6015 closed

[2022-05-23 07:31] kiwicopple commented on #6702
Hey @Aldo111 - this is the nature of JWTs. The user's JWT will remain "valid" until it has expired. This is why JWT  timeouts should be very short-lived (you can change the length of the JWT expiry in the settings)

Once the JWT is expired, the client lib will no longer be able to refresh the JWT because the user is removed.

If you need to _immediately_ revoke access for that user, I suggest addi

[2022-05-23 07:35] kiwicopple commented on #6713
Hey @probablykasper - just a quick check here. Are you referring to our Dashboard, or to the Auth functions on your own project?

[2022-05-23 07:39] kiwicopple commented on #3942
Hey @AndrianBalanescu  - can you please try to update your code to this?

[code]

Basically - try removing the `then()` statement (since you are awaiting the data response)

[2022-05-23 07:41] kiwicopple commented on #6728
Thanks @t1u1 , I'll add that as a frontend task 👍

[2022-05-23 07:52] probablykasper commented on #6713
I'm referring to the `Authenitcation > Settings > General > JWT expiry` option, where it says this:
[code]

[2022-05-23 08:02] kiwicopple commented on #6739
hey @odama626 - can I doublecheck that you have "Delete" enabled for the replication slot (Under Database > Replication > `supabase_realtime`)?

<img width="1405" alt="image" src="https://user-images.githubusercontent.com/10214025/169772442-fa04dedd-0f39-4638-bed8-0ea1bc96a112.png">

[2022-05-23 08:16] WilliamFalci commented on #5044
Ops sorry, I fixed the path.

The correct path is docker/volumes/db/init (so from the root of this repository after the cloning you will have the folder Docker ect)

[2022-05-23 08:41] kiwicopple commented on #6742
Hey @rebaz94 - I'm going to transfer this one over to the auth repo 👍

[2022-05-23 08:51] kiwicopple commented on #491
I'm not too sure what you mean by "locally" here, so if you mean "in the browser" - please do NOT expose your JWT secret anywhere that a malicious user can find it.

[2022-05-23 09:13] #6826 closed

[2022-05-23 09:15] kiwicopple commented on #6828
Hey @rnbokade - this sounds like something we can do in the future, but not our immediate focus. I'll convert this one to a Discusssion so that others can contribute ideas here, and when we're ready we can incorporate all the feedback into our implementation

Thanks for the feature request!

[2022-05-23 09:56] #6590 closed

[2022-05-23 09:57] kiwicopple commented on #6892
I'll close this one for now @goldenivan , but feel free to comment if you can help us replicate and we can reopen. Thanks!

[2022-05-23 09:57] #6892 closed

[2022-05-23 10:01] kiwicopple commented on #6902
Hey @SeekSaveServe, could you please share your settings under Auth > Settings > Email Auth ?

<img width="1419" alt="image" src="https://user-images.githubusercontent.com/10214025/169795326-851c632a-1c69-44b4-b13c-083e798dd32e.png">

[2022-05-23 10:10] #5764 closed

[2022-05-23 14:16] dglitxh commented on #6926
Can  I take this?

[2022-05-23 14:21] #6916 closed

[2022-05-23 15:38] Aldo111 commented on #6702
Ah got it, that makes a lot of sense. Thanks for the explanation. I think keeping the timeouts low on my end is probably a good idea (along with some extra API level validation since I actually pass through my own API, where I make additional supabase data reads/writes vs just doing it from the client).

[2022-05-23 17:57] saltcod opened #6942 "Sort items by asc/desc in Storage table"
# Feature request   [ submitted via feedback form ]

In Storage, you can sort by various criteria, but you can only sort each one asc.

IE: I can sort by name+asc but not name+desc.  Ideally, users could sort by those criteria in asc or desc.

<img width="300" alt="CleanShot 2022-05-23 at 15 25 39@2x" src="https://user-images.githubusercontent.com/105593/169879121-796fd62a-d502-4552-a16d-3155114eb

[2022-05-23 18:08] saltcod opened #6944 "Not able to search the Storage table"
# Bug report

## Describe the bug

The search feature on the Storage table does not work

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to a Storage https://app.supabase.io/project/_/storage/buckets
2. Click the search icon in the top right and try searching for an existing file
3. The table doesn't filter and there is a console error

![Cle

[2022-05-23 23:39] ambim opened #6948 "Changing database name causes issue in the Project Settings sidebar"
# Bug report

## Describe the bug
I could not access any of the 'Project settings' (General, Database, API, Authentication, Billing... etc) immediately after changing the database name.
Every time I clicked on one of the settings (database, API etc) it would take me to the General Page. I wanted to access the API tab, I couldn't.

Interestingly when I went directly to the URL and typed out https:/

[2022-05-24 01:17] Isaiah-Hamilton commented on #6926
@dglitxh all yours. if you need any help just let me know.

[2022-05-24 01:45] jjromary commented on #6944
can i get this problem?

[2022-05-24 01:46] #6230 closed

[2022-05-24 01:49] alaister commented on #6944
@jjromary sure thanks! Let me know if you can't work on it for whatever reason so I can reassign it.

[2022-05-24 01:50] jjromary commented on #6944
OK!

[2022-05-24 02:25] jeromepui opened #6951 "Unable to login to supabase"
# Bug report

## Describe the bug

Unable to login to supabase with github

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

Reproduced by logging in using github

## Expected behavior

Press "Sign in with GitHub"
Redirected and failed to login

## Screenshots

https://app.supabase.io/?error=server_error&error_description=failed+to+connect+to+%60host

[2022-05-24 02:28] bidlinj commented on #6951
I'm also facing the same issue

[2022-05-24 02:40] #6951 closed

[2022-05-24 03:14] kylerummens commented on #4195
Any update to this?

[2022-05-24 03:17] Sonichigo commented on #4195
Hey @maskeynihal , no there isn't yet, wanted a headsup like couldn't find at what all eq works. Also waiting for some one to clarify this once

[2022-05-24 03:23] kylerummens commented on #4195
From the simple tests I've done, it looks like the `col` parameter in the `{table}:{col}=eq.{val}` syntax doesn't have to be a primary/unique key. So it looks like it can be used to listen to all todos by user_id, for example. But it only seems to allow for integers. I've tried a couple different ways to get it to accept a uuid, but nothing worked.

[2022-05-24 04:00] steve-chavez commented on #6839
These are great questions @give-my-certificate.

Yeah, on https://github.com/supabase/postgrest-js/pull/267 there won't be retries for POST requests, underlyingly the js library calls RPC with the POST method.

For now retries in the PR are only targeting GET requests.

Same here, POST is used for insert and upsert.

That's a concern I have as well. My idea is to additionally add backpressure to t

[2022-05-24 04:20] Sonichigo commented on #4195
Seems like ``eq`` is just for integers then and not strings maybe. Thanks for this, I'll make the PR by EOD. Or you can take this up if you want! Either works

[2022-05-24 07:08] joshenlim commented on #6814
hey there @jacktho - the fix has been deployed to production, i'll go ahead to close this ticket first but feel free to reopen if its still happening!

[2022-05-24 07:08] #6814 closed

[2022-05-24 07:08] joshenlim commented on #6914
hey there! we've just pushed a fix for this out to production - i'll go ahead to close this ticket first but feel free to reopen if its still happening!

[2022-05-24 07:08] #6914 closed

[2022-05-24 07:26] alabhyajindal opened #6954 "Policies Editor goes out of the screen"
# Bug report

The policies editor under Auth -> New Policy -> For Full Customization goes out of the screen.

<img width="960" alt="image" src="https://user-images.githubusercontent.com/52493077/169972746-c23e84f8-eb90-4fc9-8c35-555a997f03a1.png">

## To Reproduce

1. Click on 'the Authentication icon'
2. Click on 'New Policy'
3. Click on 'For Full Customization'
4. See error

## Expected behavior

[2022-05-24 08:14] joshenlim commented on #6636
hey guys! sorry for taking such a long time to get to this - finally managed to do up a fix here
https://github.com/supabase/supabase/pull/6955

[2022-05-24 08:20] dglitxh commented on #6926
@Isaiah-Hamilton so I basically have to update the media from the static file folder?

[2022-05-24 08:57] MildTomato commented on #6954
[fixing here](https://github.com/supabase/ui/commit/cdb5d3a8b94a9b4ca62076e92038234cf18dfa4a)

[2022-05-24 09:51] #6636 closed

[2022-05-24 10:05] joshenlim commented on #6805
@darora can i check real quick what are the illegal sequences we should be avoiding? can look into this

[2022-05-24 10:37] darora commented on #6805
That's a good question - @steve-chavez do you happen to know before I go digging?

Honestly it might be OK to just restrict to e.g. alphanumeric + a small set of special chars `-_` and call it a day?

[2022-05-24 11:21] #6954 closed

[2022-05-24 11:43] abhagsain commented on #6914
Yes, it's fixed now. @joshenlim
Thank you :)

[2022-05-24 12:47] jjromary opened #6965 "Different functionalities in the sidebar between the online version and in the development environment"
# Improve documentation

## Link
https://github.com/supabase/supabase/blob/master/DEVELOPERS.md#Supabase-Studio-Development-Server

## Describe the problem
Hello. I have a problem with the features of subase Studio in the development environment. When I upload the application in a local environment, all the features in the sidebar are not available to me. I reviewed the documentation and followed

[2022-05-24 17:41] Isaiah-Hamilton commented on #6926
@dglitxh Yes

[2022-05-24 18:10] julienisbet opened #6971 "Foreign keys aren't saving because of default value"
# Bug report

## Describe the bug

When I try to add a new foreign key relation to a table using the UI, I'm getting an error `Invalid syntax for type bigint: ""`
It looks like its defaulting to an empty string which is an invalid value for a foreign key. Its fine if I pick a random default value but it should be nullable. Using `NULL` as a default didn't work either.

## To Reproduce

0. Have at

[2022-05-24 18:17] OceanTechnic opened #6972 "Redirect user after auth to native app"
# Bug report

## Describe the bug

When user is trying to login with Spotify,
Supabase will automatically redirect user to desired URL,
Which is auth.example.com on this page client sided js will try to find if user is on IOS or web,
If user is using IOS We will redirect him to `myApp://#access_token..` else `https://example.com#access_token..`
But Supabase client will not detect this `myApp://#ac

[2022-05-24 18:36] DillonB07 commented on #6971
This happened to me as well! This really needs to be fixed. I'm using macOS Catalina in Firefox if it makes a difference.

[2022-05-24 18:57] azukaar opened #6975 "Docker Compose, DB is not ready?"
# Bug report

## Describe the bug

When I start the docker-compose, I get a whole bunch of error because of a fail migration. It seems in particular to stop there (see full log here : https://pastebin.com/CMQGV2pU):

[code]

And then the rest of the log (https://pastebin.com/CMQGV2pU) is just a bunch of failling migrations.

## To Reproduce

 * clone the repo and extracted the docker folder
 * doc

[2022-05-24 18:57] steve-chavez commented on #6805
Hm, @darora why character sequences you found were illegal(also what was the error)? The only restrictions are the 32 chars minimum and if the string starts with `@`, postgREST will try to find an external file - which I guess could cause errors.

Docs: https://postgrest.org/en/stable/configuration.html#jwt-secret

[2022-05-24 19:24] anthonyko commented on #6971
Having a similar issue, but I am just adding a new column to a table and a not foreign key. Seems the "Allow Nullable" option is being ignored. I can add a new column to my table if the default value is not empty.

<img width="618" alt="CleanShot 2022-05-24 at 12 20 05@2x" src="https://user-images.githubusercontent.com/4150464/170115496-a903eae5-03aa-4c6c-99a4-c922ba25fcd2.png">

OS: macOS
Browser

[2022-05-24 20:04] mozeryansky commented on #6636
@joshenlim Thank you!

[2022-05-24 23:09] jjromary commented on #6975
Hi, @azukaar. Yesterday I came across an error similar to this. Have you started Docker on your Windows?

[2022-05-24 23:30] darora commented on #6805
Capturing off-thread conversation: let's disallow `$` and `@` characters in the JWT secrets.
@joshenlim anything else you need?

[2022-05-25 00:32] burmecia opened #6976 "move `Run` button up to improve SQL editor UI"
# Chore

## Describe the chore

Can we place the `Run` button on top of the SQL Editor? That is more convienent to click that button, especailly on large screen. Also, can we put a tooltip on the button to show its shortcut `CMD + Enter`?

## Additional context

Currently, the `Run` button is too far away from the code, and it has to move mouse long way to click that button.

<img width="1157" alt

[2022-05-25 00:37] kiwicopple opened #6977 "Update company page"
# Chore

## Describe the chore

https://supabase.com/company

This page says that we have raised $36M:

<img width="1562" alt="image" src="https://user-images.githubusercontent.com/10214025/170153959-1966e373-5856-48e7-9ef0-e86e37aab549.png">

We need to :

- [ ] Update the number to $116 M
- [ ] Add Felicis to the logos

[2022-05-25 00:43] jjromary commented on #6977
can i get this issue?

[2022-05-25 00:54] w3b6x9 commented on #6977
@jjromary sure, take it away!

@kiwicopple does it matter where Felicis' logo appears?

[2022-05-25 02:02] joshenlim commented on #6805
@darora okay gotcha so just min 32 chars and disallow `$` `@` characters yeah? Will update Terry's PR!

[2022-05-25 02:06] MildTomato commented on #6768
@saltcod yep 😄

[2022-05-25 02:07] MildTomato commented on #6738
Will move this to 'ideas' in discussion

[2022-05-25 02:07] jjromary commented on #6977
@w3b6x9 Do you know the directory of this page? I'm having trouble finding it

[2022-05-25 02:07] darora commented on #6805
Yup

[2022-05-25 03:13] joshenlim commented on #6971
hey all! all be taking a look at this today - hang tight

[2022-05-25 03:14] w3b6x9 commented on #6977
@jjromary nice, looks like you found it.

[2022-05-25 03:40] lukaskf commented on #6971
I had this same issue, decided to give the SQL Queries a try. It worked!

This is a nice resource I found to help build queries: https://supabase-sql.vercel.app/

[2022-05-25 03:45] #6805 closed

[2022-05-25 04:05] #6971 closed

[2022-05-25 04:14] MildTomato opened #6986 "[Docs] add search functionality to next.js docs site"
# Feature request

## Is your feature request related to a problem? Please describe.

Add a search UI for docs search.

## Describe the solution you'd like

`cmd` + `k` command pallete esque modal/popup that allows for entering a docs search string.

**To use with our search api**

for example
https://doc-search.supabase.com/multi_search?x-typesense-api-key=t0HAJQy4KtcMk3aYGnm8ONqab2oAysJz

with e

[2022-05-25 04:26] joshenlim commented on #6971
hey all! the fix should now be up - apologies once again for this disruption 🙏

[2022-05-25 05:21] ARMATAV opened #6988 "Can't Scroll When Editing the Column Types in Development Environment"
# Bug report

## Describe the bug

I might be crazy, but you cannot scroll vertically in this box. You can mouse close to the upper and lower edges and it will glitchy-scroll a little, but otherwise I should be able to scroll with my trackpad.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to `http://localhost:54323/`
2. Click on any table
3

[2022-05-25 06:39] burmecia commented on #6976
This chore will be added to future UI improvement.

[2022-05-25 06:39] #6976 closed

[2022-05-25 06:52] OceanTechnic commented on #6972
Btw It was mentioned here: https://github.com/supabase/supabase/discussions/5793

[2022-05-25 07:42] joshenlim commented on #5223
hey all! if its alright could one of you guys who are facing this issue include a screen recording from creating the hook to running into this error? this will help us debug the issue quickly 🙏

[2022-05-25 09:49] joshenlim commented on #4717
Hey everyone! Can I check real quick if this is still happening for anyone?

[2022-05-25 09:52] #4717 closed

[2022-05-25 09:57] joshenlim commented on #5223
ahh okay i think i see what's going on - for e.g if your HTTP param value its wrapped in a double quote
![image](https://user-images.githubusercontent.com/19742402/170235897-2b93f346-11b4-43c0-8268-25079d558f6f.png)

Dashboard sends this in its payload
![image](https://user-images.githubusercontent.com/19742402/170235803-11175faa-fa11-48f1-a95b-972b21f0aa0a.png)

But the response does not correspo

[2022-05-25 10:37] joshenlim commented on #5223
hey all - we might need a bit more time to properly investigate the issue and do up a proper fix. For now - i'd suggest using SQL as a workaround to this issue that you guys are facing specifically

for the hooks that are facing this, you'll need to recreate them but first deleting them
[code]

thereafter you can create the function hook again either through SQL
[code]

or through the dashboard -

[2022-05-25 13:11] kvnam opened #6996 "Supabase UI default value is string, causing error when creating other types"
# Bug report
When creating a new column through the Supabase UI it is currently setting the default value to empty string. This throws an error if you are trying to create a nullable numeric or another incompatible type.

## Describe the bug

When I try to add a new column it starts by showing default value as NULL, but when a type is selected it reverts to Empty String, throwing an error `invalid

[2022-05-25 17:22] panchicore commented on #361
Dears, 3 days ago the extension types were appearing, I was able to create a geometry field:

![Captura de Pantalla 2022-05-25 a la(s) 12 17 54 p  m](https://user-images.githubusercontent.com/108517/170324457-ef9efaed-df5f-4627-bb4c-eb6c307af93d.png)

But today the dropdown is rendering "pg data types" options only:

![Captura de Pantalla 2022-05-25 a la(s) 12 17 09 p  m](https://user-images.githu

[2022-05-25 18:16] julienisbet commented on #6971
thanks for the quick turnaround @joshenlim!

[2022-05-25 22:53] w3b6x9 commented on #6977
@jjromary I think this has already been done and is currently up on `master`: https://github.com/supabase/supabase/pull/6878

[2022-05-26 00:27] fergusmeiklejohn opened #7004 "cannot create a bucket with same name as bucket which has been deleted"
# Bug report

If we create a bucket then delete it we cannot create a new bucket with that name: error is "Invalid Signature"

## To Reproduce

Create a bucket, delete it, try to create a bucket with the same name as the deleted bucket

## Expected behavior
We should be able to create a bucket, delete it, then create it again

[2022-05-26 00:33] fergusmeiklejohn commented on #7004
Okay so the bug is actually in auth. The client renders like I'm authorised, I can go through the process of creating a new bucket but then I get an error message. The solution is to refresh the browser which I suppose refreshes the auth token?

[2022-05-26 03:59] fergusmeiklejohn commented on #7004
And this is a bug I see constantly with the web interface. My access token is out of date, I can still use the UI, I attempt to perform an action, it fails but the error message makes it seem like the action has failed rather than it being an auth problem. Sometimes the UI is rendered in a state which makes it seems like all the data has been deleted

[2022-05-26 04:05] EALNick opened #7006 "Allow configuration of SUPABASE_REST_URL when using Supabase Studio from CLI"
# Feature request
I'd like to be able to set SUPABASE_REST_URL when using Supabase Studio from CLI.

At the moment, I believe I can configure the port using the config.toml file but there doesn't seem to be a way to change the server address.

I think it has something to do with this line in https://github.com/supabase/cli/blob/main/internal/start/start.go:

fmt.Sprintf("SUPABASE_REST_URL=http://l

[2022-05-26 04:44] dragarcia opened #7008 "Restoring from backup disrupts the `pg_cron` extension"
# Bug report

## Describe the bug

Upon restoring from a backup, if the project has the `pg_cron` extension enabled beforehand, the `postgres` DB user would be lacking key privileges for the `cron` schema and its tables. The `pg_cron` extension does not work as a result until the privileges are reinstated.

## To Reproduce

1. Restore from a backup on the dashboard.
2. Observe that the `postgres`

[2022-05-26 21:49] ARMATAV commented on #6988
What can I say bro; I'm on a mac on Chrome - maybe that's it, maybe it's not. All I know is it's a fresh install.

[2022-05-27 03:31] redareda9 commented on #4464
Got the same issue today

[2022-05-27 03:34] thuongdinh commented on #4464
I got the same issue today

[2022-05-27 04:42] y0zong opened #7027 "Edge function deploy failed after delete once"
# Bug report

## Describe the bug

edge function can't be deploy

## To Reproduce

I can't find the way to update a `Published function` so I delete it and re-deploy it, after this I can't deploy any function any more, always failed with `Error: exit status 1`

1. supabase functions new some_fn
2. supabase functions deploy some_fn
3. supabase functions delete some_fn
4. supabase functions new some

[2022-05-27 09:45] nnaemekaibe commented on #6152
@awalias I would like to pick this up. cc @Isaiah-Hamilton.

[2022-05-27 09:57] clonecorp opened #7030 "SQL snippets not being shared within a team in SQL Editor"
Hello,

I'd like to know if the SQL snippets that we create in the SQL Editor can be shared between members of a team within the same project. Other developers can't see the SQL snippets I wrote and I cannot see theirs but this is mandatory to debug functions or anything SQL-related.

Is this something you can fix?

Thank you,
Jordan.

[2022-05-27 10:53] nnaemekaibe commented on #4459
Hello @joshenlim Is this ready to be picked up?

[2022-05-27 12:58] Isaiah-Hamilton commented on #6152
@nnaemekaibe go for it.

[2022-05-27 18:26] jjromary commented on #6996
Hi, @kvnam! I followed the steps to reproduce the bug found by you and apparently it has the expected behavior. I'm using Win10.

![6996BeforeSave](https://user-images.githubusercontent.com/37199044/170769423-a22172e4-567f-438e-a718-af3f68116632.png)
![9669AfterSave](https://user-images.githubusercontent.com/37199044/170769425-bf821a85-4770-4c31-b5a9-08fff7ccd87b.png)

 Maybe this bug is something

[2022-05-27 18:50] EnzoPujol opened #7034 "Confirmation emails not sending."
Hello! I'm having problems with confirmation emails when I register accounts. Basically, when I send the data through my project API to handleSignUp function, the user is created and keeps waiting for verification, but the email does not reach destination.

## To Reproduce

1 - Register an user with a valid email and password calling the following method:
[code]
2 - Go to either your email or anot

[2022-05-27 21:32] kav opened #7035 "Enable public slack integration on https://status.subabase.com"
I have a low pri but easy "feature" request . Can someone at Supabase who has access to the Atlassian Statuspage configuration for https://status.supabase.com/ enable the public slack integration so we can subscribe to it? https://community.atlassian.com/t5/Statuspage-articles/New-feature-Slack-notifications-for-Statuspage/ba-p/1510473

[2022-05-27 21:33] steve-chavez commented on #4464
FYI, we're tracking this one in https://github.com/supabase/supabase/issues/6839

[2022-05-27 23:12] romshiri commented on #473
Did you find any solution/workaround for this? Facing the same issue..

[2022-05-28 00:21] kvnam commented on #6996
@jjromary - I'm not sure what settings in the project would change the default value in the UI.. 🤔 The behaviour has altered now though, setting `int4` as the type does not change the default value to Empty string, but now when I enter a default value and then clear the input, it reverts to an `Empty String`

1. Choose int4 as type
2. Add 0 in Default value
3. Remove 0 (clear default value field)

[2022-05-28 06:54] liaujianjie commented on #7035
Enabling subscription via emails would be great too!

[2022-05-28 11:47] Uninen commented on #5685
It would be helpful to link this ticket to the docs; it's currently not easy to find the status of this issue.

[2022-05-28 13:04] Hallidayo commented on #5685
@Uninen I can add a link for this issue under the [Confirming Realtime Functionality](https://supabase.com/docs/guides/integrations/prisma#confirming-realtime-functionality) section of the documentation.

[2022-05-28 14:08] azukaar commented on #6975
Yes I am using Docker for windows as the server on windows 10

[2022-05-28 14:43] Luc069 commented on #3513
This is the main problem in the supabase world

[2022-05-28 22:56] jjromary commented on #5669
@w3b6x9 Can I keep this issue?

[2022-05-29 05:41] w3b6x9 commented on #5669
@jjromary were you able to wrap up https://github.com/supabase/supabase/issues/6977?

[2022-05-29 19:24] nnaemekaibe commented on #6986
Hello @MildTomato, i'll like to work on this?

[2022-05-30 01:47] MildTomato commented on #7030
Moving to discussions

[2022-05-30 01:48] dbmikus commented on #5044
Please ignore my comment above above the filepath. I was using an old version of the Supabase CLI.

[2022-05-30 01:50] MildTomato commented on #6986
I think @rishimohan might be working on it.

feel free to have a stab at it though.

[2022-05-30 05:30] rishimohan commented on #6986
Sample request from search API:

[code]

[2022-05-30 05:32] m13601594065 opened #7043 "成"
https://gitee.com/good-luck-in-the-world/yixian-tianji/commit/2d1274131e04b6690bdd84b0404806f3b35a0f7b.patch https://gitee.com/good-luck-in-the-world/yixian-tianji/commit/2d1274131e04b6690bdd84b0404806f3b35a0f7b.patch

[2022-05-30 06:19] #7043 closed

[2022-05-30 06:21] awalias opened #7044 "Improve docs around backups"
We don't have a backups section, would be good to create a dedicated section with reference to:
- how often Supabase takes backups on the platform
- how these can be restored
- how to take your own backups using pg_dump / pg_restore
- what is PITR and how to get it on the platform
- etc.

[2022-05-30 06:35] awalias opened #7046 "Write docs for connecting via SSL"
you can connect to your postgres instance by downloading the SSL cert from the dashboard, we should add a guide for this.

[2022-05-30 06:43] m13601594065 opened #7047 "透"
Microsoft · GitHub https://github.com/microsoft

[2022-05-30 08:45] MildTomato commented on #7047
This looks like spam

[2022-05-30 09:11] kiwicopple commented on #6972
Hey @OceanTechnic - you just need to explicitly add the redirect as a parameter in the API call. In the JS client it would be like this: https://supabase.com/docs/reference/javascript/auth-signin#sign-in-with-redirect

[code]

[2022-05-30 09:11] #6972 closed

[2022-05-30 09:31] kiwicopple commented on #7034
Hey @EnzoPujol - can I please check if this is still an issue? There was a large DNS issue with our service provider a few days ago, and I want to double-check that wasn't the root cause

[2022-05-30 09:40] kiwicopple commented on #7046
let's just update this guide to include the instructions:
https://supabase.com/docs/guides/database/connecting-to-postgres

[2022-05-30 10:17] #7035 closed

[2022-05-30 10:21] kiwicopple opened #7056 "docs: heading spacing is off"
# Bug report

## Describe the bug

The spacing in the heading is a bit off:

<img width="1727" alt="image" src="https://user-images.githubusercontent.com/10214025/170972082-0fbb8126-c988-4adc-a161-8ab6bc989b3c.png">

<img width="1161" alt="Screenshot 2022-05-30 at 8 22 00 PM" src="https://user-images.githubusercontent.com/10214025/170972703-c4616a11-3293-4da8-9cf7-d2a39ab33bd4.png">

I think it co

[2022-05-30 10:54] aar2dee2 commented on #7027
Can you share the database logs for this?
Here's how to access them:

https://user-images.githubusercontent.com/85004512/170977585-5682e295-35e1-4899-a676-cd1995a0426a.mov

Note: If you're not using Supabase pro, database logs are deleted after 24 hours. You will need to rerun the function deployment to reproduce the error.

[2022-05-30 11:01] joshenlim opened #7058 "Auth users table should show the same amount of information irregardless of viewport width"
At the moment we show more and more information as the viewport width gets larger but as suggested by a community member we could just have a table that's scrollable instead

[2022-05-30 11:17] jjromary commented on #5669
@w3b6x9 The changes will still be reviewed and even today I send a PR, ok?

[2022-05-30 12:52] w3b6x9 commented on #5669
@jjromary sounds good, thanks!

[2022-05-30 15:51] Sonichigo commented on #4195
Thanks for sorting this out. Will make the necessary changes!!

[2022-05-30 16:46] saltcod commented on #7004
Hey @fergusmeiklejohn thanks for the report here.

I tried to reproduce your issue, but maybe I'm missing a step that you're doing locally.  I can create a bucket, delete it, create it again. Love to know if I'm missing something there!

https://user-images.githubusercontent.com/105593/171033919-62992200-1667-4685-839c-59fbc2fc9ee9.mp4

[2022-05-30 19:49] kylerummens commented on #4195
I don't know what I did different this time, but it worked.

[code]

[2022-05-30 20:14] kylerummens commented on #4195
Is there also support for multiple filters?

Something like:
[code]

[2022-05-30 20:38] jjromary commented on #5669
@w3b6x9 I'm having trouble finding the checkbox in the project. Can you help me?

[2022-05-30 20:44] w3b6x9 commented on #5669
@jjromary which project are you referring to? Inside the Supabase project dashboard?

[2022-05-30 20:47] jjromary commented on #5669
Supabase Studio.

[2022-05-30 21:00] kav commented on #7035
Thanks so much for taking care of that @kiwicopple ! Any chance you could just check the slack and sounds like maybe email box as well? Seems like that should just be checking some boxes per https://support.atlassian.com/statuspage/docs/enable-slack-subscriptions/ No real reason to jump through the RSS hoop when it's already built into the platform unless you all have a blocker that prevents that.

[2022-05-30 21:03] rustamd opened #7069 "Pricing/Features Discrepancy & Extra Charges Issue"
## There is quite a bit of discrepancy between official pricing/tiers pages and what has been promised in blogs/forums/reddit

# 1 - Log Retention:

Back in March 2022 in [this blog post](https://supabase.com/blog/2022/03/30/supabase-enterprise) there was announcement of Logflare acquisition, new Log Explorer, new log retention policy, etc.:

<img width="651" alt="Screen Shot 2022-05-30 at 2 01 23

[2022-05-30 21:52] burggraf commented on #7069
I think the confusion here is that @kiwicopple stated correctly that the number of projects on the PRO tier is indeed unlimited, but you pay for each one separately.  In other words, if I have a Supabase account, I can have 2 free projects on that account, and then I can sign up for as many PRO projects (at $25/each per month) as I like.  Thus, the number of PRO projects on an account is truly unl

[2022-05-30 23:00] rustamd commented on #7069
That does make some sense, and I'm not looking to host dozen apps for $25, it is just that it's not clear/not covered on pricing page/docs at all/no clear indication when you're signing up for new subscription, and questions that did pop up did not get any answers, throwing more shade on Supabase, my opinion only of coarse.

It's almost like it's cautious on making it clear how it works because pe

[2022-05-30 23:03] burggraf commented on #7069
I think you’re a right we can do a better job of making this more clear.  It’s our intent to be completely transparent about pricing and I’m sure our sales people will figure out how to make sure this is clear to everyone.

[2022-05-30 23:11] rustamd commented on #7069
I honestly even find your wording contradicting, `number of projects on the PRO tier is indeed unlimited` vs `PRO projects`.
I feel like the "Pro Project" is much better wording than Tier.

[2022-05-31 00:13] spencercap commented on #4905
amazing 👏

[2022-05-31 02:37] kiwicopple commented on #7069
Hey @rustamd - first of all, thanks for taking the time to make such a detailed issue.

It took me a while to understand the difference of between "project" & "tier", but now that I figured it out I can definitely see how our current wording is confusing. Sorry about that.

A few quick responses:

1. Log Retention:
  - This is an honest mistake on my part, because I'm always in a rush during Launc

[2022-05-31 02:49] rustamd commented on #7069
@kiwicopple
Awesome response, and thank you for quick actions.

Everything starting to make more sense, thank you for putting yourself into "uninitiated user"`s shoes, I must not be that crazy if your team member had same understanding(pull request #6799)

Yea - as far as emails, I'm not able to find any emails from Supabase regarding payments. I have all other marketing, auth, free instances goin

[2022-05-31 02:53] rustamd commented on #7069
Log retention difference didn't stand out too much, kinda made sense that after acquiring Logflare you're able to offer better retention periods/options than year ago. But understand the mistake..

[2022-05-31 02:56] rustamd commented on #7069
@kiwicopple Also, while you're on pricing page, might be worth fixing `Get Started` button link on the "Pro Project", instead of redirecting back to pricing page, should probably go to `https://app.supabase.com/`?

[2022-05-31 04:45] y0zong commented on #7027
sorry logs is gone, but just use **cURL** to deploy my functions it seems to work, it maybe `supabase-cli` bug not `supabase`, I close this issue.

[2022-05-31 04:45] #7027 closed

[2022-05-31 05:29] fergusmeiklejohn commented on #7004
Hey @saltcod the bug is actually in auth. I opened the issue because I had this experience with buckets but since have had similar buggy interactions with the dashboard all (I think) because the access_token has become invalid on the client, but the client is still allowing us to perform actions which fail when they hit the database.

[2022-05-31 06:07] Anikets08 commented on #6977
Hey is this issue fixed

[2022-05-31 06:09] Anikets08 commented on #5440
Hey can i take the issue if anyone not working into it

[2022-05-31 08:04] MildTomato commented on #7069
another mistake from me 🙈  I'll fix that now

[2022-05-31 08:41] joshenlim commented on #5068
Hey all! Sorry forgot to update this ticket - this has now been fixed. So you can click on the entire input field and it'll drop down a searchable dropdown where you can find your schema! Feel free to reopen if anyone might feel like the issue has not been resolved

![image](https://user-images.githubusercontent.com/19742402/171131256-d098bbf2-92fd-4c1f-9302-fe453a85d161.png)

[2022-05-31 08:41] #5068 closed

[2022-05-31 08:57] MildTomato commented on #7056
also an issue with mobile, fixing in same PR

<img width="561" alt="Screenshot 2022-05-31 at 4 57 24 PM" src="https://user-images.githubusercontent.com/8291514/171134830-6bdd5eea-3885-4e99-aecb-f33c31f8000e.png">

[2022-05-31 09:13] saltcod commented on #7004
Right, gotcha. Thanks for the clarification there.

Would love to have a specific example of where you're seeing that. That kind of thing generally shouldn't be happening as we're fetching data with [swr](https://swr.vercel.app/). Swr automatically revalidates after you return to an unfocused a tab after a minute or two.

I wonder if you're encountering this issue on pages that fetch data differen

[2022-05-31 09:19] saltcod commented on #6988
Hey @ARMATAV !  Thanks for this report. We pushed out a fix for this last week. Could you confirm that it's fixed for you as well? If not, please let us know and we'll dig into it again!

[2022-05-31 09:34] MildTomato commented on #7058
been refactoring Table component recently in Auth users view, which should fix this issue.
not sure about the scrollable content though since it will render the 'action dropdown' a bit useless as it'll be off screen, but I'll see what we can do.

[2022-05-31 10:56] MildTomato commented on #7079
I fixed this while amending some stuff in grid library migration

[2022-05-31 11:20] EnzoPujol commented on #7034
Hello, I've tried a few times yesterday and just tried again now, and it's still not working as intended. I have other projects created before the DNS issue and those are working well; neither do this one that was created almost at the same time the problems with supabase started.

Maybe it's something involved with the database setup?

Thank you again for answering.

[2022-05-31 16:50] Isaiah-Hamilton commented on #5440
@Anikets08 all yours!

[2022-05-31 18:14] Jaarson opened #7087 "Auth providers randomly redirect to "Additional redirects URL" or "Site URL""
# Bug report

## Describe the bug

Auth provider (only tested with Google) randomly redirects to "Additional redirects URL" or "Site URL" (which are set up in Dashboard under Authentication/Settings)

## To Reproduce

1. Set up Google as auth provider
2. Set different URLs for "Additional redirects URL" or "Site URL"
3. Signup with Google
4. See error

## Expected behavior

Always redirect to "Add

[2022-05-31 19:06] Isaiah-Hamilton commented on #6996
Closed with #7068

[2022-05-31 19:33] GustavEkberg opened #7088 "Cannot login with OAutb on Safari, either on mobile or on desktop"
# Bug report

## Describe the bug

Oath login *almost* never works on Safari on either desktop or mobile.

## To Reproduce

This is our login:
![image](https://user-images.githubusercontent.com/5611464/171269976-5a2b57a1-eacd-4bd8-a0cd-558b27a33bab.png)

We have also tried this logic:
![image](https://user-images.githubusercontent.com/5611464/171269269-6cbb036a-653e-4774-b679-ff4f021f2afa.png)

Th

[2022-05-31 19:46] Isaiah-Hamilton opened #7090 "Bug: Storage background not fully getting dark"
# Bug report

## Describe the bug

The storage navbar doesn't get with the rest of the background when deleting a bucket.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to `Dashboard`
2. Go to `Storage`
3. Click on `delete bucket`
4. See bug

## Expected behavior

For the storage navbar to also get darker with the rest of the background.

##

[2022-05-31 20:38] vbylen opened #7091 "Remove "Body exceeded 1mb limit" error"
Hi there,

I'm trying to seed my local database with 1000 users and 1000 posts.

However I'm greeted with the following error:

`"Body exceeded 1mb limit"`

So postgres is complaining that the `seed.sql` file is too big.

I've tested inserting a smaller number of rows and it works fine.

Any ideas how I could get around this?

Thanks!

[2022-05-31 22:29] w3b6x9 commented on #6977
I'm only aware of this closed PR (https://github.com/supabase/supabase/pull/6981) so I don't think this has been resolved yet.

@jjromary are you still working on this or should I give this to someone else?

[2022-05-31 22:33] w3b6x9 commented on #4905
Just want to reiterate these important notes:

- Row level security is not applied to delete statements
- The key/value pairs displayed in the old_record field include the table's identity columns for the record being updated/deleted. To display all values in old_record set the replica identity for the table to full
- When a delete occurs, the contents of old_record will be broadcast to all subscr

[2022-05-31 22:47] w3b6x9 commented on #5669
@jjromary you'll be able to see the checkboxes if you create a table and insert some data. Try going to https://app.supabase.com/project/_/sql, select a project, and run `Countries` under `Quick Start`.

[2022-05-31 22:58] w3b6x9 commented on #5685
@Hallidayo thanks for contributing! approved your pr and merged.

[2022-06-01 02:29] #7056 closed

[2022-06-01 03:59] dglitxh commented on #6926
@Isaiah-Hamilton  #6987

[2022-06-01 05:42] Jaarson commented on #7087
Yes, "multi-redirects URL" sounds better, although I don't fully understand the use case for having multiple and not one URL. Are you able to explain it?

[2022-06-01 09:23] activenode commented on #7079
is this on production @MildTomato ? I'm still seeing this.

[2022-06-01 10:49] Anikets08 commented on #5440
Here's the link https://drive.google.com/file/d/1mlIXDKOm-_u8TgQxdAwTvCatJjCsdqYM/view?usp=sharing

[2022-06-01 19:03] Manuelbaun commented on #5023
supabase still eatsup all the diskspace. What i did now, is I mount the postgres a local conf into the docker, where I disable completely logging. For some reason, limiting does not work.

also a docker *-log.json in /var/lib/docker/overlay2 keeps growing over 3 gb in 4 hours. I have no idea how to prevent that.

[2022-06-01 19:56] vbylen commented on #5637
@inian how would I make this a public bucket using the SQL below?

[code]

[2022-06-01 20:18] stoplion commented on #1257
I'm trying to upload from the camera. It's not working. I've tried to use something like this..

[code]

and

[code]

`capturedPhoto.uri` is a `File:` path.

When using array buffer, getting this..
`FileReader.readAsArrayBuffer is not implemented`

When using blob, error is..
[code]

Is there examples out there, that use RN, camera  and supabase?

[2022-06-01 23:03] gauntface commented on #5587
I just went through the OAuth flow for Google and quickly realized this would be an issue for me as well.

[2022-06-01 23:11] ARMATAV commented on #6988
Hm - the upgrade path here is to re-run `supabase start` or `brew upgrade supabase`?

[2022-06-02 00:14] captainR0bbo commented on #5023
Yes checkout my last comment about setting the max log file size for docker. That was a docker config change on the server/computer running docker. Not the container. Should be an easy Google search. It was a long time ago so I don't recall where specifically

[2022-06-02 02:15] vbylen commented on #1257
@stoplion https://github.com/NiketanG/instaclone/blob/99aef86f5d8815c1caea6afcd0437350a95c02ca/src/hooks/useImageUpload.tsx

[2022-06-02 04:03] #7079 closed

[2022-06-02 06:14] koremp opened #7119 "Next.js todo-list example's code is different with live demo"
# Bug report

## Describe the bug

I downloaded [nextjs-todo-list-example](https://github.com/supabase/supabase/tree/master/examples/todo-list/nextjs-todo-list) and run `yarn` to install dependencies and `yarn dev` to run next script.

But localhost's login page was different from live-demo page.

![localhost-image](https://user-images.githubusercontent.com/18482476/171562932-e0ca38f1-b774-4c3b-ab

[2022-06-02 07:55] Manuelbaun commented on #5023
ok, I have set the logsize in the daemon.json. lets see if this solves the final issue.

[2022-06-02 08:13] joshenlim commented on #6091
@GaryAustin1 i'm gonna go ahead to close this issue first - but feel free to reopen if this problem still happens for you!

[2022-06-02 08:13] #6091 closed

[2022-06-02 10:00] dutsik opened #7124 "I can't create an access token for supabase cli."
### Discussed in https://github.com/supabase/supabase/discussions/7123

<div type='discussions-op-text'>

<sup>Originally posted by **dutsik** June  2, 2022</sup>
Hello.

On page https://app.supabase.com/account/tokens when i enter a token name in "generate token" popup and click "geenrate token" i receive an error: "Failed to create token: Unauthorized"

What am i missing?

Thanks.
</div>

[2022-06-02 10:00] dutsik commented on #7124
I also cannot submit a support ticket. Receive 'Unauthorized" response too.

[2022-06-02 11:39] Anikets08 commented on #5440
Hey now you can find the folder as I've removed .git file

[2022-06-02 11:41] Anikets08 commented on #5440
@kiwicopple can you please check once

[2022-06-02 12:18] GustavEkberg commented on #7088
Here is a working network tab vs a non working login. In both scenarios I just click login
Non working:
<img width="258" alt="Screenshot 2022-06-02 at 14 16 45" src="https://user-images.githubusercontent.com/5611464/171627242-d0340e9c-af13-467a-a2d0-0b9cbc788caf.png">
Working:
<img width="252" alt="Screenshot 2022-06-02 at 14 17 02" src="https://user-images.githubusercontent.com/5611464/171627293-

[2022-06-02 13:47] aantn commented on #4808
Hi, thank you for adding this. It doesn't fully solve the problem for Netlify, as the DNS for Netlify previews is `some_id--my_org.netlify.app`. To support this, we would need a pattern like `*--my_org.netlify.app`

[2022-06-02 18:24] rohandebsarkar commented on #6977
@w3b6x9, I opened a PR #7081 to resolve this.

[2022-06-03 09:27] saltcod commented on #7124
That's weird @dutsik!    Was your token expired maybe? Have you tried logging out and back in and retrying?

[2022-06-03 11:18] tulusibrahim commented on #7090
Hey, can I work on this one?

[2022-06-03 11:26] saltcod commented on #7090
Hey @tulusibrahim that would be awesome! Much appreciated. Let us know if you need any help on our end!

[2022-06-03 18:27] #6965 closed

[2022-06-03 19:47] Hallidayo commented on #4829
@saltcod - Can I take this one?

[2022-06-03 22:23] w3b6x9 commented on #6977
@rohandebsarkar nice, thanks!

[2022-06-03 22:23] #6977 closed

[2022-06-03 22:30] w3b6x9 commented on #4195
@kylerummens not at the moment but we are discussing it internally.

[2022-06-03 22:31] #4195 closed

[2022-06-03 22:37] w3b6x9 commented on #4829
@Hallidayo please do!

[2022-06-04 02:26] tulusibrahim commented on #7090
Hi, Im trying to run the project on my local machine but the project keeps give me loading screen like this
![image](https://user-images.githubusercontent.com/70683601/171974393-cfa396ed-6f79-43e0-a2f1-eca7cf553af4.png)

In the console I keep getting error:

Failed to load resource: net::ERR_CONNECTION_REFUSED
or
HEAD http://localhost:8000/rest/v1/ net::ERR_CONNECTION_REFUSED

I already followed t

[2022-06-04 03:58] Isaiah-Hamilton commented on #7090
@tulusibrahim you need to run docker. Follow these steps https://supabase.com/docs/guides/hosting/docker

[2022-06-05 21:00] seenickcode opened #7169 "`supabase.auth.signIn` with GitHub provider throws undefined error"
# Bug report

## Describe the bug

I am using the [Vanilla-js Auth Example](https://github.com/supabase/supabase/tree/master/examples/auth/javascript-auth) example and have added Github provider login but am failing to get it to work. The `supabase.auth.signIn` function simply throws an undefined error.

I have created a simple HTML, Javascript example to demonstrate this.

## To Reproduce

Steps

[2022-06-06 00:20] awalias commented on #7169
testing now! thanks for the bug report!

[2022-06-06 01:20] kiwicopple commented on #7034
OK - moving this to the auth repo for the team to investigate 👍

[2022-06-06 01:38] kiwicopple commented on #7087
This sounds more like a docs issue.

The use-case is to ensure that your Auth server isn't being used as a "man in the middle" for bad-actors. You can specifiy the URLs which are "allowed" to use your auth service, and they you can specify the redirect when the user signs in:

https://supabase.com/docs/reference/javascript/auth-signin#sign-in-with-redirect

[2022-06-06 01:39] kiwicopple commented on #7088
Thanks for the bug report @GustavEkberg .

This one sounds like it could be an issue with the js library. I'm going to transfer it there for the team to check out!

[2022-06-06 01:40] kiwicopple commented on #7091
Thanks for this @vbylen - transferring to the CLI repo so that the team can check it out!

[2022-06-06 03:23] burmecia commented on #5359
I think the doc has been improved in https://github.com/supabase/supabase/pull/6871, so close this issue.

[2022-06-06 03:23] #5359 closed

[2022-06-06 03:30] burmecia opened #7172 "docs: update text and vidoe on `Finding the connection pool config`"
# Improve documentation

## Link

[Finding the connection pool config](https://supabase.com/docs/guides/database/connecting-to-postgres#finding-the-connection-pool-config)

## Describe the problem

The description and video on 'Finding the connection pool config' is outdated with latest dashboard UI.

## Describe the improvement

The connection pool config is now at `https://app.supabase.com/proje

[2022-06-06 07:25] lerayj opened #7174 "Disable auto send of the "confirm mail""
# Feature request

Supabase template email does not let a lot of space to make complex email for email confirmation, password change, ...

It's possible to take control of it with `supabase.auth.api.generateLink`, generate a link, then use a mail service like Sendgrid to create confirm mail by yourself. This works perfectly.

Unfortunally, it's not possible to disable the automatic mail from Supab

[2022-06-06 08:29] dutsik commented on #7124
@saltcod  For some unknown reason after several hours i tried it once again. and it did worked as expected. I believe there was an issue with supabase dashboard or one of underlying services.

I am closing the issue.

[2022-06-06 08:29] #7124 closed

[2022-06-06 10:19] v1b3m commented on #6435
I'd love to take on this issue

[2022-06-06 13:12] awalias opened #7182 "two "all" tags on the blog"
in https://supabase.com/blog

![image](https://user-images.githubusercontent.com/458736/172166038-12f7f1dc-a15c-457f-846f-b30561843209.png)

not sure where it's coming from

[2022-06-06 13:41] seenickcode commented on #4295
Is this still an issue? Someone taking my course may be having a similar issue.

[2022-06-06 18:27] saltcod commented on #6988
You'd just need to pull the latest changes from master inside supabase/supabase/studio.  @ARMATAV

[2022-06-06 20:31] jjromary opened #7184 "Error: Too many re-renders. React limits the number of renders to prevent an infinite loop."
# Bug report

When I try to load the data that is in my table, I get this error message "Error: Too many re-renders. React limits the number of renders to prevent an infinite loop." This is happening after the Grid is inserted into the Supabase project.

* Data was entered through the Supabase Studio interface
![image](https://user-images.githubusercontent.com/37199044/172243784-e933f20c-5378-447f

[2022-06-06 21:25] chrichrichri opened #7185 "Row with non nullable integer cannot be saved if 0 is set as value"
# Bug report

## Describe the bug

A row cannot be modified if a non-nullable Integer is set to 0 (zero).

## To Reproduce

1) Create any table with a non-nullable integer column
2) Create a valid row in this table. Important: Non-nullable integer value has to be set to 0 (zero)
3) Edit this row by with right-click + "Edit Row"
4) Do not change anything simply go to 5
5) Click "Save"
--> Error "Pl

[2022-06-06 21:29] FelixZY opened #7186 "Support API key generation"
# Feature request

Please support generating user-tied API keys via `supabase-js`/`GoTrue`

## Is your feature request related to a problem? Please describe.

I'm developing an open API. Users can sign into a web portal and generate API tokens to be used when communicating with the API. Users can generate multiple tokens, e.g. if they want to use different keys for Android and iOS client applicati

[2022-06-06 21:47] jjromary commented on #7182
Can I take over this issue?

[2022-06-06 22:03] jjromary commented on #7172
can i take this issue?

[2022-06-06 23:34] saltcod commented on #7184
Hey @jjromary thanks for the report.

How were you loading data into the table? What did the table look like? What did the file you were importing look like? Any details to help us reproduce this one would be great.

Thanks!

[2022-06-06 23:39] saltcod commented on #7157
@phamhieu is this one still relevant?

[2022-06-06 23:42] saltcod commented on #1474
A better description has been added addressing the original concern on this one. I'm going to mark this as closed, but feel free to reopen if I'm missed anything here.

[2022-06-06 23:42] #1474 closed

[2022-06-06 23:45] saltcod commented on #4325
Closing this one as not super relevant anymore. Jonny has redone these auth forms.

[2022-06-06 23:45] #4325 closed

[2022-06-06 23:47] saltcod commented on #4332
Closing:  https://github.com/supabase/supabase/pull/6889

[2022-06-06 23:47] #4332 closed

[2022-06-07 00:05] jjromary commented on #7184
Sorry, really missing details that I forgot to mention.

1. First I access the subase/docker directory and run the command docker-compose up.
2. Access the supase/studio directory and run npm run dev.
3. Access my default project and enter the Table session.
4. I create the table with any name and insert test data through the studio's own graphical interface.

At this point the error occurs.

[2022-06-07 03:31] burmecia commented on #7172
sure you can, thank you @jjromary !

[2022-06-07 03:52] subwaymatch opened #7189 "Cannot create a Supabase Postgres DigitalOcean Droplet following the official documentation"
# Bug report

## Describe the bug

A Supabase Droplet using the [Supbase Postgres Hosting](https://marketplace.digitalocean.com/apps/supabase-postgres) image on DigitalOcean Marketplace cannot be created. The image does not show up.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [https://supabase.com/docs/postgres/server/digitalocean](htt

[2022-06-07 04:41] Isaiah-Hamilton commented on #7182
@awalias are you talking about production or locally because I don't see duplicate `all` tags in production. But I do know that when running locally and the site hot refreshes, it makes duplicate `all` tags. If that's what you are talking about?

[2022-06-07 06:56] udasitharani commented on #7185
I would like to work on this one.

[2022-06-07 07:25] joshenlim commented on #7149
This has now been fixed and is available on prod

[2022-06-07 07:25] #7149 closed

[2022-06-07 08:58] #7090 closed

[2022-06-07 10:09] awalias commented on #4808
@aantn could you try `**--my_org.netlify.app` according to this is should work

![image](https://user-images.githubusercontent.com/458736/172354887-ddffc2cb-42d6-4ec9-84bd-86884c46b447.png)

[2022-06-07 12:23] Sonichigo commented on #7046
Can I take this up?

[2022-06-07 12:33] david-plugge commented on #2954
Any updates on this?

[2022-06-07 15:19] awalias opened #7202 "Links at bottom of comparison pages broken"
at the bottom of https://supabase.com/alternatives/supabase-vs-heroku-postgres

![image](https://user-images.githubusercontent.com/458736/172418077-c13fdbb4-4546-4884-8e5d-a0601e19ba5e.png)

this link goes to `https://supabase.com/blog/alternatives/supabase-vs-firebase` but it shouldn't have the `blog/`

[2022-06-07 15:20] awalias commented on #7182
ahh maybe I was not on the prod site, closing thanks!

[2022-06-07 15:20] #7182 closed

[2022-06-07 20:14] alvinsga commented on #5587
Is there an ETA for this feature?

[2022-06-07 23:13] smotched opened #7209 "Supabase Swift SDK"
I think we're past due for a native SDK for the Apple ecosystem.

With Swift Concurrency newly released with backward compatibility, its a great time and it would open Supabase up to a whole new world.

[2022-06-08 00:18] burmecia commented on #7189
This issue is also related https://github.com/supabase/postgres/issues/200

[2022-06-08 00:53] jwright04 commented on #4883
The comment left by @w3b6x9 solved the issue for me although I still see errors when logging in/out specifically
`TypeError: destroy is not a function`.  If I refresh the page and login again, i still see the error, but i'm redirect back to my success page.  It's worth noting this is happening on my localhost, I haven't tried deploying yet.

[2022-06-08 02:39] #7185 closed

[2022-06-08 02:46] #7146 closed

[2022-06-08 11:29] awalias opened #7218 "Add functions to README"
three bits to update in the README:

- the main diagram is missing functions API
- the list below is missing functions
- the client library grid is missing functions-js and equivalents (maybe there's more to update?) see: https://github.com/supabase-community/#client-libraries

![image](https://user-images.githubusercontent.com/458736/172605839-2a74075f-b1ff-4682-bb95-5417b8ec73ed.png)

[2022-06-08 11:30] awalias commented on #7209
is this what you're looking for? https://github.com/supabase-community/supabase-swift (feel free to reopen if not!)

[2022-06-08 11:30] #7209 closed

[2022-06-08 13:05] J0 commented on #7218
Oh yup we have [Functions-py](https://github.com/J0/functions-py) but I'd like to test it and refactor some portions first before transferring over.  Should be able to do it on one of the evenings or weekends but ping me if it's needed earlier.

[2022-06-08 14:21] jjromary commented on #7172
The code is undergoing review and soon the PR will be done

[2022-06-08 15:24] smotched commented on #7209
Not really, this is an older closure based API, it seems more like someones side project than an official supabase ios sdk.

The mobile dev experience with supabase is terrible, nonexistent in most cases. With recent funding I was hoping some focus would go towards making our lives easier.

Is supabase actually investing anything at all in ios world? or just native dev for that matter?

[2022-06-09 05:25] vbylen commented on #1318
yeah, just wanted to report I'm encountering the same issue here.

as an alternative I highly recommend checking out [geocode maps](https://geocode.maps.co)

[2022-06-09 12:39] jjromary commented on #4888
Can I take over this issue?

[2022-06-09 14:35] grsouza commented on #7209
hey @smotched I have some initiatives on making the swift libraries better and modern, I've already added the new Concurrency model to the https://github.com/supabase-community/gotrue-swift and https://github.com/supabase-community/postgrest-swift .

I'm slowly improving the swift libraries while I build `Filly` a finance management app. If you have any ideia and you know of any missing thing, ple

[2022-06-09 18:16] jjromary commented on #4888
I followed the steps and the same doesn't happen to me... @wiesson  Do you know if this implementation was done?

[2022-06-09 18:17] wiesson commented on #4888
I haven't followed this topic. Maybe it was fixed

[2022-06-09 18:46] smotched commented on #7209
@grsouza Thanks for your work, I see you've done some work on storage but you don't really have the resources to make something that a company would actually use in production (which is what this is all about). Theres a lot more in docs, tests, and community work that need to be done. And obviously realtime, and eventually edge functions. sadly supabase management just doesnt gaf about iOS or Nati

[2022-06-09 18:50] smotched commented on #7209
@grsouza Thanks for your work, I see you've done some work on storage but you don't really have the resources to make something that a company would actually use in production (which is what this is all about). Theres a lot more in docs, tests, and community work that need to be done. And obviously realtime, and eventually edge functions. sadly supabase management (@kiwicopple, @awalias) just dont

[2022-06-10 09:21] gitstart commented on #6435
@J0
While working locally on this, I noticed that some features require the constant `IS_PLATFORM` to be true in order for them to be rendered. This constant is obtained from the environment variable `NEXT_PUBLIC_IS_PLATFORM`. Templates are amongst these features. How do I got about this issue?

[2022-06-10 18:36] saltcod commented on #7184
Humm that's weird! Did you run `npm install` in /studio/ after this change?

[2022-06-10 18:47] #7202 closed

[2022-06-10 19:01] jjromary commented on #7184
I'm not really sure, but I can run npm install. A doubt, do I pass the command in the /supbase or subase/studio folder?

[2022-06-10 19:18] inian opened #7246 "Styling links in our pricing page"
Should have different styling to indicate that `here` and `cli` are links

<img width="863" alt="CleanShot 2022-06-10@2x" src="https://user-images.githubusercontent.com/2155545/173135172-732a96aa-21cd-4af0-8cfa-273c334fbafd.png">

[2022-06-10 19:23] jjromary commented on #7184
Yes, I did. The terminal displayed an error that the package was missing in lottie-react. I did the installation, but the error persisted....