[2022-01-27 19:23] mountain-hiker opened #5192 "Relation does not exists error when changing table name after linking a foreign key to a field. On initial table creation."
# Bug report

## Describe the bug

When renaming a table after you have linked a foreign key on app.supabase.io, table creation fails. This is when you are creating a new table in the UI from the website.

## To Reproduce

1. When creating a new table on app.supabase.io If you create a table with name: "my_table"
2. Then add a foreign key to a column on that table lets say "profile_id" -> profile.

[2022-01-27 20:17] kiwicopple commented on #5123
[code]

There should only be an email and password added here: https://supabase.com/docs/reference/javascript/auth-signin

Perhaps you would like to use the signIn() method after they are created?

[2022-01-27 20:48] scopethis commented on #5188
Am I right in assuming it's disabled because:

and

- Table & SQL editors
    - Saved queries are unavailable
- Database management
    - Policies, roles, extensions, replication
- API documentation

Should this list also include "editing auth email templates"?

[2022-01-27 21:11] scopethis commented on #5188
So it looks like this is intentional as it's being blocked (for the moment?)

https://github.com/supabase/supabase/blob/5c52401734d056b2abd021dfd17d8d47815f28d1/studio/components/interfaces/Authentication/Templates.tsx#L67

Will email templates ever be editable outside of the hosted version?

[2022-01-27 22:03] rain2o commented on #5059
@imskr I did some more testing, and it looks like I had some sort of invalid value in my template, which caused it to use the default template instead of mine. I didn't catch this before because I was using the same template on all the emails, and only this one failed. I guess one of the variables I tried to use from the documentation was maybe invalid or wrong.

Sorry for the false bug! It's work

[2022-01-27 22:03] #5059 closed

[2022-01-28 02:28] richardwu commented on #5163
Hey @kangmingtay, it seems to be working now, I must have forgotten to restart the docker containers when I updated `ADDITIONAL_REDIRECT_URLS`!

[2022-01-28 02:28] #5163 closed

[2022-01-28 02:48] Isaiah-Hamilton commented on #2979
This seems to be a problem with supabase UI. The smallest size that the tabs can go is `tiny` and the problem is still there. @MildTomato thoughts.

[2022-01-28 03:27] Isaiah-Hamilton commented on #4968
@ratika-12 I don't know if you still want to work on it but it's open for you to work on.

[2022-01-28 05:33] MildTomato commented on #2979
Ah, it actually scrolls horizontally but it isn't a very good solution as you can see.

It should probably have a fade at the end on the right-hand side so it's obvious it is scrolling off the end.
like the example below.

<img width="417" alt="Screenshot 2022-01-27 at 9 32 53 PM" src="https://user-images.githubusercontent.com/8291514/151492759-0b749bd8-9082-45c1-a135-98f6156097f1.png">

[2022-01-28 05:34] MildTomato commented on #2979
Feel free anyone to PR any proposals though.

[2022-01-28 17:13] kiwicopple commented on #5188
Hey @scopethis - correct. At the moment the way to edit these templates it so add them as [env vars](https://github.com/supabase/supabase/blob/3aabe4f97dbbf59ed7b4c1e498f9e88a198a85ae/docker/docker-compose.yml#L44)

You can see all the config params available to you here: https://github.com/supabase/gotrue

I'll close this one for now, but feel free to drop comments (or jump into the Discusssions)

[2022-01-28 17:13] #5188 closed

[2022-01-28 17:24] #5180 closed

[2022-01-28 17:24] #5014 closed

[2022-01-28 17:27] #4780 closed

[2022-01-28 18:22] captainR0bbo commented on #5023
@Manuelbaun I think this could also be my issue. I don't think I had this problem on an earlier supabase docker image. It was Postgres 13. Now on Postgres 14 I do have this issue.

I see how log rotation can fix it. but to modify the postgresql.conf file, don't we need to modify the supabase/postgres image?

[2022-01-28 20:20] FatumaA commented on #2225
Hey @kiwicopple ,
This does not seem to be the case anymore?

https://user-images.githubusercontent.com/67555014/151615764-9a4ecb25-5d17-4123-b588-a5dc5ee5a235.mov

[2022-01-28 21:25] Isaiah-Hamilton commented on #2225
Thank you @FatumaA. Seem that this feature was added.

[2022-01-28 21:25] #2225 closed

[2022-01-28 22:36] arpitdalal opened #5213 "Bugged email verification URL"
# Bug report

## Describe the bug
After signing up with an email and password, a verification URL is sent to the email address, and when clicking on the link provided in that verification email, it redirects to `http://localhost:3000/?#access_token=...` and I am trying to parse that URL to access the `access_token` and `refresh_token` to use them to create a user session. And this all happens in t

[2022-01-28 23:16] GaryAustin1 commented on #5213
Not a bug...
Many reports and answers on this.
https://github.com/supabase/supabase/issues/1698

[2022-01-28 23:58] #5213 closed

[2022-01-29 00:00] arpitdalal commented on #5213
Ah okay! Thanks @GaryAustin1
I tried to find this in the closed issues but was looking for the `#` symbol and not for its synonyms.

[2022-01-29 00:03] GaryAustin1 commented on #5213
Yeah, I knew there would be some, and lucked out and picked "hash" first time to get you an example...

[2022-01-29 08:04] devdev-dev commented on #4758
I have the same problem while using the magiclink and opened a ticket as well.

[2022-01-29 10:30] damywise opened #5223 "Cannot Edit or Delete Function Hooks: client-side exception"
# Bug report

## Describe the bug

When I clicked "Edit Hook" or "Delete Hook" it shows blank page with this text:

Application error: a client-side exception has occurred (see the browser console for more information).

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to 'database/function hooks'
2. Create a hook
3. Try to edit/delete it
4. Se

[2022-01-29 23:17] FurkanToprak commented on #5009
I want to reopen this issue, no one has addressed it.

[2022-01-29 23:21] arpitdalal commented on #1698
I know I'm late to the party but maybe this can help someone someday.

I do this when using [remix](https://remix.run).

Let's say that the link in the email takes the user to `localhost:3000/#access_token=...`, I check if the user has a session in my loader, if they don't, I throw a `Response` which I catch in my `CatchBoundary`, in it's `useEffect` I manipulate the `document.location.href` to re

[2022-01-30 04:01] mellkior commented on #5066
This made the `api` area of studio work for me while self-hosting on windows using the guide [here](https://supabase.com/docs/guides/hosting/docker).

[2022-01-30 06:40] xMdb commented on #5066
(sorry for the late reply, been busy)

@franklinharvey I did `docker-compose` with `--build` and it worked, but also after wiping my images/volumes and omitting the `--build` it worked. Not sure what happened, could have been those old images, my Docker version, or someone fixing it since the last time I tried (which was when I opened this issue)

@rotemrevivo91 this also could have been my issue,

[2022-01-30 06:40] #5066 closed

[2022-01-30 08:42] bobwatcherx opened #5234 "Duplicate data in React js"
i have 4 data in table but i Get 8 data in React js

output :
[{"id":1,"created_at":"2022-01-30T08:18:27+00:00","nama_pengirim":"jono"},{"id":2,"created_at":"2022-01-30T08:24:34+00:00","nama_pengirim":"bekasi"},{"id":3,"created_at":"2022-01-30T08:30:07.326568+00:00","nama_pengirim":"bego123"},{"id":4,"created_at":"2022-01-30T08:30:30.663116+00:00","nama_pengirim":"bego123"}]
[{"id":1,"created_at":

[2022-01-30 11:53] osaxma commented on #5110
I believe this is an issue with `gotrue-dart`. When refreshing the token, the apiKey is used as an Authorization header instead of the JWT from the session to be refreshed/recovered.

I tested the server manually using the REST API and refreshing an expired JWT token works fine.

I filed an issue here:
- https://github.com/supabase-community/gotrue-dart/issues/52

[2022-01-30 12:10] #5115 closed

[2022-01-30 12:11] #5114 closed

[2022-01-30 12:25] kiwicopple commented on #5234
hey @bobwatcherx - the code is looking pretty good!

Im not sure if this is a supabase bug - likely just a bug in the way you've set up your react component. I'll convert this to a Discussion

Is your code public? Perhaps you can share a link to the repo? It looks fine from a initial scan, so it could be something outside of the code you've shared here

[2022-01-30 20:32] Murkrage commented on #3783
I was suffering from the same issue server side as has been mentioned a couple times here: `getUserByCookie()` returns `null` even though the client returns a user as expected. I'm using a magic link as my login method and what I noticed was that my session cookie wasn't set.

I found [this post on dev.to](https://dev.to/sruhleder/protected-routes-with-supabase-and-nextjs-381k) that solves my prob

[2022-01-30 23:46] lopezjurip opened #5239 "Compile PostGIS with protobuf-c support"
# Feature request

## Is your feature request related to a problem? Please describe.

I'm trying to create and endpoint as an RPC function that returns a TileJSON response and looks like PostgREST supports binary responses: https://postgrest.org/en/stable/api.html?highlight=bytea#binary-output.

PostGIS has some functions that enables doing so, these are: `ST_AsMVT` and `ST_AsMVTGeom`. PostGIS req

[2022-01-31 02:45] ShafSpecs commented on #359
@kiwicopple I keep getting an `ECONNRESET` error from Supabase that happens randomly when trying to upload to buckets. I am using Remix framework and I have a server function that accepts multiple forms on that site's route. One of the forms submits a file to the server and because of that, I always parse the formData in the server:
[code]

The main function that deals with the file and supabase i

[2022-01-31 04:04] ShafSpecs commented on #359
I traced the source of the error to the upload handler, apparently, supabase randomly throws error when I try to upload images

[2022-01-31 09:32] kiwicopple commented on #359
hey @ShafSpecs - would you mind opening an issue in the storage-api repo with some steps to replicate? (or a demo/example) - https://github.com/supabase/storage-api

[2022-01-31 10:30] #4910 closed

[2022-01-31 11:05] yeganathan18 commented on #4968
Issue still up?

[2022-01-31 13:04] Isaiah-Hamilton commented on #4968
@yeganathan18 yes

[2022-01-31 13:30] yeganathan18 commented on #4968
Cool, let me fix it 🛠

[2022-01-31 13:33] Isaiah-Hamilton commented on #4968
@yeganathan18 go for it 🚀

[2022-01-31 14:43] Timonzimm opened #5249 "Unable to expose "auth" schema"
# Bug report

## Describe the bug

I want to expose my `auth` schema to Supabase Javascript client but I am not able to do so. I get the following error: `The schema must be one of the following: public, storage`

I follow this procedure, unsucessfuly: https://supabase.com/docs/reference/javascript/initializing#api-schemas

The bug is that `auth` is not selectable  in "Settings > API > Schema".

S

[2022-01-31 15:51] GaryAustin1 commented on #5249
Not something Supabase wants done for security reasons.
You should use an rpc function (with security definer if need be) to do want you want, or make a copy of auth data you want in a public table (covered in the Supabase docs).

[2022-01-31 16:44] Manuelbaun commented on #5023
@captainR0bbo
I also only noticed it with Postgres version 14. Now I changed the `log_rotation_size`  setting in the postgres.conf file. I will now observe, if this fixes it.

[2022-01-31 17:31] kchojhu opened #5252 "Custom Authentication"
Just discovered this gem but I think it needs custom authentication.  I have some use case where the authentication is not OAUTH2 compatible and I have no control over that mechanism.  It would be great if there's a way to create custom JS/TS script that implements specific interfaces (ex.  implements AuthorizationService) or something like that.  This way it can handle just about any use case to

[2022-01-31 20:24] TannerGabriel commented on #4550
@phamhieu @kiwicopple Any updates here?

[2022-01-31 21:37] w3b6x9 commented on #5009
@FurkanToprak please fill out this form (https://app.supabase.io/support/new) or email support@supabase.io and we can address your issue(s).

[2022-01-31 21:40] w3b6x9 commented on #5009
@FurkanToprak also, if you check again you shouldn't have this issue anymore.

[2022-01-31 21:41] #4683 closed

[2022-01-31 21:42] #4842 closed

[2022-02-01 10:51] inian opened #5263 "Improve wording for predefined queries"
In the SQL Editor page, we should call rename the section called `Welcome` to something like Predefined queries or Query Templates

<img width="253" alt="CleanShot 2022-02-01 at 18 49 33@2x" src="https://user-images.githubusercontent.com/2155545/151955357-9aa38f13-2830-40c8-86ef-b280583268e0.png">

[2022-02-01 10:59] kiwicopple commented on #5249
Thanks for answering this one @GaryAustin1 🙏

@Timonzimm - I will close this one but feel free to comment or open a Discussion if you need more info

[2022-02-01 10:59] #5249 closed

[2022-02-01 11:02] kiwicopple commented on #5252
Hey @kchojhu - thanks for dropping in with some ideas.

It's not entirely clear what the steps are here - it sounds like you need some advice on how to implement something custom? I'll convert this to a GitHub Discussion, and feel free to share more details

[2022-02-01 11:35] #5127 closed

[2022-02-01 14:03] Ali-A-Koye opened #5267 "Search Funtionality , Some Results doesn't have single page and return 404 Page Not Found Error"
# Bug report
on the website of supabase.com , if you try to search for "know-how-to-secure-their-database-permissions-at-the-table-column-row-level" , you will see a result but when you click on it ->> its 404 and not found

## Describe the bug
the website  search functiality seems to have some caching process that even deleted Sections of the website are in the result of the search
A clear and co

[2022-02-01 15:24] mbalslow commented on #4758
I have the same (or very similar) issue with the Azure provider: https://github.com/supabase/supabase/discussions/5261

I also reached out to support via email.

[2022-02-01 15:53] Kilian opened #5270 "Timestamp editor handles input poorly"
# Bug report

## Describe the bug

The timestamp editor is very quick to clear out the values while you're typing
video:  https://user-images.githubusercontent.com/41970/152002120-685d9f93-4171-4771-9d60-2ed683464735.mp4

## To Reproduce

see video

## Expected behavior

I can edit the timestamp and it doesn't reset the entire timestamp.

## Screenshots

n/a

## System information

- OS: Ubuntu 18

[2022-02-01 20:14] bosaengineering commented on #4758
I have the same issue as well with Google. I also have reached out to support via email.

[2022-02-02 04:27] Isaiah-Hamilton commented on #4448
This issue has been inactive for a while and I will be closing. Please feel free to reopen this issue, and keep discussing it.

[2022-02-02 04:27] #4448 closed

[2022-02-02 04:44] Isaiah-Hamilton commented on #4748
This issue seems to be solved!

https://user-images.githubusercontent.com/70828596/152094324-96302df1-7c43-4c0a-9e7c-6dcb66a5e9b4.mov

[2022-02-02 04:44] #4748 closed

[2022-02-02 04:47] Isaiah-Hamilton commented on #4633
Fixed with https://github.com/supabase-community/storage-go/pull/2

[2022-02-02 04:47] #4633 closed

[2022-02-02 07:18] Wimpert commented on #4931
@edelah I am facing the samen issue. But it is not 100% clear to me how to solve it.

What exactly am I doing wrong?

[2022-02-02 09:40] multiplehats commented on #4808
We're really bumping into this issue with testing RLS and other auth features on Vercel preview URLs. There's really no workaround :/

[2022-02-02 09:45] activenode commented on #4808
@kangmingtay . From an architectural point of view, even though you added the related discussion/reason I am still having troubles understanding this. Problem-bound.

Like what will happen if we simply change it? In the related comment it says that it will be hard to match mobile links but then again how so? Like what will happen and what use cases do we have? Explicit ones.

Like e.g.

I think st

[2022-02-02 17:39] kiwicopple commented on #5267
this is a valid bug, but we also have this one: https://github.com/supabase/supabase/issues/4317

I'll close in favor of the original 👍

[2022-02-02 17:39] #5267 closed

[2022-02-02 17:44] #5263 closed

[2022-02-02 17:46] kiwicopple commented on #5270
I think this could be related to : https://github.com/supabase/grid/issues/92

We could probably move this over to the grid repo, but I'll leave it here for a bit so that it gets some visibilty. We'd love help with the Grid library in case anyone wants to contribute

[2022-02-02 18:19] #2502 closed

[2022-02-02 20:28] danieldaeschle opened #5290 "Realtime does not emit all events"
# Bug report

## Describe the bug

In the network tab the websocket message comes in. But the event handler does not work properly. Sometimes it works and sometimes the listener won't get called.

## To Reproduce

It's very hard to reproduce and I don't know how to debug it because it only appears sometimes. I can't descibe it properly.
My code is this:

[code]

## Expected behavior

It should wor

[2022-02-02 21:57] PaulRosset opened #5292 "Upsert a file"
# Bug report

## Describe the bug

I'm trying to upsert a file through the storage API provided by `"@supabase/supabase-js": "^1.29.4",`.

However, when I try to upload with the `upsert` option set to true, I get an error coming from the server.

I'm using the update/upload method that way:

[code]

or

[code]

## To Reproduce

I created a repository when I explain the different commands I run her

[2022-02-02 22:00] w3b6x9 opened #5293 "Adhere to excludedSchemas List to Limit Functions Returned"
# Feature request

## Is your feature request related to a problem? Please describe.

Studio Functions returns a list of all database functions, even the ones belonging to schemas that are excluded.

## Describe the solution you'd like

Pass a list of excluded schemas when fetching a list of database functions.

## Additional context

Related: https://github.com/supabase/postgres-meta/issues/178

[2022-02-02 22:18] quinnj opened #5294 "Allow redirecting to subdomains"
I'm trying to structure my app to utilize subdomains for specific customers (google.myapp.com, facebook.myapp.com, etc.), but I'm finding that doesn't scale with the current redirect functionality in the email signup, magic links, password reset, etc.

A couple of ideas:
  * allow programmatically updating the exact redirect list, so I can add new allowed subdomains when they sign up
  * Checkbox

[2022-02-02 22:37] w3b6x9 commented on #5290
@danieldaeschle `supabase-js` v1.29.2 enforces unique subscriptions and there may be some weirdness with just calling `unsubscribe()` during cleanup. Make sure you're using `removeSubscription` or `removeAllSubscriptions` to properly clean up the subscription on unmount:

[code]

[2022-02-03 02:33] Isaiah-Hamilton opened #5297 "supabase image on auth page not changing from dark to light"
# Bug report

## Describe the bug

On the auth page, the supabase image doesn't change from light to dark.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [supabase.com/auth](https://supabase.com/auth)
3. Scroll down to React Auth / Auth component
4. switch to light mode
4. See error

## Expected behavior

The supabase image change to ligh

[2022-02-03 02:42] GaryAustin1 commented on #5290
@danieldaeschle Besides, w3b6x9 suggestion, you can put an error handler in subscribe like:

.subscribe((status)=>{console.log('subscribe status = ',status);})

And see if subscription is stable.

Also are you seeing just one webworker, or several after awhile?  If you lose connection you would have a new webworker for each reconnect, but still a "good" subscription if you don't look at status, as

[2022-02-03 02:48] GaryAustin1 commented on #5292
Your update policy needs a using and with check or just a using.

create policy "UPDATE OBJECT"
  on storage.objects for update
  with check ( true );

needs to be
using (true); for both object and bucket.

[2022-02-03 02:48] arpitBhalla commented on #5297
@Isaiah-Hamilton I can work on it

[2022-02-03 03:00] Isaiah-Hamilton commented on #5297
@arpitBhalla all yours

[2022-02-03 04:02] jtkeyva opened #5298 "Dart Inner Join Filter"
# Feature request
I feel it's a basic need to be able to filter an inner join. In the words of your documentation:
If you want to filter a table based on a child table's values you can use the !inner() function. For example, if you wanted to select all rows in a message table which belong to a user with the username "Jane":

## Is your feature request related to a problem? Please describe.
Your Do

[2022-02-03 04:31] tocteman commented on #4758
Same thing happening with Facebook (Google's working fine). Thanks for your help.

[2022-02-03 06:53] PaulRosset commented on #5292
Thank you for your answer.

From what I've done and if I understand correctly, I'm already doing it, right?

here:
https://github.com/PaulRosset/supabase-repro-update-storage/blob/main/transaction.sql

[2022-02-03 06:58] PaulRosset commented on #5292
Thanks a lot! It actually works!

[2022-02-03 06:58] #5292 closed

[2022-02-03 07:45] joshenlim commented on #5293
some contextual info - we do have `excludedSchemas` in studio, but this is purely client side

what happens is the studio fetches _all_ of the data, then filters out based on `excludedSchemas` - as mentioned in the related issue, probably need this on the BE side instead

[2022-02-03 08:16] johnone opened #5300 "Example with SvelteKit?"
It would be absolutely awesome if you could provide an example with SvelteKit instead of Next !
Best wishes and thanks for your amazing work!

[2022-02-03 11:21] Ziinc opened #5301 "Noisy studio tests"
# Chore
To reduce warnings/logs emitted during studio tests.

## Describe the chore

This error is related to the radix setup for missing apis in jsdom, can be found in `studio/setup.radix.ts`, and it is emitted as recharts is attempting to determine the size of the container (but it is zero because of jsdom). Need to mock the missing apis.
[code]

This error is due to incorrect implementation of

[2022-02-03 11:25] kiwicopple commented on #5298
hey @jtkeyva - perhaps you can open this one [here](https://github.com/supabase-community/postgrest-dart) for visibilty with the Dart maintainers?

[2022-02-03 12:14] Isaiah-Hamilton commented on #5300
@johnone working on it now #5118! would be great if you left a review.

[2022-02-03 21:43] w3b6x9 commented on #5293
@joshenlim yep, will need this in pg-meta but then we'll need to update the pg-meta functions api in studio to pass in `excludedSchemas`.

[2022-02-03 21:45] quinnj commented on #5294
Ok, so chatted with a friend who suggested a pretty good solution that works currently. Instead of trying to redirect to the subdomain directly, I can pass something like `redirectTo: 'https://localhost:3000/recovery?instance=testsubdomain'` to the various `signUp`/`resetPassword` supabase client calls. Then in my application, I have a router set up at the highest level that detects the `instance=

[2022-02-04 00:52] Isaiah-Hamilton opened #5308 "Files with long names dont fit in storage dashboard"
# Bug report

## Describe the bug

Files with long names don't fit in the storage dashboard.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [app.supabase.io/project/[ref]/storage/buckets](https://app.supabase.io/project/[ref]/storage/buckets)
2. Click on create new bucket
3. Add a new file with a long filename
4. See error

## Expected be

[2022-02-04 05:39] Isaiah-Hamilton commented on #5301
@Ziinc Do you know where this is located, I can't seem to find it?

[2022-02-04 08:21] awalias commented on #5027
would be nice to have this page auto-generated from the gotrue README, for discoverability - because it's not obvious for people to look in the repo necessarily

[2022-02-04 20:04] jtkeyva commented on #5298
@kiwicopple sure will do

[2022-02-04 21:22] sritampatnaik opened #5322 "Make the OAuth Redirect URI easily copyable"
# Feature request

## Is your feature request related to a problem? Please describe.

Not a problem. But while implementing Google, Apple and a bunch of other auth providers. I have to:
- Copy my `API URL` from the Settings page
- Go to the auth provider and paste the `API URL`
- Come back to the Supabase docs
- Drag and copy `/auth/v1/callback` or memorise it
- Go to the auth provider and paste i

[2022-02-04 23:39] Sync271 commented on #5297
This seems to be more of a 'flow of props' issue than just wrong SVG implementation.
Here, darkMode is received as a prop and if that is undefined, it always ends up being false so you end up getting dark-themed logo no matter what.
https://github.com/supabase/supabase/blob/90c11c79522d759b14dc46eed1cd48f12a8a061b/www/components/AuthWidget/AuthComponentExample.tsx#L93-L97

[2022-02-05 18:15] Manuelbaun commented on #5023
somehow, the logrotation does not work properly. I think its best, when supabase use some sort of config to manage it.

i've set the below log rotation configs, but it still eats up all my disk space. Does anybody have a suggestion?

[code]

[2022-02-05 19:19] jtkeyva opened #5324 "Data Table Model Export"
# Feature request
Data model export
## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.
A model export button that provides a list and or json of the table column/field names and types. An easy time saver and typo prevention for creating model classes in say Flutter.
## Describe the solution you'd like
A but

[2022-02-06 03:05] KathirvelChandrasekaran opened #5327 "Additional Redirect URL : Update config failed: An error has occured: Failed to fetch"
# Bug report

## Update config failed: An error has occured: Failed to fetch

Not able to add additional **Additional Redirect URLs**

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

Go to 'Settings -> Auth Settings -> Additional Redirect URLs'

## Expected behavior

Want to add additional redirect URL. For example, Website developed using NextJS is

[2022-02-06 08:17] EryouHao opened #5330 "Change column from `text` to `text[]` array not work"
# Bug report

## Describe the bug

I create a table column type is text, saved, change to array not work.

## To Reproduce

1. create a table from studio
2. create a column `images` type is `text`
3. save
4. edit table column `images` type to `array`
5. save

## Expected behavior

the column `images` type is `text[]`

## Screenshots

![image](https://user-images.githubusercontent.com/17328747/1526

[2022-02-06 10:58] inian commented on #5327
This is a project specific issue @KathirvelChandrasekaran. Can you create a support ticket at https://app.supabase.io/support/new and we will take a look.

[2022-02-06 10:58] #5327 closed

[2022-02-06 15:08] samirergaibi opened #5334 "Adding error codes to ApiError"
# Feature request

## Is your feature request related to a problem? Please describe.

I am building a website with supabase and the errors that is returned from `supabase.auth` only contains a general error code `400` and a message in english. This makes the different errors hard to distinguish from eachother.

**Example:**
User tries to create an account but the user is already registered so the

[2022-02-06 16:51] captainR0bbo commented on #5023
Did you make those configs in a directory that you have mapped as a docker volume? Otherwise you configs get wiped out with each container restart.

I turned the log collector off for now.

Also had to set a max log file size for docker logs as those also grew infinitely

[2022-02-06 22:45] DukeManh commented on #5330
The same error happens with others data types as well.

[2022-02-06 22:50] DukeManh commented on #5330
I've been testing and using Supabase recently and want to contribute.
Can I take this issue?

[2022-02-07 04:42] Anikets08 commented on #5297
is the issue solved

[2022-02-07 05:03] Isaiah-Hamilton commented on #5297
not yet

[2022-02-07 08:35] Manuelbaun commented on #5023
yes, I set the configs in the postgres.conf file, that is mounted and not directly in the docker container itself. After restart, I checked the configs inside the docker container and there were identical.

Is it possible that another file or some sort of settings somewhere override my conf somehow?

[2022-02-07 08:46] joshenlim opened #5350 "Table editor crashes when viewing foreign key row from the grid itself"
# Bug report

https://support.supabase.org/a/tickets/4626

User mentioned that the linked row has a JSON field - could that be the issue? requires more investigation

https://user-images.githubusercontent.com/19742402/152754303-0119daed-1fc3-440c-b8c1-c1cd4bbb3a18.mov

[2022-02-07 08:54] joshenlim opened #5353 "SQL editor snippets save are conflicting when opened in separate browser tabs"
# Bug report

https://support.supabase.org/a/tickets/4724

From the user:

This isn't just tab specific but I'm guessing the issue will also occur if 2 users are editing the same SQL snippet at once

There are multiple solutions to this imo
- Do not save snippet edits automatically, but rather through an explicit action (button / cmd + s etc) (as mentioned by the user)
  -  Lowest hanging fruit, n

[2022-02-07 08:57] zainabmirkar commented on #5297
Hello!! can I help in solving this issue ???  I have no prior experience but I am eager to contribute

[2022-02-07 09:53] #4344 closed

[2022-02-07 13:18] Isaiah-Hamilton commented on #5297
@zainabmirkar Go for it 🚀

[2022-02-07 14:36] dthyresson opened #5359 "Improve Connection pooling with Supabase guide with connection recommendations to Prisma and Lambdas"
# Improve documentation

Improve Connection pooling with Supabase guide with connection recommendations to Prisma and Lambdas
## Link

Connection pooling with Supabase

https://supabase.com/docs/guides/integrations/prisma#connection-pooling-with-supabase

## Describe the problem

Lambdas with Prisma can exhaust connections quickly unless configured appropriately.

Prisma recommends setting the con

[2022-02-07 15:01] yousefakiba commented on #5308
I wouldn't mind working on this, I can recreate the bug on Windows with Firefox. Is making the name scrollable the way I should handle this?

Also just want to confirm, its this page right?

[https://github.com/supabase/supabase/blob/94fdf5cff2751f61993a7df4daf7090d535b6b02/studio/components/to-be-cleaned/Storage/StorageExplorer/PreviewPane.js](url)

[2022-02-07 16:55] Ziinc commented on #5308
thanks @yousefakiba , would be appreciated. Yes it is the PreviewPane component. I'll let @joshenlim give his inputs on design, but imo would make more sense have it copy-able, as no one in their right mind is going to memorize the string and scan their bucket for it. Clipping the overflow and having a copy-paste button next to it might work. Or having it as a Input with `copy` prop.

[2022-02-07 18:01] brunoalano commented on #1735
Any updates on this @kiwicopple?

[2022-02-07 18:05] yeganathan18 commented on #4968
@chipilov is this means the one in the doc already? or the one you suggested?

[2022-02-07 18:28] Ziinc commented on #5308
you can check the `developers.md` file and the `studio/readme.md`

[2022-02-07 20:33] chipilov commented on #4968
@yeganathan18 I am afraid I don't really understand the question.

All the extensions I have given as examples in this issue are part of the official documentation and can be enabled via the toggles in the Dashboard UI.

The problem arises when you try to enable SOME of them using SQL statements (as opposed to the Dashboard UI).

Does that answer your question?

[2022-02-07 21:01] #5298 closed

[2022-02-07 21:05] kiwicopple commented on #5330
Hey @DukeManh - we'd love some help if you want to take it!

[2022-02-07 21:44] noskovvkirill opened #5364 "API is not working"
# Bug report
Hi guys! I previously submitted this issue which was resolved #4464
I face the same issue with API again, but it's legible rn with expanded logs.

## Describe the bug
API is not working.

I cleaned up the logs a little bit for clarity, but this is what I see:
`error fetch {
 message:  What happened?  The initial connection between Cloudflare's network and the origin web server timed o

[2022-02-07 22:00] devdev-dev commented on #1488
This would be a great feature. Why did you close this Issue @indahud . Did you find another solution?

[2022-02-07 22:54] DukeManh commented on #5330
@kiwicopple thanks, it looks like it's an error in the  PostgREST-meta package.

[2022-02-07 23:22] kiwicopple commented on #5364
hey @noskovvkirill - can you please submit a ticket here so that we can get your Project ID: https://app.supabase.io/support/new

[2022-02-08 00:55] DukeManh commented on #5330
Potentially close by https://github.com/supabase/postgres-meta/pull/181

[2022-02-08 04:27] #4892 closed

[2022-02-08 05:25] #5330 closed

[2022-02-08 07:48] yeganathan18 commented on #4968
@chipilov thanks for your help! I have made the required changes in the doc now.

[2022-02-08 08:13] tiojevero opened #5372 "Add Push Notification Function that similar function to Firebase Cloud Messaging (FCM)"
# Feature request

## Is your feature request related to a problem? Please describe.

I see a limitations of supabase in terms of push notification, as i read in [Supabase Functions]( https://github.com/supabase/supabase/discussions/3588), that we need to configure more complicated than using Firebase Cloud Messaging (FCM)

## Describe the solution you'd like

I hope that supabase can add a Push N

[2022-02-08 08:55] chipilov commented on #4968
@yeganathan18 Added a couple of comments to the patch.

[2022-02-08 08:57] Noriakisana opened #5373 "Support for MongoDB"
# Feature request

 In fact that it is hard to scale postgres horizontally, maybe add a MongoDB support could solve this issue

[2022-02-08 09:21] #4508 closed

[2022-02-08 10:03] TannerGabriel commented on #4550
After changing the `KONG_URL` to the IP-Address instead of the `http://kong:8000`I receive the following error:

[code]

Is this already a know issue? @phamhieu @kiwicopple

[2022-02-08 11:07] phamhieu commented on #4550
You need to provide `apiKey` in the request headers instead.

[2022-02-08 12:25] TannerGabriel commented on #4550
@phamhieu I only used `KEY` as a placeholder since I did not want to reveal my real key. I have just generated a new pair of `anon` and `service` keys and it still does not work.

[2022-02-08 16:24] steve-chavez commented on #5373
See https://github.com/supabase/supabase/discussions/6#discussioncomment-108826

[2022-02-08 16:24] #5373 closed

[2022-02-08 17:36] chipilov commented on #4758
@dthyresson Maybe this issue should be re-opened - multiple people are still reporting it and the team might not have visibility that it still exists.

[2022-02-08 18:08] m2scared commented on #4550
Me to. Same issue as @TannerGabriel in a fresh install.

[2022-02-08 18:17] m2scared commented on #4550
I believe I may have found the issue. @TannerGabriel and @robin-whg can you try to update https://github.com/supabase/supabase/blob/master/docker/volumes/api/kong.yml#L8-L12 with your keys?

At least now I can see the screen.

![image](https://user-images.githubusercontent.com/93332316/153050527-021602e8-c51d-4d8e-a680-ee9a31b6f6d3.png)

[2022-02-08 20:04] TannerGabriel commented on #4550
@m2scared Yes, it seems that I forgot to change these two variables after generating the new key.

[2022-02-08 20:25] m2scared commented on #4550
I am not sure if the doc says to do so. I hit that by coincidence.

[2022-02-09 01:43] leafblader1 opened #5383 "How to require current password before being able to updateUser?"
### Discussed in https://github.com/supabase/supabase/discussions/5341

<div type='discussions-op-text'>

<sup>Originally posted by **leafblader1** February  6, 2022</sup>
GoTrue API doesn't require users to confirm their current password before updating the users fields, including the new password. This is pretty insecure, how can I disable this endpoint (and only ask for password changes through

[2022-02-09 01:54] awalias commented on #5294
will be solved by https://github.com/supabase/supabase/issues/4808 as well 👍

[2022-02-09 01:54] #5294 closed

[2022-02-09 01:58] awalias commented on #4808
related: https://github.com/supabase/gotrue/issues/99

[2022-02-09 02:00] awalias commented on #4808
also an alternative approach: https://github.com/supabase/gotrue/issues/296

[2022-02-09 02:01] phamhieu commented on #4550
Hi @m2scared, we already covered this in the docs https://supabase.com/docs/guides/hosting/docker#generate-api-keys

[2022-02-09 11:13] m2scared commented on #4550
Hi @phamhieu. Thanks! I missed that.

[2022-02-09 11:26] Sonichigo commented on #4195
Can i take this up @kiwicopple ? Any heads up on issue?

[2022-02-09 18:40] pablocubico commented on #5016
Hey @ErikGraciosa and @kiwicopple , I made a fix here: https://github.com/supabase/supabase/pull/5399

Let me know if that works for you. Tested locally.

Cheers!

[2022-02-09 20:06] GaryAustin1 commented on #5383
Dropping this here also:

The email password link ends up using the same API so if you shut that off then you can't update anyway.

There is work going on:
https://github.com/supabase/gotrue/pull/309
https://github.com/supabase/gotrue/issues/264

[2022-02-09 20:09] leafblader1 commented on #5383
Shutting it down is not ideal, agreed.

Thanks. I just read through the PR's and it's exactly what I'm looking for. Glad it's being worked on. Hope to see it added soon. It is crucial for the development of our application - we want to offer as much security as possible.

[2022-02-10 08:26] prabin-acharya opened #5409 "Docs link in the dashboard is dead"
# Bug report
Docs link in the studio dashboard is dead

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to 'https://app.supabase.io/'
2. Click on 'Help > Docs'
3. See error

## Screenshots
![Supabase](https://user-images.githubusercontent.com/71175492/153366031-5cc3cb75-c7b4-4363-a3b5-b63b37ae8981.png)
![Screenshot from 2022-02-10 14-05-07](ht

[2022-02-10 12:07] Isaiah-Hamilton commented on #5409
fixed with #5397

[2022-02-10 12:07] #5409 closed

[2022-02-10 19:04] qruz-hq commented on #4808
Couldn't Supabase "just" implement different CLIENT API keys and tie them to different domains ?

The only real solution for now is running parallel databases but we run too much data to duplicate it anyways.

[2022-02-10 22:07] kaspnilsson opened #5416 "Malformed redirectTo URL list silently dropped / ignored"
URLs listed in "Additional Redirect URLs" in `/project/${RPJECT_ID/auth/settings` will (seemingly?) silently be ignored / dropped when the string is invalid in some way. In my case, I added the URLs with an individual whitespace paste artifact at the beginning, and it took me an entire day to troubleshoot why my app redirect was not working.

Could we consider either adding an error state to this

[2022-02-11 00:40] DukeManh commented on #5350
@joshenlim, I'd like to work on this. The hard part is probably locating where the JSON is rendered and we could `Object.stringify` it?

[2022-02-11 02:08] joshenlim commented on #5350
@DukeManh hey there! sure thing :) ahh the component here is rendered through the library sorry
https://github.com/supabase/grid - our table editor is kept in a separate repository so this might be a good place to start looking? @phamhieu might be able to help give some pointers too

[2022-02-11 02:22] phamhieu commented on #5350
Something's wrong with Github issue transfer. @DukeManh you are welcome to work on the issue here https://github.com/supabase/grid/issues/113

I will close this.

[2022-02-11 02:22] #5350 closed

[2022-02-11 02:22] evhan commented on #3445
FWIW dropping any functions you've hooked up as triggers on `auth.users` with `CASCADE` will do the trick:

[code]

Hopefully this will help someone in the meantime.

[2022-02-11 04:01] nkeat12 opened #5419 "Organizations team role add multiple owner"
### Discussed in https://github.com/supabase/supabase/discussions/486

<div type='discussions-op-text'>

<sup>Originally posted by **productdevbook** January  6, 2021</sup>
More than one manager cannot be added at the moment. Only one person can be a manager. It would be nice to increase this number.</div>

[2022-02-11 09:27] edgarasben opened #5424 "Custom email links"
# Feature request

When I invite a user to signup they receive an invitation link. This link is within the supabase.co domain. I would like to customize this link masking it with my own domain. This should increase the trust for visitors clicking on a link with a familiar domain name<img width="457" alt="image" src="https://user-images.githubusercontent.com/725324/153567052-7498141f-03d9-4f65-b565

[2022-02-11 15:33] kristjanmar commented on #1176
I see that supabase/gotrue-js has been updated. Does this mean that the create_user: false flag should work?

[2022-02-11 17:46] micheljung opened #5426 "Docker files out of date"
# Chore

## Describe the chore

The DB init files at https://github.com/supabase/supabase/tree/master/docker/volumes/db/init are incompatible and need to be updated.

## Additional context

For instance, auth.users.

Exported from supabase.io:
[code]

Provided on GitHub:
[code]

[2022-02-11 23:20] occidens commented on #5416
I had the same issue today, with ordinary spaces after the commas. This caused email auth to silently fall back on the primary site URL.

[2022-02-12 00:59] MildTomato commented on #5301
You need to use Dropdown like this...

[code]

Dropdown already providers the button tag with correct aria labels, so if you use a `<Button>` for the trigger, you need to set `as` to something like `"span"`

[2022-02-12 01:52] GaryAustin1 opened #5429 "UI/Studio new table editor generates "invalid query" on table save if table name field is entered after defining a foreign key link."
# Bug report

## Describe the bug

If you do not enter table name, and do intermediate operations like defining foreign key links, then update the table name, the SQL gets formatted incorrectly without a table name and will generate "invalid query" on save.  The error and why it is occurring is not clear to the user.  You either have to redo all your links after you fill in table name, or you canc

[2022-02-12 09:36] j314h opened #5430 "Storage: Upsert Issue"
### Discussed in https://github.com/supabase/supabase/discussions/2889

<div type='discussions-op-text'>

<sup>Originally posted by **dommarr** August 18, 2021</sup>
Hi,

I'm attempting to upload or replace an existing image. The initial upload works, but the replace after does not. I get the following error:

[code]

[code]

[2022-02-12 09:36] j314h commented on #5430
hello,

I have the same problem, but I have my file except that when I download another image, I have no error but my image has not been modified (I still have the old image )

Have you ever had this problem ?,

[2022-02-12 10:31] jvorcak commented on #3085
@alaister I've experienced the same issue. I don't really have time to prototype something proper, but what you're saying with increasing the cookie lifetime could work, at least till I figure out something better.

Here's how you can do it https://github.com/supabase/supabase/discussions/3198#discussioncomment-1323047

[2022-02-12 14:16] GaryAustin1 commented on #5430
The images are cached by the browser based on cache time you set or I think default of 1 hour.

[2022-02-12 14:17] j314h commented on #5430
yeah, i'm closed this, thank you for answer

[2022-02-12 14:17] #5430 closed

[2022-02-12 21:31] DukeManh commented on #4531
I think this issue was fixed in https://github.com/supabase/grid/pull/114#issuecomment-1035883023 😉. The problem was the foreign entry contains JSON data that needed to be stringified.

[2022-02-12 23:15] DukeManh commented on #4320
Hey @joshenlim, I thought of the same thing using Supabase today. I'd like to help make this happen.

Do you have any suggestions for implementation?

[2022-02-13 09:23] tanmoy27112000 opened #5440 "Add flutter sample todo application to the example project"
## Describe the problem

In the example project, there is no flutter application that shows the integration of supabase with flutter.

## Describe the improvement

Let's add a sample project that shows the flutter integration

[2022-02-13 09:25] tanmoy27112000 commented on #5440
I can create the application

[2022-02-13 14:02] ingokpp commented on #3783
I have another workaround. A one liner 😊
[code]

This requires that the cookie is set on auth change like mentioned before :)

[2022-02-13 14:36] Hallidayo commented on #3783
I have the same sort of implementation as this but in a AuthContext and this for me works well with the cookie being set manually

[2022-02-13 18:43] Isaiah-Hamilton opened #5443 "Show page you dont have acess to the project"
# Feature request

## Is your feature request related to a problem? Please describe.

When I was trying to view a project that I don't have access to, it showed this. It would be better if we showed something like a page saying that they dont have acuess to the page or redirect to another page.

<img width="1280" alt="Screen Shot 2022-02-13 at 12 33 54 PM" src="https://user-images.githubuserconten

[2022-02-13 18:50] Sulomus opened #5444 "Can't delete rows from Supabase UI"
# Bug report

## Describe the bug

I am unable to delete rows via dashboard (using cloud version of Supabase not selfhosted).

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to table editor > tables > your table
2. Click on 'delete rows'
3. refresh

## Expected behavior

The rows should be deleted

## Video

https://user-images.githubusercont

[2022-02-14 01:56] joshenlim commented on #5443
adding for context if anyone's able to jump on this
- this happens specifically on auth/templates page
- anywhere else it should redirect back to the home page properly with a message "This project doesn't exist"

![image](https://user-images.githubusercontent.com/19742402/153787024-646bc835-a852-4940-9020-aeb41ee7f37b.png)

[2022-02-14 01:58] joshenlim commented on #5444
Hey @Sulomus! would you mind checking the network tab (and adding a screenshot here of it) to see if the request went through when you tried to delete the rows?

[2022-02-14 05:13] dbmikus commented on #5044
I'm running into this issue and it really cripples local development for me.

[2022-02-14 11:08] alombi opened #5459 "Docs link returns 404"
# Bug report

## Describe the bug
The button “Docs” (under “Help”) at https://app.supabase.io/ while logged doesn’t open any page, but returns 404.

The problem is that instead of redirecting to supabase.com/docs, it send the user to https://app.supabase.io/supabase.com/docs, which of course doesn’t exist

## To Reproduce
1. Go to https://app.supabase.io/
2. Login
3. Click on help on top-right
4.

[2022-02-14 13:47] ydennisy commented on #3415
Hey @kiwicopple I was wondering if you had a chance to add more docs for resetting permissions?

[2022-02-14 17:20] #5459 closed

[2022-02-15 03:39] jdgamble555 commented on #4118
Should I do this in a SvelteKit `load()` function?

https://kit.svelte.dev/docs/loading#input-fetch

[code]

J

[2022-02-15 07:13] skwasan opened #5465 "eq not working on `apikey` column"
# Bug report
Supabase eq not working

## Describe the bug
[code]

My data for select is

[code]

This is how I created the table

[code]

It's working for all the other keys but not apikey say `email.`

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

Please create above table and add data give above

## Expected behavior

0 Rows should be re

[2022-02-15 08:58] WilliamFalci commented on #5044
Hi dbmikus,

personally I fixed in this way:

1. Create a sql file into: docker/volumes/api/db/init - for example in my case I make `04-custom.sql`
2. Then copy the following code:
[code]

This SQL will create a function to watch schema changes and force the cache to reload schemas + the various triggers on it, for more info this is the documentation: [https://postgrest.org/en/latest/schema_cache.

[2022-02-15 12:39] ydennisy commented on #4715
@soedirgo @kiwicopple I think it would be good to allow filter by user meta too.

We are storing account IDs in this meta, and would be great to be able to list all users by account.

Is direct access to this table not possible?

Also sorry for the many questions, but would you suggest maintaining a `users` table in the main DB and relying on `auth` tables?

[2022-02-15 15:18] humphd opened #5471 "Allow passing build arg for assetPrefix to studio next.config.js via docker-compose/Dockerfile"
# Feature request

## Is your feature request related to a problem? Please describe.

The URLs for static assets loaded by the studio container assume that the site is hosted at `/`, which breaks when you put it behind a proxy and change the URL.   For example, the way that fonts are loaded in https://github.com/supabase/supabase/blob/03eed357949495a8cd769a2f302e7f738adfdaa6/studio/pages/_app.tsx#

[2022-02-15 16:02] steve-chavez commented on #5465
I think this happens because the Kong gateway(reached before PostgREST on Supabase instances) uses the `apikey` query parameter, likely it's not passing `apikey` to PostgREST.

Not ideal, but a workaround could be renaming your `apikey` column to something else, like `user_apikey`.

[2022-02-15 17:18] humphd commented on #5471
Looking at the [`Dockerfile`](https://github.com/supabase/supabase/blob/master/studio/Dockerfile), and in particular the `dev` stage: https://github.com/supabase/supabase/blob/master/studio/Dockerfile#L18-L20

I'd love to be able to pass an `ENV` or build `ARG` through to here so it gets picked up in the `process.env` of next when it runs the build.

[2022-02-15 17:56] skwasan commented on #5465
Thanks, It resolved but its really bad. I spent so much time banging my head to wall 😁

[2022-02-15 22:49] kaspnilsson opened #5480 "storage.getPublicUrl seems to be broken"
I have code like this:
[code]

The value of `data` is an object that looks like this:

[code]

Then, when I call getPublicUrl with the value of `data.Key`, I get a URL that looks like this: `[REDACTED_SUPABASE_URL]/storage/v1/object/public/public-bucket/public-bucket/dv_iPhZFUFIeGk0a`

Uploading works fine, but the getPublicUrl implementation seems to be doubly prefixing the bucket name.

[2022-02-15 22:53] GaryAustin1 commented on #5480
getPublicUrl wants the filepath not the key.  That is everything after the bucket, folders and filename.

[2022-02-15 22:54] kaspnilsson commented on #5480
Hmm, could we consider reconfiguring the output of `upload` or somehow otherwise making it more obvious how you use these APIs in conjunction?

[2022-02-16 00:14] iporollo opened #5482 "CSV File Import creates column names with double quotes"
# Bug report

## Describe the bug

During the table creation flow through a CSV file, the importer auto-detects the column names. When the table is then created from the CSV file, the actual column names are created with double quotes e.g. `"ID"`.  This prevents queries from being run on table columns unless they are in double quotes e.g.

[code]

Related StackOverflow post [https://stackoverflow.

[2022-02-16 02:34] soedirgo commented on #4715
Seems like this is possible by using a view:
[code]

Then you can `.select()` as usual with your `service_role` key.

[2022-02-16 06:39] vinyll commented on #4865
Is this somehow related to #4248?

[2022-02-16 10:42] FatumaA commented on #5440
If you want you can use this as a starter and adopt it: https://github.com/FatumaA/flutter-http-package-playground
It's a todo app using json placeholder and the http package.

[2022-02-16 12:56] rksingh2001 commented on #5297
Can i take up this issue if no one is currently working on it @Isaiah-Hamilton ?

[2022-02-16 18:24] awalias commented on #5364
closing in favour of the support ticket. Feel free to reopen as needed

[2022-02-16 18:24] #5364 closed

[2022-02-16 18:33] iamclaytonray commented on #3191
It's now Feb 2022 and this is still broken. 2 months have passed without any movement on this very critical bug. And it's not documented, which means I pushed what I thought was a stable API to production. While I love GraphQL, why is that prioritized over simple things like this? Lack of communication here isn't breeding confidence.

[2022-02-16 18:33] awalias commented on #5482
this seems to be because your column headers are in uppercase - postgres itself requires that you query uppercase table or columns with double quotes

suggest that you export your original data to lowercase headings or manually edit the csvs if you don't want to require double quotes

[2022-02-16 18:33] #5482 closed

[2022-02-16 19:21] rutikwankhade commented on #4150
I am stuck with this issue. did anyone found a work around for it?

[2022-02-16 19:26] riderx opened #5491 "Dashboard organisation /project switch upgrade"
Change project or organization is a bit painful in the UI.

See below the video

https://user-images.githubusercontent.com/4084527/154340303-e4b557e1-a809-4dfa-aec1-27bb373feb75.mov

When you hit the or button, you go in organization settings instead of project list.

Firebase navigation can be copied on that :

https://user-images.githubusercontent.com/4084527/154340522-a7ae0f0c-481a-4c38-94b4-6b

[2022-02-16 20:59] awalias commented on #5465
I've documented it for now, eventually we will move `apikey` out of the query params for the api gateway, we still need it for now because the realtime server can't yet receive it via headers

[2022-02-16 20:59] #5465 closed

[2022-02-16 21:04] iamclaytonray commented on #3191
@MildTomato - appreciate the response.

I was just reading through this [issue](https://github.com/facebook/flow/issues/7365) and my main takeaway was that the Flow maintainers kind of just dropped off the planet and didn't communicate that well. Obviously it's a different comparison (this is clearly an active business, etc) but I think the core pain point remains; if there are issues, transparenc

[2022-02-16 21:55] ize8 opened #5495 "DELETE realtime event not being triggered with RLS subscription"
# Bug report
when subscribing for Realtime Updates + listening to row-level changes, then the DELETE event won't get emitted

## Describe the bug

when listening to row-level changes, DELETE event won't be emitted on row delete. Probably because the relevant record won't satisfy the row-level filter as it is being removed.

## To Reproduce
[code]

INSERT and UPDATE will trigger the callback as exp

[2022-02-17 10:22] WilliamFalci opened #5505 "PostgreSQL Logs over 100GB - Need set properly the logs"
# Bug report

## Describe the bug

Today I wasn't able to connect to our Test Server with VS, after investigation we found the issue, the issue was the disk space, 100% used.. then we found the issue was on Supabase Postgress, the file `postgresql.csv` was over 100GB, located in `diff/var/log/postgresql`

## To Reproduce

Just keep docker up for various days and run operations

## Expected behavio

[2022-02-17 10:48] y0zong opened #5507 "Migration failed. Reason: column "public" of relation "buckets" already exists"
# Bug report

## Describe the bug

can't do any action to storage now

## To Reproduce

just open storage page and the error shows

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

<img width="1342" alt="Screen Shot 2022-02-17 at 6 45 41 PM" src="https://user-images.githubusercontent.com/86962713/154460151-b953c0ad-a287-4afb-a540-9c05e85e8eef.p

[2022-02-17 11:37] inian commented on #5507
Hi @y0zong, this is an issue specific to your project. Can you create a support ticket at https://app.supabase.io/support/new and we will follow up there. Thanks.

[2022-02-17 11:37] #5507 closed

[2022-02-17 13:33] nbx3 commented on #4792
I'd like to have several development projects (i dont mind if these get paused) and one live one but on the free tier you are limited to two projects in total. Its not clear if i sign up for $25/project/month plan what i get - do i just get one extra project that doesn't pause with higher quotas etc or does this apply to all my projects? How do i get more than two organisations as well?

[2022-02-17 21:13] w3b6x9 commented on #5505
+1 to what @grschafer wrote. try turning logs off completely b/c realtime rls is really noisy.

[2022-02-17 21:42] w3b6x9 commented on #5495
@ize8 can you try setting the replica identity on your `foods` table to full?

[code]

[2022-02-17 21:56] danieldaeschle commented on #5290
I did what @w3b6x9 said. But the problem still exists :/

[2022-02-17 22:12] w3b6x9 commented on #5290
@danieldaeschle is there a specific change you're not getting? for example, is it only updates that you're sometimes not getting? or is it all changes?

can you try again and invoke `supabase.getSubscriptions()` and take a look at the subscriptions?

[2022-02-17 22:16] danieldaeschle commented on #5290
It's only sometimes and totally random. But it happens very often. When it happens I just reload the page and then it works again.

[2022-02-17 22:18] w3b6x9 commented on #5290
@danieldaeschle you mentioned:

if you check again do you have several connections or just one? just trying to ascertain if the connection is constantly trying to reconnect.

can you also version bump to the latest `supabase-js`?

[2022-02-17 22:36] danieldaeschle commented on #5290
I have two connections btw.

[2022-02-17 22:40] w3b6x9 commented on #5290
@danieldaeschle can you check if both of them are actively receiving messages or only one of them? do both connections have outgoing 'heartbeat' messages?

[2022-02-17 22:41] w3b6x9 commented on #5290
@danieldaeschle also, can you please provide screenshots of the network tab if you're willing? just want to make sure i get all relevant info.

[2022-02-17 23:13] ize8 commented on #5495
@w3b6x9  ahh, silly me! 谢谢！It's working now as expected!

[2022-02-17 23:13] #5495 closed

[2022-02-17 23:37] w3b6x9 commented on #5495
@ize8 别客气! glad it's working!

[2022-02-18 05:25] Christopher2K opened #5529 "Postgres database is still accessible from :5432"
# Bug report

## Describe the bug

Hello there, I'm building a POC using Supabase. I was moving from my local database to the Supabase one and I forgot to change the database port in my `env` file from 5432 to the one generated for my project. I was surprised that even with the wrong port, my app was able to connect to the database.
I'm not the best when it comes to security issues but this looks

[2022-02-18 08:47] thorwebdev commented on #4320
@DukeManh that would be sweet indeed, I've been wanting to do this for so long but still haven't 🙈  Let's tag team!

The is the experience I envision:
- Hink without the project ID e.g. https://app.supabase.io/project/auth/templates loads a list of your projects, here we can reuse the [tiles from the "All projects" home view](https://github.com/supabase/supabase/blob/master/studio/components/inter

[2022-02-18 10:54] dotlouis commented on #3233
Adding to the discussion, this is crucial for my use case.

I'm developing an API and want to provide my users with an API key so they can authorize and authenticate their requests.
I currently have no way to give them a revocable token.

[2022-02-18 12:31] hi629 opened #5533 "The column which is defined as array can't be updated from supabase UI"
# Bug report

## Describe the bug

After creating a column which is defined as array and tried to update the column, there is an error.
The error says `type "int2[]" does not exist` . The type should be updated is in the error message.

## To Reproduce

1. Go to 'Table editor'
2. Check the checkbox of Define as array and create a new column
3. Update the column you created
4. See the error

## Exp

[2022-02-18 12:58] FatumaA commented on #5443
Hi,
I've looked at this and, at least on localhost, I can get the redirect to happen after fixing the typeError but it takes a few reloads to trigger it

[2022-02-18 15:12] qhkm opened #5536 "Google login redirect is not working on safari version 14.1.2"
# Bug report

## Describe the bug

I've implemented google login using supabase but discovered that the redirect is not working on safari version 14.1.2. I've also tested on other browser (chrome, firefox, brave) to verify and all is working fine.

## To Reproduce

Implement google login and try it on safari brower.

## Expected behavior

Should be redirected to redirect URL

## Screenshots

## Sy

[2022-02-18 15:17] ryan-richards commented on #5290
Currently experiencing the same issue. Get a subscribed status but often wont receive changes until browser is refreshed.

[2022-02-18 16:23] qhkm commented on #5536
Clearing the cache and cookies seems to fix the issue.

[2022-02-18 16:23] #5536 closed

[2022-02-18 18:54] Hergeirs opened #5540 "Accessing API tab on self hosted instance results in CORS error."
# Bug report

## Describe the bug

Self hosting Supabase following the guide in https://supabase.com/docs/guides/hosting/docker results in a CORS error when accessing the API tab in the studio.
I've done no changes to anything. Not even created a table. I have tried creating a table as well and it made no difference.

## To Reproduce

Steps to reproduce the behavior:

Follow the guide in https://s

[2022-02-18 20:04] danieldaeschle commented on #5290
Yes, I have the problem mainly on mobile device. If I go back to the app and then a update should come it it no longer works.

[2022-02-18 20:11] GaryAustin1 commented on #5290
@danieldaeschle is it Android/Chrome?  I was setting this test up to check mobile environments as they seem flaky.  Chrome/Edge have the background problem with realtime on any device, but it is "only" lost data during reconnects.

In reading Android power saving spec, it implies they shut off the internet connection on sleeping tabs.  If so realtime will go into a mode of retrying with longer and

[2022-02-18 20:13] danieldaeschle commented on #5290
Android/Chrome yes.

I need to implement a indicator if the connection is on. Then I see it better.

[2022-02-19 05:57] bradybellini opened #5545 "Default created_at value changes after trying to edit column, resulting in syntax error"
# Bug report

## Describe the bug
After editing the default `created_at` value of `(now() at time zone 'utc')`, the UI shows a different string, `now() at time zone 'utc`, resulting in a syntax error when trying to save.

## To Reproduce

1. Create a new table with a `created_at` column with a type of either timestamp or timestampz
2. As the default value select `(now() at time zone 'utc')`
3. Go

[2022-02-19 13:54] ludovv commented on #3415
I fixed it doing this, but also giving permissions to anon, authenticated and service_role, works like a charm!

[2022-02-19 15:36] jnorris441 opened #5549 "renaming table does not rename the pkey constraint"
# Bug report

## Describe the bug

After renaming a table, the _pkey constraint uses the old table name. This causes a problem if you try to change the primary key field.

For example, a table originally named "reporttype_report" was renamed to "report_reporttype".

When trying to change the primary key, It gives an error "constraint "report_reporttype_pkey" of relation "report_reporttype" does no

[2022-02-19 18:08] louis-27 commented on #5297
Hi @Isaiah-Hamilton 👋, I just made a PR to help solve this light mode issue. Maybe you can take a look at it?

[2022-02-19 19:14] rksingh2001 commented on #5297
@louis-27 I was working on this issue, you should have asked before :|

[2022-02-19 20:03] louis-27 commented on #5297
my bad, sorry @rksingh2001 forgot to ask if anybody is still working on this issue

[2022-02-20 03:31] w3b6x9 commented on #5290
@danieldaeschle i just released a fix. can you please see if `supabase-js` v1.30.4 addresses your issue?

[2022-02-20 12:15] thesyedbasim opened #5554 "Supabase realtime not working!"
# Bug report

## Describe the bug

**The realtime feature of supabase is not working.**

I am able to insert, delete etc. But just the "realtime" feature is not working for me.

## What I've done
- enabled replication for all tables
- disabled rls for all tables
- tried with sveltekit and react
- tried 3 different browsers (chrome, brave, firefox)

Supabase is responding with `403 Forbidden` respo

[2022-02-20 16:19] mirkonasato commented on #1176
Creating the user is fine in my case, but how can we tell if it's a new user and therefore the magic link has `type=signup`, or if it's an existing user and the link has `type=magiclink`?

The email message says to click the link or "Alternatively, enter the code", so I guess I also need to show an input box for the user to manually enter the code if they so choose, calling [GET /verify](https://s

[2022-02-20 20:22] unsafecreds opened #5557 "Cloudflare Workers example no longer needs patching"
# Improve documentation

## Link

Hey, I was trying out Supabase with Cloudflare Workers, and found this example:
https://github.com/supabase/supabase/tree/master/examples/with-cloudflare-workers

## Describe the problem

1. The `patch-package` workaround described is no longer necessary
2. The version of `@supabase/supabase-js` is pretty old.

## Describe the improvement

I came across https://gi

[2022-02-20 23:53] naptestdev opened #5559 "Allow filter, order when using realtime feature"
# Feature request

I'm using @supabase/supabase-js and I want to be able to filter, order when subscribe to realtime data.

## Describe alternatives you've considered

Firebase (firestore) can do that.... why not supabase?

[2022-02-21 01:43] rhit-fayoumoa commented on #4440
Are there any plans for this to be included on a future release? If so, is there timeline? Thanks!

[2022-02-21 03:44] chendelin1982 opened #5561 "Internationalization (i18n)"
# Feature request

## Is your feature request related to a problem? Please describe.

When I use supabase to replace Contentful, I find that Column i18n is very import for CMS, it can help me maintenance one table for multiply language.

## Describe the solution you'd like

You can see sreenshot of Contentful below

![image](https://user-images.githubusercontent.com/16741975/154885598-4c3498b9-3bd

[2022-02-21 06:58] thesyedbasim commented on #5554
I opened same issue in supabase/supabase-js repo and I got a response which solved the issue.

This was the response:

This solved the issue for me. So I am closing this issue.

[issue link](https://github.com/supabase/supabase-js/issues/379)

[2022-02-21 06:58] #5554 closed

[2022-02-21 07:16] DukeManh commented on #4320
Hey @thorwebdev, that sounds good to me. I'll take to a look to see if I can help. I think there's probably a reason why the team didn't do it. maybe it's hard :).. I'll start working on it and let you know.

[2022-02-21 07:26] thorwebdev commented on #4320
No actually it isn't that hard, it mainly comes down to prioritisation 🙈 😂 So we appreciate you taking a look 💚

[2022-02-21 07:28] DukeManh commented on #4320
Alright, btw is it possible to connect my local studio server to use the hosted Supabase vs my docker containers?

[2022-02-21 09:30] thorwebdev commented on #4320
@DukeManh terribly sorry, while researching whether we can run the dashboard on a hosted supabase DB (answer is no as you need to run [the DB migrations here](https://github.com/supabase/supabase/tree/master/docker)) I ended up just implementing it. But would appreciate your review and feedback on it!

[2022-02-21 09:33] izqalan commented on #4758
Having the same problem but only on React Native & using email auth.

[2022-02-21 09:48] DukeManh commented on #4320
@thorwebdev, oh that's why we can't. I was trying hard to make my local studio work with the hosted supabase DB, without success

[2022-02-21 11:40] kiwicopple commented on #5426
When GoTrue is started it will run a series of migrations that will make it compatible with production.

I think the actual solution here might be to move the files in the docker volumes into GoTrue - will chat to the team about this

[2022-02-21 11:47] kiwicopple commented on #5429
thanks for the detailed report @GaryAustin1 🥇 this is great.

[2022-02-21 12:01] kiwicopple commented on #4792
thanks for the comment @jorgemndoza - you're absolutely correct. You get 2 free and unlimited Pro. The pro projects get higher limits and they will never pause

[2022-02-21 12:08] kiwicopple commented on #5529
It looks like you were using the port `6543`, and then switched to  `5432`

This is because the connection pooler is on 6543 and a direct connection on 5432. More info here: https://supabase.com/docs/guides/database/connecting-to-postgres

I'll close this for now, but feel free to comment if I misunderstood and I will re-open

[2022-02-21 12:08] #5529 closed

[2022-02-21 12:13] kiwicopple commented on #5540
Does this fix your issue @Hergeirs ?
https://github.com/supabase/supabase/pull/5402

[2022-02-21 12:15] kiwicopple commented on #5545
hey @bradybellini - I'm not sure this is a bug, it's just the way that Postgres represents the value - even if you create it with `()` it gets "saved" without the brackets. Is it causing you any issues?

[2022-02-21 12:20] kiwicopple commented on #5557
🎉 that's great news

Yes please! We can probably remove/update this one too: https://github.com/supabase/supabase/tree/master/examples/with-cloudflare-workers

[2022-02-21 12:23] kiwicopple commented on #5559
You can definitely filter realtime changes: https://supabase.com/docs/reference/javascript/subscribe#listening-to-row-level-changes

Is there a particular filter on Firebase that's missing on Supabase?

Ordering probably makes more sense on the client - Supabase just sends events as they happen, so the order is basically "on change"

[2022-02-21 12:23] #5559 closed

[2022-02-21 12:29] kiwicopple commented on #5561
Hey @chendelin1982 - this can definitely be done already within postgres - you would either:

- create another column. eg if you had `post`, you might create `post_en` to store english
- create a JSONB column with unstructured data. eg, if you had `post` you might create `post_i18n` to store all translations
- create a translations table. eg, if you had a table `posts`, you might create a table `p

[2022-02-21 12:29] #5561 closed

[2022-02-21 14:39] Hergeirs commented on #5540
It did.
I should have seen that myself instead of blindly copying the .env.examples file.
Thank you.

[2022-02-21 15:17] MildTomato commented on #4320
I can't get firebase to do this btw, if I use a URL without the correct project slug it just shows a permission error.

——

This is a really interesting issue since we want to support URLs that are more friendly for docs/support across all URLs.
but we also need to improve how you know what org/project you are in, and it should be more obvious and easier to switch org/project. something me and @jo

[2022-02-21 15:33] bossjapzz opened #5582 "Include user image to the auth table (from initials generated to social platform generation)"
# Feature request
Include user image to the auth table (from initials generated to social platform generation)

From AppWrite (A supabase open source alternative)
![users-section4](https://user-images.githubusercontent.com/100037148/154984272-96c33fa0-be3c-4842-90cc-9ed3ea0a270b.png)

From Firebase
[code]

Firebase and AppWrite also knows what image to show
Example:
a. if user sign up via email/pa

[2022-02-21 15:48] unsafecreds commented on #5557
Awesome! That's the example I was talking about. Here's the PR: https://github.com/supabase/supabase/pull/5585, let me know if you'd like me to make changes!

[2022-02-21 18:38] #5297 closed

[2022-02-21 21:42] bradybellini commented on #5545
Thanks for the response! If not the brackets, I do get a syntax error still when trying to save without the closing quote, which is what it defaults to when trying to edit. And even with the closing quote, I also get a syntax error. It is not until I add in the brackets and closing quote that it will allow me to save without a syntax error. It isn't causing any blockage, just have to edit the defa

[2022-02-21 21:52] marcinkoziej opened #5587 "Allow custom domains for supabase API"
# Feature request

Hi!
I'd love to be able to set a custom domain alias for my supabase project url, so that instead:

![Screenshot from 2022-02-21 22-41-46](https://user-images.githubusercontent.com/156725/155029544-c233c0e5-3204-42ce-8e39-1516ce0adaae.png)

the users would see "Chose an account to continue to myproject.mydomain.org".

## Is your feature request related to a problem? Please descr

[2022-02-21 21:52] marcinkoziej opened #7808 "Allow custom domains for supabase API"
# Feature request

Hi!
I'd love to be able to set a custom domain alias for my supabase project url, so that instead:

![Screenshot from 2022-02-21 22-41-46](https://user-images.githubusercontent.com/156725/155029544-c233c0e5-3204-42ce-8e39-1516ce0adaae.png)

the users would see "Chose an account to continue to myproject.mydomain.org".

## Is your feature request related to a problem? Please descr

[2022-02-21 21:52] marcinkoziej opened #12429 "Allow custom domains for API & Storage"
# Feature request

Hi!
I'd love to be able to set a custom domain alias for my supabase project url, so that instead:

![Screenshot from 2022-02-21 22-41-46](https://user-images.githubusercontent.com/156725/155029544-c233c0e5-3204-42ce-8e39-1516ce0adaae.png)

the users would see "Chose an account to continue to myproject.mydomain.org".

## Is your feature request related to a problem? Please descr

[2022-02-21 21:52] marcinkoziej opened #13775 "Allow custom domains for API & Storage"
# Feature request

Hi!
I'd love to be able to set a custom domain alias for my supabase project url, so that instead:

![Screenshot from 2022-02-21 22-41-46](https://user-images.githubusercontent.com/156725/155029544-c233c0e5-3204-42ce-8e39-1516ce0adaae.png)

the users would see "Chose an account to continue to myproject.mydomain.org".

## Is your feature request related to a problem? Please descr

[2022-02-21 21:54] tttp commented on #4386
similar to the issue for oauth providers?

https://github.com/supabase/supabase/issues/4386

[2022-02-21 21:55] marcinkoziej commented on #5549
You can use direct access to PSQL database (using psql command) to rename the constraint.

[2022-02-21 22:21] jnorris441 commented on #5549
@marcinkoziej does the postgres user have permission to rename a constraint? I think I got an error

[2022-02-21 22:48] kvnam commented on #1502
Is there any update on this? Especially @mr-bjerre 's question.. I'm trying to implement the same thing, but Prisma by passes any RLS poilcy set up (most likely as it's using the `postgres` role which is allowed all access?) I would appreciate a response here so I can quickly move on if this is not feasible. Thanks!

[2022-02-21 23:05] iamclaytonray opened #5589 "Bug: redirectTo is broken"
# Bug report

## Describe the bug

`redirectTo` is broken. It's not respected at all.

## To Reproduce
Add two URLs to your redirects. Only one will be respected. This is a known issue.

## Expected behavior

Should redirect to the place in which I instruct from where the email link is generated.

## Screenshots

N/A

## System information

- OS: [e.g. macOS, Windows]
- Browser (if applies) [e.g.

[2022-02-21 23:17] iamclaytonray commented on #5589
I know there's another issue semi-tracking this. We have our CMS on `admin.x.com`. Users who sign into `x.com` are being redirected to `admin.x.com`. This **_really_** needs a fix, and that part of the code is not open source, so I can't even fix it myself.

[2022-02-22 01:31] w3b6x9 commented on #5290
@danieldaeschle closing this issue. feel free to reopen if v1.30.4 does not address your issue.

[2022-02-22 04:02] joeyTedeschi commented on #5334
+1 for this change, as at this time distinguishing between errors (and translating them to different languages), is completely contingent on parsing the message being returned (and if that message one day got changed, it would break whatever logic we've had to build on top of it)

[2022-02-22 06:02] bnjmnt4n commented on #5589
@iamclaytonray could we get a code sample of usage for which `redirectTo` doesn't work? I presume that you've set up the site URL and additional redirect URLs correctly given that you've linked to https://github.com/supabase/supabase/issues/3191.

[2022-02-22 07:04] joshenlim commented on #4320
okay managed to dig through firebase to get some prior art

this is how firebase does their generic links
`https://console.firebase.google.com/u/1/project/_/firestore`

it'll bring you to a page that lists all projects and prompt the user to choose which project to continue

clicking on the project card leads to the project with that url
e.g `https://console.firebase.google.com/u/1/project/{projec

[2022-02-22 07:08] danieldaeschle commented on #5290
It did not solve it. But I don't want to solve the issue anymore.

[2022-02-22 11:53] iamclaytonray commented on #5589
[code]

[2022-02-22 11:56] iamclaytonray commented on #5589
If I need to throw $500 at this to get priority support, tell me where to pay. I've been waiting for some type of resolution for a week.

[2022-02-22 12:57] #5589 closed

[2022-02-22 15:25] marcinkoziej opened #5606 "Document JWT secret format"
# Improve documentation

## Describe the problem
Hi! I am trying to verify the Supabase access token using [Elixir JOSE library](https://hexdocs.pm/jose). My problem is that I do not know how to properly import the Supabase JWT secret. I can verify the JWT using jwt.io. but JOSE library seems to be very RFC-compliant and there is a dozen of different ways to import the key as "JWK" so I can proper

[2022-02-22 22:32] marcinkoziej commented on #5606
Figured it out:
The JWT secret is actually used verbatim as string. It's better to use [Joken library](https://hexdocs.pm/joken) because it makes working with jwt much more straightforward - just use `Joken.Signer.create("HS256", jwt_secret)` and pass that to `Joken.verify(token, signer)`.

[2022-02-22 22:32] #5606 closed

[2022-02-22 22:55] ahmedabdelhafez opened #5616 "when login from react native an error occurs"
hello dears,
i am building an app with react native and Supabase and when i logged in with credentials, it banc with error [invalid login credentials]
and I don't' know why, because i am using the same credential in angular app  build also with Supabase client ??

can any one help please

[2022-02-22 23:20] MildTomato commented on #5589
@iamclaytonray I think we deployed some changes to our backend API so that the Redirect URI gets cleaned (removes whitespace) before it is inserted.

We'll do more improvements though, especially the front end UI so that it's easier to add in URLs, and we will also properly validate anything before it is sent to the API.

[2022-02-22 23:23] iamclaytonray commented on #5589
Cool. Apologize for the very obvious frustration. I had just refactored off of magic.link because email delivery was super intermittent and/or delayed, so coming into Supabase with the redirectTo issue was stressing me out a lot

[2022-02-22 23:27] MildTomato commented on #5589
@iamclaytonray no need for the apology 👍 😄 I understand the frustration completely. we should have fixed it sooner really.

[2022-02-23 08:02] #4320 closed

[2022-02-23 08:17] #5540 closed

[2022-02-23 08:23] kiwicopple commented on #5557
fixed by https://github.com/supabase/supabase/pull/5585

[2022-02-23 08:23] #5557 closed

[2022-02-23 08:24] kiwicopple commented on #5587
we're working on this 👍

[2022-02-23 08:30] FatumaA commented on #5616
Hi Ahmed,
Could you please provide a bit more information on the sign in methods you are calling? And maybe a code snippet

[2022-02-23 08:32] chendelin1982 commented on #5561
@kiwicopple

Hi Kiwicopple, thank for your suggestion

[2022-02-23 09:00] #4796 closed

[2022-02-23 09:15] ahmedabdelhafez commented on #5616
here is the full method used in login at react native:
const doLogin = async () => {
    console.log('start login action');
    console.log(loginData);

    const {data, error} = await supabaseClient.auth.signIn({
      email: loginData.username,
      password: loginData.password,
    });
    if (error) {
      Toast.show({
        type: 'error',
        text2: error.message,
      });
    } else

[2022-02-23 09:42] melvinmezzy opened #5626 "my information"
# Feature request

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

##

[2022-02-23 10:04] FatumaA commented on #5616
since this is failing before you get to the else block, I suggest you double check that you are actually using the same password in both the react native and angular app

[2022-02-23 10:08] marcinkoziej commented on #5587
Great! Waiting with anticipation! <3

[2022-02-23 11:13] ngerritsen opened #5629 "Ability to create local users easily"
# Feature request

## Is your feature request related to a problem? Please describe.

When developing locally it can be a bit of a hassle to get a user to work. Even if you have a whole sign up flow, you still have to fiddle around with the Inbucket and it's not very clear how it works. Also when developing locally I like to have a script that initializes my whole environment (kinda like the `seed

[2022-02-23 15:45] GaryAustin1 commented on #5616
I assume you signed up in Angular.
Does your password contain any non standard ASCII characters?

[2022-02-23 18:54] statico opened #5637 "Public URLs for storage in local development doesn't work"
# Bug report

## Describe the bug

It appears that, when using local development with `supabase start`, `supabase.storage.from().getPublicUrl()` doesn't seem to return a valid URL. However, `.download()` works fine.

## To Reproduce

1. Start Supabase locally with `supabase start`
2. Upload an image with `supabase.storage.from("test").upload(path, file)` (I guess you don't need to initialize bucke

[2022-02-23 22:11] w3b6x9 commented on #5626
@melvinmezzy please create an issue with additional information.

[2022-02-23 22:11] #5626 closed

[2022-02-23 22:13] #5505 closed

[2022-02-24 06:58] #4794 closed

[2022-02-24 08:56] awalias opened #5778 "empty column name state in FK adder [minor]"
<img width="452" alt="image" src="https://user-images.githubusercontent.com/458736/155491495-27cd0868-db18-4b7f-ac9e-2f41c644438d.png">

and on the left side of the arrow here:

<img width="662" alt="image" src="https://user-images.githubusercontent.com/458736/155491570-1dddba54-0118-4468-b83f-3084206e2cd6.png">

[2022-02-24 09:01] #1176 closed

[2022-02-24 09:12] kangmingtay commented on #1176
hey @mirkonasato,

Good point, I've created a [PR to address this](https://github.com/supabase/gotrue/pull/395)

Hmm let me check on this. We recently merged a PR that would send both the confirmation link and token to the user's email. But you can also modify the email template to only send the email link.

[2022-02-24 14:16] mirkonasato commented on #1176
Thanks @kangmingtay. It is possible to modify the magic link template email so it's not a big deal. I could also call [generateLink()](https://supabase.com/docs/reference/javascript/auth-api-generatelink) and send the email myself. From what I can see `generateLink` returns an object that will have an `email_confirmed_at` field only if the user already exists.

[2022-02-24 14:43] inian commented on #5637
Hmm I do see that the upload code doenst check if the bucket exists first, will create an issue for this. If you create a bucket first and set the bucket to public, `getPublicURL` should then work. Buckets are private by default (and in this weird case where the bucket doesn't actually exist, the code assumes its a private bucket)

[2022-02-24 19:09] faizi2504 commented on #4357
@iampopal Same issue is occurring on my side. Did you find any fix for that?

[2022-02-25 00:28] #4505 closed

[2022-02-25 01:24] OsmnShkh commented on #4758
Having the same issue here, with Google OAuth.

[2022-02-25 02:13] kangmingtay commented on #4758
hi @OsmnShkh, please email support@supabase.com with your project reference so we can triage your issue.

[2022-02-25 02:17] thorwebdev commented on #1735
Hey all, some good news, we've released a new helpers library that provides a more robust auth strategy for Nextjs: https://github.com/supabase-community/supabase-auth-helpers/blob/main/src/nextjs/README.md

Would love for you all to test it out and let us know if that resolves the above mentioned issues for you.

The [`nextjs-with-supabase-auth` example](https://github.com/supabase/supabase/tree/

[2022-02-25 02:27] OsmnShkh commented on #4758
@kangmingtay Will do, thanks.

[2022-02-25 03:46] obetomuniz commented on #5589
Hey, I was figuring the same problem.

I have a dynamic URL, which is `https://mysite.com/users/123`.

Adding `https://mysite.com/users` to `Additional Redirect URIs`, I am able to redirect to `https://mysite.com/users` using the `redirectTo` option on magic links, but as you can see, I need to redirect to a specific user (e.g. An user with ID number equals to `123`).

How can I add dynamic URIs a

[2022-02-25 03:54] obetomuniz opened #5658 "Feat: Allow redirecTo use dynamic URIs"
# Feature request

## Is your feature request related to a problem? Please describe.

Yes, I have a dynamic URL, which is `https://mysite.com/users/123`.

Adding `https://mysite.com/users` to `Additional Redirect URIs`, I am able to redirect to `https://mysite.com/users` using the `redirectTo` option when trying to use magic links, but as you can see, I need to redirect to a specific user (e.g. An

[2022-02-25 04:00] obetomuniz commented on #4808
Ralated https://github.com/supabase/supabase/issues/5658

[2022-02-25 06:32] #5637 closed

[2022-02-25 07:50] machinsoft opened #5662 "Do you need telegram?"
I will give telegram address https://t.me/supabase for free

[2022-02-25 08:10] #5662 closed

[2022-02-25 09:20] joe-ashwell opened #5663 "redirectTo on signIn/signUp not working (for email + password, Google & GitHub)"
# Bug report
As the title suggests, redirectTo is not working for any of my auth methods.

## To Reproduce
1. Correct base URL is set up in Supabase auth settings
2. Add the redirectTo option to signIn methods, e.g.:
await supabase.auth.signIn(
      {
        provider: "google",
      },
      { redirectTo: "https://example.com/app" }
    );

3. User can successfully sign in/up, they're just not

[2022-02-25 09:29] bnjmnt4n commented on #5663
Can you confirm that your `redirectTo` URL is either: a URL path with the same origin and hostname as the site URL, or an exact match of one of the additional redirect URLs?

[2022-02-25 13:17] ahmedabdelhafez commented on #5616
no it's simple password: 10203040

[2022-02-25 14:01] GaryAustin1 commented on #5616
I’m pretty sure that error only comes from the email or password not matching anything in the database.  It is well into the gotrue code, so your call is getting to the server. Can you see the network call and your email and password being sent correctly?

[2022-02-25 14:03] ahmedabdelhafez commented on #5616
i will try again and check  and i will share screen shoot here, thanks

[2022-02-25 14:04] GaryAustin1 commented on #5616
I just added to response.

[2022-02-25 18:20] mmaaaaz commented on #4792
Would love to have a $10 tier. Please tell me you guys are working on it.

[2022-02-25 21:13] ahmedabdelhafez commented on #5616
It's solved thanks

On Fri, 25 Feb 2022, 4:04 pm GaryAustin1, ***@***.***> wrote:

[2022-02-25 21:33] w3b6x9 opened #5669 "Studio Table Editor: Selected row count incorrect when paginating"
# Bug report

## Describe the bug

Incorrect selected rows count when paginating in the table editor as well as incorrect rows to delete count.

## To Reproduce

1. Go to Studio Table Editor
2. Select a large table
3. Select all the cells in the current pagination
4. Navigate to the next page

## Expected behavior

1. Go to Studio Table Editor
2. Select a large table
3. Select all the cells in the

[2022-02-26 13:49] adarshajit opened #5675 "Update the icon of dark mode - light mode icon of sidebar"
## Update the icon of `dark-mode/light-mode` in the sidebar

Observe the last icon in the sidebar. This is a dark mode - light mode toggle. The icon is misleading

## Screenshot
![Screenshot from 2022-02-26 14-39-37](https://user-images.githubusercontent.com/50659234/155845542-dacbcef5-6735-4684-b727-51e967f4c71c.png)

Instead of a user icon, it would be best if it's a sun icon and moon icon based

[2022-02-26 15:29] riderx commented on #4188
found a solution by desactivate auto login system in supabase

[2022-02-26 21:25] FatumaA commented on #5616
Hey,
Would be nice if you shared here what the issue was and how you solved it. Might help the next person who runs into something similar 😊

[2022-02-26 21:27] DanMossa commented on #5372
It would also be great to have some documentation on how to setup a trigger to use onesignal or fcm or whatever.

[2022-02-27 02:30] GaryAustin1 opened #5685 "Prisma migration with Quoted Types breaks realtime."
# Bug report

I apologize for not understanding the details of Prisma and migrations and their impact on Supabase in general (I've seen general issues with permissions).
A user in Discord had an issue with Realtime subscribing correctly using the service role key, but not getting any updates. After a bit of back and forth they mentioned Prisma.  They then created a clean Supabase instance, and rea

[2022-02-27 07:22] TurtleKwitty opened #5687 "API page does not load on web instance"
# Bug report

## Describe the bug

I saw there was a similar, but not same, bug reported a couple days ago about the same issue in a self-hosted setup, however this is happening in the supabase hosted setup as well.
I am getting the same errors when trying to call on the supabase js functions something very wrong is going on, but this only happens with supabase-js and the API page as far as I coul

[2022-02-27 09:08] eetzkorn commented on #553
Was this ever fixed I'm confused. I still get the flicker using Supabase's recommended code

[2022-02-27 14:02] connorlindsey commented on #1798
Discussion around this issue continues on this issue in the GoTrue repo: https://github.com/supabase/gotrue/issues/142

[2022-02-27 16:59] ShooTeX commented on #5685
the access privileges for tables look different if prisma creates them, could that be a problem?

table created by prisma:
[code]

table created in dashboard in a new project:
[code]

[2022-02-27 23:17] nuurcodes commented on #2393
Would be nice to be able to add RLS on views through the UI

[2022-02-28 01:51] ShooTeX commented on #5685
so, I somehow got it to work, I don't know which step was the problem, I'll just describe what I did:

1. create two projects/databases, one for [prismas shadow database](https://www.prisma.io/docs/concepts/components/prisma-migrate/shadow-database), one for your data (main)
2. link both databases with prisma as described in prismas docs
3. create a dev migration `prisma migrate dev`
4. delete the

[2022-02-28 02:53] micahburnside opened #5698 "Raspberry Pi - “docker-compose up”: command not found"
# Bug report

## Describe the bug

In terminal, running the command ‘docker-compose up’ results in “command not found”

## To Reproduce

Get the code
git clone --depth 1 https://github.com/supabase/supabase

Go to the docker folder
cd supabase/docker

Copy the fake env vars
cp .env.example .env

Start
docker-compose up

## Expected behavior

I expected a successful command. LocalHost is 404’d.

##

[2022-02-28 03:00] darora commented on #5698
You need docker-compose to be installed https://supabase.com/docs/guides/hosting/docker#before-you-begin

[2022-02-28 03:12] darora commented on #5698
https://github.com/supabase/supabase/pull/5700 adds an explicit link to the installation page

[2022-02-28 03:12] #5698 closed

[2022-02-28 03:17] micahburnside commented on #5698
I already have docker-compose installed.

[2022-02-28 03:21] micahburnside commented on #5698
I have docker-compose installed.

[2022-02-28 03:25] micahburnside opened #5701 "Raspberry Pi 4 ‘docker-compose up’ -"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain

[2022-02-28 03:25] #5701 closed

[2022-02-28 03:27] bnjmnt4n commented on #5698
@micahburnside in that case there's probably an issue with your installation somewhere: a failure to run the `docker-compose up` command in your terminal isn't directly related to Supabase or its docker setup. You might need to check if your docker binaries are in the PATH.

[2022-02-28 03:27] micahburnside opened #5702 "Raspberry Pi ‘docker-compose up’ command not found"
#Bug report

Describe the bug

In terminal, running the command ‘docker-compose up’ results in “command not found”

To Reproduce

install Git, Docker, docker-compose

Get the code
git clone --depth 1 https://github.com/supabase/supabase

Go to the docker folder
cd supabase/docker

Copy the fake env vars
cp .env.example .env

Start
docker-compose up

Expected behavior

I expected a successful comma

[2022-02-28 03:47] micahburnside commented on #5698
You are correct.

There’s a specific arm7 installation for docker-compose. It just worked after installing using the correct curl command.

sudo curl -L "https://github.com/docker/compose/releases/download/v2.1.1/docker-compose-linux-armv7" -o /usr/local/bin/docker-compose

[2022-02-28 05:42] nsadeh opened #5707 "Supabase Insert Row FE requires values for rows that actually do not need them"
# Bug report

## Describe the bug

I have a column that uses a pre-insert trigger and a function to mimic the GENERATED feature but with state (sub-orderings for event sourcing). This means that despite a column that does not allow null values, I can execute an INSERT statement without specifying a value for that column as the pre-insert trigger will generate one.

However, I am unable to insert d

[2022-02-28 08:49] joe-ashwell commented on #5663
Hey, @bnjmnt4n sorry for the delayed response - I didn't see the notification for this pop up. Yes, I confirm that the redirectTo has the same origin as the hostname url in supabase settings.

[2022-02-28 09:45] stuartkumar0630 opened #5712 "Mistakes in updateUserById() documentation"
# Bug report

## Describe the bug

There are a couple of syntax errors in the documentation for the `updateUserById()` method [here](https://supabase.com/docs/reference/javascript/auth-api-updateuserbyid).

- An extra brace on line 3 in `{ email: 'new@email.com' } }`
- All the parameters in the example are wrapped in braces as `updateUserById({ uid: ..., attributes: ....})`, but the method declara

[2022-02-28 12:41] zhushuihua opened #5714 "Windows 2022 Server supabase start failed."
c:\server\supabase start
Error: Error response from daemon: No such image: supabase/postgres:14.1.0

[2022-02-28 13:36] kiwicopple commented on #5687
Can you please try to "restart" your instance (Settings > General > Restart)? I think there must be something wrong with your API server

If that doesn't work, could you please reach out to support? https://app.supabase.io/support/new

[2022-02-28 13:41] kiwicopple commented on #5702
Looks like this was resolved: https://github.com/supabase/supabase/issues/5698#issuecomment-1053854154

I'll close this but feel free to drop a comment here again if it's still an issue 👍

[2022-02-28 13:41] #5702 closed

[2022-02-28 18:05] GaryAustin1 opened #5718 "Table UI gives error with a generated column on changes to other columns."
# Bug report

Create a generated column using 2 values in the row with SQL.
Modify value of one of the used columns.  Get Error:
![image](https://user-images.githubusercontent.com/54564956/156033511-6320ffc6-5c03-4164-a69e-c8bed0d1eaab.png)

I believe the UI is attempting to write all the columns in the entire row, versus just the changed columns.  You can't attempt to update a generated column.

[2022-02-28 20:05] w3b6x9 commented on #5685
There is a known issue where Realtime doesn't work with quoted custom types and I think Prisma automatically generates quoted types. We are in the process of fixing the issue but the workaround right now is to rename types to exclude quotation marks.

[2022-02-28 20:06] w3b6x9 commented on #5685
I'll post an update here when it's fixed.

[2022-02-28 20:09] #3985 closed

[2022-02-28 21:57] ShooTeX commented on #5685
not using type names starting with capital letters in the prisma schema works, I finally get subscription events 🎉

[2022-02-28 23:37] GaryAustin1 commented on #5685
Sort of puzzled how your intermediate step of pushing worked… did it not have same types?   I’m going to change title reflect type issue for others.

[2022-03-01 02:40] ilangleben19 opened #5726 "`auth.api.deleteUser` suddenly broken with new update"
# Bug report

## Describe the bug

Getting the following error:
`Type error: Expected 1 arguments, but got 2.`
when calling:
`supabase.auth.api.deleteUser(id, process.env.SUPABASE_KEY!))`

This error is new since upgrading @supabase/supabase-js from 1.29.2 to 1.29.4

## Expected behavior

It seems `deleteUser` no longer accepts a Supabase key as a 2nd argument, but the documentation at [https://su

[2022-03-01 03:40] madeleineostoja commented on #2518
Also waiting for this, but just to clarify the original issue, there is an alternative by creating or updating tables with SQL. Postgres already supports delete cascades on foreign keys, Supabase just needs to add an option for it in the table editor UI

[2022-03-01 05:34] charlesline opened #5729 "resetPasswordForEmail acting in an unexpected way"
# Bug report

## Describe the bug

When executing resetPasswordForEmail a password reset email is sent to the intended recipient twice, with different tokens in each. In my tests, the first appears to be a valid token but the second one the redirect contains the message "#error_code=404&error_description=User+not+found".

## To Reproduce

Steps to reproduce:

1. use the api with "const {data, erro

[2022-03-01 05:56] DanMossa commented on #4150
Having this issue as well today. Deleting and recreating column works

[2022-03-01 07:34] #3191 closed

[2022-03-01 07:58] zoocityboy commented on #4887
same on Oracle cloud with ampere CPU (aarch64)

[2022-03-01 17:47] bennettdams opened #5740 "[Storage] [Feature request] Programmatically handle/bust Supabase's CDN cache for public URLs of replaced files with same name"
### Discussed in https://github.com/supabase/supabase/discussions/5737

# Feature request

## Is your feature request related to a problem? Please describe.

When you use storage item's public URL, but the file with the same name got replaced (e.g. via `supabase.storage .from("...").upload("...")`, the CDN (Cloudflare) cache is still active.

## Describe the solution you'd like

It would be nice i

[2022-03-01 19:58] GaryAustin1 commented on #5740
The issue though has to be handled on the client side for cache "busting".  Once a browser loads an image with cache control time, it does not generate any sort of get to the cdn until that cache time is up.  Changes at the server or cdn level would not be known about.

[2022-03-01 21:41] emschwartz commented on #5663
I am seeing this same issue. For me, the redirect works with email sign-ins but not with Google.

[2022-03-02 03:50] MildTomato opened #5748 "paused project layout"
# Bug report

## Describe the bug
<img width="477" alt="Screenshot 2022-03-02 at 3 50 02 AM" src="https://user-images.githubusercontent.com/8291514/156291514-40361865-60d4-45c6-9c3c-c7d867f73a33.png">

[2022-03-02 03:56] MildTomato commented on #5748
<img width="411" alt="Screenshot 2022-03-02 at 3 56 02 AM" src="https://user-images.githubusercontent.com/8291514/156292052-3c4387d1-b383-46c4-8360-27454526285f.png">

use `.truncate` to perhaps control collisions.
move the paused badge below the project label

[2022-03-02 04:01] MildTomato opened #5749 "delete user modal has no heading"
# Bug report

## Describe the bug

<img width="1785" alt="Screenshot 2022-03-02 at 4 00 33 AM" src="https://user-images.githubusercontent.com/8291514/156292581-67c585bc-068a-4678-82cd-87e3158bc0a6.png">

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to auth, users
2. Delete a user

[2022-03-02 05:12] thorwebdev commented on #553
Can you try with https://github.com/supabase-community/supabase-auth-helpers/blob/main/src/nextjs/README.md please?

[2022-03-02 05:32] MildTomato commented on #5749
@GaryAustin1 cheers!

Yea, we had some recent deployments, the above screenshots are from app.supabase.io in the last hour or so

[2022-03-02 06:05] #5749 closed

[2022-03-02 06:11] joshenlim opened #5753 "SQL templates to be all lowercase"
# Chore

Decided from here https://github.com/supabase/supabase/pull/5739 that we'd adhere to a practice of standardizing the way we write SQL for our users on the dashboard ([ref](https://github.com/mattm/sql-style-guide/blob/master/README.md))

Matter of preference really, but just a decision to stick to one

[2022-03-02 13:30] illright opened #5758 "The API section of the local Studio is inaccessible (500)"
# Bug report

## Describe the bug

When I use the Supabase CLI to start a local instance of Supabase, I cannot access the API section in the studio. This comment in the Discussions goes into detail about it: https://github.com/supabase/supabase/discussions/5489#discussioncomment-2280409

## To Reproduce

1. Install the Supabase CLI from AUR
2. Run `supabase init`
3. Run `supabase start`
4. Open th

[2022-03-02 13:30] illright opened #5816 "The API section of the local Studio is inaccessible (500)"
# Bug report

## Describe the bug

When I use the Supabase CLI to start a local instance of Supabase, I cannot access the API section in the studio. This comment in the Discussions goes into detail about it: https://github.com/supabase/supabase/discussions/5489#discussioncomment-2280409

## To Reproduce

1. Install the Supabase CLI from AUR
2. Run `supabase init`
3. Run `supabase start`
4. Open th

[2022-03-02 15:33] Hallidayo opened #5762 "Docs Server Build Error - algolia.appId is required"
# Bug report

## Describe the bug

I've recently forked supabase to work on an issue. I've cloned the repository to my local system and followed [this](https://github.com/supabase/supabase/blob/master/DEVELOPERS.md) guide. When I run `yarn build` for the docs development server I get the following error in my terminal:

<img width="569" alt="Screenshot 2022-03-02 at 15 20 48" src="https://user-ima

[2022-03-02 15:49] illright opened #5763 "Extension titles overflow their container"
# Bug report

## Describe the bug

Database extension names are long strings without spaces. Sometimes it leads to the name overflowing the container and pushing the on/off switch out of the card (see screenshots).

## To Reproduce

1. Go to `https://app.supabase.io/project/<some-project-id>/database/extensions` from a 1280px-wide browser window
2. Scroll down to Extensions
3. See the name `ADDRES

[2022-03-02 15:52] MildTomato commented on #5763
Thanks @illright !

[2022-03-02 16:08] illright opened #5764 "The documentation on enabling RLS seems outdated"
# Improve documentation

## Link

https://supabase.com/docs/guides/api#securing-your-routes

## Describe the problem

The steps to achieve the goal through the UI suggest clicking on a Padlock to enable RLS. The word "padlock" may be confusing to those who don't know what it is and what differentiates a padlock from any other lock. In addition to that, there's no padlock on the page that these doc

[2022-03-02 16:11] illright commented on #5764
Oh, I see the padlock now in the video of [this section](https://supabase.com/docs/guides/auth#row-level-security), but again, seems like this video is outdated now.

[2022-03-02 16:49] mtsdalmolin opened #5767 "Type 'T[] | undefined' is not an array type"
# Type 'T[] | undefined' is not an array type

## Describe the bug
I'm developing a small app with Typescript, NextJS and Supabase and I'm getting trouble when querying data.
I couldn't find anything that clarify that to me, so that's why I'm creating this issue.

The code I'm querying the data is the following:
[code]

I'm mapping characters because there are some fields that I want to modify bef

[2022-03-02 18:46] Symasia commented on #5767
This isn't a bug with Supabase, you seem to understand this fact too. It has to do with this line:

[code]

You're using the optional chaining operator `?`, in other words, you're telling typescript that `characters` can be `undefined`, so the type of characters is `Character[] | undefined` which is not the type of an array.

[2022-03-02 18:48] illright opened #5769 "The docs on storage have a broken link to the blog post"
# Improve documentation

## Link

https://supabase.com/docs/guides/storage#next-steps

## Describe the problem

One of the bullet points in the linked section is this:

However, the link to this blog post is broken — perhaps, the blog post was deleted at some point

## Describe the improvement

Find the blog post and fix the link or remove the link altogether

[2022-03-02 18:51] mtsdalmolin commented on #5767
@Symasia Makes sense, but removing it, it throws me the `Object is possibly 'null'.ts(2531)` error instead.

Is there a way that I certify typescript that the value won't be nullish?

[2022-03-03 02:48] minyangu-bgl commented on #5758
Same, receiving the network work: `ERR_NAME_NOT_RESOLVED`.

The studio tries to talk to `http://supabase_kong_{PROJECT_ID}:8000/rest/v1/` rather than `http://localhost:54321/rest/v1/`.

supabase/studio docker image is already using `latest`.

[2022-03-03 04:53] charlesline commented on #5729
Update: Latest usage just now does not exhibit the same behaviour.

[2022-03-03 04:53] #5729 closed

[2022-03-03 08:24] #5718 closed

[2022-03-03 08:49] phamhieu commented on #5778
There are 2 errors on Column sidepanel:
- adding FK before entering the new column name will result in
<img width="662" alt="image" src="https://user-images.githubusercontent.com/458736/155491570-1dddba54-0118-4468-b83f-3084206e2cd6.png">
- Then if you edit the newly added FK, it will result in this
<img width="452" alt="image" src="https://user-images.githubusercontent.com/458736/155491495-27cd08

[2022-03-03 10:05] adkood commented on #5763
please assign it to me

[2022-03-03 10:24] jackcaldwell commented on #4440
While Storage Buckets on self hosted Supabase is unavailable, would it be worth adding something to the documentation that makes it clear that this is the case? Possibly to this page https://supabase.com/docs/guides/storage? I spent quite a bit of time yesterday trying to figure out why the page did not appear for me locally as I was convinced that it must have been some kind of configuration issu

[2022-03-03 10:25] bnjmnt4n opened #5779 "Studio: RLS policies which overflow the container length cause overflow menu to be hidden"
# Bug report

## Describe the bug

Studio: RLS policies which overflow the container length cause overflow menu to be hidden.

## To Reproduce

1. Add a RLS policy with a long name and SQL check
2. The overflow menu with "Edit"/"Delete" buttons is hidden, and cannot be accessed

## Expected behavior

The overflow menu should be accessible.

## System information

- OS: Windows
- Browser (if applie

[2022-03-03 10:49] brkblgn commented on #4887
Same issue with Raspberry Pi 4

[2022-03-03 11:37] #5301 closed

[2022-03-03 22:56] mayanhavoc commented on #5769
Could I be assigned this issue? Should I just remove that part?

[2022-03-03 23:44] #4475 closed

[2022-03-03 23:46] SergejSachs commented on #5110
Seems like the "gotrue" client got a fix in version 2.3.9.
Now we just need a supabase dart dependency update.

[2022-03-04 02:19] MildTomato commented on #5763
@adkood go for it 😄

[2022-03-04 02:22] MildTomato commented on #5763
@adkood similar issue here as well if you want it #5779

[2022-03-04 02:24] Isaiah-Hamilton commented on #5769
@mayanhavoc I already fixed this issue and have a pull request opened.

[2022-03-04 06:57] adkood commented on #5763
Sorry I am having difficulties in understanding the task here can you please explain can you please elaborate more.

[2022-03-04 12:35] kristjanmar commented on #1176
This is still not working, unfortunately. The user gets added when typing an email into the login form even when the flag is activated.

[code]

I've tried shouldCreateUser, create_user and noSignup as the flag, since it is unclear which one it's supposed to be. But none of them work.

[2022-03-04 13:49] samuel-bach opened #5798 "self hosted rest api returns always 404"
# Bug report

## Describe the bug

While self hosting I get 404 "We couldn't find the page you're looking for" on all rest api endpoints.

## To Reproduce

1. Setup locally using docker-compose: https://supabase.com/docs/guides/hosting/docker
2. `cp .env.example .env`
3. `docker-compose up`
4. run sql `create table foo (bar text);`
5. run:
[code]

## Expected behavior

Should give the proper outpu

[2022-03-04 14:41] Murkrage commented on #3783
@thorwebdev Is there a way to refresh the user's token so they aren't logged out after the max expiry of 1 week using the auth-helper? That's the one thing I'm struggling with right now.

[2022-03-04 16:14] Daniel199438 commented on #5798
I have the same error

[2022-03-04 17:24] kiwicopple commented on #4887
got it, reopening this. If anyone can provide more logs to help with debugging that would be great

[2022-03-04 17:56] #5769 closed

[2022-03-05 00:49] gzoug commented on #5767
@mtsdalmolin does
characters: [...(characters?.map(character => character) ?? []) ]
work for you?

[2022-03-05 01:11] mtsdalmolin commented on #5767
I guess I have to use something like that, @gzoug. I opted for the following version:
[code]

I thought I could do something more typewise. Anyway, thanks for giving me support @gzoug @Symasia.

[2022-03-05 01:11] #5767 closed

[2022-03-05 04:42] inian opened #5808 "Remove coming soon label for cdn"
In the storage page https://supabase.com/storage since it has already launched

<img width="267" alt="CleanShot 2022-03-05@2x" src="https://user-images.githubusercontent.com/2155545/156868211-79816859-aff7-44a0-ab16-8f601c6d1484.png">

[2022-03-05 04:53] inian commented on #5740
Hey @bennettdams,

There are a few ways to do this.
- Cache bust by adding the version parameter to your Supabase URL. By changing the version tag there, you can bust the CDN cache.
- You can set a shorter `cacheControl` header when you upload, so that the CDN checks for a new asset every max-age seconds. By default this is set to one hour, and you can set a shorter time there
- You can also bypas

[2022-03-05 06:44] MarkCarbajal commented on #5808
Hello I would like to work on this issue. Can you assign it to me? Just to make sure, all you want is to get rid of the "Coming soon" label?

[2022-03-05 12:13] burmecia commented on #5798
The default Kong API port number is **8000**, not 3000. Port 3000 is for browser to view Studio web page. You can use `docker ps` to view all the ports mapping used by different components.

[2022-03-05 13:38] burmecia commented on #5758
I think this issue is in supabase CLI, it doesn't pass correct `SUPABASE_URL` env variable when start supabase/studio docker image.

See this line of code:
https://github.com/supabase/cli/blob/764c06617c4dda0582ab2c61f717cd99469f8e90/internal/start/start.go#L809

I think it should be
[code]

[2022-03-05 13:38] MildTomato commented on #5779
The RLS policy name and also the definition both need to be truncated

[2022-03-05 13:41] MildTomato commented on #5808
@MarkCarbajal yep just delete it, should be some JSX in Storage.tsx page

[2022-03-05 13:45] MildTomato opened #5812 "RLS policy empty state is confusing"
# Bug report

## Describe the bug

Empty state for RLS policies does not indicate that you need tables in public schema

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create new project
2. Go to auth > policies

## Expected behavior

A clear and concise CTA to create a table in public schema, rather than the generic "Hmm, we couldn't find any r

[2022-03-05 14:13] benallfree commented on #4808
Jumping in here to mention the problem is the same on Cloudflare Pages.

[2022-03-05 14:31] Daniel199438 commented on #5798
![tmp_247](https://user-images.githubusercontent.com/16019073/156887744-760cd13d-97ec-4ddd-964d-190d91a8196e.png)

That's my url configuration.

[2022-03-05 15:33] bennettdams commented on #5740
@inian Thanks! Just to be sure: You didn't list a new option in your comment that I hadn't already mentioned in my post, right?

[2022-03-05 16:19] inian commented on #5740
yup, just confirming the alternatives you proposed Bennett

[2022-03-05 16:39] soedirgo commented on #5816
`SUPABASE_URL` and `STUDIO_PG_META_URL` looks correct to me.

`SUPABASE_URL` is also used e.g. for inviting users on the server side (Authentication > General > Users > Invite), so it needs to be on Kong since `localhost` on the container only serves Studio.

`STUDIO_PG_META_URL` is server-side only, so it needs to point to pg-meta for the same reason above.

All of Kong, pg-meta, and Studio are o

[2022-03-05 16:44] soedirgo commented on #5816
Also, you'll need to `docker pull supabase/studio` once the new Studio image gets released for the fix to apply.

[2022-03-05 17:06] MildTomato commented on #5763
@adkood it's ok, I've added PR #5818 that fixes this, it was mostly just adding a [tailwind class`.truncate`](https://tailwindcss.com/docs/text-overflow#truncate) to the label

[2022-03-05 18:26] louis-27 commented on #5812
Hi @MildTomato , can I be assigned to this? I would like to help work on this

[2022-03-05 19:52] swkeever commented on #472
It'd be cool if we could do transactions directly in the application code. Maybe something like this?

[code]

[2022-03-05 20:12] zhihengGet opened #5819 "getPublicURL adds extra \n"
# Bug report

## Describe the bug

getPublicURL adds extra `\n` between   supbase.co and remaining parts of URL

A clear and concise description of what the bug is.

doesnt happen in local dev only in production at vercel .... idk why , i had to add a replaceAll("\n","") to the url

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

[code]

## Expected

[2022-03-05 21:13] GaryAustin1 commented on #5819
You likely have a /n in the supabase URL you are passing in to createClient.
That URL is used to build the storage URL and then getPublicURL just builds the URL using the storage URL (which are all based on what you passed in).  There are no calls made from getPublicURL to the net.

[2022-03-05 22:12] zhihengGet commented on #5819
yeah,  i forgot to update vercel environment variable!!!  it is updated locally but not vercel... bummer

[2022-03-05 22:12] #5819 closed

[2022-03-05 23:56] losito105 commented on #5808
PR submitted for this issue here: https://github.com/supabase/supabase/pull/5821

[2022-03-06 00:24] #5816 closed

[2022-03-06 00:31] burmecia commented on #5816
Thanks @soedirgo, could you add the env var `SUPABASE_REST_URL` to `docker/.env.example` as well?

[2022-03-06 00:44] burmecia commented on #5798
That configuration in your `.env` file is just an example, you need to change it to meet your environment. I'm assuming you're doing local development, so the configuration should be:

[code]

We're going to improve the `.env.example` file so it will make more sense.

[2022-03-06 01:49] MarkCarbajal commented on #5808
@MildTomato Thank you for the clarification, I have submitted the PR. The issue is #5822

[2022-03-06 02:37] #5808 closed

[2022-03-06 03:40] devnamrits commented on #5712
Hi @kiwicopple, I've raised PR for this.
[https://github.com/supabase/supabase/pull/5823](url)

Please review and approve it and merge it.

cc: @stuartkumar0630

[2022-03-06 08:50] simonh1000 commented on #640
Yes, here is an example of a netlify preview url `https://6224790c45550f0007015694--my-site.netlify.app/`
I want to be able to redirect to urls like this during development

[2022-03-06 09:32] yeganathan18 commented on #5675
Can please provide a bit more information? I don't get the icon part. Do you mean when we select dark, it's showing white as icon near to it and vice versa?

[2022-03-06 10:09] adarshajit commented on #5675
@yeganathan18 Please take a look as I have updated my issue. I would like to take this up but I'm relatively new to this codebase. I would appreciate it if you could point out the exact file the above-mentioned changes should be made. Thanks.

[2022-03-06 10:21] Daniel199438 commented on #5798
Yeah ok, I understand. But what if I deploy it later on my server with a specific domain? What do I have to change there?

[2022-03-06 11:04] simonh1000 commented on #4808
Agreed, and here is an example of a netlify preview url https://6224790c45550f0007015694--my-site.netlify.app/
I want to be able to redirect to urls like this during development

[2022-03-06 22:29] burmecia commented on #5798
That depends on how you structure your prod environment. That could be many scenarios, I just listed some common ones below:

1. everything runs on a single machine, and no outside API access

This deployment is same as your local deployment, no need to change anything. Probably set up some NATs to let Studio access public.

2. everything runs on a single machine, but need access API from outside

[2022-03-06 23:00] iamclaytonray opened #5832 "Feature: Custom IDs when creating new users"
# Feature request

## Is your feature request related to a problem? Please describe.
It's a problem I have but I'm not sure it's applicable to most people. I use Supabase as a "SaaS" tool. Meaning, I use Supabase for auth and a chat service. We are planning to add more services on top of Supabase, such as a notification (in-app) service and any other realtime services we'll need in the future.

Ou

[2022-03-07 04:06] Isaiah-Hamilton commented on #5812
Hey @louis-27 I assigned you to this issue, and if you need any help just let me know. The file is located here [`studio/components/to-be-cleaned/NoSearchResults.tsx`](https://github.com/supabase/supabase/blob/master/studio/components/to-be-cleaned/NoSearchResults.tsx).

[2022-03-07 05:17] devnamrits commented on #5832
Hi @iamclaytonray Can you assign this to me as there are no good first issues left, either some of them are being picked up by someone or there are Open PRs  in others.

Also, if you are assigning this to me, can you please tell me what things I should know, learn or go before developing this feature?

Thanks,
Hritik

[2022-03-07 05:37] GaryAustin1 commented on #3444
@kiwicopple
I just spent some time working in Discord with a user who spent awhile themselves on .not with a contains filter.
Postgrest says it should work, so thought it was worth looking at.  Could not find any documentation or issues with .not and .contains in searches on supabase, including here before I started looking at URLS an postgrest needs.

After much playing around I figured out the m

[2022-03-07 08:44] illright opened #5837 "Long query names prevent the user from accessing the overflow menu"
# Bug report

## Describe the bug

In the SQL editor, queries with long names cannot be renamed or deleted because the button that brings up the overflow menu with these actions is pushed outside of the container

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to `https://app.supabase.io/project/<project-id>/sql`
2. Click on "New Query"
3. Cr

[2022-03-07 08:52] illright opened #5838 "The query description isn't stored"
# Bug report

## Describe the bug

The modal window for renaming queries provides a way to add a description to the query. However, not only is that description not shown anywhere in the UI, but it's not even persisted, as the user can observe by attempting to modify it.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to `https://app.supabase

[2022-03-07 09:49] thorwebdev commented on #3783
@Murkrage the auth helper library stores the account_token as well as the refresh_token in secure server cookies, and automatically refreshes the account_token when it is expired. This way the user should theoretically never get logged out as the refresh_token doesn't expire.

Are you saying you've had issues with that using the auth helpers, or this is a problem you're currently facing not using

[2022-03-07 11:20] BadochAlexandre commented on #4887
Hello guys,

I am also trying to self-host your wonderful project on my raspberry-pi.

I think the issue come from the fact that, raspberry-pi are based on ARM. And Docker images are mostly available for more standard architecture like x86.

This is the error I get when I am trying to run "docker-compose up"

![image](https://user-images.githubusercontent.com/74237941/157021467-da2dfd8a-0ed1-4957-

[2022-03-07 14:52] ryanfiller commented on #5540
I'm having this exact issue, I can't figure out what the fix from [#5402](https://github.com/supabase/supabase/pull/5402) is supposed to be. Help?

[2022-03-07 16:54] louis-27 commented on #5812
Hi @Isaiah-Hamilton , I added another conditional to render a cta for users with no public tables yet. I didn't change the NoSearchResults component as it would be used for table filtering.

https://user-images.githubusercontent.com/48682663/157069535-1e5c148a-13f8-430a-9f21-58b960269d0a.mov

[2022-03-07 19:42] MildTomato commented on #5762
I'm not sure anyone on the team is using yarn at the moment with these sites, so I can't really confirm if there's any issue with that.

@Hallidayo have you followed these steps yet?

[2022-03-07 19:58] MildTomato commented on #5812
@louis-27 looking great!

1. Would it be ok to link to /editor instead of /database from that empty state CTA?

2. Possibly better text in the box could be

[code]

Feel free to pull request and we can get this merged in pretty quick.

[2022-03-07 20:02] iamclaytonray commented on #5832
Oops, sorry @MildTomato. Sometimes I'm unsure what repo is the correct one but GoTrue makes sense. If you'd like, I don't mind closing this and reopening in that repo

[2022-03-07 20:08] MildTomato commented on #5832
@iamclaytonray nope, not a problem! There's a lot of repos here.
I'm not even sure if this is even supported in gotrue myself.

[2022-03-07 20:32] reedrosenbluth commented on #5663
I'm also seeing this issue. Redirect not working with email sign ins

[2022-03-07 20:50] Hallidayo commented on #5762
@MildTomato - Thank you for the reply.

@Hallidayo have you followed these steps yet?

I've just done the above now and then tried `yarn build` but again the same error is appearing for me.

I've also tried with npm as well but same error as with yarn.

Error I am getting: `[ERROR] ValidationError: "algolia.appId" is required. If you haven't migrated to the new DocSearch infra, please refer to the

[2022-03-08 00:53] louis-27 commented on #5812
@MildTomato just made the PR! Forgot to add a request review 😅

[2022-03-08 01:46] devnamrits commented on #5832
So, should I pick this up?
cc: @iamclaytonray @MildTomato

[2022-03-08 02:13] #5763 closed

[2022-03-08 02:13] #5779 closed

[2022-03-08 08:34] solvemon opened #5852 "`Authorization: Bearer` wrong key for PATCH with Cypress"
# Bug report

## Describe the bug

This is a bit of a weird bug that I am encountering after upgrading `supabase-js` from 1.27.0 to 1.31.1.

I am not sure if I am able to reproduce this, so let me try to explain instead.

I have a set of Cypress tests running on my supabase front-end, and after upgrading SupabaseJS, they started failing. Tests are failing because any PATCH-calls are receiving a 40

[2022-03-08 10:19] kiwicopple commented on #5712
Fixed by @devnamrits https://github.com/supabase/supabase/pull/5823

🚀

[2022-03-08 10:19] #5712 closed

[2022-03-08 10:26] kiwicopple commented on #3444
Yes please Gary - I think you're right, we need to document this one better

[2022-03-08 16:30] zakaria-chahboun opened #5857 "Constraints in UI Editor"
Hi supabase developers!
it's better to let us add Constraints in the UI editor, especially the `ON DELETE/UPDATE CASCADE`.

Thanks :tulip:!

[2022-03-08 20:04] fabianmossberg commented on #5223
I have the same issue

[2022-03-09 08:09] thorwebdev commented on #3783
Closing this out, as mentioned, please use https://github.com/supabase-community/supabase-auth-helpers/blob/main/src/nextjs/README.md going forward and open issues there if you encounter any. Thanks 💚

[2022-03-09 08:09] #3783 closed

[2022-03-09 10:53] Hergeirs commented on #5540
The "fix" in my case was changing the line ```KONG_URL=http://kong:8000``` to ```KONG_URL=http://localhost:8000``` in the .env file.

[2022-03-09 13:45] Isaiah-Hamilton commented on #5837
Closed with https://github.com/supabase/supabase/pull/5818

[2022-03-09 14:05] illright commented on #5837
@Isaiah-Hamilton are you sure? The issue persists and I didn't see any commits in #5818 that addressed this

[2022-03-09 14:37] Isaiah-Hamilton commented on #5837
Sorry about that, I will reopen this issue.

[2022-03-09 15:55] ryanfiller commented on #5540
I've deleted my project and started over fresh, following the install steps outline above (`git clone --depth 1 https://github.com/supabase/supabase`, etc, etc...) and I'm not even seeing a `KONG_URL` set in the entire project.

Am I missing something incredibly obvious here?

[2022-03-09 22:44] billypap1 opened #5876 "Realtime Doesn't work even without RLS"
# Bug report

## Describe the bug

I use Supabase JS SDK v.1.31.1 and I have not set any RLS rule in my database. All tables are open.

My code to listen for live events:

[code]

I tried with the other package @supabase/realtime-js v.1.3.6 but no luck.

[code]

I can connect successfully to supabase - update/insert/delete etc. but I can't receive live events.

## To Reproduce

In order to reprodu

[2022-03-09 22:54] GaryAustin1 opened #5877 "Table Editor side row editor does not display timestamp (no z) column."
# Bug report
As seen here timestamp is not handled correctly as far as reading current value for timestamp.
![image](https://user-images.githubusercontent.com/54564956/157551216-b2cf30e2-3f53-48c3-9be1-4867d8bc53b8.png)

Being reported by Discord user Kilian on Firefox and confirmed on multiple browsers by me.

It is a moderate issue because you can still enter a time, but worry it may be part of

[2022-03-09 23:20] GaryAustin1 commented on #5876
Did you turn on replication for any tables in the UI database section?

[2022-03-09 23:46] billypap1 commented on #5876
@GaryAustin1 Yes I have turned on replication on all tables

[2022-03-09 23:50] w3b6x9 commented on #5876
@billypap1 have you turned switched on replication events like `INSERT` in Studio?

Can you please create a support ticket here? https://app.supabase.io/support/new

[2022-03-09 23:51] billypap1 commented on #5876
@w3b6x9 Yes I have followed exactly the guides

[2022-03-10 00:45] billypap1 commented on #5876
Okay issue fixed, I don't know why but now I receive realtime updates. I didn't change anything.

[2022-03-10 00:45] #5876 closed

[2022-03-10 03:35] Isaiah-Hamilton commented on #5762
The problem seems to be that we upgraded the docSreach but forgot to add `appId` to the `docusaurus.config.js` file.

The `docusaurus.config.js` file should look like this:
[code]

But currently we have it like this:
[code]

There is more information in the [docusaurus docs](https://docusaurus.io/pt-BR/blog/2021/11/21/algolia-docsearch-migration).

[2022-03-10 22:48] w3b6x9 commented on #5876
@billypap1 like I mentioned in my response to your support ticket it was a temporary network issue with your database.

[2022-03-10 23:24] Isaiah-Hamilton commented on #3835
Currently updating `www` to the lastest version of [supabase ui](https://github.com/supabase/ui) and will fix this issue.

[2022-03-11 00:24] GaryAustin1 commented on #3444
@steve-chavez , @kiwicopple
Adding info to .not, .or, and .filter.

Sorry for taking up time, but I'm giving a shot at actually doing the real document update process with a fork and pull request versus just an issue for someone to do the hard work...

I don't find any real standards for the blocks I'm adding to .not, .or and .filter.  Also adding PostgREST note to .or and .not

Comments before I

[2022-03-11 01:43] Iccr commented on #198
is there any invitation link for discord? the ones I found in twitter are all expired.

[2022-03-11 03:37] Isaiah-Hamilton commented on #198
@Iccr here is the discord invite link [discord.supabase.com](https://discord.supabase.com).

[2022-03-11 04:30] justinmoon commented on #4440
Is storage unavailable on self-hosted instances? Or do the configuration options just not show up in Studio when self-hosted?

[2022-03-11 04:32] dlchet commented on #4440
storage is available via api, including bucket operations. so this is either about studio (which i agree, does not show anything about storage when in local mode) or a misconception/documentation issue.

[2022-03-11 05:58] Deliana90 opened #5890 "Disable users"
![Screenshot from 2022-03-11 12-51-39](https://user-images.githubusercontent.com/96174573/157810803-a26505d5-6a84-4475-a929-2a06daf5d397.png)

with firebase we can disable users,
https://firebase.google.com/docs/auth/admin/manage-users?hl=en&authuser=0#update_a_user

[2022-03-11 06:08] Deliana90 opened #5891 "Revoke Refresh Token"
![Screenshot from 2022-03-11 13-07-57](https://user-images.githubusercontent.com/96174573/157812078-af5b2345-3cba-4ac8-a7e5-26ea8cc44fc9.png)

firebase have this https://firebase.google.com/docs/auth/admin/manage-sessions#revoke_refresh_tokens

[2022-03-11 06:16] sturmenta commented on #338
any updates of this?

https://user-images.githubusercontent.com/30802967/157813005-045ec173-31f2-45d2-82db-e581bf9bfb45.mov

[2022-03-11 06:29] sturmenta commented on #338
using SQL Editor

https://user-images.githubusercontent.com/30802967/157814480-c203a0e3-0d27-4a0c-ad69-d410682fad56.mov

[2022-03-11 06:39] sturmenta commented on #338
solved by

 1) deleting the current column (type = int8)
 2) create a new column with the type = `uuid` & the default value = `uuid_generate_v4()`

 https://user-images.githubusercontent.com/30802967/157815381-8d4eb772-5ae3-4008-b020-58668f9e1ffe.mov

<img width="662" alt="Screen Shot 2022-03-11 at 03 35 31" src="https://user-images.githubusercontent.com/30802967/157815598-f79a9b29-ccb3-40a0-8a74-

[2022-03-11 10:21] kiwicopple commented on #3444
This seems great @GaryAustin1 - I can come in later and tidy them up

Could you please give this one a go too? Would be great to keep these docs aligned! 🙏

[2022-03-11 12:47] steve-chavez commented on #3444
Awesome work @GaryAustin1 :1st_place_medal:

[2022-03-12 02:17] GaryAustin1 commented on #3444
@kiwicopple @steve-chavez
I'm posting this here, but happy to work on a real issue some where...
THINGS ARE  A MESS with special filters beyond just the .not, .or, .filter docs.

### First .contains, .containedBy, .overlap don't really handle ranges and arrays correctly or the same between clients.

In updating Dart docs and testing I found they wrap the array variable with '( )' for .contains, .c

[2022-03-12 06:12] colt005 commented on #5110
When will supabase update the dependencies? Until then, Is there any other work around for this?

[2022-03-12 17:16] KushibikiMashu commented on #5726
Same here.

[2022-03-12 17:59] KushibikiMashu commented on #5726
I found a RFC to separate client from client one to server one.

https://github.com/supabase/gotrue-js/issues/90

I don't know the code below works well or not.

[code]

https://github.com/supabase/gotrue-js/issues/190

[2022-03-12 22:11] huy-qn commented on #3415
I stumble upon this same problems today. Is there any documentation about it yet?

![CleanShot 2022-03-12 at 16 10 55@2x](https://user-images.githubusercontent.com/2289071/158036801-28654b9b-bb7c-441c-8e80-65f846f439e5.png)

[2022-03-13 04:47] GaryAustin1 commented on #5616
This should be closed.

[2022-03-13 07:14] #5616 closed

[2022-03-13 11:33] #5687 closed

[2022-03-13 11:33] kiwicopple commented on #5687
Closing this for now, but feel free to comment here if you're still experiencsing the error @TurtleKwitty

[2022-03-13 13:04] jnorris441 commented on #5110
I've seen this on the Javascript client just now...sending the apiKey as the Authorization header token to `/auth/v1/token?grant_type=refresh_token` endpoint?

Is that a bug also?

[2022-03-14 21:56] hdoshi2 commented on #4792
@kiwicopple Let me start off my saying Supabase is awesome and helped me progress quickly as a new software developer. As someone who is learning and playing with Supabase regularly (no commercial or high usage projects yet), I feel the limit of two projects only is really restrictive. I also don't mind if inactive projects are paused in the free tier. And if usage for any projects is high enough

[2022-03-14 23:27] amirhosein5858 commented on #597
where can i see this? is it in paid plan?
<img width="677" alt="Screen Shot 2022-03-15 at 2 57 24 AM" src="https://user-images.githubusercontent.com/44944288/158277113-2da43f3f-96d9-4159-a337-8dfc4890d141.png">

[2022-03-14 23:56] amirhosein5858 commented on #1804
hi ,i create a table and import data from excel file to it
culumns are id , name and ...
i set id as identity ,
<img width="634" alt="Screen Shot 2022-03-15 at 3 26 02 AM" src="https://user-images.githubusercontent.com/44944288/158279775-d2ab82b8-dc80-481b-a707-c489c715d6ec.png">

when i want to insert one row (data object without id) i get this error:

`{
    "data": null,
    "error": {

[2022-03-15 00:31] GaryAustin1 commented on #3444
@steve-chavez @kiwicopple
I've generated a 2nd PR with doc changes to .contains, .containedBy and .overlap showing use in both array and range situations based on the current working of postgrest.js.  I also fixed the docs on range only filters so they don't generate errors calling the server by showing using strings for now.

Still think the whole area of array, range, and native filters needs so

[2022-03-15 04:38] topperspal commented on #4792
I am agree with @hdoshi2

This is really a considerable issue.

[2022-03-15 08:06] jnorris441 opened #5923 "Triggers execute from admin but not client"
# Bug report

## Describe the bug

A per row trigger is not executed when using PostgREST, but does execute when inserting from the admin or direct SQL query. This affects INSERT, UPDATE and DELETE operations. I also disabled RLS just as a test.

However it's possible I am missing something

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create

[2022-03-15 08:15] jnorris441 commented on #5923
invalid, the function security was set to the executor permissions and not creator

[2022-03-15 08:15] #5923 closed

[2022-03-15 21:21] Isaiah-Hamilton opened #5931 "Nextjs icon not visable in light mode"
# Bug report

## Describe the bug

The Nextjs icon in the studio is not visible in light mode.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [app.supabase.io/project/ref](https://app.supabase.io/project/ref)
2. Click on theme toggle
3. Scroll down to Example projects
4. See error

## Expected behavior

The nextjs icon is visible.

## Scr

[2022-03-15 22:33] steve-chavez commented on #1804
@amirhosein5858 Try changing the sequence current value to the max id of your table. Like:

[code]

You can find your sequence name with:

[code]

It usually contains the table name as a prefix.

[2022-03-15 22:55] steve-chavez commented on #3444
Another piece of awesome work @GaryAustin1.

That's true. You know, range types also don't get translated well to json, you need to cast them like in [this example](https://postgrest.org/en/stable/how-tos/casting-type-to-custom-json.html).

That makes me think that instead of using the pg string representation for ranges maybe we should use a json object for filtering them. So something like:

[co

[2022-03-16 02:39] GaryAustin1 commented on #3444
If inclusive and exclusive are covered with "flags" that seems clearer to those of who have not encountered range syntax [],[),(],() since college 40 years ago...

Seems like a heavy lift though would it not impact all the PostgREST "drivers" and PostgREST itself?

Right now for only contains and containedBy the JS driver looks for string, then array and then this happens:
      // json
      this

[2022-03-16 08:53] Teio07 opened #5932 "Is the ONLY keyword supported ?"
### Discussed in https://github.com/supabase/supabase/discussions/5927

<div type='discussions-op-text'>

<sup>Originally posted by **Teio07** March 15, 2022</sup>
Hi,
I'm considering handling deletion using partitions (to separate deleted records from non deleted records) as described in this post :
https://stackoverflow.com/questions/506432/cascading-soft-delete

But once implemented, if I want

[2022-03-16 08:59] steve-chavez commented on #3444
@GaryAustin1 Oh, I meant that `postgrest-js` would make the convertion from `{ start: 1, end: 20 }` to `(1,20]` internally.

That is true, it wouldn't help in that case.

[2022-03-16 09:50] joshenlim opened #7149 "Enum dropdown in grid editor is white"
# Bug report

## Describe the bug

The enum dropdown with the grid editor has a white background and white text for both light or dark mode. Could be regression from the recent Supabase UI update
![image](https://user-images.githubusercontent.com/19742402/158563022-4a80003d-99f9-4a81-b31c-2bde76d5de52.png)

[2022-03-16 10:05] joshenlim opened #7148 "Issue with rendering JSON data in grid FK modal"
# Bug report

## Describe the bug

Example: Happens when you click on the "External Link" icon on the record_id column here:
![image](https://user-images.githubusercontent.com/19742402/158565624-e5f07fa5-2a17-4795-a851-9a1003e79e45.png)

This is the corresponding row - seems to have issues rendering something like `{ p: 0.62, si: 2108....}`
![image](https://user-images.githubusercontent.com/197424

[2022-03-16 11:11] joshenlim opened #5937 "Date not rendering correctly in auth users page"
# Bug report

Dates turn up as "Invalid Date" specifically on Safari browser because of an issue within Dajys:
https://github.com/iamkun/dayjs/issues/1822

Either we wait for a fix from them or we create a cross-browser fix for safari

[2022-03-16 15:58] amirhosein5858 commented on #1804
thanks to you
i try `SELECT PG_GET_SERIAL_SEQUENCE('table', 'id');` to find right seq
and then run `ALTER SEQUENCE <your_sequence> RESTART WITH 453 ` as you say and it worked
thank you very much

[2022-03-17 00:36] Sesa1988 opened #5942 "Flutter windows google and social authentication"
# Feature request

## Is your feature request related to a problem? Please describe.

- Server starts on localhost and listens for calls
- User selects google account in browser and redirects to app
- The requests arrives but the URL is cut and I cant get the session out of it

## Describe the solution you'd like

I'm not sure why the URL is cut but is it maybe because of Supabase redirect URL con

[2022-03-17 05:45] iampopal commented on #4357
@faizi2504 I have fix this issue by creating a static website and initializing supabase project there

Now when users visit myside.com/forget they see a forget password page
And after the email is send to them

And they click on that link. The link redirect to myside.com/forget/?token
Using the token in a static website forgetting user password is the best way because that website link can be used

[2022-03-17 05:46] iampopal commented on #4357
@faizi2504 I have fix this issue by creating a static website and initializing supabase project there

Now when users visit myside.com/forget they see a forget password page
And after the email is send to them

And they click on that link. The link redirect to myside.com/forget/?token
Using the token in a static website forgetting user password is the best way because that website link can be used

[2022-03-17 05:46] #4357 closed

[2022-03-17 09:27] Hallidayo commented on #5762
Hi Guys,

Is this still being looked into?

[2022-03-17 10:01] jaynguyens opened #5945 "Monaco editor"
# Bug report

## Describe the bug

Unable to edit due to the the SQL editor not loading the monaco property.

## To Reproduce

1. Go to the SQL editor
2. The screen only display Loading... text

## Expected behavior

I would expect it would show the editor up when I go to the SQL editor

## Screenshots

![Screenshot 2022-03-17 at 09 58 20](https://user-images.githubusercontent.com/74240381/1587846

[2022-03-17 11:44] leandertolksdorf opened #5946 "Added enum label isn't reflected OpenAPI specifictaion"
# Bug report

## Describe the bug

I have a column with a custom enum type. I'm exporting types via the OpenAPI endpoint and openapi-typescript.
When adding a new label to the enum, it gets shown correctly inside the Supabase table editor, but not in the OpenAPI specification.

## To Reproduce

1. Create a custom enum type via SQL: `CREATE TYPE my_custom_type as ENUM ('A', 'B', 'C');`
2. Create a

[2022-03-17 11:46] leandertolksdorf commented on #5946
Just found out:
When saving the column settings inside the table editor without changing anything, types get exported as expected

[2022-03-17 17:00] devnamrits commented on #5931
Hi @Isaiah-Hamilton, I would love to pick this up?
Can you please assign me?

[2022-03-17 17:19] Isaiah-Hamilton commented on #5931
All yours @devnamrits, let me know if you have any questions.

[2022-03-17 17:19] devnamrits commented on #5931
@Isaiah-Hamilton NextJS images are there but they are of light-colored theme that's why it seems to be not visible.

[2022-03-17 19:27] devnamrits commented on #5931
Hi @Isaiah-Hamilton, I tried few things and came up with these:
1. We can change nextjs-svg icon itself.
2. I tried to theme-based switching between nextjs images but it worked on page refresh. i.e., for example, I'm in light mode, and the black colored nextjs image is there then if we switch to dark mode, the images don't change as the images changes are not modified in state changes while changi

[2022-03-18 03:55] Arcrueid commented on #5685
@ShooTeX any example?

Using `@@map` would it work?
[code]

or should it be like this
[code]

I have had this problem for months and I have managed only with `prisma db push`

[2022-03-18 04:13] Verzach3 opened #5950 "Missing details in the Supabase Expo tutorial"
# Improve documentation

## Link

[Supabase Expo Guide](https://supabase.com/docs/guides/with-expo)

## Describe the problem

The documentation is missing a detail in the creation of  `lib/supabase.js` because before we create a client we need to install the Async Storage module and then set it in the localstorage option of the `createClient` function, as in [this example](https://github.com/supab

[2022-03-18 08:37] ShooTeX commented on #5685
models shouldn't be a problem. My problem was that I had an enum starting with a capital, that was used in a model. `@@map` should probably work. I'm not completely sure, but I think I also had to delete the database with broken subscriptions and create a new one, just renaming and migrating it didn't work.

[2022-03-18 13:34] davideluque commented on #5729
I believe this happens when you click the link you get via email twice.

My guess is that when supabase redirects you to your website, the token is invalidated.

[2022-03-18 16:18] thorwebdev commented on #347
We have a new library to make things like Auth in Next.js SSR easier: https://github.com/supabase-community/supabase-auth-helpers/blob/next/src/nextjs/README.md#server-side-data-fetching-to-oauth-apis-using-provider_token

Please test it out and open issues over there if you come across any. Thanks 💚

[2022-03-18 16:19] #1735 closed

[2022-03-18 19:25] devnamrits commented on #5931
@Isaiah-Hamilton Any update??

[2022-03-18 20:04] Isaiah-Hamilton commented on #5931
Sorry for the delay. The first option seems to be the best option.

[2022-03-18 22:15] devnamrits commented on #5931
Hi @Isaiah-Hamilton, Raised PR for this issue. Please review and merge.

[2022-03-19 02:16] vinliao opened #5956 "Supabase form"
# Feature request

## Is your feature request related to a problem? Please describe.

Airtable allows their users to create form out of a table (ex: https://youtu.be/h09yz1D05UI). Wouldn't it be nice if Supabase can also generate a form to insert data directly to a table?

## Describe the solution you'd like

The form can be served by `<supabase-url>.supabase.co/<table-name>/form` or something lik

[2022-03-19 08:39] olefirenko commented on #5663
I am also having the same issue

[2022-03-19 09:24] 0xDebabrata opened #5957 "Syntax error in documentation"
# Improve documentation

## Link

[setAuth() | Supabase](https://supabase.com/docs/reference/javascript/auth-setauth)

## Describe the problem

Express code example in the page linked above has a syntax error. A comma is missing after the `Content-Type` attribute of headers object of the fetch request.

## Describe the improvement

Add a `comma (,)` after `Content-Type` attribute of headers object

[2022-03-19 09:41] 0xDebabrata commented on #5957
If it's alright, I can quickly push a fix.

[2022-03-19 17:16] jdahdah commented on #4883
@w3b6x9 Thank you, this solved the issue for me. FYI this happened somewhere along following the lessons in your [Egghead course](https://egghead.io/courses/build-a-saas-product-with-next-js-supabase-and-stripe-61f2bc20). In lesson 24 I decided to delete the test user and signing up again was no longer possible. But my project has been paused twice since I started the course so I guess it's more r

[2022-03-19 20:24] alexandregiordanelli opened #5960 "supabase storage does not reflets the table of objects"
I woried about a problem.. in the dashboard of supabase, it is not showing me all my objects .. just 1000.. but I have more than 180k.. when I download a file using supabase client js, I received this error: { message: 'Access Denied', status: 400 }.. but my bucket is public.

[2022-03-19 20:53] GaryAustin1 commented on #5960
You also asked this in discord.
The 400 error is because you need to have object policies even for public buckets.  All public does is all a public url to access the files directly in storage.

The 1000 limit sounds like the default API limit being hit.  The Studio code for storage is not yet in this repository (I don't believe), so not sure what it might do for paging, but sounds like that is an

[2022-03-19 21:00] alexandregiordanelli commented on #5960
https://fttdipmtsfhnjcgijuot.supabase.co/storage/v1/object/public/cdn/a-companhia-adota-a-politica-de-classificar-dividendos-a-pag-804057-1
policy for SELECT
`((bucket_id = 'cdn'::text) AND (role() = 'anon'::text))`

[2022-03-19 21:22] GaryAustin1 commented on #5960
After discussing is discord, the 400 error is occurring on the public url and in download.  Acts as if file is missing from storage.  Also the 1000 appears to be a new result with the UI and did work for more files before.

[2022-03-20 04:02] Isaiah-Hamilton commented on #5957
@0xDebabrata of course, all yours 🚀

[2022-03-20 10:24] sharath29 commented on #5837
I would like to work on this one, may I pick this up @Isaiah-Hamilton @illright ?

[2022-03-20 13:43] topperspal opened #5967 "How can I paginate data with realtime api?"

[2022-03-20 15:49] wendycuan opened #5969 "Database error saving new user when sign up with trigger enabled"
# Bug report

## Describe the bug

When I try to sign up with trigger enabled, I always get 500 error, the trigger will copy user into public.users from auth.users. I have read the docs, every single related issues, and trying every possible combination of trigger query.

This is the last trigger query I run:
[code]

My public.users schema look like this:
[code]

Any help would be greatly apprecia

[2022-03-20 16:25] GaryAustin1 commented on #5969
At a minimum you are trying to write a uuid to a string.  Try casting it as new.id::text.
Also it is better to not have your security definer functions in the public schema as that function could be called on your API or with an rpc call directly.

[2022-03-20 16:37] wendycuan commented on #5969
I have already tried to cast it before creating this post, sadly it still not work.
Did you mean "AFTER " as the second part?
![cast](https://user-images.githubusercontent.com/101050332/159172775-b1673dda-5d4c-4882-8ef8-907e4a68e7cb.png)

[2022-03-20 16:49] 10000multiplier commented on #5663
same here

[2022-03-20 16:49] wendycuan commented on #5969
I have just converted it to uuid, still have the same error.

[code]

[2022-03-20 16:51] GaryAustin1 commented on #5969
You might be able to see more detail in the database log at the bottom of settings page.
How was your table created?  Can you do an insert on it on from sql editor?

[2022-03-20 16:53] GaryAustin1 commented on #5969
You are also missing your begin/end in your sql create of the function.  Which are you using the UI or the SQL you showed?

[2022-03-20 18:11] wendycuan commented on #5969
It's alright. I just solved the problem, turn out I need to give default value for updatedAt otherwise it will be null. I hope this helps everyone who have the same problem as me. Thank you so much for trying to help me.

[code]

[2022-03-20 18:12] #5969 closed

[2022-03-20 21:57] #5957 closed

[2022-03-20 22:03] #5160 closed

[2022-03-21 06:26] ahmadfikrimasyhur opened #5971 "Email login link not add base url"
# Bug report

When i send magic link, the login url not include base url:

**http://auth/v1/verify?token=IbOz5-C8abHnTHn3niSASQ&type=magiclink&redirect_to=http://localhost:3000**

how to solve this?
.env:
`
POSTGRES_PASSWORD=xxx
JWT_SECRET=xxx
ANON_KEY=xxx
SERVICE_ROLE_KEY=xxx

# Auth

## General
SITE_URL=http://localhost:3000
ADDITIONAL_REDIRECT_URLS=
JWT_EXPIRY=3600
DISABLE_SIGNUP=false

## Emai

[2022-03-21 08:01] navjotjsingh commented on #5971
I am getting the same error.

[2022-03-21 08:19] ahmadfikrimasyhur commented on #5971
I got the solution

add the base url of *_MAILER_URLPATHS_* params in docker-compse.yml:

GOTRUE_MAILER_URLPATHS_INVITE: **http://localhost:8000**/auth/v1/verify
GOTRUE_MAILER_URLPATHS_CONFIRMATION: **http://localhost:8000**/auth/v1/verify
GOTRUE_MAILER_URLPATHS_RECOVERY: **http://localhost:8000**/auth/v1/verify
GOTRUE_MAILER_URLPATHS_EMAIL_CHANGE: **http://localhost:8000**/auth/v1/verify

[2022-03-21 08:20] #5971 closed

[2022-03-21 08:30] navjotjsingh commented on #5971
That is not the correct method. You just need to add the following line.

`API_EXTERNAL_URL: ${SITE_URL}`

Mailer URLpaths use API_EXTERNAL_URL as their base variable. This should be included in the code.

[2022-03-21 08:31] navjotjsingh commented on #5971
This bug report needs to stay open in my opinion.

[2022-03-21 08:54] ahmedabdelhafez opened #5974 "Cannot Delete Image from bucket"
i have long time searching for a way to delete image from bucket and image not deleted,
i was trying multiple ways to do it and here is my code:

`  deleteImage(bucket: string, imageId: string) {
        return this.supabaseConfig
            .getSupabaseClient()
            .storage.from(bucket)
            .remove([`${imageId}`]);
    }`

is this code is right

[2022-03-21 10:45] Yonben commented on #2954
Would love to see that enhancement happen, any update?
If there's any way to help feel free to ping ;)

[2022-03-21 11:31] kiwicopple commented on #5857
Thanks for the feature request @zakaria-chahboun .

For this one we need to add it to the postgres api here: https://github.com/supabase/postgres-meta/issues/100. Any help is appreciated!

[2022-03-21 11:34] kiwicopple commented on #5837
go for it @sharath29 !

[2022-03-21 11:48] kiwicopple commented on #5762
You're welcome to help here @Hallidayo - I don't know what the `appId` should be in this case - perhaps just `supabase`?

[2022-03-21 12:48] kiwicopple commented on #4440
@dlchet is correct - we haven't yet enabled the Storage interface on Studio - simply because we are busy - but it should still work 100% through the API

We'll get to storage within Studio asap

[2022-03-21 12:49] kiwicopple commented on #5890
👍 Transferring this one to the Auth server

[2022-03-21 12:57] kiwicopple commented on #5110
Hey everyone, the Dart library is currently community-driven, but we just hired someone to look after them fulltime. They will be able to look into this as soon as they join (if not before)

[2022-03-21 13:16] kiwicopple commented on #4792
thanks for all the feedback everyone - it's incredibly useful for our pricing planning

As we start to support larger (Enterprise) customers, we can support  more indie devs. At the moment our user-base is skewed towards indie devs (which we love), who we support financially with free projects. We need to build a sustainable business so that you feel safe to build with us.

I heard that Jeff Bezos

[2022-03-21 13:28] kiwicopple commented on #5945
Interesting, thanks for reporting @jaynguyens . Do you have an extension which is blocking this? I'm also on Mac with Firefox and it's working for me

[2022-03-21 14:32] Isaiah-Hamilton commented on #5762
Issue closed with https://github.com/supabase/supabase/pull/5989

[2022-03-21 14:32] #5762 closed

[2022-03-21 15:00] thorwebdev opened #5990 "Auth headers not synced across sub-clients"
# Bug report

## Describe the bug

Currently sub-clients like postgrest and storage are created on method/getter invocation, e.g.

- Postgrest: `supabase.from('table')`: https://github.com/supabase/supabase-js/blob/master/src/SupabaseClient.ts#L107
- Storage: `supabase.storage`: https://github.com/supabase/supabase-js/blob/master/src/SupabaseClient.ts#L96

This means that their auth headers are se

[2022-03-21 15:13] jesper-bylund commented on #5971
@navjotjsingh do you add "API_EXTERNAL_URL" to the environment variables? Or where is this used?

[2022-03-21 16:43] sharath29 commented on #5837
@kiwicopple how can I test my changes in local as option for adding new query is not showing up when I run the studio supabase build locally.

[2022-03-21 20:10] #5946 closed

[2022-03-21 20:16] kiwicopple commented on #5956
Great idea @vinliao. I actually saw this morning that @zernonia is working on this himself (https://twitter.com/zernonia/status/1505811526355386368)

This is probably something we will support in the future - we'll add it to the backlog for now.

[2022-03-21 20:24] GaryAustin1 commented on #5974
As long at your variables generate something like this:
[code]
with bucket name and a path to the image strings.

Are you getting an error?
Do you have select and delete policies set?
Do you have a signed in user if you have policies on that?

[2022-03-21 20:33] awalias commented on #5663
hey @joe-ashwell (and also anyone else experiencing the issue) could you confirm the values you have for:

1. `redirectTo` option
2. `Site URL` in the auth settings page
3. `Additional redirect URIs` in the auth settings page

if not comfortable sharing publicly the exact values, feel free to share via: https://app.supabase.io/support/new

[2022-03-21 20:35] ahmedabdelhafez commented on #5974
Hi gary
Yes I do all steps you pointed above and but I will try to add the folder name before the image name

[2022-03-21 20:40] kiwicopple commented on #5990
I don't know if this is accurate @thorwebdev - I think this is handled here by listening to Auth events:

https://github.com/supabase/supabase-js/blob/da2b0ba818723b55d82ce3c400e9a5e876148057/src/SupabaseClient.ts#L288

(it should also work across browser tabs)

[2022-03-21 20:40] GaryAustin1 commented on #5974
If you want more help you will need to provide your actual policies, and any error returned.  If you can see the network request and response, posting the response might be helpful.

[2022-03-21 20:42] kiwicopple commented on #5837
I see - I think this one may still be pending the migration into Studio, which means it will need to be fixed internally. I'll let the Frontend team know!

[2022-03-21 20:46] thorwebdev commented on #5990
@kiwicopple it's only handled for realtime. Not for postgrest or storage.

[2022-03-21 21:16] kangmingtay commented on #5663
Hey everyone, just a heads up, the `redirect_to` param only works for oauth logins and not password-based / magiclink / phone otp sign-ins. This is because for password-based / magiclink / phone otp sign-ins, we make a POST request to gotrue and redirecting the response would change it to a GET request, which means that the response body would be lost.

[2022-03-21 21:39] Hallidayo commented on #5950
@Isaiah-Hamilton - Can I take this one?

[2022-03-21 22:10] ahmedabdelhafez commented on #5974
hello @GaryAustin1
here is the list of polices granted to images bucket
![image](https://user-images.githubusercontent.com/25756993/159366576-7e46aa2a-0431-4bf4-a360-e06cd5019ade.png)
===========
an here is the bucket
![image](https://user-images.githubusercontent.com/25756993/159371654-9f147442-7e79-4b4c-860c-f0b0fcf776d7.png)
it's contain the image and all is right and when i download the image

[2022-03-21 22:39] GaryAustin1 commented on #5974
OK, You said Delete did not work, Now you show downloading/Select also does not work.

You have a lot of policies, I normally have 1 policy per operation and put OR statements in for multiple conditions.  I'm not sure multiple policies on the same operation work or not.... I'll have to check.

Showing the name of your policies is not going to help, need to see the actual policy, probably good to s

[2022-03-21 22:53] Isaiah-Hamilton commented on #5950
Go for it @Hallidayo! 🚀

[2022-03-21 23:05] GaryAustin1 commented on #5974
I can confirm multiple polices on same operation (ex. select) works as OR operation in storage.

[2022-03-22 04:53] avin-kavish commented on #472
Is this technically possible? transactions work at the db connection level. Can't be held open across a REST interface.

[2022-03-22 08:34] ahmadfikrimasyhur commented on #5971
@jesper-bylund
you can add param API_EXTERNAL_URL in .env
API_EXTERNAL_URL=http://localhost:8000

then update docker-compose.yml
GOTRUE_MAILER_URLPATHS_INVITE: ${API_EXTERNAL_URL}/auth/v1/verify
GOTRUE_MAILER_URLPATHS_CONFIRMATION: ${API_EXTERNAL_URL}/auth/v1/verify
GOTRUE_MAILER_URLPATHS_RECOVERY: ${API_EXTERNAL_URL}/auth/v1/verify
GOTRUE_MAILER_URLPATHS_EMAIL_CHANGE: ${API_EXTERNAL_URL}/auth/v1/

[2022-03-22 09:36] kiwicopple commented on #5663
Thanks @kangmingtay - I have added a note in the docs in these PRs:

- https://github.com/supabase/supabase/pull/5999
- https://github.com/supabase/gotrue-js/pull/253

[2022-03-22 09:42] kiwicopple commented on #472
it is technically possible, but something we are unlikely to do within the client libraries since it could cause a lock on a table if the transaction fails due to a network error. We could add timeouts, but it's much safer to just write a Postgres Function and call it with an `rpc()` request.

[2022-03-22 10:15] steve-chavez commented on #472
Just wanted to clarify the original question: our [bulk insert](https://supabase.com/docs/reference/javascript/insert#bulk-create) already rolls back if there's an error.

Yeah, I don't think [long-running transactions](https://github.com/supabase/postgrest-js/issues/219) will ever be safe on the client side. For now, https://github.com/supabase/postgrest-js/issues/240 is the path forward for more

[2022-03-22 11:01] Hallidayo commented on #5950
@Isaiah-Hamilton - I've created a [pull request](https://github.com/supabase/supabase/pull/6001) with changes.

As I have mentioned in the pr the guide may need looking into a bit more but I don't know if you want to do this in another issue or pull request?

[2022-03-22 11:22] avin-kavish commented on #472
Client initiated transactions aren't just used for complex mutations. They are used for coupling with other operations on the client-side. Like,

[code]

[2022-03-22 11:35] kiwicopple commented on #472
It would be extremely hard for us to "rollback" anything which isn't directly controlled by Supabase (for example, add Stripe customer, insert into Postgres database (fail), roll-back stripe customer creation).

Perhaps a good tool to investigate for this sort of asynchronous transaction workflow would be [Temporal](https://temporal.io/). Note the level of engineering they are doing to ensure the

[2022-03-22 13:43] swkeever commented on #472
I don't have context on the implementation of the client library or PostgREST, but my assumption was that
[code]
would instantiate a string builder, and each insert/update you do would add to the state of that builder.

Then, the only time a network call is made is when you call `tx.commit()`. At that time, the state of the builder (i.e. the transaction command) is sent to PostgREST. My assumption

[2022-03-22 14:51] kiwicopple commented on #472
That's an interesting concept! We would probably need to add a bunch of functionality for handling "return values" throughout the transaction (for example, the ID of a newly-inserted record).

I guess the main question is why we would need this over an `rpc()` call or our \*_cough cough_\* upcoming Functions. It might be a bit of a burden (and security hole) coding this sort of functionality into

[2022-03-22 15:17] #5663 closed

[2022-03-22 15:42] swkeever commented on #472
I guess the main reason is developer experience. In my opinion, I like to keep my business logic in the application code, all in one place, rather than setting up Postgres functions, etc.

I guess I should also mention I only ever use the Supabase Postgres client from the server. Theoretically, I could use another Postgres client, but I like the API you guys expose. Hopefully, I'm not getting too

[2022-03-22 15:58] #5950 closed

[2022-03-22 17:26] kungpaogao commented on #3544
Was there a solution to this other than manually granting access? I also have a similar issue on my project.

[2022-03-22 17:37] soedirgo commented on #3544
Currently you'd need to do it manually, but we're working on a solution that makes it work OOtB.

[2022-03-22 18:07] whalesync-ryder opened #6007 "Search broken in docs"
# Bug report

## Describe the bug

Looks like searching documentation is broken!

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. Go to https://supabase.com/docs/reference/javascript/auth-session
2. Click on the Search box
3. Type anything in the search box

## Expected behavior
Results

## Actual behavior
The UI says I'm offline, the console is f

[2022-03-22 21:37] monicakh opened #6012 "Unable to upload CSV from a Windows OS"
# Bug report
Error when uploading a CSV file to Supabase dashboard.

## Describe the bug
Tried it on a Windows OS, on 3 different browsers (Chrome, Edge, Firefox) got the same error.
It might be something related to the OS since its working on MAC.

## To Reproduce
1. Go to 'Database'
2. Click on 'New'
3. Click on 'Import data via spreadsheet'
4. Import the CSV file
5. See error

## Expected behav

[2022-03-22 21:48] GaryAustin1 commented on #6012
The problem is windows default filetype is not text/csv which is what Supabase code looks for.  Seems to restrictive.
Discussion here: https://github.com/supabase/supabase/discussions/5953

[2022-03-22 22:01] ahmedabdelhafez commented on #5974
can you send me the policies you add to the bucket for delete operation

[2022-03-22 22:05] soedirgo commented on #2954
@Yonben All images should now be available on `linux/arm64`, though I saw some are having issues deploying on RPi (https://github.com/supabase/supabase/issues/4887). Can you try it out on your end? https://supabase.com/docs/guides/hosting/docker

[2022-03-22 22:22] Hallidayo commented on #6007
@kiwicopple @Isaiah-Hamilton - I think this is related to #5762.

Looking at the Docusaurus [docs](https://docusaurus.io/docs/search#connecting-algolia) the `appId` has to be the `The application ID provided by Algolia` at the moment the appId is :

`appId: 'supabase'`

[2022-03-23 00:18] fanclubfm commented on #5663
@kangmingtay @kiwicopple I don't think it is true that redirectTo is only used for OAuth flow.
await supabase.auth.api.resetPasswordForEmail("email@example.com") without redirect to will give reset let you recover your email and redirect you to localhost:3000 for example .
If you provide redirectTo, it will redirect you to that specific page when you click the link in the email.
await supabase.aut

[2022-03-23 00:51] humphd opened #6014 "Support *_FILE for environment variable Docker Secrets in Supabase containers"
# Feature request

## Is your feature request related to a problem? Please describe.

We're self-hosting Supabase via Docker (it's amazing, thank you!) and one of the issues we have to deal with is safely storing/passing secrets to the containers.  It would be great if Supabase supported [Docker Secrets](https://docs.docker.com/engine/swarm/secrets), and `*_FILE` versions of the variables that hol

[2022-03-23 01:13] GaryAustin1 commented on #5974
Well, I don't actually let users delete files directly, they are linked to notes and I delete them with a trigger routine and call to storage when the note is deleted.... but here is what I think would be a common delete policy:
((bucket_id = 'test'::text) AND (uid() = owner))
The docs also say you need a valid select policy to do a delete.

[2022-03-23 01:31] mclean25 opened #6015 "Copying cell contents from the DB yields the wrong result"
# Bug report

## Describe the bug
Surprised to not see another bug reported for this as it's been happening to me since late 2021, but copying the cell contents in the table editor will copy the wrong cells contents. Maybe a key issue or something?

## To Reproduce
<a href="https://www.loom.com/share/15dfb2b2d1c9421f9ea83581fa33779e">
    <p>Notes - New Note - 22 March 2022 - Watch Video</p>
    <

[2022-03-23 02:34] topperspal commented on #4792
Supabase is the best Firebase alternative I think so. But let me tell you why do we you firebase

**Firebase** is good for -
1. You can create many projects
2. Pricing start from **0** to **pay as you go**
3. **Appcheck**
4. FirebaseUI
5. And some other services

The reasons most of developer searching for firebase alternative, are -
1. Firestore pricing plan
2. No easy pricing cap

Things where S

[2022-03-23 02:41] topperspal opened #6017 "How to use AppCheck"
# Improve documentation

## Link

Add a link to the page which needs improvement (if relevant)

## Describe the problem

Is the documentation missing? Or is it confusing? Why is it confusing?

## Describe the improvement

A clear and concise description of the improvement.

## Additional context

Add any other context or screenshots that help clarify your question.

[2022-03-23 05:13] 10000multiplier commented on #5663
It would also be nice if a `Site URL` like mymobileapp:// to redirect to a mobile app worked.

Using supabase for a password based auth flow on mobile is just not possible otherwise.

[2022-03-23 05:36] kangmingtay commented on #5663
hey @fanclubfm, this is because both cases you mentioned are GET requests already so we can redirect the user.

We return the tokens in the response body of the POST request (see `POST /token?grant_type=password` in gotrue). If we attempt to redirect the POST request, it will get converted into a GET and the response body (which contains the tokens) will be dropped.

[2022-03-23 06:03] emschwartz commented on #5663
For me, this is what's working / not working:

| Base Url | Path | Auth Provider | `redirectTo` Works |
|---|---|---|---|
| Site URL | Root | Google | ✅ |
| Site URL | Root | Email | ✅ |
| Site URL | Non-Root | Google | ❌ |
| Site URL | Non-Root | Email | ✅ |
| Additional URL | Root | Google | ✅  |
| Additional URL | Root | Email | ✅  |
| Additional URL | Non-Root | Google | ❌ (redirected to Site

[2022-03-23 08:25] stingray21 commented on #5587
Apparently there is a way to set this up for Firebase [link](https://cloud.google.com/identity-platform/docs/show-custom-domain). I was wondering if the same approach would work for supabase, too. I couldn't get it to work yet though, but that could very likely be my fault.

[2022-03-23 08:28] #5030 closed

[2022-03-23 12:52] fredgig opened #11804 "Textarea input resizing feels sluggish and delayed due to transition-all utility class"

[2022-03-23 12:53] Yonben commented on #2954
I'm using the supabase CLI, maybe that's what causes my issue?
I'm getting the following error:
[code]

[2022-03-23 13:45] soedirgo commented on #2954
Hmm, it does seem like the `linux/arm64` image is actually running `linux/amd64`:

[code]

I'm surprised it works at all on M1 Mac. This is being tracked on https://github.com/supabase/postgres/issues/143

[2022-03-23 13:46] Yonben commented on #2954
I see, so for now do I have any alternative?

[2022-03-23 14:19] soedirgo commented on #2954
Unfortunately no, the image would have to be fixed first 😕

[2022-03-23 14:26] illright opened #6025 "File uploading occasionally fails"
# Bug report

## Describe the bug

Sometimes, when I try to upload heavy files (50-100 MB), the website fails. Sometimes it shows errors (like below), sometimes it displays the progress level of 200% and 400% (like on the screenshot).

[code]

According to the inspector, this error comes from the fact that POST requests to Supabase result in 502 Bad Gateway.

## To Reproduce

Steps to reproduce th

[2022-03-23 14:26] Yonben commented on #2954
Ok, thanks a lot for the quick answers and the support :)

[2022-03-23 15:41] Hallidayo opened #6027 "Modal - Cancel Button Action"
# Improve documentation

## Link

[Modal Footer Custom](https://ui.supabase.io/components/modal#footer-custom)
[Modal Footer Custom Vertical](https://ui.supabase.io/components/modal#footer-custom-vertical)

## Describe the problem

When you click on `Open modal` on either of the two sections above their doesn't seem to be an action on the `Cancel` button. The only way to hide the modal is to click

[2022-03-23 15:41] Hallidayo commented on #6027
Wrong respositoty

[2022-03-23 15:53] sharath29 commented on #5837
@kiwicopple got it, btw the fix which I was thinking of testing is as below:

[code]

while playing with these components locally I found that directly adding bootstrap to Typography.Text does not add the effect, I think adding to the parent div will do the trick here:

[code]

[2022-03-23 22:21] micahburnside commented on #2954
I'm having a similar issue.

I have a Raspberry Pi 4 loaded with arm64 version of Raspberry Pi OS and am issuing CLI commands via SSH. When I issue the command "sudo docker-compose up" or "docker-compose up", my terminal window beings a never ending loop of a very long string of failure responses and error messages from all the supabase APIs. I am able to navigate to http://localhost:3000 to see s

[2022-03-24 03:27] nwneisen commented on #5753
Hello :wave:

I'm interested in contributing to the project and this issue looked like a good first issue for me. I'd like to claim it and verify I understand everything that will be needed.

1. Update the SQL statements found in `studio/components/interfaces/SQLEditor/SQLEditor.constants.ts`
2. Follow the SQL conventions found in this [style guide](https://github.com/mattm/sql-style-guide/blob/ma

[2022-03-24 05:07] Isaiah-Hamilton commented on #5753
Hey @nwneisen - I've assigned you to this issue and yes everything that you've listed is correct. Can't wait to see your pull request and become a contributor.

[2022-03-24 06:58] yaojiach commented on #4850
I'm seeing the same issue in my project. Will submit a support ticket but wondering if this could be a common issue.

[2022-03-24 10:44] illright commented on #6025
Okay, it turns out that the issue was in me hitting the upload limit (50 MB?). For some reason, the handling of these limit errors is not very predictable, sometimes it shows an unhelpful error, sometimes it tells you exactly what's wrong, sometimes it just breaks completely. I think it would be better to validate the size of the uploaded file on the client side to always show the correct error in

[2022-03-24 11:15] marcinkoziej commented on #5587
This can only work if Supabase will allow a authDomain parameter where you pass your custom domain that is mapped to supabase project domain. So we need to wait for the team to implement such feature.

[2022-03-24 13:28] kiwicopple opened #6046 "Allow multiple authors on blog"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently a blog post can only have a single author

## Describe the solution you'd like

Allow either:

- a single author (string, for backwards compatibility)
- multiple authors (array)

## Additional context

Often our blog posts are co-authored. It would be good to show all the people involved. Vercel do some

[2022-03-24 14:07] soedirgo commented on #2954
@micahburnside yeah, I think the root cause is the same - most of these containers require db connection to work.

[2022-03-24 14:08] MildTomato commented on #6046
@Isaiah-Hamilton hey, if you want to work on this, could you do it on the `chore/www-supabase-ui-migrate` branch?

[2022-03-24 14:11] MildTomato commented on #6046
`author_url` probably doesn't need to be in the frontmatter in the blog mdx files 🤔

could probably get them from the `authors.json`.

then you could add all the authors URLs for the blog post into NextSeo authors list

<img width="541" alt="Screenshot 2022-03-24 at 3 11 04 PM" src="https://user-images.githubusercontent.com/8291514/159934982-8e615118-cf62-4a78-b537-2c171954f010.png">

[2022-03-24 14:56] kiwicopple commented on #6014
Interesting! I like your solution of appending `_FILE` for backwards compatibility.

Looking through [this](https://github.com/supabase/supabase/blob/master/docker/.env.example) file, there are five secrets. Do you know if we could put these all in a single secrets file?

[code]

Or do each of these need to be stored in separate files?

[2022-03-24 14:57] humphd commented on #6014
You'd likely do them as their own secret files, so you can manage/rotate them separately.

[2022-03-24 15:07] mrpbennett commented on #4808
Is there no away around this? I am using Vercel for a company prototype with a supabase backend, using Google auth which is needed due to the nature of the prototype.

[2022-03-24 15:08] Hallidayo commented on #6007
@kiwicopple - I've tried the new details but I'm getting an error `Index supabase does not exist` when doing any search on the documentation:

<img width="477" alt="Screenshot 2022-03-24 at 15 06 46" src="https://user-images.githubusercontent.com/22655069/159947162-7b05835d-d4f0-4342-9a11-dcc24b02421a.png">

<img width="341" alt="Screenshot 2022-03-24 at 15 07 37" src="https://user-images.githubus

[2022-03-24 18:51] kaspnilsson commented on #4808
@mrpbennett what's worked for me as a workaround:

- Create a few Git branches that are meant specifically for pending pull requests (`dev`, `dev2` are mine)
- Use a `NEXT_PUBLIC_SUPABASE_REDIRECT_URL` env variable to set your redirect URL in app
- Set up your environment variables in Vercel targeting these branches specifically with corresponding redirect urls
- When working on a given feature, d

[2022-03-24 19:04] mrpbennett commented on #4808
Thanks for the tip @kaspnilsson  would this work if I am using Vite and not NextJS

[2022-03-24 19:36] kaspnilsson commented on #4808
I've never used Vite, but if you still can use environment variables and Vercel then I'd imagine the same strategy could work!

[2022-03-24 20:48] blaynem commented on #3983
Bumping this because i'm running into the same thing and it's a little difficult to use the types in my db when they're `unknown`. Haha

[2022-03-24 23:17] probablykasper opened #6060 "Invalid folder name results in buggy un-deletable folder"
# Bug report

## Describe the bug

Creating a folder called `/` or `\` results in this:
![image](https://user-images.githubusercontent.com/11315492/160025355-48bc9a0d-667b-49b5-9583-df1873a5f615.png)

When you try to open that mysterious folder, it shows the root folder again:
![image](https://user-images.githubusercontent.com/11315492/160025095-8d34dba3-31e3-4b27-9aef-cfd30a6504d3.png)

Deleting

[2022-03-25 09:47] obrunsmann opened #6065 "Date Picker in create record broken"
# Bug report

## Describe the bug

When entering a date in the date picker manually via keyboard, the date gets cleared immediately when trying to add minutes to the time. The moment the date was cleared was when entering "3" key on the keyboard for the 30 mins...

## To Reproduce

Please refer to the video.

## Screenshots

https://user-images.githubusercontent.com/763812/160288165-cd5ef9d0-5443-

[2022-03-25 16:57] rickywid opened #6071 "Creating new table assigns owner to supabase_admin and not postgres user"
# Bug report

## Describe the bug

When I create a new table using the Supabase dashboard, the table owner is being assigned to `supabase_admin` instead of `postgres` user. I've tested in 2 of my supabase projects and it's the same thing.

## To Reproduce

1. Create empty table called "test" with default columns.
2. In PSQL type `\dt public.test`

 Schema | Name | Type  |     Owner
--------+------

[2022-03-25 19:37] bbsmithy opened #6076 "Intermittent "TypeError: Failed to fetch" error when trying to use client.auth.signIn API"
# Bug report
The signIn request is failing for me intermittently with supabase-js `client.auth.signIn({ email, password })`
It seems that the POST request to /auth/v1/token?grant_type=password is being sent before the preflight OPTIONS request.
Which I believe is causing the POST req to be cancelled.

<img width="706" alt="Screenshot 2022-03-25 at 19 15 19" src="https://user-images.githubuserconte

[2022-03-25 22:51] bbsmithy commented on #6076
I found the issue nothing to do with supabase!

For anyone else that might run into this in future I was using a button element inside a form element which by default causes the page to refresh when clicked. This is why the sign in request was being cancelled as the page reload just as request was being sent. `e.preventDefault()` on the onClick handler of button inside form fixes the issue.

[code

[2022-03-25 22:51] #6076 closed

[2022-03-25 23:49] yobretyo opened #6079 "Console shows 800+ counting errors, and site dosnt load"
![image](https://user-images.githubusercontent.com/62178428/160220217-5599c309-2793-4ac1-8518-465fae9a32d1.jpeg)# Bug report

The site app.supabase.io is a blank screen, and the terminal shows a continuous increasing of errors

## Describe the bug

A clear and concise description of what the bug is.

On one Mac, it loads fine, but my 2 other Macs, running Mojave, the website dosnt load, it's a gre

[2022-03-26 01:21] ChronSyn commented on #6079
You should probably consider adding information to the system information section.

What browser are you using? What version of the browser? What specific version of Mojave?

[2022-03-26 01:52] yobretyo commented on #6079
I updated it

[2022-03-26 02:06] GaryAustin1 commented on #6079
So I was looking at this with the poster on Discord and there is another (maybe related discussion https://github.com/supabase/supabase/discussions/6078) that came up within hours.

It appears in Jan. the code was change to use .addEventListener to window.matchMedia,
But for Safari this appears to not be support before ver. 14

![image](https://user-images.githubusercontent.com/54564956/160220439-

[2022-03-26 02:18] yobretyo commented on #6079
Thank you! Well.... what fixes that?

[2022-03-26 02:18] Isaiah-Hamilton commented on #6046
@kiwicopple @MildTomato all done. Its backwards compatibility and on `chore/www-supabase-ui-migrate` branch. Might need to change the UI of we will have more than 2 authors. For example [vercel blog](https://vercel.com/blog) or [vercel blog post](https://vercel.com/blog/vercel-funding-series-d-and-valuation)
<img width="1280" alt="Screen Shot 2022-03-25 at 10 00 49 PM" src="https://user-images.git

[2022-03-26 02:28] GaryAustin1 commented on #6079
I hope you are not the same poster in 3 in three different places using 3 different names and pretending to be two people with the same problem.....
I have no idea what happens next, I'm just trying to help out with the forums and my guesses on the issue (and it's impact on the user base) may or may not be even correct, up to Supabase if this is an older browser issue.

[2022-03-26 02:30] yobretyo commented on #6079
Well, that helps.

[2022-03-26 03:51] gavinharris-dev opened #6081 "Minor fix needed to the with-expo App.tsx example"
# Minor fix needed to the with-expo App.tsx example

## Link

[Add a link to the page which needs improvement (if relevant)](https://supabase.com/docs/guides/with-expo)

## Describe the problem

The code example in the `with-expo` `App.tsx` file looks a little wrong.

## Describe the improvement

The line:
`const [session, setSession] = (useState < Session) | (null > null)`
Should probably read:
`

[2022-03-26 05:38] perhp commented on #5852
Did you find any solutions to this? I'm having the same problem and downgrading doesn't do it for me..

[2022-03-26 07:46] solvemon commented on #5852
Unfortunately no, and I am still unable to upgrade past 1.27.0

[2022-03-26 13:28] #6079 closed

[2022-03-26 13:28] yobretyo commented on #6079
They fixed it, it was a support issue for safari

[2022-03-26 14:35] MildTomato commented on #6046
@Isaiah-Hamilton do reckon we should show the authors below the thumbnails like the screenshot below if there are multiple authors

<img width="96" alt="Screenshot 2022-03-26 at 3 33 58 PM" src="https://user-images.githubusercontent.com/8291514/160244193-691f8be3-5b95-4160-bf15-f4f412b79211.png">

[2022-03-26 18:12] alaister opened #6091 "Table editor errors when updating rows with a generated column"
# Bug report

## Describe the bug

When trying to update any column in a table that contains a generated column, it fails with the error: `column "x" can only be updated to DEFAULT`. I believe this is due to the table editor trying to save every column in the given row, including the generated column.
Additionally, generated columns should not be editable.

## To Reproduce

1. Create a table with

[2022-03-26 18:21] Lexora commented on #6065
ze video did not uplods

[2022-03-26 19:33] GaryAustin1 commented on #6091
Hmmm,
Table UI gives error with a generated column on changes to other columns.  https://github.com/supabase/supabase/issues/5718

[2022-03-27 11:01] ahmtcn123 opened #6100 "Error sending magic link"
# Bug report

## Describe the bug

I get "Error sending magic link" error in client sdk and web panel.

## To Reproduce

Using SDK `signIn(mail: "*")`  or Send Magic Link button in auth -> users -> Send Magic Link button

## Expected behavior

Everything was fine until now. Also removing custom mail does not help either. I managed to get magic links with custom mail back then.

## Screenshots

![r

[2022-03-27 11:08] ahmtcn123 commented on #6100
Removing `font-family` from style helped.

[code]

[2022-03-27 11:08] #6100 closed

[2022-03-27 11:18] kiwicopple commented on #6007
OK I just created an index called `supabase`. Let's hope that's the final step!

[2022-03-27 11:26] kiwicopple commented on #6071
thanks @rickywid - we're working on this one 👍

[2022-03-27 11:45] kiwicopple commented on #6081
fixed by https://github.com/supabase/supabase/pull/6082

[2022-03-27 11:45] #6081 closed

[2022-03-27 15:13] obrunsmann commented on #6065
Hmm I don't know why the upload fails... so uploaded it here: https://drive.google.com/file/d/16ITw1OYBdnPKZ2Ccspug-oWtGIyBashQ/view?usp=sharing

[2022-03-27 16:12] awalias opened #6102 "Table editor: not enough space for long column names in some places"
<img width="601" alt="image" src="https://user-images.githubusercontent.com/458736/160290236-f971230e-46c4-4fa7-b413-354d0704cef3.png">

adding a FK column
<img width="668" alt="image" src="https://user-images.githubusercontent.com/458736/160290324-95f4303c-c513-4148-babb-a30d5f628724.png">

<img width="492" alt="image" src="https://user-images.githubusercontent.com/458736/160290515-166970fb-fcbc-

[2022-03-27 19:56] KainAlive opened #6105 "Self-hosted supabase/postgres container fails at start"
# Bug report

## Describe the bug

When following the self-hosting instructions and running the containers, the database service (supabase/postgres) exits with the following error:
[code]

This leads to all services failing because they cannot connect to the DB.

## To Reproduce

Follow the [instructions ](https://supabase.com/docs/guides/hosting/docker#get-the-code) in the supabase docs.
[code]

[2022-03-27 21:21] Hallidayo commented on #6007
Ran a build locally and I'm getting no errors in the console now. Shall I create a pull request so you guys can test your end?

[2022-03-27 21:52] KainAlive commented on #6105
Running the docker-compose file on a different machine works without any problems, so I guess it's a problem with my VM / setup.

[2022-03-27 21:52] #6105 closed

[2022-03-28 04:22] burmecia commented on #6091
The fix has been merged into main branch, but hasn't been merged into v2.5.0 alpha branch yet. @phamhieu maybe able to give more details?

[2022-03-28 05:03] nwneisen commented on #5753
I've opened a PR for this change. There were some statements that weren't explicitly mentioned in the style guide that I used my best judgement to do something similar to other statements in the style guide.

I had an issue setting up Supabase for local development and I wasn't able to see the statements in the UI. My setup only had a default project and it wouldn't let me view the SQL statements

[2022-03-28 09:42] joshenlim opened #6114 "Function hooks UX improvement"
function hooks are still pretty much alpha, and its quite limited in terms of its configurability after its been created, leading to bad UX when users notice they can only edit 2 things after creating their function hook

probably what we can do for now is
- at least to communicate that the "updating" capabilities of function hooks are very limited  (or cannot be updated)
- Add more read only fiel

[2022-03-28 10:42] joe-ashwell commented on #5663
Hey all, apologies @awalias I didn't see the notification.

I confirm that I did indeed have all those values populated with the correct info. I finally got to the root of the issue.

I was protecting the page via serverside props and for some reason this just stops redirectTo from working (I have no idea why). As soon as I stripped the following out of the page, redirectTo worked perfectly as exp

[2022-03-28 14:37] micahburnside commented on #2954
Pardon my ignorance as I’m still trying to understand all the steps. What did I miss if I don’t have a db connection? I thought that supabase is the database. How do I connect a database? What database?

[2022-03-28 14:47] soedirgo commented on #2954
Yeah sorry, the whole picture isn't very clear right now. Some of the services e.g. the auth server (GoTrue) needs a db connection because it stores the users table etc. in the db. The dashboard (Studio) requires a db connection for the SQL editor to work, since the queries go to the db. Same thing with the REST server (PostgREST).

Supabase is the database, but to be specific the database is just

[2022-03-28 14:49] #3835 closed

[2022-03-28 14:49] #6046 closed

[2022-03-28 16:03] davideluque opened #6124 "Snippets are being overwritten"
# Bug report

## Describe the bug

**Supabase Admin UI.**

I have two snippets and whenever I change from one to another or sometimes refresh the browser, my snippets are overwritten.

## To Reproduce

Not sure exactly how it is reproduced but sometimes I am in one snippet and then i change to the other, refresh the browser thinking maybe it's a UI problem and the snippet did not load, then my sni

[2022-03-28 20:51] Isaiah-Hamilton commented on #5753
Closed with https://github.com/supabase/supabase/pull/6109

[2022-03-28 20:51] #5753 closed

[2022-03-28 21:57] dovenokan opened #6130 "configuring which websites can make API request"
# Feature request

## Is your feature request related to a problem? Please describe.

I have "website X" and I am using supabase API.
If I'm not using middleware, someone steal my api from source code easily.

## Describe the solution you'd like

if request_url == "website X" => then allow request
So I don't need a middleware for my small projects.

## Additional context

If I'm not aware of what

[2022-03-29 03:06] Isaiah-Hamilton commented on #6007
@Hallidayo it would be great if you could open a pull request.

[2022-03-29 03:57] 5d-jh opened #6133 "Fix Korean translation naturally"
# Improve documentation

## Link

https://github.com/supabase/supabase/blob/master/i18n/README.ko.md

## Describe the problem

Overall translation in this document is not natural, and also some of them are incorrect.

## Describe the improvement

Below is some of improvements I can suggest.

`Public: Production ready`
Current translation: 제품 준비중(meaning 'readying product')
Suggestion: 프로덕션 준비 완료

[2022-03-29 15:48] ffabss opened #6146 "Storage: header if-modified-since being ignored"
# Bug report

## Describe the bug

It seems that either the storage API is ignoring the if-modified-since header or the Cloudflare cache is ignoring it, as I seem to always get the file even though it has not been modified.

## To Reproduce

1. Go to Supabase Dashboard > Storage
2. Create new bucket or use existing
3. Upload any file
4. Make following request:
[code]
("-I" to show document info on

[2022-03-29 21:36] awalias opened #6152 "Table in docs is scrolling horizontally"
https://supabase.com/docs/reference/javascript/supabase-client

would be nice if the table scaled to fit, or was allowed to stretch out horizontally instead of scrolling

<img width="1179" alt="image" src="https://user-images.githubusercontent.com/458736/160711242-359d4572-4a3b-474c-adb1-dba347e2ed89.png">

[2022-03-29 21:37] awalias opened #6153 "docs search seems to be bugging out"
<img width="606" alt="image" src="https://user-images.githubusercontent.com/458736/160711418-9d56dc9d-02d2-4d36-b519-5a814a6be9ae.png">

just spinning indefinitely

if you hit enter it loads a 404 on https://supabase.com/docs/blog/2021/07/30/supabase-functions-updates#function-hooks-alpha

<img width="877" alt="image" src="https://user-images.githubusercontent.com/458736/160711542-c89a2784-7d8e-45

[2022-03-30 03:06] Isaiah-Hamilton opened #6157 "Add dart to authentication docs"
# Improve documentation

## Describe the problem

Currently, the authentication docs only have javascript. It would be cool if we add dart just like [Login With Email](https://supabase.com/docs/guides/auth/auth-email) and [Login With Magic Link](https://supabase.com/docs/guides/auth/auth-magic-link).

## Describe the improvement

Add dart into the docs just like [Login With Email](https://supabase

[2022-03-30 04:30] Shiba-Kar opened #6158 "dbForge Studio Like Table Editor"
# Feature request

Table Editor:

![image](https://user-images.githubusercontent.com/24454722/160751481-e161ab4c-62d7-4cfb-b942-a0722063df93.png)

[2022-03-30 06:39] apecollector commented on #6071
I have the same issue, I need to add multiple column constraints.

[2022-03-30 15:35] reyesmfabian commented on #6105
I have the same problem and I have tried on 2 different computers with the same error.

[2022-03-30 19:23] dcruz1990 opened #6180 "PATCH requests are failling because CORS from multiple origins."
# Bug report
PATCH requests are failling because CORS from multiple origins.
Im trying to make a `update()` request to one of my tables and get CORS error, tried from another origin and the same happens.

## To Reproduce
https://github.com/dcruz1990/contabilidad-simple/

## System information

- OS: Linux
- Browser: Chrome
- Version of supabase-js: `@supabase/supabase-js": "^1.31.2"`
- Version of

[2022-03-31 06:03] Shiba-Kar opened #6191 "Add Snapchat as External OAuth Providers"

[2022-03-31 11:20] bnjmnt4n opened #6202 "Logs: unable to filter query in search bar"
# Bug report

## Describe the bug

Failure when trying to filter the logs via the search bar in the top left of the logs page.

## To Reproduce

1. Go to the logs page
2. Click on last hour
3. Enter a query in the search bar and press enter
4. See error

## Expected behavior

The filtering should work.

## Screenshots

![image](https://user-images.githubusercontent.com/813865/161043467-6fee24ee-4e

[2022-03-31 11:36] megacherry commented on #3513
are there any news regarding the pull request? i didn't want to ask in the pull request.

[2022-03-31 12:06] damla opened #6205 "Unable to see NextJS logo because of color mode"
# Bug report

## Describe the bug

In the [documentation](https://supabase.com/docs), NextJS logo can be seen only in dark mode because its color is white.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [documentation](https://supabase.com/docs)
2. Change color mode to **light** from the switch found on the top right side of navigation.
3

[2022-03-31 21:19] bwklein opened #6228 "Allow new auth user accounts from a specific email address domain."
# Feature request

## Is your feature request related to a problem? Please describe.

I am building an application where the authenticated users are all from a specific domain.  I want a way to only allow accounts to be created for email addresses from a specific domain.

## Describe the solution you'd like

A way to specify a list of allowed domains for new account creation, or an example for how

[2022-03-31 21:53] GaryAustin1 opened #6230 "Edge Function Guide shows different deploy method than Dashboard"
# Improve documentation

## Link

[Edge Deploy Guide](https://supabase.com/docs/guides/functions#deploy-to-production)

## Describe the problem

Guide says:
`supabase functions deploy hello-world`

Dashboard Function page says:
`supabase functions deploy hello --project-ref ugccqefilvseqbseypbq`

## Describe the improvement

They should be the same and which ever method is correct.  ( I can't tell

[2022-03-31 23:49] GaryAustin1 commented on #6230
Now that I can test it... It looks like either works...   If not there the CLI seems to still use default settings to upload with the project reference.

[2022-03-31 23:57] mfulton26 opened #6236 "Edge Functions blog post: bad link for Deno testing"
# Improve documentation

## Link

https://supabase.com/blog/2022/03/31/supabase-edge-functions

## Describe the problem

Links to https://deno.land/manual/tools/testing which results in a 404.

## Describe the improvement

I think it should link to https://deno.land/manual/testing instead.

## Additional context

Super exciting to see a partnership between Supabase and Demo Deploy!

[2022-04-01 06:47] delightfuldude commented on #4934
@karouvirae did you use this docker-compose file? -> [https://github.com/supabase/supabase/blob/master/docker/docker-compose.yml](url)

Would you please share your docker-compose with traefik?

[2022-04-01 07:46] Hallidayo commented on #6236
[Pull request](https://github.com/supabase/supabase/pull/6242) created for this.

[2022-04-01 10:01] #5812 closed

[2022-04-01 13:52] karouvirae commented on #4934
@delightfuldude My setup is a little complicated right now. While the `docker-compose.yml` you pointed to is the one I'm using, I haven't modified that one much. Instead I run numerous `docker-compose.yml` side-by-side with a shared network between them. I will try to find the time to make a somewhat simplified example later today.

But until then, in essence all you really need to do is to setup

[2022-04-01 14:45] GaryAustin1 opened #6255 "Edge functions should support outgoing connections to SMTP ports 25, 465, and 587."
# Feature request

From the Edge Function guide, and another user's first attempt with the edge functions, it appears ports 25,465,587 do not work in Supabase deploy of Deno functions.

If this is true then the ability to handle email tasks from an edge function are not possible.

## Describe the solution you'd like

If this is a correct interpretation of the limitation, is this a short term limit

[2022-04-01 16:11] barbalex opened #6257 "Unable to create foreign key on user auth table"
# Bug report

## Describe the bug

In my db there is this table:
[code]

I tried to add a foreign key to the auth.users table using this:
[code]

It worked fine in the local studio url (http://localhost:54323/project/default/sql). It fails on the remote server in two different ways:

- in the remote studio (https://app.supabase.io/project/xescznrwxlrclwapyuzm/sql) with this error: `relation "auth.

[2022-04-02 04:49] karouvirae commented on #4934
@delightfuldude Long work day. This should work:

[code]

Feel free to ask if you have any further questions.
Do note that, at least on my computer, studio needed a bit of time to spool up properly before all the menus (like API) became fully available. When in doubt, give it 5 minutes after startup and refresh the page if it's already open.

[2022-04-02 10:44] delightfuldude commented on #4934
@karouvirae thank you very much!! I will try it and give you a feedback!

[2022-04-02 11:57] jjhbw opened #6266 "'Local development' guide in docs creates bad migration"
# Bug report

## Describe the bug

Hi all, thanks for this impressive service! Really loving it so far.

I may have found a bug in the 'local development' guide in the docs (https://supabase.com/docs/guides/local-development). After running `supabase db commit create_employees` and `supabase db reset` I get `Error: Error resetting database: ERROR:  relation "employees_id_seq" does not exist LINE 8

[2022-04-02 15:09] GaryAustin1 opened #6267 "Edge Functions require CORS headers in order to be called with function.js"
# Bug report
Using function.js invoke to call a Edge Function generates CORS errors.

## To Reproduce

Invoke the sample hello function using Supabase.js function.invoke() call.

## Expected behavior
It appears a critical part of the process has been left out in generating functions in the examples.
As a quick test I modified the example return to add Access Control Headers
[code]
With this set of