[2019-11-08 04:23] kiwicopple opened #2 "RFC: Licensing"
@awalias I'm interested on your take on licensing.

There seem to be a wave of great opensource projects that have to switch to a more restrictive license, basically because their existence is threatened by the big cloud players. Here are some that I know of using Business Source.

- [Sentry -> BSL](https://blog.sentry.io/2019/11/06/relicensing-sentry) | [Dicsussion](https://news.ycombinator.com/i

[2019-11-08 04:30] kiwicopple opened #3 "[realtime-js] Doctests are failing"
There seem to be 2 problems, not with the tests themselves but rather with the `doctest` library:

1. Not correctly validating

[code]

Change the "33" to 33 and it will still return true.

2. Unable to parse file

[code]
This @example is causing the library to break.

----

The concept of the library is awesome, so I think we should pitch in to improve it. Other likely improvements:

We should be

[2019-11-10 06:49] kiwicopple commented on #3
Will wait for response from developer as I'm not sure about the license - https://github.com/MainShayne233/js-doctest/issues/1

[2019-11-10 11:00] kiwicopple commented on #3
Looks like it doesn't cope well with await's either. See in `packages/pg-admin-js`:

[code]

[2020-01-03 04:44] kiwicopple commented on #2
Apache2 it is

[2020-01-03 04:44] #2 closed

[2020-01-03 04:49] kiwicopple opened #4 "Vote for Connectors"
This issue is for tracking requests/demand for connectors. Give a comment a thumbs up if you want the connector built.

Please refrain from adding comments unless you are adding a connector which isn't already listed.

[2020-01-03 04:49] kiwicopple commented on #4
Kafka

[2020-01-03 04:49] kiwicopple commented on #4
SQS

[2020-01-03 04:49] kiwicopple commented on #4
RabbitMQ

[2020-01-03 04:58] kiwicopple opened #5 "Client Libraries"
This issue is for tracking requests/demand for client libraries. Give a comment a thumbs up if you want the connector built.

Please refrain from adding comments unless you are adding a language which isn't already listed.

[2020-01-03 04:58] kiwicopple commented on #5
Python

[2020-01-03 04:58] kiwicopple commented on #5
Rust

[2020-01-10 02:09] kiwicopple opened #6 "Databases"
This issue is for tracking requests/demand for different databases. Give a comment a thumbs up if you want us to build Supabase for your favourite database.

Please refrain from adding comments unless you are adding a database which isn't already listed.

[2020-01-10 02:44] kiwicopple commented on #6
PostgreSQL - supported!!

[2020-01-10 02:44] kiwicopple commented on #6
MySQL

[2020-01-10 02:44] kiwicopple commented on #6
SQLite

[2020-01-11 07:45] kiwicopple opened #7 "Add line numbers and language to the code snippets"
There are PrismJS plugins that solve this, however I'm not sure how to get them working with Docusaurus

[2020-01-20 13:49] awalias opened #8 "code scrolling broken on safari iOS"
* **I'm submitting a ...**
[*] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**
iphone 6s / ios 13.3 / safari

could not scroll horizontally on code samples on homepage

* **Other information** (e.g. detailed explanation, stacktraces, related issues, suggestions how to fix, links for us to have context,

[2020-01-22 18:03] pdavidow commented on #5
Haskell

[2020-01-23 08:54] fadhlirahim commented on #5
Swift

[2020-01-23 08:54] fadhlirahim commented on #5
Kotlin

[2020-01-23 09:19] phamhieu opened #9 "Reading data returns Promise instead of response"
* **I'm submitting a ...**
[ x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**
When I read data from supabase, it returns a Promise instead of response array.

[code]

[2020-01-23 09:22] awalias commented on #9
@kiwicopple is this intended? If so maybe we should update the examples on homepage to show console logging the result

[2020-01-23 09:25] kiwicopple commented on #9
Nope, not intended. It should return the data. Let me check

[2020-01-23 09:49] kiwicopple commented on #9
OK looks like just a bit of massaging of the code. Here is a simple React example:

[code]

It looks like we have 2 actions:

- Update the docs to make it clearer (probably put a section with ReactJS examples)
- Update the "Example responses" - they actually have a format like this (since the library wraps superagent):

[code]

[2020-01-23 10:44] kiwicopple opened #10 "Sharing the site on Slack shows React code rather that a nice site descriptions"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**

Possibly a bug in docusaurus

<img width="687" alt="image" src="https://user-images.githubusercontent.com/10214025/72977866-4ff3d480-3e10-11ea-8db6-a456d76b1b16.png">

[2020-01-23 10:48] kiwicopple opened #11 "rpc() is not implemented"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

@dragarcia I just want to check if you implemented the `rpc` function in `supabase-js`? I can't find it in any of the branches?

[2020-01-23 11:22] dragarcia commented on #11
My bad, I missed out on that one. Let me do it next.

[2020-01-23 11:46] kiwicopple commented on #11
Not started though right? Not to worry, I can do tomorrow, just want to make sure we don't double up

[2020-01-23 17:26] dukex commented on #5
Ruby

[2020-01-24 08:08] kiwicopple commented on #9
Closing this with the latest commit. There is still need for a react example but this can be covered in a full tutorial.

thanks for testing @phamhieu

[2020-01-24 08:08] #9 closed

[2020-01-26 15:22] dragarcia opened #12 ".like() & .ilike() does not work with '%'"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**
When passing a string pattern with the percentage sign (%) to the function .like() or .ilike(), the expected output is not attained.

* **Other information**
According to the [PostgREST documentation](http://postgrest.org/en

[2020-01-26 15:24] #11 closed

[2020-01-26 15:37] #12 closed

[2020-01-27 02:54] kiwicopple commented on #12
@dragarcia perhaps we should just update the docs to use "*" instead? Always better to write less code

[2020-01-27 03:32] awalias commented on #10
![image](https://user-images.githubusercontent.com/458736/73148691-97bc7980-40f8-11ea-8bfe-96a7c432414f.png)

looks like you need to include the description markdown attribute on each page, otherwise it just takes the first line of text which in this case is some imports

[2020-01-27 03:48] awalias commented on #10
I think for now lets just add descriptions, docusaurus probably needs a better way to guestimate the description from the content

[2020-01-27 03:48] #10 closed

[2020-01-27 03:49] kiwicopple commented on #10
good idea. Not sure if possible, but it would be ideal if we could have this setup on every page:

[code]

[2020-01-27 03:53] dragarcia commented on #12
Possible as well, my consideration was that the norm for string patterns in pgsql were "%" and "_" (which works as per normal). Thought that it would be less confusing for the user to just stick to it.

[2020-01-27 22:42] ric2b opened #13 "Missing License"
* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[x] question about how to use this project

* **Summary**

I'm not sure what license this project is under, could you add it to the repo, please?
Looks really interesting though!

[2020-01-27 22:43] ric2b commented on #13
I guess it's Apache 2 but this isn't very official looking: https://github.com/supabase/monorepo/issues/2

[2020-01-28 01:02] kiwicopple commented on #13
Yes you're right @ric2b - it's Apache2. Added a License file to make more official.

Hope you find the code helpful 👍

[2020-01-28 01:02] #13 closed

[2020-01-28 03:41] awalias commented on #8
upon further testing it looks as if that you **can** actually scroll, however the sensitivity is super low, as in, if your swipe is not **exactly** horizontal, the event will for some reason not be passed to whatever handles the horizontal scroll

[2020-01-28 04:10] kiwicopple commented on #8
Yeah, I think ideally we can disable `react-perfect-scroll` on mobile (or when the browser width is ~<400 px)?

[2020-01-30 03:11] kiwicopple commented on #3
Closing this as it will be tracked in the doctest-js repo:
https://github.com/supabase/doctest-js/issues/1

[2020-01-30 03:11] #3 closed

[2020-01-30 04:19] kiwicopple opened #14 "Update homepage example"
![image](https://user-images.githubusercontent.com/10214025/73419568-95595a00-435a-11ea-870f-6f8b4a563169.png)

Our "Update multiple rows" example is a bit confusing, since the filter criteria will probably only update one row

[2020-01-30 10:29] kiwicopple opened #15 "Refresh relationships on load"
We need a way to trigger this:
http://postgrest.org/en/v6.0/admin.html#schema-reloading

[2020-01-31 09:37] kiwicopple opened #16 "supabase-dev docker image doesn't work on Firefox"
Testing:

- [x] Chrome: working
- [x] Safari: working
- [x] Firefox 72 - Not working
- [x] Firefox Dev - Not working
- [x] Firefox Alpha - Not working
- [x] Firefox 65 - Not working
- [x] Firefox 72: connecting to remote IP - Working
- [x] Firefox 72: connecting to local IP - not working
- [x] Firefox 72: connecting to local computer using named host - not working
- [ ] Firefox - docker-compose -

[2020-01-31 09:44] kiwicopple commented on #16
Possible causes:

- https://bugzilla.mozilla.org/show_bug.cgi?id=1187666
- https://bugzilla.mozilla.org/show_bug.cgi?id=1376309
- https://bugzilla.mozilla.org/show_bug.cgi?id=1602502

[2020-01-31 11:49] awalias commented on #16
same problem identified here: https://github.com/pocoproject/poco/issues/110

[2020-01-31 11:54] kiwicopple commented on #16
And possibly resolved here: https://github.com/Kong/kong/pull/5495

[2020-02-01 01:53] kiwicopple commented on #16
Solved by @awalias by using the nightly Kong release

[2020-02-01 01:53] #16 closed

[2020-02-04 10:18] dragarcia opened #18 "Realtime timestamp different format"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**
https://github.com/PostgREST/postgrest/issues/177

[2020-02-04 10:46] kiwicopple commented on #18
good catch @dragarcia - it looks like PostgREST isn't actually adding the "T" based on the linked issue perhaps they have added it later in another issue? Couldn't find it from an initial skim

Either way, we need to be consistent. I think the best option is to remap this in the `ChangeMapper` of the JS client.

[2020-02-05 03:52] awalias commented on #16
we've now moved from nightly to Kong 2.0.1, as the fix is now in the official release

[2020-02-05 03:59] dragarcia opened #19 "Change Mapper does not account for pgsql array data types"
* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository
- [ ] question about how to use this project

* **Summary**
Arrays are currently being returned as strings, leaving it to the user to convert it themselves.

[2020-02-07 09:56] kiwicopple opened #20 "Implement `eq` filter on the realtime subscriptions"
* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

Now that we have column level filtering in Realtime (here: https://github.com/supabase/realtime/issues/15) we should be able to implement this into `supabase-js` with the following syntax

[code]
which would filter to only receive changes

[2020-02-12 02:28] #20 closed

[2020-02-17 03:43] #19 closed

[2020-02-19 07:02] awalias commented on #14
fixed

[2020-02-19 07:02] #14 closed

[2020-02-19 07:08] awalias opened #21 "Docs: snippets/examples don't return values (single, order etc.)"
* **I'm submitting a ...**
[ *] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**
examples in docs need updating to snippets that will actually return something
https://supabase.io/docs/library/get#order
the snippets and examples for
`order`, `single`, `filter`, etc. won't return anything as they are, we

[2020-02-19 08:53] awalias opened #22 "'["China", "France"]' or ['China', 'France'] in docs?"
![image](https://user-images.githubusercontent.com/458736/74817677-43dc3380-5338-11ea-8a85-071a9fd8e20d.png)

https://supabase.io/docs/library/get/#in

`'["China", "France"]'` or `['China', 'France']` ?
need to test whether this should be wrapped as a string or not

currently facing other issues which means I can't test it right now, so saving here for later investigation

[2020-02-19 10:18] awalias opened #23 "implement supabase.getSubscriptions()"
missing method for getSubscriptions(): https://supabase.io/docs/library/subscribe#getsubscriptions

[2020-02-19 10:45] awalias opened #24 "Second phantom subscription created on subscribe()"
after running:
[code]
if I inspect `supabase.subscriptions`, I can see two subscriptions, the second of which is mostly empty:
[code]

the problem is if I pass it to `supabase.removeSubscription` it throws an exception:

[code]

[2020-02-20 01:02] kiwicopple commented on #22
Should be a plain array:
https://github.com/supabase/postgrest-js/blob/3eca6e8459630bd959355fad1b48e5ee31b33bf7/src/utils/Filters.js#L158

Not sure why it's failing, tests seem to be OK:
https://github.com/supabase/postgrest-js/blob/master/README.md#status

[2020-02-20 03:05] awalias commented on #24
Looked into this, it's because we create a new subscription every time 'from()' is invoked and store the resulting Supabase instance in `this.subscriptions`

[code]

[2020-02-20 03:11] awalias commented on #24
Also noting that we need to clean up non-subscription instances that get added, since the array will just continue to grow for long-running clients

[2020-02-20 03:46] awalias commented on #22
this is the error

[code]

[2020-02-20 03:47] awalias commented on #23
fixed in ab834899301f9d39fc79b67ad5f8ef621db4e571

[2020-02-20 03:47] #23 closed

[2020-02-20 03:49] awalias commented on #22
ok so looks like it should be getting wrapped with parenthesis like:
`http://localhost:8000/rest/v1/users?apikey=examplekey&id=in.(2,3)&select=*`

[2020-02-20 04:10] kiwicopple commented on #22
Fixed in postgrest-js@0.8.0

[2020-02-20 04:22] #22 closed

[2020-02-24 17:09] awalias opened #25 "Subscribing to specific events (INSERT,UPDATE,DELETE) doesn't work"
See [`supabase/supabase/libraries/supabase-js/test/integration/testRealtime.js`](https://github.com/supabase/supabase/blob/499883f75a35e9163de54ae5771b03d1807a84fb/libraries/supabase-js/test/integration/testRealtime.js#L74)

The tests that test for specific eventType are currently failing

[2020-02-24 17:10] awalias commented on #25
I also verified that
[code]
works ok, so the problem is in the EventType and not the table level filtering

[2020-02-24 18:53] awalias commented on #25
Can verify that the binding gets set up on the `supabase-js` side:

[code]

I tried looking on the realtime side @kiwicopple but my elixer not good enough to confirm that the messages get send on the channel with the correct event name `INSERT`

[2020-02-24 21:28] kiwicopple commented on #25
Can confirm it's missing functionality in the elixir server:
https://github.com/supabase/realtime/blob/9a6f3d97840a9789d01b4bf24303373bfee95185/server/lib/realtime_web/channels/realtime_channel.ex#L29

This should parse out the eventType and then broadcast. eg:

[code]
Will fix today.

[2020-02-25 09:29] kiwicopple commented on #25
Server fixed on 0.7.0 https://github.com/supabase/realtime/issues/20

[2020-02-25 10:30] awalias opened #26 "supabase-js: match().update() not a valid combination"
was expecting
[code]
to update, but instead got:
[code]

[2020-02-25 22:51] kiwicopple commented on #26
@dragarcia Could you please look into this one?

[2020-02-26 01:03] kiwicopple commented on #18
@dragarcia just want to double check - this one is solved right? Can you please close if no more work required?

[2020-02-26 02:05] kiwicopple opened #27 "rpc() is not appending API key"
* **I'm submitting a ...**
[x] bug report

[2020-02-26 02:25] kiwicopple commented on #27
Fixed in 0.1.24

[2020-02-26 02:25] #27 closed

[2020-02-26 12:34] dragarcia commented on #18
Tested with 0.1.24 and everything looks right. Proceeding to close this.

[2020-02-26 12:34] #18 closed

[2020-02-27 04:16] dragarcia commented on #26
### Reasoning
Based on [Superagent Documentation](https://github.com/visionmedia/superagent/blob/master/src/node/index.js), this.query has two different ways of processing the parameters; one for string and one for the rest. While all our other functions (.filter(), .order()) input a string as a parameter, .match() inputs an object. Decided to standardise everything and have all functions input a

[2020-02-27 04:18] dragarcia commented on #26
Changes done in https://github.com/supabase/postgrest-js/commit/07557c62323bc1eccf15db645340c1bdc70dd093.

[2020-02-27 04:18] #26 closed

[2020-03-08 23:19] kiwicopple commented on #8
I have completely removed `react-perfect-scroll`. For windows I will look at other ways of improving the aesthetic of the scrollbars

[2020-03-08 23:19] #8 closed

[2020-03-08 23:20] kiwicopple commented on #25
Hey @awalias was this one solved now on your side?

[2020-03-09 08:33] awalias commented on #25
I think it is fixed, but will just need https://github.com/supabase/realtime/issues/21 in order to confirm (since it causes the integration tests to fail)

[2020-03-16 04:38] #21 closed

[2020-03-16 04:46] awalias commented on #25
last thing remaining is `04:33:14.166 [error] GenServer #PID<0.2513.0> terminating
** (KeyError) key :record not found in: %Realtime.Adapters.Changes.DeletedRecord{columns: [%Realtime.Decoder.Messages.Relation.Column{flags: [:key], name: "id", type: "int8", type_modifier: 4294967295}, %Realtime.Decoder.Messages.Relation.Column{flags: [:key], name: "inserted_at", type: "timestamp", type_modifier: 4

[2020-03-16 06:21] awalias commented on #25
fixed in `realtime:0.7.2` and `supabase-dev:0.1.8`

[2020-03-16 06:21] #25 closed

[2020-03-22 08:14] kiwicopple opened #44 "Ability to upsert"
- [ ] Add an `upsert: true` option to `insert()` options
- [ ] Update documentation on website

It should be noted that upserts only work with Primary Keys (according to the docs: http://postgrest.org/en/v6.0/api.html#upsert)

We will need to add a "PUT" call if upsert is true

[2020-03-24 07:27] dragarcia commented on #44
Codebase changes done in [supabase/postgrest-js](https://github.com/supabase/postgrest-js).

[2020-03-24 07:27] #44 closed

[2020-04-01 02:05] kiwicopple opened #49 "Search results showing sub-pages"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**

The search box is showing results from our "includes". Here you can see "eq" and "CommonFilters":

![image](https://user-images.githubusercontent.com/10214025/78091575-d2e06f00-73ff-11ea-9b92-42168e23138f.png)

But these ar

[2020-04-02 04:44] kiwicopple opened #51 "Nav bar links are opening in a new tab"
![image](https://user-images.githubusercontent.com/10214025/78211403-6ccb1900-74df-11ea-855f-fb2e2ece2088.png)

These links should be recognised as internal links an open in the same tab. At the moment they are all opening a new tab.

Possible cause: we are overriding the default theme in `./web/src/theme/DocSidebar`

[2020-04-02 12:01] harish-aka-shivi commented on #51
I would like to work on it.

[2020-04-03 05:19] pbteja1998 commented on #51
@kiwicopple Is there some place where I can chat with you directly? Discord or Telegram ?

[2020-04-03 05:24] awalias commented on #51
hey @pbteja1998 can you add me on telegram @ antwilson

[2020-04-03 06:20] awalias commented on #51
Asked docusaurus team for assistance: https://github.com/facebook/docusaurus/issues/2515

[2020-04-03 06:28] #51 closed

[2020-04-08 08:11] dragarcia opened #53 "Realtime is not mapping empty arrays properly"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**
When passing an empty array, realtime returns [NaN]

* **Other information** (e.g. detailed explanation, stacktraces, related issues, suggestions how to fix, links for us to have context, eg. StackOverflow, personal fork, et

[2020-04-09 01:48] #53 closed

[2020-04-16 03:12] lukethacoder opened #55 "Incorrect Email for alpha@superbase.io - Alpha program message"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**
Just a super small text change. The email address looks to be incorrect

Ref: https://app.supabase.io/account/me

![image](https://user-images.githubusercontent.com/13529535/79410362-855d2800-7fe3-11ea-9e3e-2905959b0fcf.png)

[2020-04-16 03:48] kiwicopple commented on #55
Keen eyes, thanks @lukethacoder .

In our next release we will have a free tier for everyone, so we'll remove this message then and I'll update here once we've released it

[2020-04-24 01:43] kiwicopple commented on #15
This was incorrect

We don't really need a way to trigger this from supabase-js, instead we need a way to detect when a schema changes automatically and then restart PostgREST.

@awalias is working on this from the Dashboard

[2020-04-24 01:43] #15 closed

[2020-04-24 07:47] kiwicopple opened #57 "Unable to update the name of my organization"
Users should have the ability to change the Org Name after they have created it

[2020-04-24 08:46] ChrisNg02655332 opened #58 "Cannot use supabase on Expo project"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**
Hi there, I tried to install and using supabase libary in my project. Unfortunately, I got an error

[code]

<img width="644" alt="Screen Shot 2020-04-24 at 15 43 03" src="https://user-images.githubusercontent.com/51181802/8

[2020-04-24 10:16] awalias commented on #58
@kiwicopple `querystring` only used here: https://github.com/supabase/realtime/blob/29b4a3fb9997da4cab242b13a98a41784f0b5371/client/realtime-js/src/socket.js#L93

I assume there is some expo friendly way of stringifying query params

[2020-04-24 10:24] awalias commented on #58
could potentially replace the offending lib with https://www.npmjs.com/package/query-string

[2020-04-24 10:34] kiwicopple commented on #58
so strange. It looks like it was there in the original fork:

https://github.com/mcampa/phoenix-channels/blob/master/src/socket.js

And I am pretty sure `phoenix-channels` was working on expo since we were using at Nimbus. I will investigate

[2020-04-27 02:12] #55 closed

[2020-04-27 04:30] kiwicopple commented on #58
@dragarcia could you please check this one? I'm not sure why this has started since we were using `phoenix-channels` just fine

[2020-04-27 10:20] dragarcia commented on #58
From what I observed, what we used in the past for Expo applications was [Phoenix](https://www.npmjs.com/package/phoenix) and not [phoenix-channels](https://www.npmjs.com/package/phoenix-channels). I tried using phoenix-channels on a fresh Expo application and it returned me the same error as above.

Solution implemented is what @awalias suggested above. Regression testing has been done on both `@

[2020-04-27 10:49] kiwicopple commented on #58
Amazing work once again @dragarcia - I'll follow up with Dung

[2020-04-27 12:52] kiwicopple commented on #55
@lukethacoder I'm deploying this fix out now. Thanks a lot for the bug report 👍

[2020-04-27 14:35] ChrisNg02655332 commented on #58
Hi @dragarcia, I tried to update ```@supabase/supabase-js: 0.1.31``` and also install ```@supabase/realtime-js: 0.1.8```. But the error still appears.

[2020-04-27 14:59] kiwicopple commented on #55
btw @lukethacoder I checked out your website. awesome design

[2020-04-28 02:40] ChrisNg02655332 commented on #58
Hi, just confirm it worked. Thank you

[2020-04-28 02:40] #58 closed

[2020-04-29 00:40] lukethacoder commented on #55
@kiwicopple ah thanks man. been wanting to rebuild it but other projects keep popping up.

[2020-04-29 09:10] #24 closed

[2020-04-29 10:38] kiwicopple opened #678 "Vote for more plugins"
This issue is for tracking requests/demand for more plugins/extensions. Give a thumbs up if you want an extension added.

Please refrain from adding comments unless you are adding an extension which isn't already listed.

[2020-05-01 05:08] awalias opened #61 "Dropdown nav links broken on website"
![image](https://user-images.githubusercontent.com/458736/80783509-9ba2e080-8bac-11ea-9c4f-9a27b2bec0ce.png)

can't click these links on Firefox or Chrome on homepage nor docs

[2020-05-01 06:16] awalias opened #62 "Give warning if someone uses `https` on localhost dev"
I encountered a HTTP 521 error when trying to use a `https://...` url in `createClient` when developing on localhost, perhaps supabase-js could print a warning message to console if it notices that the source is 127.0.0.1 and suggest downgrading the url to `http://` in this environment

[2020-05-01 06:18] #62 closed

[2020-05-02 09:35] kiwicopple commented on #61
Fixed after I disabled the cache on Netlify

[2020-05-04 01:43] #61 closed

[2020-05-04 14:23] dragarcia opened #63 "supabase/supabase-js 0.1.33"
## Changes
- [supabase/postgrest-js 0.15.0](https://github.com/supabase/postgrest-js/issues/47).

## todo
- [x] bump `supabase/postgrest-js` to 0.15.0
- [x] bump to 0.1.33
- [x] documentation changes

[2020-05-05 02:46] #63 closed

[2020-05-06 11:52] kiwicopple opened #64 "Client side auth"
## Current state

At the moment we are providing key auth using an API key on each request. For the REST requests, this is passed as a header. For the sockets, this is necessarily passed as a URL parameter because most browsers strip the headers for Sockets.

This is not ideal. It is only considered safe on serverside where there is less chance of discovering the key.

Even if we allowed multiple

[2020-05-06 12:20] kiwicopple opened #65 "RFC: LiveQueries"
No action required, I just want to kick off this discussion

At the moment we have implemented our realtime to listen to basic events:

[code]

But ideally we want to get to something like our select:

[code]

What would this look like? Ideally we could use the same `select` graph in our `subscribe`:

[code]

Then we would get the updates for the users, *but also any updates to their todos*. This

[2020-05-06 12:33] kiwicopple commented on #65
It's almost like we need a document store in the middle 😂

Firebase makes it easy, because you could nest everything relating to a user in a single document. With relational databases it's much harder.

We could *kind of* achieve the same thing with a view, but view updates aren't triggered by the WAL

[2020-05-06 15:19] kiwicopple commented on #65
![image](https://user-images.githubusercontent.com/10214025/81195117-0199c880-8ff0-11ea-868d-9ab10d67a739.jpeg)

This may not be so easy

[2020-05-12 03:23] awalias opened #67 "Update hero and tag line"
![image](https://user-images.githubusercontent.com/458736/81635104-f35e0900-9442-11ea-8cc8-2839b208ed56.png)

maybe just remove "existing"

[2020-05-12 03:27] kiwicopple commented on #67
Also need to update the OG graph image. I thought I did it the other day but it hasn't worked
https://github.com/supabase/supabase/commit/f81760cab2cc0f7a171fb4ec31dcad46b38df973

[2020-05-13 10:25] kiwicopple commented on #64
We may end up needing some mixture of these too. For example, we need rate-limiting. This should be done before hitting the DB, so we still need a global proxy (or some sort of API proxy in the stack).

[2020-05-14 15:06] hobochild opened #70 "Expose API for creating Databases"
* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**

This ticket is to track API access via an API key as well as exposing a way to programmatically create DBs.

[2020-05-15 01:50] kiwicopple commented on #70
Thanks for opening @hobochild. Copying across my email comments for visibility:

This is on our roadmap - we are building and using the API internally right now but it's not ready for public use yet. I will continue to send updates to this issue with the timelines

In case it helps: we are even creating an API for the database itself, so you can spin up one database, then programmatically create s

[2020-05-17 09:13] #57 closed

[2020-05-17 09:13] kiwicopple commented on #57
Fixed, will deploy this week

[2020-05-18 08:05] dependabot-preview[bot] opened #71 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/libraries/supabase-js/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/supaba

[2020-05-19 03:18] #71 closed

[2020-05-21 02:24] kiwicopple commented on #7
This is not necessary for now. Either docusaurus will add it, or we will migrate away to a custom website before then

[2020-05-21 02:24] #7 closed

[2020-05-22 01:17] kiwicopple commented on #64
For the Global Proxy, I thought a very simple solution is that we could run Caddy on Cloudflare Workers (WASM), and the JSON config could be stored in Cloudflare KV. This way we don't actually need to manage infra, and it's running on the edge.

I don't think Kong will work so well on workers. If we do this setup, it's also easy enough to replicate on a local machine - we don't have to mock out Wo

[2020-05-24 08:40] rmznrddn commented on #5
Go

[2020-05-26 02:19] kiwicopple commented on #67
fixed the tagline, although the OG image probably still not working - task for another day

[2020-05-26 02:19] #67 closed

[2020-05-26 22:50] martineboh commented on #70
@kiwicopple programmatically creating schemas/tables/columns/ could be a win for `Supabase`...think `Prisma2`

[2020-05-26 23:27] kiwicopple commented on #70
I agree @martineboh - I've started this work over on https://github.com/supabase/pg-api

☝️  This repo will fit into our larger Supabase API where you can spin up new databases/projects/orgs etc

ps. @martineboh - i still owe you an email/docs for realtime self-hosting. I haven't forgotten! We have been building the releases to make it easier, and our docs will detail how to use the releases: http

[2020-05-27 08:03] antosubash commented on #5
C#

[2020-05-27 08:48] WXSoftware commented on #5
Dart

[2020-05-27 11:52] sashvoncurtis opened #76 "Dart SDK"
Congrats on the launch.🚀

Wanted to ask about what's on the horizon for future SDK's, especially for Dart/Flutter who use native Kotlin/Java and Swift/Obj-C apis.

[2020-05-27 13:24] ianmyles commented on #5
Python

[2020-05-27 14:40] kiwicopple commented on #76
Thanks @sashvoncurtis

We have a single thread for voting on client libraries here: https://github.com/supabase/supabase/issues/5

Dart is on there so I'll close this issue. Before I do:

We let the crowd sway us! We don't internally have any techies who are familiar with Dart, but if there is enough interest, we can figure it out 👍

[2020-05-27 15:25] elangora commented on #5
Java

[2020-05-27 15:26] elangora commented on #5
Java

[2020-05-27 17:31] XanManZA opened #79 "Prepared Parameters"
* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[x] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**
Hey guys
Just a question if the insert functionality is using prepared statements?

[2020-05-27 19:37] ajwerner commented on #6
CockroachDB

Cockroach is PostgreSQL wire compatible and has good and constantly increasing compatibility. Generally in places where there are incompatibilities there are easy workarounds. It should be very easy to support, in fact, it might just work. Cockroach has online upgrades, online schema changes, and is replicated for high availability and some other advantages over Postgres.

[2020-05-27 22:38] steve-chavez commented on #70
Hey guys. Just chiming in with an idea.

[aquameta's meta extension](https://github.com/aquametalabs/aquameta/tree/master/src/pg-extension/meta) might help for this. It converts DDL to DML. Since you use PostREST, this extension might get you a way for creating schemas/tables/columns through [supabase/postgrest-js](https://github.com/supabase/postgrest-js), for free!

[2020-05-28 00:01] kiwicopple commented on #70
thanks Steve that's kinda genius 💯

We have hopes to support external databases so the extension might be a blocker, but I'll dig into their implementation and figure out if we can make it work.

Nice to see you in our repos too!

[2020-05-28 00:31] kiwicopple commented on #79
Hey @XanManZA just a quick clarification, are you wondering if you have to create the prepared statements? Or are you asking for security purposes?

Our REST apis are built with PostgREST: https://github.com/PostgREST/postgrest

You don't have to prepare anything, you just update your schema and the API will update too. Let me know if that answers your question 👍

[2020-05-28 03:50] ImreSamu commented on #5
<a name="logo"/>
<div align="center">
<a href="https://julialang.org/" target="_blank">
<img src="https://julialang.org/images/logo_hires.png" alt="Julia Logo" width="210" height="142"></img>
</a>
</div>

[2020-05-28 05:08] Immortalin commented on #5
@elangora @fadhlirahim I think Java and Kotlin can be merged under the same umbrella.

[2020-05-28 06:15] aridwiprayogo commented on #5
@Immortalin nope, kotlin have a feature that java doesn't like coroutine, extension function, lazy property, data class, etc

_Sent from my ZenFone Max Pro (M1) using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2020-05-28 15:53] noahlh commented on #5
[Crystal](https://crystal-lang.org)

[2020-05-28 15:58] Immortalin commented on #5
Lua

[2020-05-28 16:54] Immortalin commented on #5
F#

[2020-05-28 16:54] Immortalin commented on #5
Clojure

[2020-05-28 16:55] Immortalin commented on #5
[V](https://github.com/vlang/v)

[2020-05-28 19:46] XanManZA commented on #79
Hi @kiwicopple
I'm asking for security purposes.
I'm then assuming if you say we don't have to prepare anything that you guys or PostgREST does that. Couldn't find documentation for that in PostgREST.
Thank you.

[2020-05-28 19:46] #79 closed

[2020-05-29 02:18] kiwicopple opened #82 "Mobile friendly dashboard"
Right now the dashboard is desktop-only (this is so that we can develop faster).

This issue is to track delivery of a mobile-friendly UX.

Thanks to the following users for asking:

- https://github.com/0az
- https://github.com/hojjatabdollahi

[2020-05-29 02:24] kiwicopple opened #83 "Profile details not updating (even though they are saving)"
Page: `/account/me`

Description: When I save my first and last name, then leave by going to Organizations, and then back to Preferences - my name doesn't display.  Just blanks.  When I force full reload on the web page, then my name shows up.  So it is storing it in the back end, but not updating the front end data to reflect that

Thanks to these users for contributing/reporting:

- https://gith

[2020-05-29 02:50] KoreyPeters opened #84 "Can't use supabase with Svelte rollup"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**
supabase will not compile with Svelte.

I run:
[code]
Finally, in my App.svelte file I put:
[code]

And I get the following error message:
[code]

If I remove the lines from my App.svelte file, `npm run dev` works fine.

* *

[2020-05-29 03:24] soedirgo commented on #84
Hi! Not a JavaScript genius either, but will try to help.

Seems you also need to [import the plugin](https://github.com/rollup/plugins/tree/master/packages/json#usage) after npm-installing it (hence the persistent error).

[2020-05-29 03:30] kiwicopple commented on #84
Thanks for jumping on this one @soedirgo

@KoreyPeters if that works (or doesn't) let us know. It will be good to add a basic implementation to our [examples folder](https://github.com/supabase/supabase/tree/master/examples)

Perhaps we can use your project as a baseline

[2020-05-29 10:15] MrFabio commented on #4
Pub/Sub

[2020-05-29 10:52] kiwicopple commented on #4
Webhook

[2020-05-29 14:00] tycrek opened #85 "Possible to self-host?"
* **I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository
- [x] question about how to use this project

* **Summary**

I maintain a [Degoogle guide](https://github.com/tycrek/degoogle) and Supabase is [under consideration](https://github.com/tycrek/degoogle/issues/135) to be added as a Firebase alternative. Is it possible to self-ho

[2020-05-29 14:40] awalias commented on #85
Hey @tycrek thanks for getting in touch. First of all your project is incredible, thank you for considering us!

Yes it is possible to self host Supabase today. The component breakdown is:

- Postgres, we provide an easy-to-install version [here](https://github.com/supabase/postgres), this is the same install we use on our own platform
- Our Realtime API - https://github.com/supabase/realtime , wh

[2020-05-29 15:04] tycrek commented on #85
Thank you for the quick response!

[2020-05-29 15:04] #85 closed

[2020-05-30 02:32] kiwicopple commented on #85
Thanks for the backlink @tycrek. Once we've built up some robust docs on self-hosting I'll jump into your repo with a PR.

Doubling up on @awalias 's comment - your project is amazing

[2020-06-01 01:36] kiwicopple opened #86 "Confirmation of a socket connection"
Picking up from @ToryByte's tweet: https://twitter.com/ToryByte/status/1267225319947280385

Is there a way to wait for a subscription to connect? I cant find a way to wait for a subscription to be ready before I start running other statements. It would be nice if `subscribe()` returned a promise.

[2020-06-01 01:39] kiwicopple commented on #86
I can see how this would be useful - I know `realtime-js` returns statuses, but I'm not sure if we expose it in `supabase-js`

@dragarcia - could you please confirm?

[2020-06-01 06:03] dragarcia commented on #86
Did a check on realtime-js & phoenix-js and I don't think that it could return a promise of any sort. Status wise, we can actually get the status of the socket through `supabase-js`. Following this flow:
[code]

The resultant `mySubscription` is an [object](https://github.com/supabase/supabase-js/blob/master/src/Realtime.js) that contains the properties `socket` and `channel` which are the same as

[2020-06-01 10:26] Cmarenburg opened #87 "Manifest for docker not found"
* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**

Hi there, just tried installing via docker with the following docker-compose file

version: '3'

services:
  supabase:
    image: supabase/supabase-dev:latest
    ports:
      - "8000:8000"
    environment:
      DB_HOST:

[2020-06-01 10:56] awalias commented on #87
hi @Cmarenburg looks like the `latest` tag is missing from our dockerhub repo

for a quick fix change
`image: supabase/supabase-dev:latest`
to
`image: supabase/supabase-dev:0.1.9`

and I will work on correcting the tags for future

thanks for catching this

[2020-06-01 11:08] awalias commented on #87
@Cmarenburg i've now pushed the `latest` tag: https://hub.docker.com/layers/supabase/supabase-dev/latest/images/sha256-5d84a1c145f4a2049680807b55379d5044b07783ecc38f63a18d7c1d32e03312?context=repo

it should work now

[2020-06-01 11:08] #87 closed

[2020-06-01 14:42] VictorioBerra commented on #86
This does help, this means that I can poll those until they return true.

Consider a use case for say, an ExpressJS app. You would want to launch your Express app but not start accepting requests until all your sockets were connected and ready.

[2020-06-01 14:49] kiwicopple commented on #86
That's good to hear @VictorioBerra . I think it's a good start but could definitely be improved. I'll leave this open for now and if I get time I'll check out what can be done to improve it (although judging from Angelico's comments it will be a large change so it could take time)

[2020-06-01 23:05] JCKodel commented on #6
MSSQL

[2020-06-01 23:07] JCKodel commented on #5
Flutter (Dart): I have a 3 million download app that I'm rewriting. Currently, I use a framework for MSSQL I've created (basically, RPC for Stored Procedures and offline-first sync SQLite <-> MSSQL). I will use Supabase, so I can help writting and/or testing a client for Flutter.

[2020-06-02 03:33] kiwicopple commented on #6
Thanks for all the interest here.

Just a small update that we are 100% committed to Postgres right now. And we're deeply integrating with some of the features Postgres has to offer (particularly auth). Cockroach is interesting to us since it's wire-compatible, but we still have a lot of features to build and supporting even 2 databases will slow us down immensely.

Keep the suggestions coming tho

[2020-06-03 12:48] #83 closed

[2020-06-03 14:29] mandarvaze commented on #5
Elixir

[2020-06-03 19:54] tomlarkworthy commented on #64
Worth a look https://opensource.google/projects/cel

[2020-06-03 20:29] SUPERTEMPO commented on #5
JavaScript

[2020-06-03 23:03] orcchg commented on #5
Android SDK (written in Kotlin in a way compatible with Java)

[2020-06-03 23:08] aridwiprayogo commented on #6
Redis

[2020-06-04 00:31] kiwicopple commented on #5
Hey @SUPERTEMPO we have Javascript!

Docs are here: https://supabase.io/docs/library/getting-started
Repo is here: https://github.com/supabase/supabase-js

[2020-06-04 00:47] kiwicopple commented on #64
Nice one @tomlarkworthy. I just had a very quick skim so doing a brain-dump here to loop back on later).

- Intro: https://github.com/google/cel-spec/blob/master/doc/intro.md
- Looks most useful for AuthZ - pros/cons over PG RLS?
- From this intro, it looks like it's built for Protobuf. Will need to verify and then see if/how that could fit with PostgREST+Realtime (convert data).
- Cross referenci

[2020-06-04 03:18] KoreyPeters commented on #84
Thanks for your help everyone,
After investigating the links provided, I modified the default rollup.config.js file generated by Svelte to the following:
[code]
I only modified the two lines, and was able to get the sample project running, the console showed that the listener had connected, and when I created some models in my Django database I saw the updates arrive!

I'm very pleased with this.

[2020-06-04 03:18] #84 closed

[2020-06-04 03:49] kiwicopple commented on #84
thanks @KoreyPeters, it's always pleasant to get nice feedback in github issues

If your repo is small and public, please do share - I'd love to add it to the examples folder for future svelte users

[2020-06-04 18:33] KoreyPeters commented on #84
I'll consider that. It's not much of anything yet and I don't know what it will become... But i intend to be active in this community. As I said, this is a product I've been wanting for a long time.

[2020-06-05 04:33] kiwicopple opened #89 "Add Stackshare link to our footer"
We were somehow picked up by Stackshare, so we should add the link to our footer in the "Community" section: https://stackshare.io/supabase

(While we're at it, we should add the Product Hunt link).

[2020-06-05 08:31] kiwicopple commented on #65
See my notes here: https://paul.copplest.one/blog/realtime-user-store.html

A customer just sent a video with some interesting insights: https://youtu.be/WxK11RsLqp4?t=3180

[2020-06-08 03:51] vikasr111 opened #92 "Postgres connection url to connect with BI tools"
* **I'm submitting a ...**
[ ] question about how to use this project

* **Summary**
Where can I access the Postgres connection URL to connect the Db with Metabase or PowerBI in order to analyze the data easily?

* **Other information** (e.g. detailed explanation, stacktraces, related issues, suggestions how to fix, links for us to have context, eg. StackOverflow, personal fork, etc.)

[2020-06-08 04:38] kiwicopple commented on #92
You can definitely do this - it's just a Postgres instance underneath.

Simply go to the settings icon here:

![image](https://user-images.githubusercontent.com/10214025/83993041-d9054580-a984-11ea-8504-57d2129a48bd.png)

Then "Database" in the sidemenu:

![image](https://user-images.githubusercontent.com/10214025/83993066-e7ebf800-a984-11ea-9b02-3630fbd6e202.png)

[2020-06-08 04:38] #92 closed

[2020-06-08 07:08] Exploringtechnologies commented on #89
i want to work in this issue

[2020-06-08 07:46] kiwicopple commented on #89
Go for it @Exploringtechnologies ! you can just add the link here: https://github.com/supabase/supabase/blob/e7ca3063ec6e9028c91384547bd8ed75831bf981/web/docusaurus.config.js#L143

[2020-06-08 13:09] kiwicopple opened #94 "Show table columns for empty tables"
Inside the table view, we should show the columns for a table even when there are no rows.

Thanks for the feedback @sieglerz.

[2020-06-08 13:12] kiwicopple opened #95 "Ability to save queries/snippets on the SQL page"
Requested by @sieglerz

At the moment the queries/history are lost when a user navigates away from the page. We should allow them to save/store/persist the snippets.

BTW sieglerz, this is definitely in the pipeline, but a bit lower on the priorites. Long-term we will offer custom-built dashboards, made of queries/graphs etc

[2020-06-11 11:36] #89 closed

[2020-06-15 11:28] itsezc commented on #6
ArangoDB

[2020-06-15 11:31] gpproton commented on #6
Oracle

[2020-06-16 05:36] soedirgo opened #99 "Confirm Netlify builds are working correctly"
This issue is to track if the Netlify build cron job is working correctly, especially for the traction chart. It's scheduled daily at 0200 SGT, will close if the chart gets updated.

[2020-06-16 05:56] soedirgo opened #100 "supabase.io/oss: Autoupdate Repositories section"
The Repositories section uses a separate set of data from the traction chart. These should get updated at the same time as the traction chart.

[2020-06-17 04:06] soedirgo commented on #99
Seems to work fine, closing this.

[2020-06-17 04:06] #99 closed

[2020-06-18 09:34] #100 closed

[2020-06-19 10:34] kiwicopple opened #105 "Ability to toggle on/off extensions"
We can allow toggling on/off of the extensions in an `extensions` schema, [recommended here](https://stackoverflow.com/questions/12986368/installing-postgresql-extension-to-all-schemas/43937189#43937189), which will avoid polluting the `public` schema. We can also use this schema as a "catch all" for our admin tasks so that we don't pollute the REST API

## Requirements

- [x] set up of `extension

[2020-06-19 15:07] steve-chavez commented on #105
Extensions usually define a placeholder `@extschema`(1) in their install files that allows them to be installed on any schema(`CREATE EXTENSION postgis WITH SCHEMA extensions`). But I've seen some extensions like pipelinedb and timescaledb that install their own schemas(they ignore the `WITH SCHEMA` modifier).

(1): https://www.postgresql.org/docs/12/extend-extensions.html#EXTEND-EXTENSIONS-RELOCA

[2020-06-23 03:26] dragarcia commented on #105
The usage of the schema `extensions` should be okay and viable with a minor tweak to what needs to be done. Wrt to the [SO post](https://stackoverflow.com/questions/12986368/installing-postgresql-extension-to-all-schemas/43937189#43937189):

### Creating the schema
[code]

### Providing rights
[code]
`public` before is a role that [refers to all other roles available](https://www.postgresql.org/do

[2020-06-25 12:07] zhangpengchen opened #107 "Working with documents"
* **I'm submitting a feature request**

* **Summary**
PostgreSQL's JSONB functionality is incredible powerful. Store fields in a JSONB column, adding index/duplicated columns for searching/filtering ofters the flexibility and best performance.

* **Other information**
massivejs had something in place
https://massivejs.org/docs/working-with-documents

[2020-06-25 13:19] kiwicopple commented on #107
Thanks for the request @zhangpengchen

We already support JSONB quite extensively (since we are "just" Postgres). If you create a table with a JSONB column you can do things like this:

[code]

Also, in our next version of the UI (next week) we are starting to support JSON editing in our table view.

Is this what you had in mind? Let me know if there is something else you're looking for.

[2020-06-25 13:33] zhangpengchen commented on #107
@kiwicopple right, i am kind of missing that information in the docs https://supabase.io/docs

So i can insert a record by following?

[code]

[2020-06-25 14:22] kiwicopple commented on #107
Yeah we could be a bit more explicit about this in the docs. I'll keep this issue open as a reminder to update them. We are also working on the auto-generated docs in your Supabase dashboard - from here we will be able to detect the `json` data type

That's exactly right. For more docs, our JS client wraps PostgREST, so you have a lot of functionality at your disposal: http://postgrest.org/en/v7.0

[2020-06-25 14:55] zhangpengchen commented on #107
Thanks @kiwicopple for an amazing project.

[2020-06-26 05:53] kiwicopple opened #108 "Docusaurus build is broken"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**

The docs are not being automatically deployed because the docusaurus is failing.

* **Other information** (e.g. detailed explanation, stacktraces, related issues, suggestions how to fix, links for us to have context, eg. St

[2020-06-26 08:55] kiwicopple opened #109 ""import supabase" snippet in the auto-docs is incorrect"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**

Import snippet in the docs is incorrect

![image](https://user-images.githubusercontent.com/10214025/85839491-938ea800-b7cd-11ea-9e69-4088940fde70.png)

This is supposed to say `import { createClient } from '@supabase/supab

[2020-06-28 05:18] #108 closed

[2020-06-28 08:46] soedirgo commented on #109
Looks like this issue is on the infra side, and @phamhieu already identified and made the [fix](https://github.com/supabase/infrastructure/commit/46345a101bfeb99d3aa9fb1e4fe976cf476845fd).

[2020-06-28 08:53] kiwicopple commented on #109
Nice, will close this one tmr once we deploy

[2020-06-30 00:03] #94 closed

[2020-06-30 00:03] kiwicopple commented on #94
Shipped in June release

[2020-07-02 06:22] #109 closed

[2020-07-11 05:15] ericjeker commented on #70
Started using Supabase yesterday and I love it so far. ❤️
Nothing fancy, I just created a Stackbliz project using just a small Supabase Angular service: https://stackblitz.com/edit/supabase-angular-example

I was looking for a way to create schemas and manage migrations, rollbacking changes, etc... something we can trigger when releasing a new version of an app.

Is that something you guys are als

[2020-07-11 05:41] kiwicopple commented on #70
Hey @ericjeker 👋 Glad you're finding it useful! That's an awesome example application. The first Supabase/Angular implementation I've seen so far actually

Yes, we will eventually release a Supabase CLI & git integration which handles all of this. For now though, you will have to do it through an alternative migration tool (I use [dbmate](https://github.com/amacneil/dbmate)). You can find the data

[2020-07-13 03:35] ericjeker commented on #70
I was thinking about some kind of serverless functions that we could "plug" on the API routes. So they will be on the server-side. A typical use-case for this would be sending an e-mail after a subscription happened (INSERTED) and obviously server-side validation (INSERTING):

-> POST /api/users
1. Trigger INSERTING function or before middleware (authorization, transformation, validation)
2. INSER

[2020-07-13 08:42] kiwicopple commented on #70
This can be done directly in the database using [triggers](https://www.postgresql.org/docs/9.1/sql-createtrigger.html) and we will add a nice UI to make this easy

Also can be done with triggers, although we will have a nice interface for this using our Realtime server which you can wire together "flows". Something like zapier:

![image](https://user-images.githubusercontent.com/10214025/87283129-

[2020-07-13 09:21] ericjeker commented on #70
OK, well, this looks awesome! Can't wait to test it more. 👍
In the meantime I will read about triggers and refresh my Postgres skills.

[2020-07-13 10:04] awalias opened #111 "supabase-js auth interface"
issue to discuss the specification of methods in supabase-js to invoke auth endpoints on `auth/v1`

the endpoints that will be targeted are:
- `auth/v1/signup`
- `auth/v1/login` (actually makes a claim on `auth/v1/token` endpoint)
- `auth/v1/logout`
- `auth/v1/token`? (used to fetch refresh tokens)
- `auth/v1/recover`? (sends recovery email)
- `auth/v1/user`? (returns current user details)
- `auth

[2020-07-13 12:58] kiwicopple commented on #111
Nice one @awalias - I'll start on this piece tomorrow.

@dragarcia is working on the Postgres [JWT extension](https://github.com/supabase/postgres/issues/27), so once we have that I believe we have all the moving pieces, apart from [email](https://github.com/netlify/gotrue#e-mail), which we can set up with SES

[2020-07-13 13:11] awalias commented on #111
there's also an option to disable email and auto-confirm signups - but I think it's a fairly easy to connect up so will keep aiming for email for now

[2020-07-14 06:03] awalias commented on #111
just linking this here https://github.com/netlify/gotrue/issues/255 as the gotrue `/token` interface may change

[2020-07-14 08:54] awalias commented on #111
closing for https://github.com/supabase/supabase-js/issues/3

[2020-07-14 08:54] #111 closed

[2020-07-14 15:17] mmpneo commented on #6
Mnesia

[2020-07-23 01:38] kiwicopple opened #118 "Add OR logic"
* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**

pgrst has [support for OR logic](http://postgrest.org/en/v7.0.0/api.html#horizontal-filtering-rows), it would be good to expose this or document it

`GET /people?or=(age.gte.14,age.lte.18)`

I think in our case we can eithe

[2020-07-23 02:20] soedirgo commented on #118
Related issue: https://github.com/supabase/postgrest-js/issues/44.

[postgrest-rs](https://github.com/supabase/postgrest-rs/blob/8a514e57eec51d9cf2521b0d14340a1ce0a94e81/src/filter.rs#L90-L102) implements this the way your example above works (or/1 & and/1 taking one string), but we might need smarter ways to handle edge cases in the future (e.g. ignore whitespaces except when inside quotes, allow

[2020-07-24 09:18] awalias opened #120 "adding sample image to auth example"
<img width="558" alt="image" src="https://user-images.githubusercontent.com/458736/88377414-b6fb4180-cdd1-11ea-8061-103ec4577b7b.png">

[2020-07-24 09:18] #120 closed

[2020-07-25 06:04] CoLdAs1cE opened #122 "TypeScript Support?"
* **I'm submitting a ...**
- [x] feature request
- [ ] question about the decisions made in the repository
- [ ] bug report
- [ ] question about how to use this project

* **Summary**
i only use typescript,
there was no d.ts included and no @types in npm,
is it possible to add?

[2020-07-27 07:31] #118 closed

[2020-07-30 11:06] kiwicopple opened #130 "Assets"
Issue for hosting images.

[2020-07-30 11:06] #130 closed

[2020-07-30 11:15] kiwicopple commented on #130
![image](https://user-images.githubusercontent.com/10214025/88916135-1b1d7a00-d298-11ea-82e7-e2c18314e805.png)
![image](https://user-images.githubusercontent.com/10214025/88916245-528c2680-d298-11ea-8a71-708f93e1ce4f.png)

[2020-07-30 12:15] kiwicopple commented on #64
This is now fixed and released. Look out for the updates in the latest blog post & newsletter

[2020-07-30 12:15] #64 closed

[2020-07-30 12:18] kiwicopple commented on #82
We no longer have plans to make a mobile friendly dashboard - at least not in the foreseeable future. The reason for this is simple: we need to move fast, and developing for multiple form factors doesn't allow for that.

We will definitely loop back on this at some point, but while we're in alpha, we will focus on desktop only.

[2020-07-30 12:18] #82 closed

[2020-07-31 08:05] kiwicopple commented on #122
Hey @CoLdAs1cE thanks for the patience - end of month so we've been busy releasing.

Surprisingly you're the first person to ask for this. We're trying to ship fast, so we've been very focused on some of the bigger features. Regardless, I think this is a good idea. I'll keep it open and see if anyone in the community is keep to contribute, but if it isn't picked up, we can add it soon

Thanks for

[2020-08-01 00:47] juan040 commented on #6
DynamoDB

[2020-08-01 06:59] miso-belica commented on #6
https://www.yugabyte.com/ is also [compatible with PG](https://blog.yugabyte.com/postgresql-compatibility-in-yugabyte-db-2-0/) but has some [features](https://www.yugabyte.com/yugabytedb-vs-cockroachdb/) [similar to](https://www.cockroachlabs.com/blog/unpacking-competitive-benchmarks/) [CockroachDB](https://blog.yugabyte.com/yugabytedb-vs-cockroachdb-bringing-truth-to-performance-benchmark-claims-

[2020-08-03 15:54] CoLdAs1cE commented on #122
^^, i did search around but didn't see any issue for it or any solution. So i tough since u guys are actively updating, this was not noticed or in any ones thoughts at all. So since many use typescript i though i should let you guys know :)

[2020-08-05 00:45] hgranthorner commented on #122
I wouldn't doing this for the supabase-js library, I've been using it a fair bit.

[2020-08-05 04:03] kiwicopple commented on #122
That would be amazing @hgranthorner, thanks for offering. If you need any help just let us know. Happy to add you to our slack if you have anything to discuss

[2020-08-06 19:22] malobre opened #133 "Auth documentation examples do not work"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question about the decisions made in the repository
- [ ] question about how to use this project

* **Summary**
On https://supabase.io/docs/library/user-management/ the examples for `signup(..)` and `login(..)` are shown to use an object containing an `email` and `password` field as argument but this doesn't work. The object i

[2020-08-06 19:27] awalias commented on #133
thanks for catching: fixed here 76416bc69bebd4113644861cde86675acad25c24

should be live any minute now

[2020-08-06 19:27] #133 closed

[2020-08-06 19:31] malobre commented on #133
Well that was fast, but you forgot to remove the names of the object field :)

[2020-08-06 19:36] awalias commented on #133
haha too fast @malobre 70968af9609af5a1924254668ac525662d9590de

[2020-08-06 19:42] lqmanh opened #134 "Database migrations"
- **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] question about the decisions made in the repository
  - [x] question about how to use this project

- **Summary**
Currently how should I handle database migrations with Supabase? Or is there any plan to support it yet?

[2020-08-06 19:46] awalias commented on #134
hey @lqmanh . We plan to build git integrations which will handle migrations and two-way syncing between git and postgres

in the meantime if you go to the settings page on the dashboard you will find your postgres db details which you can use to run any existing postgres migration tools

[2020-08-06 20:46] sw-yx opened #135 "slack clone example documentation improvement"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project

* **Summary**

hi! in here: https://github.com/supabase/supabase/tree/master/examples/slack-clone#how-to-use

it is not at all clear which is the NEXT_PUBLIC_SUPABASE_URL and which is the NEXT_PUBLIC_SUPABASE_KEY. worse still, the example

[2020-08-07 00:57] ethanpil commented on #5
PHP

[2020-08-07 01:00] helenamerk commented on #5
React Native

[2020-08-07 03:27] benmccann commented on #6
AWS RDS & Aurora

[2020-08-07 03:57] richcorbs opened #136 "Is it possible to use supabase in the browser without a build process?"
* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[x] question about how to use this project

* **Summary**

I'm new to supabase and it looks supa promising. Haha. Can't wait to play with it more especially with authn and authz being added this week!

My project is small and simple and I'm using alpine.js for the client in the bro

[2020-08-07 15:14] StephaneP commented on #6
oufff erlang stuff

[2020-08-09 04:56] awalias commented on #136
great question @richcorbs and something I've been wanting myself as well,

I'll see what we can do this week and will update here

[2020-08-09 05:13] awalias commented on #135
thanks for the heads up @sw-yx

added some clarification 274b413293942719e00007e96b4bf57c8fc27204

[2020-08-09 05:13] #135 closed

[2020-08-09 15:33] awalias commented on #122
https://github.com/manifoldco/swagger-to-ts postgrest open-api spec to TS shared by @thorsten-stripe

[2020-08-09 15:35] awalias commented on #122
adding link to [Supabase-js source](https://github.com/supabase/supabase-js/) for anyone willing to take this on

[2020-08-09 15:40] thorwebdev commented on #122
Might also be helpful to look at how knex.js is doing this:

- http://knexjs.org/#typescript-support
- https://github.com/knex/knex/blob/master/types/index.d.ts

[2020-08-10 11:06] kiwicopple commented on #136
Looks like we're missing some [browser targets](https://babeljs.io/docs/en/babel-preset-env) to the babel file - https://github.com/supabase/supabase-js/blob/master/.babelrc

Here are some alternative steps, if we want to migrate to a TS builder (could also progress this:  https://github.com/supabase/supabase/issues/122#issuecomment-671066956)

1. Change the index.js to index.ts
2. Add a `tsconfig

[2020-08-10 13:22] thorwebdev commented on #136
@richcorbs in the meantime, maybe you can use something lightweight like https://parceljs.org/ to package your vanilla JS app? Here an example: https://codesandbox.io/s/vanilla-supabase-js-with-parcel-j47j4?expanddevtools=1&fontsize=14&theme=dark

[2020-08-13 12:36] thorwebdev commented on #122
@CoLdAs1cE @hgranthorner we've started work on type definitions [here](https://github.com/supabase/supabase-js/pull/18) that should be in a pretty usable state. We'd love for you to test it out and provide feedback. You can just copy the content from the [`index.d.ts`](https://raw.githubusercontent.com/supabase/supabase-js/feat/add-type-definitions/src/index.d.ts) file into your project at `node_m

[2020-08-14 01:21] phamhieu commented on #136
@richcorbs you can use `npm run build:umd` to export standalone supabase.js and use in your project.

[supabase_v0.35.0.js](https://gist.github.com/phamhieu/444060a562a77fe38867c864a43a79e0)

[code]

[2020-08-15 03:08] richcorbs commented on #136
Thanks @phamhieu! I'll give that a try.

[2020-08-17 11:20] kiwicopple opened #142 "Add humans"
Our humans.txt is a bit outdated. https://supabase.io/humans.txt

New humans: Bobbie Soedirgo, Chris Copplestone, Hieu Pham, Joshen Lim, Steve Chavez
We should reorder this to alphabetical.

Contributors: We should add a new contributors section, where anyone who has contributed to the code base can PR themselves (could get messy)

Technology: add GoAuth, remove Nginx (covered by Kong)

[2020-08-17 11:28] kiwicopple commented on #122
❤️  . new docs

![image](https://user-images.githubusercontent.com/10214025/90391415-b2b80080-e0bf-11ea-8a9b-9917b265d45c.png)

[2020-08-17 11:39] kiwicopple commented on #136
@phamhieu do you know how we can push this to unpkg cdn?

We could also add it to the homepage docs, similar to how what Thor did here:

![image](https://user-images.githubusercontent.com/5748289/90049864-07e2c380-dd08-11ea-93ab-870f7822781a.png)

[2020-08-17 12:08] soedirgo commented on #136
We just need to include a `umd` or `dist` folder in the npm package ([ref](https://unpkg.com/#workflow)). There's also https://jsdelivr.com.

I'll try supporting CDNs when I do the transition of postgrest-js & supabase-js to TypeScript.

[2020-08-17 13:22] thorwebdev opened #143 "Document error handling for `supabase.auth.*` methods."
* **I'm submitting a ...**
- docs request for https://supabase.io/docs/library/user-management

* **Summary**
As per https://github.com/supabase/supabase-js/pull/18#issuecomment-674840678 we should document how to handle the errors that are thrown by the auth methods.

[2020-08-17 13:39] malobre commented on #143
Here's a snippet of how I'm handling errors:

[code]
See [`ResponseError`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/superagent/index.d.ts#L90) and [`Response`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/superagent/index.d.ts#L102) for more details.

[2020-08-17 16:10] malobre opened #144 "Multi-factor authentication"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository
- [ ] question about how to use this project

**Summary**
MFA would be a very nice addition to the `auth` module.

I think we should support:
- [ ] [TOTP](https://tools.ietf.org/html/rfc6238) and [HOTP](https://tools.ietf.org/html/rfc4226) (e.g Google Authenticator or FreeOTP)

[2020-08-17 22:43] kiwicopple opened #145 "New Enterprise sponsor: add logo to our repos"
* **I'm submitting a ...**
[ ]  bug report
[ ] feature request
[ ] question about the decisions made in the repository
[ ] question about how to use this project
[x] chore

* **Summary**

We have a new 5K/m sponsor 🎉

- [ ] Logo featured on our homepage: https://supabase.io
- [ ] Logo & name featured on our OSS page: https://supabase.io/oss/
- [x] Logo featured on all the README of all of our repo

[2020-08-18 00:23] phamhieu commented on #136
@kiwicopple you can deploy a new supabase-js npm package and umd should be included already

[2020-08-18 13:22] kiwicopple commented on #130
![New Sponsor](https://user-images.githubusercontent.com/10214025/90518111-e74bbb00-e198-11ea-8f88-c9e3c1aa4b5b.png)

[2020-08-19 06:36] kiwicopple opened #146 "Hacktoberfest Prep"
Long running issue to plan and ideate for Hacktoberfest: https://hacktoberfest.digitalocean.com

## What

Hacktoberfest encourages participation in the open source community, which grows bigger every year. Supabase wants to make it easy for the community to get involved and get rewarded for the contributions.

## Initial tasks

- [x] Create `.github` repo for our org, which can house all the key t

[2020-08-19 06:38] thorwebdev opened #147 "Client & server side method for validating user auth token"
**I'm submitting a ...**
- feature request

**Summary**
It would be great to be able to validate that a user is currently authenticated and for example has a specific role (admin) etc.

**Other information** (e.g. detailed explanation, stacktraces, related issues, suggestions how to fix, links for us to have context, eg. StackOverflow, personal fork, etc.)

This is how Firebase handles this:
- ser

[2020-08-19 06:53] kiwicopple commented on #147
Let me know if I have this one correct - based on the next.js [example](https://github.com/vercel/next.js/blob/canary/examples/with-firebase-authentication/pages/api/getFood.js#L8) the scenario would be:

1. grab the current cookie (either from the browser or the `req`)
2. send to GoTrue
3. GoTrue needs to validate that the JWT is still valid
4. If it is valid, give back the user data (including U

[2020-08-19 07:10] thorwebdev commented on #147
@kiwicopple the workflow I'd want to do is:

1. client: get current authenticated user token
2. client: send request to backend with user token
3. server: validate the user token and get their uid (now I know that they are correctly authenticated)
4. server: update their customer details in Stripe or other action we only want to perform for authenticated users.

[2020-08-20 14:00] phamhieu commented on #147
Supabase-js does exactly like your workflow @thorsten-stripe with this method `supabase.auth.user()`

We should expose auth api on the docs https://supabase.io/docs/library/user-management. Right now, User Management docs seems magical and limited with only supabase-js how-to.

[2020-08-21 03:52] kiwicopple commented on #144
Tracking this with the Netlify team - we will see if we can add this and merge it into their server.

We're in the process of catching up our UI to GoTrue's full API potential, so this will likely be a task for next month's release.

[2020-08-21 03:54] kiwicopple commented on #143
This is very helpful @malobre, thanks!

[2020-08-21 04:26] kiwicopple commented on #143
Since we are now all-in on TS, we will have to add tabs to our library docs:
https://v2.docusaurus.io/docs/markdown-features/#tabs

We already have tabs in the dashboard auto-docs, so I will add this snippet their first.

I think the library docs will need to be revisited to make it multi-lingual in another task (possible hacktoberfest task)

[2020-08-21 08:19] malobre commented on #143
Are the server responses format documented ? If they are I couldn't find them otherwise they should definitely be added to the doc at some point. It would make it easier to display accurate errors to the user (e.g. this mail address is already used, password too short, etc).

[2020-08-24 08:30] thorwebdev opened #150 "Example: RedwoodJS"
# Feature request

## Describe the solution you'd like

Add an example that shows how to use Supabase with [RedwoodJS](https://redwoodjs.com).

## Additional context

There is already some activity on this: https://community.redwoodjs.com/t/supabase-redwood-experiments/1088/9

[2020-08-24 08:39] thorwebdev opened #151 "Example: Blitz.js"
# Feature request

## Describe the solution you'd like

Example app that shows usage of Supabase with [Blitz.js](https://blitzjs.com/).

## Additional context

Blitz ships with Prisma by default but is backend agnostic. Here an example of Blitz with Knex: https://github.com/blitz-js/blitz/tree/canary/examples/no-prisma. We should send a PR to add a Supabase + Blitz example in that folder as well.

[2020-08-24 09:13] peterp commented on #150
@Tobbe seems like you should contribute this in October!

[2020-08-24 09:17] thorwebdev commented on #150
Definitely no requirement to do this in October, just tagging it with the `hacktoberfest` label in case folks are looking for projects to do during Hacktoberfest :) But of course any and all contributions are welcome at any time of the year ❤️

[2020-08-24 09:22] peterp commented on #150
Ah, great point, I was just thinking about the cool internet points and swag that he could acquire... I also actually thought October was the upcoming month 🤦‍♂️

[2020-08-24 11:14] Tobbe commented on #150
I will PR it. Might get to it before October. But if not, I'll do it during Hacktoberfest for the extra internet points 🍺

[2020-08-24 11:47] #145 closed

[2020-08-24 11:47] #142 closed

[2020-08-25 07:14] kiwicopple commented on #143
I'm going to close this with a PR that resolves the docs.

At some point I investigate using [gotrue-js](https://github.com/netlify/gotrue-js) which is more feature-rich own JS library and then improving errors further. Unfortunately it will mean yet another "http" library (superagent + micro-api-client).

Migrated this here: https://github.com/supabase/gotrue/issues/5

[2020-08-25 07:15] #143 closed

[2020-08-25 08:38] thorwebdev commented on #143
@kiwicopple thanks for the error handling docs! However, we should probably improve the shape of the error being thrown.

As it stands today, you have to do
[code]
to get to the error message.
We might even want to consider not throwing an error at all to not stop the rest of the javascript from executing. E.g. my preferred DX would be

[code]

However, I know that @awalias is a big fan of returni

[2020-08-25 08:47] kiwicopple commented on #143
thanks for opening the new issue - I agree with you on the DX needing improvement here. let's chat over there

[2020-08-25 09:20] thorwebdev commented on #147
Thanks @phamhieu, yes, we'll need to document the server-side side of things. And potentially should think about "admin" auth methods that can be used in a server context, because `supabase.auth.user()` relies on the client-side cookies/localStorage, right?

[2020-08-27 13:55] #122 closed

[2020-08-27 13:56] kiwicopple opened #155 "Add usage with UMD section"
We have now added UMD support to use supabase in a website:

unpkg.com/@supabase/supabase-js/umd/supabase.js

We should add a section for usage, just like the TypeScript section here:

![img](https://user-images.githubusercontent.com/5748289/90049864-07e2c380-dd08-11ea-93ab-870f7822781a.png)

[2020-08-28 08:17] phamhieu commented on #147
`because supabase.auth.user() relies on the client-side cookies/localStorage, right?`
--> yes, you're right

supabase gotrue api endpoint is at `{SUPABASE_UR}/auth/v1`. While waiting for Supabase document to be updated, you can try https://github.com/netlify/gotrue

[2020-08-29 07:18] kiwicopple opened #159 "Update docusaurus to v2.0.0-alpha.62"
# Feature request

## Is your feature request related to a problem? Please describe.

- Docusaurus just added TOC's to blog posts: https://github.com/facebook/docusaurus/pull/3274 - We have this, but we can remove our custom implementation now and use the built-in functionality.
- Looks like we can ignore pages now (https://github.com/facebook/docusaurus/pull/3196/files/4457a2e938bd9412bddafb5088a

[2020-08-29 12:10] kiwicopple commented on #136
Hey @richcorbs, this is now done! Check out our homepage

![image](https://user-images.githubusercontent.com/10214025/91636493-a2931000-ea33-11ea-86d5-796124711b76.png)

[2020-08-29 12:10] #136 closed

[2020-08-29 23:39] #155 closed

[2020-08-31 00:35] zlwaterfield opened #160 "Typescript type check 'SupabaseQueryClient' for '.eq' is failing"
# Bug report

## Describe the bug

I am running a type check on my class and it is throwing a type error on the '.eq' call.

Here is my class:
[code]

The typecheck is throwing: `Property 'eq' does not exist on type 'SupabaseQueryClient<Invitation>'.`

<img width="1049" alt="Screen Shot 2020-08-30 at 8 29 29 PM" src="https://user-images.githubusercontent.com/6392501/91673037-fd923900-eaff-11ea-963

[2020-08-31 07:59] thorsten-stripe commented on #160
@zlwaterfield thanks for reporting this, with TypeScript support we've decided to enforce a method chaining hierarchy, meaning you will have to switch the chaining sequence to put the `delete/update` operation before the filter method:

[code]

@kiwicopple it looks like we missed to update the docs for `delete` and `update`.

[2020-08-31 11:51] zlwaterfield commented on #160
@thorsten-stripe, great thanks for the clarification. I can make a PR to update the documentation.

[2020-08-31 12:08] zlwaterfield commented on #160
Here is a PR for the documentation fix: https://github.com/supabase/supabase/pull/161

[2020-08-31 12:20] kiwicopple commented on #160
Fixed by https://github.com/supabase/supabase/pull/161

[2020-08-31 12:20] #160 closed

[2020-08-31 13:48] zlwaterfield opened #162 "Link to documentation from dashboard"
# Improve documentation

Currently, there is no link to the documentation on the dashboard. I need to open a new tab, go to the homepage, and click on documentation. I think it should be added to the dashboard for quick access.

What are your thoughts on adding it to the right side of the nav beside the feedback input?

![Screen Shot 2020-08-31 at 9 46 56 AM](https://user-images.githubusercontent.

[2020-08-31 13:54] zlwaterfield opened #163 "Request to change unauthenticated dashboard root to be the login screen"
# Question

I found it a bit odd to have a 'homepage' on the root of the dashboard when the user is logged out. Currently, when you click login on https://supabase.io/ it goes here:
![Screen Shot 2020-08-31 at 9 49 42 AM](https://user-images.githubusercontent.com/6392501/91727324-8a281000-eb6f-11ea-963b-59feeb5bc526.png)

Issues with this:
 - Requires managing two static homepages (app.supabase.io

[2020-09-01 08:36] #49 closed

[2020-09-01 08:36] #107 closed

[2020-09-01 08:36] #159 closed

[2020-09-01 08:55] kiwicopple opened #168 "Blog mp4's not working"
# Bug report

## Describe the bug

When i visit https://supabase.io/blog/2020/08/05/supabase-auth on my iPhone, the auto-playing videos don't work. I'm curious if this is because my phone is too old, or if all iPhones are affected.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to https://supabase.io/blog/2020/08/05/supabase-auth
2. Check if

[2020-09-01 09:23] soedirgo commented on #168
In my phone & Mac, the first video worked fine in Safari, but not the rest. FWIW, the native iOS/macOS video player has always been pretty janky for me, so this felt like an iOS/macOS problem.

All the videos worked fine on Firefox.

System info:

iPhone SE (iOS 13.6.1)
MBP 15 (macOS 10.15, Safari 13)

[2020-09-01 10:37] awalias opened #169 "Built with Supabase Site"
This is a Hacktoberfest task!
You can read more about Hacktoberfest [on our blog](https://supabase.io/blog/2020/09/11/supabase-hacktoberfest-2020) and see all tasks on our [Hacktoberfest Project Board](https://github.com/orgs/supabase/projects/5).

# Summary

We need a "Built with Supabase" showcase site

A showcase of sites and services that are built on Supabase with

## Details

Some ideas:

-

[2020-09-01 10:57] kiwicopple commented on #169
Some inspiration

- Docusaurus https://v2.docusaurus.io/showcase/
- Next.js https://nextjs.org/showcase
- Bulma: https://bulma.io/expo/
- Gatsby: https://www.gatsbyjs.com/showcase/

My vote would be on a PR system

[2020-09-01 12:35] kiwicopple commented on #168
Looks like react was dropping `playsinline`. Had to convert it to `playsInline`

[2020-09-01 12:41] kiwicopple commented on #168
Strange

Works on the preview deploy - https://5f4e3f77df51c60008dccc9f--supabase.netlify.app/blog/2020/08/05/supabase-auth

Doesn't work on new deploy - https://supabase.io/blog/2020/08/05/supabase-auth/

Could a cloudflare/caching issue now?

[2020-09-01 12:46] kiwicopple commented on #168
Possible cloudflare issue: https://community.cloudflare.com/t/mp4-videos-not-working-on-safari/50818/2

except that cloudflare is acting as a DNS only

<img width="185" alt="image" src="https://user-images.githubusercontent.com/10214025/91852891-04ea4b80-ec94-11ea-9da3-0f7cae0c1a73.png">

SO discussion: https://stackoverflow.com/questions/27712778/video-plays-in-other-browsers-but-not-safari

[2020-09-01 13:05] kiwicopple commented on #168
Not sure why it would be different between the preview deploy and prod (certificates?), but perhaps we can add a [header to netlify](https://docs.netlify.com/routing/headers) with the corrections outlined here:

https://stackoverflow.com/questions/32996396/safari-9-0-can-not-play-mp4-video-on-the-storage-server/32998689#32998689

[2020-09-01 15:06] inbytesdevteam opened #171 "User can't scroll vertically or horizontally in the TABLE Tab when inputing data to the table."
# Bug report
User can't scroll vertically or horizontally in the TABLE Tab when inputing data to the table.

## Describe the bug
When trying to add or view data in the Table format, user can't scroll vertically or horizontally to see all the data. It seems to be disabled.

## To Reproduce

FOR VERTICAL SCROLLING ISSUE:

1. Choose the Lightning Icon in the menu on the left side bar.
2. Select the '

[2020-09-02 00:25] kiwicopple opened #172 "Table sizes are confusing"
# Bug report

## Describe the bug

We've had a lot of feedback on the `/database/tables` page

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to a project
2. Click on the database icon

## Expected behavior

We should make the graphs a % of 15 GB (we can hard code this for now). This is approximately the size of each server (20GB - postgres +

[2020-09-02 01:18] amorriscode commented on #150
While it's not a Redwood/Supabase example, I did create an auth generator over here: https://github.com/redwoodjs/redwood/pull/1033

[2020-09-02 03:31] phamhieu commented on #168
@kiwicopple can you try to rename the video files (adding number suffix...) and deploy again?
i often do that to bypass caching issue.

[2020-09-02 05:00] #168 closed

[2020-09-02 05:04] kiwicopple commented on #168
Looks like that worked @phamhieu 🎉

Thanks!

[2020-09-02 08:06] kiwicopple commented on #105
@phamhieu could also be an easy one on the dashboard:

1. Turn on an extension in the `extensions` schema:

https://github.com/supabase/pg-api/blob/1c10b942cddd47c90d5c3f82457a44868f1e1205/test/integration/index.spec.js#L398

2. Turn off an extension:

https://github.com/supabase/pg-api/blob/1c10b942cddd47c90d5c3f82457a44868f1e1205/test/integration/index.spec.js#L423

Thoughts on a popup confirmat

[2020-09-02 10:50] kiwicopple commented on #171
Hey @inbytesdevteam! I can't seem to replicate this on my Mac (chrome). Am I looking in the same place as you?

![Sep-02-2020 18-48-13](https://user-images.githubusercontent.com/10214025/91972283-0b88c980-ed4d-11ea-9614-c96266fe0244.gif)

[2020-09-02 10:59] kiwicopple commented on #163
Seems sensible, less to maintain.

I'll rethink this one

[2020-09-02 11:07] kiwicopple commented on #162
I'm a big fan of minimal clutter. Little helper links like this add up over time and you end up with little icons and links everywhere.

Ideally our auto-generated docs can become a better resource than the docs on supabase.io - especially since they get the privilege of an entire icon on the sidebar. I'm guessing you're going to supabase.io because the auto docs aren't detailed enough yet?

[2020-09-02 14:09] zlwaterfield commented on #162
Correct, that is a good point since there are auto-generated docs it may make more sense to document the shortcomings of them and update them so they are sufficient. I will close this and come up with a list of things that may be needed for parity.

[2020-09-02 14:09] #162 closed

[2020-09-02 14:45] inbytesdevteam opened #175 "What's the best way to migrate firestore db to supabase?"
# Question
What's the best way to migrate firestore db to supabase?

## Additional context
We are trying out supabase to become our backend. We have some data already stored in our firestore db but it is in NoSQL.

So our strategy is:
- Extract all our db into a JSON format.
- Convert the JSON data types to match supabase DB fields and data types.
- Upload the updated JSON db to supabase table usi

[2020-09-02 15:23] awalias commented on #175
hey @inbytesdevteam

I think your current approach is most likely the best one. We are about to ship a CSV to SQL Table converter but I think if you're going to the effort of converting to CSV then you may as well just convert directly to Supabase.

We haven't attempted this migration path ourselves yet and will be keen to hear how you get on, I will leave this open to see if anyone else on the te

[2020-09-02 16:15] inbytesdevteam commented on #171
Hi @kiwicopple

Here's a demo of the actual bugs. GIF divided into 4 parts:

**WITH DATA IN TABLE**
1. With data/row - horizontal scrolling - OK
2. Adding a new row - vertical scrolling on the left side view - NOT OK

**WITHOUT DATA IN TABLE**
3. Without data/row - horizontal scrolling - NOT OK
4. Adding a new row - vertical scrolling on the left side view - NOT OK

![Supabase bug](https://user-im

[2020-09-02 18:08] thorwebdev commented on #175
@inbytesdevteam is your data in Firebase Realtime DB or Cloud Firestore?

If Realtime DB, the following workflow might work:
- Export your Data as JSON (Go to Firebase console > Database > Realtime Database and click on Export JSON)
- Set up a hasura graphql engine and set your Supabase database as `DATABASE_URL` env var: https://github.com/hasura/graphql-engine#other-one-click-deployment-options

[2020-09-02 18:34] inbytesdevteam commented on #175
Hi @thorwebdev we are currently using Cloud Firestore.

For Cloud Firestore, I am using [firestore-export-import](https://www.npmjs.com/package/firestore-export-import) to export it to JSON format.

I just need to redesign the JSON output to have the same fields in our supabase db and convert the timestamp to be the same data type as well.

I do have a question about the data types allowed in Supa

[2020-09-02 20:50] inbytesdevteam opened #176 "Query Set Timezone is not changing the PostgresSQL default timezone"
# Bug report
`Set Timezone` is not working

## Describe the bug
Unable to change timezone of the database. Querying of `SET TIMEZONE` is successful but when you do `SHOW TIMEZONE`, it is still UTC.

## To Reproduce

1. Go to the SQL Query Editor
2. Query `SET TIMEZONE='Asia/Manila'` or `SET TIMEZONE=-8` or `SET TIMEZONE=`PST`
3. Results: **Success. No rows returned**
4. Query `SHOW TIMEZONE`
5. Re

[2020-09-02 23:02] zlwaterfield opened #177 "JWSInvalidSignature error"
# Bug report

## Describe the bug

I am seeing an odd error that I was not seeing before. All my authenticated requests are 401ing with: "JWSError JWSInvalidSignature". It was working and I have not changed anything that would affect this, I even reset my code back to when I know it was working to confirm I didn't break it. The only change I made was updating the name of my project in the Supabase

[2020-09-03 00:34] kiwicopple commented on #171
Aha! The gif is perfectly clear - thanks @inbytesdevteam

@joshenlim FYI

[2020-09-03 00:55] kiwicopple commented on #177
So sorry about this @zlwaterfield, digging now.

This seems like a good lead. Is your service key working still? A few other possibilities we are investigating:

- Your JWT secret was changed - it is definitely still there, so I can only think that it might have been changed.
- The JWT has been dropped/changed in the middleware - @awalias any updates rolled out to KPS last night ?

Interesting I c

[2020-09-03 03:33] kiwicopple commented on #177
Follow up, looks like the JWT is encoding a stringified JSON object

[code]

![image](https://user-images.githubusercontent.com/10214025/92068323-36b8fa80-edd9-11ea-896d-a4eee6ba7971.png)

Still investigating how/where this one came from

[2020-09-03 07:04] kiwicopple commented on #175
Hey @inbytesdevteam, I did this in my previous startup. It is pretty much the origin story of Supabase.

There are 2 considerations:

1. Migrating your data
2. Keeping both systems in sync (if you cannot make a clean switch over, and you have to run them in parallel)

### 1. Migrating your data

You've got the right idea. The steps are:

1. Export your data from Firebase. I used [firestore-backup]

[2020-09-03 08:07] awalias commented on #177
this was actually quite an elusive bug. thanks for catching @zlwaterfield . The issue was that when the disable email confirmation switch was toggled, the auth api server config was getting overwritten but the jwt_secret was not being set and was therefore falling back to a default value silently. This has now been patched in prod, thanks for investigative work all.

[2020-09-03 08:07] #177 closed

[2020-09-03 16:04] zlwaterfield commented on #177
Amazing thank you @awalias, I've confirmed it is working on my project.

[2020-09-04 00:19] kiwicopple opened #179 "docs: Subscriptions - add instructions for listening to row level changes"
# Improve documentation

## Link

https://supabase.io/docs/library/subscribe

## Describe the problem

There are no instructions for listening to row-level updates/inserts/deletes

## Describe the improvement

We need to add the details listed in the readme of the realtime repo: https://github.com/supabase/realtime

[code]

## Additional context

I'd have to dig into `supabase-js`, but I suspect i

[2020-09-05 03:22] richcorbs opened #180 "Multiple policies"
# Question

Is it possible to have multiple separate policies on a single table?

## Additional context

- I tried to add separate policies for SELECT and for INSERT.
- The "Apply to SELECT' policy was added first and successfully saved.
- Adding the "Apply to INSERT" policy did not save.
- Both policies had policy rule of `(role() = 'authenticated'::text)`.

[2020-09-05 09:38] thorwebdev commented on #147
Quick papertrail update from yesterday:

This issue relates to: https://github.com/supabase/supabase-js/issues/20

We've made the decision to allow passing of the JWT to the `user` method which will allow validating and retrieving a user server-side based on a JWT sent from the client:

[code]
success response:
[code]
error response:
[code]

@kiwicopple can you link the forked "gotrue-js" spec onc

[2020-09-05 14:40] richcorbs commented on #180
A few more data points that might help narrow it down.

- Adding an "Apply to DELETE" policy worked.
- Adding an "Apply to UPDATE" policy worked.
- Both policies were added with a policy rule of `auth.role() = 'authenticated'`
- Adding an "Apply to INSERT" policy still does not work.

[2020-09-05 14:42] richcorbs commented on #180
Also, after clicking "Save" an empty red policy box is displayed in the Policies portion of the UI for a few seconds before disappearing.

[2020-09-05 17:11] inbytesdevteam opened #181 "Boolean value not showing in the table unless the cell is double clicked"
# Bug report
Boolean value not showing in the table unless the cell is double clicked.

## Describe the bug
Boolean value not showing in the table. The value is actually there and would only be visible if you double clicked the cell.

## To Reproduce

1. Push code to supabase db with a boolean data type.
2. Data will be pushed.
3. Go to the Table and check the value
4. No value is shown unless you

[2020-09-05 17:25] inbytesdevteam commented on #175
Thanks @kiwicopple. Cool to know that this is the origin story of Supabase and thanks for the data types reference. Was looking into what types we can use.

Thanks @thorwebdev and @kiwicopple for the help. We were able to easily move our db from firestore to supabase :)

[2020-09-05 18:42] thorwebdev commented on #175
@inbytesdevteam that's awesome to hear 🎉

Would you mind outlining the process you went through to make it happen? Did you end up writing a custom script? And if so, could you add it to the [examples](https://github.com/supabase/supabase/tree/master/examples)? This would be super useful for others :)

[2020-09-06 02:46] kiwicopple commented on #180
Hey @richcorbs thanks for the detailed issue. We actually have a long-running internal task to overhaul the policies interface. We plan to make it much simpler.

For the `select` clause, are you adding the `(role() = 'authenticated'::text)` to `POLICY` or to `CHECK`? Can you try adding it to `CHECK` and let me know if that works.

This is caused by a hidden Postgres error. If you inspect the respo

[2020-09-06 02:47] kiwicopple commented on #181
thanks @inbytesdevteam ! Fixing in the next release

[2020-09-06 03:59] richcorbs commented on #180
Adding the rule to the "Check" instead of to the "Policy" worked just like you suggested would. Thanks for the response!

Do you know a good resource for learning the ins and outs of Postgres? I had no idea that policies and checks worked that way. I looked at Udemy courses the other day and nothing jumped out to me.

An updated policies interface sounds great.

Also, I want to figure out how to u

[2020-09-06 04:20] kiwicopple commented on #180
Once you get your head around the format of the Postgres docs, it's an amazing resource: https://www.postgresql.org/docs/current/sql-createpolicy.html

Supabase will do a lot of work here to make Postgres more approachable. It's not too difficult to understand, but the concepts can be a bit foreign (Row Level Security in particular)

No probs! This is where policies really shine. Just imagine that

[2020-09-06 04:22] kiwicopple commented on #176
Hey @inbytesdevteam can you try running this on your database?

[code]

[2020-09-09 13:37] jayehernandez opened #190 "Complicated PSQL Queries"
# Question

Exploring Supabase for a project now, so far it's easy to use. Thanks for this!

Since it's using Postgres, I was wondering if it is possible to do complicated queries with it? Something like a subquery in the `from()` clause?

## Additional context

I'm trying to get the months list from a table (events) based on it's start date. Used [this](https://stackoverflow.com/questions/3144865

[2020-09-09 14:14] kiwicopple commented on #190
Unfortunately you can't do it that way as it would probably open up the possibility of SQL injection.

But it can be done! You can just create a view on your data, and you can `select()` that. Something like this:

[code]

then you can query it with `supabase-js`:

[code]

Let me know if that works for your use-case!

[2020-09-09 14:18] AbhigyanKumar commented on #5
# C++

[2020-09-09 14:19] AbhigyanKumar commented on #5
# Microsoft .NET framework

[2020-09-10 01:29] Immortalin opened #191 "Bug in website: organization name not appearing"
When creating a new project and selecting a pre existing Organization, the organisation shows up as undefined (top left hand corner of the nav/crumb trail) in the project password input screen. (Safari, iPadOS)

[2020-09-10 02:31] kiwicopple commented on #191
Good one @Immortalin !

![image](https://user-images.githubusercontent.com/10214025/92674851-c407cc00-f350-11ea-93f0-c8786962b4e0.png)

@phamhieu can I get you to look at this one?

[2020-09-10 08:18] thorwebdev commented on #146
## More tasks

- [ ] Submit our Hacktoberfest meetup to https://hacktoberfest.digitalocean.com/events (done, waiting on approval from MLH)
- [ ] Create HF project board and add issues from brainstorming session
- [ ] Create blogpost to explain HF and our involvement

[2020-09-10 13:33] jayehernandez commented on #190
Yes this works perfectly. Thanks for replying so quickly!

[2020-09-10 13:35] kiwicopple commented on #190
No probs! I'll close this for now but feel free to reopen if you have any questions

[2020-09-10 13:35] #190 closed

[2020-09-13 06:26] kiwicopple opened #194 "Improve our logo"
This is a Hacktoberfest task!
You can read more about Hacktoberfest [on our blog](https://supabase.io/blog/2020/09/11/supabase-hacktoberfest-2020) and see all tasks on our [Hacktoberfest Project Board](https://github.com/orgs/supabase/projects/5).

# Summary

Don't like our logo or think you can do better? Why not give it a go? Add your ideas as a comment below!

![image](https://user-images.githu

[2020-09-13 06:37] kiwicopple commented on #151
This is a Hacktoberfest task!
You can read more about Hacktoberfest [on our blog](https://supabase.io/blog/2020/09/11/supabase-hacktoberfest-2020) and see all tasks on our [Hacktoberfest Project Board](https://github.com/orgs/supabase/projects/5).

[2020-09-13 06:53] kiwicopple opened #195 "Create a Supabase Design System"
This is a Hacktoberfest task!
You can read more about Hacktoberfest [on our blog](https://supabase.io/blog/2020/09/11/supabase-hacktoberfest-2020) and see all tasks on our [Hacktoberfest Project Board](https://github.com/orgs/supabase/projects/5).

# Summary

[Design systems](https://uxdesign.cc/what-the-heck-is-a-design-system-c89a8ea73b0d) guide how a product looks and operates. As our product s

[2020-09-13 07:06] kiwicopple opened #196 "Create a Supabase Component Library"
This is a Hacktoberfest task!
You can read more about Hacktoberfest [on our blog](https://supabase.io/blog/2020/09/11/supabase-hacktoberfest-2020) and see all tasks on our [Hacktoberfest Project Board](https://github.com/orgs/supabase/projects/5).

# Summary

[Component Libraries](https://sunscrapers.com/blog/when-to-use-a-ui-component-library-in-a-react-project/) give products a consistent look &

[2020-09-14 11:24] rishavs opened #198 "Community Chat"
Does Supabase have any community chat server like Discord/Gitter/Slack etc?
Essentially a place where we can talk about the project and can have a real time discourse among the users?

[2020-09-14 12:58] kiwicopple commented on #198
We're patiently waiting for GitHub to give us access to [GitHub discussions](https://github.blog/2020-05-06-new-from-satellite-2020-github-codespaces-github-discussions-securing-code-in-private-repositories-and-more/#discussions)..

We plan to center everything around our GitHub org. However, if you're already building a project with Supabase let us know and we can do a Shared Org on slack, or inv

[2020-09-14 13:14] rishavs commented on #198
Thanks. Closing this item then. Right now I am just playing with hello world projects. If I feel I need more help and would need to get into the slack, i will drop a separate ping.

[2020-09-14 13:14] #198 closed

[2020-09-14 13:14] kiwicopple commented on #198
Nice one, thanks @rishavs . Let us know if you build anything cool - we'll release a showcase soon

[2020-09-15 03:22] phamhieu commented on #76
https://pub.dev/packages/postgrest

@sashvoncurtis you're welcome to try the new `postgrest` client written in Dart. You can use it with Supabase api

[code]

[2020-09-15 10:39] sashvoncurtis commented on #76
@phamhieu this is  awesome!  Will give it a try. Thanks  :)

[2020-09-15 10:39] #76 closed

[2020-09-16 00:43] kiwicopple opened #202 "bug: SQL editor falsely giving success message"
# Bug report

(From our community)

## Describe the bug

Errored "commands" are currently showing as success. e.g the screenshot says "Success":

![image](https://user-images.githubusercontent.com/10214025/93278789-31f03f80-f7f8-11ea-8b53-c77be03d0aea.png)

Likely it is caused by the `number` type.

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a reposit

[2020-09-16 05:30] kiwicopple commented on #191
@phamhieu has fixed this now @Immortalin 🚢

Thanks for spotting it

[2020-09-16 05:30] #191 closed

[2020-09-16 08:17] sarupbanskota commented on #202
![image](https://user-images.githubusercontent.com/3149580/93310831-db0a5a80-f837-11ea-92f8-dd462c630efd.png)

Here's another example where I tried to drop my "pages" table.

I have another table who has foreign keys depending on pages, and that's why the drop failed. But the result says "success".

Can we pipe the response from PSQL and render that instead?

[2020-09-17 03:39] #4 closed

[2020-09-17 03:40] #5 closed

[2020-09-17 03:41] #134 closed

[2020-09-17 03:42] #70 closed

[2020-09-17 03:43] #65 closed

[2020-09-17 03:45] kiwicopple commented on #172
This is now released. There is still some feedback that it is confusing:

![image](https://user-images.githubusercontent.com/10214025/93417661-3c373a00-f8db-11ea-9bc2-b1731b840c4b.png)

[2020-09-17 03:46] kiwicopple commented on #146
Marking this as closed! All tasks done, we just need to blast it out @thorwebdev . Maybe tonight?

[2020-09-17 03:46] #146 closed

[2020-09-17 05:17] thorwebdev commented on #198
Quick note that we now have launched the community discussions forum: https://github.com/supabase/supabase/discussions

[2020-09-18 00:45] phamhieu commented on #172
Then I will remove individual bar chart on table row item. When users hover on the storage header, I can show a pie chart popup which has detail of each table sizes.

[2020-09-18 03:09] kiwicopple commented on #172
Let's remove the individual bar charts, but don't add the pie chart - that will need some design work to make it fit with the branding. At the moment, less is more

[2020-09-19 07:57] kiwicopple commented on #169
Another possibility is to use GitHub Discussions since we now have access:
https://github.com/supabase/supabase/discussions?discussions_q=category%3A%22Show+and+tell%22

[2020-09-19 17:49] zlwaterfield opened #205 "Request to be able to delete user"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, there is no way to delete users. Previously I was able to do `DELETE * FROM "users" where email = ${email}` but that is no longer working.

## Describe the solution you'd like

Can we enhance the user's table to add the abilities to remove the users?

[2020-09-19 18:13] zlwaterfield opened #206 "Cannot type in Policy Description input"
# Bug report

## Describe the bug

When focusing on the description input it automatically changes to the second input.

## GIF

![Kapture 2020-09-19 at 14 11 59](https://user-images.githubusercontent.com/6392501/93686144-43e51300-fa82-11ea-94c3-46426e746955.gif)

[2020-09-20 02:53] kiwicopple commented on #206
Ah we have a bug in our code editor - I'll release the fix today @zlwaterfield. Thanks for the headsup

[2020-09-21 03:28] kiwicopple commented on #206
Shipped! 🚢

[2020-09-21 03:28] #206 closed

[2020-09-21 03:36] kiwicopple commented on #205
Good idea @zlwaterfield - we should also give the ability to "add" users from the dashboard

Seems odd, but I imagine it's because there is a table referencing the user, so it won't delete the user. If that is the case, you can specify the "referencing" tables to remove rows when you set them up using the `CASCADE` command:

<img width="570" alt="image" src="https://user-images.githubusercontent.c

[2020-09-23 08:22] kiwicopple opened #209 "Example: Todo app using CRA"
# Feature request

## Is your feature request related to a problem? Please describe.

New example use case

## Describe the solution you'd like

- Create a initial React app in `examples/todos-react` using [CRA](https://create-react-app.dev/docs/getting-started)
- Build a todo list app, using Supabase as the backend. Use the [Slack Clone](https://github.com/supabase/supabase/blob/master/examples/s

[2020-09-24 15:49] inbytesdevteam commented on #175
Hi @thorwebdev, sorry for the late revert. I wasn't able to create a custom script since it would be easier for me to set it up by designing each script tailored to the JSON file from Firestore and our db at supabase.

**Step 1: Exporting the Data**

I have used [Firestore-Export-Import](https://www.npmjs.com/package/firestore-export-import) to export the data out of firestore.

**Step 2: Read the

[2020-09-24 15:51] inbytesdevteam commented on #176
Hi @kiwicopple, I tried this but it didn't work. Still UTC.

[2020-09-24 21:09] LinkSake commented on #209
I'm interesting on helping on this issue! But a I've a question
How it should be different from the example given in point 2 of the additional context? It seems that it also used CRA, should it have user management?

[2020-09-25 00:40] kiwicopple opened #213 "Example: Todo app using Vue"
# Feature request

## Is your feature request related to a problem? Please describe.

New example use case

## Describe the solution you'd like

- Create a initial React app in `examples/todos-react` using Vue Js
- Build a todo list app, using Supabase as the backend. Use the [Slack Clone](https://github.com/supabase/supabase/blob/master/examples/slack-clone/README.md) as an example.
- Should incl

[2020-09-25 00:42] kiwicopple opened #214 "Example: Todo app using Next.js"
# Feature request

## Is your feature request related to a problem? Please describe.

New example use case

## Describe the solution you'd like

- Create a initial React app in `examples/todos-nextjs` using Next.js
- Build a todo list app, using Supabase as the backend. Use the [Slack Clone](https://github.com/supabase/supabase/blob/master/examples/slack-clone/README.md) as an example.
- Should in

[2020-09-25 00:43] kiwicopple opened #215 "Example: Todo App using Svelte"
# Feature request

## Is your feature request related to a problem? Please describe.

New example use case

## Describe the solution you'd like

- Create a initial React app in `examples/todos-svelte` using Svelte.js
- Build a todo list app, using Supabase as the backend. Use the [Slack Clone](https://github.com/supabase/supabase/blob/master/examples/slack-clone/README.md) as an example.
- Should

[2020-09-25 00:49] kiwicopple commented on #209
You're right @LinkSake - I will make a couple of adjustments to the initial spec:

- ~~We don't need auth in this one, just keep it simple~~
- Should include logins + policies

and

- ~~Keep it as simple as possible - no additional libraries, minimal styling etc.~~
- Keep it as simple as possible - for styling we can use Tailwind

You can use the the [Slack Clone](https://github.com/supabase/supab

[2020-09-25 01:02] kiwicopple commented on #163
Adding this one to Hacktoberfest - we're welcoming any design suggestions for our "log in" page on app.supabase.io 🎨

[2020-09-25 02:02] bharati-21 commented on #209
Hello @kiwicopple, I am interested in this issue. If this issue has not been assigned would like to work on this!
Also, please do inform me if there is a deadline to complete this.

Thanks and cheers.

[2020-09-25 02:12] LinkSake commented on #209
@kiwicopple Alright, I'll get working on it!

[2020-09-25 06:50] kiwicopple opened #218 "Example: use Supabase in a Webflow project"
# Build an example

## Is your feature request related to a problem? Please describe.

New example use-case

## Describe the solution you'd like

We've had a few people ask if they can use Supabase directly in their Webflow project. We don't know for sure, but we suspect you can if you're on Webflow's paid plan (so that you can add custom code).

You can already use supabase on a static HTML page

[2020-09-25 06:57] kiwicopple commented on #144
I'm moving this to our GoTrue fork - let's see if we can do this during Hacktoberfest 🚢

[2020-09-25 08:04] kiwicopple commented on #176
OK I suspect it needs a full server restart - I tried doing it myself with no luck. However you should be able to alter the timezone individual users/roles:

[code]

Can I ask what is the use case? I would highly recommend keeping the timezone at UTC, then always using the relevant timezone in the timestampz column. Here is a good article, all of which I agree with: https://justatheory.com/2012/04

[2020-09-25 08:06] kiwicopple commented on #176
Also note that we have a special PG user for connecting to your database, so the command above won't actually reflect a change in time zone when you run `SHOW TIMEZONE` from the dashboard (but it will if you connect to your database as `postgres`)

[2020-09-25 10:48] SoldierCorp commented on #213
Hi,

I would like to help I am a VueJS dev, can you assign it to me please?

[2020-09-25 11:03] kiwicopple commented on #213
Amazing @SoldierCorp - I won't need to assign it to you, you can just give it a go and create a PR whenever you're ready :). Have you used Postgres before? Do you need any help with the schema & policies?

[2020-09-25 11:40] SoldierCorp commented on #213
Thank you  @kiwicopple!

I have used Postgres before just in one small project and regarding help with schema & policies, I think I will reach you after I set up all the things I need.

In summary:
- I have to create a Supabase in my account for this Todo Vue.js
- Create the Todo Vue.js project to be uploaded to `examples/todos-vue`
- Connect the example with Vercel for the deploy

Right?

[2020-09-25 12:04] kiwicopple commented on #213
Yes that's pretty much it. I'd check out the [Slack Clone](https://github.com/supabase/supabase/blob/master/examples/slack-clone/README.md). Here's a demo of how it works: https://www.youtube.com/watch?v=2oqIZW5S-lQ&t=1s

If you get stuck at any point though just message me here and I'll help out. If you keep a repo of all your code I could even jump in and add comments :)

[2020-09-25 13:35] SoldierCorp commented on #213
Sounds good :)

[2020-09-25 13:44] inbytesdevteam commented on #176
In Firestore, if you'd be updating the date inside the Firebase Console (website), it automatically sets it's timezone based on your timezone. Making it easier for you to add the correct date and time you have in mind.

Now if we are going to use the TABLE in Supabase to add/update dates and i'm in a timezone that is not UTC, I need to compute it first to UTC before adding it in which is prone to

[2020-09-25 15:31] bharati-21 commented on #209
Oh okay @LinkSake !
Happy Hacktoberfest!

[2020-09-25 15:50] bharati-21 commented on #214
Hey @kiwicopple, I would like to work on this. I have worked with React but not Next.js.
But would love to learn and work on this issue if it's okay! Would like to know more about policies and logins.
Thank you.

[2020-09-26 04:43] MildTomato commented on #196
https://bit.dev/
Might be useful if wanting to reuse components across different projects - I was meaning to check this out myself.

[2020-09-29 06:17] kiwicopple commented on #175
This is great thanks @inbytesdevteam - we are going to leave this open as a task for [Hacktoberfest](https://supabase.io/blog/2020/09/11/supabase-hacktoberfest-2020). If you want to solve it then, that would be great (otherwise perhaps someone else can use your instructions to build a template).

[2020-09-30 04:39] kiwicopple commented on #196
This looks cool, but the per-user pricing might make it hard for us to make it available to the whole community :(

Have you used any other tools @MildTomato ? Maybe storybook?

[2020-09-30 11:29] mikqi commented on #196
hello @kiwicopple I have experience before using Storybook with react or vue. Maybe I can help you with integrate with Storybook + React.

[2020-09-30 15:29] himynameisdave commented on #215
Has anyone picked this up yet? If not I'd love to take a stab at it!

[2020-09-30 16:01] duncanhealy commented on #215
yes I've started!

[2020-09-30 16:42] duncanhealy commented on #215
Hi Dave - still some bits to do happy to collaborate

 The login and the policy bit and adding the db relations
- [ ] Multi user sql below with policy?
- [ ] correct the svelte to create a list if none already
- [ ] The ui to share a todo list to allow someone to complete items from the same list needs to be done too

thinking something like below will cover the db and policy

[code]

[2020-10-01 02:50] kiwicopple commented on #196
That would be awesome @mikqi - is there some very small feature-set that we can get started with, just to play around and see how we can integrate it into our website?

[2020-10-01 03:12] thorwebdev commented on #196
Creating a signup/login widget component could be a good way to seed this library as it includes input fields, buttons, spinners, etc. It will be useful for app.supabase.io but also for the community.

[2020-10-01 03:50] mikqi commented on #196
noted. maybe first iterate I will integrate supabase/web with storybook and sample component that we can play around. so the others can help with components.

[2020-10-01 04:08] awalias commented on #169
having it a part of the supabase.io site would be my preference in the long run, good discoverability and more motivation to include your own site, but still worth building the catalogue first in discussions

[2020-10-01 04:13] awalias commented on #209
@bharati-21 if you're interested, we could also start a new issue for a Supabase **Auth** example with CRA? A simple web app with login system + external providers (google, bitbucket, gitlab, github)

[2020-10-01 04:16] kiwicopple commented on #215
@duncanhealy great schema - I can add this to the QuickStart templates on app.supabase.io, and then all the other examples can use it too.

I would like to modify these:

[code]

Perhaps we can design this one so that each individual can see their own lists/todos, but others cannot? This way, the app is multi-tenant with privacy baked-in: a developer can spin up a single front-end for a lot of ind

[2020-10-01 06:22] mikqi commented on #196
Little bit confuse about project structure repo. The end goal of this issue is to create component library that use tailwindcss, am I right? And then the web folder is documentation folder.

Do we need another folder or make this project as monorepo so we can easily when we need to publish the component library to npm registry.

[2020-10-01 09:26] awalias commented on #202
![image](https://user-images.githubusercontent.com/458736/94792165-28c3bd00-040b-11eb-8485-6cbffb2bbecc.png)
 fixed thanks to @phamhieu and @soedirgo

[2020-10-01 09:26] #202 closed

[2020-10-01 09:47] duncanhealy opened #223 "user todo template and policy"
# Feature request

## Is your feature request related to a problem? Please describe.

Add example template for user and list with nested todo
It should be able to restrict access to the user with fine grained permissions on the row level
It could be implented in different example projects (react,vue,svelte,ng, etc...)

## Describe the solution you'd like

Clear policy with secure implementation in

[2020-10-01 10:22] duncanhealy commented on #215
In the case where an person wants to share a todo list with their partner say we would need a userlists table
or better would be an array/json in the lists table
in firebase we would do /todos/:uid/  and check against auth.uid()

@kiwicopple
- [ ] seperate pr if we are updating db/task_list_schema.sql? #223
i see talk about that in #209 makes sense to extend the vanilla auth to be used by react /

[2020-10-01 13:16] mariusa commented on #223
Hi,

regarding the solution:

users should own lists.
tasks belong to lists.
There's no need to have tasks.user_id

anybody authenticated can INSERT lists
anybody owning a list can
2.1. UPDATE/DELETE that list and
2.2. do anything on tasks belonging to that list

[2020-10-01 13:18] mariusa commented on #213
Please have this support auth too.

users should own lists.
tasks belong to lists (without an user_id column)

1. anybody authenticated can INSERT lists
2. anybody owning that list can
2.1. UPDATE/DELETE lists and
2.2. do anything on tasks belonging to that list

[2020-10-01 13:22] mariusa opened #225 "Ability to use own Postgres db"
# Feature request

We have Postgres db already hosted somewhere else (Amazon, Heroku...)

Please let us use those instead of creating new ones, eg by providing a connection string.

Speed & security (eg some users prefer internal company databases be only inside company firewall) will be improved with

so one can deploy supabase inside the company firewall.

This also means creating `auth` functio

[2020-10-01 14:32] duncanhealy commented on #223
Hi @mariusa

the limiting to a specific user is a simpler case -
was looking to see if we could enable the more general case - allow multiple users to a specific list
and enable a policy to cover the row security

so users can have multiple lists
lists can have multiple todos
todos can be assigned to a person

There are specific use cases for this (say a shared todo list like a shopping list betwe

[2020-10-01 14:52] mariusa commented on #223
That would be interesting!

[2020-10-01 15:16] duncanhealy commented on #223
the names of the policies etc need to be cleaned up and probably the names of the fields I put the extra s in the userlists fields to signify that they were many to many

[2020-10-01 15:28] duncanhealy commented on #223
:beers: for @thorwebdev next time in Dublin :)
I think before we merge this we get the svelte, react, ... and todo examples updated to this and make it easier to run the template!

[2020-10-01 15:32] thorwebdev commented on #223
Thanks @duncanhealy. Let's wait for @kiwicopple to review. From https://github.com/supabase/supabase/issues/215#issuecomment-701872927 I understand that he wants to make this a quick start template on app.supabase.io, so all examples can use the same schema 👍

[2020-10-01 15:35] thorwebdev commented on #214
@bharati-21 that would be great :) We're sussing out a central schema for all the TODO samples here: #223.

[2020-10-01 16:12] awalias commented on #225
the first version of supabase actually worked this way :) there was some difficulty with identifying when some config was missing in the db - e.g. logical replication not enabled  etc. but nothing that can't be solved

this is back on the roadmap but probably won't be completed within the next couple of months

re: the auth schema we should be able to just inject this automatically (which is what

[2020-10-01 16:51] bharati-21 commented on #209
@awalias I would love that! If it's possible would like to take up the issue 😊

[2020-10-01 16:56] LinkSake commented on #209
@bharati-21 Actually you can take this issue, due to health reasons I'll be no longer able to participate on this year's Hacktoberfest

I'm sorry for the inconvenience!

[2020-10-01 17:01] steve-chavez commented on #209
@bharati-21 I've assigned you the issue :)

@LinkSake No problem. Get well!

[2020-10-01 22:57] devalnor commented on #214
Hi, I have started a setup of NextJS with an AuthManager component.
Out of this t-shirt things, do you expect a pull request when all the features requirement are complet or can we work on it progressively?

[2020-10-02 01:10] Rihanat commented on #195
@kiwicopple can I start this?

[2020-10-02 03:13] kiwicopple commented on #195
Sure thing @Rihanat ! Would you use Figma? How do you plan to go about this one?

[2020-10-02 03:52] kiwicopple commented on #105
Released! Thanks @phamhieu

[2020-10-02 03:52] #105 closed

[2020-10-02 04:04] kiwicopple commented on #196
Yes, this is a good approach. This is already becoming a bit of a monorepo, so it makes sense to put it here as a subfolder - perhaps `supabase-ui`?

Correct - we use tailwind everywhere, so this would be ideal. This is a fairly open task, so feel free to do it however you want and we can start iterating. Ideally this component library can be used in all the `/examples`, so Thor's suggestion of a

[2020-10-02 04:12] kiwicopple commented on #225
Thanks for this one @mariusa - I'm going to shift it over to a Discussion 💬

[2020-10-02 04:12] #225 closed

[2020-10-02 04:56] kiwicopple commented on #223
Thanks for starting this issue @duncanhealy !

I think the primary goal of the quick-start templates should be simplicity. It needs to be approachable for people who are just starting out with Postgres.

I can imagine the schema you've created being used on something more like a `collaborative-todo` example. Perhaps we do 2 different files - one for a collaborative todo and another for just bare-b

[2020-10-02 05:08] kiwicopple commented on #214
Feel free to create a new issue/example if it's different from this @devalnor . You can definitely work on it progressively - the smaller the task the better really

[2020-10-02 05:22] Rihanat commented on #195
@kiwicopple i use Figma for my designs. Should I submit the png file or the link to the design is also needed.

[2020-10-02 05:36] kiwicopple commented on #195
Might be nice to have a link eventually, but you can just start with a PNG :)

[2020-10-02 12:48] mikqi commented on #196
Oke noted @kiwicopple 👍

[2020-10-02 14:59] duncanhealy commented on #223
I'll test this over weekend and add some tests to #215

[2020-10-02 15:21] SoldierCorp commented on #213
@mariusa Got it!

[2020-10-03 04:28] SoldierCorp commented on #213
Hi @mariusa

Before I submit my PR, could you please read the Update for the event please https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-03 06:37] kiwicopple commented on #213
Hi @SoldierCorp I think that you wanted to tag a Supabase admin, `mariusa` is a community member :)

I've read the updates - if the PR is good, then we will merge it and it will still count

[2020-10-03 06:39] kiwicopple commented on #223
Legend, thanks @duncanhealy 👍

[2020-10-03 08:40] Rihanat commented on #195
@kiwicopple I just make a pull request, kindly check. Thank you

[2020-10-03 09:34] kiwicopple commented on #195
Thanks @Rihanat !

There are [new rules](https://hacktoberfest.digitalocean.com/hacktoberfest-update) for hacktoberfest, so I'm going to label your PR `hacktoberfest-accepted` and then leave this issue so that everyone else can have a go if they want.

To make it easier for people, I'll drop your design system here:

![Supabase design system](https://user-images.githubusercontent.com/10214025/9498

[2020-10-03 09:40] Rihanat commented on #195
Thanks @kiwicopple, I’m new to opensource contribution perhaps this is my first time of contributing to opensource. Does that mean my design has been approved and will be counted as one of the project that I’ve done on on Hacktoberfest. Thank you for your response.

[2020-10-03 09:51] kiwicopple commented on #195
If this is your first time contributing to OSS, you did an awesome job getting the PR set up @Rihanat

Yes, this counts towards Hacktoberfest! You need to create 4 PR's, so you will have 3 more to go.

We will leave the issue open for others to attempt it, just like you did - there is nothing more that you need to do for this one

[2020-10-03 11:53] bharati-21 commented on #209
@LinkSake, I am very sorry to hear that. Hope you are doing well. Please take care and be safe.

Thank you @steve-chavez for assigning the issue to me. I really appreciate it.

[2020-10-03 20:03] SoldierCorp commented on #213
You right @kiwicopple, I thought `mariusa` was an admin member :)

Regarding the update, yes but the repo needs to have the `hacktoberfest` topic  in order to count all the PRs within the repo as valid.

![image](https://user-images.githubusercontent.com/1775881/95000789-8aaa3100-0589-11eb-86cb-e9c3378d77fb.png)

[2020-10-05 02:33] kiwicopple opened #230 "Add a section for Authorization and Policies"
This is a Hacktoberfest task!
You can read more about Hacktoberfest [on our blog](https://supabase.io/blog/2020/09/11/supabase-hacktoberfest-2020) and see all tasks on our [Hacktoberfest Project Board](https://github.com/orgs/supabase/projects/5).

# Summary

We've had a number of questions about using Policies. We should start a section in our Docs which give examples of how to use Policies.

##

[2020-10-05 23:05] duncanhealy commented on #230
. (full stop) in the policy name is disallowed by the web editor (but allowed when you create them via the run tab)

[2020-10-06 02:07] kiwicopple commented on #230
Interesting, thanks for catching this @duncanhealy - I will modify the Policy Editor to allow for full stops and other alpha-numeric characters

[2020-10-06 02:12] kiwicopple opened #235 "Policy Editor should allow for full stops and other punctuation"
# Chore

## Describe the chore

The policy editor only allows characters at the moment. We should allow for punctuation.

Spotted here: https://github.com/supabase/supabase/issues/230

## Additional context

I cannot see any restrictions imposed by Postgres [when creating policies](https://www.postgresql.org/docs/current/sql-createpolicy.html) except that the name is unique. The frontend should al

[2020-10-07 11:20] #223 closed

[2020-10-07 23:08] gamedevsam opened #239 "Error when logging in slack-clone example"
# Bug report

## Describe the bug

When logging in with a newly created account on the Slack demo app, I get the following error:

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Clone slack example
2. Install dependencies
3. Run next dev server (npm run dev)
4. Create new account, for example test@test.com / test
5. Attempt to sign in wi

[2020-10-08 01:12] kiwicopple commented on #239
Hi @gamedevsam thatnks for reporting

Can you please run this in the SQL editor and let me know the results?

[code]

[2020-10-08 01:23] kiwicopple opened #240 "Dashboard: invite button not working"
# Bug report

## Describe the bug

Clicking on the invite button in the teams section doesn't do anything.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to any org
2. Click on Team
3. Click on Invite
4. nothing happens

[2020-10-08 02:04] gamedevsam commented on #239
![image](https://user-images.githubusercontent.com/420996/95406685-00473180-08e9-11eb-9698-f89ed06d4a3d.png)

[2020-10-08 02:05] kiwicopple commented on #239
It looks like you may need to run the "Quick start" template first:

<img width="1440" alt="Screenshot 2020-10-08 at 10 05 01 AM" src="https://user-images.githubusercontent.com/10214025/95406760-c9573700-094d-11eb-9855-4fdbbfa08e1c.png">

Let me know if it works after "Running" that script

[2020-10-08 02:14] gamedevsam commented on #239
Ohh, I was under the assumption the DB was seeded from the app or something, might be a better idea to run this SQL via npm script to better reflect a more traditional approach. Thanks for your help.

[2020-10-08 02:14] #239 closed

[2020-10-08 05:17] awalias opened #241 "Add Auth/User Management to homepage"
I received a question this morning from someone asking if we did auth and third party logins since it's not mentioned on the homepage anywhere

since it's a large selling point we should probably make it a feature of the homepage

Suggestions include:

- add 'Auth' or 'User management' somewhere in the hero (tagline?)
- add a code example under 'For Developers'
- add a whole new section
  - screen

[2020-10-08 07:42] kiwicopple commented on #241
I will create a page for our "Supabase Auth" launch. We can probably create a whole page for each of the features we have - at the moment just "Auth" and "Database"

[2020-10-08 13:41] #235 closed

[2020-10-08 15:04] duncanhealy commented on #241
Should need an easy way to fill in the id and secret
or at least link to the places to generate them

Some links below

- [ ] **google** [oath client](https://cloud.google.com/iap/docs/programmatic-oauth-clients)
- [ ] **github** [github create client](https://github.com/settings/applications/new)
- [ ] **bitbucket** [bitbucket create client](https://support.atlassian.com/bitbucket-cloud/docs/use-

[2020-10-08 19:32] infomofo opened #243 "Apple Login as an OAuth Provider"
# Feature request

## Is your feature request related to a problem? Please describe.

When I go to `auth/settings` I see External Oauth Providers for Google, Github, Gitlab, and Bitbucket. My understanding is that for an ios app, you must also provide Apple as an oauth provider. Is this something you intend to support in Supabase?

## Describe the solution you'd like

I would like to have Apple su

[2020-10-08 22:44] duncanhealy opened #245 "logging for rest calls backend"
# Feature request

looking at the logging from postgres to track down an issue, cvslog is enabled, going to pg_log

## Is your feature request related to a problem? Please describe.

trying to track down why delete is failing silently
delete (rest) returns http status code 204

## Describe the solution you'd like

ability to see errors from postgres on app.supabase.io
? ability to set log_statemen

[2020-10-09 01:34] kiwicopple commented on #243
Thanks for creating this @infomofo - this will involve and update to [GoTrue](https://github.com/supabase/gotrue).

I've labelled this as a Hacktoberfest task - let's see if anyone in the community wants to try solving it this month.

[2020-10-09 06:35] #214 closed

[2020-10-09 15:37] oliver021 opened #247 "add other database systems"
This project is super interesting, additionally it would not be a good idea to add support for **different database managers** such as mysql or sqlite.

[2020-10-09 15:41] #247 closed

[2020-10-09 15:42] oliver021 commented on #247
I did not understand well, this actually consists of plugins for Postgres

[2020-10-09 19:01] royquilor commented on #194
Hi, please could you provide up to 3 keywords that represent the brand?

[2020-10-09 19:22] steve-chavez commented on #194
Hey @royquilor. My take on the keywords: `PostgreSQL`, `Real-time`, `No-Code`.

I stole them from the [Supabase landing page](https://supabase.io/) :)

[2020-10-10 02:59] kiwicopple commented on #247
You can vote for more databases here @oliver021 !

https://github.com/supabase/supabase/discussions/6

[2020-10-10 03:04] kiwicopple commented on #194
Some potential non-technical terms: `simple`, `fast`, `powerful`

[2020-10-12 20:29] SoldierCorp commented on #213
Hi @kiwicopple,

I created a demo connection and I wanted to know if I am in the right direction, please.

- I created a Supabase project for this Todo and I added a table with a couple of items.
- I created a repo in my GitHub account which contains the Todo app with Vue and is retrieving the items from Supabase
- I created a project in Vercel that deploys from my github repo and this is the url

[2020-10-14 02:52] kiwicopple commented on #213
Hi @SoldierCorp - looks like you're on the right track.

Do you have the link to this repo? I can check out the code

The correct way to do it is to

1. Fork this repo to your own account
2. Add your code to `example/todo-vue`
3. Create a Pull Request. [This video](https://www.youtube.com/watch?v=jZtECuvNRiw) might help!

[2020-10-14 03:40] SoldierCorp commented on #213
Awesome!

Link to the repo https://github.com/SoldierCorp/supabase-todo-vue (still in progress, I just created it to make this demo connection)

Oh hehe, I know how to create PRs but thank you for the video!
When I said "I will upload that Vue project from my account to this repo" I was referring to a PR 🙂

[2020-10-14 03:45] kiwicopple commented on #213
😂 sorry - didn't mean to be condescending. I never know with Hacktoberfest what level of developer we have coming in.

Your app looks like a great start - we actually have a "Todo list" quickstart in our editor now:

![Screenshot 2020-10-14 at 11 44 10 AM](https://user-images.githubusercontent.com/10214025/95941143-a5469a80-0e12-11eb-9040-3864fcac5884.png)

You could use this if you wanted. Here i

[2020-10-14 04:12] SoldierCorp commented on #213
That's true and no worries 😄

Just perfect, thanks!

[2020-10-14 19:20] royquilor commented on #194
Hi all, explored some concepts with simple, fast and powerful. Tested in a smaller size. Look forward to your feedback.

Concept A:
![supabase-concept-a](https://user-images.githubusercontent.com/2366186/96035184-9388e580-0e5a-11eb-923b-fb085fd3224d.png)

Concept B:
![supabase-concept-b](https://user-images.githubusercontent.com/2366186/96035216-9f74a780-0e5a-11eb-8054-82379a2d2ce7.png)

[2020-10-15 12:39] kiwicopple commented on #171
Fixed by @joshenlim !

[2020-10-15 12:39] #171 closed

[2020-10-15 14:18] kiwicopple commented on #95
Done by @phamhieu

[2020-10-15 14:18] #95 closed

[2020-10-15 15:20] kiwicopple commented on #240
Fixed!

[2020-10-15 15:20] #240 closed

[2020-10-15 15:22] kiwicopple commented on #181
Fixed!

[2020-10-15 15:22] #181 closed

[2020-10-16 06:06] bharati-21 commented on #209
@kiwicopple  @steve-chavez can you please explain about login+policies? Thank you.

[2020-10-16 18:18] steve-chavez commented on #209
@bharati-21 Sure. Keep in mind that there's already a baseline here: https://github.com/supabase/supabase/tree/master/examples/todo

That baseline has a limitation mentioned in the [warning](https://github.com/supabase/supabase/tree/master/examples/todo#warning):

The task is to lift that limitation - allow users to have private todos and share todos with other users of their choosing.

General id

[2020-10-17 03:05] kiwicopple commented on #209
Hey @bharati-21 we also have a quickstart template set up in the dashboard too:

![Screenshot 2020-10-14 at 11 44 10 AM](https://user-images.githubusercontent.com/10214025/96327051-a83ac880-1068-11eb-8faf-fec61e8f8c7a.png)

You can see it in use on the Next.js example: https://github.com/supabase/supabase/tree/master/examples/todo-next-js

[2020-10-20 05:28] kiwicopple commented on #194
Wow this is awesome @royquilor - I particularly appreciate you adding the smaller versions so that I can see how they scale. I think the top one scales a lot better, though I do prefer the bottom left. Perhaps one improvement would be if the lines were all the same width (my opinion).

Are you participating in Hacktoberfest? If so, you can make this a "pull request" and I can accept it?

Next step

[2020-10-23 07:35] ephelsa commented on #169
Hey @awalias! I can help.

Give me some time to be free. 😁

[2020-10-24 16:09] ephelsa commented on #169
Hello! 👀

![Supabase showcase](https://user-images.githubusercontent.com/25624035/97086483-1ba08500-15e9-11eb-96f2-a30625a777c5.gif)

[2020-10-26 03:00] mikqi commented on #196
hi @kiwicopple, I've just added form components and improvement for the button component. Maybe next I will add more components that supabase use on the web. Any request?

[2020-10-26 04:41] kiwicopple commented on #196
Hey @mikqi - I saw all your PR's they are awesome. Thank you.

Icons are always useful, if they are easy to do in storybook? We are currently using [Feather Icons](https://feathericons.com/) on our website

[2020-10-26 04:56] kiwicopple commented on #194
From @nancu : https://github.com/supabase/supabase/pull/263

![image](https://user-images.githubusercontent.com/10214025/97135195-9c4ab700-178a-11eb-96b9-a7b731d934cb.png)
![image](https://user-images.githubusercontent.com/10214025/97135203-a076d480-178a-11eb-811e-9e10fe9b258b.png)

[2020-10-26 12:23] mikqi commented on #196
You can check it here https://github.com/supabase/supabase/pull/266 @kiwicopple
I've added integration with react-feather from Feather Icons.

[2020-10-27 02:32] kiwicopple commented on #196
That's awesome, thanks @mikqi !

[2020-10-30 11:56] bharati-21 commented on #209
Hey @kiwicopple  I was wondering if you'd let me work on this outside the scope of Hacktoberfest!

[2020-10-31 01:58] kiwicopple commented on #209
Yes of course! We're about to release supabase-js@1.0.0, so it would be great to get your help building this with the updated library

[2020-10-31 11:22] harshithpabbati opened #271 "How to refresh token when we are using Google Oauth Provider?"
We are using Google Oauth Provider which gives us access_token, refresh token but is there a URL endpoint to call for refreshing the token?

[2020-11-01 03:39] soedirgo commented on #271
Hey @harshithpabbati!

Copying Ant's answer from Slack:

Thanks for asking :)

[2020-11-01 03:39] #271 closed

[2020-11-02 03:08] #179 closed

[2020-11-02 03:13] #147 closed

[2020-11-02 09:05] #230 closed

[2020-11-03 15:49] cmmartin opened #275 "public alpha signup is broken"
`invalid_request (connection not found for the client)`

[2020-11-03 21:30] vdaita opened #276 "Issues with LocalStorage on React Native"
# Bug report

While using Supabase Auth in React Native to develop a mobile application, there is the following warning:

`Possible Unhandled Promise Rejection (id: 0):
TypeError: Cannot read property 'getItem' of undefined
TypeError: Cannot read property 'getItem' of undefined
    at LocalStorage.getItem (http://localhost:8081/index.bundle?platform=ios&dev=true&minify=false:114915:34)
    at Supa

[2020-11-04 00:12] kiwicopple commented on #275
Hey @cmmartin can you please help me to replicate this? What did you do to get this error? It may be related to a Cloudflare outage that happened when we were spinning up new instances, but we aren't certain. If you let us know your project reference (in the URL) that would be helpful too

[2020-11-04 02:05] kiwicopple commented on #275
OK we found how to replicate. Looks like there was a bug with the `Sign up` button but not the `Getting started` button, so we couldn't find it. I've pushed a patch.

Thanks for letting us know @cmmartin

[2020-11-04 02:05] #275 closed

[2020-11-04 10:26] kiwicopple commented on #276
Thanks for the bug report @vdaita . I'll try set up an example repo to test.

[2020-11-06 01:15] vdaita commented on #276
I think that due to this I am getting a "Password EOF" error in addition. Any luck so far?

[2020-11-08 16:29] tmm opened #281 "Generate types using Swagger OpenAPI specification fails"
# Improve documentation

## Link

[Generating Types > Generate database types from Swagger OpenAPI specification](https://supabase.io/docs/client/generating-types/#generate-database-types-from-swagger-openapi-specification)

## Describe the problem

Following documentation to generate types and receiving an error that `'definitions' are missing from schema`:

[code]

I checked that `project` and `

[2020-11-08 17:48] mitchellwright opened #282 "auth.signOut documentation is incorrect"
# Improve documentation

## Link

https://supabase.io/docs/client/auth-signout

## Describe the problem

When I follow the example as written in the documentation for `signout` I get the following error:
`supabase.signOut is not a function`

When I run it as `supabase.auth.signOut` it works as intended.

## Describe the improvement

Change the code examples on https://supabase.io/docs/client/auth-

[2020-11-09 02:15] #282 closed

[2020-11-09 06:14] awalias commented on #172
I think this is solved, closing for now

[2020-11-09 06:14] #172 closed

[2020-11-11 02:02] kiwicopple commented on #281
Hey @tmm - as a first step, when you go to `https://project.supabase.co/rest/v1/?apikey=anon-key` on your browser, is it successfully pulling up the swagger/JSON for your project?

[2020-11-11 08:27] chiubaca commented on #213
Hello is this still open for submissions? I'd like to have a go at this with vue 3, and possibly with Typescript too?

[2020-11-11 08:29] kiwicopple commented on #213
That would be awesome @chiubaca  - not sure if SoldierCorp is still working on it. We have a Next.js example here which you can use as a baseline: https://github.com/supabase/supabase/blob/master/examples/todo-next-js/README.md

[2020-11-11 08:46] chiubaca commented on #213
I had a look at @SoldierCorp repo and looks like he was using Vue 2 Options API.  I'll make a version with the new composition API so users can see the difference :)

[2020-11-11 09:28] kiwicopple commented on #276
I havent been able to replicate your `Password EOF` error. So far I have set up a [repo using Expo](https://github.com/supabase/supabase/tree/react-native-example/examples/todo-expo) but I've hit a typescript error with AsyncStorage:

https://github.com/supabase/gotrue-js/issues/11

I'll have to resolve the interface between Storage/AsyncStorage before and then I think I will have a full solution

[2020-11-11 09:32] #241 closed

[2020-11-12 01:05] kiwicopple opened #285 "The UMD distribution of supabase.js stopped working recently with the `Supabase is not defined` error."
The UMD distribution of supabase.js stopped working recently with the `Supabase is not defined` error.

Previously `Supabase.createClient(..., ...)` worked. Now it doesn't.

What is the new API for supabase-js?

_Originally posted by @richcorbs in https://github.com/supabase/supabase/discussions/278_

[2020-11-12 01:06] kiwicopple commented on #285
Fixed: https://github.com/supabase/supabase-js/pull/72

[2020-11-12 01:06] #285 closed

[2020-11-12 17:26] steve-chavez commented on #245
To trigger an error when no delete is done, you could use `single()` from supabase-js:

[code]

I think exposing the logs won't reveal anything of value, what's happening essentially is:

[code]

Which is actually a success(no error).

[2020-11-12 19:27] duncanhealy commented on #245
using .single() I get a Status Code of 406 message back

```"Results contain 0 rows, application/vnd.pgrst.object+json requires 1 row"```

.select() rather than .delete() gives the record

[2020-11-12 19:46] duncanhealy commented on #245
ok I see that is as expected - docs here http://postgrest.org/en/v7.0.0/api.html#singular-or-plural

delete statement inside the sql editor works fine,
e.g.
```delete from tasks where id=1```

fails when called from api where a record with id = ```task_id``` exists

```supabase.from('tasks').delete().eq('id', task_id )```
or
```supabase.from('tasks').delete().match({'id': task_id})```

[2020-11-13 10:38] #215 closed

[2020-11-13 13:27] duncanhealy commented on #150
I've added a pr to redwood to update to v1 of supabase auth #redwoodjs/redwood/pull/1474

tracking issue there #redwoodjs/redwood/issues/1426

[2020-11-13 15:43] oussamabonnor1 opened #286 "The delete + filter example does not work with VueJS + Vuetify + NuxtJS"
# Bug report

## Describe the bug

When trying to apply the following example:

`const { data, error } = await supabase.from('cities').delete().filter({'name', 'eq', 'Paris'})`

Found here [docs.](https://supabase.io/docs/client/filter#with-delete)

While checking out the node modules code for @supabase in posgtres-js/PostgresFilterBuilder, I found this function:

`filter(column, operator, value)

[2020-11-13 20:16] soedirgo commented on #286
Hey @oussamabonnor1, thanks for the report! You're right, these should've been `filter('name', 'eq', 'Paris')`, we'll update the docs soon.

You can chain the filter methods to do complex filters, like so:

[code]

[2020-11-13 20:20] oussamabonnor1 commented on #286
My case here is a bit special, I wanted to apply filters based on their existence or not (multiple filters that can be applied or not based on the user's wishes) which means I'll have multiple ".eq()" calls to handle (which is not very pretty).
I have found that the function ".match()" is exactly what I was looking for, thanks for the reply!

[2020-11-14 02:37] kiwicopple commented on #286
Hey @oussamabonnor1 - docs are updated and it looks like you've found some success using the `match()` method so I'll close this one for now. Feel free to reopen if there's anything else!

[2020-11-14 02:37] #286 closed

[2020-11-14 02:52] kiwicopple commented on #150
wow, that's great @duncanhealy - once they have merged I'd love to add `todo-redwood example` example.

![image](https://user-images.githubusercontent.com/10214025/99137512-3dc87880-2666-11eb-9cfa-7b5d12e50a58.png)

It looks like the redwood library is looking for the GoTrue user/session right? If that's the case we can export these from gotrue-js (and subsequently supabase-js): https://github.com

[2020-11-14 02:56] #169 closed

[2020-11-14 03:09] kiwicopple commented on #245
We've been using the `delete()` successfully here so it suggests it's not erroring at the library level: https://github.com/supabase/supabase/blob/4691063f8143a1d287c49c1d10cef7cec91644dc/examples/todo-nextjs/components/TodoList.js#L32

Could you please check the network request tab, and let us know what the URL/payload is when calling `supabase.from('tasks').delete().eq('id', task_id )` ?

[2020-11-14 04:30] viperfx commented on #150
Looking forward to when this lands on redwood 👍

@kiwicopple do you provide email verification steps through Supabase? and does the login response prevent a user from logging in if the email is not verified?

[2020-11-14 04:48] awalias opened #287 "Slack Clone example broken"
on login or signup there is an error `TypeError: l.body is undefined`

it may be using the latest supabase-js (1.0.x) but according to package.json it shouldn't be (^0.35.x)

[2020-11-14 04:49] awalias commented on #287
we should probably just bump to the latest supabase-js

[2020-11-14 06:27] duncanhealy commented on #150
Yea it needs the types in supabase.ts

[2020-11-14 07:13] duncanhealy commented on #150
Have we added to https://github.com/DefinitelyTyped/DefinitelyTyped yet?

[2020-11-14 12:53] duncanhealy commented on #245
[code]

[2020-11-14 12:55] duncanhealy commented on #245
funny thing is the OPTIONS is going after the DELETE request - > I would expect the OPTIONS first ??
200 returned for both [] for the DELETE
[code]

[2020-11-15 03:42] kiwicopple commented on #150
We're native TS now so we should can bundle our types directly [from the library](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html)

@viperfx yes, you will just need to turn it on in the Dashboard. By default we have this turned off:

<img width="646" alt="image" src="https://user-images.githubusercontent.com/10214025/99162326-71270800-2737-11eb-8118-34b5fc0841fd.png"

[2020-11-15 03:59] #287 closed

[2020-11-15 04:06] kiwicopple commented on #245
I think I'll need to set this up to replicate it - this is happening on the `todo-sveltejs` app right @duncanhealy ?

[2020-11-15 05:16] #175 closed

[2020-11-15 05:17] #194 closed

[2020-11-15 05:29] kiwicopple commented on #196
@mikqi you've done amazing work here. @MildTomato is going to start adding some new components for our dashbaord, starting with modals.

Let us know if you would like to continue contributing - we can add a few ideas/issues. The work you did gives us an amazing head start, and I hope you received enough PR's for Hacktoberfest prizes.

Also it looks like you're in Jakarta, so hi from SEA 👋 🇸🇬 . Dro

[2020-11-15 05:29] #196 closed

[2020-11-15 05:30] kiwicopple commented on #195
Now that Hacktoberfest is over I'll move this over to Discussions 💬

[2020-11-15 05:31] #195 closed

[2020-11-15 13:28] duncanhealy commented on #245
yea it should also show the problem with auth on the first go supabase/gotrue-js/issues/23

need to refresh to bring up the list + logout login if session token expired

[2020-11-15 17:56] duncanhealy commented on #287
Note to self - check recent prs before coding -

![image](https://user-images.githubusercontent.com/2788605/99191920-d135a280-2767-11eb-911e-b17738a919b3.png)
also
```next dev``` was not working for me for some reason

[2020-11-16 01:37] kiwicopple commented on #287
This repo was actually created before we had Auth, which is why there is a weird "setContext" to handle auth. I'll update it now

[2020-11-16 02:22] kiwicopple commented on #287
I've reverted all the changes and put the supabase-js library back to `0.36`. I think it will be easier to start from scratch using the todo list as an example.

[2020-11-16 08:15] Tobbe commented on #150
Finally made some progress on updating the RW implementation of the slack clone. I've upgraded to the latest version of Redwood, and I'm now using RW's supabase auth integration.

The commit history is a pretty good overview of what I've done, and how someone might go about building something like this in Redwood (read it bottom-up)

[code]

The one thing that I have left to do is to implement the

[2020-11-16 10:07] MildTomato opened #291 "tailwindcss divide color not rendering correctly in browser"
# Bug report

## Describe the bug

Tailwind DivideColor styling is not being displayed correctly

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. use the following in Supabase-UI

[code]

2. the above will render incorrectly, with borders being shown on the left and right.

There is also issues with having to explicitly state 'border-{style}' for

[2020-11-16 10:51] kiwicopple commented on #291
Do you have the code pushed onto a branch ? I can check it out if you want.

[2020-11-16 10:58] MildTomato commented on #291
I was testing it out on `feature/ui__overlay_components` - but i haven't pushed up anything using divide to it yet.

I was about to start adding some more form components tonight, I'll try it out on them and push it up.

[2020-11-18 16:18] SoldierCorp commented on #213
Hi,

Yes I am still working on it, I had to stop any development activities due personal reasons but I am going to re-take it in a couple of days.

Sorry :/

[2020-11-19 03:55] kiwicopple commented on #213
Of course @SoldierCorp  - take your time and let us know if you would like any help

[2020-11-20 13:40] vdaita commented on #276
Thanks, lmk if I can help!

[2020-11-20 14:42] kiwicopple commented on #276
Hey @vdaita - I have been able to replicate it on the Expo branch. Still unsure why it's happening. It seems @izqalan has been able to get it working successfully (https://github.com/supabase/gotrue-js/issues/11#issuecomment-722399034)

@izqalan, is your code public? I haven't able to figure out why the `Password EOF` is occurring yet

[2020-11-22 12:22] izqalan commented on #276
Hi @kiwicopple @vdaita , I haven't got around to figure out why `could not read password grant param: EOF` on Login occurs.

Anyway, here's my RN implementation using `@supabase/gotrue-js` https://github.com/izqalan/rn-supabase-playground/blob/master/src/scenes/home/Home.js

[2020-11-22 14:51] vdaita commented on #276
Are you still dealing with the could not read password grant param: EOF error on your repo?

[2020-11-22 15:03] vdaita commented on #276
Could it be due to it not being able to read the stored value?

[2020-11-30 21:23] stoico opened #319 "Being able to set the user session duration"
# Feature request
By default user sessions currently last 1 hour (3600s).

To save time and effort to the user, it would make sense for us to be able to configure the session duration.

[2020-12-01 15:25] andykais opened #322 "support for facebook external auth?"
# Feature request

## Is your feature request related to a problem? Please describe.
Our app would like to authenticate users via facebook and then pull a list of friends from that user.

## Describe the solution you'd like
Ideally supabase can authenticate with facebook for us, and store an auth token in the database that we can use to pull data from facebook in a long running task somewhere on a

[2020-12-03 18:10] mding5692 commented on #218
@kiwicopple I can take a look into this if its ok, I'm currently using paid version of webflow and can sketch up a guide on it

[2020-12-03 18:12] kiwicopple commented on #130
![image](https://user-images.githubusercontent.com/10214025/101049689-b6b05580-35be-11eb-8cae-b55eb5491770.png)

![image](https://user-images.githubusercontent.com/10214025/101049722-bc0da000-35be-11eb-84fb-98df2ece14d9.png)

![image](https://user-images.githubusercontent.com/10214025/101049745-c16aea80-35be-11eb-836f-09c183d3edc6.png)

![image](https://user-images.githubusercontent.com/10214025/1

[2020-12-03 18:22] kiwicopple commented on #218
I'd love that @mding5692 - I tried briefly and couldn't figure out webflow. Hopefully any of these bundles will work:

- https://unpkg.com/@supabase/supabase-js
- jspm: https://jspm.dev/@supabase/supabase-js
- skypack: https://www.skypack.dev/view/@supabase/supabase-js

[2020-12-03 19:25] yekta opened #329 "Insufficient Contrast of the Buttons on the Website"
# Feature request

I would suggest using very dark or black text on your primary buttons, as opposed to white text.

## Is your feature request related to a problem? Please describe.

Yes, button background do not have sufficient contrast with the button text.

## Describe the solution you'd like

Having black or very dark (matching your background) text on these buttons would not only solve this

[2020-12-03 22:53] steve-chavez commented on #322
Hey @andykais,

We use [supabase/gotrue](https://github.com/supabase/gotrue/) for OAuth, which already supports some [external providers](https://github.com/supabase/gotrue/#external-authentication-providers).

I'll transfer the issue to that repo, so we can track the feature request.

[2020-12-04 18:07] Rt19990000 commented on #150
Jjjjjjj

[2020-12-06 00:13] lIIIIIIIIIIIIIIIIIIIII opened #338 "autogenerated default value for uuid columns"
# Bug report

## Describe the bug

unable to set default value `uuid_generate_v4()` for column from user interface

## To Reproduce

Steps to reproduce the behavior.

1. Edit table with column of type uuid
2. Enter default value  `uuid_generate_v4()`
3. Save
4. Leads to Error Notification with Message. `JSON parse Errror .....`

## Expected behavior

Would have expected, that default value had bee

[2020-12-06 10:01] kiwicopple commented on #338
Hi @lIIIIIIIIIIIIIIIIIIIII , can I check that you can run that in the SQL editor? Perhaps the `uuid` extension is in the `extensions` schema, which would require it to be:

`ALTER TABLE <table> alter column <column> set DEFAULT extensions.uuid_generate_v4();`

?

[2020-12-06 14:20] lIIIIIIIIIIIIIIIIIIIII commented on #338
hi @kiwicopple , feel free to do so. There is nothing you can break.

[2020-12-06 14:39] 10000multiplier opened #340 "Add authentication via Twitter"
Please add authentication via Twitter.

Loving the supabase experience so far.

Great work!

[2020-12-06 16:35] viperfx opened #341 "Generate magic link with JWT to get access token"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, the login method can be used to generate a magic link that is sent via email. I would like to generate a JWT access token so it can be used to login users via a magic link.

Ideally, I would like to have an API key and Secret or similar, that's generated per Team, or Account for security. So external c

[2020-12-07 03:11] kiwicopple opened #343 "Links and text improvements."
# Bug report

- Remove all mentions of `alpha` and change to `beta`
- With the new website we have a few links that aren't crawlable. We should add `nofollow` to these links

![image](https://user-images.githubusercontent.com/10214025/101305053-adeca780-387c-11eb-8c4d-1186a1b11c84.png)

[2020-12-07 10:27] lIIIIIIIIIIIIIIIIIIIII commented on #338
to avoid misunderstandings, a small screen capture. Btw thx for the reply :)

`ALTER TABLE <table> alter column <column> set DEFAULT extensions.uuid_generate_v4();` works fine and gets the job done.

![cap](https://user-images.githubusercontent.com/55026679/101339546-dd9caf00-387e-11eb-9386-5136c72264ae.gif)

[2020-12-07 20:59] guido4000 opened #347 "User authentication on Nextjs SSR"
Currently, in the nextjs supabase example it is mentioned that the example shows client side and API route authentication.

It would be helpful to also support user authentication for server side rendering in the "getServerSideProps" function. This would allow making authenticated requests to API routes during SSR.

https://github.com/supabase/supabase/tree/master/examples/nextjs-with-supabase-aut

[2020-12-08 04:34] MildTomato commented on #291
probably fixed in tailwind 2.0.1, will check.

[2020-12-08 05:45] soedirgo commented on #338
Omitting `extensions.` should work fine as well, the problem was the default value is treated as a literal string. The error message is a known issue and is unrelated to uuid columns.

We'll fix this soon - thanks for reporting @lIIIIIIIIIIIIIIIIIIIII!

[2020-12-08 16:52] jnpantall commented on #85
Hey @kiwicopple, @awalias,
Checking out Supabase.io and it looks super promising! We've been searching for a Firebase alternative for a long time, since Firebase didn't quite fit our needs for a realtime database.

We'd be highly interested in a self-hosted version of supabase.io as privacy is a top consideration.

Couple of questions for you:

1. Should we still use the [docker image you mentione

[2020-12-09 02:06] vdaita commented on #276
The new update fixed it.

[2020-12-09 03:19] vdaita opened #353 "React Native: Unhandled promise rejection"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

When attempting to access database from React Native, there is a unhandled promise rejection.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. In an async function,
`const {data, error} = await supabase.from('table').select()`
2. Run that code

[code]

Note: s

[2020-12-09 04:31] kiwicopple commented on #353
Hi @vdaita, Justin's recent tweet should help here: https://twitter.com/JustinNoelDev/status/1336404712132849664

https://github.com/facebook/react-native/issues/23922#issuecomment-648096619

@thorwebdev FYI - you will likely see this too. We should add this polyfill to the expo example

[2020-12-09 05:02] kiwicopple commented on #85
Hey @jnpantall

That one is out of date, as we added so many systems we found it hard to stuff into a single docker. Here is something we are working on now: https://github.com/supabase/supabase/discussions/219#discussioncomment-134676

Not yet, but more people are asking for it so if you start a Discussison, I can outline the steps to get all the systems up and running. It won't have the Dashboar

[2020-12-09 05:36] kiwicopple commented on #340
Hey @10000multiplier 👋 we're tracking this here: https://github.com/supabase/gotrue/issues/36

[2020-12-09 05:36] #340 closed

[2020-12-09 08:24] thorwebdev commented on #347
Hey @guido4000, I have an SSR auth example here: https://github.com/thorwebdev/nextjs-with-supabase-auth/pull/1 but I'm not yet entirely happy with the DX, so haven't shared it more broadly yet.

My plan is to bake the cookie stuff into some helper methods within `supabase-js` to make this easier. Wdyt?

[2020-12-09 19:18] #353 closed

[2020-12-09 22:18] guido4000 commented on #347
@thorwebdev Thank you. It works fine. I had no problem using it.

In case of integrating the code into supabase-js, it might make sense to also integrate useUser to support both methods out of the box.

[2020-12-10 01:54] steve-chavez commented on #176
Changing the timezone can be done with:

[code]

This can be confirmed with a `show timezone`. Also by going to the `/project/{id}/database/config` page. It doesn't require a db restart.

However the db settings will only kick in at login time. So this might require a `pg-api` restart(I believe it persists the connection to the client db for making the queries? @soedirgo Can you confirm?).

So may

[2020-12-10 03:31] awalias commented on #218
![image](https://user-images.githubusercontent.com/458736/101717818-fc977d00-3ada-11eb-8163-38e0d313ea96.png)

noticed this which means you can't preview scripted JS in the editor, and also that embeds aren't available on webflow free which is annoying,

but I think you'd already be paying for webflow if you were trying to do something serious with it - i.e. adding dynamic content, or user auth

[2020-12-10 04:36] soedirgo commented on #176
I think pg-api closes the connection right after executing the query, so doing `SET TIME ZONE` doesn't work since it only persists for the current session. Steve's solution above hits the nail, no restart needed 👍

[2020-12-10 04:47] kiwicopple commented on #176
That's great - thanks Steve, Bobbie

@inbytesdevteam I'll close this one now, but if that doesn't work feel free to re-open

[2020-12-10 04:47] #176 closed

[2020-12-10 05:47] TS200010 commented on #176
Not sure why I am getting these as I am not subscribed to this thread. Any assistance would be appreciated.

Sent from my iPhone

[2020-12-10 06:24] kiwicopple commented on #176
Are you "watching" the repo? You might want to just watch the releases

[2020-12-10 14:27] mding5692 commented on #218
Yep I have paid plan of webflow, am trying it out with the embed

They have some links on it which I'm referencing that can be also re-used for Supabase:
https://university.webflow.com/lesson/custom-code-in-the-head-and-body-tags
https://university.webflow.com/lesson/custom-code-embed
https://forum.webflow.com/t/embed-simple-javascript-code/77975

[2020-12-10 14:29] awalias commented on #218
pretty exciting if we can pull it off @mding5692 :D

[2020-12-10 19:43] andykais opened #359 "getaddrinfo EAI_AGAIN error while using supabase-js client in nodejs"
# Bug report

## Describe the bug
I have a long running data collection server running which calls once every second or so to insert a new row into my database. Occasionally, supabase will respond with a node-fetch `EAI_AGAIN` error. This is the error output:
[code]

A clear and concise description of what the bug is.
To the best of my knowledge, this is because the DNS server failed to properly r

[2020-12-10 23:01] ffischer1984 opened #361 "no postgis column-types in table-editor with enabled postgis-extension"
# Bug report
no geometry-column-type found

## Describe the bug
can't find geometry-type despite enabled postgis-extension

## To Reproduce

1. enabled the postgis-extension:
![image](https://user-images.githubusercontent.com/8037710/101839185-33ed4480-3b42-11eb-91d1-970bb613b051.png)

2. no postgis-column-geometry-type in the table-editor (in Add new column part):
![image](https://user-images.git

[2020-12-11 13:27] andykais commented on #359
possibly related, I received a new error while leaving the process running overnight:
[code]
which appears to be either a problem with my local OS failing to resolve a host, or the host being down. The process had been running for several hours without errors prior to receiving this error. I am going to attempt running this on heroku today and see if the problem goes away

[2020-12-12 15:45] TheTrainor commented on #338
Also ran into this error when working from DataGrip. Adding the 'extensions' prefix solved the issue.

[2020-12-12 17:35] mding5692 commented on #218
Another thing to do that can be done is to create a Webflow Supabase Integration so it appears on like a Webflow app marketplace, it will still need adding custom code, etc. like this: https://university.webflow.com/integrations/shopify but offers another place to put tutorials on how to add

See:
https://university.webflow.com/integrations
https://university.webflow.com/integrations-submission

[2020-12-12 17:36] peachp opened #375 "Error: cannot read property 'table' of undefined when trying to delete a column"
# Bug report

## To Reproduce
1. Go to Database > Tables > some table > Hover a column > Delete
2. Column is not deleted and in the bottom right corner the message appears: Error: cannot read property 'table' of undefined

Unfortunately I don't remember what was special about this column. Maybe it was unique, maybe of type uuid, but not sure.

## Expected behavior
The column is deleted without any

[2020-12-12 17:37] lIIIIIIIIIIIIIIIIIIIII commented on #338
thx for the effort

[2020-12-12 17:37] #338 closed

[2020-12-12 17:41] peachp opened #376 "Wrong error message when trying to set a PK column to "Allow emtpy""
# Bug report

## Describe the bug
This totally makes sense, but the error message could be better.

## To Reproduce
1. Go to Database > Tables > A table
2. Hover a PK (unique) column > Click Edit
3. Try to tick "Allow empty"
4. Error: unexpected end of JSON input

## Expected behavior
Either hide the "Allow empty" on PK columns, or disable it and show a hint why it can't be ticked on PK columns

#

[2020-12-12 17:45] peachp opened #377 "Insert and other rows code samples: include returned data / error"
# Improve documentation

## Link
API > TABLES AND VIEWS > A table > Insert rows and other except Select

## Describe the problem
Maybe would be good to update other API code sample to be similar like select, with data and error. My first attempt to call insert just run quietly. I had to guess that it also returns data and error

## Describe the improvement
[code]

[2020-12-13 06:11] soedirgo commented on #338
@TheTrainor Sorry, looks like you still need the prefix outside the SQL editor because you're connecting as `postgres` instead of `supabase_admin`. @kiwicopple should we change the `search_path` for the `postgres` role as well?

[2020-12-13 06:39] kiwicopple commented on #338
@soedirgo good idea to add it to the search path

[2020-12-13 17:36] peachp opened #379 "Automatic Created and Updated columns"
# Feature request

## Is your feature request related to a problem? Please describe.
No specific problem right now, but it is a very common and useful feature.

## Describe the solution you'd like
When creating a table allow to add "Created" and "Updated" columns, which will be populated by the system accordingly

## Describe alternatives you've considered
Do in client side code for each table for

[2020-12-13 17:44] peachp opened #380 "Duplicating table doesn't work"
# Bug report

## Describe the bug
Doesn't work with or w/o "Duplicate table entries as well" option. Messages were shown that columns were duplicated, but the table is empty (no column, no data)

## To Reproduce
In table editor, right click on the table tame, Duplicate table

## System information
- OS: Ubuntu 20.04
- Browser: Chromium

[2020-12-13 17:45] awalias commented on #380
Thanks for reporting, will look into it 👌

[2020-12-13 17:53] peachp opened #381 "UX: no feedback for starting / running backup"
# Bug report

## Describe the bug
When clicking "Backup now", nothing happens (almost made me click twice). Only after 2-4 seconds a new line with backup appears.
It is also not obvious that it is not finished as soon as the new line appears, but is in process for some time. Hard to notice, esp. on big screens.

## To Reproduce
Database > Backups > Back up now

## Expected behavior
When clicking "

[2020-12-13 17:55] awalias commented on #381
I think we have this on a branch @dragarcia ?

[2020-12-13 17:57] awalias commented on #379
Could be a good one @joshenlim

[2020-12-13 18:07] peachp opened #382 "Inseting many records via editor fails / takes too long"
# Bug report

## Describe the bug
First tried with few dozens: worked instantly.
Then pasted about 11k INSERTs, waited for about 5min, lost patience and wanted to check if something happens by opening Table editor with Ctrl+click in new tab, but it opened in the same tab and by the looks of it, no new records were inserted.

Second attempt: now only around 1k records. Gave up after 15min (no recor

[2020-12-13 18:47] awalias commented on #382
The recommended approach here is to use COPY (it's a lot faster) https://www.postgresql.org/docs/12/sql-copy.html

And for larger datasets it's also advisable to run it directly from your machine using psql https://stackoverflow.com/a/33945136

Your DB connection string is available in the settings > DB page on the supabase dashboard

[2020-12-13 18:47] #382 closed

[2020-12-13 18:58] joshenlim commented on #380
Hey there @peachp! Could you share with us the table that you were trying to duplicate? Perhaps you can export the table to CSV through the editor and drop the CSV file here.

[2020-12-13 19:37] peachp commented on #380
@joshenlim unfortunately the data is sensitive. Below is the table definition, hope it helps:
![image](https://user-images.githubusercontent.com/47209189/102021824-96c92080-3d7a-11eb-821f-02180838d0b5.png)

[2020-12-13 21:20] ykdojo opened #383 "In the vue3-ts-todo-list example, authentication still has a few problems"
1. When a user logs in and refreshes the page, the user is logged out again.
2. When I click "Forgot your password?", I seem to get a magic login link, and not a way to change/reset my password.

[2020-12-14 02:57] joshenlim commented on #380
No worries at all! Thanks so much for this too :) We'll look into this!

[2020-12-14 04:20] dragarcia commented on #381
yeap - it's in another branch and should be good to go. We'll just need to merge it in and deploy the changes.

[2020-12-14 06:55] ykdojo commented on #383
I made #384 to fix the first one. I haven't taken a closer look at the second one yet.

[2020-12-14 09:15] kiwicopple commented on #383
Ah, @thorwebdev just did this fix - would that also help for `1`?

https://github.com/supabase/gotrue-js/commit/5de6b7f6e4b94e57d2a589757c10d02a3592d030

- `2` seems odd - is the Network Request going to the `/recover` endpoint?

[2020-12-14 09:44] kiwicopple commented on #359
Hey @andykais - for the `EAI_AGAIN` error, i believe it might be a local error (https://stackoverflow.com/questions/37811605/how-can-i-resolve-if-eai-again-error-happens-on-facebook-messenger-platform), where your own server isn't resolving your DNS server correctly.

The second error could be related, but very hard to know. We have customers doing something similar to your workload but this is th

[2020-12-14 14:46] andykais commented on #359
No, I am also polling `https://api.themoviedb.org/3/` at the same time, but I have never seen network errors from their api. It could just be coincidence that all the errors are from supabase but I am unsure.

I also have deployed this app to heroku to attempt detecting if this is a local wifi problem, but there are new `ETIMEDOUT` errors (only with supabase). I need to do a bit more research befo

[2020-12-14 16:46] miro-ur opened #389 "Type "http_request" does not exist when using pgsql-http extension"
# Bug report

## Describe the bug

When trying to use the **pgsql-http** extension within the managed Postgres instance of Supabase I get an error :
**SQL Error [42704]: ERROR: type "http_request" does not exist  Where: SQL function "http_get" during inlining**

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Activate http extension in postgres v

[2020-12-14 16:53] steve-chavez commented on #389
Hey @miro-ur,

This could be a `search_path` issue. Try adding `extensions` to the `search_path`.

[2020-12-14 17:01] miro-ur commented on #389
Hey @steve-chavez, that was it. I should have thought of that.
Would it make sense to add 'extension' to search_path after spinning up the db as default to make sure extensions will work "out of the box"?

Thanks !

[2020-12-14 20:23] ykdojo commented on #383
Yes, actually updating @supabase/supabase-js fixed it. I should've tried updating it first.. (#390)

Anyway, I'll take a look at the second issue again.

[2020-12-14 21:19] ykdojo commented on #383
Yes it is going to the /recover endpoint.

[2020-12-14 21:21] ykdojo commented on #383
The email looks like how it's supposed to look, too:

![image](https://user-images.githubusercontent.com/1811651/102137089-25877d00-3e0f-11eb-8719-7bcd54809355.png)

[2020-12-14 21:35] ykdojo commented on #383
It looks like the URL that's sent in a password reset email is the same as the one that's sent in a magic login email.
From magic login email: https://<myurl>.supabase.co/auth/v1/verify?token=FNWLEcyMvj2-mksPMFl3JA&type=recovery
From password reset email: https://<myurl>.supabase.co/auth/v1/verify?token=KZ_DXRNK_ftn8uJT0BjXpw&type=recovery

[2020-12-15 11:48] kiwicopple commented on #389
We're doing this now @miro-ur - will release this week 👍

[2020-12-15 11:59] #389 closed

[2020-12-16 05:24] joshenlim commented on #380
Hey @peachp! We found where the error is - nothing to do with your data :) Will be pushing out a fix shortly

[2020-12-16 09:00] peachp commented on #380
Cool, thanks!

[2020-12-16 23:37] awalias commented on #383
for 2. this is the expected behavior - the idea is the user is temporarily logged in, during which time the app should present a password reset form (the app can detect that a password reset has just taken place by checking for `#type=recovery` in the fragment

see [here](https://github.com/supabase/gotrue#get-verify) for the full docs

[2020-12-17 00:09] ykdojo commented on #383
@awalias got it, thanks. I think I'll update the frontend so that it'll be able to handle it.

[2020-12-17 20:42] ykdojo commented on #383
The strangest thing to me is how this email looks like a magic link email, but it contains the fragment type=recovery:
![image](https://user-images.githubusercontent.com/1811651/102541426-40532f00-4065-11eb-96ca-6981539ae4d1.png)

[2020-12-18 15:26] awalias opened #411 "Slack-clone example seems broken"
I followed the steps in the [slack clone deployment](https://github.com/supabase/supabase/tree/master/examples/nextjs-slack-clone#4-deploy-the-nextjs-client)

but the deployed app looks like [this](https://supabase-slack-clone-ant.vercel.app/)

[2020-12-18 15:29] awalias commented on #411
oh seems to have an old url

![image](https://user-images.githubusercontent.com/458736/102631590-d3639600-4145-11eb-9490-d174fbd1e4bd.png)

[2020-12-18 15:31] #411 closed

[2020-12-18 18:16] #281 closed

[2020-12-18 23:13] awalias commented on #383
hey @ykdojo this one (`type=magiclink`) is now fixed in prod

[2020-12-18 23:37] KonradLinkowski opened #414 "`ctrl` + `a` in organization name modal is broken"
# Bug report

## Describe the bug

`ctrl` + `a` key combination should select all text and than pressing any key should replace that text
what happens instead is text is selected, but isn't replaced and writing additional characters is broken after that

## To Reproduce

1. Go to https://app.supabase.io/new
2. Create new organization
3. Write something
4. Press `ctrl` + `a`
5. Type something
6. Go

[2020-12-19 00:12] awalias commented on #414
thanks for reporting @KonradLinkowski , will figure it out 👍

[2020-12-19 20:14] patcito opened #418 "auth.uid() check not working on insert when using another user's uuid"
# Bug report

When adding a policy to check that authenticated user uuid is equal to a table uuid, it still accepts the insert if I use another user's uuid.

## To Reproduce

Steps to reproduce the behavior:

1. Create a table Post (id, uuid)
2. Create a policy:
  `create policy "users can insert only own posts"
  on public.posts
  for insert
  with check (auth.uid() = uuid);`
3. execute the follo

[2020-12-19 20:39] awalias commented on #418
Hey @patcito thanks for reporting will check it out

[2020-12-19 20:48] patcito commented on #418
Thanks @awalias, I'm not sure if I'm doing it right. What I want to enforce is that the uuid of the post being inserted is the same as the uid of authenticated from auth.users. Is this possible and am I doing it right? Thanks.

[2020-12-19 20:53] awalias commented on #418
just to confirm: are you using the `anon` key in your supabase-js client?

[2020-12-19 20:59] patcito commented on #418
yes, I'm using anon key

[2020-12-19 21:21] awalias commented on #418
did you do `ALTER TABLE public.posts ENABLE ROW LEVEL SECURITY;` ?

[2020-12-19 21:33] patcito commented on #418
when I do this, I get "new row violates row-level security policy for table \"posts\""

This is the policy I used:

`create policy "users can insert only own posts"
  on public.deposits
  for insert
  with check (auth.uid() = posts.uuid);`

[2020-12-19 22:18] patcito commented on #418
Nevermind, it works now. Thanks for the help.

[2020-12-19 22:18] #418 closed

[2020-12-19 22:19] awalias commented on #418
great news, anything else let us know!

[2020-12-19 23:55] sonnylazuardi opened #419 "Origin is not allowed by Access-Control-Allow-Origin"
# Bug report

## Describe the bug

After creating and connecting database, The first time I tried it works. but for some time later it will throw CORS Origin is not allowed by Access-Control-Allow-Origin.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to https://supabase-slack-clone.supabase.vercel.app/
2. Click on Sign In or Sign Up
3. See

[2020-12-20 01:45] sonnylazuardi commented on #419
I think it's because cisco umbrella security block the connection

[2020-12-20 01:45] #419 closed

[2020-12-20 16:33] peachp opened #420 "Adding column: An unexpected error has occurred."
# Bug report

## Describe the bug
Database > a table > New (column, left from Filter input) > entire GUI is replaced with empty page with error in the middle "An unexpected error has occurred."

[2020-12-21 03:29] inian commented on #380
Hi @peachp the fix for this has been deployed. Can you check if this is working now?

[2020-12-21 03:53] inian commented on #381
Hi @peachp, this enhancement has been deployed. Does this make the backup UX better?

[2020-12-21 09:28] peachp commented on #380
Yes, looking good!

[2020-12-21 09:33] peachp commented on #381
there is still a delay of 3-4 seconds between clicking on "Backup now" and displaying the loading wheel. I guess it is a bit better and will do for now, but during these 3-4 seconds where nothing happens, I'm asking myself "...have I miss-clicked? ...do I need to click harder? ...is it broken? ...oh, here we go!"

[2020-12-21 10:00] ykdojo opened #421 "Change the way the Slack clone example handles localStorage"
I'm mostly looking at these two lines:
- https://github.com/supabase/supabase/blob/559f909cb7fa57e8df091d7bb50bbdfca13636d6/examples/nextjs-slack-clone/pages/_app.js#L15
- https://github.com/supabase/supabase/blob/559f909cb7fa57e8df091d7bb50bbdfca13636d6/examples/nextjs-slack-clone/pages/_app.js#L28

Rather than manually manipulating local storage, it should use [supabase-js/gotrue-js's built-in f

[2020-12-21 10:16] #380 closed

[2020-12-21 10:21] kenmueller opened #422 "Subscribing to a table doesn't load relationships to other tables"
# Feature request

## Is your feature request related to a problem? Please describe.

Subscribing to a table doesn't load relationships to other tables. This is unlike selecting elements from a table, where relationships are loaded normally.

## Describe the solution you'd like

I'd like for relationships to be loaded when a table is subscribed to, just like selecting elements with `.select(...)`.

[2020-12-21 12:07] thorwebdev commented on #421
Yes, the slack clone needs a refactor and update. I think someone was working on that. @kiwicopple do you remember who?

Regarding useAuth hook, I think this React context approach is the best solution: https://github.com/thorwebdev/nextjs-subscription-payments/blob/main/components/UserContext.js. I need to update the nextjs auth example with that.

[2020-12-22 16:35] #343 closed

[2020-12-22 16:36] kiwicopple commented on #291
hey @MildTomato did this one resolve?

[2020-12-22 16:37] kiwicopple commented on #213
We now have an example being actively maintained :)

https://github.com/supabase/supabase/tree/master/examples/vue3-ts-todo-list

[2020-12-22 16:37] #213 closed

[2020-12-22 16:41] kiwicopple commented on #205
Forgot to loop back here! This is now in the dashboard -

<img width="1382" alt="image" src="https://user-images.githubusercontent.com/10214025/102911772-79e9c700-44b7-11eb-9df5-fd6c5e2ca010.png">

You will still have to handle any situations where you reference the `auth.users` table though. Eg, you will have issues trying to delete a user that you are referencing from the `public` schema

[2020-12-22 16:41] #205 closed

[2020-12-22 16:45] kiwicopple commented on #361
Yeah our table editor at the moment only supports very basic types. We need to figure out a good way to support PostGIS, but also all other extension types. We'll look into this @ffischer1984

J&J FYI! @joshenlim @MildTomato

[2020-12-22 16:47] kiwicopple commented on #376
@joshenlim - I agree with @peachp 's suggestion here to hide the "Allow empty" on PK. Perhaps you can add this to your open PR?

[2020-12-22 16:50] kiwicopple commented on #422
Hey @kenmueller - you'll have to bear with us on this one as it's a surprisingly difficult problem to solve. We are working on it, but I don't have a timeline yet. I agree - it would be an amazing Dev experience when we get subscriptions like this

[2020-12-22 16:51] kiwicopple commented on #163
We trimmed down the screen now so that it only has some very basic info :)

[2020-12-22 16:51] #163 closed

[2020-12-22 17:04] MildTomato commented on #291
I was meant to check this today, checking first thing tomorrow

[2020-12-22 17:14] ulysset opened #427 "Live slack clone sign-up not working"
# Bug report
In the repo example https://github.com/supabase/supabase/tree/master/examples/nextjs-slack-clone the live example hosted doesn't work.
## Describe the bug
When I try to sign up in the live demo hosted at this url http://supabase-slack-clone.supabase.vercel.app/
[code]
## To Reproduce
1. Go to http://supabase-slack-clone.supabase.vercel.app/
2. Enter valid email and password
3. Click o

[2020-12-22 18:12] kiwicopple commented on #427
Possibly related to this one: https://github.com/supabase/supabase/issues/421

YK is improving the codebase for the Slack clone now, so we can address this in one fell swoop :)

[2020-12-22 19:41] kiwicopple commented on #379
I think for this one we would need to add triggers - https://x-team.com/blog/automatic-timestamps-with-postgresql/

We could "auto populate" the field on the dashboard, but it would be missing values when a row is programmatically inserted (via the API). Will the trigger approach work for you @peachp ?

[2020-12-22 19:46] kiwicopple commented on #377
Agreed @peachp ! I've updated this and it should go out in the next release

[2020-12-22 19:46] #377 closed

[2020-12-22 19:53] ykdojo commented on #427
@kiwicopple yes I think it's related. I'm just going to assign this issue to myself.

[2020-12-23 02:11] ykdojo commented on #421
#433 fixes this issue. I ended up not really using either a custom hook or the user context approach, but it fixes it. If we want to improve it, maybe we can refactor it in future PRs/commits.

[2020-12-23 02:13] ykdojo commented on #427
I hope #433 fixes it, but I believe I don't have access to the Vercel team (so that I can update the link) yet? @kiwicopple

[2020-12-23 07:34] kiwicopple commented on #422
@kenmueller I'm going to move this one to Discussions 👍

[2020-12-23 07:34] #422 closed

[2020-12-23 09:34] kiwicopple commented on #427
@ykdojo let's merge your branch in then we can test. I think there is also a problem where the vercel deployment is pointing to a delete database now

[2020-12-23 09:40] peachp commented on #379
@kiwicopple I think populating it on the lowest level possible, would be great. So it won't matter whether I insert / update a row via your web GUI, API, SQL or maybe even when connected to the DB directly. Though at least via API and web GUI would be good.

[2020-12-24 10:45] inian commented on #375
Hi @peachp the fix for this has been deployed. Can you check if this problem is solved? Thanks!

[2020-12-24 10:46] inian commented on #420
Hi @peachp, this has been fixed too in our recent release. Can you please check?

[2020-12-24 13:30] emschwartz opened #439 "Show email sending errors"
# Feature request

## Is your feature request related to a problem? Please describe.

I just set up the custom SMTP but, from the lack of email arriving at an invited account, it looks like I set it up incorrectly. However, there's currently no way to see this from the UI.

## Describe the solution you'd like

It would be nice to have a way to test the SMTP settings and/or see errors if the emails

[2020-12-24 13:42] emschwartz commented on #439
Whoops, turns out they did go through

[2020-12-24 13:42] #439 closed

[2020-12-24 19:09] #421 closed

[2020-12-25 22:15] noahtallen commented on #347
This would be great. I was following the NextJS API example above: https://github.com/supabase/supabase/blob/master/examples/nextjs-with-supabase-auth/pages/api/getUser.js

I noticed that my requests were failing due to my RLS not matching the request. I narrowed it down to the `auth.uid()` check not working in the database, I assume because the user's access token is not included in the request o

[2020-12-28 09:48] CiriousJoker opened #448 "Offline Support"
# Feature request

## Is your feature request related to a problem? Please describe.

An app for employees accessing a database "in the wild" where internet access is sparse (Germany is a third world country in that regard).

## Describe the solution you'd like

Ideally there would be the same functionality as with Firestore. Modify database locally, syncs back to server once a connection is avail

[2020-12-28 17:32] kiwicopple commented on #448
Hey @CiriousJoker thanks for the message - this is something we're working on (although it will take a bit of time). We have a discussion here : https://github.com/supabase/supabase/discussions/357

Should we move this conversation there? Thanks

[2020-12-28 18:43] danny-laa commented on #85
@kiwicopple Will the dashboard GUI be open sourced in the future?

[2020-12-28 19:11] daneden commented on #347
Came here just to +1! I’ve loved Supabase for a recent project, but client-side-only auth is a bit of a pain. I had a ham-fisted `next-iron-session` wrapper but found it unreliable and would love Supabase’s client SDK to provide a native serverless solution.

[2020-12-28 19:19] julionav opened #452 "Auth email search is case sensitive"
# Bug report

## Describe the bug

When signing in, email search is case sensitive

## To Reproduce

1. Signup with a new email e.g julio@gmail.com
2. Try to signin with that email but change the case of any character: e.g Julio@gmail.com

Sign in will fail because the search is case sensitive

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

I

[2020-12-28 20:39] CiriousJoker commented on #448
Oh, I must have overlooked that issue. I'd suggest continuing here though instead of there, because this one is more detailed.

[2020-12-29 14:16] kiwicopple commented on #448
In order to keep our repository clean, we're keeping long-running enhancements in the discussions. If you want I can convert this to it's own discussion, or you can copy your text to the existing discussion. There's not much point having an issue and a discussion - it will be confusing and harder to maintain

[2020-12-29 14:21] CiriousJoker commented on #448
I agree, I'll add it to the discussion

[2020-12-29 14:21] #448 closed

[2020-12-29 14:25] #329 closed

[2020-12-29 22:47] carlosstenzel commented on #452
why don't you make a filter first, converting everything to tiny?

[2020-12-29 23:05] ykdojo commented on #427
I tried signing up again, and I got this error:
![image](https://user-images.githubusercontent.com/1811651/103319499-f2381700-49e6-11eb-9543-aea88f81ac97.png)

Here's the error on my Chrome console:
![image](https://user-images.githubusercontent.com/1811651/103319582-2c091d80-49e7-11eb-9f12-9be1d93423bf.png)

It looks like it's still pointing to a deleted database? @kiwicopple

[2020-12-29 23:06] #383 closed

[2020-12-31 17:00] emschwartz opened #461 "Detailed error messages when queries from SQL Editor fail"
# Feature request

## Is your feature request related to a problem? Please describe.

If a query fails when run from the SQL editor, it shows the message `Error: failed to run query. Bad request`.

## Describe the solution you'd like

 It would be useful if it could show additional error details in the error popup or somewhere else in the UI.

## Describe alternatives you've considered

Alternativ

[2020-12-31 17:06] emschwartz opened #462 "Can't call extension function from a stored function"
# Bug report

I'm trying to create a stored function that uses the `http` extension. However, when I try to call one of the `http` functions, it produces errors like `function http_post(character varying, character varying, character varying) does not exist`.

I also tried calling `extensions.http_post(...` but that raises the error: `permission denied for schema extensions`.

Disclaimer: I'm a pl

[2021-01-01 15:00] kiwicopple commented on #462
Hi @emschwartz  - I think the user calling the function cannot access the `extensions` schema.

Can you try adding `security definer` to the end, which will run the function as the user who *created* the funciton:

 `$$ LANGUAGE plpgsql security definer;`

 That should help us debug the error. Also check out "Writing SECURITY DEFINER Functions Safely" in the docs: https://www.postgresql.org/docs/c

[2021-01-01 20:21] emschwartz commented on #462
Adding the `security definer` as you described, along with setting the search path worked. (Without setting the search path, it was able to call `extensions.http_post` but then raised the exception `type "http_request" does not exist`)

Thanks for the help!

[2021-01-01 20:21] #462 closed

[2021-01-02 15:01] kiwicopple commented on #85
Probably the part which manages the data (but not the org/project management part). We still haven't put much thought into that part yet as it's a lot of internal co-ordination tooling. Hopefully I will have more info for you in ~6 months once we have finished building the main Firebase features

[2021-01-02 15:39] kiwicopple commented on #341
Hi @viperfx. Sorry for the delays - I think you sent this as we were hitting beta. Busy time.

I am not too sure I follow your use-case, so bear with me. Perhaps you can use the `supabase.auth.api.refreshAccessToken()` method?

Usage: https://supabase.io/docs/gotrue/client/api-refreshaccesstoken

You would generate a user, which will give back a token and a refreshToken. You can then use the `refr

[2021-01-02 17:10] kiwicopple commented on #452
Thanks for the bug report @julionav - fixing now. Should go out in a few days

[2021-01-03 02:07] ykdojo commented on #420
@inian I think I'm going to close this issue since it's been inactive for 10 days. @peachp, please feel free to reopen it if you encounter something similar again.

[2021-01-03 02:07] #420 closed

[2021-01-04 00:56] #452 closed

[2021-01-04 14:00] peachp commented on #420
Seems to work now!

[2021-01-04 14:01] peachp commented on #375
Seems to work now! Thought I didn't have the original column anymore where I had this error, so I just created a new one and deleted it.

[2021-01-04 14:02] #375 closed

[2021-01-04 14:05] peachp opened #468 "Table shown in Database, but not in Table editor"
# Bug report

## Describe the bug
I had a table `email_history`, which I believe I've deleted. It is no longer shown in "Table editor", but it is still shown under Database > Tables

## To Reproduce
Not sure how to reproduce. See above how it happened.

![image](https://user-images.githubusercontent.com/47209189/103543049-c78e0880-4e95-11eb-995c-ce2467f6f7da.png)

![image](https://user-images.gith

[2021-01-04 14:33] inian commented on #468
@peachp do you see the deleted table when you reload the page as well?

[2021-01-04 14:50] peachp commented on #468
Yes, even when reloading with Ctrl+F5.
I can try delete it again from Database, but I thought I'll keep it for now for you to investigate why it is shown in one place but not another.

[2021-01-04 14:52] inian commented on #468
thanks Waldemar! we will investigate and get back to you.

[2021-01-04 16:16] inbytesdevteam opened #470 "Error: Out of Memory when scrolling table horizontally"
# Bug report
When scrolling table horizontally to see other columns, web application crashes with console log: "Error: Out of Memory". (See screenshot below).

## Describe the bug
When scrolling table horizontally to see other columns, web application crashes with console log: "Error: Out of Memory". (See screenshot below).

## To Reproduce

1. Create a new table that has fields more than the scre

[2021-01-05 00:08] rickysullivan opened #472 "Rollback + transactions"
Is there anyway to perform multiple insert commands that can be rolled back if any error?

[2021-01-05 00:56] steve-chavez commented on #472
@rickysullivan Yes, that can be done with functions. Check this example on https://github.com/supabase/supabase-js/issues/87#issuecomment-739537955

[2021-01-05 01:37] lightsound opened #473 "Universal Login - Share login session between different subdomains."
# Feature request

Universal Login. I'd like to share the login session between different subdomains.

## Describe the solution you'd like

I don't know much about that, but I've heard there are two general ways.

1. Using cookies like [SuperTokens](https://supertokens.io).
2. Local Storage + iframe like [Auth0](https://auth0.com).

If there are other alternatives, I'd like to know about them.

##

[2021-01-05 04:35] joshenlim commented on #470
Hey there @inbytesdevteam! Could I check real quick which version of Safari you are using?

[2021-01-05 05:11] dragarcia commented on #381
Hi @peachp, thanks for the feedback! We've since deployed a fix that should solve the delay.

[2021-01-05 13:36] inbytesdevteam commented on #470
Hi @joshenlim - Version 13.1.2 (15609.3.5.1.3)
Btw, tried it with Chrome and it has the same issues too.

[2021-01-05 13:49] joshenlim commented on #470
Ahh gotcha on this that's a great catch @inbytesdevteam - thanks so much! Just to clarify the steps to reproduce the error:

- Create a column of text array type
- Add a row with an array of text
- Bug occurs

Gotcha on the second bug you mentioned as well! We noticed this a while back too and have pushed a fix for that!

[2021-01-05 13:51] inbytesdevteam commented on #470
Hi @joshenlim! Yes! :)
Thanks in advance for the fix! 👍

[2021-01-05 15:07] inbytesdevteam commented on #176
It's working now. Just want to say thanks @kiwicopple @steve-chavez @soedirgo 🙏🏻

[2021-01-05 19:59] inian commented on #468
Hi Waldemar, this issue has been fixed now. Thank you for reporting.

[2021-01-05 22:34] zdb999 opened #481 "CSS wrapping issue on generated API docs"
# Bug report

## Describe the bug

The titles on the API doc sections do not wrap properly, and extend into the code side of the screen.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to the API docs on a database.
2. Zoom in, and possibly narrow the browser window if you are using a large monitor.
3. See that the section titles extend over

[2021-01-05 23:06] carlosstenzel commented on #481
![Screen Shot 2021-01-05 at 19 59 35](https://user-images.githubusercontent.com/3890516/103709263-ed4c0800-4f90-11eb-8b07-183510bf3c18.png)

solution

![Screen Shot 2021-01-05 at 20 00 12](https://user-images.githubusercontent.com/3890516/103709307-06ed4f80-4f91-11eb-88eb-20354093a628.png)

Move h2 e add background:none in class doc-heading

[code]

[2021-01-06 00:12] carlosstenzel opened #482 "not working - where uuid"
Do not select by id.
Code:

[code]
return

[code]

[2021-01-06 00:33] soedirgo commented on #482
Hey @carlosstenzel, can you try enclosing ID with single-quotes? Postgres treats the thing in `"` as identifiers (i.e. columns, tables, etc.).

[2021-01-06 00:41] carlosstenzel commented on #482
@soedirgo  return = Error: Run query failed (invalid input syntax for type uuid: "ID")

[2021-01-06 00:55] soedirgo commented on #482
UUIDs have a [well-defined format](https://www.uuidtools.com/what-is-uuid), so the query fails. Can you tell me what specifically you're trying to do? I might be able to help more directly that way.

[2021-01-06 05:02] zdb999 opened #483 "Better way to handle password resets."
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, the Supabase client has an endpoint to request a magic link or a password reset. However, once the user clicks on that link and is redirected back to the application, there is no way to insert that access / refresh token back into the Supabase client. The only way to handle it is to use the GoTrue clie

[2021-01-06 05:24] joshenlim commented on #470
Hey @inbytesdevteam so i'm trying out the creation of text array type column to reproduce the bug as such:

![image](https://user-images.githubusercontent.com/19742402/103732421-47e17480-5022-11eb-9768-d98c6ec4f079.png)

But the error doesn't seem to occur for me. So sorry to inconvenience you but would you mind dropping a screen recording to cover the steps for reproducing the error?

I did notic

[2021-01-06 07:40] zdb999 commented on #483
So, I've done some further investigation, and my supabase-js client was not working properly. Now the password reset links log me in automatically, but does not do anything to help me actually reset my password. It seems that the best way to know when to redirect someone for a password reset would be to listen to `auth.onAuthStateChange` events and redirect those events where `type=recovery`. Howe

[2021-01-06 09:55] inbytesdevteam commented on #470
Hi @joshenlim! I just tried it out now and no more errors are occuring. Must have been fixed from the patches today. :) Thank you! :)

[2021-01-06 10:01] peachp commented on #468
The table `email_history` is still showing under Database, but not under Table editor for me.
But I assume you fixed that it shouldn't happen in future, so I just deleted it from Database this time.

[2021-01-06 10:02] joshenlim commented on #470
Ahh perfect haha thanks so much for confirming, really appreciate it! 🙏

[2021-01-06 10:02] #470 closed

[2021-01-06 13:09] kiwicopple commented on #379
Hey @peachp , we now have the `moddatetime` extension, so you can run this

[code]

I'll add this to the quickstart snippets

[2021-01-06 18:15] #381 closed

[2021-01-07 10:43] peachp commented on #379
@kiwicopple
I could do this for tables where I really need it, though it would be great to have a GUI where the two columns (e.g. `updated_at` and `created_at`) can be activated when creating a new table or editing it under Database.
Or maybe even allow enabling it globally for all tables!

No no, of course it wouldn't make sense to auto-populate rows only when inserting / updating via dashboard.

[2021-01-08 02:30] hiro1107 opened #491 "Verify access token on node.js"
# Add functionality to verify the access token and get a user on the server-side.

## Firebase Admin-like API to verify id token and get the current user on the server-side.

I'm now working on a Nest.js-based Graphql API server and trying out Supabase Auth. When use sends a request to the server, I need to verify the access token and pass down the user info in the middleware. I checked the API bu

[2021-01-08 11:29] #472 closed

[2021-01-08 12:00] kiwicopple commented on #468
@soedirgo, I wonder if this is related to pg-api returning some deleted tables?

@peachp how did you delete the table? Using the table editor or SQL?

[2021-01-08 12:02] kiwicopple commented on #481
Fixed! Thanks for reporting @zdb999 , and thanks for the suggestions @carlosstenzel

[2021-01-08 12:02] #481 closed

[2021-01-08 12:06] kiwicopple commented on #482
Hey @carlosstenzel , here is a query which should work:

[code]

You will have to use a User ID of an actual user in your database (`select id from auth.users`). Feel free to reopen this if you have any problems!

[2021-01-08 12:06] #482 closed

[2021-01-08 12:07] kiwicopple opened #492 "Docs improvements"
Hi 👋🏻

**Spoiler alert:** the documentation is great. Supabase's documentation is really good, and we learn a lot of things using it. **BUT**, a lot of stuff is missing in, creating confusions like in #437.

So, I decided to create a thread about a lot of questions I got myself when using Supabase (and ``supabase-js``):

1) What is a SupabaseClient in fact? Is it just a way to link Supabase and th

[2021-01-08 12:15] kiwicopple commented on #492
@ykdojo thoughts on this one? My current thoughts:

### 1. What is a SupabaseClient in fact?

we should update the [JS Docs](https://github.com/supabase/supabase-js/blob/a5dc5d252a1ec7c9c2c2a5682dd77868fe2c3a97/src/SupabaseClient.ts#L20) on `supabase-js` client

### 2 & 3  - serverside auth

We need to think how we do "server side" and "client side" docs. Perhaps with Thor's GoTrue updates?

### 4

[2021-01-08 12:32] kiwicopple commented on #379
Yeah we need much better "trigger" support in the dashboard. It's coming !

This one will be a bit harder if they are populated by triggers, but let us brainstorm this one. I'll convert this one to a Discussion for now since it's not a breaking issue. It will be better as the community can then search for it in the future