[2022-06-11 08:13] roker15 opened #7250 "onAuthStateChange (SIGNED_IN event) Fired everytime I change Chrome Tab or refocus on tab ."
**Whenever i focus to another tab (Chrome) and come back to supabase application tab , onAuthStateChange  fires SIGN_IN event.**
Even though i am already signed in , whenever i refocus on supabase application tab, again SIGN_IN event is fired.
I am using following version
[code]

**--- This causes me to navigate to landing page each time i focus on tab.**

Also it should be noted that two days ago

[2022-06-11 14:09] GaryAustin1 commented on #7250
This is do to a recent change in token refreshing.  I assume you are pulling latest gotrue.js code now, versus older version before.

https://github.com/supabase/gotrue-js/pull/274#issuecomment-1105207806

[2022-06-11 14:35] roker15 commented on #7250
How to pull latest gotrue? My project has supabase dependency and i am using latest supabase.

[2022-06-11 14:49] GaryAustin1 commented on #7250
The latest supabase-js has the latest gotrue-js in it.  Just saying you likely upgraded and that is why you are getting the new method of refreshing tokens.

[2022-06-11 15:00] roker15 commented on #7250
Is there way to fix it?

[2022-06-11 15:41] GaryAustin1 commented on #7250
You could set your version of supabase-js to 1.35.2 or older for the time being.  At some point though, unless SB decides this is a bug, you will need to adjust your code to deal with the extra events.

Even if they fix the SIGNED_IN event on every tab visibility event to just when the token actually needs refreshing, you will still get a TOKEN_REFRESHED and SIGNED_IN event if the token had expire

[2022-06-11 18:11] roker15 commented on #7250
You are right i am using 1.35.2 now and everything is working just fine. But still i consider it as bug. Lets see how supabase deal with this.

[2022-06-11 20:25] FelixZY commented on #7186
Ok, so I found a workable workaround:

1. Create function `gen_api_token`
[code]
2. Create table `apitokens(id bigint, token varchar, user uuid, created_at timestamptz)`. Make `token`' column unique with default value `gen_api_token()`.
3. Create function `http_header`
[code]
4. Add read policy for `apitokens`:
[code]
5. Add RLS policies as required:
[code]

*You can now make API requests using yo

[2022-06-11 22:20] GaryAustin1 commented on #7250
Are you sure you downgraded?  I backed up to 1.35.2 and the SIGNED_IN event on tab change goes away.
You can check this header in your calls to see:
![image](https://user-images.githubusercontent.com/54564956/173206645-656fa004-7492-4b78-8454-586c82952681.png)

[2022-06-12 01:12] eliranbenishai opened #7252 "Upload of ArrayBuffer ends up corrupted"
# Bug report

## Describe the bug

My environment is deployed to Vercel so no file uploads are possible (to my knowledge). So I'm sending a cropped image (using `react-cropper`) in base64 to the api route, where the image is then converted to an ArrayBuffer (using `base64-arraybuffer`, just like in the docs) and then uploaded it to the storage using the appropriate mime type (extracted from the fi

[2022-06-12 01:20] candymandev opened #7253 "Edge function does not execute in parallel"
I have an edge function `generate-image`. When I invoke the function locally many times, each invocation runs in parallel as I expect.

![local](https://user-images.githubusercontent.com/94403944/173210070-dab51903-123a-40fa-b67e-4a4598731e2f.png)

When I deploy the function to production with the same code to invoke it many times, it seems to run sequentially. Something on the server side seems t

[2022-06-12 06:33] roker15 commented on #7250
yes i checked as you said
x-client-info : supabase-js/1.30.2

[2022-06-13 02:19] J0 commented on #7218
Just transferred [functions-py](https://github.com/supabase-community/functions-py)

[2022-06-13 04:58] devops-versai opened #7259 "How to add extra data in google signIn in user_metadata or even If we can add it or not"
# Improve documentation

## Link
https://supabase.com/docs/reference/javascript/auth-signin#examples

## Describe the problem

Here I can see you have described multiple options and I am using redirectTo and it is working fine but now I want to send extra data
just like in email signUp how can we do this there I can see "queryParams"  but cannot verify the use of it

## Describe the improvement

d

[2022-06-13 05:56] roker15 opened #7261 "supabase.auth.api.setAuthCookie(req, res) not working in nextjs API route. Invalid JWT."
I am trying to fetch data through nextjs API.
I am using -
[code]

1. If RLS is not set then I am able to fetch Image.
2. If RLS is set I am not able to fetch image. With following error -

`{"statusCode":"401","error":"Invalid JWT","message":"new row violates row-level security policy for table \"objects\""}`

I have already set auth cookies by calling following code inside `auth `route

[code]

[2022-06-13 06:17] #6942 closed

[2022-06-13 11:39] jjromary commented on #7184
Managed to solve this problem. A block of my code was responsible for this infinite loop. I refactored that code block and the error stopped occurring.

[2022-06-13 13:14] #7184 closed

[2022-06-13 15:23] candymandev commented on #7253
For comparison, here is the same edge function running on Deno Deploy. The invocations execute in parallel as I expect.

![screenshot-2022-06-13-11-21-40](https://user-images.githubusercontent.com/94403944/173388136-481bdcde-e19e-4965-ad53-cfb35ed45366.png)

They take much longer and I'm hitting memory limits on Deno Deploy when I do a lot of these... but that's another issue altogether :joy:

[2022-06-13 20:00] janpio commented on #5685
Is this something Prisma is doing _wrong_ and could fix? If so, I would love to have a minimal reproduction example (either here or as an issue in the Prisma repo) so we can take a deeper look.

[2022-06-13 22:18] w3b6x9 commented on #5685
@janpio nope, this is an issue on Realtime's end and we have a fix for it. We're just waiting to deploy.

[2022-06-13 23:58] janpio commented on #5685
@w3b6x9 Ok, then I just misunderstood the docs section 👍

[2022-06-14 06:01] w3b6x9 commented on #5685
@janpio appreciate you checking in!

[2022-06-14 07:56] #7147 closed

[2022-06-14 11:36] subwaymatch commented on #7189
Thank you for the update @dragarcia! I will use the Docker setup.

Park

[2022-06-14 11:36] #7189 closed

[2022-06-14 12:35] jjromary commented on #7150
Can I take over this issue?

[2022-06-14 13:30] saltcod commented on #7150
@joshenlim was there some extra context happening here on the backend before @jjromary gives it a go?

[2022-06-14 13:50] jjromary commented on #7148
@joshenlim How can I manage to reproduce this bug? How can I insert this external link in the column header?

[2022-06-14 17:48] #7119 closed

[2022-06-14 18:02] #7246 closed

[2022-06-14 23:14] janpio commented on #5685
(Feel free to ping me for technical problems with Prisma ORM any time.)

[2022-06-15 00:36] IHIutch commented on #3783
Updated link https://github.com/supabase-community/auth-helpers/blob/main/packages/nextjs/README.md

[2022-06-15 08:17] joshenlim commented on #7150
hey there @jjromary! no worries on this - we've found the fix for it, it was mainly something on postgres-meta, but Studio needed some tweaking as well. Thanks so much nonetheless for reaching out! 🙏

[2022-06-15 08:36] joshenlim commented on #7148
hey there @jjromary! apologies for lack of details on this ticket - i'm trying to reproduce this issue but can no longer do so, might have been fixed in one of our previous commits. I'm gonna close this ticket for now unless anyone else runs into this issue 🙏

[2022-06-15 08:36] #7148 closed

[2022-06-15 08:38] joshenlim commented on #6988
Hey all! I'm gonna close this issue for now as the fix for this has been out for awhile, but anyone who might be facing this issue still please feel free to reopen this ticket! Will be glad to help out wherever we can 🙏

[2022-06-15 08:38] #6988 closed

[2022-06-15 08:45] joshenlim commented on #6768
just fyi this is potentially something specific to your browser @ChristianLutzCL, any chance you might have some chrome extension related to dark mode? The component here uses a native browser dropdown component as well so it should work out of the box afaik

on production this is how it looks like for me
![image](https://user-images.githubusercontent.com/19742402/173784022-17c4c08d-cfee-4bbb-8bcf

[2022-06-15 09:05] ozdeozgu opened #7282 "Flutter call to stored procedure has the error code: 42809"
# Bug report
PostgrestError(message: public.pe_sp_deneme(p_in => character varying) is a procedure, code: 42809, details: null, hint: To call a procedure, use CALL.)

## Describe the bug
I am using postgrest: ^0.1.10+1 in my Flutter project.
I can get data from views of my postgresql local server but when I rpc stored procedure, I got error of  "code: 42809, details: null, hint: To call a procedur

[2022-06-15 09:34] ChristianLutzCL commented on #6768
@joshenlim Really strange.
It can't be any extension, because I have the same problem with Chrome on other computers at work. By the way, the problem is also present in incognito mode and even in "light mode".

If I deactivate the color in "select options" in DevTools, the error would be solved.
![image](https://user-images.githubusercontent.com/30475783/173790673-0731883a-647e-4910-94a5-6595395c3

[2022-06-15 10:51] Lior539 opened #7283 "Add Delete Rule to GUI when setting Relationships"
# Feature request

Right now, when using the GUI to add a relationship between tables you cannot set the delete rule (e.g. cascade). You almost always want to specify the delete rule on the relationship when creating it, but this limitation in the GUI means that effectively the GUI has no use when it comes to setting relationship and you always need to use the SQL editor instead.

See attached scr

[2022-06-15 14:01] IHIutch commented on #3783
I'm a little confused by this suggestion because the documented example uses the @supabase/ui `Auth` which I've found tends to obfuscate what is actually happening when authenticating. I appreciate that this community package appears to solve some issues (Does it actually solve the _middleware issue? I'm not seeing that confirmed anywhere) but I still feel a bit in the dark on some other things.

[2022-06-15 17:13] sannajammeh commented on #7283
+1

[2022-06-15 17:35] steve-chavez commented on #7282
As a workaround, try changing your PROCEDURE to a FUNCTION.

[2022-06-15 18:10] GaryAustin1 commented on #4883
@oalbacha If you are creating users again, then you are on to some other issues in your code/setup.  Probably best to ask in Discord or Github/discussions here with details.

[2022-06-15 21:23] milesingrams opened #7289 "Insert causes select policy violation due to select occuring before all insert triggers are finished"
# Bug report

## Description of issue

Supabase (Or PostgREST)  is performing a select operation during row insertion, which throws a select policy violation. However the conditions of the select policy should be valid if the select operation waited until all triggers on the insert were completed. Here is a more in depth explanation of what my setup is:

### The setup

I have tables `page` and `us

[2022-06-15 22:13] steve-chavez commented on #7289
Can you provide an snippet of the request you're making and the exact error message you get?

[2022-06-16 00:07] GaryAustin1 commented on #7289
Just a quick glance, but is this right?
select 1 from page_user where user_id = auth.uid() and page_id = **page.page_id**
page table does not have page_id column in your table definitions...

[2022-06-16 02:06] joshenlim commented on #6768
@ChristianLutzCL ahh okay gotcha, thanks so much for this! i'll reopen this ticket and investigate further to see what else I can find :)

[2022-06-16 02:26] milesingrams commented on #7289
You're right! I fixed it. This is a minimal representation of the code I'm actually running, otherwise there would be a lot of unnecessary columns etc... Might have a few typos/mistakes.

[2022-06-16 02:37] milesingrams commented on #7289
The Javascript request I'm making is:
[code]

And the error I get is a 403
[code]

I found an article that suggested that the error is coming from the `select` policy:
https://nikofischer.com/supabase-error-row-level-security-policy

I validated this by setting the `page select` policy to `using (true)` and it worked. However it should also work with the current code because the `page after insert

[2022-06-16 03:22] GaryAustin1 commented on #7289
@steve-chavez  will be the expert on this.  But all you did by setting select policy to true is prove either SB has an issue with the select running too soon (your reporting issue) OR your policy is not working as you have it.  **How do you know your policy is correct?**  Do you have policies on page_user select?  Is the policy you are showing now all of your select policy on page table select?
No

[2022-06-16 04:50] phuochau opened #7293 "Got an error PGRST102: Error in $: not enough input when inserting the data using supabase js"
# Bug report

We got a 400 error with Postgres error code `PGRST102` and `message: "Error in $: not enough input"` for a simple inserting call by using `supabase-js`. But after that, we check the supabase, we can see the new record.

## To Reproduce

I have a `simple_test` table which uses to reproduce the bug with the structure below

[code]

In the next.js site, it uses supabase to insert data

[2022-06-16 05:10] phuochau commented on #7293
Now I got the same issue with any inserting calls in my project

[2022-06-16 05:28] milesingrams commented on #7289
Changing the select policy to true makes the insert work so clearly the select policy is triggering during insert.
Additionally leaving the select policy as-is and changing the trigger to 'before insert' instead of 'after insert' also works. The caveat being that I need to make the 'page_id' foreign key constraint on 'page_user' deferred so that it doesn't throw.

But the fact that it works when m

[2022-06-16 06:22] phuochau commented on #7293
I tried some tests:

- If I request as a guest, it will be successful.
- If I request as a user (logged in by Github), it will be failed.
- If I request as a user (using a magic link), it will be successful.

Any thoughts?

[2022-06-16 07:22] joshenlim commented on #6768
@ChristianLutzCL i threw in a quick style fix in this PR here:
https://github.com/supabase/supabase/pull/7295

the fix should go out in prod in a bit - could you check if this might have resolved the problem for you?

[2022-06-16 09:10] alemontesdev opened #7303 "Link to Reference Documentation from Introduction is inconsistent"
# Bug report

## Describe the bug

The existing link URL for Reference Docs from "How to use these docs", in the introduction page; is targeting the specific Javascript Supabase Client (which is empty) instead of the Overview section in Reference Documentation. This happens unless you open it in a _blank window.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a r

[2022-06-16 09:28] alemontesdev commented on #7303
PR: #7304

[2022-06-16 11:21] ChristianLutzCL commented on #6768
It works 👍
Thank you.

![image](https://user-images.githubusercontent.com/30475783/174058865-3add61b4-6e22-47bd-981c-0102009ee6e2.png)

[2022-06-16 11:21] #6768 closed

[2022-06-16 12:03] NarmerTheFirst opened #7306 "self-hosting supabase with docker on ubuntu 22"
supabase-studio keeps connecting to server

404 not found on http://localhost:3000/api/projects/default/subscription
401 Head http://localhost:8000/rest/v1

## To Reproduce

1. go to self hosting with docker using official docs
2. keeps reconnecting
3. inspect page
4. 404 not found on
 http://localhost:3000/api/projects/default/subscription

401 Head http://localhost:8000/rest/v1

## Expected beha

[2022-06-16 14:42] #7303 closed

[2022-06-16 14:50] NarmerTheFirst commented on #7306
never mind u guys i fixed it
all i had to do is delete everything and move on

[2022-06-16 15:15] OceanTechnic opened #7768 "Wrong url is beeing inserted in emails"
# Bug report

## Describe the bug
Supabase docker, is inserting `http://auth` into the url in emails as it should insert `GOTRUE_SITE_URL` from env

## To Reproduce
1. Install new supabase inside docker
2. Add email details into `.env`
3. Set `GOTRUE_SITE_URL` to something
4. Try sending your self an email

## Expected behavior
You should recieve this email which will be starting with `http://auth

[2022-06-16 16:07] awalias opened #7309 "weird link behaviour in docs"
using latest Firefox inside https://supabase.com/docs/guides/client-libraries

if I click the links to "supabase client" the redirect doesn't work

<img width="771" alt="image" src="https://user-images.githubusercontent.com/458736/174115905-51eb94d8-6b8d-4d12-ba53-5ac8c4d10c16.png">

only if I "Open in new tab" it goes on a redirect to https://supabase.com/docs/reference (which is the desired beha

[2022-06-16 16:34] Lior539 opened #7311 "Add Feature to Test + Debug Row Level Security"
Currently when writing a RLS policy you have to manually test it. They're also very difficult to debug when things go wrong as there is no logging (the current postgres logs are very cryptic and not suitable for debugging RLS policies.)

Some suggestions I have around this (not sure if they're doable though?):

1. Add the ability for unit tests or test cases for RLS policies
2. Add (better?) loggi

[2022-06-16 18:50] Sesa1988 opened #7312 "Env Setup & Database migrations"
# Feature request

It would be nice if you could define your migrations.

A migration contains a number and one or multiple scripts that should be executed.

Since we dont have a service that starts this migrations it could be a dashboard module where you can drag your migration files or a zip containing this files in.

This way you can setup your live environment exactly like your dev ones.

This

[2022-06-16 18:56] Sesa1988 commented on #5942
Thats great, hope this will be available at some point because thats a big deal in a world where you app has to run basically everywere.

[2022-06-16 18:56] perhp commented on #7293
I get the same error logged in with facebook (havent tried others). This issue causes serious problems within our platform, and seems to be a supabase issue, as we haven't made changes to the part that started failing.

[2022-06-16 19:25] steve-chavez commented on #7293
@phuochau Can you share your project ref to steve@supabase.io?

That error only happens when the insert body is empty. I can't reproduce locally so I'd like to check your project.

[2022-06-16 19:27] steve-chavez commented on #7293
@perhp Can you share your enviroment(next.js?) and a snippet too?

[2022-06-16 19:43] steve-chavez commented on #7289
Have you tried using `returning=minimal`?

[code]

Here's a sample generated query. Using the below:

[code]

This is generated:

[code]

[2022-06-16 20:06] GaryAustin1 commented on #7289
@steve-chavez So just to clarify for my understanding.   There is no actual select statement.  The returning is part of the insert, which has to meet select policy during the insert operation.  An after trigger occurs after both the insert of data to the db and the returning operation.

[2022-06-16 22:06] jtkeyva opened #7315 ".contains() not working in Flutter"
# Bug report

## Describe the bug

I'm trying to get data that contains some text. Specifically from an array column, but it doesn't work in a standard text column either.
## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

.contains doesn't work:
[code]

.eq works:
[code]
## Expected behavior

Return data that contains "park"

## Screenshots

## System

[2022-06-16 22:59] GaryAustin1 commented on #7315
I don't use Dart, but .contains works with an array column type and an array variable for the input to the filter (even if one word).
It compares the input array to the array column and returns the row if all the terms in the input array are in the column for that row.  An example would be a tag array column and wanting to find rows with one or more tags.

In the document example main_exports is a

[2022-06-16 23:31] jtkeyva commented on #7315
Thanks! The docs are pretty sparse and don't mention anything about "all of the terms". I just tried to do a query that had all of the terms in the array column and it still came back null.

I tried the .like and it works for text columns, but not for text array columns.

How can I search for 1 item... say a tag in an array column?

[2022-06-17 00:14] GaryAustin1 commented on #7315
.ilike,.like only search a text type column, not text array and they search for partial matches with some special characters: https://www.tutorialspoint.com/postgresql/postgresql_like_clause.htm

If you have an array column for example a column of text[] named animals, where a row has ['cat','dog','horse'] in it. then you can do
.contains('animals',['cat',dog']) and you will get that row.  You not

[2022-06-17 00:36] thorwebdev commented on #3783
Thanks for the feedback @IHIutch, I understand your frustration, a bunch of things are in flux atm which creates this less than ideal experience 😞

Not at all a requirement. The Auth UI Element is solely meant to make things faster/easier by giving you a prebuilt UI, but not at all a requirement. You can always built your custom UI if you prefer.

It's technically not an issue, or at least not a b

[2022-06-17 00:41] jtkeyva commented on #7315
Thank you for the thorough response. I tried your .contains('animals',['cat',dog']) example and still coming up null. Yeah I would assume it works the same as Dart and .js but this seems to not be working. Hopefully we can get someone using Dart to test this and document it.

[2022-06-17 00:56] IHIutch commented on #3783
Thanks @thorwebdev, I appreciate the response. Genuinely, Supabase has such a great community and I appreciate the conversation.

[2022-06-17 01:02] dshukertjr commented on #5942
We have an issue [here](https://github.com/supabase-community/supabase-flutter/issues/106) to track desktop support for supabase-flutter. Closing this one.

[2022-06-17 01:02] #5942 closed

[2022-06-17 03:08] phuochau commented on #7293
@steve-chavez Thank your so much for your reply, just sent you an email that includes information that you can reproduce the issue.

I made some tests and I see:
* If I create a new supabase project with the same Github account, the error is still there. (right now, we only can sign up Supabase by Github account).
* If I sign up supabase by a new Github account, and create a new supabase project,

[2022-06-17 03:31] jtkeyva commented on #7315
Aha thanks @GaryAustin1 you got it!

This worked:
.contains('types','{"restaurant"}')

How do we suggest an update for the Dart Docs?

[2022-06-17 03:32] GaryAustin1 commented on #7315
Issue in supabase/supabase is docs.

[2022-06-17 03:36] GaryAustin1 commented on #7315
I thought this was familiar....  I mentioned .contains did not look right, but was doing a PR for mainly JS docs...https://github.com/supabase-community/postgrest-dart/issues/64

[2022-06-17 03:42] jtkeyva commented on #7315
awesome

[2022-06-17 03:43] GaryAustin1 commented on #7315
Well except they closed it out and did not address .contains it appears...

[2022-06-17 04:20] farzd commented on #7293
i'm having multiple errors, one of them is the same as this, but another is for POST
https://github.com/supabase/supabase/discussions/7319

[2022-06-17 04:25] jtkeyva commented on #7315
I'm sure @dshukertjr and his team can help with the docs in the mean time ;)

[2022-06-17 07:55] tell-y opened #7321 "Not displayed a created function at Database Functions page"
# Bug report

## Describe the bug

After created a function at here (https://app.supabase.com/project/PROJECT_ID/database/functions), the created function is not displayed.
If you create a new trigger at trigger page, you can see the created function in Select UI.

## To Reproduce

1. Create new function (I did https://github.com/supabase/supabase/issues/6228#issuecomment-1095235706 )
2. Then not

[2022-06-17 09:37] madsbuch opened #7322 "Can't create columns with default value to null"
# Bug report
It is not possible to create new columns where the default value is null. In particular, this means that it is not possible to set up foreign keys.

## To Reproduce
Try to create a column of the UUID type that has an FK constraint to another table.

## Expected behavior
That is would success

## Screenshots
![Screenshot from 2022-06-17 11-33-08](https://user-images.githubusercontent.c

[2022-06-17 10:57] JStet opened #7325 "Storage error: Migration failed"
# Bug report

## Describe the bug

500: internal server error

"Migration failed. Reason: An error occurred running 'add-trigger-to-auto-update-updated_at-column'. Rolled back this migration. No further migrations were run. Reason: permission denied for table objects"

Also, my bucket was deleted (although i have to admit i am not sure whether i did it or not)

## To Reproduce

Error happens in th

[2022-06-17 11:05] tg44 commented on #6290
@w3b6x9 I have a similar issue, could be from different things...

 - I have a custom jwt, it has a field: "serverId".
 - I have a working RLS with
[code]
  - I can query the tables correctly with this RLS, getting back only the needed rows
  - when I start realtime, the websocket opens up, and I see a `topic,payload/user_token` message which seems to be correct, getting back an ack with a ref, bu

[2022-06-17 12:14] shoxadomokai opened #7327 "RPC calls not working with supabase-js and supabase-flutter."
# Bug report

## Describe the bug

RPC calls to any function in Postgres schema using supabase-js and supabase-flutter both return the error;

`{
"hint": "If a new function was created in the database with this name and parameters, try reloading the schema cache."
"message": "Could not find the "public.functionName()" function or the "public.functionName" function with a single unnamed json or jso

[2022-06-17 13:50] ndom91 commented on #7252
Having the same issue, ending up with simply a small white square when viewing the image URL (ACL = anon public viewing).

I've tried all of the following:
- Blob
- Buffer
- ArrayBuffer
- Simply a base64 string

<img width="441" alt="image" src="https://user-images.githubusercontent.com/7415984/174311055-b5601eb8-b6fc-40b3-8216-5a9ecefa5a22.png">

Where the `body` is something like `data:image/jpe

[2022-06-17 13:52] steve-chavez commented on #7327
Can you provide a js snippet of the request?

[2022-06-17 14:39] shoxadomokai commented on #7327
@steve-chavez sure. Here it is;

[code]

This is one of many functions but it's the same error regardless of which.

[2022-06-17 15:29] steve-chavez commented on #7327
@shoxadomokai Could you send me your project ref at steve@supabase.io? I'll need to look at your instance.

[2022-06-17 16:16] GaryAustin1 commented on #7325
Possibly this:  https://status.supabase.com/incidents/mfz0jh87pd7z

[2022-06-17 18:46] wanttobuyaboat opened #7333 "Dart auth stating If "Email Confirmations" is turned on, both a user and a session will be null"
# Improve documentation

## Link

https://supabase.com/docs/reference/dart/auth-signup

## Describe the problem

The document states:
If "Email Confirmations" is turned on, both a user and a session will be null.
This is not true as I can get a user.id returned from the signUp with Email Confirmations turned on.

## Describe the improvement

If "Email Confirmations" is turned on, a user will be re

[2022-06-17 18:51] w3b6x9 commented on #6290
@tg44 I think your issue could be related to Prisma. Take a look at https://supabase.com/docs/guides/integrations/prisma#confirming-realtime-functionality.

[2022-06-17 19:48] steve-chavez commented on #7293
Hey everyone. Just to let you know that we've isolated the error to a bad processing of the JWT in our Cloudflare workers. We're working on a fix.

[2022-06-17 20:40] perhp commented on #7293
Awesome! Thanks alot.

[2022-06-17 20:51] tg44 commented on #6290
I don't have enum types.

[2022-06-17 20:55] steve-chavez commented on #7293
We've deployed a fix. Can everyone please check if that cleared the error?

[2022-06-18 00:36] dshukertjr commented on #7315
@jtkeyva Thanks for pointing this out! Will edit the docs later to clarify some of the confusion here!

[2022-06-18 00:40] perhp commented on #7293
Yep, seems to be fixed! 🥳

[2022-06-18 00:42] #7293 closed

[2022-06-18 05:26] w3b6x9 commented on #6290
@tg44 make sure your custom JWT has a `role`.

[2022-06-18 06:24] farzd commented on #7293
This has fixed it for me too, any chance this can happen again? caused lot of a pain for me in production

[2022-06-18 07:37] wootsbot opened #7337 "WARN: Require cycle: node_modules/@supabase/realtime-js/dist/main/RealtimeSubscription.js"
# Bug report

## Describe the bug

I am getting a warning when using `supebase` in `react native`, I have the following configuration

[code]

When making a query I get the following warning:

[code]

## To Reproduce
Use the suggest setting to expose the documentation https://supabase.com/docs/guides/with-expo

## Expected behavior

A clear and concise description of what you expected to happen.

[2022-06-18 08:14] tg44 commented on #6290
Okay, this solved it!

Users from the future;
 - in the supabase admin, check the realtime schema subscription table, if your subscription is not there, there is a jwt/auth problem
 - if you create your jwt by hand, you should add a `role: "anon"` field to it at least

Thanks! (I will add a PR to the docs too.)

[2022-06-18 09:44] shoxadomokai commented on #7327
@steve-chavez everything seems to be okay now. Thanks a bunch.

[2022-06-18 09:44] #7327 closed

[2022-06-18 13:08] tg44 opened #7339 "DOCS: custom jwt, rls, realtime + prisma migrations"
# RLS with custom JWT

## Link

[RLS page](https://supabase.com/docs/guides/auth/row-level-security)

## Describe the problem

The custom JWT part is missing.

## Describe the improvement

I would add a section which at least mentions that you can do some RLS with reading the JWT claim;
[code]

# Realtime with custom JWT

## Link

[Replication page](https://supabase.com/docs/guides/database/replic

[2022-06-18 20:44] silentworks commented on #7322
I tested this on one of my projects and I'm unable to reproduce the error you are having. Maybe there is another constraint on that table that is causing the issue you are having. Here is a video showing it working in my Supabase project

https://user-images.githubusercontent.com/79497/174456450-747a22ac-8d12-48eb-99d0-31f53317a9ed.mov

I also noticed in your **To reproduce** step you make mention

[2022-06-18 20:51] silentworks commented on #7321
I'm unable to reproduce this issue, can you open a support ticket instead so we can get more detail about your project and look into this more. https://app.supabase.io/support/new

[2022-06-18 20:58] silentworks commented on #7309
Same behaviour in Brave Browser.

[2022-06-18 20:59] silentworks commented on #7306
Happy to hear you got this fixed.

[2022-06-18 20:59] #7306 closed

[2022-06-18 21:05] silentworks commented on #7250
This is the expected behaviour. Do note to downgrade properly, you will probably need to delete your `node_modules` directory and be sure that the version number you are downgrading to is exact in your package.json file.

[2022-06-18 21:07] silentworks commented on #7087
I'm wondering if this would be better if it was called **Allowed URLs** since they are used as an allowed list?

[2022-06-18 21:30] NarmerTheFirst commented on #7306
oh no i couldnt fix it but this guy didhttps://github.com/christopher-talke/docker-cli-supabase.gitSent from my Galaxy
-------- Original message --------From: Andrew Smith ***@***.***> Date: 18/06/2022  11:59 pm  (GMT+02:00) To: supabase/supabase ***@***.***> Cc: NarmerTheFirst ***@***.***>, Author ***@***.***> Subject: Re: [supabase/supabase] self-hosting supabase with docker on ubuntu 22 (Issue

[2022-06-19 02:40] rustamd commented on #7069
@kiwicopple Following up on the email charge confirmation issue, wondering if it is just me or are other users experiencing similar behaviour? I think all other subjects have been addressed/fixed, just waiting to see what you found out.

[2022-06-19 02:47] sei0o opened #7342 "Unauthorized requests are responded in plain text"
# Bug report

## Describe the bug

As mentioned in the [PostgREST documentation](https://postgrest.org/en/stable/api.html#raise-errors-with-http-status-codes), errors should be  returned in JSON format. However, when I tried to access the tables on supabase without the appropriate API key, supabase made a response with a status code `401` and a `text/plain` body: `Missing or invalid credentials.`

[2022-06-19 05:05] phuochau commented on #7293
I can confirm the issue was fixed. Thank you @steve-chavez and the supabase team.

[2022-06-19 13:04] #5974 closed

[2022-06-19 17:14] noty-nick commented on #7250
@roker15

Downgrading can work in short term, but you can also create a wrapper for `onAuthStateChange` to filter out undesired events

Here is an example https://github.com/supabase/gotrue-js/issues/284#issuecomment-1141402174

[2022-06-19 17:15] noty-nick commented on #7250
@silentworks If this is expected - I guest [this issue](https://github.com/supabase/gotrue-js/issues/284) should be closed? take a look

[2022-06-19 19:22] JStet commented on #7325
this error is still happening

[2022-06-19 22:23] darora commented on #7325
This is usually an indication that the permissions required by the Storage Service within your DB have been manually altered. ( https://supabase.com/docs/guides/platform/permissions )

Restoring them back should fix this for your project. Based on the screenshot, in this case it looks like at least the table `storage.objects` will need its ownership reassigned.

If re-assigning ownership per the l

[2022-06-19 22:23] #7325 closed

[2022-06-20 01:23] steve-chavez commented on #7252
Please check if the error persists, it might have been fixed by https://github.com/supabase/supabase/issues/7293

[2022-06-20 07:05] BrijEduTech opened #7347 "Could no find a relationship between 'Class' and 'ChildAccount' in the schema cache"
# Bug report

## Describe the bug

I think the postgrest schema cache is somehow not being updated when the supabase free tier account is put to sleep then restored

My supabase account was put to sleep, then restored, but my test cases which were previously passing are now failing with the following error:

Could not find a relationship between 'Class' and 'ChildAccount' in the schema cache

`con

[2022-06-20 07:16] jaysoni-ash42 commented on #6157
@Isaiah-Hamilton  i want to work on this issue.

[2022-06-20 07:34] ndom91 commented on #7252
@steve-chavez so I was able now to at least retrieve images that I've uploaded manually, they seem to not load as a little white square anymore. However, I still cannot upload images from base64. When accessed, I still only get a little white square, like in the screenshot above. Also downloading from the supabase storage web ui manually, preview.app also tells me the image file is corrupted.

`up

[2022-06-20 07:43] eliranbenishai commented on #7252
I tried every permutation I could think of using base 64. What I ended up doing was to use `sharp` to decode the base64 string, resize the image and use the `toBuffer` method to export the final result to, well, a buffer. That buffer was then accepted by Supabase and the image is perfectly fine. Oh I did need to trim the base64 header from the string so that `sharp` could decode it properly. Here'

[2022-06-20 09:01] #5440 closed

[2022-06-20 11:25] nnaemekaibe opened #7349 "Storybook fails to run in studio."
# Bug report

## Describe the bug

When i run `yarn storybook` i get the error:
[code]
## To Reproduce

1. Go to /studio.
2. Run `yarn storybook`.

## Expected behavior

Storybook should start successfully.

## System information

- OS: macOS, Windows
- Version of supabase-js:  1.35.3
- Version of Node.js: 14.19.3]

[2022-06-20 11:37] saltcod commented on #7349
Hey @nnaemekaibe that's strange. Have you pulled the latest from master and run `npm install` in /studio?

[2022-06-20 11:51] nnaemekaibe commented on #7349
Yes I've done this. Managed to resolve it by updating postcss.config.js with the path to tailwind.config.js. Does it run without issues on your end?

[2022-06-20 13:10] tell-y commented on #7321
Okay, I did it.

Additional info.
In the dev-tool of the chrome at the network tab, I can see my created function in the requested results, `GET: https://api.supabase.io/platform/pg-meta/PROJECT_ID/functions`

[2022-06-20 13:34] saltcod commented on #7321
Hey @tell-y  Are you able to see any other functions you create or is this the only one that doesn't show?

[2022-06-20 13:55] tell-y commented on #7321
I created a function below:
![スクリーンショット 2022-06-20 22 51 49](https://user-images.githubusercontent.com/6883692/174616977-e18a86e8-fe3b-47e3-83b7-6371342ffa72.png)
![スクリーンショット 2022-06-20 22 50 59](https://user-images.githubusercontent.com/6883692/174616780-3c39a071-3aa4-4886-876f-9e89f343c820.png)

I can see it.

[2022-06-20 14:52] gracebir commented on #6713
@probablykasper , how long does the login session will last now ? I can raise it up to 1 month

[2022-06-20 15:27] ruskid commented on #6437
is it possible to make the OTP code human-friendly? like 4-6 digits / letters

Thanks

[2022-06-20 17:22] probablykasper commented on #6713
I'd prefer 1 year

[2022-06-20 18:25] milesingrams commented on #7289
Thanks so much for the clarification and detailed introspection of the generated SQL!

I tried using `{ returning: 'minimal' }` and it worked, but it stops me from having access to the ID of the new page on the frontend which I would need that to redirect the user to a new URL.

It makes sense that there is no SELECT statement since that would be inefficient, but it seems like Postgres inherently

[2022-06-20 21:14] steve-chavez commented on #7293
@farzd Sorry for any trouble caused. The infra team is now adding regression tests to ensure this doesn't happen again for the Cloudflare workers.

To clarify, this happened because an exception during the JWT decoding caused cloudflare workers to resend the request without a body(hence the error message mentioned [above](https://github.com/supabase/supabase/issues/7293#issuecomment-1158051205)).

[2022-06-20 23:42] saltcod commented on #7349
Aah interesting. Thanks @nnaemekaibe.   What did you update it from → to, in case it helps others?

[2022-06-20 23:46] saltcod commented on #7261
Hey @roker15 — what are your RLS settings?

[2022-06-21 03:53] MildTomato commented on #4814
update - we will soon be releasing this feature 😄

[2022-06-21 03:57] #7150 closed

[2022-06-21 04:05] roker15 opened #7353 ""redirectTo" Does not working with string literal , I am using google Auth."
I have following code, Not working code has been commented out

[code]

[2022-06-21 06:25] gracebir commented on #7353
@roker15 , I am going to work on it

[2022-06-21 06:51] pulkitvyas08 opened #7357 "Cannot login wth GitHub"
# Bug report

## Describe the bug

Not able to signin on to the website by using GitHub. Getting CORS errors.

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://api.supabase.io/platform/profile. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing). Status code: 500.`

## To Reproduce

Steps to reproduce the behavior, please provide code s

[2022-06-21 06:58] w3b6x9 commented on #7357
Cloudfare is currently blocking us due to their ongoing incident. We are in touch with our contact at Cloudfare and will get this resolved on our end as soon as Cloudfare is once again functional.

<img width="958" alt="Screen Shot 2022-06-20 at 23 56 42" src="https://user-images.githubusercontent.com/5532241/174736003-94a8598b-110b-434c-aec8-9f56e2882abc.png">

[2022-06-21 09:27] valerius21 opened #7362 "Keycloak Login results in Error: "Unable to exchange external code""
# Bug report

## Describe the bug

After setting up an instance of Keycloak and using current examples with their latest versions, logging in via. the thrid-party-service Keycloak on a local instance results in an error, which message is "Unable to exchange external code", found in the redirect URL.

## To Reproduce

1. Follow the documentation on setting up Keycloak for Supabase, https://supabase

[2022-06-21 09:58] fergusmeiklejohn commented on #6437
Perhaps it should be long enough to be secure, but it would be great to leave off the hyphens because they're sometimes difficult to copy on mobile

[2022-06-21 10:04] silentworks commented on #7353
Can you please provide full context of the file you have this in?

[2022-06-21 14:34] paddyfink commented on #6647
Hello @bgandy94, I'm facing the same issue. Was it because of the script size?

[2022-06-21 14:48] valerius21 commented on #7362
After further inspection, I've tried to use a self-hosted instance of supabase. The error disappears; Keycloak sets a session and I'll get redirected to the origin. However, a s**ession cookie is not set**. The response from Keycloak looks like this:

URL after redirect
[code]

[2022-06-21 16:14] madsbuch commented on #7322
@silentworks I am not able t reproduce your video.

Have you tried setting the column type to UUID before adding the FK relation?

Also, it appears you can have your default value to be NULL for your UUID column, I am not able to do that. I can either have it as empty string (as shown in the screen shot) or `generate_uuid_v4()`

[2022-06-21 16:38] bgandy94 commented on #6647
@paddyfink yes, the script size was the issue! Going to close the issue now, but always curious how we can improve the docs/experience to make this issue more obvious to avoid future issues of the same nature.

[2022-06-21 17:32] gracebir commented on #7353
@roker15 , on my side i can reach out `signUpUser`  function, could you please give the `file path`

[2022-06-21 19:15] Isaiah-Hamilton commented on #7357
Cloudflare and Supabase is back up and running.

[2022-06-21 19:15] #7357 closed

[2022-06-21 23:02] silentworks commented on #7353
@roker15 this isn't full context as I can't see where you've imported the constant.ts into your auth.ts file.

[2022-06-22 00:21] burmecia commented on #7309
same behaviour in Chrome and Safari on MacOS.

[2022-06-22 04:40] roker15 commented on #7353
Ok i got the reason. in Supabase redirect setting i have included `www` but in BASE_URL `www `is missing . if i do `BASE_URL = "http://www.localhost:3000"` it works.
But still i baffle why it should differentiate `http://www.localhost:3000` and `http://localhost:3000` when both does the same thing?

[2022-06-22 05:29] dshukertjr commented on #7321
@tell-y BTW, if you ran this SQL to create the function, it will create it on `public` schema and not `auth` schema.

[code]

@saltcod I think I saw this bug the other day around the same time as well. I cannot reproduce now, but I created a function under public schema with return type of trigger, and it was not showing up on the list of functions on the dashboard. I can confirm that this is no l

[2022-06-22 08:56] gracebir commented on #6713
@probablykasper , don't you think that 1 year will be longer for a session?

[2022-06-22 10:52] ndom91 commented on #7252
Thanks for the tip @eliranbenishai!

For anyone else coming across this issue, I was finally able to solve it as well with this:

[code]

Where `prepareBase64DataUrl` is:

[code]

Still every once in a great while an image ends up returned from supabase storage as just a small white square, but I assume it was just too long of a base64 URL to be sending as a `PUT` body or something like that. Some

[2022-06-22 15:36] probablykasper commented on #6713
You mean too long? I don't think it's too long. Google, GitHub and many other websites seem to keep you logged in for a year

[2022-06-22 19:08] qw-in opened #7381 "[docs] Search button wandering off"
# Bug report

## Describe the bug

![Screenshot_2022-06-22-12-03-34-51_3aea4af51f236e4932235fdada7d1643.jpg](https://user-images.githubusercontent.com/19194187/175116757-3fae7f96-83a1-4991-b939-303c0dc8bc98.jpg)

## Expected behavior

Search button is contained by header

## System information

- OS: Android
- Browser (if applies) Firefox

[2022-06-23 04:15] jaysoni-ash42 commented on #7381
@Isaiah-Hamilton  can i work on this task

[2022-06-23 04:25] jtkeyva opened #7388 "Missing instructions: Dart rpc / Stored Procedures / Postgres Functions"
# Improve documentation

## Link

https://supabase.com/docs/reference/dart/rpc
https://supabase.com/docs/reference/javascript/rpc

## Describe the problem

Dart documentation doesn't explain how to create an rpc on the server. The JS docs do.

Also, the page title's are different for JS and Dart: Is it called Stored Procedure or Postgres Functions?

## Describe the improvement

Add this to Dart (a

[2022-06-23 04:55] Isaiah-Hamilton commented on #7381
@jaysoni-ash42 all yours

[2022-06-23 06:41] jaysoni-ash42 commented on #7381
@Isaiah-Hamilton  weird thing locally the search icon is inline even after the builded web but on hosted it is inlined
<img width="706" alt="Screen Shot 2022-06-23 at 12 23 13" src="https://user-images.githubusercontent.com/68722497/175232274-0e4edbd9-1ecb-46ce-a0ad-5ec83630cd71.png">

[2022-06-23 06:43] jaysoni-ash42 commented on #7388
@Isaiah-Hamilton  can you just enlight the changes for the title to be stored Procedure or Postgres Function? so i can work on this issue

[2022-06-23 07:22] gracebir commented on #7353
@roker15 , means we have to add `BASE_URL` in `constant.ts` file and replace `http://localhost:3000` with `BASE_URL`?

[2022-06-23 07:23] #7353 closed

[2022-06-23 11:37] bivekdev commented on #7342
I'd like to work on this issue. Thank You.

[2022-06-23 12:03] sei0o commented on #7342
Great, ask me anytime if you found any missing information (I'm not sure this is really an issue as no contributors has given a comment though).

[2022-06-23 19:25] Darren120 opened #7396 "Cannot connect to supabase database"
[code]

Tried connecting via prisma JS.

When trying to connect via Adminer UI I also get similar error

`SQLSTATE[08006] [7] connection to server at "db.xxxxx.supabase.co" (xxxxx), port 5432 failed: Connection refused Is the server running on that host and accepting TCP/IP connections?`

Can you guys restart the db for me plz or something is wrong.

[2022-06-23 19:47] Darren120 commented on #7396
looks like its fixed itself after 1 hr... xd wot...

[2022-06-23 19:47] #7396 closed

[2022-06-23 21:02] awalias opened #7397 "Video on blog cause issues on mobile"
https://supabase.com/blog/2022/06/23/boosting-soulless-citadel-nft-sales-using-supabase

![image](https://user-images.githubusercontent.com/458736/175398904-881e1607-1efb-44b7-ae9a-c50a23573aba.png)

[2022-06-23 22:40] #7397 closed

[2022-06-24 04:17] probablykasper opened #7404 "`supabase db push` ERROR: must be owner of table pages (SQLSTATE 42501); while executing migration"
# Bug report

## Describe the bug

I'm getting this output when I run `supabase db push`:
[code]

## To Reproduce

I'm just running `supabase db push`, not sure what exactly causes the error.
This was also reported (with a workaround) in discussion https://github.com/supabase/supabase/discussions/6326

## System information

- OS: macOS 10.15
- Version of supabase-js: [e.g. 6.0.2]
- Version of Nod

[2022-06-24 05:32] steve-chavez commented on #6180
Hm, I'm surprised that an extension could be that invasive, it can even block GET/POST it seems.

I'll transfer this to `postgrest-js`, I'm not sure but maybe it could detect that an HTTP method is blocked somehow(and print something in the JS console as a warning).

This will be low priority though, as it's an edge case.

[2022-06-24 12:23] galatolofederico commented on #4440
Hi @kiwicopple great work with supabase!

Next semester I have to host a series of lectures about BaaS at my uni. I thought of using supabase for the lab part but the absence of a GUI for the storage is a huge deal-breaker.
Do you think that this issue will be solved by next September/October?

[2022-06-24 14:04] rbkayz opened #7415 "Edge Functions returns Internal Server Error 500"
# Bug report

## Describe the bug

Tried to deploy the example edge function in https://supabase.com/docs/guides/functions. However, I've received a 500 internal error

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Follow steps as laid out in https://supabase.com/docs/guides/functions
2. Call the function
curl --request POST 'https://<project_r

[2022-06-24 14:16] jacob-buscher opened #7416 "Password Reset Flow"
### Discussed in https://github.com/supabase/supabase/discussions/3360

<p>Sorry if this isn't the right place for this, this doesn't seem to be a bug exactly but it definitely isn't clear in the docs.</p>

<div type='discussions-op-text'>

<sup>Originally posted by **kohbongchoi** September 29, 2021</sup>
Is the documentation out of date? It seems to be.

I'm using Vue.

Upon clicking the reset p

[2022-06-24 20:00] relferreira commented on #1856
For anyone facing this problem, what worked for me was execute this SQL in the editor:
[code]

as described in this tutorial:
https://supabase.com/docs/guides/database#migrating-between-projects

[2022-06-25 04:35] Isaiah-Hamilton commented on #7381
@jaysoni-ash42 that is pretty weird. do you have any ideas what might be happening here 🤔?

[2022-06-25 04:40] Isaiah-Hamilton commented on #7218
@awalias do we have the original image source file? would be a lot easier to add if we do, also fine if we don't.

[2022-06-25 10:04] miguelramos opened #7424 "[Storage] - Incorrect Content-Type"
# Bug report
Upload files to the bucket when using for instance the public url they got incorrect content-type. On the storage (app supabase) explorer it show the correct content-type but on response headers is not the same, usual application/octet-stream;

## Describe the bug
I'm using bucket storage to have js, json, md, images files. They are upload thru rest api in go and everything is done su

[2022-06-25 10:45] barbalex commented on #6257
This is still happening persistently. Combined with the fact that local development does not work due to consistent problems with migrations failing and the server running out of disk space, it seems that supabase is not an option for this project. Which is a REAL pitty as it seemed so great.

[2022-06-25 10:46] barbalex commented on #6257
I destroyed the first project and rebuilt with a pro plan. Exacxt same issue.

[2022-06-25 13:16] barbalex opened #7425 "supabase start errors since migration, can't run supabase locally any more"
# Bug report

## Describe the bug

[code]

I uninstalled supabase, reinstalled it. Did not help.

What can I do to be able to work on my project again?

## System information

- OS: Windows 11 up to date
- Version of supabase-js: newest, just installed
- Version of Node.js: 17.3.1

[2022-06-25 13:29] barbalex commented on #7425
I _think_ I understand what is happening: Problems started after generating a migration. I did:

[code]

I now found out that there is a `supabase` folder in my project, containing a `migrations` folder. and the file `20220625100132_initiated.sql` contained in there has this as first lines:
[code]

This of course will not work, as a function depending on tables is built _before_ the tables are bui

[2022-06-25 13:39] barbalex commented on #7425
Hm. The name `Schema Diff utility` implies that my carefully created sql was changed to find differences to a previous version.

It seem to me this does not make sense when a project is initialized. There is nothing to compare. So better use the code input by the dev.

Am I missing something?

[2022-06-25 13:44] barbalex commented on #7425
Idea: can I simply replace `20220625100132_initiated.sql` with my own script, https://github.com/barbalex/capturing/blob/main/src/sql/tables.sql? Maybe adding the shema name to table and function names?

[2022-06-25 14:36] barbalex opened #7426 "type geometry does not exist - but only in migrations"
# Bug report

## Describe the bug

[code]

This comes from the following code in the migration script inside the `supabase/migrations` folder:
[code]
The exact same code works:
- when pasted into supabase's sql editor
- in pgAdmin4 connected to the same db

## System information

- OS: Windows 11 up to date
- Version of supabase-js: just installed, up to date
- Version of Node.js: 17.3.1

[2022-06-25 20:01] kiwicopple commented on #4808
Hey everyone, closing this now that we have the wildcard matching. Thanks for the patience!

[2022-06-25 20:01] #4808 closed

[2022-06-25 20:17] kiwicopple commented on #7209
Hey @smotched , there's no need for ad-hominem attacks. In this case it's Ant & I, but if we see anything like that for any of the other maintainers or contributors in the community you'll be blocked immediately

With that out of the way, I completely understand. We definitely care, it's just a matter of getting everything right at the right time. We've grown a lot, and very fast, and it's not eas

[2022-06-25 21:10] kiwicopple commented on #7218
I have it @Isaiah-Hamilton - it's in Excalidraw.

[2022-06-25 21:18] kiwicopple commented on #4888
we made a few changes to our Auth - this should be fixed now!

[2022-06-25 21:18] #4888 closed

[2022-06-25 21:26] kiwicopple commented on #7259
Hey @devops-versai ! You can provide user data like this: https://github.com/supabase/supabase/issues/7259

Is that what you're looking for?

[2022-06-25 21:29] #7046 closed

[2022-06-25 21:51] #7309 closed

[2022-06-25 21:53] kiwicopple commented on #7311
great suggestions @Lior539 - we definitely need to improve our RLS testing (probably with "impersonation" too, so that you can test for a specific user)

[2022-06-25 21:54] kiwicopple commented on #7312
Hey @Sesa1988 , we already have this!

See here: https://supabase.com/docs/guides/local-development#database-migrations

Let me know if I mis-understood, and I can reopen this

[2022-06-25 21:57] Sesa1988 commented on #7312
Oh I didnt know that. Thats exactly that, thx.

[2022-06-25 22:02] kiwicopple commented on #7337
transferring this one over to the realtime repo 👍

[2022-06-25 22:04] kiwicopple commented on #7339
Hey @tg44 - there is a lot going on here! Am i right that this is 3 different issues? Would you mind splitting them up so we can tackle them each separately?

[2022-06-25 22:06] kiwicopple commented on #7342
This one must be in the reverse proxy, rather than PostgREST. I'll let the team know!

[2022-06-25 22:09] kiwicopple commented on #7347
Hey @BrijEduTech. Would you mind "restarting" your instance from the Settings? If that doesn't work, could you please start a support ticket - https://app.supabase.com/support/new

[2022-06-25 23:09] kiwicopple commented on #6713
Hey all, just to clarify, this value is how long the JWT is valid for until it needs to be reset. In theory, the session can last forever, as long as it can keep refreshing.

This should be _as low as possible_ for security reasons.

If you're having issues with your users getting logged out, then it's an issue with the refresh. We recently updated the Auth libraries to work better across multiple

[2022-06-25 23:09] #6713 closed

[2022-06-25 23:58] kiwicopple commented on #7416
😓 we just hired a Technical Writer, hopefully we can deliver on expectations

I'm just digging through that discussion now - looks like we have some docs here:

https://supabase.com/docs/reference/javascript/auth-api-resetpasswordforemail#notes

But I agree they aren't clear. Let me tidy them up after I have discussed some of the points with the team

[2022-06-26 00:07] probablykasper commented on #6713
I see, thank you for explaining. I've updated the feature request to mention that Supabase limits login sessions to 1 week of absence. This is still way too short in my opinion - There are lots of websites I use regularly, but not weekly, and I'd rather not be logged out of those.

Many sites keep me logged in way longer than 1 week after I visit the site. Do all those have security issues?

[2022-06-26 00:11] kiwicopple commented on #6257
Hey @barbalex - I tried to replicate your issue again and I didn't get an error:

https://user-images.githubusercontent.com/10214025/175794227-e370aeea-c86a-4c91-86d8-bf3156734a5f.mov

Are you running anything that might be changing the permissions of your schemas?

How are you "rebuilding"? Are you using a migration tool?

How much data are you loading into your instance? The disk will grow - we

[2022-06-26 00:15] kiwicopple commented on #7425
Yes, you could - the generated schema is just a diff (and a "best guess"), which you're recommended to edit to ensure it fits your needs before you check it in to VC. You can create and edit migration file as you see fit. In fact, you don't _have_ to use supabase CLI for migrations - you can use the tool which you've been using previously. Supabase is just PostgreSQL, so everything that works with

[2022-06-26 00:17] kiwicopple commented on #7426
I suspect you're using PostGIS? You probably need to reference the schema which it's in - something like:

[code]

[2022-06-26 00:28] kiwicopple commented on #6713
After one week, you could still refresh the token (as long as you still have the `refresh_token`) it's just that the current short-lived JWT is no longer valid and it can't be used without refreshing it again.

Our code for refreshing the token is here:

https://github.com/supabase/gotrue-js/blob/30fb5729a1988dbd7f61d58ec10eb81de63f93c7/src/GoTrueClient.ts#L641

It looks like we remove the session

[2022-06-26 00:54] probablykasper commented on #6713
Ah, I think I understand now. The JWT expiry should have nothing to do with whether you're logged in, the JWT is just a thing that avoids extra validation on the server. [This SO answer has a great explanation](https://stackoverflow.com/a/48525808/6553404).

It might be good to have an explanation of what JWT expiry means in the Supabase settings. I immediately maxed it out because I thought they

[2022-06-26 03:48] jacob-buscher commented on #7416
Once I found the ref docs about how to send a reset link I was able to deduce that clicking the reset link signed the user in, enabling them to reset their password, there really just needs to be a more complete 'User Management' guide that follows the whole user management lifecycle (Password Reset/Email Change/Etc).

I don't think there's anything wrong in the docs for how to initiate a reset, t

[2022-06-26 10:12] barbalex commented on #7426
That gives:
[code]

Seems that postgis is not enabled. How do I enable it?

I have this line on top of my script:

[code]

[2022-06-26 13:49] Chogster commented on #7321
Just to add to this issue, I was just able to reproduce the issue. I changed an existing function from schema public to auth and the function has completely disappeared from my dashboard. It is still possible to see the function definition from trigger page.

[2022-06-26 13:54] tg44 opened #7440 "DOCS: Realtime with custom JWT"
# Improve documentation

## Link

[Replication page](https://supabase.com/docs/guides/database/replication)
or
[Realtime API](https://supabase.com/docs/guides/api#realtime-api-1)

## Describe the problem

The custom JWT part is missing.

## Describe the improvement

I would add a section which at least mentions that you can do some realtime with a custom JWT, but it will only work if the claim con

[2022-06-26 13:58] tg44 opened #7441 "DOCS: Prisma migrations messing up the schema roles"
# Improve documentation

## Link

[Prisma page](https://supabase.com/docs/guides/integrations/prisma)

## Describe the problem

If you run `prisma migrate dev --name init` multiple times, it sometimes asks if you want to recreate the whole schema. If you chose yes, it will delete the public schema and recreates it. The default grants are missing after this.

## Describe the improvement

I would ad

[2022-06-26 13:59] tg44 commented on #7339
@kiwicopple done!

[2022-06-26 14:47] tell-y commented on #7321
Hi @dshukertjr
Thank you for your comment. I received the same advice from the support team.
My understanding has been that the function should be in auth schema because it's related to the user table.
I will re-create it in the public schema to edit the function code if I have to.

No I cannot see it yet.

[2022-06-26 15:23] c4ndyfl1p commented on #3841
sooooo, what do I do to make this work? facing the same issue

What do you mean by **"providers are not enabled in the live version of the demo"**?

[2022-06-26 16:28] t1u1 commented on #6713
Somewhat related question: Can two or more JWT tokens be issued at the same time, and can they be refreshed independently? This might happen, for example, when a user is logged in from two different devices, I assume two different JWT tokens will be created in this case.

[2022-06-26 19:17] #7349 closed

[2022-06-26 20:02] kiwicopple commented on #6713
when you log in from two devices, you create 2 "sessions" in supabase - each has it's own `refresh_token`. These act independently

tldr: yes - you have different tokens for different devices (or browsers for that matter)

[2022-06-26 20:15] kiwicopple commented on #7416
Thanks for the snippet @jacob-buscher ! I've added it to the docs in this PR: https://github.com/supabase/supabase/pull/7443

It looks like we must have changed the auth library at some point and not realised that it affected this reset flow. Very sorry about that - I completely understand the confusion in the Discussion now.

Thank you for considering us!

[2022-06-26 20:18] kiwicopple commented on #7426
Then it definitely should be working 🤔

can you please run this in your database to see if it installed correctly?

[code]

[2022-06-26 20:22] kiwicopple commented on #7321
I believe that we hide the functions in the auth schema, mainly because it shouldn't be created there as it would create some difficulties for us to manage your auth system (upgrades etc).

Perhaps for now, you can add it to the `public` schema, and make sure it has `security invoker`, and not `security definer`?

We are about to bring out 3 different schemas with different permissions models, whe

[2022-06-26 20:23] kiwicopple commented on #7440
Thanks @tg44 !

just to make sure that I'm clear on the audience we are writing for, what was the use-case for you here? Were you using a different auth system?

[2022-06-26 20:25] kiwicopple commented on #7441
awesome, thanks @tg44 . I think we can add a "Troubleshooting" section to the Prisma guide here:
https://supabase.com/docs/guides/integrations/prisma

I'll take this with a "help" tag, and hopefully someone can pick up your suggestion and paste it there

[2022-06-26 20:26] tg44 commented on #7440
We are using web3 token access.

[2022-06-26 20:38] AndrewTelkamp commented on #5113
Would we pass `confirmation_sent_at` along with the `superbase.auth.signUp` request? As part of the body's `data` property? Eg.

[code]

[2022-06-26 23:41] kiwicopple opened #7445 "Chore: Reduce repo size"
I just cloned this repo again and it's huge! (>0.5Gb)

<img width="515" alt="image" src="https://user-images.githubusercontent.com/10214025/175838307-bc613384-4414-4ade-9c7e-18da58385a4f.png">

I takes a long time to clone, which makes life hard for first time contributors

I checked the git history using the script described [here](https://stackoverflow.com/questions/10622179/how-to-find-identify

[2022-06-27 04:57] adi611 commented on #7441
Please assign me this issue.

[2022-06-27 05:15] itsycrm opened #7451 "Email confirmation still required even after disabling email confirmations"
# Bug report

## Describe the bug

With supabase.auth.signUp it's still requiring verification of email even after disabling email confirmations.

## To Reproduce

## Expected behavior

It's expected that with email confirmations disabled, the user should be able to sign in without confirming their email.

## Screenshots
![Screen Shot 2022-06-27 at 1 10 03 AM](https://user-images.githubusercontent

[2022-06-27 07:00] alexauvray opened #7452 "Failed to run sql query: invalid input syntax for type uuid: """
This issue was marked as fixed, but it's not. I get it while using the UI on the basic plan of Supabase, exactly when I try to "view data" of a foreign key inside the "insert row" modal.

_Originally posted by @joshenlim in https://github.com/supabase/supabase/issues/6971#issuecomment-1136711818_

[2022-06-27 07:01] alexauvray commented on #7452
<img width="656" alt="image" src="https://user-images.githubusercontent.com/28756458/175878869-76042eac-cc61-485e-8621-9f3214220672.png">

[2022-06-27 09:43] barbalex commented on #7426
That gives:

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/alexa/AppData/Local/Temp/msohtmlclip1/01/clip.

[2022-06-27 09:44] barbalex commented on #7426
On https://app.supabase.com/project/mtzsquahufabsujjhdva/sql it includes postgis but not locally

[2022-06-27 11:21] barbalex commented on #7425
I am getting a bit frustrated, replacing the migration with my own. One of the problems is that I got literally hundreds of errors claiming tables did not exist. As I now control the sequence of events I thought that one difference in the migration could be that the migration required qualified names i.e. `public.rows` instead of `rows`.

Hours later, after converting many names, I now am confront

[2022-06-27 11:27] barbalex commented on #7425
This is the errors listed when I use my original sql file tested many times as migration file:
[code]

[2022-06-27 11:39] barbalex commented on #7426
I just realized that when I do `supabase start` without a migration script (so that the server actually starts instead of failing), the query `SELECT *  FROM pg_extension` gives a list of extensions (missing postgis though).

But: No tables are listed in the extensions schema:
<img width="628" alt="2022-06-27_13h37_42" src="https://user-images.githubusercontent.com/669783/175932789-7a798f93-8321-4

[2022-06-27 12:40] barbalex commented on #7425
I just realized: `type "geometry" does not exist` now also happens now when I run my original sql file in the local studio or via pgadmin.

So it seems that somehow the installation of supabase went wrong?

Will uninstall and re-install again.

[2022-06-27 12:45] barbalex commented on #7425
I did `scoop uninstall supabase`, then `soop install supabase`.  Postgis has not been installed, again.

[2022-06-27 13:14] Someonexddd opened #7458 "Generating a new JWT Secret fails"
### Discussed in https://github.com/supabase/supabase/discussions/7456

<div type='discussions-op-text'>

<sup>Originally posted by **Someonexddd** June 27, 2022</sup>
Whenever i try to generate a new JWT secret i just get this message

Please try again. If the failures persist, please contact Supabase support with the following details:
Change tracking ID: 336fb22f-1ffd-4ad3-ac3b-613226998f1b
Err

[2022-06-27 13:16] barbalex commented on #7425
Because postis is not present there is no way for me to work with supabase 😢

[2022-06-27 13:25] #7458 closed

[2022-06-27 19:10] smotched commented on #7209
@kiwicopple Apologizes for being unprofessional, it might have came off more rude than I wanted (it was after a long session). I've managed to move away from supabase but I really do wish you guys the best and I'm sure you're doing great work for the web community. And I did enjoy using it, which is why I wanted to use it everywhere :)

I do have to call out one thing, I don't think you can say yo

[2022-06-27 21:18] RoastedPecans opened #7462 "502 Bad Gateway Error when Deploying Edge Function"
# Bug report

## Describe the bug

When deploying any of my Supabase Edge Functions, I now receive a 502 error on invoke along with no logs being generated in the Supabase web GUI.

This bug was first noticed when re-deploying a function to change two string literals. However, I was able to reproduce it with edge functions that were not changed at all.

## To Reproduce

1. Deploy Edge Function to

[2022-06-27 22:14] AndrewTelkamp commented on #5113
A follow-up with more detail, though this is a patchy workaround and I'd rather not have to be using it.

Following this video, the function I created `auto_confirm_account`

[code]

Which I then set up a trigger `auto_confirm_user` which calls `auto_confirm_account` on INSERT for auth.users

[2022-06-28 00:51] burmecia commented on #7445
I’ve tried bfg (https://rtyley.github.io/bfg-repo-cleaner/) to remove file size > 2M using below command:
[code]
It doesn’t clean too much but saved some space, the .git folder was 552M before and 460M after.

[2022-06-28 08:22] burmecia commented on #7252
To upload binary data using supabase js library, you need to use correct type of input otherwise supabase won't be able to recognise your binary data. I think there might be two common scenario:

1. upload binary file from local, so you can directly pass `Buffer` in the api.

[code]

2. upload binary file using [base64 encoded data URI](https://en.wikipedia.org/wiki/Data_URI_scheme#Syntax). Supaba

[2022-06-28 18:17] kiwicopple commented on #7445
Ok, in that case it doesn't seem worth the risk. Let's close and then figure out how to split out the large files in the future. Once that's done we can return to this task

[2022-06-28 18:17] #7445 closed

[2022-06-28 19:08] kiwicopple commented on #5113
checking with the auth team now - I would have thought that the `Enable email confirmation` disabled would work for server-side updates. Will update again soon!

[2022-06-28 19:10] #7441 closed

[2022-06-28 19:11] kiwicopple commented on #7451
looks like this one is a duplicate of this issue: https://github.com/supabase/supabase/issues/5113

I'll close this and track there 👍

[2022-06-28 19:11] #7451 closed

[2022-06-28 19:13] #4829 closed

[2022-06-28 19:22] kiwicopple commented on #7425
Sorry to hear that - I completely understand though as it looks like there has been a lot of effort spent here.

I'd love to nail this for the future though. I noticed that the postgis installation is commented out here:

https://github.com/barbalex/capturing/blob/f40259a50558fb4594b3c45f78e72be6eef08760/src/sql/tables.sql#L5

Is that intentional?

To replicate your issue would I do this? --

1. `

[2022-06-28 19:29] kiwicopple commented on #7462
thanks for the bug report @RoastedPecans. moving this one to the Functions repo.

Could you also share your project slug? (in the URL)

[2022-06-28 20:46] kangmingtay commented on #5113
hey @dipeshhkc, can you please email us at [support ](https://supabase.com/support) with your project ref? Disabling "Enable email confirmations" shouldn't require you to still verify your email on sign-in so it might be a bug specific to your project.

[2022-06-28 20:49] kangmingtay commented on #5113
@sadiki-o  can you elaborate more on how you were able to do this? AFAIK, the `supabase.auth.signup()` method doesn't support passing the `confirmation_sent_at` time

[2022-06-28 21:42] gonsalomon commented on #4534
+2

[2022-06-29 00:19] kiwicopple opened #7480 "Fix outline on Docs callouts"
# Chore

## Describe the chore

We have some "Notes" callouts in our docs (see [here](https://supabase.com/docs/guides/auth/auth-email#configure-email-settings)) which look good in light mode:

<img width="963" alt="image" src="https://user-images.githubusercontent.com/10214025/176325246-6d8eb8f4-ab1f-4341-be38-28c957cbe53a.png">

But not great in dark mode because the left edge is the same color

[2022-06-29 01:55] burmecia opened #7481 "Storage `INSERT` policy should not have `USING` expression"
# Bug report

## Describe the bug

When update an existing `INSERT` storage policy, it shows below:

<img width="1143" alt="image" src="https://user-images.githubusercontent.com/19306324/176332850-e8fd0f55-c90d-456f-9d52-485e72a36a10.png">

As the Postgres' doc mentioned https://www.postgresql.org/docs/current/sql-createpolicy.html, an `INSERT` policy cannot have a `USING` expression.

## To Repro

[2022-06-29 04:03] travispamaral commented on #4808
I know this is closed now but Im hoping someone (@kiwicopple or @activenode) can chime in. I have followed IDK how many issues and PRs and random tweets but for the life of me I CAN NOT get the redirect url to work between localhost and vercel preview deployments. Based on a few examples I tried a `getURL()` function that checks NODE_ENV and I can log out the response with I try to auth with googl

[2022-06-29 07:21] yeganathan18 commented on #7480
I will take up the issue!

[2022-06-29 10:46] Hallidayo commented on #5675
@MildTomato - I can show the profile section on the local builds so this issue can be closed? by default the user is John Doe:

<img width="1155" alt="Screenshot 2022-06-29 at 11 45 54" src="https://user-images.githubusercontent.com/22655069/176418646-75563a38-5a53-4b57-a694-bf9c45127382.png">

[2022-06-29 11:22] barbalex commented on #7425
I learned some things that seem to have been the reason for these issues:
- Because I have my own `users` table my sql code contained: `DROP TABLE IF EXISTS users CASCADE;`. As this ran one line before the users table was created, the table that was going to be deleted _if my own users table had never been created before_ was `auth.users`. I corrected it by adding the schema name: `DROP TABLE IF E

[2022-06-29 11:22] #7425 closed

[2022-06-29 18:04] kiwicopple commented on #7425
Thanks for peristing with this one @barbalex - and also thank you for the follow up to close out the issue 🙏

You did all the hard work :)

[2022-06-29 19:35] justinduplain commented on #7381
@jaysoni-ash42, @Isaiah-Hamilton,

In dev tools: adding the `top: var(--ifm-navbar-padding-vertical);` line as per below snippet fixes the issue in the live site.

I searched for these CSS settings in the main repo and found nothing.

I think the disconnect might be happening in the imported supabase/ui  `IconSearch` component and that may be why the dev version differs from the live site? Can any

[2022-06-29 20:30] Olyno opened #7494 "Wrong port displayed"
# Bug report

## Describe the bug

On the dashboard, it shows us the port ``6543``, but the right one is ``5432``.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Setup a new Supabase project in free tier
2. Go to https://app.supabase.com/project/jkbvidevzfytwmzmzeel/settings/database
3. Scroll down to the port section
4. See error

## Expected

[2022-06-29 21:41] kiwicopple commented on #7480
thanks @yeganathan18 🙏

[2022-06-29 21:46] kiwicopple commented on #4808
sorry to hear you're having difficulty!

- `SITE_URL` = make this your official site URL
- Additional site URLs = should be something like this: `http://localhost:3000/*/*,https://*vercel.app/*/*`

Then when you do a signIn you can do:

[code]

[2022-06-29 21:51] kiwicopple commented on #7494
Hey @Olyno - that one is in the "Connection Pooling" section, which is actually port `6543`

- Standard Postgres connecitons = `5432`
- Connection Pool (pgbouncer) = `6543`

Perhaps we need to make that clearer somehow?

[2022-06-29 21:54] #7494 closed

[2022-06-30 05:52] jaysoni-ash42 commented on #7381
@Isaiah-Hamilton  @justinduplain  yup the inlinement is because of the difference of version on the deployment and the dev version.

[2022-06-30 06:00] joshenlim commented on #7322
@madsbuch hey there can i just check real quick if you're still facing this issue? i'm not able to reproduce this either on my end

[2022-06-30 06:05] joshenlim commented on #7452
hey there @alexauvray could you attach a screen recording of the replication of this issue on your end? i'm not able to reproduce it

[2022-06-30 06:07] joshenlim commented on #7157
closing this one as no longer relevant

we've moved the grid library to within studio as its scoped to the requirements of studio

[2022-06-30 06:07] #7157 closed

[2022-06-30 06:09] joshenlim commented on #7153
hey there i'm gonna go ahead to close this issue as we've now moved the grid within the studio repository directly
this is because the grid library that we've written is scoped to the requirements of studio and it doesnt really work well as a standalone grid library such as react-data-grid for example

[2022-06-30 06:09] #7153 closed

[2022-06-30 06:32] joshenlim commented on #4814
Hey there! We've just released this out - you should now be able to invite team members via their emails :) Feel free to give that a go!

[2022-06-30 06:32] #4814 closed

[2022-06-30 09:52] betterthanever2 opened #7508 "Make contents of the table's "Description" field visible in Table Editor"
# Feature request

## Is your feature request related to a problem? Please describe.

Each table has a non-required "Description" field. Right now, to see the contents of that field, you need to click `Edit table`. It would be nice to have that text shown in the Table Editor UI.

## Describe the solution you'd like

An additional block right above the table (provided that the field 'Description' i

[2022-06-30 12:01] miguelramos commented on #7424
After some debugging and checkings, the error was caused it as a malformed form content type header on upload the asset to bucket. Everything fine on supabase side.

[2022-06-30 12:01] #7424 closed

[2022-06-30 13:20] GaryAustin1 commented on #7452
This occurs every time in the “add new row” side panel if you click on a foreign key column.
![B17AFE65-73E8-4380-8D0E-19C6687A0833](https://user-images.githubusercontent.com/54564956/176687408-855ebaa9-0639-40ac-b738-84f2fe6b3519.jpeg)

[2022-06-30 13:25] saltcod commented on #7508
Thanks @betterthanever2 !  Good suggestions.

You can see the table description here: (https://app.supabase.com/project/-/database/tables)

<img width="1392" alt="CleanShot 2022-06-30 at 10 39 02@2x" src="https://user-images.githubusercontent.com/105593/176685263-18ff0697-b578-4602-b3d6-04d66a3ca6a9.png">

But you're right, you can't see it from the table editor interface. Adding it as the hover t

[2022-06-30 15:09] qw-in commented on #7381
`searchBox_node_modules-docusaurus-theme-search-typesense-src-theme-SearchBar-styles-module`

What a class name!

[2022-06-30 18:00] parker-sherrill commented on #7452
I am having the same exact issue when inserting data into Tables!

Is this just a Supabase problem? Was working fine for me yesterday:(

![Screen Shot 2022-06-30 at 1 59 55 PM](https://user-images.githubusercontent.com/106558204/176746095-8ebf501a-ce9f-4155-a376-97343fc52acb.png)

[2022-06-30 18:39] Hallidayo commented on #7508
@saltcod can I take this one?

[2022-06-30 19:01] v1b3m commented on #7342
Hey @sei0o Mind sharing the exact API request you made 😃 ?(Want to replicate this but I can't seem to wrap my mind around this)

[2022-06-30 22:54] sei0o commented on #7342
I have found this in Go, but the minimum reproduce in cURL would be:

[code]

Or in JavaScript:

[code]

Note that `supabase-js` [warns](https://github.com/supabase/supabase-js/blob/70870f253d51038e30b976b594e1a88e1b4ae63b/src/SupabaseClient.ts#L72) us when the `supabaseKey` is empty. Removing this guard (or giving random keys) causes an exception:

[code]

[2022-07-01 04:42] johndpope commented on #7153
N.B. the react-data-grid doesn't have all the smarts for postgres.

[2022-07-01 06:29] #4883 closed

[2022-07-01 07:10] aayushdura commented on #7508
@saltcod Can I take this one?

[2022-07-01 09:26] laplaceliu opened #7518 "extension "pg_graphql" does not exist"
# Bug report

## Describe the bug

When I run `docker-compose up`, it reports:

[code]

then, I run a bash inside a container of image `supabase/postgres:14.1.0.21`, `pg_graphql` is exists:

[code]
then, inside the container:

[code]

The latest version has the same issue:

[code]

However, in supabase-studio dashboard, it is enabled:

![screenshot-20220701-171638](https://user-images.githubuserco

[2022-07-01 09:49] laplaceliu commented on #7518
My fault. It's only a **NOTICE**. Everything is OK.

[2022-07-01 17:07] kiwicopple commented on #7508
looks like @Hallidayo jumped in first - feel free to create a PR when you can (or you can hand it off to @aayushdura :) ). Thanks team!

[2022-07-01 17:42] Hallidayo commented on #7508
Cool thanks @kiwicopple

[2022-07-01 19:42] #7518 closed

[2022-07-01 20:18] cdcarson opened #7524 "The current Deno Supabase module is broken"
# Bug report
Not sure where to report this, because there seem to be (outdated?) repos in play, like [link-discord/supabase-js](https://github.com/link-discord/supabase-js) and [link-discord/gotrue-js](https://github.com/link-discord/gotrue-js). I'm reporting here because it looks like the official repo.

The current [Supabase Deno module](https://deno.land/x/supabase@1.3.1) is broken when you cal

[2022-07-01 20:38] RichiCoder1 opened #7525 "Integrated Zanzibar-style AuthZ system"
# Feature request

The addition of a [Zanzibar-style](https://zanzibar.academy/) authz system for modeling relationship that can then be queried and updated via Postgres helpers.

## Is your feature request related to a problem? Please describe.

While Row Level Security is incredibly powerful, it can get very complex and intimidating very quickly to setup effective policies. There's been a recent

[2022-07-01 20:46] cdcarson commented on #7524
Woops. I was using the wrong module URL. The right one is
[code]

[2022-07-01 20:46] #7524 closed

[2022-07-02 10:01] ChristianLutzCL opened #7530 "Navbar links 'Guides' and 'Reference' are both higlighted in green at the same time"
# Bug report

## Describe the bug

If you access the documentation via the start page or directly via 'https://supabase.com/docs', and then go to the "Reference" page, the "Guides" and "Reference" links are highlighted in green.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to 'https://supabase.com'
2. Click on 'Developers'
3. Click on 'Doc

[2022-07-02 15:17] nerdjfpb commented on #7530
Hi @Isaiah-Hamilton I am interested to take this.. Is anoyone else is working on this issue already?

[2022-07-02 19:42] silentworks commented on #7530
@nerdjfpb If there are no PRs on the issue then it's open for all.

[2022-07-02 20:12] miketromba opened #7533 "Tiny grammar bug in the UI for configuring a table with a composite primary key."
# Bug report

## Describe the bug

Just documenting a tiny grammar bug in the UI for managing a table's fields. See screenshot:

## To Reproduce

Create a table with multiple fields in the UI and select multiple primary keys. Then click the expand icon on the box which appears.

## Expected behavior

Should have "be" before "grouped"

## Screenshots

![image](https://user-images.githubusercontent.

[2022-07-03 03:51] Shiba-Kar commented on #4295
@seenickcode its fixed in latest version.

[2022-07-03 03:58] Shiba-Kar opened #7535 "IMDb OAuth request"

[2022-07-03 16:19] #7533 closed

[2022-07-03 17:39] abz121 commented on #7327
I have the exact same error. @shoxadomokai what was the solution that worked for you?

[2022-07-03 22:35] dshukertjr commented on #4295
Will close this one because it is fixed! Thanks guys!

[2022-07-03 22:35] #4295 closed

[2022-07-04 04:49] #7481 closed

[2022-07-04 05:14] prajzwol7 commented on #4324
@joshenlim can you elaborate on this on whether to make changes on auth fields or overall change in design of auth email?

[2022-07-04 07:38] peetzweg opened #7550 "Email in Invitation of Team Members is Case Sensitive."
# Bug report

## Describe the bug

I just invited a bunch of team members to my supabase organisation, myself included. It seems I had used some capital letters when I signed up to GitHub. So the invitation of the all lowercase email arrived me but it did not match the email supabase expected, `invited_email != github_email`.

## To Reproduce

Invite a user into your supbase team and use some capi

[2022-07-04 07:59] Perfecto-always commented on #7452
The error you provided shows that you are not passing uuid(the foregin key) from the client side. Try providing a valid uuid that exists in the table.

Suppose this is your main table: (e.g.: `user`)
![image](https://user-images.githubusercontent.com/74700079/177108267-f7dfa6e5-64c5-4aab-9d8f-12ed907fcbc9.png)

and this is the table that you have created foregin key: (e.g.: `product`)
![image](htt

[2022-07-04 14:54] Olyno opened #7555 "Reset password workflow issues"
# Bug report

## Describe the bug

In the code

[code]

It seems that the Supabase js library sends an email to the user, even if it doesn't exist, and the link in the email redirects to the website with ``#error_code=404&error_description=User+not+found`` instead of returning the error in the ``error`` variable from the above code.

## To Reproduce

Use the code below with a non-existing email.

[2022-07-04 19:25] galenking opened #7560 "Bug: Constraints not well-handled by Studio"
I am not sure if this is an issue with Prisma or Blitz or Supabase.

When I run `blitz prisma migrate dev`, the default value for `id` is set in Supabase to `extval('"User_id_seq"` (truncated—exactly like that).

This is the corresponding schema in Prisma: `id    Int    @id @default(autoincrement())`.

Is this a bug? Or am I doing something wrong?

[2022-07-04 21:10] johnmasonwilliams commented on #7555
I would love to see an entire rework of the password reset flow. There are so many issues that need to be fixed so just a rework of the entire system would solve lots of issues and headaches.

You can read more about the issues [in this discussion](https://github.com/supabase/supabase/discussions/3360).

[2022-07-04 21:20] Sesa1988 opened #7563 "[Feature] Prevent direct access to tables via REST but allow from functions"
# Feature request

## Is your feature request related to a problem? Please describe.

I want to limit the amount a user can create based on his purchase status.
I have to call another REST interface to get his status and for this I need to use PostgreSQL functions or Edge Functions since RSL Rules can't do http calls as far as I know.

My issue is someone could just call the PostgreSQL API directl

[2022-07-04 22:17] amaralc commented on #5587
Same issue here. This would be great indeed.

[2022-07-05 01:30] burmecia commented on #7381
That class name is generated from the Typesense component https://github.com/typesense/docusaurus-theme-search-typesense, so its name looks ridiculous. And the css name is shorten when it is built on prod but not on local dev, so the customised css styles in `web/src/css/custom.css` won't apply to prod, that's why it cannot been reproduced on local dev.

To fix this issue, I think we only need to

[2022-07-05 01:58] burmecia commented on #7415
Hi @rbkayz , can you double check if this issue still exists? I followed the steps but cannot reproduce this issue, maybe this is just an interim issue?

[2022-07-05 02:10] burmecia commented on #6570
I think this issue has been fixed, so will close it. Feel free to create a new one if this is still an issue.

[2022-07-05 02:10] #6570 closed

[2022-07-05 05:06] w3b6x9 commented on #7563
@Sesa1988 if your users are `authenticated` then you can create RLS policies where you can query based on the `authenticated` user claims and check if that user has authorization to create.

Also, you mention RSL Rules a few times. What are RSL Rules?

[2022-07-05 05:16] jaysoni-ash42 commented on #7550
@kiwicopple
this change should resolve the issue Bug
<img width="844" alt="Screen Shot 2022-07-05 at 10 58 42" src="https://user-images.githubusercontent.com/68722497/177254308-32b831a1-1e13-4102-841b-90e239e28465.png">
any suggestion on that

[2022-07-05 06:18] rbkayz commented on #7415
Hi @burmecia, Still the same issue unfortunately with the example hello-world function. Still receiveing a 500 internal server error

However, if I remove passing of the body, then it works fine. See the code below that works well with a 200 response. Any idea why this may be happening?

`
import {serve} from "https://deno.land/std@0.131.0/http/server.ts"

console.log("Hello 2!")

serve(async () =

[2022-07-05 06:30] prajzwol7 commented on #4865
@kiwicopple function section is not available in development version.

[2022-07-05 07:07] burmecia commented on #7415
Did you change anything in the original generated index.ts file? It should be something like below:

[code]

Can you use the above code and try again?

[2022-07-05 07:49] joshenlim commented on #7322
@madsbuch i'm gonna go ahead to close this issue due to inactivity but please feel free to reopen if you're still running into this - do attach a screen recording of your reproduction of the bug as well

[2022-07-05 07:49] #7322 closed

[2022-07-05 07:49] joshenlim commented on #7322
@madsbuch i'm gonna go ahead to close this issue due to inactivity but please feel free to reopen if you're still running into this - do attach a screen recording of your reproduction of the bug as well

[2022-07-05 08:02] joshenlim commented on #4324
hey there @prajzwol7 - this one's a bit of a large tasks and it involves:
- introducing an HTML editor for auth email templates
- Improving the default auth emails designs

This probably needs to go through some design iteration internally (cc @MildTomato) so I'd say it's not exactly ready to be worked on at the moment

[2022-07-05 08:02] joshenlim commented on #4324
hey there @prajzwol7 - this one's a bit of a large tasks and it involves:
- introducing an HTML editor for auth email templates
- Improving the default auth emails designs

This probably needs to go through some design iteration internally (cc @MildTomato) so I'd say it's not exactly ready to be worked on at the moment

[2022-07-05 08:09] joshenlim commented on #4333
hey there @aayushdura - this issue requires some changes on our backend and is not ready to be worked on unforunately.

I'd suggest taking a look the issues labelled "good first issue" if you're looking to get started around our repository :)

[2022-07-05 13:17] eric-naguras opened #7571 "storage update results in "The resource was not found""
# Bug report

## Describe the bug
When I try to update a file, basically replacing the content but keeping the same file name, I get an error "The resource was not found".

## To Reproduce

1. I get a file using a file input element.
2. I assign a name to a name variable
3. I upload the file to storage with:
[code]
4. I get another file with a file input element
5. While using the same file name,

[2022-07-05 13:46] steve-chavez commented on #7563
You can create a `private` schema and have your tables there and then only create functions in the `public` schema(here you can refer to tables in the `private` schema). You can see more details about this pattern [here](https://postgrest.org/en/stable/schema_structure.html#schema-isolation).

[2022-07-05 14:44] Sesa1988 commented on #7563
Thats exactly what I need, thx.

[2022-07-05 14:46] #7312 closed

[2022-07-05 16:57] Perfecto-always opened #7575 "Idea about plugins in supabase?"
# Feature request

## Is your feature request related to a problem? Please describe.

The taught came to my mind when I was thinking about storing images in supabase, wouldn't it be nice if their was something like a plugin to compress images before storing it.

## Additional context

As supabase says it's an open source alternative to firebase, one of its cool feature(at least to me) is it's plug

[2022-07-05 19:03] #7563 closed

[2022-07-05 19:21] Hallidayo commented on #3841
@kiwicopple - I've added a note to the README in the above PR to highlight the auth buttons.

[2022-07-05 23:50] madleo-dk opened #7581 "inconsistent firing for realtime"
# Bug report

The following 2 setups do not work reliably/consistently, as in, events are not being fired and logged as expected as events seem to fire reliably only on the first or first few UPDATE requests, but at some point, the events stop firing. I am changing updating the record manually from supabase dashboard. (This is inside of NextJS, no RLS enabled).

`simplified`
[code]

`complete`
[co

[2022-07-06 00:14] ezeokami commented on #7575
Hey @Perfecto-always , what would you suggest the contexts the plugins would run in should be?

As capabilities are different and depend on the host creating the context.

Different hosts/contexts I had in mind:

## psql - Run SQL queries

For example, a context can be a psql client that can execute SQL instructions (that would be the plugin's code) as some role/user defined by the plugin consumer

[2022-07-06 01:38] justinduplain commented on #7530
@ChristianLutzCL I could be wrong, but looks like this is already corrected on the current dev build?

[2022-07-06 01:47] MildTomato commented on #7381
ah i didn't realize the classnames changed in prod 🙈 my bad

[2022-07-06 01:48] MildTomato commented on #7381
feel free to apply dirty fixes on this, since we are replacing this website soon anyway

[2022-07-06 01:51] #7581 closed

[2022-07-06 01:55] MildTomato commented on #7550
@jaysoni-ash42 @peetzweg

Yep, makes sense to lowercase all the inserted invited member emails.
We also need to do some backend changes to make sure they match properly.

feel free to PR that change above if you want to @jaysoni-ash42 🚀

[2022-07-06 02:49] vincentjflorio opened #7583 "Update specific filters' documentation to provide context to meanings and sample data"
Per: https://discord.com/channels/839993398554656828/993889903546998824

# Improve documentation

## Link

https://supabase.com/docs/reference/javascript/contains
https://supabase.com/docs/reference/javascript/containedby

## Describe the problem

The current examples in the filter documentation seem to make assumptions about our knowledge of the nonexistence table they reference with their sample

[2022-07-06 03:24] burmecia commented on #4893
This feature has been implemented, please find it in 'Settings' -> 'API' -> 'Generate a new secret'.

[2022-07-06 03:24] #4893 closed

[2022-07-06 04:42] ronakmistrydev commented on #7530
@ChristianLutzCL
After spending enough time found out that it's an issue from `docusaurus`.
Code location - [click here](https://github.com/supabase/supabase/blob/master/web/docusaurus.config.js#L66)

[2022-07-06 07:19] rbkayz commented on #7415
Hey Bo, no change made. Used the exact code. Still same error

A couple of points to note:
1. There is a lint under the "https://deno.land/std@0.131.0/http/server.ts". It says _An import path cannot end with a '.ts' extension. Consider importing 'https://deno.land/std@0.131.0/http/server.js' instead._
2. There is a lint under req. It says _Parameter 'req' implicitly has an 'any' type._

[2022-07-06 08:37] ChristianLutzCL commented on #7530
@justinduplain I can't verify it, haven't cloned the repository. Or is there a dev build that can be accessed online?

[2022-07-06 09:38] yeganathan18 opened #7593 "chore: color of hyper text should be different from normal text"
# Bug report

## Describe the bug

The hyper text links on the supabase website aren't differentiable from the rest of the text in the line. We should consider changing the color of hyper text links so that it actually looks like a link. This would improve the UI as well as makes it easy to identify hypertext links vs normal text.

## To Reproduce

Steps to reproduce the behavior, please provide c

[2022-07-06 10:25] Hallidayo commented on #7593
This should have been fixed by #7247 but I can not see the `prose` class in the `master`. I can create another PR for this though?

[2022-07-06 15:05] yeganathan18 commented on #7593
@Hallidayo, but still the issue persist 🤔

[2022-07-06 19:43] Isaiah-Hamilton opened #7599 "Chore: update the rest of the monorepo to use common assets"
# Chore

## Describe the chore

Update the rest of the monorepo to use common assets.

## Tasks

- [ ] Find away to get favicons working fully
- [ ] Update the rest of the monorepo

[2022-07-06 23:33] burmecia commented on #4893
Yes, you can open a new ticket about it.

[2022-07-07 01:39] leadream commented on #3192
Hi all, is there any progress now? At least supabase should allow me to change the sender name for all templates without my own SMTP setup.

[2022-07-07 12:56] #7593 closed

[2022-07-07 16:08] miketromba commented on #4464
Just experienced the same issue and it caused my server to crash.
I believe it happened as a result of calling:
[code]
[code]
While the root of this bug is being fixed, in the meantime is there some way to capture the error and reveal it in the returned .error prop of the supabase response object instead of allowing the supabase SDK method to throw?

I assume most codebases will not expect supabas

[2022-07-07 18:19] ndom91 commented on #7252
So my screenshot uploading function seems to work most of the time now, however, the retrieval still seems to be corrupted :/

i.e. this is what it looks like in the Supabase UI - clearly the image loads:

![image](https://user-images.githubusercontent.com/7415984/177842208-1af5c6ee-e86d-4875-971e-4e6e9998c893.png)

However, if I copy the URL and try to open it via that (https://exjtybpqdtxkznbmll

[2022-07-07 23:56] burmecia commented on #7252
Did you try upload/download with a new file and name? I suspect it might be cached somewhere.

[2022-07-08 00:05] burmecia commented on #7415
The lints shouldn't be a problem. I checked your function logs and found there are multiple versions, some versions work fine but some not, not sure if this is the cause. As I still cannot reproduce this issue, could you try this function with minimum modification in another project and let us know how it goes? Thanks.

[2022-07-08 02:50] burmecia commented on #7381
This issue has been fixed by #7609 .

[2022-07-08 02:50] #7381 closed

[2022-07-08 03:45] jfeiwell commented on #5685
have you deployed yet?

[2022-07-08 07:48] Sulomus opened #7620 "Bug: Dropdown menu in "Add a new function" is unreadable"
# Bug report

## Describe the bug
In the Supabase UI when configuring a new RPC function the dropdown menus are unreadable due to the bad color choice.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to Supabase project
2. Click on Database
2. Click on Create new function
4. See error

## Screenshots
![image](https://user-images.githubusercon

[2022-07-08 08:19] ndom91 commented on #7252
@burmecia yeah could very well have been cache as well, it was in fact the same filename / path actually

[2022-07-08 09:18] gracebir commented on #7599
@Isaiah-Hamilton , what do you mean by `monorepo`? or can you list up the steps to reproduce please?

[2022-07-08 14:24] joshdance commented on #5587
Found this thread looking for info on Supabase custom domains, would love this feature as well.

[2022-07-08 15:01] Olyno opened #7623 "Wrong usage in the Svelte Kit tutorial"
# Bug report

## Describe the bug

In the [Svelte Kit tutorial](https://supabase.com/docs/guides/with-sveltekit#create-an-upload-widget), it looks like there is an issue. The ``downloadImage`` function is used in the ``use`` directive, but produces an error because this one accepts only sync functions, and not async functions.

## To Reproduce

/

## Expected behavior

The docs should contain a fu

[2022-07-08 15:20] continuata commented on #7623
also true of the `getProfile` function in `Profile.svelte`. Should look like this:

[code]

[2022-07-08 15:32] hatton commented on #5587
Since we can't launch until this happens, I'm wondering if we should just use [deno.land](https://deno.com/deploy) directly, as they do offer custom domains. We'd lose the nice built-in `SUPABASE_SERVICE_ROLE_KEY` environment variable but aside from that, is there anything else that we'd lose vs. doing the deno functions in Supabase itself?

[2022-07-08 19:48] caleb531 opened #7627 "Supabase CORS Error on REST API Requests: No 'Access-Control-Allow-Origin' header is present"
# Bug report

## Describe the bug

I am using the Supabase SaaS service and supabase-js for my latest web application that I intend to launch soon. I am experiencing a CORS issue for new user accounts of my app, whereby a new user account receives a 400 CORS response code when calling my public DB tables via the REST API.

<img width="1158" alt="1-console" src="https://user-images.githubuserconten

[2022-07-08 20:38] edwardcwang opened #7628 "Supabase studio self-hosted does not work with non-default db setup"
# Bug report

## Describe the bug

The self-hosting instructions recommend decoupling the database by setting `POSTGRES_HOST`, `POSTGRES_USER` et al to use an external database. However, this causes Supabase Studio to break with various errors such as "password authentication failed for user supabase" due to hardcoded parameters in Studio e.g. below:

https://github.com/supabase/supabase/blob/94fd

[2022-07-08 21:09] steve-chavez commented on #7627
Could this be related to https://github.com/supabase/postgrest-js/issues/286#issuecomment-1165213335?

[2022-07-08 21:39] ctwhome commented on #7189
Hi @dragarcia please improve the self host docuemntation because it is still very difficult to follow. It seems like using the CLI eject doesn't include supabase studio, but if you download the supabase repo and run the docker-compose then yes... It seems to me like inconsistencies about self-hosting everywhere.

[2022-07-08 22:16] caleb531 commented on #7627
@steve-chavez I saw that issue, and tried disabling all my browser extensions in both Brave and Chrome. No luck.

I also tried in Safari, which has no extensions enabled, and I receive the same CORS errors for that user account.

[2022-07-08 23:21] GaryAustin1 commented on #7627
Is there anything in the Database Postgres logs?
The cors error maybe caused by whatever is causing the 400 error versus 400 caused by cors.  I don’t have a specific case with SB to point to, but have seen cors errors caused by server errors.

Can you turn off RLS if you are using and make sure it is not failing in some bad way… although I think that would cause a different error like 500…

[2022-07-09 00:15] caleb531 commented on #7627
@GaryAustin1 Addressing your questions in LIFO order 😉:

1. I disabled RLS on both of my endpoints, but I'm still getting the CORS errors, even after refreshing the page and signing out / back in (I have since re-enabled them after submitting this comment for security):

<img width="959" alt="Screen Shot 2022-07-08 at 5 10 58 PM" src="https://user-images.githubusercontent.com/872474/178083858-3cb1

[2022-07-09 02:36] cryptic-ai commented on #5587
Just out of curiosity, do we have an ETA for this feature? 👀

[2022-07-09 03:53] NanoCode012 commented on #7560
I also got this value in my schema when running prisma introspection. My workaround which works for me is to switch to UUID instead. It would be great if I could use simple ID though as UUID is sometimes overkill.

[2022-07-09 12:57] kiwicopple commented on #7555
This is being worked on here: https://github.com/supabase/supabase/pull/7443

[2022-07-09 13:03] kiwicopple commented on #7560
Hey @galenking - Would you be able to share a bit more code which would allow use to reproduce the issue?

I don't think this is a supabase issue (since we are "just postgres") - but I could be wrong

[2022-07-09 13:10] kiwicopple commented on #4865
I assume that you would like to return a set of rows right @vinyll ?

This is definitely possible! https://supabase.com/docs/guides/database/functions#returning-data-sets

Did you try this one yet?

Take note that in Postgres the "array type" is different from returning a "set of rows". If you call the database function using the RPC supabase-js: https://supabase.com/docs/reference/javascript/rpc

[2022-07-09 13:43] kiwicopple commented on #3783
If you prefer not to use the helpers, you would need to follow the same process in the helpers code. eg: set the Auth token inside a cookie, and then extract the value of the cookie inside `getServerSideProps` - the idea of the helpers isn't to do anything unique, it's simply to provide a library which will follow the same steps that you'd do yourself

[2022-07-09 15:06] johnmasonwilliams commented on #7555
Awesome, thank you!

[2022-07-09 18:04] burggraf commented on #7627
Can you please try disabling the CAPTCHA to see if that resolves the issue?

[2022-07-09 18:46] skizer opened #7634 "Realtime + RLS not working @ hosted supabase cloud"
# Bug report

## Describe the bug

As with 09.07.2022 realtime in combination with activated RLS seem's to be broken with a freshly created supabase cloud instance.

Socket get's created, connects, schema realtime->subscription gets populated with the correct token/role.
Work's fine if RLS is turned off for the corresponding table, stop's working the moment RLS is turned on.

All permissions have

[2022-07-09 18:53] GaryAustin1 commented on #7634
I confirmed @skizer 's report in working on the discussion.  Works fine on my 6 month old version.  All skizer's code/policies/setup looked fine.   I spun a new instance with just a true policy on select (and the newer one with all user default on all operations) and inserts/updates did not trigger.  Turned off RLS and they do.   Also tried 1.35.3 with no change.

[2022-07-09 19:05] caleb531 commented on #7627
@burggraf Thank you for this. I think I have identified the root cause, and ask for your feedback on how to proceed from here:

## TL;DR

The CAPTCHA responses is inflating the size of the JWT, since the CAPTCHA responses get stored in `raw_user_meta_data` in `auth.users` table (or `user_metadata` on the frontend `User` object). And since the JWT is sent in every API request, Supabase fails becaus

[2022-07-09 19:36] w3b6x9 commented on #7634
@skizer thanks for reporting. I’ll investigate and get back to you.

@GaryAustin1 appreciate you confirming this.

[2022-07-10 01:46] NanoCode012 commented on #7560
Hi @kiwicopple , I reproduced it as below. It could also be more of Prisma error the more I see it.

1. Schema
[code]

2. `prisma migrate dev --name test`
[code]

3. Supabase Studio
![image](https://user-images.githubusercontent.com/9899957/178128108-7bf00437-e7e3-46cf-8355-041cad5688ee.png)

[2022-07-10 02:20] caleb531 commented on #7627
Update: after reviewing my code, I figured out the issue—a mistake on my end. My Sign Up submission code was something like the following:

[code]

As you can see, I'm serializing all form values into a JSON object, and populating those into the user metadata store on account creation. However, while my `_.omit` call excludes irrelevant fields like email/password fields, it should _also_ be exclud

[2022-07-10 02:20] #7627 closed

[2022-07-10 05:01] hysan commented on #7259
Hi @kiwicopple, I am also struggling to accomplish this. I'm not sure if the link you provided is correct. It points back to this issue.

[2022-07-10 23:49] burmecia opened #7639 "DOCS: Tools doc links are broken on reference home page"
# Improve documentation

The 2 Tool links for Auth and Connection Pool are broken on reference home page https://supabase.com/docs/reference.

## Describe the problem

![image](https://user-images.githubusercontent.com/19306324/178166676-b3d57a41-ce31-49ba-8663-55f548724474.png)

Those 2 links are Page not Found.

<img width="1402" alt="image" src="https://user-images.githubusercontent.com/1930632

[2022-07-11 03:53] nithinp02 opened #7641 "unable to connect to the default project"
# Bug report

Unable to connect to the default project from the studio URL.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

Using docker compose file, I am able to enable the studio and the related containers. I have updated the .env file as per the documentation.

I am unable to connect to the default project from studio URL. It showing as a loadi

[2022-07-11 06:53] arindam324 commented on #7599
if I'm not wrong you want to use assets from packages/common in all your apps in the ``monorepo``  correct ?

[2022-07-11 09:23] Hallidayo commented on #7641
Hi @nithinp02,

Do you get any error logs?

If you follow [this](https://blog.hijabicoder.dev/how-to-contribute-to-open-source-supabase-edition) great guide by @FatumaA and go to the 'Supabase Dashboard' section this should help you set up a local build of Supabase.

[2022-07-11 22:13] Isaiah-Hamilton commented on #7599
@arindam324 yes.

[2022-07-12 02:04] joseg157 opened #7653 "Multiple unique constrain UI bug"
# Bug report

## Describe the bug
Tables do not display multiple unique constraints seems like there is a UI problem.

## To Reproduce

// UI bug
CREATE TABLE example (
    a integer,
    b integer,
    c integer,
    UNIQUE (a, c)
);

## Expected behavior

Doesn't seem the unique constraint is checked for the table example.

## Screenshots

![image](https://user-images.githubusercontent.com/49816

[2022-07-12 08:25] joshenlim opened #7658 "Table editor filter input loses focus after debounce"
See if we can avoid losing focus after debouncing - because we're now updating the URL state with the filter and sorts
otherwise consider only enacting the filter on blur

https://user-images.githubusercontent.com/19742402/192434602-55518258-199d-4e46-9661-429e00a9094f.mov

[2022-07-12 10:23] aayushdura commented on #7620
I'll Try to solve this

[2022-07-12 11:39] johnsonchandra commented on #1389
The realtime subscription does not work, although everything is setup correctly, and Realtime subscription is checked too in table messages.
You can try at [my deployment](https://supabase-slack-clone-ashen.vercel.app)
or even at your [live demo](http://supabase-slack-clone-supabase.vercel.app/)

[2022-07-12 15:06] l0nax opened #7665 "Fully Self-Host Dashboard/ Studio"
# Improve documentation

## Link

* https://supabase.com/docs/guides/hosting/overview
* https://supabase.com/docs/guides/hosting/docker

## Describe the problem

Please correct me if I misunderstand anything because this project is really awesome and allows us to replace Google proprietary tools with Open-Source software.

The Studio [README.md](https://github.com/supabase/supabase/blob/master/stu

[2022-07-13 02:59] rbkayz commented on #7415
Hey Bo, This is working now.

For some reason, the error was happening when I was calling the function from the command line using curl. I'm not sure what it was but from the logs, it seems like the body passed to the request caused an error when parsed.

Works completely fine when I'm using Postman, or the invoke method on JS. Thanks a lot for your help

[2022-07-13 02:59] #7415 closed

[2022-07-13 05:55] burmecia commented on #7639
this issue is happening, not sure why it is still there.

[2022-07-13 06:55] johnsonchandra commented on #1389
It seems like the DELETE subscription works, but INSERT subscription not working for no obvious reason

[2022-07-13 08:11] saendu commented on #2954
@soedirgo any updates on this yet? What is the issue of not being able to create a supabase/postgres arm64 image? I think postgres has arm64 images since 9.0.0. Are there any dependencies that are not yet available on arm64. Could we maybe disable them if they are extensions? (e.g. some extensions are not yet working on arm64 like raspberry).

[2022-07-13 08:33] saendu commented on #2954
Are you using GitHub Actions for building your images? Probably sounds stupid to you, but couldn't we use another build environment? Or am I missing something?

[2022-07-13 08:38] soedirgo commented on #2954
Yeah, we use GitHub Actions to build our images. Open to alternatives for linux/arm64 images.

[2022-07-13 11:07] luquitared opened #7672 "Support for bun.js runtime"
Hi! It would be awesome if supabase supported this new speedy runtime.

I've attempted to see if it will run, but it does not.

My file is basic:
[code]

After, I ran and received this:
[code]

cheers

[2022-07-13 12:07] saendu commented on #2954
I don't have an alternative solution ready for the project, but maybe someone could do a build and provide it to the community until a stable solution with Github Actions is ready. I could maybe help out with my raspberry pi cluster.

[2022-07-13 15:35] blumenthaler opened #7673 "GUI inputs for editing a table column name break after value is a specific length"
# Bug report

## Describe the bug
When attempting to add a longer Column name to a Table in the Supabase GUI, you are no longer able to see your full input value, nor the last trailing characters of that value.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to a Supabase project
2. Click on 'Table Editor' -> 'New table'
3. Click on 'Add colu

[2022-07-13 15:49] david-plugge commented on #2954
I´ve been building a supabase-postgres image on an oracle-free-tier arm instance using a selfhosted gitlab runner.
[Here is the project](https://gitlab.com/david-plugge/supabase-postgres)

registry.gitlab.com/david-plugge/supabase-postgres

The image is already in use for a a few days now and there are no issues yet.

[2022-07-13 17:14] Hallidayo commented on #7673
Can I be assigned to this one please?

[2022-07-13 18:16] mansueli commented on #7673
CC @supabase/frontend-team

[2022-07-13 18:48] Ghandus commented on #5663
I'm having the same issue where using the google provider and the redirect option, it does not properly redirect to anything I specify in the redirectTo parameter.

currently running locally i have my Site URL set to http://localhost:8100
and also Additional redirect URLs to all my routes.

I tried putting lots of different urls in the redirect parameter, even external ones, yet it gets completely

[2022-07-13 18:53] lumenwrites opened #7676 "Error getting user: { message: 'Invalid Refresh Token', status: 400 }"
# Bug report

## Describe the bug

I'm building an app with Supabase and Next.js

From time to time I'm seeing the following error in my logs:
[code]

I'm relatively new to supabase, I don't really understand what that means, and I'd love some help with resolving this issue.

## To Reproduce

I set up the authentication by following the [@supabase/auth-helpers-nextjs tutorial](https://supabase.com

[2022-07-14 04:51] rommyarb commented on #5113
I've also experienced this when creating a user from the server using `supabase.auth.api.createUser()`

[2022-07-14 06:29] ARMATAV commented on #7676
Yup, +1 - I'm scouring around to find an example that doesn't have this issue - tab away for 1 hour, tab back; your token is invalid. Wait on the page for an hour, refresh, you're now de-authed.

This is kind of fundamental to the library, it's really hard to use now since during local development, you have no access to `auth/settings` in the supabase dashboard and so you can't even scam the syste

[2022-07-14 11:44] saendu commented on #2954
Thanks David I will have a go. 🙏

[2022-07-14 14:59] jchekanoff opened #7691 "domainRegex does not support symbols or wildcards"
# Bug report

## Describe the bug

The [Auth.constants.ts](https://github.com/supabase/supabase/blob/master/studio/components/interfaces/Auth/Auth.constants.ts) file has `domainRegex`, which doesn't allow for `*` or `-`, two common symbols used for Vercel and wildcard domains.

## To Reproduce

Visit the new interface for adding Redirect urls and attempt to add, for example: `https://my-test.com`.

[2022-07-14 18:49] kylerummens commented on #7311
Any timeline for this?

[2022-07-14 19:22] DerekRein commented on #1804
If it helps anyone else, make sure to not include your id key on your object before inserting.
[code]

[2022-07-14 19:56] mike-luabase commented on #5113
Is this fixed? I can't `supabase.auth.signUp` without being forced to confirm the email.

[2022-07-14 22:07] icopp commented on #4464
I've repeatedly run into this problem while trying to do bulk operations on `auth.api.getUser` / `auth.api.createUser` to synchronize a new Supabase project with a (for now) external source of truth on users. Even rate-limiting my operations to no more than 20 in parallel, I have to put extensive retry logic on anything that touches `auth.api`.

I seriously don't understand what it's doing, becaus

[2022-07-14 22:20] steve-chavez commented on #4464
@miketromba @icopp Though the error message is the same, the issue you mention comes from the Auth API(GoTrue) and that's not used by `postgrest-js`.

Perhaps you could open an issue on https://github.com/supabase/gotrue-js/ for better visibility?

[2022-07-14 22:51] sebastianpennino opened #7696 "Can't submit a help request to the support team"
# Bug report

## Describe the bug

**Users can't submit a help request to the support team.**

## To Reproduce

Steps to reproduce

1- Log in to your supabase account,
2- Go to the "Help Button" > "Contact support"  (see screenshot below)

<img width="506" alt="image" src="https://user-images.githubusercontent.com/1806825/179100806-08aa84ad-de86-48e5-a85c-cca30879b20c.png">

Then fill out the repo

[2022-07-14 22:53] sebastianpennino commented on #7691
I'm having the same issue. Just commenting to be notified of any progress.

[2022-07-15 01:14] odiseo0 commented on #7676
Same here

[2022-07-15 01:16] Hum4n01d commented on #4600
Looks like this issue was closed but I just encountered this exact bug

[2022-07-15 02:53] ARMATAV commented on #7452
It's because the `default` on a foreign-keyed `uuid` column is set to an empty string when you declare it in the UI and subsequently link it to another table's column that is of type `uuid` - bugged in Supabase production as well, requires you to manually fire off the `CREATE TABLE` in SQL with associated foreign key references.

[2022-07-15 06:05] J0 commented on #5113
Hey @mike-luabase ,

Thanks for the query! You should be able to call  `supabase.auth.signUp` without email confirmations enabled.

[2022-07-15 09:11] david-plugge commented on #2954
I´ve updated the ci to also tag the image with the `docker-version` in `docker.vars.json`

[2022-07-15 10:15] MildTomato commented on #7696
we've just fixed this, fix already in staging.
fix going into prod shortly. closing this for now.

[2022-07-15 10:15] #7696 closed

[2022-07-15 10:16] MildTomato commented on #7696
thanks for @sebastianpennino reporting 💯

[2022-07-15 10:18] MildTomato commented on #7691
Fix on the way

[2022-07-15 10:19] MildTomato commented on #7691
fix on the way to prod

[2022-07-15 10:19] #7691 closed

[2022-07-15 18:12] kiwicopple commented on #7665
Hey @l0nax - thanks for bringing this up! I want to make sure I understand you correctly, because it's always hard writing docs when you don't have a "fresh perspective" (like you!)

I tried to cover it in this part in the README:

You will see that many of the "Settings" screens on Studio are not there. This is because you can [configure](https://supabase.com/docs/guides/hosting/docker#configurat

[2022-07-15 23:39] Keoooo opened #7715 "www README.md out of date."
# Improve documentation

## Link

[README.md](https://github.com/supabase/supabase/tree/master/apps/www)

## Describe the problem

-Documentation on getting supabase www localhost running is out of date.
-npm run dev needs to be run at the root repo now.
-Also the link "Developers Guide" in the README.md goes to a 404

## Describe the improvement

Update the README.md on how to get www running on

[2022-07-15 23:51] Keoooo commented on #7715
if anyone has the new link location I can make a pr to correct this issue :Da

[2022-07-16 00:01] Keoooo commented on #7715
DM Found the file

[2022-07-16 03:53] ryanhaticus commented on #4934
@karouvirae I'm a bit confused on what to enter in regards to this:
[code]
Am I supposed to setup `/etc/hosts` and have these domains point to the local ip address of my docker container?
A bit stuck. Some help would be awesome.

[2022-07-16 05:37] mahyuddin commented on #4792
Couldn't agree more. $5/month and $10/month plans really help us for our rnd and serve our current clients.

[2022-07-16 10:51] nosizejosh opened #7720 "this.transport is not a constructor error with realtime"
I am attempting to enable realtime in my nuxt 3 application.
I have copied exact code from documentation and also enable replication on the table

[code]
and I get an error about `this.transport is not a constructor `

can someone help with this error?

[2022-07-16 13:07] barbalex opened #7721 "supabase.auth.signIn fails in local dev with: "Invalid authentication credentials""
# Bug report

## Describe the bug

For a few months I have worked on developing an app.
Suddenly that is not possible any more, as auth ceased working.

This is pretty bad as developing the app is not possible any more!
I will very soon need to switch to a different auth provider as further delay is not tolerable.

This is the code used to sign in:
[code]

These are the headers of the call initiat

[2022-07-16 18:49] riderx commented on #6515
Same issue on my side, i fixed it by using stripe rest API
https://github.com/Cap-go/capgo/blob/main/supabase/functions/_utils/stripe.ts
And for webhook parsing that was way harder :
https://github.com/Cap-go/capgo/blob/main/supabase/functions/_utils/stripe_event.ts

[2022-07-16 18:53] riderx opened #7725 "Egde function don't log console.error"
# Bug report

## To Reproduce

- Create a basic function with `console.error("test")`
- invoque the function
- try to find your message `test` in the logs

## Expected behavior

The console error should be visible

[2022-07-16 18:53] riderx commented on #7725
The bug has already been reported in the support, but i duplicate here for other user as me, who struggle with that

[2022-07-16 21:59] koakh opened #7729 "Feature Request - New Ory Hydra OAuth2 Provider Integration [Wrong repom should be created and gotrue and not supabase, sorry, please delete]"
# Feature request [Wrong repom should be created and gotrue and not supabase, sorry, please delete]

I want a new Ory Hydra OAuth2 Provider Integration

## Describe the solution you'd like

Waiting for someone/team/community integrate Ory Hydra OAuth2 Provider

## Describe alternatives you've considered

The alternative is integrate it, and contribute with PR of the Integration with some info how

[2022-07-16 22:13] #7729 closed

[2022-07-17 05:56] Marcus1YouTube opened #7730 "When trying to fetch data from database (javascript sdk), throws error "No API key found in request" but I provided all required keys"
# Bug report

## Describe the bug

When trying to fetch data from database (javascript sdk), throws error "No API key found in request" but I provided all required keys.

## To Reproduce

It is on CodeSandbox. Here is the link to it: https://codesandbox.io/s/supabase-video-site-1s138i?file=/src/App.js

## Expected behavior

I expected it to not throw that error; 1. Because I checked, 2. I followed

[2022-07-17 08:00] Avi-Robusta commented on #4708
also getting `error=server_error&error_description=Error+getting+user+email+from+external+provider`

[2022-07-17 09:27] farzd opened #7732 "subscription.isClosed is not a function"
# Bug report
isClosed function not found.

## Describe the bug
[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Subscribe to a table
2. Wait for connection to go idle [i'm using react native, so wait a few min / minimise the app]
3. When the connection drops, this warning shows

[code]

## Expected behavior

Show clean up / remove subscrip

[2022-07-17 13:02] martianshaan opened #7734 "Translate readme section to Marathi"
# Improve documentation

## Link

Add a link to the page which needs improvement (if relevant)

## Describe the problem

Is the documentation missing? Or is it confusing? Why is it confusing?

## Describe the improvement

A clear and concise description of the improvement.

## Additional context

Add any other context or screenshots that help clarify your question.

[2022-07-17 13:03] #7734 closed

[2022-07-17 13:45] koetjeengdjalanan opened #7736 "Error: Migration failed. Reason: An error occurred running 'pathtoken-column'."
I am trying to deploy supabase on my private server but **supabase-storage** image is failed to build. This cause other three image to failed alongside in my side.

This is the result of docker image logs for:

- supabase-storage
[code]

- supabase-auth
[code]

- supabase-realtime
[code]

- supabase-kong
[code]

And here I think i already do all from wiki as it's written. Can someone help me? .env

[2022-07-17 14:58] 24jr commented on #4832
I have a join table using multiple fields as a primary id. For simplicity say user_colors. Perhaps I first add 4 user_colors `supabase.from('user_colors').upsert([ {user_id: 'bill', color_id: 'red'},  {user_id: 'bill', color_id: 'green'}, {user_id: 'bill', color_id: 'blue'}])` and I now want to delete the ones with user_id as bill and colors red and green and keep blue

How does this look in that

[2022-07-17 15:44] Drew-Daniels opened #7737 "Could not resolve dependency: peer react@"^16.8.0 || 17.x" from @reach/visually-hidden@0.17.0"
# Bug report

## Describe the bug
I am following the [Quickstart: React](https://supabase.com/docs/guides/with-react) tutorial for Supabase and at the step where we are asked to install `@reach/visually-hidden`, I get the following error in my terminal console:

[code]

## To Reproduce
1. Go to [Quickstart: React](https://supabase.com/docs/guides/with-react) tutorial
2. Run the following commands:

[2022-07-17 19:38] GaryAustin1 opened #7740 "Policy Editor will not allow removal of role."
# Bug report

## Describe the bug

If you create a policy using the new role input field and then later edit the policy and set the role to none (for all roles) an error occurs.

![image](https://user-images.githubusercontent.com/54564956/179422002-061a5e24-8b7e-4c88-94a7-ffdfbd4f24fd.png)

## To Reproduce

Create a policy with anon as role and true as expression.
Save policy.
Edit the policy and

[2022-07-17 20:51] ARMATAV opened #7741 "No way to change settings during local development"
# Bug report

## Describe the bug

No way to change the local settings when developing with `supabase start` in Docker.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Run `supabase start`
2. Navigate to http://localhost:54323/project/default/settings/general
3. You're bumped back to the homepage

## Expected behavior

You should be able to modi

[2022-07-17 21:23] #7720 closed

[2022-07-18 03:44] #7550 closed

[2022-07-18 03:49] J0 commented on #4758
Hey all,

We will be closing this issue since it represents a class of issues rather than a single specific issue and we would be able to best track and handle issues via our support channel.  As such, reach out to support@supabase.com if you are still facing OAuth related issues.

For even faster resolution, do check out our [Logs explorer]
(https://supabase.com/docs/guides/platform/logs) and vie

[2022-07-18 03:49] #4758 closed

[2022-07-18 04:01] MildTomato commented on #7741
I think we had a similar issue raised.
@kiwicopple responded to it [here](https://github.com/supabase/supabase/issues/7665#issuecomment-1185783680)

[2022-07-18 05:46] ARMATAV commented on #7741
Maybe I'm missing something in that link and the sublinks - but there are Supabase-specific configurations that are not available to modify via envars passed to the container, thinks like the available schemas to generate the API documentation from - or am I just missing it?

[2022-07-18 06:10] J0 commented on #7721
Transferring to our Auth repo so we can better track this as well

[2022-07-18 06:16] J0 commented on #473
Hey @lightsound and @romshiri

Wanted to check if y'all managed to try out @kiwicopple 's solution? Do let us know if you are still facing issues and we'd be happy to jump in.

Thanks!

[2022-07-18 06:18] J0 commented on #1859
Hey all, transferring this to our Auth repo so we can best track this

[2022-07-18 06:23] J0 commented on #3789
Transferring to the `GoTrue-dart` repo so we can best track this

cc: @dshukertjr

[2022-07-18 06:27] J0 commented on #3921
Hey @jyk2000!

Going to transfer this to our Auth repo and close  it there since it seems like the issue has gone stale. Do feel free to re-open if you are still facing the issue though.

Thanks!

[2022-07-18 06:34] J0 commented on #7259
Hey @hysan,

Sorry for the delayed reply. You should be able to add user metadata after signing in by running:

[code]

Feel free to check out [this link](https://supabase.com/docs/reference/javascript/auth-update) for further details.

We don't support directly adding metadata with OAuth `signIn` at the moment so you'd unfortunately have to make two function calls. We'll be adding the ability to

[2022-07-18 06:37] J0 commented on #7261
Hey all,

Transferring this to the Supabase Auth repo so we can best track this. @roker15  do let us know if you are still facing this issue -- happy to jump in and help.

[2022-07-18 06:46] J0 commented on #6919
Hey @lanbau,

Thanks for reporting this issue -- transferring this to the Supabase Auth repo so we can best track this. Can I also check if your email confirmation settings are set to True?

You can check your settings here:
![CleanShot 2022-07-18 at 14 45 33@2x](https://user-images.githubusercontent.com/8011761/179457674-55429f2b-bd6a-48c4-a04e-9b8ea924a210.png)

[2022-07-18 07:17] J0 commented on #6902
Hey @SeekSaveServe ,

Did you manage to get around to checking the settings? Do let us know if you are still facing issues!

We'll be transferring this issue to out Auth repo for tracking purposes.

[2022-07-18 07:25] J0 commented on #6743
Transferring to our auth repo

[2022-07-18 07:37] J0 commented on #7087
Hey all,

We've had a revamp on our dashboard which should hopefully make the difference between Site URL and Redirect URL clearer. Going to close this issue for now but feel free to re-open if it is still unclear.

cc: @MildTomato

[2022-07-18 07:37] #7087 closed

[2022-07-18 07:48] J0 commented on #5322
Hey @sritampatnaik

Thanks for the feedback -- this is now available on the dashboard courtesy of our designer, @MildTomato  and the frontend team.

<img width="841" alt="CleanShot 2022-07-18 at 15 47 19@2x" src="https://user-images.githubusercontent.com/8011761/179466615-570a771b-7fff-4bc4-b4eb-79797d68f1aa.png">

Let us know if there are still issues!

[2022-07-18 07:48] #5322 closed

[2022-07-18 07:58] J0 commented on #5658
Hey!

This should now be supported via wildcard [redirect URIs](https://mobile.twitter.com/supabase/status/1539561445414805506) so you should be able to  add the following:

`https://mysite.com/users/*`

and redirect to `https://mysite.com/users/123`

Let me know if there are still issues or anything that I've missed.

Thanks!

[2022-07-18 07:58] #5658 closed

[2022-07-18 08:03] J0 commented on #5027
Hey team,

We're looking into adding an OpenAPI specification with a subset of the endpoints -- We'll put up a YAML/JSON file soon with some endpoints so feel free to help document the endpoints --  PRs are welcome :)

[2022-07-18 08:14] J0 commented on #4858
Hey all!

We're going to close for now in favour of an [internal issue to track this](https://github.com/supabase/infrastructure/issues/1476) but rest assured that it's being worked  on.

For now, the best bet might be to use a custom SMTP provider as mentioned.

Let me know if there are further questions.

Thanks

[2022-07-18 08:14] #4858 closed

[2022-07-18 08:16] J0 commented on #5416
Hey all,

Thanks for your patience. We recently did a dashboard redesign and additional whitespace should be cleaned up with a delimiter `.`

Feel free to reopen if there are still issues though

[2022-07-18 08:16] #5416 closed

[2022-07-18 08:20] J0 commented on #4715
Let's document this somewhere and we should be able to close thereafter

[2022-07-18 08:25] J0 commented on #4464
This seems to be a class of errors rather than a single isolated error some of which arise from the createUser/getUser endpoints. Moving to Auth repo to triage

[2022-07-18 08:28] J0 commented on #4268
Hey this issue seems to have gone stale.

Going to close for now but let us know if you are still facing issues.

Thanks!

[2022-07-18 08:28] #4268 closed

[2022-07-18 08:30] J0 commented on #4210
Hey @ichbinedgar,

Thanks for reporting this -- we are looking into having better error codes. Transferring to auth repo for tracking

[2022-07-18 08:35] J0 commented on #4188
Hey @riderx

Glad you managed to find a solution -- we're looking into better support for mobile deep links and generally storing refresh/oauth tokens within a session.

Closing for now but let us know if you still face issues

[2022-07-18 08:35] #4188 closed

[2022-07-18 08:36] richardwardza opened #11806 "chore: exporting component types"
# Chore

## Describe the chore

Some of the components in the UI library have their types exported ( eg [Button](https://github.com/supabase/ui/blob/335d73a79df9c3f4924dbdd8825f05ea7989f1ad/src/components/Button/Button.tsx#L7) ) while others do not, eg [Modal](https://github.com/supabase/ui/blob/335d73a79df9c3f4924dbdd8825f05ea7989f1ad/src/components/Modal/Modal.tsx#L13)

I feel it would be helpfu

[2022-07-18 08:38] J0 commented on #3945
to revisit after introduction of Monaco editor for email templates

[2022-07-18 08:39] J0 commented on #3841
Thanks @Hallidayo !

Hopefully should be clearer with the update -- closing for now.

Joel

[2022-07-18 10:25] J0 commented on #3815
Hey all,

This is a situation where what seems like a bug is actually a feature. We return a sanitized user so as not to expose user information. We acknowledge that this can be a hassle when it comes to development but it is necessary for security.

We will be revisiting this issue in a month but for now better documentation about the behaviour might be the way to go.

[2022-07-18 13:01] riderx commented on #4188
Yes good for me, i just share my solution if needed:
The config needed in supabase:
https://github.com/Cap-go/capgo/blob/686d1917f5a04334f38a8ca86c702486aab31d80/src/services/supabase.ts#L13
The manual way to get the token:
https://github.com/Cap-go/capgo/blob/686d1917f5a04334f38a8ca86c702486aab31d80/src/services/supabase.ts#L37
call this method in the page where you redirect users.

[2022-07-18 13:13] dshukertjr commented on #3789
Hi @christianfl,

Thanks for reporting this one. Actually, we are about to bring a [new breaking update](https://github.com/supabase-community/supabase-flutter/pull/124) to the supabase-flutter library, which will remove `onAuthenticated`. I will revise the quickstarter guide, but the new update should go live sometime this week. Would it be okay to just way for the update?

[2022-07-18 18:14] shini-tm opened #7771 "supabase subscriptions not working"
# Bug report

## Describe the bug

Whilst running a script that is "subscribed" to the table. On inserting values directly into the table through app.supabase the event is not shown.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create project -> create new table -> set "Enable Realtime"
2. Copy project url and project api key (anon public) fr

[2022-07-18 18:50] richardwardza opened #11805 "chore: consolidate and remove unused props"
# Chore

## Describe the chore

Based off https://github.com/supabase/supabase/issues/11806, this issue is to clean up the components props.
Remove any unused props and consolidate some of the existing props as per https://github.com/supabase/supabase/issues/11806

## Additional context

Origional comment:

I'm happy to do this as a new issue though?

Reply:

[2022-07-18 19:20] satyapalsharma commented on #7676
@ARMATAV You can change the expiration time in gotrue config

[2022-07-18 20:47] Jordaneisenburger commented on #3783
Just to confirm, this manual work is still needed even when using https://github.com/supabase-community/auth-helpers/tree/main/packages/nextjs#basic-setup correct ?

[2022-07-18 20:57] DeviousLab opened #7772 "Prisma unable to connect to Supabase database"
# Bug report

## Describe the bug

Prisma npx commands and Prisma Studio are unable to connect to the Supabase database.

Running `npx prisma migrate dev` yields in the following error message:
[code]
I followed the advice at https://github.com/prisma/prisma/issues/13807 and I was indeed able to migrate an initial db after creating a temporary table.

But after running Prisma Studio I am unable to

[2022-07-18 22:27] ARMATAV commented on #7676
Right you are - for future people, you can access the different variables in the container's config itself like this https://supabase.com/docs/gotrue/server/about by passing around envars.

However, still going to bug out after `n` seconds at this point in time - but it looks like they're going to take a shot at fixing it - very important, very fundamental functionality.

[2022-07-19 00:27] steve-chavez commented on #4832
@24jr Can you ask that one in a new discussion? https://github.com/supabase/supabase/discussions

[2022-07-19 03:23] vpicone commented on #5663
I found that using the window origin helps ensure the URL matches perfectly in dev and prod. Once the URL origin matched my Site URL exactly, the redirectTo property started to work.

[code]

[2022-07-19 03:23] B3nten commented on #4792
Personally I'd like an alternative paid plan that lets us have more active projects but share a resource pool. That way we can have many smaller projects that receive only tiny amounts of traffic, but if one starts to incur more usage we could pay for the $25/month plan for that one.

Right now I'm looking into self-hosting my projects elsewhere because I want to have more than two active. But I'd

[2022-07-19 03:41] kangmingtay commented on #5663
hey @Ghandus and @vpicone, please refer to our documentation on how to correctly configure your redirect urls [here](https://supabase.com/docs/reference/tools/reference-auth#uri_allow_list). We now support wildcards in the redirect urls which should reduce the number of redirect urls you need to whitelist if they have a similar path / domain.

There is an ongoing issue where if you add a trailing

[2022-07-19 08:54] tcurdt commented on #190
@kiwicopple @steve-chavez I am actually trying to find out how supabase is able to prevent sql injections (given that the SQL comes from the browser). Can you point to some docs or code that explains how this works under the hood? I didn't find anything yet.

Or why can't I just send a query like this

[code]

to gather information that isn't or cannot be protected on the row level?

I don't want

[2022-07-19 10:23] christianfl commented on #3789
@dshukertjr Yes, of course, thanks! We will publish an app using Supabase as the backend to beta at the end of this month. I am curious how this will improve the experience!

[2022-07-19 11:03] Obeyed commented on #7768
@OceanTechnic since this was reported a month ago I'm wondering if you found a workaround? I recently ran into this and am suspecting that the config is not being loaded properly for some reason. I haven't been able to find the issue yet, nor a solution.

[2022-07-19 11:55] Hallidayo commented on #7737
Hi @Drew-Daniels,

This issue is caused due to react 18 being used in the example. It appears that the `@reach/visually-hidden` library does not support react 18 yet but the maintainers are looking into this:

[Pull Request](https://github.com/reach/reach-ui/pull/939)
[Github Issue](https://github.com/reach/reach-ui/issues/925)

As a workaround for now you can replace the `<VisuallyHidden></Visual

[2022-07-19 13:12] Ghandus commented on #5663
@vpicone, @kangmingtay thanks for your inputs.
I'm still not sure I'm doing something wrong:
My Site URL in supabase is set to my localhost (http://localhost:8100)
As redirect URLs I added: 'http://localhost:8100/*' using the wildcard.
When I call
`const { session, error } = await this.supabase.auth.signIn(
        {provider: 'google'},
        { redirectTo: `${window.location.origin}` } // http:/

[2022-07-19 14:48] mdibaiee commented on #7771
We are experiencing the same issue. Subscriptions are not working today specifically, they have been working until yesterday as our graphs show:

<img width="645" alt="image" src="https://user-images.githubusercontent.com/2807772/179780065-00c345c0-1981-45e4-86a8-59b4e0d1a6fa.png">

[2022-07-19 14:58] shini-tm commented on #7771
It seems to be working so I shall close the issue. It'd be cool to know what to troubleshoot to figure out if the same issue might happen be the cause in the future.

[2022-07-19 16:46] shini-tm commented on #7771
🤔 seems to only run from my javascript file. If I try to use the code snippet in a fresh nextjs project I don't receive any updates:

[code]

[2022-07-19 16:54] w3b6x9 commented on #7771
@saterus I think you reached out via support ticket and we resolved it for you. There's an issue in the latest Realtime version (multi-tenancy) where we're splitting by `:` which obviously broke based on your filter value.

[2022-07-19 17:09] shini-tm commented on #7771
Nicely done. I guess its a seperate issue then. From the websocket connection logs I am seeing the events:
`{"event":"INSERT","payload":{"columns":[{"name":"id","type":"int8"},{"name":"last_fetched_timestamp","type":"text"},{"name":"listing_price","type":"float8"},{"name":"listing_timestamp","type":"text"}],"commit_timestamp":"2022-07-19T17:01:27Z","errors":null,"record":{"id":41,"last_fetched_tim

[2022-07-19 17:58] theochampion opened #7792 "RLS breach return empty array instead of 403"
Hey there,

I have a table `chunks` for which i'm building a RLS policy to allow only owners (authenticated and uid() matching the `owner_id` field) to read the data.

So I just enabled RLS with no policies on that table, reloaded my app as unauthenticated, and was surprised to see that the return of the following query:

[code]

yielded an empty array `[]` as a result instead of a `HTTP 403` erro

[2022-07-19 18:17] shini-tm commented on #7771
Turning off strict mode in react/nextjs appears to fix the issue. thanks to "Recognized" and @GaryAustin1 on the supabase discord

[2022-07-19 18:27] GaryAustin1 commented on #7771
Just to clarify on the strict mode...  What I think several users have encountered with react useEffect, where they subscribe and unsubscribe on cleanup, is that running the useEffect a second time causes a timing issue.  The subscribe starts up correctly then the useEffect gets called again so launches the cleanup routine and sends a close subscription to the server, meanwhile the "new" subscript

[2022-07-19 19:54] GaryAustin1 commented on #7792
This is the way Postgres RLS works, not a SB thing.
https://dba.stackexchange.com/questions/300776/postgres-rls-how-to-error-instead-of-ignoring-rows-not-matched-by-the-policy

[2022-07-19 20:13] gitstart commented on #7508
[Here's](https://github.com/supabase/supabase/pull/7795) @aayushdura's PR

[2022-07-19 21:07] steve-chavez commented on #190
@tcurdt Note that there's no SQL coming from the browser. For example the `select` gets translated to a [URL query parameter](https://postgrest.org/en/stable/api.html#vertical-filtering-columns).

    .from('table_with_secrets_in_columns')
    .select('*')

You expose what you choose to. If the table has sensitive data in some columns, you can hide that table in a `private` schema and expose a vie

[2022-07-19 21:12] tcurdt commented on #190
Thx a bunch!

[2022-07-20 02:37] Jannchie commented on #7771
@shini-tm Thanks for your information. It is helpful.

I think this issue should not be close, because turning off strict mode is not a elegant solution.

[2022-07-20 02:49] Jannchie opened #7799 "When used with react strict mode, the realtime database does not subscribe properly."
# Bug report

## Describe the bug

When we develop with the React strict mode, we can't build subscriptions correctly.

## To Reproduce

Turn on strict mode:

[code]

Using subscriptions in components:

[code]

## Expected behavior

In strict mode, useEffect is triggered twice. In theory, it should quickly establish and close a connection once, and then establish it again.

However, in practice, i

[2022-07-20 11:02] kiwicopple commented on #4865
I'll close this one for now, but feel free to comment here if it's still an issue and we can re-open

[2022-07-20 11:02] #4865 closed

[2022-07-20 11:07] kiwicopple commented on #7560
[code]

I see - they are adding it as constraint, and it seems that Studio isn't great at handling constraints. This is a bug for us to fix! I'll edit the title and let the Frontend team know

[2022-07-20 11:11] kiwicopple commented on #7639
cc @burmecia - fixed above if you want to merge

[2022-07-20 11:16] kiwicopple commented on #7641
Hey @nithinp02 - I wasn't able to duplicate this error. Here's what I did (from here https://supabase.com/docs/guides/hosting/docker):

[code]

Then everything worked. Perhaps you have an old version of the `.env.sample` ? I'll close this one for now, but feel free to comment again if you have any problems

[2022-07-20 11:16] #7641 closed

[2022-07-20 11:19] kiwicopple commented on #7653
This one is related: https://github.com/supabase/supabase/issues/7560

So I will close this in favor of that one!

[2022-07-20 11:19] #7653 closed

[2022-07-20 11:25] kiwicopple commented on #7741
Hey @ARMATAV - I think you're looking for this one? https://github.com/supabase/supabase/blob/97b0e4653256c37415a523839f6ee7bd7671722d/docker/docker-compose.yml#L88

All of the tools settings exist, we just haven't added everything to the `.env` file. If you want to add even more env vars for the API to the docker-compose file, you can find all of the available options here: https://postgrest.org/

[2022-07-20 11:27] kiwicopple commented on #7741
I'll close this one for now, but feel free to comment if you get stuck! In general, I think we need to add all the configuration options to our own docs so that this is more discoverable for developers like yourself - I will keep the other issue open so that we can track that task

[2022-07-20 11:27] #7741 closed

[2022-07-20 11:35] kiwicopple commented on #7672
hmm, perhaps this is a bun issue, rather than a supabase issue? If there is a (non-breaking) change that we can make, then we'd happy to consider it

I'll close this for now, but feel free to comment and I can re-open 👍

[2022-07-20 11:35] #7672 closed

[2022-07-20 12:01] obrunsmann opened #7810 "Typo in phone settings"
Small typo on the Auth → Phone settings:

![OTP](https://user-images.githubusercontent.com/763812/179976918-44ccb001-72d6-43b5-8586-132dab9dd93d.jpg)

Should be `digits` or something instead of `seconds` 🙃

[2022-07-20 12:11] kiwicopple commented on #7673
yes please @Hallidayo !

[2022-07-20 12:12] MildTomato commented on #7810
nice catch!  @obrunsmann

[2022-07-20 12:18] #3944 closed

[2022-07-20 12:24] J0 commented on #6435
Hey team!

This should now be resolved with the new template editor experience. Feel free to re-open if you're still facing issues though.

cc: @MildTomato

[2022-07-20 12:33] #7810 closed

[2022-07-20 12:41] J0 commented on #3945
Should be fixed with our new email set up -- variables that can be used are clearly displayed at the top.

Feel free to re-open if still unclear though.
Thanks!

[2022-07-20 12:41] #3945 closed

[2022-07-20 13:46] kiwicopple commented on #7715
fixed by @Keoooo here! https://github.com/supabase/supabase/pull/7716

[2022-07-20 13:46] #7715 closed

[2022-07-20 13:49] kiwicopple commented on #7725
thansk @riderx ! Moving this to the Functions repo

[2022-07-20 13:53] kiwicopple commented on #473
closing this one for now, but feel free to comment if there's any problems and we can re-open 👍

[2022-07-20 13:53] #473 closed

[2022-07-20 14:02] kiwicopple commented on #7768
Can I confirm what URL you have set for `SITE_URL` @OceanTechnic ?

https://github.com/supabase/supabase/blob/1a9f74357421184e7a1fc0b0ae8add2c3fd9c992/docker/.env.example#L42

In theory, you can set that to whatever you want, and it will propogate through to your email

[2022-07-20 16:17] OceanTechnic commented on #7768
I just used .Token variable to construct the link myself

[2022-07-20 16:18] OceanTechnic commented on #7768
I tried SITE_URL and GOTRUE_ SITE_URL but no luck

[2022-07-20 16:40] kristianeboe commented on #7772
Prisma did release a  4.0 not long ago, but I have not upgraded yet...

[2022-07-20 18:17] kiwicopple commented on #7772
could you please share which version you're running @kristianeboe ?

[2022-07-20 18:27] kristianeboe commented on #7772
"@prisma/client": "^3.15.2",

[2022-07-20 18:32] kristianeboe commented on #7799
Is this with React 18? React 18's Strict mode has been nothing but trouble for me since it started running useEffect twice in localhost

[2022-07-20 18:36] shini-tm commented on #7771
It was working for a good few hours, but now that I run the tests again, it seems to have stopped working.

[2022-07-20 18:36] shini-tm commented on #7771
Happy to help :D Yeah thats true, i closed it because the ticket wasn't really specific to nextjs and the script did seem to run after the fact. well until now anyway

[2022-07-20 19:34] shini-tm commented on #7771
@Jannchie are you using a VPN by any chance. I think that might have something to do with it. Idky but re-enabling reactStrictMode but disabling my VPN appears to work.

[2022-07-20 19:34] #7771 closed

[2022-07-20 20:16] Obeyed commented on #7768
@kiwicopple The issue was reported by **OceanTechnic** on Discord (archived thread) the same day the issue was created on Github. The issue was verified by **silentworks** (_don't want to tag more people than necessary_) as he could reproduce this locally using `docker-compose up`.

[2022-07-20 20:44] shini-tm commented on #7771
actually i think it was support team that switched off:
![image](https://user-images.githubusercontent.com/31591116/180078135-022ec417-b6fa-444c-b25d-6d29ea14444f.png)
![image](https://user-images.githubusercontent.com/31591116/180078198-7784ce13-7945-4019-b940-fe4d759dff9e.png)

[2022-07-20 23:46] Drew-Daniels commented on #7737
Thanks for the context @Hallidayo ! That sounds good to me. I'd be happy to make a PR for this too if you'd rather.

[2022-07-21 00:42] kav commented on #7035
@kiwicopple any chance you can check the additional boxes? I'm down the integrate rss if needed but they are built in so it feels a bit silly

[2022-07-21 00:44] quangtd95 commented on #7641
hi @kiwicopple , could you please provide your newest `.env.example`? I did the same thing https://supabase.com/docs/guides/hosting/docker but still got the same issue with @nithinp02

[2022-07-21 01:23] #7639 closed

[2022-07-21 02:56] J0 commented on #4736
Seems like we have decided to go with node-14 slim instead of alpine. Closing this for now but feel free to re-open if there are still concerns

[2022-07-21 02:56] #4736 closed

[2022-07-21 03:02] J0 commented on #4440
Hey @galatolofederico,

Sorry for the delay -- do you mind shooting us an email at support@supabase.io ? I'm not sure about the progress on self-hosted storage GUI but there's a chance that we have workarounds for your use case.

Thanks

[2022-07-21 05:25] Jannchie commented on #7799
Yes, I'm using React 18. The above code should work fine if useEffect is called twice. But in reality, it does not.

[2022-07-21 06:06] stevharve commented on #7799
Same issue here, Vite with React 18 and a brand new project. Strict Mode is enabled.

[code]

[2022-07-21 06:19] joshenlim opened #7827 "Fix studio dependency vulnerabilities"
Post `npm ci` gives

[code]

[2022-07-21 08:04] thorwebdev commented on #3783
Nope, the auth helpers take care of this for you vis the UserProvider component that you wrap your app in.

[2022-07-21 08:55] DeviousLab commented on #7772
I was unsure whether to bring it up on the Prisma or Supabase repo, but since I sometimes faced loading the database even with the Supbase dashboard, I figured it could be an issue best brought up here.

My project is currently using @prisma/client": "^4.0.0", while facing these errors.

[2022-07-21 11:21] kiwicopple commented on #7799
got it! Sending this to the realtime-js repo 👍

[2022-07-21 11:27] kiwicopple commented on #7772
From the prisma side, is this intermittent, or are you always getting the error?

If you can share more about the Dashboard , would you mind opening another github issue? That's definitely something we want to solve, but I don't want to conflate the two here

[2022-07-21 11:32] kiwicopple commented on #3240
thanks @Hallidayo !

[2022-07-21 11:32] #3240 closed

[2022-07-21 11:34] kiwicopple commented on #7768
hey @J0 - do you know why the ENV settings aren't propagating through to the email templates?

[2022-07-21 11:35] Jordaneisenburger commented on #3783
Mhh thats interesting because without it the magic link login doesn't work the first time and you need to manually refresh the page or it simply doesnt login at all in production

[2022-07-21 11:38] kiwicopple commented on #7035
we're on the hobby tier @kav - so we don't have the slack option

[2022-07-21 11:39] kiwicopple commented on #7641
sure, it's just this one: https://github.com/supabase/supabase/blob/master/docker/.env.example

[2022-07-21 11:39] kristianeboe commented on #7772
I'm on WSL 2 on Windows, just regular Ubuntu

[2022-07-21 11:43] quangtd95 commented on #7641
yep, thanks @kiwicopple , I also used that .env file
This issue has been fixed by https://github.com/supabase/supabase/pull/7824.
what I need to do is to run `docker-compose pull` again. (to get the latest studio image)

[2022-07-21 12:16] #7827 closed

[2022-07-21 12:36] kav commented on #7035
Ha got it. No worries at all then. We all know how that goes ;)

[2022-07-21 12:43] ChristianLutzCL opened #7834 "Unable to create or invite new user | "relation "public.users" does not exist""
# Bug report

## Describe the bug

As of today, it is no longer possible to create a new user. No matter if via API or by 'invite' in the authentication dashboard.
The postgres logs shows the following error, which I interpret as if the actual table 'auth.users' is searched in 'public'.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to 'Auth

[2022-07-21 12:59] diegonyc commented on #4331
Is this working @MildTomato? Because in my case, the explorer says I have 199 items but I have way more than that.

<img width="385" alt="Screen Shot 2022-07-21 at 2 58 55 PM" src="https://user-images.githubusercontent.com/36611253/180219237-e1844bdd-3d52-4170-b2f1-33b559ca780b.png">

[2022-07-21 12:59] J0 commented on #7768
@kiwicopple not really but I have a hunch -- will take a look when I get back to computer in about 45 minutes

[2022-07-21 13:08] J0 commented on #5426
Hey all!

Thank you for your patience with us. Wanted to check if this is still a persistent issue for anyone -- just tested the setup and the schema(post-migrations) seems to look fine for me.  If the issue persists, could someone please guide me with reproduction steps? Would love to fix it.

Joel

[2022-07-21 13:17] J0 commented on #6975
Hey @azukaar,

Can I check if the issue still persists? Just attempted to replicate but wasn't too successful -- that said I'm on a Mac though.

Let me know!
Joel

[2022-07-21 14:25] ChristianLutzCL commented on #7834
I have now tested it briefly in a second project.
There the error does not occur.

Is there a workaround for this error?

[2022-07-21 14:37] GaryAustin1 commented on #7834
Do you have a trigger function on your auth.users table?  The error is complaining about a public.users table....

[2022-07-21 14:47] ChristianLutzCL commented on #7834
@GaryAustin1

Can you give me a little more context?
I don't know how to find out if there is a trigger function in the auth.users table or what exactly you mean by 'path config'.

Thanks in advance.

[2022-07-21 14:53] GaryAustin1 commented on #7834
You would have written a trigger function on the auth.users table.  Fairly common to do that to set up a public.users table when users signup.  You would have a trigger function showing in the dashboard, database, functions list if so.

You can go to the sql window and type  `show search_path ;`
It should show something like this:
`| "$user", public, auth, extensions |`
main thing is auth in there

[2022-07-21 15:08] kav opened #7837 "Add h3 extension to the extensions list"
# Feature request

We'd love to use h3 for some simple distance calculations using H3 https://h3geo.org/ . For a primer on how this differs from other GIS libraries see the introductory blog post here: https://eng.uber.com/h3/

## Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

I'd love https://github.com/bytesandbrains/h3-pg added to the extens

[2022-07-21 15:15] ChristianLutzCL commented on #7834
@GaryAustin1

I'm not quite sure I understood you correctly. I don't see a trigger function anywhere.

The search revealed that:
![Unbenannt](https://user-images.githubusercontent.com/30475783/180250054-d413a9f4-358b-4e2a-aff5-47c046f48307.PNG)

[2022-07-21 15:18] GaryAustin1 commented on #7834
Unless someone else added a function to your database you would know if you added a trigger function.
I was just trying to guess at issues that could cause what you see.  My instances don't have an issue, so something more specific to your instance or code.

[2022-07-21 15:36] GaryAustin1 commented on #7834
You do have a trigger function?  handle_new_public_user.   That is broken for some reason.

[2022-07-21 15:50] GaryAustin1 commented on #7834
Are all the other functions yours?
I don't have a function or trigger like that on my instances, except one where I set it up (and wrote it) to populate a public.users table with copies of info from auth.users.

Could you have run some sql accidentally or some sort of starter template?

[2022-07-21 16:43] ChristianLutzCL commented on #7834
So the cron functions I have created. All the others are not really known to me, but it could be that they come from a starter template.

Thanks for the tip with the triggers.
I wouldn't have thought of it without you.

Case closed ;)

[2022-07-21 16:43] #7834 closed

[2022-07-21 20:58] jahilldev commented on #5444
@MildTomato I've just run into this, I was deleting large numbers of rows in a table, but reached a final three that just won't delete using the UI.

I've tried multiple times, but they're still there.

[2022-07-21 22:56] DevOfManyThings opened #7841 "Compress text API responses before leaving data centre"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently Supabase compresses text payloads at the CDN (confirmed in email with support): https://supabase.com/blog/2021/12/03/launch-week-three-friday-five-more-things

This means the egress data sent from Supabase's servers which manage the pooled connections to the database send out the raw payloads uncompress

[2022-07-22 02:05] steve-chavez commented on #7841
@DevOfManyThings Makes sense. Also doing compression on the database is possible by using [pgbrotli](https://github.com/johto/pgbrotli) or [pgsql-gzip](https://github.com/pramsey/pgsql-gzip). So really this could benefit all postgres clients.

If we had the above mentioned extensions this could already be done in SQL functions([RPC](https://supabase.com/docs/reference/javascript/rpc)). Also doing

[2022-07-22 03:03] J0 commented on #5426
Hey team,

Going to close this for now but feel free to re-open if this is still an issue for you.

Joel

[2022-07-22 03:03] #5426 closed

[2022-07-22 04:30] J0 commented on #7676
Hey @ARMATAV and @satyapalsharma  going to close this issue in favour of tracking this on the [gotrue-js](https://github.com/supabase/gotrue-js/issues/323) issue.

Feel free to re-open if there are still queries or you feel that there's merit in having this remain open though.
Thanks
Joel

[2022-07-22 04:30] #7676 closed

[2022-07-22 04:52] J0 commented on #4092
Going to take the liberty to close this in view of the time that has lapsed + @elhe26 's solution.

Please feel free to re-open if you are still facing issues though -- we'd be happy to help. Alternatively, feel free to shoot us a mail at support@supabase.io.

Thanks!
Joel

[2022-07-22 04:52] #4092 closed

[2022-07-22 05:29] MBoui opened #7843 "How we can deploy edge function on self hosted?"
# Improve documentation

## Link

[Add a link to the page which needs improvement (if relevant)](https://supabase.com/docs/guides/functions#deploy-to-production)

## Describe the problem

Nothing is mention about deploying an edge function on a self hosted infrastructure

## Describe the improvement

May adding a section about it can resolve the issue.

[2022-07-22 08:00] J0 commented on #7768
Solved with @kangmingtay 's help -- we are missing an env var

[code]

There also needs to be another two env vars updated -- we'll file a PR in a bit

Thanks @kangmingtay !

[2022-07-22 08:48] #7768 closed

[2022-07-22 08:49] J0 commented on #7768
Should be fixed by the merged PR -- let me know if anyone is still facing issues though. Happy to help troubleshoot

[2022-07-22 09:12] thorwebdev commented on #3783
The magic link redirect will need to go to a page that has the `UserProvider` first in order to set the cookie. Only after that the SSR stuff will work.

[2022-07-22 11:43] bricejoosten commented on #7737
I went through the exact same issue and replacing with a div worked fine, thanks a lot.

[2022-07-22 16:17] DevOfManyThings commented on #7841
@steve-chavez good idea, Supabase would need to make it available on their extensions page as it's not currently available at the moment.
I'd hope other than that it should be a pretty seamless transition to enable it but I assume they'd do some testing to make sure it doesn't break existing functionality.

[2022-07-22 16:23] aiibe commented on #4832
With filter `in` aren’t we limited to the size of url params ? When we have lots of items to delete with long string ids, for instance.

[2022-07-23 04:56] lack-of-gravitas commented on #6764
Same / similar problem.

I've tried the following implementations and used variations without success auth-helpers-nextjs. **None of the instructions provided work for a simple Magic Link only implementation I started from scratch on localhost**. Session variable isnt available or preserved with the minimal example from the official pages OR the other implementation.

I'd love to look at a properl

[2022-07-23 11:42] WesleyBLDC commented on #5137
Have you fixed this problem? If yes, whats the solution?

[2022-07-23 13:10] J0 commented on #6975
Hey all,

Going to close this for now since it seems like the issue has gone stale but feel free to re-open if it is still troubling you.

Thanks!
Joel

[2022-07-23 13:10] #6975 closed

[2022-07-23 16:36] gorbypark opened #7862 "Editing rows in studio using Safari time and date of timestamptz fields are incorrect and not clearable."
# Bug report

## Describe the bug

When editing a row in Safari, fields that are a timestamptz (possibly other date types) have a default value that is always today at 12:30PM.  In Chrome, the default value is whatever the field was already set to.  There is no way to "clear" the selected value and just not update that field.  Attempting to update with the today at 12:30PM time throws an error, wh

[2022-07-23 18:52] OskarArce opened #7863 "Polices editor crashes in local development"
# Bug report

## Describe the bug

Polices editor crashes just creating new table (local development)

## To Reproduce

Steps to reproduce the crash:

1. Initialize new project `$ mkdir your-project && cd $_`
2. Initialize Supabase `supabase init`
3. Start Supabase `supabase start`
4. Open [Supabase Studio](http://localhost:54323/project/default) & create new simple table (from SQL Editor or Table

[2022-07-23 19:10] w3b6x9 commented on #5685
Update: The fix has been deployed to all Supabase projects. No further actions required on your part. It should just work now.

[2022-07-23 19:10] #5685 closed

[2022-07-23 21:07] princefishthrower opened #7865 "Applying schema diff, many ERROR: must be member of role "supabase_admin" reported"
# Bug report

## Describe the bug

As the title states, when I apply a diff from a staging project to a production project using supabase's docker image, for the `public` schema only: `supabase/pgadmin-schema-diff --schema public`

I noticed that I get a handful of `ERROR:  must be member of role "supabase_admin"` errors in the output. Otherwise, all tables, triggers, functions, and function hooks

[2022-07-24 06:06] matheustav commented on #7808
Hi! I'd love to be able to use Cloudflare proxy to route api.example.com to supabase URL.

This way I would have:
1 - Custom domain
2 - Rate limitting / WAF (from Cloudflare)
3 - Queries cache based on endpoints/requests

Since Supabase limits the bandwidth, rate limitting and cache are essential for me, otherwise a malicious user could easily flood its endpoints.

Unfortunately at this moment if

[2022-07-24 09:57] stefnotch opened #7870 "UUID is built in"
# Improve documentation

## Link

https://supabase.com/docs/guides/database/extensions/uuid-ossp

## Describe the problem

This documentation page describes how to enable a module for generating UUIDs. However, there is already a built-in UUID function for Postgres

https://www.postgresql.org/docs/13/functions-uuid.html

https://stackoverflow.com/a/61970869/3492994

## Describe the improvement

Th

[2022-07-24 10:17] kubilaydev opened #7871 "issue : Upload image in storage with Flutter Web"
### Discussed in https://github.com/supabase/supabase/discussions/7860

<div type='discussions-op-text'>

<sup>Originally posted by **kubilaydev** July 23, 2022</sup>
I am trying upload image in Supabase Storage and I am using this method as in document :

`supabase.storage.from('avatars').upload(fileName,file)`

Here file is : `var file = File(_session.photoFilePath!) // import'package:universal_

[2022-07-25 01:25] tatwater commented on #4540
I've had this problem with OAuth as well! Only tested with the google provider, but exact same behavior as described above.

[2022-07-25 03:00] fredguest opened #7878 "Edge functions break when Stripe is added"
# Bug report

## Describe the bug

It is not currently possible to use Stripe in an edge function.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. `git clone git@github.com:supabase/supabase.git`
2. `cd supabase/examples/edge-functions/app`
3. `npm install --legacy-peer-deps` (running `npm install` fails without the flag because of conflicting R

[2022-07-25 05:03] prajzwol7 commented on #7862
@gorbypark is this issue you've faced only in safari? As far as in chrome its possible to edit the timestampz and doesn't throw any error.

[2022-07-25 06:47] gorbypark commented on #7862
Yeah, Safari only.  The issue isn’t editing, but not editing.  The existing
time stamp values are not being shown, it always shows today’s date a
12:30PM.  When trying to save but not edit the time stamp, it throws the
error.  It is possible to edit the time stamp to make the date sometime in
the future and everything works.

I’m assuming that it’s a Safari intl issue, as the time/date picker
comp

[2022-07-25 07:26] J0 commented on #4540
Hey all,

At present it seems like the ` redirectTo` param is only respected for OAuth signIn: [as per the docs](https://supabase.com/docs/reference/javascript/auth-signin#sign-in-with-redirect)

Think that this could be clearer on the docs and I'll raise it during the next Auth meeting -- apologies for any confusion is caused.

With regards to OAuth, I've validated that this is an issue for the G

[2022-07-25 09:24] OskarArce commented on #7863
Sorry, I have create new [issue](https://github.com/supabase/cli/issues/315) in the proper repo

[2022-07-25 09:24] #7863 closed

[2022-07-25 10:06] prajzwol7 commented on #7862
@gorbypark I guess its only issue with the safari ,it might be helpful to look after how date and time components are rendered in safari. As far as its concern with chrome today's date shows the exact date alongside time when you created the respective row and can be edited and saved successfully.

[2022-07-25 11:41] TheThirdRace commented on #4540
@J0
But the question is, can it be fixed?

Because while the doc says we should send the correct link in the email, as far as I'm aware, we don't have that information in the magic link email Supabase sends by itself...

Meaning, given the current state of Magic Links, we can't modify the email template to include the `redirectTo` we need.

Are you suggesting we should simply give up on that and b

[2022-07-25 12:24] princefishthrower commented on #7865
Another thing I noted, I have two function hooks of identical name and trigger table (let's call them `my_cool_trigger` and `my_cool_table` for illustration, in both my staging and production branch. However, the diff tool produces a line:

[code]

Any idea why the diff tool would generate this output? If anything I would guess it would try an `UPDATE`, since the parameters used in the trigger are

[2022-07-25 12:34] princefishthrower commented on #7865
Ah, now I've found further documentation on a different page about migrations: https://supabase.com/docs/guides/database#migrate-the-database

Specifically the 7 steps listed:

[code]

Similar steps are likely needed as well as the diff application, and would probably eliminate the first ERROR outputs I was getting, but in this case I would like some documentation or details as to why `SUPERUSER`

[2022-07-25 12:56] princefishthrower commented on #1856
@relferreira - but then once the dump is finished, *it's very important to then switch back*:

[code]

@TomasHubelbauer adding `-N auth -N realtime` didn't solve the original issue that @peterp reported for me, i.e.:

[code]

In this case I also had to add `-N supabase_functions` (though probably not ideal for when you want to fully inspect a dump) I raised another issue here that is related: http

[2022-07-25 16:04] Ghandus commented on #5663
@kangmingtay
I think I figured out what the issue was in my case:
On my Login Page I have the following code:
[code]

where
[code]

The problem I noticed is, that the call `this.supabase.auth.user()` is not actually async and will not immediately return the user object. This caused my redirect to fail, because it thought no user was actually signed in.

If I wait some time
[code]

Supabase has tim

[2022-07-25 18:53] nikpl7777 commented on #7772
Cannot setup direct connection to database neither from PgAdmin not NodeJS server. Getting the same error.

[2022-07-25 20:04] mario7746 commented on #6071
Has there been any progress on a fix for this issue?

[2022-07-26 00:02] DevOfManyThings commented on #7841
@steve-chavez
As I understand it PostgREST runs on a different host to the database instance (whilst still within aws datacentre).
So it goes: database -> postgREST -> exits AWS datacentre -> CDN -> supabase client, I've not went into specifics but I imagine using those plugins won't actually help users of postgREST benefit from compression.

Would this be better split into two issues, one to requ

[2022-07-26 09:03] MaxMoskalenko opened #7899 "Unable to sign in with provider in Metamask Wallet app"
# Bug report

## Describe the bug

I\`m trying to log in via provider and it works perfectly fine for any browser (mobile and desktop). But after log in via Metamask Wallet mobile app I receive the error:

[code]

After some investigation, I found out that there are several pairs of `/api/v1/authorize` and `/api/v1/callback` GET requests (in other supabase calls and in other browsers no call dupli

[2022-07-26 09:41] #7899 closed

[2022-07-26 14:14] steve-chavez commented on #7841
@DevOfManyThings This is true right now but we're planning to move postgREST to the db instance in the near future.

[2022-07-26 19:31] Spikeysanju commented on #6625
@kiwicopple is there any update on this. Please let me know. Thanks in advance!

[2022-07-26 23:53] kangmingtay commented on #6625
Hey @Spikeysanju, this issue has been closed but if you are still facing issues with discord logins, please reach out to support@supabase.io

[2022-07-27 09:20] maurovitale commented on #5110
Hi @dshukertjr, supabase_flutter seems that is not working as you described. There is an option 'autoRefreshToken' in SupabaseClient constructor that has 'true' as default value, but it is not able to refresh the token automatically.

I'm using the 3.0.3 version of supabase_flutter.

I also tried the option of trying to recover the session but I'm receiving the message described on this discussion

[2022-07-28 03:03] dshukertjr commented on #5110
Hi @maurovitale,

In order to persist the session using supabase-flutter package currently, you need to include a `SupabaseAuthState` or `SupabaseAuthRequiredState` somewhere in your widget tree and call `recoverSupabaseSession()` method upon initialization.

Note that all of the above will be obsolete with an update that will be launched next Monday, and the auth state will truly be automatically

[2022-07-28 09:46] kristianeboe commented on #7772
My issue was solved by working from home hehe.
When I had my issue I was trying to connect from a hotel lobby, but from my own apartment it seems to work fine.

[2022-07-28 09:54] chipseater opened #7928 "Can we use RLS to send email invitations to new users ?"
# Feature request

## We must have `service_role` to use `inviteUserByEmail()`, which is unsafe to keep in the browser

If we want to invite some user in our website, this is convenient to use the client's UI to send email invitations. But it is required to have the `service_role` key, which is unsafe to serve to the browser. So if we want to use `inviteUserByEmail` in our website, we must call an

[2022-07-28 10:59] rbkayz opened #7930 "Edge Functions throws error when deployed"
# Bug report

## Describe the bug
Edge functions are failing when deploying with the supabase client (works fine when there's no supabase)

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a new function using 'supabase functions new test-func'
2. Add the supabase JS client and make any call e.g. supabase.auth.user
4. See error - "Error: Fa

[2022-07-28 11:17] vincenzodomina commented on #7930
I have the same error on macOS Monterey 12.3

Also when I delete the function and redeploy, or when I create a new function with same code and then deploy, I get the same Error.

[2022-07-28 13:08] billypap1 opened #7932 "How to can I edit postgresql.conf in Supabase Docker file?"
Hello, I have created 2 instances of Supabase and I want to connect the internal databases and set them to master-slave. Is there any way to do this? Where can I find the postgresql.conf that comes with default Supabase docker installation?

[2022-07-28 15:03] exploreasir opened #7935 "Query with order by slows the query"
I wrote a query to find the batsman average (cricket).
I have two tables 1) matches (that contains matches data ) 2) ball_by_ball (that includes each ball data of the matches)
Here I just return one row but it takes 15-20 seconds to return the data.
What's wrong with the query?

`select
  striker as player_id,
  players.name,
  players.photo,
  round(
    (
      sum(
        case
          when b

[2022-07-28 15:42] s-graber commented on #7930
Same here on macOS 12.4

[2022-07-28 15:57] prag-matt-ic commented on #7930
I'm getting the same

[2022-07-28 16:18] fredguest commented on #7878
@inian do you know what Deno version is currently in use by Supabase edge functions? In this issue on the Stripe repo https://github.com/stripe/stripe-node/issues/1428 they've said that upgrading Deno from 1.21.3 to 1.22.0 fixed an issue with Stripe.

[2022-07-28 16:53] riderx commented on #7930
Same Error on my mac and CI here https://github.com/Cap-go/capgo/runs/7563772945?check_suite_focus=true

[2022-07-28 16:54] GaryAustin1 commented on #7930
All, There are several reports on discord and in discussion on this also over the past 2 hours.

[2022-07-28 16:59] perezpefaur opened #7938 "Can´t migrate between projects"
# Bug report
Running
`pg_dump --clean --if-exists --quote-all-identifiers -h XXX.supabase.co -U postgres > dump.sql `
Returns
[code]

## To Reproduce

The exact steps in https://supabase.com/docs/guides/database#migrating-between-projects

## Expected behavior

Dump my db in a sql file

## Screenshots

If applicable, add screenshots to help explain your problem.

## System information

- OS: macOS

[2022-07-28 17:13] milesingrams opened #7939 "Improvements to storage API to allow for recursive deletes and database-level access"
# Feature request

## Is your feature request related to a problem? Please describe.

I would like to be able to delete storage objects, folders, and buckets in response to the deletion of database entries. Currently solutions are cumbersome such as implementing a cloud function that finds and deletes all objects under a folder involving many back and forth API calls, especially if there are neste

[2022-07-28 18:05] GaryAustin1 commented on #7930
Support is asking that you do submit support tickets.

[2022-07-28 18:37] riderx commented on #7930
i did it on my side

[2022-07-29 02:32] kav opened #7943 "Add h3 to the extensions list"
# Feature request
(sorry if this is a bit short... Lost a draft of this)

## Is your feature request related to a problem? Please describe.
I'd love to be able to use h3 for geospatial. Here's some details on why it's awesome (and it definitely is)
https://www.gislounge.com/h3-open-source-geospatial-indexing-system/

## Describe the solution you'd like
Add the h3 extension to the available extensi

[2022-07-29 02:45] inian commented on #7930
Hi, this was a regression in our API and it has been fixed now. Sorry about this!

[2022-07-29 02:45] #7930 closed

[2022-07-29 02:51] riderx commented on #7930
i confirm, thanks a lot

[2022-07-29 13:28] Luca8991 opened #7951 "Can't change default email templates"
# Bug report

## Describe the bug

Setting email templates from environment variables doesn't work in [self-hosted Docker Supabase](https://github.com/supabase/supabase/tree/master/docker)
In [self-hosted Docker Supabase](https://github.com/supabase/supabase/tree/master/docker), after setting `GOTRUE_MAILER_TEMPLATES_EMAIL_CHANGE` I'm still receiving the email with the [default template](https://g

[2022-07-29 15:45] thorwebdev commented on #7878
@fredguest just a quick note that I'm able to reproduce the issue here: https://github.com/supabase/supabase/blob/chore/stripe-issue/examples/edge-functions/supabase/functions/browser-with-cors/index.ts and that we're currently investigating this.

[2022-07-29 18:34] janpio commented on #7772
Then it was probably a timeout error and adding a parameter `connect_timeout` to the connection string would have helped as well @kristianeboe with a higher than default value.

[2022-07-29 18:43] kristianeboe commented on #7772
Thank you, that's great to know :D

[2022-07-29 19:11] fredguest commented on #7878
@thorwebdev awesome, thanks for the heads up.

[2022-07-30 12:20] Antony-Jia commented on #7736
I met same questions. By docker-compose.yml like this.
`version: "3.8"

services:
  studio:
    container_name: supabase-studio
    image: supabase/studio:latest
    restart: unless-stopped
    ports:
      - ${STUDIO_PORT}:3000/tcp
    environment:
      STUDIO_PG_META_URL: http://meta:8080
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

      SUPABASE_URL: http://kong:8000
      SUPABASE_REST_URL

[2022-07-30 14:03] Antony-Jia commented on #7736
My postgresql contianer is lack of someting. I just do like this:
1.modify localhost VM address
2.modify POSTGRES_HOST TimescaleDB(my postgresql) address
3.add extension pgjwt
4.sudo apt-get install postgresql-14-wal2json in my postgresql

[2022-07-30 14:45] Antony-Jia commented on #7736
I find https://github.com/supabase/realtime/issues/231 and it's OK

[2022-07-30 20:09] aetinx opened #7961 "Miscolouring of input"
# Bug report

## Describe the bug

Input on the table editor doesn't match the theme.

## To Reproduce

1. Go to 'Table editor'
2. Look at the bottom bar
3. Oh, there it is!
4. Attempt to read the low-contrast input's content

## Expected behaviour

Match the theme.

## Screenshots

![image](https://user-images.githubusercontent.com/65425469/181994643-33e531b2-c42e-4faf-8f91-24a69d4a1069.png)

##

[2022-07-30 21:51] mderrick opened #7962 "auth.uid() policy fails when user_id is a an Auth0 string id"
Applying the following Policy template:
[code]

Fails with error: `Error adding policy: failed to create pg.policies: operator does not exist: uuid = text` when using a custom user_id that is not a UUID (Auth0) as per [this](https://auth0.com/blog/using-nextjs-and-auth0-with-supabase/) article.

[2022-07-31 05:04] DeltsDev opened #7968 "Unable to login using magic link"
I don't know why it's not working, please help me
![Screenshot_2022-07-31-12-42-26-257_com android chrome](https://user-images.githubusercontent.com/105105597/182010978-31d23216-cf5c-4b68-85a0-472249ff1446.jpg)
![image](https://user-images.githubusercontent.com/105105597/182010986-2f02d385-d22c-4a9e-991a-c73825de6c24.png)

![image](https://user-images.githubusercontent.com/105105597/182010992-c3f9

[2022-07-31 08:05] joepa37 opened #7969 "Error running db migrations from scratch (no schema has been selected to create in)"
# Bug report

## Describe the bug

Error running db migrations from scratch at Auth Service (supabase/gotrue) all other containers seems to be running smooth except Realtime Service (supabase/realtime) that still waiting for migration table creation

## System information

- OS: Ubuntu 20.04
- Postgres 14.4 (I have tried on postgres 12.11 too)

## Additional context

I am actually using an externa

[2022-07-31 09:33] Hallidayo commented on #7968
Hi @DeltsDev,

I think it might have something to do with your `Site URL` in `User Session`. You have the `https` protocol used instead of `http`, Could you change the `Site URL and then retry?

[2022-07-31 09:35] Hallidayo commented on #7961
This looks like a fix is in this pull request: #7906

[2022-07-31 12:46] ppborah commented on #7870
Hey @stefnotch, I have gone through the issue.
Basically PostgreSQL includes one function to generate a UUID but the `uuid-ossp` module provides additional functions for generating the same.

I would like to work on this issue, please assign :)

[2022-07-31 14:22] Lior539 opened #7971 "Add docs on Testing + Debugging Postgres Functions"
Note this is a similar request to [#7311](https://github.com/supabase/supabase/issues/7311)
## Context

I'm getting a postgres error for a function that is triggered whenever a new auth user is created

## The issue
I'm finding it frustrating to debug the issue. Currently it's very difficult to debug postgres function when things go wrong. The current Postgres Logs tell what the error was, but bes

[2022-07-31 19:24] tlancina commented on #7623
Just ran into this as well - I think the main issue is that the guide is not TypeScript (if you check out the repo listed in the guide: https://github.com/yustarandomname/svelte-supabase-quickstart it's using JS).

You can't rethrow the error in `.then` because it's unhandled (both https://github.com/supabase/supabase/pull/7668 and https://github.com/supabase/supabase/issues/7623#issuecomment-1179

[2022-07-31 20:43] chipilov commented on #7971
I think enhancements in this area would be great. Until they arrive, there are a few things that can help even today:
  - Supabase supports the PLPGSQL_CHECK extension, which is basically a linter for PL/pgSQL - you can run it to catch issues before even running the code;
  - Supabase supports the PGTAP extension, which allows writing unit tests for PL/pgSQL code (or just plain SQL code);
  - Supa

[2022-07-31 23:02] stukennedy opened #7978 "allow wildcards in redirect URLS for dynamic dev environments like Gitpod"
On Gitpod I can't get Magic Link auth working in my dev environment without setting the redirect URL to whatever the current path the app is being laucnhed on
(in my case https://3000-continuata-viqrio-t16z9w4kls9.ws-eu54.gitpod.io)

The subdomain is dynamically allocated.

It'd be great to be able to add a more agnostic redirect URL e.g,
`*.gitpod.io` or `%.gitpod.io`
So I can develop without hav

[2022-08-01 00:32] aetinx opened #7981 "Reddit OAuth2 Support"
# Feature request

## Is your feature request related to a problem? Please describe.

No.

## Describe the solution you'd like

It would be cool if Reddit OAuth could be used in Supabase.

## Describe alternatives you've considered

Making my own. 💀

## Additional context

N/A

[2022-08-01 00:38] aetinx commented on #7981
Might want to check out https://github.com/reddit-archive/reddit/wiki/OAuth2.

[2022-08-01 05:54] thorwebdev commented on #7878
@fredguest we identified the issue and are working with the Deno team to get it resolved: https://github.com/denoland/deno/issues/15368

We'll keep you posted here. Sorry for the inconvenience!

[2022-08-01 06:32] #7878 closed

[2022-08-01 07:50] Lior539 commented on #7971
Thanks @chipilov. It's good to know. I wasn't aware of any of these extensions. With this in mind, it would be a good idea to include an article on debugging tips/extensions on the Supabase site for those less familiar with postgres

[2022-08-01 10:43] riderx commented on #7878
@thorwebdev can we be allowed to check somewhere our deno version ?
like Deno.version in console log fail for now .
or just in the dashboard, that seems important to know :)

[2022-08-01 12:29] saltcod opened #7995 "Can't cancel or save a query in the Logs Explorer modal"
# Bug report

1. Visit https://app.supabase.com/project/-/logs-explorer
2. Create a new query
3. Click Save query in the top right to trigger the modal
4. You can't save or cancel this modal

![CleanShot 2022-08-01 at 09 58 27@2x](https://user-images.githubusercontent.com/105593/182147800-1079a568-cd4b-4bcc-a738-c99d29765597.png)

[2022-08-01 13:08] fredguest commented on #7878
The update to the Supabase CLI does indeed fix the bug. Stripe is running smoothly in Edge Functions now. Thanks for the quick turnaround @thorwebdev 🙌

[2022-08-01 15:53] saltcod commented on #7995
Branch started. Awaiting an api change.
https://github.com/supabase/supabase/pull/7996/files

[2022-08-02 01:10] J0 commented on #7981
This might be a better fit for the Supabase Auth(Supabase/GoTrue) repo. Transferring there

[2022-08-02 01:17] J0 commented on #7978
Hey @stukennedy,

Thanks for your query! I'm not sure if I fully understood your query. We do allow for dynamically redirect URIs as per the following thread: [redirect URIs](https://mobile.twitter.com/supabase/status/1539561445414805506) so you should be able to add the following:

https://mysite.com/users/*

and redirect to https://mysite.com/users/123 or alternatively  https://*.dev.com and red

[2022-08-02 01:23] J0 commented on #7870
@ppborah feel free to go for it.

Thanks!

[2022-08-02 01:25] J0 commented on #7939
Hey,

This looks like it might be best handled at storage-api and supabase-js and storage-js. Going to transfer to storage-api for now so it gets more visibility.

Lmk if there's anything I've missed.

Thanks!

[2022-08-02 02:47] J0 commented on #7961
Closing since #7906 has been merged -- feel free to reopen if otherwise.

Thanks!

[2022-08-02 02:47] #7961 closed

[2022-08-02 03:45] thorwebdev commented on #7878
@riderx you can find a detailed explanation of why `Deno.version` is undefined in your deployed functions here: https://github.com/supabase/supabase/discussions/8006 .

[2022-08-02 03:59] DeltsDev commented on #7968
![image](https://user-images.githubusercontent.com/105105597/182288853-ffa60103-62f1-49fd-996c-66a7d7624c46.png)

HI @Hallidayo still not working

[2022-08-02 04:06] J0 commented on #7968
Hey @Hallidayo,

Thanks for jumping in!

Hey @DeltsDev,

Quick check: do you have an application running on localhost:3000 on your device?

(not sure what device it is but it seems like a tablet/mobile phone)

[2022-08-02 04:08] DeltsDev commented on #7968
@Hallidayo yes on mobile, even on web it's not working

[2022-08-02 04:10] J0 commented on #7968
I see, sorry to hear that it's not working as expected. Do you mind double checking your set-up against [the docs](https://supabase.com/docs/guides/auth/auth-magic-link) and if that doesn't work can you shoot over an email to support@supabase.io with replication instructions for web?

Thanks

[2022-08-02 04:13] DeltsDev commented on #7968
Thank you, I'm checking it again

[2022-08-02 10:53] riderx commented on #7878
@thorwebdev in a perfect world "This works because the runtime is always backwards compatible (it never contains changes that will break existing deployed code)." this is true.

but as seen in the stripe issue, it is not, forcing the version object to be undefined prevent us to debug and understand our issue.

 if that always compatible what's the issue to have conditional logic on version then ?

[2022-08-02 15:01] fredguest commented on #7878
I kind of agree that this strategy, while it makes perfect sense in theory, is going to be difficult to implement in a way that actually guarantees a perfectly backwards compatible runtime. Maybe doable with an extremely thorough set of regression tests for the most imported libraries.

Personally, it wasn't an issue in this case as our app is not live yet, and Edge Functions are still being adver

[2022-08-02 15:59] JPM84 commented on #7968
Suddenly having the same problem 🧐.
The mobile redirect is not respected. E-Mail Links, even if manipulated for mobile, always land on the Site URL.

[2022-08-02 20:30] igdmitrov commented on #5372
I recorded a short video on Youtube about how it works.
Maybe it can be helpful for someone.
https://youtu.be/cxELXfRAkNA

[2022-08-02 20:48] joepa37 commented on #7969
I was able to solve this issue manually creating [the initial database structure](https://github.com/supabase/supabase/tree/master/docker/volumes/db/init).

[2022-08-02 20:48] #7969 closed

[2022-08-02 23:35] ppborah commented on #7870
Thanks @J0 :)
I am working on it!

[2022-08-02 23:43] nilooy opened #8023 "Supabase Studio Local Installation and Build"
# Bug report

## Describe the bug

I am trying to contribute to the `supabase` repo or at least try but can't install the `studio`, I followed this guide https://github.com/supabase/supabase/blob/master/DEVELOPERS.md

## To Reproduce

#### Run

[code]

[code]

[code]

#### Can fix this by running

[code]

but that leads to another error while building the `studio`

#### Run

[code]

throw this err

[2022-08-03 01:14] nilooy commented on #8023
Sorry it was a mistake, i had a bit old version of supabase as I forked it few months back and forgot to update.

[2022-08-03 01:14] #8023 closed

[2022-08-03 07:29] IAFahim opened #8039 "An UI problem at https://supabase.com/edge-functions"
In both desktop and mobile mode of browser, unable to see the full code.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to https://supabase.com/edge-functions
2. Scroll down

## Expected behavior

Show the whole code

## Screenshots

![Screenshot_20220803-132230](https://user-images.githubusercontent.com/63500913/182549345-41a1e64e-5d57-432f

[2022-08-03 09:09] alQaisi opened #8044 "Supabase Projects can't be updated"
### Discussed in https://github.com/supabase/supabase/discussions/8043

<div type='discussions-op-text'>

<sup>Originally posted by **alQaisi** August  3, 2022</sup>
I can't update any of my project's settings, I got a confirmation that my project has been updated successfully, but when I refresh the page all of my changes disappear and the default settings return.
I've noticed an error with 403 c

[2022-08-03 09:29] golishchev commented on #8044
I have the same problem
![image](https://user-images.githubusercontent.com/6458645/182574550-4c5aab53-510e-4150-9d6b-3691e2ca7a5d.png)

[2022-08-03 10:00] Hallidayo commented on #8044
I believe their is an issue with the dashboard: [Status](https://status.supabase.com/)

[2022-08-03 10:15] alQaisi commented on #8044
They fixed :)
supabase is up again.

[2022-08-03 10:15] #8044 closed

[2022-08-03 16:04] TheOnlyTails opened #8063 "Auth settings don't update after saving"
# Bug report

## Describe the bug
I tried enabling Discord auth for my brand new Supabase project, and after entering the info and saving, it still marked Discord auth as disabled. Even trying to simply switch out the user session site URL doesn't work.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to auth settings in a supabase project
2.

[2022-08-03 16:48] ppborah commented on #7870
Hey @J0, I can see that the `uuid-ossp` extension is enabled by default and I am not able to disable it
- I wanted to disable it to see if the `uuid` data type is supported by default and not because of the `uuid-ossp` extension
- This is what is mentioned in the docs (highlighted below👇)
<img width="764" alt="Screenshot 2022-08-03 at 10 13 58 PM" src="https://user-images.githubusercontent.com/963

[2022-08-03 16:53] saltcod commented on #8063
Hey @TheOnlyTails

Just tested this on production and was able to enable Discord integration and save it.  I was also able to save the User Sessions url.

Is this still happening for you?

Restarting your server might be a good next step:
https://app.supabase.com/project/-/settings/general

If it's still not working — could you check for any Console or Network errors and pass those along?

Thanks!

[2022-08-03 17:51] TheOnlyTails commented on #8063
Restarting the server didn't work.
The only error I'm seeing in the console is marked as blocked by uOrigin.

[2022-08-03 18:15] GaryAustin1 commented on #8063
There was a dashboard issue overnight reported here: https://status.supabase.com/

Most users who were reporting trouble overnight in the SB discord are now running (similar issue to yours).

But there is your report and another one on Discord in the past few hours for new instances with same issue.
You probably should contact support thru the help button in your dashboard (assuming it is working)

[2022-08-03 18:26] #8039 closed

[2022-08-03 20:31] christianfl commented on #7951
Hey! Funny, I recently wrote a short experience report on self hosting supabase and mentioned the exact same problem here: https://github.com/supabase/supabase/discussions/8004

I struggled, too - but it resolved itself. Look very carefully at the docs: The variable does not want plain html text, it needs a URL string which itself points to a an HTML template file. Try that and it works. Yes, it i

[2022-08-04 00:20] dannykng opened #8069 "Broken image in Supabase Studio blog post"
# Bug report

The Product Hunt image at the end of the [Supabase Studio blog post](https://supabase.com/blog/2021/11/30/supabase-studio) is broken:

![Screen Shot 2022-08-03 at 5 08 54 PM](https://user-images.githubusercontent.com/7026076/182736024-54dd7ef2-4b07-498d-a3db-803d949058ff.png)

Part of the fix is to add `api.producthunt.com` as an allowable image domain in [next.config.js](https://git

[2022-08-04 02:19] MobileMon opened #8070 "Adding Redirect URLs in auth settings not working"
![Screen Shot 2022-08-03 at 10 19 52 PM](https://user-images.githubusercontent.com/2768159/182748927-d18df4cc-17bd-4079-98bd-cb1e53ce7d32.png)

[2022-08-04 03:40] mclean25 commented on #6015
Sorry for the late response. This still does happen to me locally even though I'm on the latest CLI version [v0.32.2](https://github.com/supabase/cli/releases/tag/v0.32.2). It doesn't happen to me in prod though, so I wonder if it's just something that's lingering in my state somewhere.

[2022-08-04 03:59] igdmitrov commented on #8070
I tested it on Safari and Google Chrome. It works.
Can you please test it on another browser?
Maybe you have some extensions as an ad blocker?

Related with your Stackoverflow question:
https://stackoverflow.com/questions/73222064/supabase-add-additional-redirect-url-not-working

[2022-08-04 07:16] J0 commented on #7870
@ppborah  there are objects which depend on the uuid type created via uuid-ossp which is why it can't quite be dropped.

Actually, taking a step back: @stefnotch do you mind elaborating a little more on why it is important for the user to know that it is built in? I might be wrong but I imagine that most users would be agnostic to the underlying implementation so long as it produces a uuid type. I

[2022-08-04 07:19] ppborah commented on #7870
Hey @J0, I too have the same thoughts, is there any real benefit of NOT using the `uuid-ossp` extension ?

[2022-08-04 07:45] stefnotch commented on #7870
@J0 I should have explained my reasoning in the original issue, my bad:
- My main reason is that I can't trust `uuid_generate_v4` in a thoroughly secured application, see https://security.stackexchange.com/questions/93902/is-postgress-uuid-generate-v4-securely-random . One convenient use-case for UUIDs would be password reset links. But if the UUIDs can potentially be guessed (after probably using

[2022-08-04 07:50] ppborah commented on #7870
Hey @stefnotch, I get it, that means, we just have to mention in the docs that there exists `gen_random_uuid` function which can be used as well!

[2022-08-04 08:01] stefnotch commented on #7870
@ppborah That sounds like a lovely solution!

[2022-08-04 09:23] soedirgo commented on #7870
I think the motivation to use `uuid-ossp` is because we have user DBs which are still on PG12 - once we obsolete PG12, we can default to using the native uuid.

[2022-08-04 14:15] Sserra90 commented on #7968
The same here, suddenly stopped working, can't login to the app now, no redirect is done.

[2022-08-04 14:22] Hallidayo commented on #7962
@mderrick - I wasn't using Auth0 but had a similar problem but I had this issue recently I had to change the column which I was entering the user_id to a uuid type instead of a type of text in order for the policy to run.

[2022-08-04 16:49] lumenwrites opened #8085 "Supabase Auth doesn't redirect to https://localhost:3000"
## Describe the bug

I'm using Next.js with Supabase Auth Helpers. After the auth, I need the users to be redirected back to the page they came from, so I log in the user like this:
[code]

When I'm logging in from the production website (`https://school.gdquest.com/path/to/page`) everything works fine, but when I'm logging in from `https://localhost:3000/path/to/page`, it redirects me to `https:/

[2022-08-04 16:54] lumenwrites commented on #8085
Sorry, nevermind, figured it out.

In redirect urls I only had the wildcard domain (`https://localhost:3000/*`), but I also needed to add the domain without the wildcard (`https://localhost:3000/`).